﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Globalization
@using ClientDependency.Core.Mvc;
@{
    var culture = Request.QueryString["culture"] ?? CultureInfo.CurrentCulture.Name;

    Html.RequiresCss("~/css/compare.css");

    Html.RequiresJs("//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js",2);
    Html.RequiresJs("//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.js",3);

    Html.RequiresJs("~/Scripts/ProductComparisonController.js",20);
    Html.RequiresJs("~/Scripts/ProductComparison.js",20);
}

    <div id="comparisonController" ng-controller="comparisonController" ng-init="culture = '@culture';">
        <div class="compare-bar compare-collapsed compare-{{products.length}}" style="height: 40px;" ng-show="count > 0" ng-cloak>
            <div class="product-comparison-popup">
                <div class="comparison-module-header">
                    <div class="comparison-module-header-inner">
                        <span class="module-compare">
                            @Umbraco.Field("#USN General Compare") ({{count}})
                        </span>
                        <span class="expander"></span>
                        <span id="compare-msg-bar">{{errText}}</span>
                    </div>
                </div>

                <div class="container clearfix product-compare">
                    <section class="compare-items">
                        <h3>@Umbraco.Field("#Product comparisons")</h3>
                    </section>

                    <section class="comparison-table-section">
                        <div class="table-wrapper">
                            <table class="mob-scroll">
                                <tr>
                                    <th></th>
                                    <td ng-repeat="product in products">
                                        <div ng-if="product.empty == false">
                                            <div class="product-image-wrapper">
                                                <a href="#" ng-click="remove(product.id)" class="close-icon"><img src="~/images/close.svg" /></a>
                                                <a ng-href="{{product.url}}" href="{{product.url}}"><img ng-src="{{product.swatch}}" /></a>
                                            </div>
											<p>{{product.name}}</p>
                                            <a ng-href="{{product.url}}" href="{{product.url}}" class="product-title">@Umbraco.Field("#View Product")</a>
                                        </div>
                                        <div ng-if="product.empty == true">
                                            <div class="compare-product empty">
                                                <a href="#"><img src="/images/add-icon.svg" alt="" class="add-icon"></a>
                                                <a href="#" class="add-text">@Umbraco.Field("#Add product")</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr ng-repeat="comparison in comparisons">
                                    <th>{{comparison.name}}</th>
                                    <td ng-repeat="product in comparison.products">
                                        <span ng-if="product.empty == false">
                                            <span ng-repeat="value in product.values">
                                                <span>{{value}}</span><br />
                                            </span>
                                        </span>
                                        <span ng-if="product.empty == true">
                                            &mdash;
                                        </span>
                                    </td>
                                </tr>                                
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>