/* normalize.css v3.0.0 | MIT License | git.io/normalize
========================================================================== */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* Semantic.gs // for Stylus: http://learnboost.github.com/stylus/
========================================================================== */
body {
  width: 100%;
}
body *zoom:1:before,
body *zoom:1:after {
  content: "";
  display: table;
}
body *zoom:1:after {
  clear: both;
}
/* Semantic GridSystem settings
========================================================================== */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 30px;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}
.slick-track:after {
  clear: both;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
@font-face {
  font-family: "slick";
  src: url("fonts/slick.eot");
  src: url("fonts/slick.eot?#iefix") format("embedded-opentype"), url("fonts/slick.woff") format("woff"), url("fonts/slick.ttf") format("truetype"), url("fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:focus,
.slick-next:focus {
  outline: none;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #fff;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -48px;
}
.slick-next {
  right: -50px;
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0px;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0px 5px;
  padding: 0px;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\2022";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #000;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
}
@font-face {
  font-family: typewriter-medium-regular;
  font-style: normal;
  src: url("../assets/fonts/typewriter-medium.eot");
  src: url("../assets/fonts/typewriter-medium.ttf") format(truetype), url("../assets/fonts/typewriter-medium.eot") format(embedded-opentype), url("../assets/fonts/typewriter-medium.woff") format(woff), url("../assets/fonts/typewriter-medium.svg#TypewriterMediumRegular") format(svg);
}
@font-face {
  font-family: brown-regular;
  font-style: normal;
  src: url("../assets/fonts/brown-regular.eot");
  src: url("../assets/fonts/brown-regular.ttf") format(truetype), url("../assets/fonts/brown-regular.eot") format(embedded-opentype), url("../assets/fonts/brown-regular.woff") format(woff), url("../assets/fonts/brown-regular.svg#TypewriterMediumRegular") format(svg);
}
/* Base // for Stylus: http://learnboost.github.com/stylus/
========================================================================== */
body {
  width: 100%;
  background-color: #fff;
  font-family: "nimbus-sans", sans-serif, Helvetica, Arial;
  color: #000;
}
body *zoom:1:before,
body *zoom:1:after {
  content: "";
  display: table;
}
body *zoom:1:after {
  clear: both;
}
a,
a:link {
  color: #201257;
  text-decoration: none;
}
a:hover,
a:link:hover {
  color: #9a9a9a;
}
p {
  line-height: 1.2em;
}
h1,
h2,
h3 {
  color: #000;
  font-weight: 400;
  font-family: "nimbus-sans", sans-serif, Helvetica, Arial;
}
h2.center {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  color: #c0c0c0;
}
@media (max-width: 767px) {
  h2.center {
    font-size: 0.9em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
::-webkit-input-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: #201257;
  font-size:xx-small;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-input-placeholder {
  color: transparent;
}
input:focus::-ms-input-placeholder {
  color: transparent;
}
:focus {
  outline: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ol li{
    list-style: decimal;
}
img {
  max-width: 100%;
  height: auto;
  width: auto 9;
/* ie8 */
}
footer {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333%;
  *margin: 0 0.5208333333333%;
  margin-top: 5em;
}
.error-message {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333%;
  *margin: 0 0.5208333333333%;
  padding-bottom: 10px;
  text-align: center;
  color: #f00;
}
.container {
  width: 960px;
  margin: 0 auto 0 auto;
  background-color: #fff;
  overflow: visible;
}
.container *zoom:1:before,
.container *zoom:1:after {
  content: "";
  display: table;
}
.container *zoom:1:after {
  clear: both;
}
@media (min-width: 960px) and (max-width: 1279px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 320px;
  }
}
.title {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333%;
  *margin: 0 0.5208333333333%;
}
/* Promo
========================================================================== */
.top-banner {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333%;
  *margin: 0 0.5208333333333%;
  margin-top: 3em;
  margin-bottom: 3em;
}
@media (max-width: 767px) {
  .top-banner {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
.rte-panel {
  display: inline;
  float: left;
  overflow: hidden;
  width: 65.625%;
  margin: 0 0.5208333333333%;
  *width: 65.625%;
  *margin: 0 0.5208333333333%;
  min-height: 30em;
}
@media (max-width: 767px) {
  .rte-panel {
    display: inline;
    float: left;
    overflow: hidden;
    width: 98.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 98.9583333333333%;
    *margin: 0 0.5208333333333%;
    min-height: 15em;
  }
}
.right-column {
  display: inline;
  float: left;
  overflow: hidden;
  width: 32.2916666666667%;
  margin: 0 0.5208333333333%;
  *width: 32.2916666666667%;
  *margin: 0 0.5208333333333%;
}
@media (max-width: 767px) {
  .right-column {
    display: inline;
    float: left;
    overflow: hidden;
    width: 98.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 98.9583333333333%;
    *margin: 0 0.5208333333333%;
  }
}
.right-column .panel {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333%;
  *margin: 0 0.5208333333333%;
  margin-bottom: 1em;
}
@media (max-width: 767px) {
  .right-column .panel {
    display: inline;
    float: left;
    overflow: hidden;
    width: 48.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 48.9583333333333%;
    *margin: 0 0.5208333333333%;
    margin-top: 1em;
  }
}
.panel-holder {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333%;
  *margin: 0 0.5208333333333%;
  display: block;
  width: 101.0416666666667%;
  margin: 0 -0.5208333333333%;
  *width: 101.0416666666667%;
  *margin: 0 -0.5208333333333%;
  margin-top: 2em;
}
.panel-holder .promo-panel {
  display: inline;
  float: left;
  overflow: hidden;
  width: 48.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 48.9583333333333%;
  *margin: 0 0.5208333333333%;
  height: 19em;
}
@media (min-width: 768px) and (max-width: 959px) {
  .panel-holder .promo-panel {
    height: 15em;
  }
}
@media (max-width: 767px) {
  .panel-holder .promo-panel {
    display: inline;
    float: left;
    overflow: hidden;
    width: 98.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 98.9583333333333%;
    *margin: 0 0.5208333333333%;
    height: 15em;
    margin-bottom: 1em;
  }
}
.panel-holder .promo-panel .link {
  display: inline;
  float: left;
  overflow: hidden;
  width: 90.625%;
  margin: 0 0.5208333333333%;
  *width: 90.625%;
  *margin: 0 0.5208333333333%;
  height: 3em;
  position: relative;
  top: -5em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 0.5em 0em 0.5em 0.5em;
  border-radius: 0.3em;
  background: #e7e7e7;
/* Fall-back for browsers that don't support rgba */
  background: rgba(231,231,231,0.8);
}
@media (max-width: 767px) {
  .panel-holder .promo-panel .link {
    height: 2em;
    top: -4em;
  }
}
.panel-holder .promo-panel .link p {
  display: inline;
  float: left;
  overflow: hidden;
  width: 58.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 58.9583333333333%;
  *margin: 0 0.5208333333333%;
  margin-top: 1em;
}
@media (min-width: 768px) and (max-width: 959px) {
  .panel-holder .promo-panel .link p {
    font-size: 0.9em;
  }
}
@media (max-width: 767px) {
  .panel-holder .promo-panel .link p {
    font-size: 0.7em;
  }
}
.panel-holder .promo-panel .link .small-logo {
  display: inline;
  float: left;
  overflow: hidden;
  width: 23.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 23.9583333333333%;
  *margin: 0 0.5208333333333%;
}
@media (max-width: 767px) {
  .panel-holder .promo-panel .link .small-logo {
    display: inline;
    float: left;
    overflow: hidden;
    width: 15.625%;
    margin: 0 0.5208333333333%;
    *width: 15.625%;
    *margin: 0 0.5208333333333%;
    margin-top: 0.25em;
  }
}
.panel-holder .promo-panel .link .arrow {
  display: inline;
  float: left;
  overflow: hidden;
  width: 15.625%;
  margin: 0 0.5208333333333%;
  *width: 15.625%;
  *margin: 0 0.5208333333333%;
  width: 35px;
  height: 26px;
  margin: 0.7em 0.5em 0.7em 0.25em;
  background-image: url("../assets/sprites/svg-sprite.svg");
  background-repeat: no-repeat;
  background-position: 0px 0;
}
@media (min-width: 768px) and (max-width: 959px) {
  .panel-holder .promo-panel .link .arrow {
    margin: 0.5em 0.5em 0.7em 0.3em;
  }
}
@media (max-width: 767px) {
  .panel-holder .promo-panel .link .arrow {
    margin: 0.1em 0.5em 0.7em 1em;
  }
}
.carousel-holder {
  display: inline;
  float: left;
  overflow: hidden;
  width: 102.29166666666669%;
  margin: 0 0.5208333333333%;
  *width: 102.29166666666669%;
  *margin: 0 0.5208333333333%;
  overflow: visible;
  margin: 0 0 1em -0.5em;
}
@media (min-width: 768px) and (max-width: 959px) {
  .carousel-holder {
    display: inline;
    float: left;
    overflow: hidden;
    width: 90.625%;
    margin: 0 0.5208333333333%;
    *width: 90.625%;
    *margin: 0 0.5208333333333%;
    overflow: visible;
    margin: 0 2em 0 2em;
    padding: 1em 0 1em 0;
  }
}
@media (max-width: 767px) {
  .carousel-holder {
    display: inline;
    float: left;
    overflow: hidden;
    width: 70.625%;
    margin: 0 0.5208333333333%;
    *width: 70.625%;
    *margin: 0 0.5208333333333%;
    overflow: visible;
    margin: 0 3em 0 3em;
    padding: 1em 0 1em 0;
  }
}
.carousel-holder .slide .promo-holder {
  padding: 10px;
}
@media (max-width: 767px) {
  .slick-slider {
    margin-bottom: 1em !important;
  }
}
.slick-prev {
  background-image: url("../assets/sprites/svg-sprite.svg") !important;
  background-position: -70px 0;
  background-repeat: no-repeat;
  height: 37px;
  width: 37px;
}
@media (min-width: 768px) and (max-width: 959px) {
  .slick-prev {
    left: -30px;
  }
}
@media (max-width: 767px) {
  .slick-prev {
    left: -35px;
  }
}
.slick-disabled {
  opacity: 0.4;
  background-color: transparent;
}
.slick-next {
  background-image: url("../assets/sprites/svg-sprite.svg") !important;
  background-repeat: no-repeat;
  background-position: -290px 0;
  height: 37px;
  width: 37px;
}
@media (min-width: 768px) and (max-width: 959px) {
  .slick-next {
    right: -35px;
  }
}
@media (max-width: 767px) {
  .slick-next {
    right: -35px;
  }
}
.cta-holder {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333%;
  *margin: 0 0.5208333333333%;
  display: block;
  width: 101.0416666666667%;
  margin: 0 -0.5208333333333%;
  *width: 101.0416666666667%;
  *margin: 0 -0.5208333333333%;
  overflow: visible;
  margin-top: 2em;
}
.cta-holder .cta {
  display: inline;
  float: left;
  overflow: hidden;
  width: 32.2916666666667%;
  margin: 0 0.5208333333333%;
  *width: 32.2916666666667%;
  *margin: 0 0.5208333333333%;
  height: 20em;
  overflow: visible;
}
.cta-holder .cta img {
  z-index: -1;
  position: relative;
  top: -3em;
}
@media (max-width: 767px) {
  .cta-holder .cta {
    display: inline;
    float: left;
    overflow: hidden;
    width: 98.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 98.9583333333333%;
    *margin: 0 0.5208333333333%;
    margin-bottom: 1em;
    padding-left: 4px;
    overflow: visible;
  }
}
.cta-holder .cta .promo-number-1,
.cta-holder .cta .promo-number-2,
.cta-holder .cta .promo-number-3 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 19.625%;
  margin: 0 0.5208333333333%;
  *width: 19.625%;
  *margin: 0 0.5208333333333%;
  height: 3.9em;
  position: relative;
  top: -1.6em;
  left: 43%;
  margin: 0 auto 0 auto;
  background-image: url("../assets/sprites/svg-sprite.svg");
  background-repeat: no-repeat;
  background-color: #e7e7e7;
  border-radius: 50% 50%;
}
@media (min-width: 768px) and (max-width: 959px) {
  .cta-holder .cta .promo-number-1,
  .cta-holder .cta .promo-number-2,
  .cta-holder .cta .promo-number-3 {
    display: inline;
    float: left;
    overflow: hidden;
    width: 24.7916666666667%;
    margin: 0 0.5208333333333%;
    *width: 24.7916666666667%;
    *margin: 0 0.5208333333333%;
  }
}
.cta-holder .cta .promo-number-1 {
  background-position: -106px 1px;
}
.cta-holder .cta .promo-number-2 {
  background-position: -167px 1px;
}
.cta-holder .cta .promo-number-3 {
  background-position: -228px 1px;
}
/* Header
========================================================================== */
header {
  display: inline;
  float: left;
  overflow: hidden;
  /*width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333%;
  *margin: 0 0.5208333333333%;*/
  display: block;
  /*width: 101.0416666666667%;
  margin: 0 -0.5208333333333%;
  *width: 101.0416666666667%;
  *margin: 0 -0.5208333333333%;*/
  /*background-color: #dadada;*/
}
header .brand {
  display: inline;
  float: left;
  overflow: hidden;
  /*width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333%;
  *margin: 0 0.5208333333333%;*/
  display: block;
  width: 101.0416666666667%;
  /*margin: 0 -0.5208333333333%;
  *width: 101.0416666666667%;
  *margin: 0 -0.5208333333333%;*/
  padding-top: 2em;
  padding-bottom: 2em;

  /* Header change */
  background-image: url("../assets/images/RC-Banner.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #e7e7e7;
  height: 110px;
}

@media  (max-width: 959px) {
  header .brand {
    background-position: -96px 0;
  }
}

@media (max-width: 767px) {
  header .brand {
    padding-bottom: 1em;
    background-image: url("../assets/images/RC-Banner-Small.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
header .brand .logos {
  display: inline;
  float: left;
  overflow: hidden;
  width: 48.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 48.9583333333333%;
  *margin: 0 0.5208333333333%;
  padding-left: 1em;
}
@media (max-width: 767px) {
  header .brand .logos {
    display: inline;
    float: left;
    overflow: hidden;
    width: 98.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 98.9583333333333%;
    *margin: 0 0.5208333333333%;
    padding-left: 0;
  }
}
header .brand .logos .logo {
  display: inline;
  float: left;
  overflow: hidden;
  width: 32.2916666666667%;
  margin: 0 0.5208333333333%;
  *width: 32.2916666666667%;
  *margin: 0 0.5208333333333%;
}
header .brand .search {
  display: inline;
  float: left;
  overflow: hidden;
  width: 30.625000000000004%;
  margin: 0 0.5208333333333%;
  *width: 30.625000000000004%;
  *margin: 0 0.5208333333333%;
  float: right;
  margin-top: 2em;
  overflow: visible;
}
@media (min-width: 768px) and (max-width: 959px) {
  header .brand .search {
    display: inline;
    float: left;
    overflow: hidden;
    width: 36.4583333333333%;
    margin: 0 0.5208333333333%;
    *width: 36.4583333333333%;
    *margin: 0 0.5208333333333%;
    float: right;
  }
}
@media (max-width: 767px) {
  header .brand .search {
    display: inline;
    float: left;
    overflow: hidden;
    width: 98.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 98.9583333333333%;
    *margin: 0 0.5208333333333%;
    margin-top: 1em;
    padding-left: 0.5em;
  }
  header .brand .search input:text {
    display: inline;
    float: left;
    overflow: hidden;
    width: 15.625%;
    margin: 0 0.5208333333333%;
    *width: 15.625%;
    *margin: 0 0.5208333333333%;
  }
}
header .brand .search .search-form {
  height: 30px;
}
header .brand .search .search-input {
  border: none;
  padding: 0.25em;
  color: #201257;
  outline: none;
}
header .brand .search .search-button {
  width: 35px;
  height: 26px;
  padding: 0;
  border: none;
  -moz-border-top-right-radius: 5px 3px;
  -webkit-border-top-right-radius: 5px 3px;
  -moz-border-bottom-right-radius: 5px 3px;
  -webkit-border-bottom-right-radius: 5px 3px;
  background-image: url("../assets/sprites/svg-sprite.svg");
  background-repeat: no-repeat;
  background-position: -35px 0;
  background-color: #e7e7e7;
  position: relative;
  padding: 0 0 0 16px !important;
  color: transparent;
  left: -5px;
}
header .find {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333%;
  *margin: 0 0.5208333333333%;
  display: block;
  width: 101.0416666666667%;
  margin: 0 -0.5208333333333%;
  *width: 101.0416666666667%;
  *margin: 0 -0.5208333333333%;
  /*padding-top: 1.5em;
  padding-bottom: 0.7em;
  background-color: #201257;
  color: #e7e7e7;*/

    /*header change*/
    background-color: #f1f1f1;
    color: #201257;
    vertical-align: middle;

    -moz-border-bottom-left-radius: 15px 15px;
    -webkit-border-bottom-left-radius: 15px 15px;
    border-bottom-left-radius: 15px 15px;
    -moz-border-bottom-right-radius: 15px 15px;
    -webkit-border-bottom-right-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;

    /* Prevent background color leak outs */
    -webkit-background-clip: padding-box; 
    -moz-background-clip:    padding; 
    background-clip:         padding-box;
}
@media (max-width: 767px) {
  header .find {
    /*padding-top: 1em;*/
    padding-bottom: 1em;
  }
}
header .find .postcode-input {
  border: none;
  padding: 0.25em;
  color: #201257;
  outline: none;
  width: 55%;
}
header .find .postcode-button {
  width: 35px;
  height: 26px;
  border: none;
  -moz-border-top-right-radius: 5px 3px;
  -webkit-border-top-right-radius: 5px 3px;
  -moz-border-bottom-right-radius: 5px 3px;
  -webkit-border-bottom-right-radius: 5px 3px;
  background-image: url("../assets/sprites/svg-sprite.svg");
  background-repeat: no-repeat;
  background-position: 0px 0;
  background-color: #e7e7e7;
  position: relative;
  padding: 0 0 0 16px !important;
  color: transparent;
  left: -5px;
}
header fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
/*header fieldset p {
  display: inline;
  float: left;
  overflow: hidden;
  width: 32.2916666666667%;
  margin: 0 0.5208333333333%;
  *width: 32.2916666666667%;
  *margin: 0 0.5208333333333%;
  display: inline;
  padding-top: 0.25em;
  padding-left: 1em;
}
@media (min-width: 768px) and (max-width: 959px) {
  header fieldset p {
    display: inline;
    float: left;
    overflow: hidden;
    width: 34.7916666666667%;
    margin: 0 0.5208333333333%;
    *width: 34.7916666666667%;
    *margin: 0 0.5208333333333%;
    font-size: 0.9em;
  }
}
@media (max-width: 767px) {
  header fieldset p {
    display: inline;
    float: left;
    overflow: hidden;
    width: 98.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 98.9583333333333%;
    *margin: 0 0.5208333333333%;
    display: block;
  }
}
header fieldset label {
  display: inline;
  float: left;
  overflow: hidden;
  width: 11.4583333333333%;
  margin: 0 0.5208333333333%;
  *width: 11.4583333333333%;
  *margin: 0 0.5208333333333%;
}
@media (min-width: 768px) and (max-width: 959px) {
  header fieldset label {
    font-size: 0.9em;
    width: 13.4583333333333%;
    margin: 0 0.7208333333333%;
    *width: 13.4583333333333%;
    *margin: 0 0.7208333333333%;
  }
}
@media (max-width: 767px) {
  header fieldset label {
    display: inline;
    float: left;
    overflow: hidden;
    width: 48.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 48.9583333333333%;
    *margin: 0 0.5208333333333%;
    margin-top: 0.5em;
    text-align: center;
  }
}*/
header fieldset input[type="radio"] {
    vertical-align: middle;
    margin-bottom: 25px;
    margin-right: 10px;
}

header fieldset label.radio {
  /*padding-top: 0.25em;*/
}
/*header fieldset label.postcode {
  display: inline;
  float: left;
  overflow: hidden;
  width: 30.625000000000004%;
  margin: 0 0.5208333333333%;
  *width: 30.625000000000004%;
  *margin: 0 0.5208333333333%;
  float: right;
}
@media (min-width: 768px) and (max-width: 959px) {
  header fieldset label.postcode {
    float: left;
  }
}
@media (max-width: 767px) {
  header fieldset label.postcode {
    display: inline;
    float: left;
    overflow: hidden;
    width: 98.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 98.9583333333333%;
    *margin: 0 0.5208333333333%;
    margin-top: 1em;
  }
}*/

.content-block .block{
    padding: 30px 80px 30px 80px;
    margin: 10px 4px 4px 4px;
}

.add-block .block{
    float: left;
    background: #f1f1f1;
    -moz-border-radius: 15px 15px;
    -webkit-border-radius: 15px 15px;
    border-radius: 15px 15px;
}
@media (max-width: 767px) {
    .content-block .block{
        padding: 5px;
        margin: 10px 0px 0px 0px;
        width: 100%;
    }
}
.add-block .block table {
    width: 100%;
	border: 1px solid #201257;
}
	.add-block .block table tr {
		border: 1px solid #201257;
	}
	
	.add-block .block td {
		padding: 0.75rem;
		text-align: left;

		/*font-size:14px;
		color: #a7a9ac;		
		word-spacing:2px;*/	  
	}

	.add-block .block tbody tr:first-child td {
		padding: 0.75rem;
		text-transform: uppercase;
		color: #fff;
		background: #201257;
	}

	.add-block .block tbody td {
		border: 1px solid #201257;
	}

	.add-block .block tbody tr:nth-child(odd) {
		background: #f4fafa;
	}

/* NEW FIND */
.find{
    background:#f1f1f1;
}
fieldset p.title{
  width: 100%;  
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  padding-top: 10px;
  padding-bottom: 5px;
  display: block;
}
p img{
    padding: 14px;
}

#left p, #right p {
    height:50px;
    float:left;
    margin: 0px;
    padding-left: 20px;    
    display: block;
}
span.action {
    font-size: large;
    color: #9d9d9c;
    display:inline-block;
    vertical-align: middle;
    padding: 0px 0px 50px 0px;
    margin: 0px;
}
.wrapper {
    display:block;
    clear:both;
    width:100%;
    padding: 4px 4px 4px 15%;
    /*text-align:center;*/
}
.wrapper img {
    padding-right:50px;
}
#left {
    width:49%;
    float:left;   
}

#right {
    width:49%;    
    float:right;
}
#right .wrapper{
    padding-top:10px;
}
#divider{
    position:absolute;
    left:50%;
    top: 220px;
    height: 90px;
    border-left:2px solid #9d9d9c;
}

@media (min-width: 768px) and (max-width: 959px) {
    .wrapper img {
        padding-right: 30px;
    }
}
@media (max-width: 767px) {
    #divider{
        position:absolute;
        left:0;
        top: 0;
        height: 0;
        border-left:none;
    }
    #left{
        width:100%;
    }
    #right{
        width:100%;
    }
    .wrapper{
        padding: 4px 4px 4px 10%;
    }
    .wrapper img {
        padding-right:0px;
    }
    header .find .postcode-input {
      width: 70%;
    }
}


/* Footer
========================================================================== */
footer {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333%;
  *margin: 0 0.5208333333333%;
  margin-top: 3em;
  margin-bottom: 3em;
  border-top: 2px solid #dadada;
  color: #201257;
}

footer .block-holder {
  /*width: 32em;*/
  margin: 2em auto;
}
footer .footer-block {
  display: inline;
  float: left;
  overflow: hidden;
  padding-right: 50px;
  margin: 0 0.5208333333333%;
  /*width: 18.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 18.9583333333333%;
  *margin: 0 0.5208333333333%;*/
}
footer .footer-block:last-child{
    padding-top:50px;
    float:right;
}

@media (max-width: 767px) {
  footer {
    margin-top: 1em;
  }
  footer .block-holder {
    margin: 1em auto;
  }
  footer .footer-block {
    display: inline;
    float: left;
    overflow: hidden;
    width: 98.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 98.9583333333333%;
    *margin: 0 0.5208333333333%;
    text-align: center;
    margin-bottom: 5px;
  }
}