/*********************
CLEARFIX - http://nicolasgallagher.com/micro-clearfix-hack/
*********************/
@import url(//fonts.googleapis.com/css?family=Open+Sans);
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

/*********************
IMAGES
*********************/
.img-border {
  border: 1px solid #CCC;
  padding: 5px; }

.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px; }

/*********************
TYPOGRAPHY
*********************/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Arial, serif !important;
  font-style: italic; }

.mobile-only,
tr.mobile-only,
th.mobile-only,
td.mobile-only {
  display: none !important; }

@media only screen and (max-width: 767px) {
  .mobile-only {
    display: block !important; }
  tr.mobile-only {
    display: table-row !important; }
  th.mobile-only,
  td.mobile-only {
    display: table-cell !important; } }

.mobile-hide {
  display: block !important; }

tr.mobile-hide {
  display: table-row !important; }

th.mobile-hide,
td.mobile-hide {
  display: table-cell !important; }

@media only screen and (max-width: 767px) {
  .mobile-hide,
  tr.mobile-hide,
  th.mobile-hide,
  td.mobile-hide {
    display: none !important; } }

.tablet-only,
tr.tablet-only,
th.tablet-only,
td.tablet-only {
  display: none !important; }

@media only screen and (min-width: 767px) and (max-width: 767px) {
  .tablet-only {
    display: block !important; }
  tr.tablet-only {
    display: table-row !important; }
  th.tablet-only,
  td.tablet-only {
    display: table-cell !important; } }

.tablet-hide {
  display: block !important; }

tr.tablet-hide {
  display: table-row !important; }

th.tablet-hide,
td.tablet-hide {
  display: table-cell !important; }

@media only screen and (min-width: 767px) and (max-width: 767px) {
  .tablet-hide,
  tr.tablet-hide,
  th.tablet-hide,
  td.tablet-hide {
    display: none !important; } }

.desktop-only,
tr.desktop-only,
th.desktop-only,
td.desktop-only {
  display: none !important; }

@media only screen and (min-width: 767px) {
  .desktop-only {
    display: block !important; }
  tr.desktop-only {
    display: table-row !important; }
  th.desktop-only,
  td.desktop-only {
    display: table-cell !important; } }

.desktop-hide {
  display: block !important; }

tr.desktop-hide {
  display: table-row !important; }

th.desktop-hide,
td.desktop-hide {
  display: table-cell !important; }

@media only screen and (min-width: 767px) {
  .desktop-hide,
  tr.desktop-hide,
  th.desktop-hide,
  td.desktop-hide {
    display: none !important; } }

/******************************************************************
 UTILITY STYLES
******************************************************************/
.float-left {
  float: left; }

.float-none {
  float: none; }

.float-right {
  float: right; }

.clear-left {
  clear: left; }

.clear-both {
  clear: both; }

.clear-right {
  clear: right; }

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/*********************
TRANSITION
*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*********************/
/*********************
ANIMATION
*
Compass CSS3 mixins don't yet handle vendor prefixes for CSS animations, so this is a very simple mixin to simulate that functionality.
*********************/
/*********************
VERTICAL ALIGN DYNAMIC HEIGHT - http://css-tricks.com/centering-in-the-unknown/
*********************/
/*********************
TEXT TRUNCATION
*********************/
/*********************
GRAYSCALE
*********************/
/*********************
TRANSPARENT BG-COLOR
*********************/
/*********************
CSS3 GRADIENTS
*
Be careful with these since they can
really slow down your CSS. Don't overdue it.
USAGE: @include css-gradient(#dfdfdf,#f8f8f8);
*********************/
a:link, a:visited {
  text-decoration: none;
  opacity: 1;
  color: #4C4C4C;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

a:hover, a:active {
  text-decoration: underline; }

#logo a:hover, #logo a:active {
  opacity: 1; }

.btn-white, a.btn-white {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  padding: 8px 15px;
  color: white; }
  .btn-white:hover, .btn-white:focus, .btn-white.active, a.btn-white:hover, a.btn-white:focus, a.btn-white.active {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.99);
    color: white; }

.btn-default {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent; }
  .btn-default:hover, .btn-default:focus, .btn-default.active {
    color: white;
    background-color: transparent;
    border: 2px solid white; }

.btn-black {
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  color: black; }
  .btn-black:hover, .btn-black:focus, .btn-black.active {
    color: black;
    background-color: transparent;
    border: 2px solid black; }

a.btn-black {
  opacity: 1;
  color: black; }
  a.btn-black:hover, a.btn-black:focus, a.btn-black.active {
    color: black;
    background-color: transparent;
    border: 2px solid black; }

a.btn-default {
  opacity: 1;
  color: white; }
  a.btn-default:hover, a.btn-default:focus, a.btn-default.active {
    color: white;
    background-color: transparent;
    border: 2px solid white; }

.btn-green {
  border: 2px solid #8bc75a;
  background-color: #8bc75a;
  color: white; }
  .btn-green:hover, .btn-green:focus, .btn-green.active {
    background-color: transparent;
    border: 2px solid #8bc75a;
    color: #8bc75a; }

a.btn-green {
  opacity: 1;
  color: white; }
  a.btn-green:hover, a.btn-green:focus, a.btn-green.active {
    background-color: transparent;
    border: 2px solid #8bc75a;
    color: #8bc75a; }

.btn {
  font-weight: bold;
  padding: 9px 15px; }

.hero-text {
  padding-bottom: 30px; }

.arrow-down {
  width: 22px; }

.greentext {
  color: #51AF59; }

.contact .icon {
  cursor: pointer;
  padding-left: 10px; }
  .contact .icon img {
    width: 20px; }

.contact h4 {
  font-weight: bold; }

.icon {
  cursor: pointer; }
  .icon img {
    width: 20px; }

.panel-title {
  width: 100%;
  display: inline-block; }

.panel, .panel-default {
  border-bottom: thin solid #E1E1E1; }

.grey-background {
  background-color: #EEF3F7; }

.pagination > li > a,
.pagination > li > span {
  color: #4C4C4C;
  background-color: #ffffff;
  border: 1px solid #4C4C4C;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  opacity: .5;
  color: #4C4C4C;
  background-color: white;
  border-color: #4C4C4C; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #ffffff;
  background-color: #4C4C4C;
  border-color: #4C4C4C; }

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, body {
  font-family: proxima-nova, sans-serif; }

@media only screen and (max-width: 767px) {
  h1, .h1 {
    font-size: 32px;
    font-size: 2rem; } }

@media only screen and (min-width: 767px) {
  h1, .h1 {
    font-size: 43px;
    font-size: 2.6875rem; } }

@media only screen and (max-width: 767px) {
  h2, .h2 {
    font-size: 28px;
    font-size: 1.75rem; } }

@media only screen and (min-width: 767px) {
  h2, .h2 {
    font-size: 33px;
    font-size: 2.0625rem; } }

h3, .h3 {
  font-size: 24px;
  font-size: 1.5rem; }

h4, .h4 {
  font-size: 21px;
  font-size: 1.3125rem; }

h5, .h5 {
  font-size: 18px;
  font-size: 1.125rem; }

h6, .h6 {
  font-size: 16px;
  font-size: 1rem; }

p {
  font-size: 18px;
  font-size: 1.125rem; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: Bold; }

p, body {
  font-weight: 200;
  line-height: 1.3rem; }

h1, .h1, h2, .h2, h3, .h3 {
  text-transform: uppercase;
  font-weight: bold; }
  @media only screen and (max-width: 767px) {
    h1, .h1, h2, .h2, h3, .h3 {
      letter-spacing: 3px; } }
  @media only screen and (min-width: 767px) {
    h1, .h1, h2, .h2, h3, .h3 {
      letter-spacing: 5px; } }

.header-copy {
  padding-bottom: 50px;
  opacity: 0.5; }

p, address {
  opacity: .75; }

@media only screen and (max-width: 767px) {
  h1, .h1 {
    line-height: 32px; } }

@media only screen and (min-width: 767px) {
  h1, .h1 {
    line-height: 40px; } }

h2, .h2 {
  line-height: 32px; }

@media only screen and (max-width: 767px) {
  html {
    font-size: 14px; } }

@media only screen and (min-width: 767px) {
  html {
    font-size: 14px; } }

@media only screen and (min-width: 990px) {
  html {
    font-size: 16px; } }

.blog-topback {
  background-image: url(/media/623288/blog-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }
  .blog-topback .blog-filters .filter {
    color: #fff; }
  .blog-topback .blog-header h1 {
    padding-top: 30px; }
  .blog-topback .filter {
    color: #fff; }
  .blog-topback a {
    color: #fff; }

.general-head {
  margin-bottom: 20px; }
  .general-head h1 {
    margin-bottom: 0; }
  .general-head p {
    opacity: 0.5; }

#back-news {
  float: right;
  letter-spacing: 3px;
  margin-top: 23px;
  font-size: 14px;
  font-size: 0.875rem;
  color: #4C4C4C;
  text-align: right; }
  #back-news a:link, #back-news a:visited {
    text-decoration: underline;
    color: #4C4C4C; }
  #back-news a:hover, #back-news a:active {
    text-decoration: none;
    color: #4C4C4C; }

.article-title {
  float: left;
  margin: 30px 0;
  width: 100%; }

.blog-row {
  border-bottom: thin #E1E1E1 solid;
  margin-bottom: 40px; }

.blog-row-filter {
  border-bottom: thin #E1E1E1 solid;
  margin-bottom: 30px;
  padding-bottom: 30px; }
  .blog-row-filter .filter {
    color: #4C4C4C;
    margin-bottom: 50px;
    margin-right: 15px; }
  .blog-row-filter .blog-item-title {
    font-weight: bold;
    margin-right: 15px;
    line-height: 1.3rem; }

.recipe-list {
  list-style: none;
  margin-left: 0; }
  .recipe-list li p {
    margin: 8px 0; }

#national-retailers h3 {
  text-transform: uppercase;
  letter-spacing: 3px; }

#events h4, #events .h4 {
  font-size: 24px;
  font-size: 1.5rem; }

#events h6, #events .h6 {
  margin: 0;
  font-size: 14px;
  font-size: 0.875rem; }

#events .event-title {
  margin: 0 0 25px; }

#events .event-show-info {
  border-bottom: 1px solid #E1E1E1;
  padding: 10px 0 10px; }
  #events .event-show-info h6 {
    opacity: 0.5; }

#events .right-icon img, #events .right-icon svg {
  min-width: 14px;
  max-width: 14px;
  width: 100%; }

#events .right-icon svg path, #events .right-icon svg polygon {
  fill: #4C4C4C; }

#events .share-article {
  padding-top: 0px; }
  #events .share-article .fa {
    margin-right: 5px;
    margin-left: 0px; }

#events .calandar-row {
  border-bottom: thin solid #E1E1E1; }

.calendar {
  background-color: #F0F0F0; }

.navbar-default {
  background-color: white;
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: black;
  text-decoration: none;
  font-weight: 400;
  opacity: 1; }

.navbar-default .navbar-nav > li > a:hover {
  opacity: 0.5;
  background-color: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  color: #555555;
  background-color: #e7e7e7; }

#search-nav {
  background-color: #E1E1E1; }
  #search-nav .form-control {
    border-left: thin solid #4C4C4C; }

#categories, #whybuy {
  background-color: #4C4C4C; }

@media only screen and (min-width: 767px) {
  .top-navbar li:nth-child(2) a, .top-navbar li:nth-child(4) a {
    padding-right: 37px; } }

.topnav-drop h4 {
  font-weight: 700;
  color: white;
  font-size: 16px;
  font-size: 1rem; }
  .topnav-drop h4 a:link, .topnav-drop h4 a:visited {
    color: white; }

.topnav-drop ul {
  color: white; }
  .topnav-drop ul li > a {
    color: white; }

.search-icon {
  fill: black; }

#v-p-n {
  opacity: 1; }
  #v-p-n a:link, #v-p-n a:visited {
    color: white;
    font-size: 16px;
    font-size: 1rem;
    opacity: 1; }

.arrowDrop {
  width: 12px;
  max-width: 12px;
  position: absolute;
  left: 73%;
  top: 46%; }
  .arrowDropimg {
    width: 12px;
    max-width: 12px; }
  .arrowDrop path, .arrowDrop polygon {
    fill: #4C4C4C; }

footer a:link, footer a:visited {
  text-decoration: none;
  opacity: 0.5; }

footer a:hover, footer a:active {
  text-decoration: underline;
  opacity: 1; }

footer #home-social a:link, footer #home-social a:visited {
  text-decoration: none;
  color: #9c9b9b;
  opacity: 1;
  text-decoration: none; }

footer #home-social a:hover, footer #home-social a:active {
  text-decoration: none;
  opacity: .5; }

footer h4, footer .h4 {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem; }
  footer h4 a:link, footer h4 a:visited, footer .h4 a:link, footer .h4 a:visited {
    opacity: 1;
    text-decoration: none;
    color: black; }

footer ul {
  margin-top: 10px; }
  footer ul li {
    padding: 2px 0; }

#newsletter-desktop {
  color: white; }
  #newsletter-desktop .news-icon .svg path {
    fill: #fff; }
  #newsletter-desktop .news-copy h4 {
    font-weight: 700;
    color: white; }
  #newsletter-desktop .news-copy p {
    color: white; }
  #newsletter-desktop .btn-default {
    color: white; }

#newsletter-mobile h4, #newsletter-mobile .h4 {
  color: white; }

#newsletter-mobile svg path, #newsletter-mobile svg polygon {
  fill: #fff; }

.newsletter-background {
  background-color: #766B56; }

.footer-background {
  background-color: #F0F0F0; }

.full-divide {
  border-top: 2px solid #4C4C4C; }

/*.title > h1 {
    text-align: center;
}*/
#home-parallax {
  background-image: url(images/bg.jpg); }

@media only screen and (max-width: 767px) {
  #hero-carousel, .home-banner-text, #hero-carousel .item {
    height: 620px; } }

@media only screen and (max-width: 767px) {
  #hero-carousel .title-hero-img {
    margin: 0 auto;
    width: 213px; } }

@media only screen and (min-width: 767px) {
  #hero-carousel .title-hero-img {
    top: 235px;
    left: -27px;
    width: 180px;
    position: absolute; } }

@media only screen and (min-width: 990px) {
  #hero-carousel .title-hero-img {
    top: 250px;
    left: -27px;
    width: 190px;
    position: absolute; } }

@media only screen and (min-width: 1250px) {
  #hero-carousel .title-hero-img {
    top: 335px;
    width: 230px;
    position: absolute; } }

#hero-carousel .home-banner-text h1, #hero-carousel .home-banner-text h2 {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: -11px;
  text-transform: uppercase;
  color: white;
  line-height: 24px; }

#hero-carousel p {
  color: white;
  opacity: 1;
  margin: 15px 0 30px;
  letter-spacing: 0.5px; }

#hero-carousel .carousel-indicators {
  display: none;
  margin-left: 5px; }
  @media only screen and (max-width: 767px) {
    #hero-carousel .carousel-indicators {
      bottom: 15px; } }
  @media only screen and (min-width: 767px) {
    #hero-carousel .carousel-indicators {
      bottom: 20px; } }
  @media only screen and (min-width: 990px) {
    #hero-carousel .carousel-indicators {
      bottom: 50px; } }
  #hero-carousel .carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.5); }
  #hero-carousel .carousel-indicators .active {
    background-color: white; }

#hero-carousel .mid-content {
  display: inline;
  float: left; }
  @media only screen and (max-width: 767px) {
    #hero-carousel .mid-content {
      float: none; } }
  @media only screen and (min-width: 767px) {
    #hero-carousel .mid-content {
      margin-top: 50px; } }
  @media only screen and (min-width: 990px) {
    #hero-carousel .mid-content {
      margin-top: 50px; } }

#hero-carousel .home-content {
  padding-left: 0px; }

@media only screen and (max-width: 767px) {
  #hero-carousel .item {
    background-image: none !important; } }

#social {
  background-color: #F0F0F0; }
  @media only screen and (max-width: 767px) {
    #social {
      padding: 0; } }
  @media only screen and (min-width: 767px) {
    #social {
      padding: 10px 0; } }
  @media only screen and (min-width: 990px) {
    #social {
      padding: 20px 0; } }
  #social .home-social {
    overflow: hidden;
    height: auto;
    text-align: center;
    cursor: pointer;
    color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #social .home-social img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%; }
    #social .home-social h2 {
      font-size: 22px;
      font-size: 1.375rem;
      line-height: 23px;
      letter-spacing: 3px; }
      @media only screen and (min-width: 767px) {
        #social .home-social h2 {
          padding-top: 0px; } }
      @media only screen and (min-width: 990px) {
        #social .home-social h2 {
          padding-top: 20px; } }
      @media only screen and (min-width: 1250px) {
        #social .home-social h2 {
          padding-top: 45px; } }
    #social .home-social h5 {
      display: none; }
    #social .home-social .overlay {
      position: absolute;
      top: 0;
      padding: 20px;
      color: white;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      -transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out; }
      @media only screen and (max-width: 767px) {
        #social .home-social .overlay {
          width: 100%; } }
      @media only screen and (min-width: 767px) {
        #social .home-social .overlay {
          width: 220px; } }
      @media only screen and (min-width: 990px) {
        #social .home-social .overlay {
          width: 290px; } }
      @media only screen and (min-width: 1250px) {
        #social .home-social .overlay {
          width: 343.33px; } }
      #social .home-social .overlay .info-icon {
        position: relative; }
        #social .home-social .overlay .info-icon .svg {
          width: 20px;
          height: 20px; }
          #social .home-social .overlay .info-icon .svg path {
            fill: #fff; }
    #social .home-social .slideIn {
      color: #fff;
      opacity: 0;
      -webkit-transform: translateY(200px);
      /* Safari */
      transform: translateY(200px);
      /* Standard syntax */
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      @media only screen and (min-width: 767px) {
        #social .home-social .slideIn {
          padding: 35px 15px 15px; } }
      @media only screen and (min-width: 990px) {
        #social .home-social .slideIn {
          padding: 20px; } }
      #social .home-social .slideIn h2 {
        display: block;
        margin-bottom: 5px;
        padding-top: 0px; }
        @media only screen and (min-width: 767px) {
          #social .home-social .slideIn h2 {
            margin-top: 10px; } }
      #social .home-social .slideIn p {
        margin-top: 0px; }
        @media only screen and (min-width: 767px) {
          #social .home-social .slideIn p {
            display: none; } }
        @media only screen and (min-width: 990px) {
          #social .home-social .slideIn p {
            display: inline; } }
    #social .home-social .btn-default {
      color: white;
      position: absolute;
      left: 0;
      right: 0;
      width: 115px; }
      @media only screen and (min-width: 767px) {
        #social .home-social .btn-default {
          margin: 0 auto;
          bottom: unset; } }
      @media only screen and (min-width: 990px) {
        #social .home-social .btn-default {
          margin: 0 auto 35px;
          bottom: 0; } }
    #social .home-social:hover .overlay {
      opacity: 0.5;
      background-color: black; }
      #social .home-social:hover .overlay h5, #social .home-social:hover .overlay .overlay-center, #social .home-social:hover .overlay .info-icon {
        opacity: 0; }
    #social .home-social:hover img {
      opacity: 0.8; }
    #social .home-social:hover .slideIn {
      -webkit-transform: translateY(0px);
      /* Safari */
      transform: translateY(0px);
      /* Standard syntax */
      opacity: 1; }
      #social .home-social:hover .slideIn p {
        opacity: 1; }
  @media only screen and (max-width: 767px) {
    #social .home-social, #social .overlay, #social .slideIn {
      height: 330px; } }
  @media only screen and (min-width: 767px) {
    #social .home-social, #social .overlay, #social .slideIn {
      height: 165px; } }
  @media only screen and (min-width: 990px) {
    #social .home-social, #social .overlay, #social .slideIn {
      height: 210px; } }
  @media only screen and (min-width: 1250px) {
    #social .home-social, #social .overlay, #social .slideIn {
      height: 243.33px; } }

.social-mobile .item a:link, .social-mobile .item a:visited, .social-mobile .item a:focus {
  color: white; }

.social-mobile .item p {
  opacity: 1; }

.social-mobile .item h5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  display: none; }

.social-mobile .overlay {
  height: 400px;
  opacity: 0.7;
  background-color: black;
  width: 100% !important; }

.mobile-only .carousel-control svg path, .mobile-only .carousel-control svg polygon {
  fill: #E1E1E1; }

.mobile-only .carousel-caption {
  bottom: unset; }

#product-categories h2 {
  color: #4C4C4C;
  text-transform: uppercase;
  letter-spacing: 5px; }

#product-categories .info-icon img,
#product-categories .info-icon .svg {
  padding: 0;
  position: absolute;
  bottom: 26px;
  width: 20px;
  height: 20px; }
  @media only screen and (max-width: 767px) {
    #product-categories .info-icon img,
    #product-categories .info-icon .svg {
      right: 14px; } }
  @media only screen and (min-width: 767px) {
    #product-categories .info-icon img,
    #product-categories .info-icon .svg {
      right: 14px; } }
  @media only screen and (min-width: 990px) {
    #product-categories .info-icon img,
    #product-categories .info-icon .svg {
      right: 20px; } }

@media only screen and (max-width: 767px) {
  #product-categories .product-box:nth-child(odd) {
    background: #F2F2F2; }
    #product-categories .product-box:nth-child(odd):hover {
      background: #DBDBDB; }
  #product-categories .product-box:nth-child(even) {
    background: #FAFAFA; }
    #product-categories .product-box:nth-child(even):hover {
      background: #DBDBDB; } }

@media only screen and (min-width: 767px) {
  #product-categories .product-box:nth-child(2), #product-categories .product-box:nth-child(5) {
    background: #FAFAFA; }
    #product-categories .product-box:nth-child(2):hover, #product-categories .product-box:nth-child(5):hover {
      background: #DBDBDB; }
  #product-categories .product-box:nth-child(3), #product-categories .product-box:nth-child(4) {
    background: #F2F2F2; }
    #product-categories .product-box:nth-child(3):hover, #product-categories .product-box:nth-child(4):hover {
      background: #DBDBDB; }
  #product-categories .product-box:nth-child(1) {
    background: #FAFAFA; }
    #product-categories .product-box:nth-child(1):hover {
      background: #DBDBDB; } }

@media only screen and (max-width: 767px) {
  #product-categories .product-box:nth-child(1) .info-icon img,
  #product-categories .product-box:nth-child(1) .info-icon .svg {
    top: 14px; } }

@media only screen and (min-width: 767px) {
  #product-categories .product-box:nth-child(1) .info-icon img,
  #product-categories .product-box:nth-child(1) .info-icon .svg {
    top: 14px; } }

@media only screen and (min-width: 990px) {
  #product-categories .product-box:nth-child(1) .info-icon img,
  #product-categories .product-box:nth-child(1) .info-icon .svg {
    top: 20px; } }

.product-box {
  border: thin solid white;
  text-align: center;
  background: #F2F2F2; }
  .product-box:hover {
    background: #DBDBDB; }
  .product-box a:hover, .product-box a:active {
    opacity: 1; }

.p-c-s h5 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem; }

.p-c-l {
  background: #F2F2F2; }
  .p-c-l .info-icon {
    position: relative; }

#home-wtb .where, #home-wtb .download {
  font-weight: 700; }
  #home-wtb .where svg path, #home-wtb .where svg polygon, #home-wtb .download svg path, #home-wtb .download svg polygon {
    fill: black; }
  #home-wtb .where:hover, #home-wtb .download:hover {
    background: #DBDBDB;
    opacity: 1; }

#home-wtb .where {
  background-color: #E1E1E1; }

#home-wtb .download {
  background-color: #F0F0F0; }

#shop {
  background-color: white;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    #shop {
      padding: 60px 0 0; } }
  @media only screen and (min-width: 767px) {
    #shop {
      padding: 60px 0; } }
  #shop .shopwith {
    width: 80%;
    max-width: 1120px;
    margin: 0 auto;
    background-color: #F0F0F0; }
    #shop .shopwith .images, #shop .shopwith .text {
      float: left; }
      @media only screen and (max-width: 767px) {
        #shop .shopwith .images, #shop .shopwith .text {
          width: 100%;
          padding: 45px; } }
      @media only screen and (min-width: 767px) {
        #shop .shopwith .images, #shop .shopwith .text {
          width: 50%;
          padding: 45px; } }
      #shop .shopwith .images p, #shop .shopwith .text p {
        max-width: 260px;
        height: auto;
        margin: 0 auto; }
      #shop .shopwith .images .svg, #shop .shopwith .text .svg {
        max-width: 300px;
        height: auto;
        margin: 0 auto; }
    #shop .shopwith #s-i-1, #shop .shopwith #s-i-2 {
      display: block;
      margin: 0 auto; }
      @media only screen and (max-width: 767px) {
        #shop .shopwith #s-i-1, #shop .shopwith #s-i-2 {
          width: 100%; } }
      @media only screen and (min-width: 767px) {
        #shop .shopwith #s-i-1, #shop .shopwith #s-i-2 {
          width: 100%;
          margin-top: 20px; } }
      @media only screen and (min-width: 990px) {
        #shop .shopwith #s-i-1, #shop .shopwith #s-i-2 {
          width: 300px; } }
    #shop .shopwith #s-i-2 {
      width: 150px;
      margin-top: 20px; }
    #shop .shopwith .shop-title {
      font-size: 28px;
      font-size: 1.75rem;
      font-weight: bold;
      line-height: 2rem; }
      @media only screen and (max-width: 767px) {
        #shop .shopwith .shop-title {
          margin-top: 0; } }
      @media only screen and (min-width: 767px) {
        #shop .shopwith .shop-title {
          margin-top: 10px; } }
      @media only screen and (min-width: 990px) {
        #shop .shopwith .shop-title {
          margin-top: 20px; } }
      @media only screen and (min-width: 1250px) {
        #shop .shopwith .shop-title {
          margin-top: 20px; } }
    #shop .shopwith .text p {
      margin: 20px auto 0px; }
      @media only screen and (max-width: 767px) {
        #shop .shopwith .text p {
          width: 100%; } }
      @media only screen and (min-width: 767px) {
        #shop .shopwith .text p {
          width: 100%; } }
      @media only screen and (min-width: 990px) {
        #shop .shopwith .text p {
          width: 300px; } }
    #shop .shopwith .btn {
      width: 100%;
      margin-top: 15px; }
    #shop .shopwith .btn-black {
      background-color: white;
      border-radius: 5px; }
      @media only screen and (max-width: 767px) {
        #shop .shopwith .btn-black {
          width: 100%; } }
      @media only screen and (min-width: 767px) {
        #shop .shopwith .btn-black {
          width: 100%; } }
      @media only screen and (min-width: 990px) {
        #shop .shopwith .btn-black {
          width: 280px; } }

#inspire {
  background-image: url(/media/623460/stoves-blog-homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }
  @media only screen and (max-width: 767px) {
    #inspire {
      padding: 0px; } }
  @media only screen and (min-width: 767px) {
    #inspire {
      padding: 20px 0 50px; } }
  #inspire p.view-all {
    opacity: 1; }
    #inspire p.view-all a:link, #inspire p.view-all a:visited {
      color: white;
      text-decoration: underline;
      opacity: 1; }
    #inspire p.view-all a:hover {
      text-decoration: none; }
  #inspire h2, #inspire h5 {
    text-align: center;
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase; }
  #inspire h5 {
    margin: 10px 0;
    font-size: 15px;
    font-size: 0.9375rem; }
  #inspire a {
    text-decoration: none; }
    #inspire a :hover {
      text-decoration: underline; }
  #inspire .inspire-copy {
    background-color: white; }
    #inspire .inspire-copy h4 {
      color: #4C4C4C;
      margin: 0;
      font-size: 18px;
      font-size: 1.125rem; }
      @media only screen and (min-width: 767px) {
        #inspire .inspire-copy h4 {
          font-size: 20px;
          font-size: 1.25rem; } }
      @media only screen and (min-width: 990px) {
        #inspire .inspire-copy h4 {
          font-size: 18px;
          font-size: 1.125rem; } }
    #inspire .inspire-copy p {
      font-size: 14px;
      font-size: 0.875rem; }
      @media only screen and (min-width: 767px) {
        #inspire .inspire-copy p {
          font-size: 16px;
          font-size: 1rem; } }
      @media only screen and (min-width: 990px) {
        #inspire .inspire-copy p {
          font-size: 14px;
          font-size: 0.875rem; } }
  #inspire .inspire-social .fa {
    color: #F0F0F0; }
    #inspire .inspire-social .fa:hover {
      color: #F0F0F0;
      opacity: 0.5;
      text-decoration: none; }

.product-info h1 {
  font-size: 24px;
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin-bottom: 0; }

.product-info svg path, .product-info svg polygon, .product-info svg circle, .product-info .svg path, .product-info .svg polygon, .product-info .svg circle {
  fill: #7F7F7F; }

#product-buy h4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  font-size: 1.25rem; }

#product-buy .scrollable-menu li {
  border-bottom: thin solid #ddd;
  float: left;
  width: 100%; }
  #product-buy .scrollable-menu li a:hover {
    opacity: 1; }
  #product-buy .scrollable-menu li span {
    color: #51AF59;
    cursor: pointer;
    text-transform: uppercase;
    padding-right: 16px;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 7px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #product-buy .scrollable-menu li span:hover {
      color: #51AF59; }

#product-features .h4, #product-features h4, #product-gallery .h4, #product-gallery h4, #product-specification .h4, #product-specification h4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 767px) {
    #product-features .h4, #product-features h4, #product-gallery .h4, #product-gallery h4, #product-specification .h4, #product-specification h4 {
      font-size: 18px;
      font-size: 1.125rem; } }
  @media only screen and (min-width: 767px) {
    #product-features .h4, #product-features h4, #product-gallery .h4, #product-gallery h4, #product-specification .h4, #product-specification h4 {
      font-size: 30px;
      font-size: 1.875rem; } }

#product-features .full-divide, #product-gallery .full-divide, #product-specification .full-divide {
  border-top: 1px solid #e1e1e1;
  padding-top: 25px;
  margin-left: 0px;
  margin-right: 0px; }

#product-gallery .container {
  border-top: 3px solid #E1E1E1; }

#product-gallery .h4, #product-gallery h4 {
  margin-bottom: 20px;
  margin-top: 30px; }

#product-gallery .product-image {
  float: left;
  width: 100%; }
  #product-gallery .product-image #gallery {
    width: 100%; }
    #product-gallery .product-image #gallery #bigimages {
      width: 100%;
      float: left;
      padding-bottom: 15px; }
      #product-gallery .product-image #gallery #bigimages img {
        margin-bottom: 0px;
        max-width: 100%;
        max-height: 400px; }
      #product-gallery .product-image #gallery #bigimages .normal {
        display: none;
        text-align: center; }
      #product-gallery .product-image #gallery #bigimages #normal1 {
        display: block;
        text-align: center; }
  #product-gallery .product-image .thumbs-container {
    display: table;
    width: 100%;
    max-width: 900px;
    margin: 0 auto; }
    #product-gallery .product-image .thumbs-container #thumbs {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      #product-gallery .product-image .thumbs-container #thumbs .imgcontainer {
        overflow: hidden;
        padding-bottom: 15px;
        display: inline-block;
        margin: 10px 5px 0px; }
        @media only screen and (max-width: 767px) {
          #product-gallery .product-image .thumbs-container #thumbs .imgcontainer {
            width: auto;
            max-height: 100px; } }
        @media only screen and (min-width: 767px) {
          #product-gallery .product-image .thumbs-container #thumbs .imgcontainer {
            width: 55px;
            height: auto; } }
        #product-gallery .product-image .thumbs-container #thumbs .imgcontainer img {
          width: 100%;
          max-width: 100%;
          margin-bottom: 0rem;
          max-height: 220px; }
          @media only screen and (max-width: 767px) {
            #product-gallery .product-image .thumbs-container #thumbs .imgcontainer img {
              max-width: none;
              max-height: 45px; } }
      #product-gallery .product-image .thumbs-container #thumbs a:link, #product-gallery .product-image .thumbs-container #thumbs a:visited {
        float: left;
        margin-right: 15px; }
        #product-gallery .product-image .thumbs-container #thumbs a:link:last-of-type, #product-gallery .product-image .thumbs-container #thumbs a:visited:last-of-type {
          margin-right: 0; }

#product-features {
  background-color: #F0F0F0; }
  #product-features a {
    color: black;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  #product-features .feature-control a:active {
    font-weight: bold; }

#product-specification {
  background-color: #E1E1E1; }
  #product-specification .h4 {
    margin: 20px 0;
    cursor: pointer; }
  #product-specification h5, #product-specification .h5 {
    font-weight: bold; }
  #product-specification .arrow-down {
    width: 26px; }
    #product-specification .arrow-down.svg path, #product-specification .arrow-down polygon, #product-specification .arrow-down circle {
      fill: #4C4C4C; }
  #product-specification .list-group-item {
    padding: 10px 0;
    border-left: medium none #4C4C4C;
    border-right: medium none #4C4C4C;
    border-bottom: medium none #4C4C4C;
    border-color: #4C4C4C;
    background-color: unset;
    border-radius: unset; }

.range-head h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 35px;
  font-size: 2.1875rem;
  line-height: 36px; }
  @media only screen and (max-width: 767px) {
    .range-head h1 {
      margin-bottom: 0;
      font-size: 32px;
      font-size: 2rem; } }

.range-head p {
  color: white;
  font-weight: 500;
  line-height: 1.4rem; }

.range-head a.btn-default {
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5); }
  .range-head a.btn-default:hover {
    border: 2px solid white;
    color: white; }
  @media only screen and (max-width: 767px) {
    .range-head a.btn-default {
      margin-top: 8px; } }

.range-head.why-content .mid-content {
  text-align: left;
  padding-top: 0; }
  @media only screen and (max-width: 767px) {
    .range-head.why-content .mid-content {
      text-align: center; } }

.sidebar-offcanvas {
  height: 100vh; }

.product-filters .list-group-item {
  border-bottom: 1px solid #E1E1E1; }

.product-container {
  border-bottom: thin solid #E1E1E1; }
  @media only screen and (min-width: 990px) {
    .product-container:nth-child(odd) {
      border-right: thin solid #E1E1E1; } }

.product-info .link {
  color: #7F7F7F; }

.product-container .review {
  width: 125px; }

#overview a:hover {
  text-decoration: none;
  cursor: pointer; }

#overview .default-stroke {
  stroke: #c6c6c6; }

#overview .default-circle {
  fill: #c6c6c6; }

#overview .default-text {
  fill: #000; }

#overview .svg-selected {
  stroke: #3F1F10; }

#overview .svg-circle-selected {
  fill: #3F1F10; }

#overview .svg-text-selected {
  fill: #fff; }

#overview .svg-outline {
  stroke: #c6c6c6; }

#overview .left-overview {
  background-color: #F0F0F0;
  height: 550px; }

#overview .right-overview {
  background-color: #4C4C4C;
  color: white;
  height: 550px; }
  #overview .right-overview .triangle {
    border-color: transparent transparent transparent #F0F0F0;
    top: 250px; }

#overview .nav-tabs {
  border: none; }

#overview .circle-num {
  background-color: #fff;
  color: #4C4C4C;
  -webkit-border-radius: 50px;
  /* Safari, Chrome */
  -moz-border-radius: 50px;
  /* Firefox */
  border-radius: 50px;
  /* CSS3 */
  width: 45px;
  height: 45px;
  margin: 0 auto;
  padding-top: 13px;
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: bold; }

#headers-2 .why-image {
  background-position: left center; }

.why-buy .why-content .header-image, .why-buy-range .why-content .header-image {
  margin-bottom: 50px; }

.why-buy p, .why-buy-range p {
  color: white;
  opacity: 0.75; }

.why-buy .background-image, .why-buy-range .background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.why-buy .mib, .why-buy-range .mib {
  background-color: unset;
  padding: 0;
  width: 60%; }

.why-buy .mid-content .h4, .why-buy .mid-content h4, .why-buy-range .mid-content .h4, .why-buy-range .mid-content h4 {
  text-transform: uppercase;
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 0;
  letter-spacing: 1px; }

.why-buy h5, .why-buy-range h5 {
  text-align: center;
  margin: 30px 0px;
  font-size: 14px;
  font-size: 0.875rem; }

.why-buy h3, .why-buy-range h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 24px;
  font-size: 1.5rem; }

.why-buy #richmond, .why-buy-range #richmond {
  color: white; }
  .why-buy #richmond a:link, .why-buy #richmond a:visited, .why-buy-range #richmond a:link, .why-buy-range #richmond a:visited {
    color: white; }
  .why-buy #richmond h3, .why-buy-range #richmond h3 {
    color: white; }

.why-buy #boutique, .why-buy-range #boutique {
  color: white; }
  @media only screen and (max-width: 767px) {
    .why-buy #boutique, .why-buy-range #boutique {
      height: auto; } }
  @media only screen and (min-width: 767px) {
    .why-buy #boutique, .why-buy-range #boutique {
      height: 500px; } }
  @media only screen and (min-width: 990px) {
    .why-buy #boutique, .why-buy-range #boutique {
      height: 620px; } }
  @media only screen and (min-width: 1250px) {
    .why-buy #boutique, .why-buy-range #boutique {
      height: 700px; } }
  .why-buy #boutique img, .why-buy-range #boutique img {
    margin-top: 50px; }
  .why-buy #boutique svg, .why-buy-range #boutique svg {
    width: 60%; }
    .why-buy #boutique svg path, .why-buy #boutique svg polygon, .why-buy-range #boutique svg path, .why-buy-range #boutique svg polygon {
      fill: white; }

.why-buy #size, .why-buy #fuel, .why-buy #features-carousel, .why-buy-range #size, .why-buy-range #fuel, .why-buy-range #features-carousel {
  color: white; }
  .why-buy #size .btn, .why-buy #fuel .btn, .why-buy #features-carousel .btn, .why-buy-range #size .btn, .why-buy-range #fuel .btn, .why-buy-range #features-carousel .btn {
    color: white; }

.why-buy #features-carousel, .why-buy-range #features-carousel {
  color: white;
  background-color: #525252; }
  .why-buy #features-carousel .controls, .why-buy-range #features-carousel .controls {
    margin-top: 20px; }
    .why-buy #features-carousel .controls img, .why-buy-range #features-carousel .controls img {
      width: 15px;
      margin-right: 10px; }
  .why-buy #features-carousel .item, .why-buy-range #features-carousel .item {
    height: unset; }

.why-buy ul.nav-tabs, .why-buy-range ul.nav-tabs {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  border: none; }
  .why-buy ul.nav-tabs li, .why-buy-range ul.nav-tabs li {
    float: unset;
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    background: none; }
    .why-buy ul.nav-tabs li a, .why-buy-range ul.nav-tabs li a {
      color: white;
      border: none;
      cursor: pointer;
      opacity: 0.5;
      background: none; }
    .why-buy ul.nav-tabs li.active a, .why-buy ul.nav-tabs li:hover a, .why-buy-range ul.nav-tabs li.active a, .why-buy-range ul.nav-tabs li:hover a {
      color: white;
      border: none;
      cursor: pointer;
      opacity: 1;
      background: none; }
    .why-buy ul.nav-tabs li.active :after, .why-buy ul.nav-tabs li:hover :after, .why-buy-range ul.nav-tabs li.active :after, .why-buy-range ul.nav-tabs li:hover :after {
      display: block;
      content: "";
      width: 100%;
      height: 17px;
      background-image: url("/media/622948/arrow-up.svg");
      background-size: 25px auto;
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 6px; }

@media only screen and (min-width: 767px) {
  .why-buy-general h1 {
    font-size: 30px;
    font-size: 1.875rem; } }

@media only screen and (min-width: 990px) {
  .why-buy-general h1 {
    font-size: 43px;
    font-size: 2.6875rem; } }

.tab2-container {
  float: right; }
  .tab2-container #tabsl2 {
    margin: 0 auto; }

img.header-image {
  max-height: 105px;
  width: 100%; }

#wb-1 {
  color: white; }
  #wb-1 .btn-default {
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5); }
    #wb-1 .btn-default:hover, #wb-1 .btn-default:focus, #wb-1 .btn-default.active {
      border: 2px solid white; }

#wb-2 .btn-default {
  border: 2px solid rgba(146, 150, 151, 0.5); }
  #wb-2 .btn-default:hover, #wb-2 .btn-default:focus, #wb-2 .btn-default.active {
    border: 2px solid #929697; }

#wb-2 p {
  color: #4C4C4C; }

#size {
  background-color: #54606C; }
  #size .btn-default {
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5); }
    #size .btn-default:hover, #size .btn-default:focus, #size .btn-default.active {
      border: 2px solid white; }
  #size .size-row {
    height: 100px; }

#fuel {
  background-color: #3F4650;
  color: white; }
  #fuel .btn-default {
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5); }
    #fuel .btn-default:hover, #fuel .btn-default:focus, #fuel .btn-default.active {
      border: 2px solid white; }

.s-1-img img {
  max-height: 340px; }

.recycling svg path, .recycling svg polygon {
  fill: white; }

@media only screen and (min-width: 767px) {
  #wb-1, #wb-2 {
    height: auto;
    padding: 40px 0; }
    #wb-1 .width-container, #wb-2 .width-container {
      margin: 20px auto; } }

@media only screen and (min-width: 990px) {
  #wb-1, #wb-2 {
    height: 550px; } }

#wb-2 {
  color: #4C4C4C; }
  #wb-2 .btn {
    color: black;
    border-color: #4C4C4C; }
    #wb-2 .btn:hover {
      border-color: black; }

#banner-wtb-mob1, #banner-wtb-mob2, #banner-wtb-mob3, #banner-wtb-mob4 {
  text-align: center;
  color: #fff;
  margin: auto;
  float: none;
  padding: 20px; }

#banner-wtb-mob3 {
  color: black; }
  #banner-wtb-mob3 a.btn-default {
    color: #4C4C4C;
    border-color: #4C4C4C; }
    #banner-wtb-mob3 a.btn-default:hover {
      border-color: black; }

@media only screen and (max-width: 767px) {
  .why-fuel-content {
    width: 100%;
    padding: 20px; }
    .why-fuel-content a.btn-default {
      color: black;
      border-color: black; } }

.why-image, .fuel-why-image {
  min-height: 480px; }

#boutique svg {
  margin-bottom: 20px;
  margin-top: 30px; }

.mib {
  background-color: #F0F0F0;
  padding: 40px 0; }
  .mib .h4 {
    font-weight: bold; }
  .mib p {
    opacity: 0.5; }

.wtb-landing {
  margin-bottom: 20px; }

.mib-img {
  width: 120px;
  margin-top: 37px; }
  @media only screen and (max-width: 767px) {
    .mib-img {
      float: left; } }
  @media only screen and (min-width: 767px) {
    .mib-img {
      float: right; } }

.map-address {
  margin-bottom: 25px;
  margin-top: 45px; }
  .map-address .h2 {
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-right: 20px;
    margin-top: -5px; }
  .map-address .search-wtb .btn-default {
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: transparent;
    color: black; }
    .map-address .search-wtb .btn-default:hover, .map-address .search-wtb .btn-default:focus, .map-address .search-wtb .btn-default.active {
      color: black;
      background-color: transparent;
      border: 2px solid black; }
  .map-address .search-wtb .navbar-form {
    margin-top: -10px; }
    .map-address .search-wtb .navbar-form .form-control {
      margin-right: -5px;
      min-height: 41px; }

@media only screen and (min-width: 767px) {
  .left-wtb-content {
    padding-bottom: 20px; } }

.bh-sl-form-container .nav-form {
  padding-left: 0; }

#national-retailers {
  margin-top: 30px; }

.retailer {
  font-size: 13px;
  padding-left: 20px;
  letter-spacing: 0px;
  text-transform: none;
  float: left; }
  .retailer img, .retailer svg {
    height: 30px; }
  .retailer .r-t {
    top: 6px;
    float: right;
    position: relative;
    right: -5px; }

.elite-retailer {
  color: #766B56; }
  .elite-retailer svg path, .elite-retailer svg polygon {
    fill: #766B56; }

.customer-care .h2 {
  color: white; }

.customer-care .panel-body {
  padding-left: 32px; }

.customer-care .col-sm-12 {
  padding: 0; }

.customer-care .mid-content.shade-back {
  padding: 0; }

.customer-care a.btn-default {
  color: white;
  border-color: rgba(255, 255, 255, 0.5); }
  .customer-care a.btn-default:hover {
    border-color: white; }

.customer-care .hero-text {
  font-size: 24px;
  font-size: 1.5rem; }

@media only screen and (max-width: 767px) {
  .customer-care .hero-holder {
    min-height: unset; } }

@media only screen and (min-width: 767px) {
  .customer-care .hero-holder {
    min-height: 400px; } }

.customer-care.half-background {
  padding: 80px 0 0; }

.customer-care h3, .customer-care .h3 {
  font-weight: bold; }

.customer-care .half-background {
  padding-top: 30px; }

.customer-care .sidenav-list a {
  color: #4C4C4C; }

.customer-care .sidenav-list .right-icon img, .customer-care .sidenav-list .right-icon svg {
  width: 14px;
  height: 14px;
  width: 100%;
  margin-top: 10px; }

.customer-care .sidenav-list .right-icon svg path, .customer-care .sidenav-list .right-icon svg polygon {
  fill: #4C4C4C; }

.contact .h2 {
  color: white; }

.contact .icon .svg path, .contact .icon .svg polygon, .contact .icon .svg circle {
  fill: #4C4C4C; }

.contact .hero-holder .mid-content p, .contact .hero-holder .mid-content .h1 {
  color: white; }

.contact .sidenav-list li {
  color: #4C4C4C;
  border-color: #ddd; }

.contact .btn-default {
  border: 2px solid rgba(146, 150, 151, 0.5);
  color: #4C4C4C; }
  .contact .btn-default:hover {
    border: 2px solid #929697;
    color: #4C4C4C; }

#customer-care-section {
  background-color: #EEF3F7; }

.banner-bottom .h2 {
  color: white; }

.banner-bottom p {
  color: white; }

.big {
  font-size: 80px;
  font-size: 5rem; }

.view-all {
  font-size: 13px;
  letter-spacing: 0px;
  opacity: 0.75;
  position: relative;
  text-align: center;
  top: -20px;
  text-transform: capitalize; }
  .view-all a:link, .view-all a:visited {
    opacity: 0.5;
    text-decoration: underline; }
  .view-all a:hover, .view-all a:active, .view-all a:focus {
    text-decoration: none; }

.big {
  font-size: 80px;
  font-size: 5rem;
  margin-bottom: 15px;
  padding-bottom: 0;
  color: white; }

.item-holder {
  padding: 20px 0 35px; }

.sidenav-list li {
  border-bottom: thin solid #E1E1E1;
  color: #4C4C4C; }
  .sidenav-list li h5 {
    font-weight: bold;
    color: #4C4C4C; }
  .sidenav-list li a {
    opacity: .75; }
    .sidenav-list li a:hover {
      opacity: 1;
      text-decoration: none; }

.sidenav-list ul {
  list-style: none;
  padding: 0;
  margin-left: 0px; }
  .sidenav-list ul li .right-icon {
    float: left; }
  .sidenav-list ul li .right-text {
    float: right;
    width: 84%; }

.share-article {
  font-weight: bold;
  padding: 45px 0px 0px; }
  .share-article .text {
    float: left;
    padding-top: 3px;
    padding-right: 5px; }
  .share-article .fa {
    font-size: 30px;
    margin-left: 13px;
    margin-right: 0; }
  .share-article a:hover {
    opacity: 0.5;
    text-decoration: none;
    color: #4C4C4C; }

.features .h1.article-title {
  margin-top: 0; }

.features .half-background {
  padding-top: 25px; }

.about-us h1 {
  color: #4C4C4C;
  font-size: 28px; }
  @media only screen and (max-width: 767px) {
    .about-us h1 {
      padding-bottom: 0; } }
  @media only screen and (min-width: 767px) {
    .about-us h1 {
      padding-bottom: 30px; } }

.about-heritage .background-image, .about-products .background-image, .about-service .background-image, .about-future .background-image {
  height: auto; }

.about-heritage .why-content h5, .about-products .why-content h5, .about-service .why-content h5, .about-future .why-content h5 {
  letter-spacing: 3px;
  text-transform: uppercase;
  position: absolute;
  margin: 60px auto 0;
  left: 0;
  right: 0; }

.about-heritage .why-content p, .about-products .why-content p, .about-service .why-content p, .about-future .why-content p {
  font-size: 16px;
  font-size: 1rem; }
  @media only screen and (max-width: 767px) {
    .about-heritage .why-content p, .about-products .why-content p, .about-service .why-content p, .about-future .why-content p {
      padding: 0 15% 5%; } }
  @media only screen and (min-width: 767px) {
    .about-heritage .why-content p, .about-products .why-content p, .about-service .why-content p, .about-future .why-content p {
      padding: 0 15% 20%; } }

@media only screen and (max-width: 767px) {
  .about-heritage .why-content .mid-content .width-container, .about-products .why-content .mid-content .width-container, .about-service .why-content .mid-content .width-container, .about-future .why-content .mid-content .width-container {
    margin: 120px auto 0; } }

@media only screen and (min-width: 767px) {
  .about-heritage .why-content .mid-content .width-container, .about-products .why-content .mid-content .width-container, .about-service .why-content .mid-content .width-container, .about-future .why-content .mid-content .width-container {
    margin: 220px auto 0; } }

.about-heritage .why-content .mid-content .width-container .h4, .about-products .why-content .mid-content .width-container .h4, .about-service .why-content .mid-content .width-container .h4, .about-future .why-content .mid-content .width-container .h4 {
  margin-bottom: 20px; }

.about-heritage .why-content .h4 {
  color: #fff; }

.label-primary {
  background-color: #4C4C4C;
  color: #fff; }

.search-row {
  border-top: #4C4C4C thin solid;
  padding: 20px 0; }

.blog-item {
  height: auto; }
  .blog-item .blog-item-img {
    height: auto; }
  .blog-item .blog-item-title {
    line-height: 1.3rem; }
  .blog-item .blog-item-summary {
    background: #fff;
    margin-top: 0;
    padding: 20px;
    height: auto; }
    .blog-item .blog-item-summary p, .blog-item .blog-item-summary h5 {
      color: #4C4C4C; }
    .blog-item .blog-item-summary h5 {
      font-size: 15px;
      font-size: 0.9375rem;
      margin: 10px 0 0; }

/*# sourceMappingURL=custom.css.map */
