/*********************
CLEARFIX - http://nicolasgallagher.com/micro-clearfix-hack/
*********************/
/* line 52, ../../scss/stoves/base/_mixins.scss */
.clearfix {
  zoom: 1; }
  /* line 54, ../../scss/stoves/base/_mixins.scss */
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  /* line 55, ../../scss/stoves/base/_mixins.scss */
  .clearfix:after {
    clear: both; }

/*********************
IMAGES
*********************/
/* line 62, ../../scss/stoves/base/_mixins.scss */
.img-border {
  border: 1px solid #CCC;
  padding: 5px; }

/* line 67, ../../scss/stoves/base/_mixins.scss */
.img-rounded {
  border-radius: 6px; }

/* line 73, ../../scss/stoves/base/_mixins.scss */
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

/* line 83, ../../scss/stoves/base/_mixins.scss */
.img-circle {
  border-radius: 500px; }

/*********************
TYPOGRAPHY
*********************/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 96, ../../scss/stoves/base/_mixins.scss */
span.amp {
  font-family: Arial, serif !important;
  font-style: italic; }

/* line 113, ../../scss/stoves/base/_mixins.scss */
.mobile-only,
tr.mobile-only,
th.mobile-only,
td.mobile-only {
  display: none !important; }

@media only screen and (max-width: 690px) {
  /* line 105, ../../scss/stoves/base/_mixins.scss */
  .mobile-only {
    display: block !important; }

  /* line 106, ../../scss/stoves/base/_mixins.scss */
  tr.mobile-only {
    display: table-row !important; }

  /* line 107, ../../scss/stoves/base/_mixins.scss */
  th.mobile-only,
  td.mobile-only {
    display: table-cell !important; } }
/* line 105, ../../scss/stoves/base/_mixins.scss */
.mobile-hide {
  display: block !important; }

/* line 106, ../../scss/stoves/base/_mixins.scss */
tr.mobile-hide {
  display: table-row !important; }

/* line 107, ../../scss/stoves/base/_mixins.scss */
th.mobile-hide,
td.mobile-hide {
  display: table-cell !important; }

@media only screen and (max-width: 690px) {
  /* line 113, ../../scss/stoves/base/_mixins.scss */
  .mobile-hide,
  tr.mobile-hide,
  th.mobile-hide,
  td.mobile-hide {
    display: none !important; } }
/* line 113, ../../scss/stoves/base/_mixins.scss */
.tablet-only,
tr.tablet-only,
th.tablet-only,
td.tablet-only {
  display: none !important; }

@media only screen and (min-width: 690px) and (max-width: 768px) {
  /* line 105, ../../scss/stoves/base/_mixins.scss */
  .tablet-only {
    display: block !important; }

  /* line 106, ../../scss/stoves/base/_mixins.scss */
  tr.tablet-only {
    display: table-row !important; }

  /* line 107, ../../scss/stoves/base/_mixins.scss */
  th.tablet-only,
  td.tablet-only {
    display: table-cell !important; } }
/* line 105, ../../scss/stoves/base/_mixins.scss */
.tablet-hide {
  display: block !important; }

/* line 106, ../../scss/stoves/base/_mixins.scss */
tr.tablet-hide {
  display: table-row !important; }

/* line 107, ../../scss/stoves/base/_mixins.scss */
th.tablet-hide,
td.tablet-hide {
  display: table-cell !important; }

@media only screen and (min-width: 690px) and (max-width: 768px) {
  /* line 113, ../../scss/stoves/base/_mixins.scss */
  .tablet-hide,
  tr.tablet-hide,
  th.tablet-hide,
  td.tablet-hide {
    display: none !important; } }
/* line 113, ../../scss/stoves/base/_mixins.scss */
.desktop-only,
tr.desktop-only,
th.desktop-only,
td.desktop-only {
  display: none !important; }

@media only screen and (min-width: 690px) {
  /* line 105, ../../scss/stoves/base/_mixins.scss */
  .desktop-only {
    display: block !important; }

  /* line 106, ../../scss/stoves/base/_mixins.scss */
  tr.desktop-only {
    display: table-row !important; }

  /* line 107, ../../scss/stoves/base/_mixins.scss */
  th.desktop-only,
  td.desktop-only {
    display: table-cell !important; } }
/* line 105, ../../scss/stoves/base/_mixins.scss */
.desktop-hide {
  display: block !important; }

/* line 106, ../../scss/stoves/base/_mixins.scss */
tr.desktop-hide {
  display: table-row !important; }

/* line 107, ../../scss/stoves/base/_mixins.scss */
th.desktop-hide,
td.desktop-hide {
  display: table-cell !important; }

@media only screen and (min-width: 690px) {
  /* line 113, ../../scss/stoves/base/_mixins.scss */
  .desktop-hide,
  tr.desktop-hide,
  th.desktop-hide,
  td.desktop-hide {
    display: none !important; } }
/******************************************************************
 UTILITY STYLES
******************************************************************/
/* line 153, ../../scss/stoves/base/_mixins.scss */
.float-left {
  float: left; }

/* line 154, ../../scss/stoves/base/_mixins.scss */
.float-none {
  float: none; }

/* line 155, ../../scss/stoves/base/_mixins.scss */
.float-right {
  float: right; }

/* line 156, ../../scss/stoves/base/_mixins.scss */
.clear-left {
  clear: left; }

/* line 157, ../../scss/stoves/base/_mixins.scss */
.clear-both {
  clear: both; }

/* line 158, ../../scss/stoves/base/_mixins.scss */
.clear-right {
  clear: right; }

/* Image replacement */
/* line 161, ../../scss/stoves/base/_mixins.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

/* line 168, ../../scss/stoves/base/_mixins.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 179, ../../scss/stoves/base/_mixins.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 188, ../../scss/stoves/base/_mixins.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 204, ../../scss/stoves/base/_mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
/* line 216, ../../scss/stoves/base/_mixins.scss */
.invisible {
  visibility: hidden; }

/*********************
TRANSITION
*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*********************/
/*********************
ANIMATION
*
Compass CSS3 mixins don't yet handle vendor prefixes for CSS animations, so this is a very simple mixin to simulate that functionality.
*********************/
/*********************
VERTICAL ALIGN DYNAMIC HEIGHT - http://css-tricks.com/centering-in-the-unknown/
*********************/
/*********************
TEXT TRUNCATION
*********************/
/*********************
GRAYSCALE
*********************/
/*********************
TRANSPARENT BG-COLOR
*********************/
/*********************
CSS3 GRADIENTS
*
Be careful with these since they can
really slow down your CSS. Don't overdue it.
USAGE: @include css-gradient(#dfdfdf,#f8f8f8);
*********************/
/* line 2, ../../scss/stoves/base/_base.scss */
a:link, a:visited {
  text-decoration: none;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* line 7, ../../scss/stoves/base/_base.scss */
a:hover, a:active {
  text-decoration: underline;
  opacity: 0.5; }

/* line 12, ../../scss/stoves/base/_base.scss */
#logo a:hover, #logo a:active {
  opacity: 1; }

/* line 17, ../../scss/stoves/base/_base.scss */
.btn-default {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  padding: 8px 15px; }
  /* line 21, ../../scss/stoves/base/_base.scss */
  .btn-default:hover, .btn-default:focus, .btn-default.active {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.99); }

/* line 27, ../../scss/stoves/base/_base.scss */
.btn-black {
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  padding: 8px 15px; }
  /* line 31, ../../scss/stoves/base/_base.scss */
  .btn-black:hover, .btn-black:focus, .btn-black.active {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.99); }

/* line 37, ../../scss/stoves/base/_base.scss */
.shade-back {
  background-color: #1E1E1E;
  opacity: 0.85; }

/* line 42, ../../scss/stoves/base/_base.scss */
.hero-text {
  padding-bottom: 30px; }

/* line 45, ../../scss/stoves/base/_base.scss */
.arrow-down {
  width: 22px; }

/* line 49, ../../scss/stoves/base/_base.scss */
.greentext {
  color: #51AF59; }

/* line 53, ../../scss/stoves/base/_base.scss */
.contact .icon {
  cursor: pointer;
  padding-left: 10px; }
  /* line 54, ../../scss/stoves/base/_base.scss */
  .contact .icon img {
    width: 20px; }
/* line 60, ../../scss/stoves/base/_base.scss */
.contact h4 {
  font-weight: bold; }

/* line 64, ../../scss/stoves/base/_base.scss */
.icon {
  cursor: pointer; }
  /* line 65, ../../scss/stoves/base/_base.scss */
  .icon img {
    width: 20px; }

/* line 71, ../../scss/stoves/base/_base.scss */
.panel-title {
  width: 90%; }

/* line 2, ../../scss/stoves/base/_font.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, body {
  font-family: proxima-nova, sans-serif; }

/* line 7, ../../scss/stoves/base/_font.scss */
h1, .h1 {
  font-size: 40px;
  font-size: 2.5rem; }

/* line 8, ../../scss/stoves/base/_font.scss */
h2, .h2 {
  font-size: 32px;
  font-size: 2rem; }

/* line 9, ../../scss/stoves/base/_font.scss */
h3, .h3 {
  font-size: 24px;
  font-size: 1.5rem; }

/* line 10, ../../scss/stoves/base/_font.scss */
h4, .h4 {
  font-size: 21px;
  font-size: 1.3125rem; }

/* line 11, ../../scss/stoves/base/_font.scss */
h5, .h5 {
  font-size: 18px;
  font-size: 1.125rem; }

/* line 12, ../../scss/stoves/base/_font.scss */
h6, .h6 {
  font-size: 16px;
  font-size: 1rem; }

/* line 13, ../../scss/stoves/base/_font.scss */
p, body {
  font-size: 18px;
  font-size: 1.125rem; }

/* line 16, ../../scss/stoves/base/_font.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 500; }

/* line 18, ../../scss/stoves/base/_font.scss */
p, body {
  font-weight: 200; }

/* line 32, ../../scss/stoves/base/_font.scss */
h1, .h1, h2, .h2, h3, .h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold; }

/* line 40, ../../scss/stoves/base/_font.scss */
.header-copy {
  padding-bottom: 50px;
  opacity: 0.5; }

/* line 1, ../../scss/stoves/layout/_blog.scss */
.general-head {
  margin-bottom: 20px; }
  /* line 2, ../../scss/stoves/layout/_blog.scss */
  .general-head h1 {
    margin-bottom: 0; }
  /* line 5, ../../scss/stoves/layout/_blog.scss */
  .general-head p {
    opacity: 0.5; }

/* line 11, ../../scss/stoves/layout/_blog.scss */
#back-news {
  float: right;
  letter-spacing: 3px;
  font-size: 14px;
  font-size: 0.875rem;
  color: #4C4C4C;
  text-align: right; }
  /* line 17, ../../scss/stoves/layout/_blog.scss */
  #back-news a:link, #back-news a:visited {
    text-decoration: underline;
    color: #4C4C4C; }
  /* line 21, ../../scss/stoves/layout/_blog.scss */
  #back-news a:hover, #back-news a:active {
    text-decoration: none;
    color: #4C4C4C; }

/* line 26, ../../scss/stoves/layout/_blog.scss */
.article-title {
  float: left;
  margin: 30px 0;
  width: 100%; }

/* line 32, ../../scss/stoves/layout/_blog.scss */
.blog-row {
  border-bottom: thin #E1E1E1 solid;
  margin-bottom: 40px; }

/* line 38, ../../scss/stoves/layout/_blog.scss */
.blog-row-filter {
  border-bottom: thin #E1E1E1 solid;
  margin-bottom: 30px;
  padding-bottom: 30px; }
  /* line 42, ../../scss/stoves/layout/_blog.scss */
  .blog-row-filter .filter {
    color: #4C4C4C;
    margin-bottom: 50px;
    margin-right: 15px; }
  /* line 47, ../../scss/stoves/layout/_blog.scss */
  .blog-row-filter .blog-item-title {
    font-weight: bold;
    margin-right: 15px; }

/* line 52, ../../scss/stoves/layout/_blog.scss */
.recipe-list {
  list-style: none;
  margin-left: 0; }
  /* line 56, ../../scss/stoves/layout/_blog.scss */
  .recipe-list li p {
    margin: 8px 0; }

/* line 61, ../../scss/stoves/layout/_blog.scss */
.blog-item {
  margin-bottom: 20px;
  height: 260px; }
  /* line 64, ../../scss/stoves/layout/_blog.scss */
  .blog-item .blog-item-title {
    font-weight: bold; }
  /* line 67, ../../scss/stoves/layout/_blog.scss */
  .blog-item .blog-item-img {
    overflow: hidden;
    width: 100%; }
    @media only screen and (max-width: 690px) {
      /* line 67, ../../scss/stoves/layout/_blog.scss */
      .blog-item .blog-item-img {
        height: auto; } }
    @media only screen and (min-width: 690px) {
      /* line 67, ../../scss/stoves/layout/_blog.scss */
      .blog-item .blog-item-img {
        height: 170px; } }
    /* line 76, ../../scss/stoves/layout/_blog.scss */
    .blog-item .blog-item-img img {
      width: 100%; }
  /* line 81, ../../scss/stoves/layout/_blog.scss */
  .blog-item .blog-item-summary {
    margin-top: 10px;
    font-size: 14px;
    font-size: 0.875rem; }

/* line 88, ../../scss/stoves/layout/_blog.scss */
.retailers-img {
  height: 150px;
  display: table;
  text-align: center;
  margin: 20px 0; }
  /* line 94, ../../scss/stoves/layout/_blog.scss */
  .retailers-img a {
    display: table-cell;
    vertical-align: middle; }
  /* line 98, ../../scss/stoves/layout/_blog.scss */
  .retailers-img img {
    max-height: 95px; }

/* line 105, ../../scss/stoves/layout/_blog.scss */
#national-retailers h3 {
  text-transform: uppercase;
  letter-spacing: 3px; }

/* line 112, ../../scss/stoves/layout/_blog.scss */
.share-article .fa {
  font-size: 30px;
  margin-left: 15px;
  margin-right: 0; }

/* line 1, ../../scss/stoves/layout/_navigation.scss */
.navbar-default {
  background-color: white;
  border: none; }

/* line 6, ../../scss/stoves/layout/_navigation.scss */
.navbar {
  border: 1px solid transparent;
  margin-bottom: 50px;
  margin-top: 50px;
  min-height: 50px;
  position: relative; }

/* line 14, ../../scss/stoves/layout/_navigation.scss */
.navbar-default .navbar-nav > li > a {
  color: black;
  text-decoration: none;
  font-weight: 400; }

/* line 20, ../../scss/stoves/layout/_navigation.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #766B56;
  background-color: transparent;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }

/* line 28, ../../scss/stoves/layout/_navigation.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7; }

/* line 36, ../../scss/stoves/layout/_navigation.scss */
#search-nav {
  background-color: #E1E1E1; }
  /* line 39, ../../scss/stoves/layout/_navigation.scss */
  #search-nav .navbar-form {
    width: 100%;
    padding: 20px 0; }
  /* line 44, ../../scss/stoves/layout/_navigation.scss */
  #search-nav .form-control {
    border: none;
    box-shadow: unset;
    background-color: transparent;
    border-left: thin solid #4C4C4C; }
    /* line 49, ../../scss/stoves/layout/_navigation.scss */
    #search-nav .form-control :before {
      content: "|"; }
  /* line 53, ../../scss/stoves/layout/_navigation.scss */
  #search-nav input[type=image] {
    float: right;
    height: 60px;
    position: relative;
    right: 0px;
    padding-top: 10px; }

/* line 61, ../../scss/stoves/layout/_navigation.scss */
#categories, #whybuy {
  background-color: #4C4C4C; }

/* line 66, ../../scss/stoves/layout/_navigation.scss */
.topnav-drop .product-image {
  margin-top: 30px; }
  /* line 68, ../../scss/stoves/layout/_navigation.scss */
  .topnav-drop .product-image img {
    width: 120px; }
/* line 72, ../../scss/stoves/layout/_navigation.scss */
.topnav-drop h4 {
  font-weight: 700;
  color: white; }
/* line 73, ../../scss/stoves/layout/_navigation.scss */
.topnav-drop ul {
  list-style: none;
  color: white;
  padding-bottom: 30px;
  margin-left: 0; }
  /* line 78, ../../scss/stoves/layout/_navigation.scss */
  .topnav-drop ul li {
    padding: 2px 0; }
  /* line 81, ../../scss/stoves/layout/_navigation.scss */
  .topnav-drop ul li > a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-size: 1rem;
    opacity: 0.8; }
    /* line 86, ../../scss/stoves/layout/_navigation.scss */
    .topnav-drop ul li > a:hover {
      text-decoration: underline; }

/* line 2, ../../scss/stoves/layout/_footer.scss */
footer a:link, footer a:visited {
  text-decoration: none; }
/* line 5, ../../scss/stoves/layout/_footer.scss */
footer a:hover, footer a:active {
  text-decoration: underline; }
/* line 8, ../../scss/stoves/layout/_footer.scss */
footer h4, footer .h4 {
  margin: 0;
  font-weight: 700; }
/* line 12, ../../scss/stoves/layout/_footer.scss */
footer ul {
  margin-top: 10px; }

/* line 16, ../../scss/stoves/layout/_footer.scss */
#newsletter-desktop {
  height: 175px;
  color: white; }
  /* line 19, ../../scss/stoves/layout/_footer.scss */
  #newsletter-desktop .news-form {
    margin-top: 60px; }
  /* line 22, ../../scss/stoves/layout/_footer.scss */
  #newsletter-desktop .news-icon {
    margin-top: 40px; }
    /* line 24, ../../scss/stoves/layout/_footer.scss */
    #newsletter-desktop .news-icon .svg {
      width: 150px; }
      /* line 26, ../../scss/stoves/layout/_footer.scss */
      #newsletter-desktop .news-icon .svg path {
        fill: #fff; }
  /* line 31, ../../scss/stoves/layout/_footer.scss */
  #newsletter-desktop .news-copy {
    margin-top: 40px; }
    /* line 33, ../../scss/stoves/layout/_footer.scss */
    #newsletter-desktop .news-copy h4 {
      margin-bottom: 0px;
      font-weight: 700; }
  /* line 38, ../../scss/stoves/layout/_footer.scss */
  #newsletter-desktop .btn-default {
    color: white;
    border-left: none; }
  /* line 42, ../../scss/stoves/layout/_footer.scss */
  #newsletter-desktop .navbar-form .form-control {
    margin-right: -5px;
    min-height: 41px; }

/* line 48, ../../scss/stoves/layout/_footer.scss */
.newsletter-background {
  background-color: #766B56; }

/* line 52, ../../scss/stoves/layout/_footer.scss */
.footer-background {
  background-color: #F0F0F0; }

/* line 56, ../../scss/stoves/layout/_footer.scss */
#contact {
  margin-top: 50px;
  margin-bottom: 40px; }

/* line 61, ../../scss/stoves/layout/_footer.scss */
#customer-care {
  margin-bottom: 30px; }
  /* line 64, ../../scss/stoves/layout/_footer.scss */
  #customer-care .fa {
    font-size: 30px;
    color: #4C4C4C;
    padding-right: 5px;
    margin-top: 15px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    /* line 70, ../../scss/stoves/layout/_footer.scss */
    #customer-care .fa:hover {
      color: #766B56;
      text-decoration: none; }

/* line 77, ../../scss/stoves/layout/_footer.scss */
.copy-text {
  margin-top: 45px; }
  /* line 79, ../../scss/stoves/layout/_footer.scss */
  .copy-text p {
    font-size: 16px;
    font-size: 1rem;
    padding-top: 25px; }
  /* line 83, ../../scss/stoves/layout/_footer.scss */
  .copy-text #made-footer {
    width: 100px;
    margin-bottom: 25px; }
  /* line 88, ../../scss/stoves/layout/_footer.scss */
  .copy-text #queen-footer {
    width: 55px;
    margin-left: 15px;
    margin-top: -10px; }

/* line 95, ../../scss/stoves/layout/_footer.scss */
.full-divide {
  border-top: 2px solid #4C4C4C;
  padding-top: 60px;
  margin-left: -5px;
  margin-right: -5px; }

/* line 1, ../../scss/stoves/layout/_home.scss */
#home-parallax {
  height: 400px;
  background: url(images/bg.jpg) no-repeat center center fixed;
  background-size: cover; }

/* line 9, ../../scss/stoves/layout/_home.scss */
#hero-carousel {
  overflow: hidden; }
  /* line 11, ../../scss/stoves/layout/_home.scss */
  #hero-carousel .carousel-caption {
    left: unset;
    bottom: unset;
    right: unset;
    position: absolute;
    z-index: 10;
    text-align: left;
    text-shadow: unset; }
    @media only screen and (max-width: 690px) {
      /* line 11, ../../scss/stoves/layout/_home.scss */
      #hero-carousel .carousel-caption {
        top: 15px;
        text-align: center; } }
    @media only screen and (min-width: 690px) {
      /* line 11, ../../scss/stoves/layout/_home.scss */
      #hero-carousel .carousel-caption {
        top: 15px;
        text-align: left; } }
    @media only screen and (min-width: 768px) {
      /* line 11, ../../scss/stoves/layout/_home.scss */
      #hero-carousel .carousel-caption {
        top: 20px; } }
    @media only screen and (min-width: 990px) {
      /* line 11, ../../scss/stoves/layout/_home.scss */
      #hero-carousel .carousel-caption {
        top: 50px; } }
    /* line 33, ../../scss/stoves/layout/_home.scss */
    #hero-carousel .carousel-caption h1 {
      font-size: 2.5rem;
      font-weight: 500;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin-bottom: 0; }
  /* line 41, ../../scss/stoves/layout/_home.scss */
  #hero-carousel .carousel-indicators {
    left: unset;
    list-style: outside none none;
    margin-left: unset;
    padding-left: 0;
    position: absolute;
    text-align: left;
    width: 50%;
    z-index: 15; }
    @media only screen and (max-width: 690px) {
      /* line 41, ../../scss/stoves/layout/_home.scss */
      #hero-carousel .carousel-indicators {
        bottom: 15px;
        text-align: center; } }
    @media only screen and (min-width: 690px) {
      /* line 41, ../../scss/stoves/layout/_home.scss */
      #hero-carousel .carousel-indicators {
        bottom: 15px;
        text-align: left; } }
    @media only screen and (min-width: 768px) {
      /* line 41, ../../scss/stoves/layout/_home.scss */
      #hero-carousel .carousel-indicators {
        bottom: 20px; } }
    @media only screen and (min-width: 990px) {
      /* line 41, ../../scss/stoves/layout/_home.scss */
      #hero-carousel .carousel-indicators {
        bottom: 50px; } }
    /* line 64, ../../scss/stoves/layout/_home.scss */
    #hero-carousel .carousel-indicators li {
      background-color: rgba(255, 255, 255, 0.5);
      border: medium none;
      height: 12px;
      width: 12px; }
    /* line 70, ../../scss/stoves/layout/_home.scss */
    #hero-carousel .carousel-indicators .active {
      background-color: white; }

/* line 75, ../../scss/stoves/layout/_home.scss */
#hero-carousel, .item {
  overflow: hidden; }
  @media only screen and (max-width: 690px) {
    /* line 75, ../../scss/stoves/layout/_home.scss */
    #hero-carousel, .item {
      height: 250px; } }
  @media only screen and (min-width: 690px) {
    /* line 75, ../../scss/stoves/layout/_home.scss */
    #hero-carousel, .item {
      height: 300px; } }
  @media only screen and (min-width: 768px) {
    /* line 75, ../../scss/stoves/layout/_home.scss */
    #hero-carousel, .item {
      height: 360px; } }
  @media only screen and (min-width: 990px) {
    /* line 75, ../../scss/stoves/layout/_home.scss */
    #hero-carousel, .item {
      height: 445px; } }
  @media only screen and (min-width: 1250px) {
    /* line 75, ../../scss/stoves/layout/_home.scss */
    #hero-carousel, .item {
      height: 560px; } }

/* line 104, ../../scss/stoves/layout/_home.scss */
#social {
  background-color: #F0F0F0;
  padding: 50px 0; }
  /* line 107, ../../scss/stoves/layout/_home.scss */
  #social .home-social {
    overflow: hidden;
    height: auto;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    @media only screen and (min-width: 768px) {
      /* line 107, ../../scss/stoves/layout/_home.scss */
      #social .home-social {
        height: 255px; } }
    @media only screen and (min-width: 990px) {
      /* line 107, ../../scss/stoves/layout/_home.scss */
      #social .home-social {
        height: 310px; } }
    @media only screen and (min-width: 1250px) {
      /* line 107, ../../scss/stoves/layout/_home.scss */
      #social .home-social {
        height: 370px; } }
    /* line 124, ../../scss/stoves/layout/_home.scss */
    #social .home-social img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      opacity: 0.85; }
    /* line 131, ../../scss/stoves/layout/_home.scss */
    #social .home-social h5 {
      letter-spacing: 3px;
      text-transform: uppercase;
      margin: 0 0 100px; }
    /* line 136, ../../scss/stoves/layout/_home.scss */
    #social .home-social .overlay {
      position: absolute;
      top: 0;
      padding: 20px;
      opacity: 1;
      color: white;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      -transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out; }
    /* line 145, ../../scss/stoves/layout/_home.scss */
    #social .home-social .slideIn {
      padding: 2em;
      color: #fff;
      opacity: 0;
      -webkit-transform: translateY(-200px);
      /* Safari */
      -ms-transform: translateY(-200px);
          transform: translateY(-200px);
      /* Standard syntax */
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    /* line 154, ../../scss/stoves/layout/_home.scss */
    #social .home-social .btn-default {
      color: white; }
    /* line 157, ../../scss/stoves/layout/_home.scss */
    #social .home-social:hover {
      background-color: black; }
      /* line 159, ../../scss/stoves/layout/_home.scss */
      #social .home-social:hover .overlay {
        opacity: 0; }
      /* line 162, ../../scss/stoves/layout/_home.scss */
      #social .home-social:hover .slideIn {
        -webkit-transform: translateY(-350px);
        /* Safari */
        -ms-transform: translateY(-350px);
            transform: translateY(-350px);
        /* Standard syntax */
        opacity: 1; }

/* line 170, ../../scss/stoves/layout/_home.scss */
.view-all {
  font-size: 13px;
  letter-spacing: 3px;
  opacity: 0.5;
  position: relative;
  text-align: center;
  top: -20px;
  text-transform: capitalize; }

/* line 180, ../../scss/stoves/layout/_home.scss */
#product-categories {
  padding: 50px 0; }
  /* line 182, ../../scss/stoves/layout/_home.scss */
  #product-categories h2 {
    text-align: center;
    color: #4C4C4C;
    text-transform: uppercase;
    letter-spacing: 5px; }

/* line 191, ../../scss/stoves/layout/_home.scss */
#home-wtb .where, #home-wtb .download {
  text-align: center;
  padding: 15px 0;
  width: 50%;
  float: left;
  border: thin solid white; }
/* line 198, ../../scss/stoves/layout/_home.scss */
#home-wtb .where {
  background-color: #E1E1E1; }
  /* line 200, ../../scss/stoves/layout/_home.scss */
  #home-wtb .where img {
    height: 25px;
    margin-right: 15px; }
/* line 205, ../../scss/stoves/layout/_home.scss */
#home-wtb .download {
  background-color: #F0F0F0; }
  /* line 207, ../../scss/stoves/layout/_home.scss */
  #home-wtb .download svg {
    height: 25px;
    margin-right: 15px;
    margin-bottom: -6px; }
    /* line 211, ../../scss/stoves/layout/_home.scss */
    #home-wtb .download svg path {
      fill: black; }

/* line 217, ../../scss/stoves/layout/_home.scss */
#shop {
  background-color: #F0F0F0;
  text-align: center;
  padding: 100px 0; }
  /* line 221, ../../scss/stoves/layout/_home.scss */
  #shop .shopwith {
    width: 260px;
    margin: 0 auto; }
    /* line 224, ../../scss/stoves/layout/_home.scss */
    #shop .shopwith #shop-with {
      width: 100%;
      padding-bottom: 5px; }
    /* line 228, ../../scss/stoves/layout/_home.scss */
    #shop .shopwith #stoves {
      padding-bottom: 30px;
      width: 150px; }
    /* line 232, ../../scss/stoves/layout/_home.scss */
    #shop .shopwith .btn {
      width: 100%;
      margin-top: 15px; }

/* line 239, ../../scss/stoves/layout/_home.scss */
#inspire {
  background-color: #4C4C4C;
  color: white;
  padding: 20px 0 50px; }
  /* line 243, ../../scss/stoves/layout/_home.scss */
  #inspire h2, #inspire h5 {
    text-align: center;
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase; }
  /* line 249, ../../scss/stoves/layout/_home.scss */
  #inspire h5 {
    margin: 10px 0;
    font-size: 12px; }
  /* line 253, ../../scss/stoves/layout/_home.scss */
  #inspire a {
    text-decoration: none; }
    /* line 255, ../../scss/stoves/layout/_home.scss */
    #inspire a :hover {
      text-decoration: underline; }
  /* line 259, ../../scss/stoves/layout/_home.scss */
  #inspire .inspire-copy {
    background-color: white;
    height: 160px;
    margin-bottom: 40px;
    padding: 20px; }
    /* line 265, ../../scss/stoves/layout/_home.scss */
    #inspire .inspire-copy h4 {
      color: black;
      margin: 0; }
    /* line 269, ../../scss/stoves/layout/_home.scss */
    #inspire .inspire-copy p {
      height: 100px;
      margin: 0; }
  /* line 274, ../../scss/stoves/layout/_home.scss */
  #inspire .inspire-social {
    margin: 0 auto;
    width: 300px;
    text-align: center; }
    /* line 278, ../../scss/stoves/layout/_home.scss */
    #inspire .inspire-social .fa {
      color: #F0F0F0;
      font-size: 30px;
      margin-top: 15px;
      padding-right: 5px;
      transition: all 0.4s ease-in-out 0s; }
      /* line 284, ../../scss/stoves/layout/_home.scss */
      #inspire .inspire-social .fa:hover {
        color: #766B56;
        text-decoration: none; }

/* line 292, ../../scss/stoves/layout/_home.scss */
#register {
  padding: 50px 0; }
  /* line 294, ../../scss/stoves/layout/_home.scss */
  #register #reg-img {
    width: 180px; }
  /* line 297, ../../scss/stoves/layout/_home.scss */
  #register .btn-black {
    margin-top: 15px; }

/* line 2, ../../scss/stoves/layout/_product.scss */
.range-head .btn-default {
  color: white; }
/* line 6, ../../scss/stoves/layout/_product.scss */
.range-head.why-content .mid-content {
  text-align: left;
  height: 400px; }

/* line 13, ../../scss/stoves/layout/_product.scss */
.sidebar-offcanvas {
  background-color: #F0F0F0;
  height: 100vh; }

/* line 17, ../../scss/stoves/layout/_product.scss */
.product-color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px; }

/* line 28, ../../scss/stoves/layout/_product.scss */
.product-filters .radio label, .product-filters .checkbox label {
  padding: 0 8px; }
/* line 31, ../../scss/stoves/layout/_product.scss */
.product-filters .h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.5;
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 13px;
  font-size: 0.8125rem; }
/* line 39, ../../scss/stoves/layout/_product.scss */
.product-filters .list-group-item {
  display: block;
  padding: 10px 15px;
  margin: 0px;
  border: none;
  border-bottom: 1px solid #E1E1E1;
  background-color: #F0F0F0; }
/* line 47, ../../scss/stoves/layout/_product.scss */
.product-filters .checkbox {
  display: inline-block; }
  /* line 49, ../../scss/stoves/layout/_product.scss */
  .product-filters .checkbox input[type=checkbox] {
    display: none; }
/* line 53, ../../scss/stoves/layout/_product.scss */
.product-filters .product-color {
  width: 30px;
  height: 30px; }

/* line 59, ../../scss/stoves/layout/_product.scss */
.product-listing {
  margin-bottom: 70px; }

/* line 63, ../../scss/stoves/layout/_product.scss */
.product-container {
  text-align: center;
  border-bottom: thin solid #E1E1E1;
  padding-bottom: 20px;
  height: 575px; }
  @media only screen and (min-width: 768px) {
    /* line 63, ../../scss/stoves/layout/_product.scss */
    .product-container {
      border-right: none; } }
  @media only screen and (min-width: 990px) {
    /* line 73, ../../scss/stoves/layout/_product.scss */
    .product-container:nth-child(odd) {
      border-right: thin solid #E1E1E1; } }
  /* line 76, ../../scss/stoves/layout/_product.scss */
  .product-container img {
    max-width: 70%;
    max-height: 300px; }
  /* line 80, ../../scss/stoves/layout/_product.scss */
  .product-container .h5 {
    font-weight: bold; }
  /* line 81, ../../scss/stoves/layout/_product.scss */
  .product-container p {
    opacity: 0.5; }
  /* line 82, ../../scss/stoves/layout/_product.scss */
  .product-container .h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.5;
    margin-bottom: 10px;
    font-size: 13px;
    font-size: 0.8125rem; }
  /* line 90, ../../scss/stoves/layout/_product.scss */
  .product-container .buy-now {
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 13px;
    font-size: 0.8125rem; }
    /* line 96, ../../scss/stoves/layout/_product.scss */
    .product-container .buy-now a:link, .product-container .buy-now a:visited {
      opacity: 1;
      color: #51AF59;
      font-weight: bold; }
  /* line 102, ../../scss/stoves/layout/_product.scss */
  .product-container .review {
    width: 130px;
    margin: 0 auto; }

/* line 112, ../../scss/stoves/layout/_product.scss */
.product-box .info-icon {
  float: right;
  text-align: right;
  width: 100%; }
  /* line 116, ../../scss/stoves/layout/_product.scss */
  .product-box .info-icon img {
    width: 35px;
    padding: 10px 10px 0 0; }

/* line 123, ../../scss/stoves/layout/_product.scss */
.p-c-l img {
  max-width: 80%;
  max-height: 325px; }
/* line 127, ../../scss/stoves/layout/_product.scss */
.p-c-l p {
  padding: 15px 0 30px;
  opacity: 0.5; }
/* line 131, ../../scss/stoves/layout/_product.scss */
.p-c-l .btn {
  font-size: 14px; }

/* line 138, ../../scss/stoves/layout/_product.scss */
.p-c-s h5 {
  margin: 10px 0; }
/* line 141, ../../scss/stoves/layout/_product.scss */
.p-c-s .p-c-i {
  height: 165px;
  padding-bottom: 15px; }
  /* line 144, ../../scss/stoves/layout/_product.scss */
  .p-c-s .p-c-i img {
    max-width: 80%;
    max-height: 100%; }
/* line 150, ../../scss/stoves/layout/_product.scss */
.p-c-s .btn {
  font-size: 14px; }

/* line 156, ../../scss/stoves/layout/_product.scss */
#p-c-h {
  padding-bottom: 50px; }

/* line 3, ../../scss/stoves/layout/_whybuy.scss */
.why-buy .mid-content h4, .why-buy-range .mid-content h4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 0; }
/* line 14, ../../scss/stoves/layout/_whybuy.scss */
.why-buy h5, .why-buy-range h5 {
  text-align: center;
  letter-spacing: 5px;
  margin: 30px 0px;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem; }
/* line 21, ../../scss/stoves/layout/_whybuy.scss */
.why-buy h3, .why-buy-range h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 24px;
  font-size: 1.5rem; }
/* line 26, ../../scss/stoves/layout/_whybuy.scss */
.why-buy #richmond, .why-buy-range #richmond {
  color: white; }
  /* line 28, ../../scss/stoves/layout/_whybuy.scss */
  .why-buy #richmond a:link, .why-buy #richmond a:visited, .why-buy-range #richmond a:link, .why-buy-range #richmond a:visited {
    color: white; }
  /* line 31, ../../scss/stoves/layout/_whybuy.scss */
  .why-buy #richmond h3, .why-buy-range #richmond h3 {
    color: white; }
/* line 35, ../../scss/stoves/layout/_whybuy.scss */
.why-buy #boutique, .why-buy-range #boutique {
  color: white; }
  /* line 37, ../../scss/stoves/layout/_whybuy.scss */
  .why-buy #boutique img, .why-buy-range #boutique img {
    margin-top: 50px; }
/* line 44, ../../scss/stoves/layout/_whybuy.scss */
.why-buy #size, .why-buy #fuel, .why-buy #features-carousel, .why-buy-range #size, .why-buy-range #fuel, .why-buy-range #features-carousel {
  color: white; }
  /* line 46, ../../scss/stoves/layout/_whybuy.scss */
  .why-buy #size .btn, .why-buy #fuel .btn, .why-buy #features-carousel .btn, .why-buy-range #size .btn, .why-buy-range #fuel .btn, .why-buy-range #features-carousel .btn {
    color: white; }
/* line 51, ../../scss/stoves/layout/_whybuy.scss */
.why-buy #fuel ul.nav-tabs, .why-buy-range #fuel ul.nav-tabs {
  margin-bottom: 0px;
  margin-top: 20px; }
/* line 56, ../../scss/stoves/layout/_whybuy.scss */
.why-buy #features-carousel, .why-buy-range #features-carousel {
  color: white;
  background-color: #525252; }
  /* line 59, ../../scss/stoves/layout/_whybuy.scss */
  .why-buy #features-carousel .controls, .why-buy-range #features-carousel .controls {
    margin-top: 20px; }
    /* line 61, ../../scss/stoves/layout/_whybuy.scss */
    .why-buy #features-carousel .controls img, .why-buy-range #features-carousel .controls img {
      width: 15px;
      margin-right: 10px; }
/* line 67, ../../scss/stoves/layout/_whybuy.scss */
.why-buy ul.nav-tabs, .why-buy-range ul.nav-tabs {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  border: none; }
  /* line 73, ../../scss/stoves/layout/_whybuy.scss */
  .why-buy ul.nav-tabs li, .why-buy-range ul.nav-tabs li {
    float: unset;
    display: inline-block; }
    /* line 76, ../../scss/stoves/layout/_whybuy.scss */
    .why-buy ul.nav-tabs li a, .why-buy-range ul.nav-tabs li a {
      color: white;
      border: none;
      cursor: pointer;
      opacity: 0.5;
      background-color: unset; }
    /* line 84, ../../scss/stoves/layout/_whybuy.scss */
    .why-buy ul.nav-tabs li.active a, .why-buy ul.nav-tabs li:hover a, .why-buy-range ul.nav-tabs li.active a, .why-buy-range ul.nav-tabs li:hover a {
      color: white;
      border: none;
      cursor: pointer;
      opacity: 1;
      background-color: unset; }

/* line 96, ../../scss/stoves/layout/_whybuy.scss */
.tab2-container {
  float: right; }
  /* line 98, ../../scss/stoves/layout/_whybuy.scss */
  .tab2-container #tabsl2 {
    margin: 0 auto; }

/* line 103, ../../scss/stoves/layout/_whybuy.scss */
img.header-image {
  max-height: 105px;
  width: 100%; }

/* line 1, ../../scss/stoves/layout/_where-to-buy.scss */
.mib {
  background-color: #F0F0F0;
  padding: 40px 0; }
  /* line 4, ../../scss/stoves/layout/_where-to-buy.scss */
  .mib .h4 {
    font-weight: bold; }
  /* line 7, ../../scss/stoves/layout/_where-to-buy.scss */
  .mib p {
    opacity: 0.5; }

/* line 11, ../../scss/stoves/layout/_where-to-buy.scss */
.wtb-landing {
  margin-bottom: 20px; }

/* line 14, ../../scss/stoves/layout/_where-to-buy.scss */
.mib-img {
  width: 120px;
  margin-top: 37px; }
  @media only screen and (max-width: 690px) {
    /* line 14, ../../scss/stoves/layout/_where-to-buy.scss */
    .mib-img {
      float: left; } }
  @media only screen and (min-width: 690px) {
    /* line 14, ../../scss/stoves/layout/_where-to-buy.scss */
    .mib-img {
      float: right; } }

/* line 24, ../../scss/stoves/layout/_where-to-buy.scss */
#map-container, #bh-sl-map {
  height: 500px; }

/* line 27, ../../scss/stoves/layout/_where-to-buy.scss */
.map-address {
  margin-bottom: 25px;
  margin-top: 45px; }
  /* line 33, ../../scss/stoves/layout/_where-to-buy.scss */
  .map-address .h2 {
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-right: 20px; }
  /* line 42, ../../scss/stoves/layout/_where-to-buy.scss */
  .map-address .search-wtb .btn-default {
    color: black;
    border-color: black;
    border-left: none; }
  /* line 47, ../../scss/stoves/layout/_where-to-buy.scss */
  .map-address .search-wtb .navbar-form {
    margin-top: -10px; }
    /* line 49, ../../scss/stoves/layout/_where-to-buy.scss */
    .map-address .search-wtb .navbar-form .form-control {
      margin-right: -5px;
      min-height: 41px; }

/* line 57, ../../scss/stoves/layout/_where-to-buy.scss */
#national-retailers {
  margin-top: 30px; }

/* line 60, ../../scss/stoves/layout/_where-to-buy.scss */
.retailer {
  font-size: 13px;
  padding-left: 20px;
  letter-spacing: 0px;
  text-transform: none; }
  /* line 65, ../../scss/stoves/layout/_where-to-buy.scss */
  .retailer img {
    height: 30px; }

/* line 69, ../../scss/stoves/layout/_where-to-buy.scss */
.elite-retailer {
  color: #766B56; }

/* line 73, ../../scss/stoves/layout/_where-to-buy.scss */
.retailer-address {
  margin-top: 30px; }
  /* line 75, ../../scss/stoves/layout/_where-to-buy.scss */
  .retailer-address .icon {
    width: 35px;
    float: left;
    margin-top: 24px; }
    /* line 79, ../../scss/stoves/layout/_where-to-buy.scss */
    .retailer-address .icon .retailer {
      padding-left: 0; }
  /* line 83, ../../scss/stoves/layout/_where-to-buy.scss */
  .retailer-address .address {
    height: 240px;
    width: 85%;
    float: left; }
    /* line 87, ../../scss/stoves/layout/_where-to-buy.scss */
    .retailer-address .address h5 {
      font-weight: bold;
      margin-bottom: -15px; }
