﻿<div ng-controller="uMap.DeleteDialogController" class="umbracoDialog umb-dialog">
    <div class="umb-pane">
        <h3>Delete this location?</h3>
        <h5>Once it's gone, it's gone for ever...</h5>
        <button class="btn btn-danger" ng-click="deleteDialogClick(true)">Delete</button>
        &nbsp;<em>or </em>&nbsp;
        <button class="btn btn-default" ng-click="deleteDialogClick(false)">Cancel</button>
    </div>
</div>