﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using RJP.MultiUrlPicker.Models;
@using YouTube;
@{
	 var image = Model.Content.HasValue("mainImage") ? Umbraco.TypedMedia((int)(Model.Content.GetPropertyValue("mainImage"))) : null;
     var heading = Model.Content.GetPropertyValue("heading");
     var body = Model.Content.GetPropertyValue("body");
     DateTime start = Convert.ToDateTime(Model.Content.GetPropertyValue("startDate"));
     DateTime end = Convert.ToDateTime(Model.Content.GetPropertyValue("endDate"));
	 var tc = Model.Content.GetPropertyValue("termsConditions");
	 var socialFeed = Model.Content.AncestorOrSelf(1).Children.Where(x => x.DocumentTypeAlias == "SocialFeed").First();
	 var newsFeed = socialFeed.Children.Where(x => x.DocumentTypeAlias == "CompetitionFeed").First();
     var news = newsFeed.Children.Take(5);
	 var brand = Model.Content.AncestorOrSelf(1);
}


@* if full screen image *@
@* <div class="container-fluid text-center">    
    <div class="item-holder">
        <img src="http://placehold.it/1440x500" alt="">        
    </div>
</div>  *@

    <!--Wrap this with anything you as this pulls in the FAQ (accordin etc.) -->
<div class="container">
    <div class="row half-background">
        <div class="col-md-8 col-sm-6 left-col-article">
             <div class="h1 article-title blog-header">@heading</div>
             @* Image or video *@
			
		    @if (image != null)
        	{
				<div class="item-holder">
                	<img src="@image.GetResponsiveImageUrl(0,0)" />
            	</div>
			}
			<p>@String.Format("{0:d/M/yyyy}", start)  - @String.Format("{0:d/M/yyyy}", end)</p>
            <p>@body</p>
			<p>@tc</p>		

            @Html.Partial("Brand/Master/Share")
        </div>
        <div class="col-md-4 col-sm-6 right-col-article">
            <ul class="sidenav-list">
                <li><h5><a href="/conversation/competitions/"><strong>More like this</strong></a></h5></li>
                @foreach(var post in news)
				{
					<li><a href="@post.Url"><span class="right-text">@Umbraco.Truncate(post.Name,50, true)</span><span class="float-right right-icon"><img src="/media/622953/arrow-right.svg" alt=""></span></a></li>
				}  
            </ul>
        </div>
    <!--//-->        
    </div>  @* End row *@   
</div>

