﻿@using Archetype.Models
@using RJP.MultiUrlPicker.Models
@inherits UmbracoTemplatePage
@{
    var homeNode = Model.Content.AncestorOrSelf(1);
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var globalSettings = settingsFolder.Children.First(x => x.IsDocumentType("USNGlobalSettings"));
    var socialFeed = Model.Content.AncestorOrSelf(1).Children.Where(x => x.DocumentTypeAlias == "SocialFeed").First();
    var newsFeed = socialFeed.Children.Where(x => x.DocumentTypeAlias == "EventFeed").First();
    var news = newsFeed.Children;
    var facebook = globalSettings.GetPropertyValue("facebookLink");
    var twitter = globalSettings.GetPropertyValue("twitterLink");
    var calendar = Model.Content.GetPropertyValue<ArchetypeModel>("foodShowEvents1");
    var calendar1 = Model.Content.GetPropertyValue<ArchetypeModel>("foodShowEvents2");
    var calendar2 = Model.Content.GetPropertyValue<ArchetypeModel>("foodShowEvents3");
    var calendar3 = Model.Content.GetPropertyValue<ArchetypeModel>("foodShowEvents4");
	var head1 = Model.Content.GetPropertyValue("heading1");
	var head2 = Model.Content.GetPropertyValue("heading2");
	var head3 = Model.Content.GetPropertyValue("heading3");
	var head4 = Model.Content.GetPropertyValue("heading4");
	var footer1 = Model.Content.GetPropertyValue("footer1");
	var footer2 = Model.Content.GetPropertyValue("footer2");
	var footer3 = Model.Content.GetPropertyValue("footer3");
	var footer4 = Model.Content.GetPropertyValue("footer4");
	
	
<div class="container-fluid" id="events">
    <div class="container">
        <div class="row blog-row-filter">
            <div class="blog-header">
                <h1>@Model.Content.Name</h1>
                @Html.Partial("brand/socialfeed/filter")
            </div>
        </div>
        <div class="row general-grid">
            @foreach (var child in news)
            {
                if (child.IsVisible())
                {
                    var heading = child.GetPropertyValue("heading");
                    var image = child.HasValue("thumbImage") ? Umbraco.TypedMedia((int) child.GetPropertyValue("thumbImage")) : null;
                    var description = child.GetPropertyValue("description");
                    var date = child.GetPropertyValue("date");
                    <div class="col-xl-6 col-sm-6 col-md-6">
                        @if (image != null)
                        {
                            <a href="@child.Url">
                                <img src="@image.GetCropUrl(290,170)"/>
                            </a>
                        }
                        <a href="@child.Url">
                            <p class="blog-item-date">@date</p>
                            <h4 class="blog-item-title">@heading</h4>
                        </a>
                        <p class="blog-item-summary">@description</p>
                    </div>
                }
            }
        </div>
    </div>

    <div class="calendar">
    <div class="container">
    <div class="row general-head">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h1>Calendar</h1>
            <p>for your chance to WIN TICKETS to upcoming events follow us on Facebook and Twitter</p>
            <div class="share-article">                 
                <a href="@twitter" target="_blank"><i class="fa fa-twitter">&nbsp;</i> </a>
                <a href="@facebook" target="_blank"><i class="fa fa-facebook">&nbsp;</i></a>
            </div>
        </div>
    </div>
    @* event calander row *@
    @if (calendar.Any())
    {
        <div class="row">
            <div class="col-sm-12">
                <h4 class="event-title">@head1</h4>
            </div>

            <div class="desktop-only event-show-info">
                <div class="col-sm-4">
                    <h6>Show, Location</h6>
                </div>
                <div class="col-sm-4">
                    <h6>Date</h6>
                </div>
                <div class="col-sm-4">
                    <h6>Visit Site</h6>
                </div>
            </div>


            @foreach (var fieldset in calendar)
            {
            var location = fieldset.HasValue("location") ? fieldset.GetValue<string>("location"):"";
            var date = fieldset.HasValue("date") ? fieldset.GetValue<string>("date"):"";
            var heading = fieldset.HasValue("heading") ? fieldset.GetValue<string>("heading"):"";
            var link = fieldset.HasValue("link") ? fieldset.GetValue<MultiUrls>("link").First().Url:"";

            <div class="calander-row">
                <div class="col-sm-4 col-xs-12">
                    <p>@heading, @location</p>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <p>@date</p>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <a href="@link"><p>More info <span class="float-right right-icon"><img src="/media/622953/arrow-right.svg" alt=""></span></p></a>
                </div>
            </div>
            }
            <div class="calander-extra col-sm-12">
                @footer1
            </div>

        </div>
    }
    @if (calendar1.Any())
    {
        <div class="row">
            <h4>@head2</h4>
            <div class="calander-extra col-sm-12">
                @footer2
            </div>

            <div class="desktop-only calander-row">
                <div class="col-sm-4">
                    <h6>Show, Location</h6>
                </div>
                <div class="col-sm-4">
                    <h6>Date</h6>
                </div>
                <div class="col-sm-4">
                    <h6>Visit Site</h6>
                </div>
            </div>



            @foreach (var fieldset in calendar1)
            {
                var location = fieldset.HasValue("location") ? fieldset.GetValue<string>("location") : "";
                var date = fieldset.HasValue("date") ? fieldset.GetValue<string>("date") : "";
                var heading = fieldset.HasValue("heading") ? fieldset.GetValue<string>("heading") : "";
                var link = fieldset.HasValue("link") ? fieldset.GetValue<MultiUrls>("link").First().Url : "";

                <div class="calendar-row">
                    <div class="col-sm-4 col-xs-12">
                        <p>@heading, @location</p>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <p>@date</p>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <a href="@link"><p>More info <span class="float-right right-icon"><img src="/media/622953/arrow-right.svg" alt=""></span></p></a>
                    </div>
                </div>
            }

        </div>
    }

        @if (calendar2.Any())
         {
             <div class="row">
                <h4>@head3</h4>
                
                <div class="desktop-only">
                    <div class="col-sm-4">
                        <h6>Show, Location</h6>
                    </div>
                    <div class="col-sm-4">
                        <h6>Date</h6>
                    </div>
                    <div class="col-sm-4">
                        <h6>Visit Site</h6>
                    </div>
                </div>



                @foreach (var fieldset in calendar2)
                {
                    var location = fieldset.HasValue("location") ? fieldset.GetValue<string>("location"):"";
                    var date = fieldset.HasValue("date") ? fieldset.GetValue<string>("date"):"";
                    var heading = fieldset.HasValue("heading") ? fieldset.GetValue<string>("heading"):"";
                    var link = fieldset.HasValue("link") ? fieldset.GetValue<MultiUrls>("link").First().Url:"";

                    <div class="calander-row">
                     <div class="col-sm-4 col-xs-12">
                         <p>@heading, @location</p>
                     </div>
                     <div class="col-sm-4 col-xs-12">
                         <p>@date</p>
                     </div>
                     <div class="col-sm-4 col-xs-12">
                         <a href="@link"><p>More info <span class="float-right right-icon"><img src="/media/622953/arrow-right.svg" alt=""></span></p></a>
                     </div>
                    </div>
                }
                <div class="calander-extra col-sm-12">
                    @footer3
                </div>
             </div>
         }
        @if (calendar3.Any())
         {
             <div class="row">
                 <h4>@head4</h4>
				
				<div class="desktop-only">
					<div class="col-sm-4">
						<h6>Show, Location</h6>
					</div>
					<div class="col-sm-4">
						<h6>Date</h6>
					</div>
					<div class="col-sm-4">
						<h6>Visit Site</h6>
					</div>
				</div>



                @foreach (var fieldset in calendar3)
                {
                    var location = fieldset.HasValue("location") ? fieldset.GetValue<string>("location"):"";
                    var date = fieldset.HasValue("date") ? fieldset.GetValue<string>("date"):"";
                    var heading = fieldset.HasValue("heading") ? fieldset.GetValue<string>("heading"):"";
                    var link = fieldset.HasValue("link") ? fieldset.GetValue<MultiUrls>("link").First().Url:"";

                <div class="calander-row">
                    <div class="col-sm-4 col-xs-12">
                        <p>@heading, @location</p>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <p>@date</p>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <a href="@link"><p>More info <span class="float-right right-icon"><img src="/media/622953/arrow-right.svg" alt=""></span></p></a>
                    </div>
                </div>
                }
                <div class="calander-extra col-sm-12">
                    @footer4
                </div>
        
            </div>
        }
                    @* End calander row *@
        </div>

    </div>

</div>
    
}