﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using USN.BusinessLogic;
@{
    var socialFeed = Model.Content.AncestorOrSelf(1).Children.Where(x => x.DocumentTypeAlias == "SocialFeed").First();
    var newsFeed = socialFeed.Children.Where(x => x.DocumentTypeAlias == "NewsFeed").First();
    var news = newsFeed.Children;
	@*Pagination*@
	var nodes = news.OrderBy("createDate desc, sortOrder desc");
	int pageSize = 12; // How many items per page
	int page; // The page we are viewing
	var currentPage = umbraco.NodeFactory.Node.GetCurrent();
	string parentId = currentPage.Path.Split(',')[1];    
	if (!int.TryParse(Request.QueryString["page"], out page))
	{
		page = 1;
	}
	int totalNodes = nodes.Count();
	int totalPages = (int)Math.Ceiling((double)totalNodes / (double)pageSize);

	if (page > totalPages)
	{
		page = totalPages;
	}
	else if (page < 1)
	{
		page = 1;
	}
	@*End Pagination*@
}
<div class="container-fluid blog-topback">
    <div class="container">
        <div class="row blog-row-filter">
            <div class="blog-header">
                <h1>@Model.Content.Name</h1>
                @Html.Partial("brand/socialfeed/filter")
            </div>
        </div>
    			
        <div class="row">
                @foreach (IPublishedContent child in nodes.Skip((page - 1) * pageSize).Take(pageSize))
                {
                    if (child.IsVisible())
                    {
                        var heading = child.GetPropertyValue<string>("heading");
                        
                        var image = "";
                        if(child.HasProperty("thumbImage") && child.HasValue("thumbImage"))
                        {
                            try{
                                image = !String.IsNullOrEmpty(child.GetPropertyValue("thumbImage").ToString()) ? Umbraco.TypedMedia((int)(child.GetPropertyValue("thumbImage"))).GetCropUrl(290,170) : "https://placehold.it/290x170";
                            }
                            catch
                            {
                                @* image = child.GetPropertyValue("thumbImage").ToString(); *@
                                image = "https://placehold.it/290x170";
                            }
                        }

                        <div class="col-xl-3 col-md-4 col-sm-6 blog-item">
                            @if (image != null)
                            {
                                <a href="@child.Url">
                                    <div class="blog-item-img">
                                        <img src="@image" />
                                    </div>
                                </a>
                            }
    						<div class="blog-item-summary">
    							<a href="@child.Url"><h5 class="blog-item-title blog-header">@Umbraco.Truncate(heading,95,true)</h5></a>
    						</div>                        
                        </div>
                    }
                }
            </div>
        <div>
            @RenderPagination(page, totalNodes, pageSize)
        </div>
    </div>
</div>


			
			
@helper RenderPagination(int page, int postCount, int itemsPerPage)
{
    int pages = (int)Math.Ceiling((double)postCount / (double)itemsPerPage);

    string url = Request.Url.ToString();
    string querystring = Request.Url.Query;

    int pagesPerGroup = 10;

    if (pages > 1)
    {
        <nav id="pagination" class="text-center">
            <ul class="pagination">
                @* render prev link *@
                @if (page > 1)
                {
                    url = url.ReplaceQueryStringItem("page", (page - 1).ToString());
                    <li>
                        <a href="@url" aria-label="Previous"><i class="fa fa-angle-left"></i>@umbraco.library.GetDictionaryItem("USN Listing Navigation Previous")</a>
                    </li>

                    if (page > pagesPerGroup)
                    {
                        if (page % pagesPerGroup == 0)
                        {
                            url = url.ReplaceQueryStringItem("page", (page - pagesPerGroup).ToString());
                        }
                        else
                        {
                            url = url.ReplaceQueryStringItem("page", ((page / pagesPerGroup) * pagesPerGroup).ToString());
                        }

                        <li><a href="@url">...</a></li>
                    }
                }
                @* render page links *@
                @{
                int pagesCount = 0;
                int startPage = 1;


                if (page <= pagesPerGroup)
                {
                    startPage = 1;
                }
                else if (page % pagesPerGroup > 0)
                {
                    startPage = page - (page % pagesPerGroup) + 1;
                }
                else if (page % pagesPerGroup == 0)
                {
                    startPage = (page - pagesPerGroup) + 1;
                }

                for (int i = startPage; i < pages + 1; i++)
                {
                    if (pagesCount == pagesPerGroup)
                    {
                        break;
                    }
                    url = url.ReplaceQueryStringItem("page", i.ToString());
                    string pageClass = i == page ? "active" : string.Empty;

                    <li class="@pageClass">
                        @if (page == i)
                        {
                            <a href="@url" class="disabled">@i<span class="sr-only">(current)</span></a>
                        }
                        else
                        {
                            <a href="@url">@i</a>
                        }
                    </li>

                        pagesCount += 1;
                }

                }
                @{

                int totalGroups = 0;

                if (pages % pagesPerGroup == 0)
                {
                    totalGroups = pages / pagesPerGroup;
                }
                else
                {
                    totalGroups = pages / pagesPerGroup + 1;
                }

                int currentGroup = 0;

                if (page % pagesPerGroup == 0)
                {
                    currentGroup = page / pagesPerGroup;
                }
                else
                {
                    currentGroup = page / pagesPerGroup + 1;
                }


                if (totalGroups != currentGroup)
                {

                    if (page % pagesPerGroup == 0)
                    {
                        url = url.ReplaceQueryStringItem("page", (page + 1).ToString());
                    }
                    else
                    {
                        int liPageNumber = (((page / pagesPerGroup) + 1) * pagesPerGroup) + 1;
                        url = url.ReplaceQueryStringItem("page", liPageNumber.ToString());
                    }

                    <li>
                        <a href="@url">...</a>
                    </li>
                }
                }

                @if (page < Math.Ceiling((double)postCount / itemsPerPage))
                {
                    url = url.ReplaceQueryStringItem("page", (page + 1).ToString());
                    @* render next link *@
                    <li>
                        <a href="@url" aria-label="Next">@umbraco.library.GetDictionaryItem("USN Listing Navigation Next")<i class="fa fa-angle-right after"></i></a>
                    </li>
                }
            </ul>
        </nav>
    }
}

			