﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using RJP.MultiUrlPicker.Models;
@{
	var homeNode = Model.Content.AncestorOrSelf(1);
	var image = Model.Content.HasValue("mainImage") ? Umbraco.TypedMedia((int)(Model.Content.GetPropertyValue("mainImage"))) : null;
	var heading = Model.Content.GetPropertyValue("heading");
	var preperationTime = Model.Content.GetPropertyValue("preperationTime");
	var cookingTime = Model.Content.GetPropertyValue("cookingTime");
	var serves = Model.Content.GetPropertyValue("serves");
	string[] ingredients = Model.Content.GetPropertyValue<string[]>("ingredients");
	var body = Model.Content.GetPropertyValue("body");
	var socialFeed = Model.Content.AncestorOrSelf(1).Children.Where(x => x.DocumentTypeAlias == "SocialFeed").First();
	var newsFeed = socialFeed.Children.Where(x => x.DocumentTypeAlias == "RecipeFeed").First();
	var news = newsFeed.Children.Take(5);
}

@* if full screen image *@
@* <div class="container-fluid text-center">    
    <div class="item-holder">
        <img src="http://placehold.it/1440x500" alt="">        
    </div>
</div> 
 *@
<div class="container">
    <div class="row half-background">
        <div class="col-md-8 col-sm-6 left-col-article">
             <div class="h1 article-title blog-header">
                @heading                
             </div>
             @* Image or video *@
		    @if (image != null)
        	{
				<div class="item-holder">
                	<img src="@image.GetResponsiveImageUrl(0,0)" />
            	</div>
			}
            
            <div class="col-md-8 col-sm-6">
                <h4>@Umbraco.Field("#Method")</h4>
                <p>@body</p>                
            </div>

			<div class="col-md-4 col-sm-6">
                <h4>@Umbraco.Field("#Ingredients")</h4>
                <p>@Umbraco.Field("#Prep Time"): @preperationTime</p>
                <p>@Umbraco.Field("#Cook Time"): @cookingTime</p>
                <p>@Umbraco.Field("#Serves"): @serves</p>
                <ul class="recipe-list">
                   @foreach (string ingredient in ingredients)
                   {
                       if(!String.IsNullOrWhiteSpace(ingredient))
                       { 
                            <li>
                                <p>@ingredient</p>
                            </li>
                       }
                   }
                </ul>
            </div>
			
			@if(homeNode.Name != "Stoves German")
			{
				<div class="col-sm-12">
					@Html.Partial("Brand/Master/Share")
				</div>	
			}
                 
        </div>
        <div class="col-md-4 col-sm-6 right-col-article">
            <ul class="sidenav-list">
				<li><h5><a href="/conversation/recipes/"><strong>@Umbraco.Field("#More like this")</strong></a></h5></li>
				@foreach(var post in news)
				{
					<li><a href="@post.Url"><span class="right-text">@post.Name</span></a></li>
					@*<span class="float-right right-icon"><img src="/media/622953/arrow-right.svg" alt=""></span>*@
				}                
            </ul>
        </div>
    <!--//-->        
    </div>  @* End row *@   
</div>

