﻿@inherits UmbracoTemplatePage
@using System.Globalization
@using System.Threading
@using YouTube.Models
@{
    var originalCulture = Thread.CurrentThread.CurrentCulture;
    Thread.CurrentThread.CurrentCulture = new CultureInfo("en-GB");
    //var typedVideo = Model.Content.GetPropertyValue<YouTube>("videoPicker").First();
    Google.Apis.YouTube.v3.Data.Video typedVideo = new Google.Apis.YouTube.v3.Data.Video();
    var title = "";
    var date = "";
    try
    {
        typedVideo = Model.Content.GetPropertyValue<YouTube>("videoPicker").First();
        title = typedVideo.Snippet.Title;
        date = typedVideo.Snippet.PublishedAt.Value.ToShortDateString();

    }
    catch
    {

    }

    var body = Model.Content.GetPropertyValue("description");
    var brand = Model.Content.AncestorOrSelf(1);
    var socialFeed = Model.Content.AncestorOrSelf(1).Children.Where(x => x.DocumentTypeAlias == "SocialFeed").First();
    var newsFeed = socialFeed.Children.Where(x => x.DocumentTypeAlias == "VideoFeed").First();
    var news = newsFeed.Children.Take(5);

}


<div class="container">
    <div class="row half-background">
        <div class="col-md-8 col-sm-6 left-col-article">
          <div class="h1 article-title blog-header">
                @title
            </div>

            <div class="item-holder">
                @if (typedVideo.Player != null)
                {
                    @Html.Raw(typedVideo.Player.EmbedHtml)
                }       
            </div>
            
            @* @date<br/> *@
            @body
            
		@Html.Partial("Brand/Master/Share")
				 
        </div>
         <div class="col-md-4 col-sm-6 right-col-article">
            <ul class="sidenav-list">
                <li><h5><a href="/conversation/videos"><strong>More like this</strong></a></h5></li>
				@foreach(var post in news)
				{
					<li><a href="@post.Url"><span class="right-text">@post.Name</span></a></li>
					@*<span class="float-right right-icon"><img src="/media/622953/arrow-right.svg" alt=""></span>*@
				}                
            </ul>
        </div>
    <!--//-->        
    </div>  @* End row *@   
</div>


