﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Brand.cshtml";
    @* var reasonsToBuy = Model.Content.Children; *@
}

<div class="container text-center about-us">
    <div class="col-sm-12">
      <h1>About Us</h1>
    </div>
</div>

<div class="container-fluid why-buy text-center">
    <div class="row background-image" style="background-image:url('/media/623061/belling-made-in-britain.png');">
        <div class="col-xs-12 col-sm-12 text-center why-content">
            <div class="mid-content">
                <div class="center-container white-text"> 
                	<div class="h4">Cooking since 1912</div>
                    <p>Belling is proud to be part of Glen Dimplex Home Appliances, the only manufacturer that builds freestanding cookers, built-in ovens &amp; hobs and range cookers right here in the UK.</p>
                </div>
            </div>
        </div>  
    </div>
</div>

<div class="container-fluid why-buy text-center">
    <div class="row background-image" style="background-image:url('/media/623172/great-british-experts-about.png');">
        <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-6 text-center why-content">
            <div class="mid-content">
                <div class="width-container">
                    <img src="/media/622963/made-in-britain-colour.svg" class="header-image mib" alt="placeholder" class="banner-image">                
                    <div class="h4">British Cookers for British cookers</div>
                    <p>We are proud to be part of the REPIC Responsible Recylcling Campaign. You can read more about the initiative here.</p>
                </div>
            </div>
        </div>  
    </div>
</div>

<div class="container-fluid why-buy text-center">
    <div class="row background-image" style="background-image:url('/media/623174/induction-cooking-2.png'); color: #00304A;">
        <div class="col-xs-12 col-sm-6 col-md-6 text-center why-content">
            <div class="mid-content">
                <div class="width-container white-text">
                		<div class="h4">Pioneering Cooking Technology</div>
                    <p>We are proud to be part of the REPIC Responsible Recylcling Campaign. You can read more about the initiative here.</p>
                </div>
            </div>
        </div>  
    </div>
</div> 