﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Brand.cshtml";
    
	var homeNode = Model.Content.AncestorOrSelf(1);
	
    var ourHeritageTitle = Model.Content.GetPropertyValue("ourHeritageTitle");
    var ourHeritageContent = Model.Content.GetPropertyValue("ourHeritageContent");

    var ourProductsTitle = Model.Content.GetPropertyValue("ourProductsTitle");
    var ourProductsContent = Model.Content.GetPropertyValue("ourProductsContent");

    var ourServiceTitle = Model.Content.GetPropertyValue("ourServiceTitle");
    var ourServiceContent = Model.Content.GetPropertyValue("ourServiceContent");

    var ourFutureTitle = Model.Content.GetPropertyValue("ourFutureTitle");
    var ourFutureContent = Model.Content.GetPropertyValue("ourFutureContent");

	var blockColour = "#FFFFFF";
	
	if(homeNode.Name != "Stoves German"){
		blockColour = "#000000";
	}
	
}

<div class="container text-center about-us">
    <div class="col-sm-12">
      <h1>@Umbraco.Field("#About Us")</h1>
    </div>
</div>

<div class="container-fluid why-buy text-center about-heritage">
    <div class="row background-image" style="background-image:url('/media/623274/about-us-0.jpg');">
        <div class="col-xs-12 col-sm-12 text-center why-content">
            <h5 class="white-text">@Umbraco.Field("#Heritage")</h5>
            <div class="mid-content">
                <div class="width-container" class="white-text"> 
                    <div class="h4">@ourHeritageTitle</div>
                    <p>@ourHeritageContent</p>
                </div>
            </div>
        </div>  
    </div>
</div>

<div class="container-fluid why-buy text-center about-products">
    <div class="row background-image" style="background-color: white;">
        <div class="col-xs-12 col-sm-12 text-center why-content">
            <h5>@Umbraco.Field("#Products")</h5>
            <div class="mid-content">
                <div class="width-container"> 
                    <div class="h4">@ourProductsTitle</div>
                    <p style="color:black;">@ourProductsContent</p>
                </div>
            </div>
        </div>  
    </div>
</div>


@if(homeNode.Name != "Stoves German")
{
	<div class="container-fluid why-buy text-center about-service">
		<div class="row background-image" style="background-image:url('/media/623273/about-us-1.jpg');">
			<div class="col-xs-12 col-sm-12 text-center why-content">
				<h5 class="white-text">Services</h5>
				<div class="mid-content">
					<div class="white-text width-container"> 
						<div class="h4">@ourServiceTitle</div>
						<p>@ourServiceContent</p>
					</div>
				</div>
			</div>  
		</div>
	</div>
}

<div class="container-fluid why-buy text-center about-future">
    <div class="row background-image" style="background-color: @(homeNode.Name != "Stoves German" ? "white" : "#323337");">
        <div class="col-xs-12 col-sm-12 text-center why-content">
            <h5 style="color:@blockColour;">@Umbraco.Field("#Future")</h5>
            <div class="mid-content">
                <div class="width-container"> 
                    <div class="h4" style="color:@blockColour;">@ourFutureTitle</div>
                    <p style="color:@blockColour;">@ourFutureContent</p>
                </div>
            </div>
        </div>  
    </div>
</div>