﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "templatePages.cshtml";
    @* var reasonsToBuy = Model.Content.Children; *@
}
<div class="container">
    <div class="row general-head">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h1>Features</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
    </div>
    <div class="row general-grid">
        <div class="col-xl-3 col-md-4 col-sm-6">
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <img class="blog-item-img" src="http://placehold.it/300x190" alt="">
            </a>
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <h5 class="blog-item-title">Test title</h5>
            </a>
            <p class="blog-item-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor.</p>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <img class="blog-item-img" src="http://placehold.it/300x190" alt="">
            </a>
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <h5 class="blog-item-title">Test title</h5>
            </a>
            <p class="blog-item-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor.</p>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <img class="blog-item-img" src="http://placehold.it/300x190" alt="">
            </a>
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <h5 class="blog-item-title">Test title</h5>
            </a>
            <p class="blog-item-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor.</p>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <img class="blog-item-img" src="http://placehold.it/300x190" alt="">
            </a>
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <h5 class="blog-item-title">Test title</h5>
            </a>
            <p class="blog-item-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor.</p>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <img class="blog-item-img" src="http://placehold.it/300x190" alt="">
            </a>
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <h5 class="blog-item-title">Test title</h5>
            </a>
            <p class="blog-item-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor.</p>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <img class="blog-item-img" src="http://placehold.it/300x190" alt="">
            </a>
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <h5 class="blog-item-title">Test title</h5>
            </a>
            <p class="blog-item-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor.</p>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <img class="blog-item-img" src="http://placehold.it/300x190" alt="">
            </a>
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <h5 class="blog-item-title">Test title</h5>
            </a>
            <p class="blog-item-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor.</p>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <img class="blog-item-img" src="http://placehold.it/300x190" alt="">
            </a>
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <h5 class="blog-item-title">Test title</h5>
            </a>
            <p class="blog-item-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor.</p>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <img class="blog-item-img" src="http://placehold.it/300x190" alt="">
            </a>
            <a href="/blog-landing-template/features/features/blog-post-template/#">
                <h5 class="blog-item-title">Test title</h5>
            </a>
            <p class="blog-item-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor.</p>
        </div>
    </div>
    <div class="row pagination">
        Pagination
    </div>
</div>