﻿@using ClientDependency.Core.Mvc
@inherits UmbracoTemplatePage
@{
    Layout = null;
	var brand = Model.Content.AncestorOrSelf(1).Name;
}
<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]> <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    
	@Html.Partial("Brand/Master/Icons", @Model.Content)
    @Html.Partial("Brand/Master/SEOPageHead", @Model.Content)


    <!-- WEB FONT -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- STYLESHEETS -->
    @if(Model.Content.DocumentTypeAlias == "Retailer")
	{
		@*Done this way so it also works in dev*@
		var siteName = "";
		switch (Request.Url.Authority)
			{
				case "www.stoves.co.uk":
					siteName = "stoves";
					break;
				case "www.lec.co.uk":
					siteName = "lec";
					break;
				case "www.belling.co.uk":
					siteName = "belling";
					break;
				case "newworld.co.uk":
					siteName = "new world";
					break;
				default:
					siteName = "stoves";
					break;
			}
		    <link rel="stylesheet" href="~/assets/@siteName/css/all.css" />
    		<link rel="stylesheet" href="~/assets/@siteName/css/custom.css" />
	    }
	    else
	    {
		    <link rel="stylesheet" href="~/assets/@Model.Content.AncestorOrSelf(1).Name/css/all.css" />
    		<link rel="stylesheet" href="~/assets/@Model.Content.AncestorOrSelf(1).Name/css/custom.css" />
	    }

    <link rel="stylesheet" href="~/assets/storelocator.css" />
    @Html.RenderCssHere()	

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--[if IE]>
        <link rel="stylesheet" href="/assets/ie.css" />
    <![endif]-->
    
    <script src="~/scripts/jquery.min.js"></script>
    <script src="/assets/js/libs/handlebars.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1a9pce4je-W00V76P3PnQlH97OPlCzcY&region=GB"></script>
    <script src="/assets/js/plugins/storeLocator/jquery.storelocator.js"></script>    
    <script src="/scripts/jquery.elevateZoom-3.0.8.min.js"></script>
    <!-- Fonts -->
    <script src="https://use.typekit.net/xeg5yis.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    @RenderSection("Head", false)
	@Umbraco.Field("tagManagerScript", recursive: true)
	

</head>
<body ng-app="gdha">
		
	@Umbraco.Field("tagManagerNoScript", recursive: true)
		
    <!-- SITE -->
<div id="site">
    <!-- HEADER -->
    @Html.Partial("brand/master/header", Model.Content)
    <!--// HEADER -->
	
    @RenderBody()
    <!-- FOOTER -->
    <footer>
        
        <!-- Newsletter strip -->
        @Html.Partial("Brand/Master/NewsletterSignup", Model.Content)
        
        <div class="container-fluid footer-background">
            <div class="container">
                @Html.Partial("Brand/Master/OutroStripSection", Model.Content)
                <!--// OUTRO STRIP(Contact Info) -->
                <div class="full-divide"></div>
                <!-- ROW -->
                <div class="row" id="customer-care">
                    @Html.Partial("Brand/Navigation/QuickLinks", Model.Content)
                    @Html.Partial("brand/master/FooterSocialLinks", Model.Content)
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <!-- COMPANY DETAILS -->
                @Html.Partial("brand/Master/FooterContactInformation", Model.Content)
                <!--// COMPANY DETAILS -->
            </div>
        </div>
    </footer>
    <!--// FOOTER -->
    <!-- BACK TO TOP -->
    @* <span id="top-link-block">
                <a href="#top" class="well well-sm" onclick="$('html, body').animate({ scrollTop: 0 }, 'slow');return false;">
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </a>
            </span> *@
    <!--// BACK TO TOP -->
</div>
    @if (Model.Content.DocumentTypeAlias == "ProductCategory")
    {
        @Html.Partial("brand/ProductComparisonAngular")
    }

    <p id="back-top">
        <a href="#top"><i class="fa fa-angle-up"></i></a>
    </p>
</body>
<!--// SITE -->
@RenderSection("FooterScripts", false)
<script>
	$( ".navLink" ).mouseover(function() {
		var img = document.getElementById("rollOver");
		
		if(img !== null) {
			img.src = this.getAttribute("src");
		}
	});
</script>
<!-- SCRIPTS -->

@if(brand != "Stoves German"){
	@Html.Partial("GDHA/ReevooScript")
}

@Umbraco.Field("liveChatScript",recursive: true)
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/modernizr.js"></script>
<script src="/scripts/popup.js"></script>
<script src="~/scripts/scripts.js"></script>
<script src="~/scripts/plugins.js"></script>
<script src="~/scripts/application.js"></script>
<script src="~/scripts/slimmage.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>	
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
@RenderSection("masterjs", required: false)
@Html.RenderJsHere()
</html>