﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Uniform.GDHA.BusinessLogic.Razor;
@*@using uComponents.DataTypes.MultiUrlPicker.Dto;
@using uComponents.DataTypes.UrlPicker.Dto;
@using Uniform.GDHA.BusinessLogic.SurfaceControllers;
@using Uniform.GDHA.BusinessLogic.Models;*@
@using RJP.MultiUrlPicker.Models;
@{
    Layout = "CorporateLanding.cshtml";
}
@section Heading{
<div class="content-top">
    <h1>@Model.Content.Name</h1>
</div>
}
@section content
{
    @foreach (var brand in Model.Content.DescendantsOrSelf("Brand"))
    {
        var m = @Umbraco.TypedMedia((int)(brand.GetPropertyValue("heroImage")));
        <div class="brand popup">
            @if (m != null)
            {
                <img src="@m.GetResponsiveImageUrl(900, 450)">
            }
            <span class="caption">
                <div class="content">
                    <h2>@brand.Name</h2>
                    @Html.Raw(brand.GetPropertyValue<string>("promoContent").Truncate(256))
                </div>
                <div class="links">
                    <ul>
                        <li><a href="@brand.Url"><span class="icon icon-icon-plus"></span>About @brand.Name</a></li>
                        @{
                            if (brand.HasValue("brandLink"))
                            {
                                var brandLinks = brand.GetPropertyValue<MultiUrls>("brandLink");
                                if (brandLinks != null)
                                {
                                    var brandLink = brand.GetPropertyValue<MultiUrls>("brandLink").FirstOrDefault();
                                    <li><a href="@brandLink.Url" target="@brandLink.Target"><span class="icon icon-icon-screen"></span>Visit website</a></li>
                                }
                            }
                            if (brand.HasValue("downloadBrochureLink"))
                            {
                                var downloadBrochureLinks = brand.GetPropertyValue<MultiUrls>("downloadBrochureLink");
                                if (downloadBrochureLinks != null)
                                {
                                    var downloadBrochureLink = brand.GetPropertyValue<MultiUrls>("downloadBrochureLink").FirstOrDefault();
                                    <li><a href="@downloadBrochureLink.Url" target="@downloadBrochureLink.Target"><span class="icon icon-icon-download"></span>Download Brochure</a></li>
                                }
                            }
                            if (brand.HasValue("customerCareLink"))
                            {
                                var customerCareLinks = brand.GetPropertyValue<MultiUrls>("customerCareLink").FirstOrDefault();
                                if (customerCareLinks != null)
                                {
                                    var customerCareLink = brand.GetPropertyValue<MultiUrls>("customerCareLink").FirstOrDefault();
                                    <li><a href="@customerCareLink.Url" target="@customerCareLink.Target"><span class="icon icon-icon-customer"></span>Customer Care</a></li>
                                }
                            }
                        }
                    </ul>
                </div>
            </span>
        </div>
    }
}