﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Uniform.GDHA.BusinessLogic.Razor;
@using RJP.MultiUrlPicker.Models;
@{
    Layout = "CorporateLanding.cshtml";
}
@helper PromoRenderer(IPublishedContent promo)
{
    if (promo != null)
    {
        <div class="promo popup">
            @if(@Umbraco.TypedMedia((int)(promo.GetPropertyValue("heroImage"))) != null)
            {
                var m = @Umbraco.TypedMedia((int)(promo.GetPropertyValue("heroImage")));
                <img src="@m.GetResponsiveImageUrl(441,303)" alt="" />
                <span class="caption">
                    <h2>@promo.Name</h2>
                    @Html.Raw(promo.GetPropertyValue<string>("teaserText").Truncate(200))
                    <p><a href="@promo.Url" class="more"><span class="icon icon-icon-plus-small"></span>Read More</a></p>
                </span>
            }
        </div>
    }
}
@helper BrandRenderer(IPublishedContent brand)
{
    <div class="brand popup @brand.Name.Replace(" ", "").ToLower()">
        <span class="icon icon-brand icon-logo-@brand.Name.Replace(" ", "").ToLower()"></span>
        <ul>
            <li><a href="@brand.Url"><span class="icon icon-icon-plus-small"></span>About @brand.Name</a></li>
            @{
                var brandLink = brand.GetPropertyValue<MultiUrls>("brandLink");
                if (brandLink != null)
                {
                    <li>@LinksHelper("Visit Website", "icon icon-icon-screen-small", "", brandLink)</li>
                }
            }
        </ul>
    </div>
}

@helper LinksHelper(string text, string css, string cssLink, MultiUrls urls)
{
    if (urls == null || urls.Count() == 0)
    {
        return;
    }
    foreach (Link state in urls)
    {
        if (state != null)
        {
            <a href="@state.Url" target="@state.Target" class="@cssLink"><span class="@css"></span>@text</a>
        }
    }
}


@section content
{
    <section id="intro">
        <h1>@Model.Content.GetPropertyValue("heroCopy")</h1>
        @{
            var moreLink = Model.Content.AncestorsOrSelf(1).FirstOrDefault().GetPropertyValue<MultiUrls>("moreLink");
            if (moreLink != null)
            {
                <p>@LinksHelper("Read More", "icon icon-icon-plus-small","more", moreLink)</p>
            }
}
    </section>
    <section id="brand-container">
        @foreach (var brand in Model.Content.DescendantsOrSelf("Brand"))
        {
            @BrandRenderer(brand)
        }
    </section>
    <section id="promo-container">
        @PromoRenderer(Model.Content.Descendants("Press").FirstOrDefault())
        @PromoRenderer(Model.Content.Descendants("Retail").FirstOrDefault())
    </section>
}