﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "CorporateMaster.cshtml";
}
@section Main
{
    <section class="content-top">
        <h1>@Model.Content.Name</h1>
        @RenderSection("hero", required: false)
    </section>
    <section class="content-container content-pull">
        <div class="inner">
            <div id="background-logo">
                <div class="icon icon-logo-background"></div>
            </div>
            @RenderSection("Content")
        </div>
    </section>
}