﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-GB" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>@Model.Content.AncestorOrSelf("Home").Name</title>
    @Html.Partial("GDHA/meta")
    @Html.Partial("GDHA/styles")
    @Html.Partial("GDHA/jsHeader")
</head>
<body class="homepage">
	
	@Umbraco.Field("tagManagerScript", recursive: true)
	
    <header id="siteHeader" role="banner">
        <div class="logo">
            <a href="/"><span class="icon icon-logo-main"></span></a>
        </div>
        @Html.Partial("GDHA/navigation")
    </header>
    <main id="page" role="main">
        @RenderSection("Main", required: true)
    </main>
    @Html.Partial("GDHA/footer")
    @Html.Partial("GDHA/jsFooter")
</body>
</html>
