﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using RJP.MultiUrlPicker.Models
@{
    Layout = "Brand.cshtml";
    @* var reasonsToBuy = Model.Content.Parent.Children; *@
    var title = Model.Content.HasValue("title") ? Model.Content.GetPropertyValue("title") : Model.Content.Name;
    var image = Model.Content.HasValue("image") ? Umbraco.TypedMedia(Model.Content.GetPropertyValue("image")) : null;    
    var banner = Model.Content.HasValue("banner") ? Umbraco.TypedMedia(Model.Content.GetPropertyValue("banner")) : null;
    var body = Model.Content.HasValue("body") ? Model.Content.GetPropertyValue("body") : Model.Content.Name;
    var link = Model.Content.HasValue("link") ? Model.Content.GetPropertyValue<MultiUrls>("link").First() : null;
    var feed = Model.Content.AncestorOrSelf(1).Children.Where(x => x.DocumentTypeAlias == "Features").First().Children.Take(5);
}


<div class="container-fluid customer-care">
    <div class="container">
        <div class="row general-head">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h1>@heading</h1>
                <p>@body</p> 
            </div>
        </div>
    </div>
    <div class="row hero-row">
        <div class="col-sm-12 text-center white-text hero-holder why-content" style="background-image: url('@topBannerImage')">
            <div class="mid-content">
                <div class="width-container">
                    <h1 class="big">@topBannerTitle</h1>
                    <div class="hero-text">@topBannerBody</div>
                    <a href="@topBannerLink" class="btn btn-default white-text">@topBannerLinkText</a>
                </div>
            </div>
        </div>
    </div>    
</div> 

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>@body</p>
        </div>        
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4"><img src="http://placehold.it/400x300" alt="go deliver">
            <br>
            <h5>Go Deliver Express</h5>
            <p>Lorem ipsum dolor sit amet, vix et postulant constituto. Labores laboramus ut sed, est eu cibo regione deleniti, ut dicant decore altera vix. Te corpora fastidii pro, et eam detracto scripserit reprehendunt, ei mentitum deserunt iudicabit sit. Falli alterum id duo.</p>
        </div>
        <div class="col-sm-4"><img src="http://placehold.it/400x300" alt="go deliver">
            <br>
            <h5>Go Deliver Express</h5>
            <p>Lorem ipsum dolor sit amet, vix et postulant constituto. Labores laboramus ut sed, est eu cibo regione deleniti, ut dicant decore altera vix. Te corpora fastidii pro, et eam detracto scripserit reprehendunt, ei mentitum deserunt iudicabit sit. Falli alterum id duo.</p>
        </div>
        <div class="col-sm-4"><img src="http://placehold.it/400x300" alt="go deliver">
            <br>
            <h5>Go Deliver Express</h5>
            <p>Lorem ipsum dolor sit amet, vix et postulant constituto. Labores laboramus ut sed, est eu cibo regione deleniti, ut dicant decore altera vix. Te corpora fastidii pro, et eam detracto scripserit reprehendunt, ei mentitum deserunt iudicabit sit. Falli alterum id duo.</p>
        </div>
    </div>
</div>
@* if footer image  *@
<div class="container-fluid text-center banner-bottom customer-care">
    <div class="row hero-row">
        <div class="col-sm-12 text-center white-text hero-holder why-content" style="background-image: url('@bottomBannerImage')">
            <div class="mid-content">
                <div class="col-md-4 col-md-offset-2 col-sm-6 col-sm-offset-3">
                    <div class="h2">@bottomBannerTitle</div>
                    <p>@bottomBannerBody</p>
                    <a href="@bottomBannerLink" class="btn btn-default white-text">@bottomBannerLinkText</a>
                </div>
            </div>
        </div>
    </div> 
</div> 
@* end footer image *@

@* This is wherethe similar product code needs to go *@

@Html.Partial("Brand/Misc/SimilarProducts")
