﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Brand.cshtml";
	var features = Model.Content.AncestorOrSelf(1).Children.Where(x => x.DocumentTypeAlias == "Features").First().Children;
    @* var reasonsToBuy = Model.Content.Children; *@
}
<div class="container">
    <div class="row general-head">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h1>Features</h1>
            <p>@Model.Content.GetPropertyValue("description")</p>
        </div>
    </div>
    <div class="row general-grid">
        
		@foreach (IPublishedContent child in features)
        {
            if (child.IsVisible())
            {
				var heading = child.HasValue("heading")? child.GetPropertyValue("heading"): child.Name;
				var image = child.HasValue("banner") ? Umbraco.TypedMedia((int)(child.GetPropertyValue("banner"))).GetCropUrl(290,170) : "";
                var summary = child.HasValue("summary")? child.GetPropertyValue("summary"): child.Name;
                <div class="col-xl-3 col-md-4 col-sm-6 blog-item">
					<a href="@child.Url">
                        <div class="blog-item-img">
						  <img src="@image" alt="">
                        </div>
					</a>					
					<div class="blog-item-summary">
                        <a href="@child.Url">
                            <h5 class="blog-item-title">@heading</h5>
                        </a>
                        <p>@summary</p>
                    </div>
                </div>
			}
		}
    </div>
    <div class="row pagination">
        @* Pagination *@
    </div>
</div>