﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Brand.cshtml";
    var homeNode = Model.Content.AncestorOrSelf(1);
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var globalSettings = settingsFolder.Children.First(x => x.IsDocumentType("USNGlobalSettings"));
	var products = homeNode.Children.First(x => x.DocumentTypeAlias == "ProductLanding"); 
	var query = "";
}
if(query = "")
{
  <div class="manuals" id="Manuals">
      <h3>Manuals</h3>
      <div>					
          @foreach (var media in products.Descendants().Where(x => x.DocumentTypeAlias == "ProductCategory"))
          {		
			  <span><a>@media.Name</a></span>						         
				  @foreach(var item in media.Descendants().Where(x => x.DocumentTypeAlias == "ProductModel"))
				  {	
					try
					{
						var manual = item.HasValue("productManual")? Umbraco.TypedMedia(item.GetPropertyValue("productManual")).Url : "";
						if(manual != "")
						{											
							<span><a href="@manual" target="_blank">@item.Name</a></span>												
						}
					}
					catch
					{}
				  }
          } 
      </div>
  </div>
}
else
{

