﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "templatePages.cshtml";
}
<div class="container-fluid">
	<div class="row">
		<div>
			<div class="carousel slide" id="hero-carousel">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#hero-carousel" class="active">
					</li>
					<li data-slide-to="1" data-target="#hero-carousel">
					</li>
					<li data-slide-to="2" data-target="#hero-carousel">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="Carousel Bootstrap First" src="http://placehold.it/1200x400">
						<div class="carousel-caption">
							<h4>
								First Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Second" src="http://placehold.it/1200x400">
						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Third" src="http://placehold.it/1200x400">
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
				</div> 
				@* <a class="left carousel-control" href="#hero-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#hero-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> *@
			</div>
		</div>
	</div>
</div>
<div class="container-fluid mobile-only">
	<div class="row">
		<div>
			<div class="carousel slide" id="feature-carousel">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#feature-carousel" class="active">
					</li>
					<li data-slide-to="1" data-target="#feature-carousel">
					</li>
					<li data-slide-to="2" data-target="#feature-carousel">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="Carousel Bootstrap First" src="http://placehold.it/1200x400">
						<div class="carousel-caption">
							<h4>
								First Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Second" src="http://placehold.it/1200x400">
						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Third" src="http://placehold.it/1200x400">
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
				</div> 
				<a class="left carousel-control" href="#feature-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#feature-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row desktop-only">
		<div class="col-sm-4">
			<h5>reason</h5>
			<img src="http://placehold.it/500x300" alt="">
		</div>
		<div class="col-sm-4">
			<h5>features</h5>
			<img src="http://placehold.it/500x300" alt="">
		</div>
		<div class="col-sm-4">
			<h5>engage</h5>
			<img src="http://placehold.it/500x300" alt="">
		</div>
	</div>
	<div class="row" id="products">
		<div class="col-sm-6 col-xs-12">
			<div class="col-sm-12 col-xs-12"><img src="http://placehold.it/1200x400" alt=""></div>
		</div>
		<div class="col-sm-6 col-xs-12">
			<div class="col-sm-6 col-xs-12"><img src="http://placehold.it/1200x400" alt=""></div>
			<div class="col-sm-6 col-xs-12"><img src="http://placehold.it/1200x400" alt=""></div>
			<div class="col-sm-6 col-xs-12"><img src="http://placehold.it/1200x400" alt=""></div>
			<div class="col-sm-6 col-xs-12"><img src="http://placehold.it/1200x400" alt=""></div>
		</div>
	</div>
	<div class="row" id="where-to-buy">
		<div class="col-sm-6 col-xs-12">
			<div class="where-to-buy">where to buy</div>
		</div>
		<div class="col-sm-6 col-xs-12">
			<div class="download">download brochure</div>
		</div>
	</div>
</div>
<div class="container-fluid desktop-only">
	<div class="row" id="home-parallax">
		<img src="http://placehold.it/2200x500" alt="">
	</div>
</div>
<div class="container">
	<div class="row desktop-only" id="shop">
		<div class="col-sm-4 desktop-only"><img src="http://placehold.it/500x300" alt=""></div>
		<div class="col-sm-4 desktop-only"><img src="http://placehold.it/500x300" alt=""></div>
		<div class="col-sm-4 desktop-only"><img src="http://placehold.it/500x300" alt=""></div>
		<div class="col-sm-12 mobile-only"><img src="http://placehold.it/500x300" alt=""></div>	
	</div>
</div>
<div class="container-fluid mobile-only" id="social-mobile">
	<div class="row" id="inspiration-social-desktop">
		<div>
			<div class="carousel slide" id="blog-carousel">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#blog-carousel" class="active">
					</li>
					<li data-slide-to="1" data-target="#blog-carousel">
					</li>
					<li data-slide-to="2" data-target="#blog-carousel">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="Carousel Bootstrap First" src="http://placehold.it/1200x400">
						<div class="carousel-caption">
							<h4>
								First Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Second" src="http://placehold.it/1200x400">
						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Third" src="http://placehold.it/1200x400">
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
				</div> 
				<a class="left carousel-control" href="#blog-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#blog-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row desktop-only" id="inspiration-social-desktop">
		<div class="col-sm-3"><img src="http://placehold.it/1200x400" alt=""></div>
		<div class="col-sm-3"><img src="http://placehold.it/1200x400" alt=""></div>
		<div class="col-sm-3"><img src="http://placehold.it/1200x400" alt=""></div>
		<div class="col-sm-3"><img src="http://placehold.it/1200x400" alt=""></div>
	</div>
	<div class="row" id="register">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-9 float-right">
			please register your new or old appliances here. This will allow us to help you faster if you ever need us. 
		</div>
	</div>
	<div class="row desktop-only" id="newsletter-desktop">
		<div class="col-sm-6">Newsletter</div>
		<div class="col-sm-6">
			<form class="navbar-form navbar-right" role="search"> 
				<div class="form-group">
					<input class="form-control" type="text">
				</div> 
				<button type="submit" class="btn btn-default">
					Submit
				</button>
			</form>
		</div>
	</div>
</div>