﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json.Linq
@using Uniform.GDHA.BusinessLogic.Razor;
@*@using uComponents.DataTypes.MultiUrlPicker.Dto;
@using uComponents.DataTypes.UrlPicker.Dto;
@using Uniform.GDHA.BusinessLogic.SurfaceControllers;
@using Uniform.GDHA.BusinessLogic.Models;*@
@using RJP.MultiUrlPicker.Models;
@using USN.UrlPicker.Umbraco.Models
@{
    Layout = "CorporateLanding.cshtml";
}
@helper RenderPromo(IPublishedContent content)
{ 
    if (content.GetPropertyValue("promoImage") != null)
    { 
        var m = Umbraco.TypedMedia((content.GetPropertyValue("promoImage")));
        <div class="promo popup">
            <img src="@m.GetResponsiveImageUrl(0,0)" />
            <span class="caption">
                <h2>@content.Name</h2>
                @Html.Raw(content.GetPropertyValue<string>("content"))
                <p>
                    @{
                        var readMoreLink = content.GetPropertyValue<UrlPicker>("readMoreLink");
                        
                        if (readMoreLink != null)
                        {                            
                            var link = USNUrlHelper.GetSingleUrlFromUrlPicker(readMoreLink);
							if(content.Name == "Order Brochures")
							{

								<a href="http://www.britannialiving.co.uk/request-a-brochure" target="_blank" class="more more2"><span class="icon icon-icon-plus-small"></span>Britannia Brochure Order</a>

							}
							
                            <a href="@link.LinkURL" target="@link.LinkTarget" class="more"><span class="icon icon-icon-plus"></span>@(string.IsNullOrEmpty(link.LinkTitle) ? "Read more" : link.LinkTitle)</a>
							
                        }
}
                </p>
            </span>
        </div>
    }   
}
@helper RenderYears(IPublishedContent content)
{
    var years = (this.Context.Request.Form["yearsSelected"] ?? "").Split(',');
    foreach(int year in content.Children.Where(w => w.HasProperty("publishedDate") && w.HasValue("publishedDate")).Select(s => s.GetPropertyValue<DateTime>("publishedDate").Year).Distinct().OrderByDescending(o => o))
    {
        
        <li class="@(years.Contains(year.ToString()) ? "clicked" : "")">
            <span class="year" value="@year">@year</span>
        </li>
    }
}
@helper RenderBrands(IPublishedContent content)
{
    var brands = (this.Context.Request.Form["brandsSelected"] ?? "").Split(',');
    foreach (var brand in Model.Content.AncestorOrSelf("Home").Descendants("Brand").Select(s => s.Name))
    {
        <li class ="@(brands.Contains(brand) ? "clicked" : "")">
            <span class="icon icon-logo-@brand.Replace(" ","").ToLower()-white" value="@brand"></span>
        </li>
    }
}
@section content
{
    <section class="retail-grid">
        <h2>Brand Resources</h2>
        @foreach (var promo in Umbraco.TypedContent(Model.Content.GetPropertyValue<string>("brandResources").Split(',')))
        {
            @RenderPromo(promo)
        }
    </section>
    <section class="news-grid">
        <h2>Latest News</h2>
        <aside class="sidebar">
            <form id="press-search-form" action="/Press" role="search" method="post">
                <input type="text" name="query" id="query" value="" />
                <input id="brandsSelected" type="hidden" name="brandsSelected" value="@this.Request.Params["brandsSelected"]">
                <input id="yearsSelected" type="hidden" name="yearsSelected" value="@this.Request.Params["yearsSelected"]">
                <input type="submit" value="Submit" />
            </form>
            <div class="filter">
                <h2>Filter by:</h2>
                <h3>Brand</h3>
                <ul class="brand-filter">
                    @RenderBrands(Model.Content)
                </ul>

                <h3>Year</h3>
                <ul class="year-filter">
                    @RenderYears(Model.Content)
                </ul>
            </div>
        </aside>
        <div class="content">
            @Html.Action("SearchPress", typeof(Uniform.Web.SurfaceControllers.CorporateSearchSurfaceController))
        </div>
    </section>
}
