﻿@inherits UmbracoTemplatePage
@using Uniform.GDHA.Products
@using ClientDependency.Core.Mvc
@using USN.UrlPicker.Umbraco.Models
@{
    Html.RequiresCss("~/css/jquery.mCustomScrollbar.min.css");
    Html.RequiresJs("~/scripts/jquery.mCustomScrollbar.concat.min.js",2);
	
    var brand = Model.Content.AncestorOrSelf(1).Name.ToLower();
    Layout = "Brand.cshtml";
    IPublishedContent product = CurrentPage.DocumentTypeAlias == "ProductSku" ? Model.Content : Model.Content.Children.First();
    IPublishedContent productModel = CurrentPage.DocumentTypeAlias == "ProductModel" ? Model.Content : Model.Content.Parent;
    var homeNode = Model.Content.AncestorOrSelf(1);
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var globalSettings = settingsFolder.Children.First(x => x.IsDocumentType("USNGlobalSettings"));
	var brochure = globalSettings.HasValue("brochure") ? USNUrlHelper.GetSingleUrlFromUrlPicker(globalSettings.GetPropertyValue<UrlPicker>("brochure")) : null;    
    var cat = productModel.Parent;
    var revoo = Model.Content.AncestorOrSelf(1).GetPropertyValue("reevooTrackingReference");
    var featureList = productModel.GetPropertyValue<ProductFeatureList>("productFeatures2");
    var features1 = productModel.Parent.Children.FirstOrDefault(x => x.DocumentTypeAlias == "ProductCategoryFeatures");
    var caseStudyImagesList = productModel.GetPropertyValue<string>("ProductImages").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
    var caseStudyImagesCollection = Umbraco.TypedMedia(caseStudyImagesList).Where(x => x != null && x.DocumentTypeAlias == "Image");
    var studyImagesCollection = caseStudyImagesCollection as IPublishedContent[] ?? caseStudyImagesCollection.ToArray();
    var colourName = "";
    var mib = productModel.GetPropertyValue<bool>("madeInBritain");
	var cid = brand == "stoves"? 30 : 32;
    var vidCid = brand == "stoves" ? 1122 : 1123;
	
    if (product.HasProperty("productColour"))
    {
        var sku = product.GetProperty("productColour").Value;
        if (sku != null)
        {
            var colourNode = Umbraco.TypedContent(sku);
			
			if(homeNode.Name == "Stoves German")
			{
				colourName = colourNode != null ? colourNode.GetPropertyValue<string>("German") : "N/A";
			}
			else
			{
				colourName = colourNode != null ? colourNode.Name : "N/A";
			}
        }
    }   
    var vidUrl = Uri.EscapeDataString(productModel.Name);
	int i = 0;
}

<input type="hidden" value="@vidUrl" />


<link rel="stylesheet" href="~/assets/owl.carousel.css">
<link rel="stylesheet" href="~/assets/owl.theme.css">
<script src="~/assets/js/owl.carousel.js"></script>

@if(homeNode.Name != "Stoves German")
{
	@Html.Partial("GDHA/ReevooTracking")
}

<script>
    function callback(d) {
    }

    function shuffle(array) {
        var currentIndex = array.length, temporaryValue, randomIndex;

        //while there remain elements to shuffle....
        while (0 !== currentIndex) {

            //Pick a remaining element...
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;

            //and swap it with the current element.

            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
        }
        return array;
    }

    function get_wtb(prod, label, cid, target) {
        var prodid = "'" + prod + "'";
        var fmt = 'json';
        label = label || 'Buy Now';
        $.ajax({
            url: "http://services.internetbuyer.co.uk/REST.svc/" + "GetByProductPartNumber?ProductPartNumber=" + prodid + "&CID=" + cid + "&$format=" + fmt + "&$callback=?",
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: "json",
            cache: false,
            error: function (xhr, error, errortext) {
                var message = error + "\r\n" + errortext;
            },
            success: function (data) {
                var res = "";
                var randArr = [];
                var count = data.d.length;
				if(count > 0){
                $.each(data.d, function (i, item) {
                    var tmpl = "<li><img src='[3]' /><span class='float-right'><a class='btn btn-green' href='[1]' title='[2]' target='_blank' rel='nofollow'>" + label + "</a></span></li>";
                    tmpl = tmpl.replace('[1]', item.NavigateUrl).replace('[2]', item.MerchantName).replace('[3]', item.MerchantLogoUrl);
                    randArr.push(tmpl);

                });
				}
				else{
					$("#wtbBox").remove()
				}
					

                //console.log(randArr);
                shuffle(randArr);
                randArr.forEach(function (entry) {
                    res = res + entry;
                });
                // hide box if count is 0;
                if (count == 0) {
                    $('#buy-now').hide();
                }
                $(target).html(res);
                if (callback) callback(data);
            }
        });
    }
    @{
    var temp = product.Name.Replace(" ", "");
}
    get_wtb("@temp", "Buy Now", "@cid", "#wtb ul.wtb");
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            center: true,
            items: 2,
            loop:true,
            nav:true,
            startPosition:1,
            margin:10,
            responsive:{
                600:{
                    items:4
                }
            }
        });
    });

    //svg onhover change stroke colours  
    function changeColourSvg(className, brand){
        $('#' + className).hover(function() {
          /* Stuff to do when the mouse enters the element */
          $('.' + className).attr("class", className + " svg-selected default-stroke");
          $('.' + className + '-circle').attr("class", className + '-circle svg-circle-selected default-circle');
          $('.' + className + '-text').attr("class", className + '-text svg-text-selected default-text');
        }, function() {
          /* Stuff to do when the mouse leaves the element */
          $('.' + className).attr("class", className + " default-stroke");   
          $('.' + className + '-circle').attr("class", className + '-circle default-circle');
          $('.' + className + '-text').attr("class", className + '-text default-text');
        });

        $('#' + className).click(function(event) {
            /* Act on the event */
            //remove active class from all elements
            var onActive = '';
            var onStatic = '';
            if(brand == "belling"){
                var onActive = '#ffffff';
                var onStatic = '#00304A';
            }else if(brand == "stoves")
            {
                var onActive = '#c6c6c6';
                var onStatic = '#3F1F10';
            }

            $('.svg-1, .svg-2, .svg-3, .svg-4, .svg-5').css({
                stroke: onActive
            });    
            $('.svg-1-circle, .svg-2-circle, .svg-3-circle, .svg-4-circle, .svg-5-circle').css({
                fill: onActive
            });
            $('.svg-1-text, .svg-2-text, .svg-3-text, .svg-4-text, .svg-5-text').css({
                fill: '#000'
            });

            //add active class to target element
            $('.' + className).css({
                stroke: onStatic
            });
            $('.' + className + '-circle').css({
                fill: onStatic
            });
            $('.' + className + '-text').css({
                fill: '#FFF'
            });
        });
    }

</script>

@{
    var title = productModel.Name;
    var desc = productModel.GetPropertyValue<string>("bodyText");
}
<div class="container" id="head-panel">
    <div class="row product-info">
        <div class="col-sm-offset-4 col-sm-4 text-center">
            <h1>@title</h1>
            @Html.Raw(desc)
        </div>
    </div>
    <div class="row product-info">
        <div class="col-sm-4 col-sm-offset-0 col-md-3 col-xs-12 desktop-only" id="product-info">
                                 
            <div class="h4">@Umbraco.Field("#Product Info")</div>
            
			@if(homeNode.Name != "Stoves German")
			{
				<a class="reevoomark" href="http://mark.reevoo.com/partner/@revoo/@product.Name.Replace(" ", String.Empty)">Read reviews</a>
            }
			 
            <div class="list-group-item">
                <img src="/media/623268/key-features.svg" class="svg" alt="GDHA icon">
                <div class="link anchor">
                    <a href="#product-specification" class="show-specification">@Umbraco.Field("#Specification")</a>
                </div>
            </div>
            <div class="list-group-item">
                <img src="/media/623265/images.svg" class="svg" alt="GDHA icon">
                <div class="link anchor">
                    <a href="#product-gallery">@Umbraco.Field("#Images")</a>
                </div>
            </div>
			
			@if(homeNode.Name != "Stoves German" && Umbraco.Field("HideProductVideo", recursive:true).ToString() != "True")
			{
				<div class="list-group-item">
					<img src="/media/622969/play.svg" class="svg" alt="GDHA icon">
					<div class="link textclick" data-toggle="modal" data-target="#productVideo">                    
						@Umbraco.Field("#Play Product Video")
					</div>
				</div>
			
				<!-- Modal -->
				<div class="modal fade" id="productVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">@title</h4>
					  </div>
					  <div class="modal-body">
					   <iframe name='videoPlayer' seamless src='' width='400' height='500' style='border:0px;height:500px;'></iframe>
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					  </div>
					</div>
				  </div>
				</div>
				<!-- Modal -->
			
			}

			<!--
            <div class="list-group-item">
                <img src="/media/623306/printer.svg" class="svg" alt="GDHA icon">
                <div class="link">
                    <a href="@Model.Content.Url/factsheet">@Umbraco.Field("#Factsheet")</a>
                </div>
            </div>
			-->
			
			@if(homeNode.Name != "Stoves German"){
				<div class="list-group-item">
					<img src="/media/622954/download.svg" class="svg" alt="GDHA icon">
					<div class="link">
						<a href="/customer-care/#manuals">@Umbraco.Field("#Read Manual")</a>
					</div>
				</div>
				<div class="list-group-item">
					@Html.Partial("Brand/Master/Share")
				</div> 
			}
			
            @if(mib){
                <div class="list-group-item">
                    <div class="mib-img">
                        <img src="/media/622963/made-in-britain-colour.svg" alt="Made In Britain">
                    </div>
                </div>
            }  
            @* <div class="list-group-item"> *@
                @* <a class="reevoomark" href="http://mark.reevoo.com/partner/@revoo/@product.Name.Replace(" ", String.Empty)">Read reviews</a> *@
                
            @* </div>            *@
        </div>
        
        @* desktop version of product image and info *@
        <div class="col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-1 col-xs-12 text-center" id="product-image">
            @{
                var childImagesList = product.GetPropertyValue<string>("ProductImages").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
                var childImagesCollection = Umbraco.TypedMedia(childImagesList).Where(x => x != null && x.DocumentTypeAlias == "Image");
                var child1ImagesCollection = childImagesCollection as IPublishedContent[] ?? childImagesCollection.ToArray();
                if (child1ImagesCollection.Any())
                {
                    var proImage = child1ImagesCollection.First();
                    <div><img src="@proImage.Url" alt=""></div><br>
                }
            }
            <h6>@Umbraco.Field("#Colour")</h6>
            <div class="product-colours">
                @foreach (var sku in productModel.Children)
                {
                    if (sku.GetPropertyValue("productColour") != null)
                    {
                        var colourNode = Umbraco.TypedContent(sku.GetPropertyValue("productColour"));
                        var colour = colourNode != null ? colourNode.GetPropertyValue<string>("HexValue") : "#FFFFFF";
                        <a href="@sku.Url">
                            @if (@colour.ToString().ToUpper() != "#FFFFFF")
                            {
                                <div class="product-color" style="background: @colour.ToString()"> </div>
                            }
                            else
                            {
                                <div class="product-color white" style="background: @colour.ToString()"> </div>
                            }
                        </a>
                    }
                }

            </div>
                <p class="small"><strong>@Umbraco.Field("#Click colours")</strong>
				<p class="small">@Umbraco.Field("#Product colour"): @colourName | SKU: @product.Name</p>
        </div>

        <div class="col-xs-12 mobile-only" id="product-info-mobile">             

			<!--
            <div class="col-xs-12">
                <img src="/media/622954/download.svg" class="icon-svg svg" alt="GDHA icon">
                <a href="@Model.Content.Url/factsheet">@Umbraco.Field("#Factsheet")</a>
            </div>
			-->
			
            <div class="col-xs-12">
                <img src="/media/622952/compare.svg" class="icon-svg svg" alt="GDHA icon"> 
                <a href="/customer-care/#manuals">@Umbraco.Field("#Read Manual")</a>
            </div>

            @if(mib){
                <div class="col-xs-12">
                    <div class="mib-img">
                        <img src="/media/622963/made-in-britain-colour.svg" alt="Made In Britain">
                    </div>
                </div>
            }             
        </div>

        @* Desktop verion of the buy now option *@
        <div class="col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-1 col-xs-12 desktop-only" id="product-buy">
           
			@if(homeNode.Name != "Stoves German")
			{
				<div class="h4">@Umbraco.Field("#Where To Buy")</div>
				<div class="list-group-item">
					<img src="/media/622977/where-to-buy.svg" class="svg" alt="GDHA icon">
					<div class="link">
						<a href="/where-to-buy/?i=i&sku=@product.Name.Replace(" ", String.Empty)">@Umbraco.Field("#Find Your Local Store")</a>
					</div>
				</div>
			}
            
            @if (homeNode.Name != "New World" && homeNode.Name != "Lec" && homeNode.Name != "Stoves German")
            {
                <div id="wtbBox" class="row">
                    <div id="product-list">
                        <div class="outer-container">
                            <div class="inner-container">
                                <article id="wtb">
                                    <ul role="menu" class="element scrollable-menu wtb" id="buynow_menu">
                                        <div class="box" id="buy-now">
                                            <h4 class="red" style="text-align:center;">Buy Now</h4>
                                        </div>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div id="product-control">
                        <div id="up"><img src="/media/622948/arrow-up.svg" class="svg" alt="up arrow"></div>
                        <div id="down"><img src="/media/622947/arrow-down.svg" class="svg" alt="down arrow"></div>
                    </div>
                </div>
            }
			
			@if(homeNode.Name != "Stoves German")
			{
				<div class="list-group-item">
					<img src="/media/622977/where-to-buy.svg" class="svg" alt="GDHA icon">
					<div class="link">
						<a href="http://www.gdhaonline.co.uk/">Outlet Store</a>
					</div>
				</div>
				<div class="list-group-item">
					<img src="/media/623267/spares-store.svg" class="svg" alt="GDHA icon">
					<div class="link">
						<a href="http://www.gdhaonline.co.uk/">Visit Spares Store</a>
					</div>
				</div>
			}
			
			@if(homeNode.Name == "Belling")
			{
            <div class="list-group-item">
                <img src="/media/622977/where-to-buy.svg" class="svg" alt="GDHA icon">
                <div class="link">
                    <a href="http://www.bellingcookshop.co.uk/">Cookshop</a>
                </div>
            </div>
			}
        </div>

        @* mobile version of the buy now feature *@
        @if (homeNode.Name != "New World" && homeNode.Name != "Lec" && homeNode.Name != "Stoves German")
        {
            <div class="col-xs-12 mobile-only" id="mobile-product-buy">
                <div role="button" data-toggle="collapse" href="#collapseBuy" aria-expanded="false" aria-controls="collapseBuy" class="h3">
                    Buy Now
                    <span class="float-right text-right"><img src="/media/622947/arrow-down.svg" class="svg" alt="down arrow"></span>
                </div>
                <div class="collapse" id="collapseBuy">
                    <article id="wtb">
                        <ul role="menu" class="wtb"></ul>
                    </article>
                </div>
            </div>
        }

    </div>
</div>
<div class="container-fluid" id="product-gallery">
	@if(studyImagesCollection.Any())
	{
    <div class="container">
        <div class="row product-image">
            <div class="h4 text-center">@Umbraco.Field("#Gallery")</div>
            <div id="gallery" class="desktop-only">
                <div id="bigimages">
                   
                    @foreach (var caseStudyImage in studyImagesCollection)
                    {
                        i++;
                        <div id="@("normal" + i)" class="normal">
                            <img id="zoom_01" src="@caseStudyImage.Url" data-zoom-image="@caseStudyImage.Url" alt="Gallery Iamge">
                        </div>
                    }
                    <div id="zoomType">*@Umbraco.Field("#Hover over the image to view in more detail")</div>
                </div>
                <div class="thumbs-container">
                    <div id="thumbs">
                        @{i = 0;}
                        @foreach (var caseStudyImage in studyImagesCollection)
                        {
                            i++;
                            <div class="imgcontainer">
                                <a href="javascript: changeImage(@i);" class="elevatezoom-gallery" data-image="@caseStudyImage.Url" data-zoom-image="@caseStudyImage.Url">
                                    <img src="@caseStudyImage.Url" alt="Gallery Image thumbnail">
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>


            @* mobile gallery *@
            <div class="carousel slide mobile-only" id="product-carousel">
                <div class="carousel-inner">
                    @foreach (var caseStudyImage in studyImagesCollection)
                    {
                        var first = studyImagesCollection.First();
                        string itema = first == caseStudyImage ? "item active" : "item";
                        <div class="@itema">
                            @if (caseStudyImage.DocumentTypeAlias == "Image")
                            {
                                <img alt="" src="@caseStudyImage.Url">
                            }
                        </div>
                    }
                </div>
                <a class="left carousel-control" href="#product-carousel" data-slide="prev">
                    <img src="/media/622956/arrow-left.svg" alt="carousel controls">
                </a>
                <a class="right carousel-control" href="#product-carousel" data-slide="next">
                    <img src="/media/622953/arrow-right.svg" alt="carousel controls"></a>
            </div>
            @* end mobile carousel *@
        </div>
    </div>
	}
</div>



@if (Model.Content.AncestorOrSelf(1).Name == "Stoves" && cat.Name == "Range Cookers")
{
    @Html.Partial("Brand/Misc/KeyFeaturesStoves", Model.Content)
}
else if(Model.Content.AncestorOrSelf(1).Name == "Stoves German" && Model.Content.Ancestors("ProductCategoryGroup").FirstOrDefault().Name == "Range Cookers")
{
	@Html.Partial("Brand/Misc/KeyFeaturesStoves", Model.Content)
}
else if (Model.Content.AncestorOrSelf(1).Name == "Belling" && cat.Name == "Freestanding Range Cookers")
{
    @Html.Partial("Brand/Misc/KeyFeaturesBelling", Model.Content)
}


@{
    var keyListValue = productModel.GetPropertyValue<string>("ProductKeyFeatures");
    var keyList = keyListValue.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
    var nodeIds = new int[200];
    for (var runs = 0; runs < keyList.Count(); runs++)
    {
        int number;
        bool result = Int32.TryParse(keyList[runs], out number);
        if (result)
        {
            nodeIds[runs] = number;
        }
    }

    var klist = keyList.Select(int.Parse);
    var keyCollection = Umbraco.TypedContent(nodeIds).Where(x => x != null);
    i = 0;
}
@if (keyCollection.Count() != 0)
{
    @* Features section *@
    <div class="container-fluid" id="product-features">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 general-head">
                    <h4>@Umbraco.Field("#Key Features")</h4>
                    <p>@Umbraco.Field("#Click feature for more information")</p>
                </div>
            </div>

            <div class="row" id="feature-collapse" name="features-collapse">
                <div class="col-sm-4">
                    <img id="feature-img" src="" alt="">
                </div>
                <div class="col-sm-6">
                    <h4 id="feature-name"></h4>
                    <p id="feature-text"></p>
                </div>
                <div class="col-sm-1 text-right" id="feature-close"> <i class="fa fa-times"></i></div>
            </div>
            <div class="row full-divide">

                @foreach (var key in keyCollection)
                {
                    var textItem = key.GetPropertyValue<string>("bodyText");
					var text = textItem != null? textItem.Replace("\"", "") : ""; 

                    i++;
                    
                        <a class="feature-control col-sm-6 col-md-4 col-xs-12" id="feature-@i" data-name="@key.Name"
                           data-img-src="@(key.HasValue("media")?Umbraco.TypedMedia(key.GetPropertyValue("media")).Url:"")"
                           data-text="@Html.Raw(text)">
                            @key.Name
                        </a>
                   
                }

            </div>
        </div>
    </div>
    @* End features section *@
}

    @* Specifications section *@
    <div class="container-fluid" id="product-specification">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="h4 collapse-arrow" data-toggle="collapse" href="#collapseSpecification" aria-expanded="false" aria-controls="collapseSpecification" class="collapsed">
                        @Umbraco.Field("#Specification")
                        <span class="arr">
                            <img src="/media/622947/arrow-down.svg" alt="" class="svg arrow-down">
                        </span>
                    </div>
                </div>
                <div class="collapse" id="collapseSpecification">
                    <div class="col-sm-12">
                        <div class="h5"><a href="@brochure.LinkURL" @Html.Raw(brochure.LinkTarget) @Html.Raw(brochure.LinkTitle)>@Umbraco.Field("#View Brochures")</a></div>
                    </div>
                    @if (features1 != null)
                    {
                        var length = features1.Children().Where(x => x.IsVisible() && x.DocumentTypeAlias != "ProductCollectionSet").Count();
                        var half = length > 1 ? length / 2 : 1;

						
						
                        <div class="col-sm-12 col-md-6">
                            @foreach (var featureItem in features1.Children().Where(x => x.IsVisible() && x.DocumentTypeAlias != "ProductCollectionSet").Take(half))
                            {
                                
                                <h5 class="list-group-item">@featureItem.Name</h5>
                                
								foreach (var item in featureItem.Children().Where(x => x.IsVisible()))
                                {
									if(featureList != null)
									{  
										var itemDescription = featureList.Items
											.Where(x => x.Id == item.Id)
											.Select(x => x.Description)
											.FirstOrDefault();
										
										if(!string.IsNullOrEmpty(itemDescription) && itemDescription != "False" && itemDescription != "No Value"){
										
											if(itemDescription == "True"){
												itemDescription = @Umbraco.Field("#Yes").ToString();
											}
										
											<p>@item.Name<span class="float-right">@itemDescription</span></p>  
										}
									}
                                }
                                
                            }
                        </div>
                        <div class="col-sm-12 col-md-6">
							@foreach (var featureItem in features1.Children().Where(x => x.IsVisible() && x.DocumentTypeAlias != "ProductCollectionSet").Skip(half).Take(half))
                            {
                                
                                <h5 class="list-group-item">@featureItem.Name</h5>
                                
								foreach (var item in featureItem.Children().Where(x => x.IsVisible()))
                                {
								
									if(featureList != null)
									{  
										var itemDescription = featureList.Items
											.Where(x => x.Id == item.Id)
											.Select(x => x.Description)
											.FirstOrDefault();
										
										if(!string.IsNullOrEmpty(itemDescription) && itemDescription != "False"){
										
											if(itemDescription == "True"){
												itemDescription = @Umbraco.Field("#Yes").ToString();
											}
										
											<p>@item.Name<span class="float-right">@itemDescription</span></p>  
										}
									}
                                }
                                
                            }

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @* End specification section *@

	
    @* Register my appliance *@
	@if(homeNode.Name != "Stoves German"){
		@Html.Partial("Brand/Home/RegisterAppliance", @Model.Content)
	}
    @* End Appliance *@


    @{

        var products = productModel.GetPropertyValue<string>("associatedProducts");
        var bannerList = products.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
        nodeIds = new int[200];
        for (var runs = 0; runs < bannerList.Count(); runs++)
        {
            int number;
            bool result = Int32.TryParse(bannerList[runs], out number);
            if (result)
            {
                nodeIds[runs] = number;
            }
        }

        var list = bannerList.Select(int.Parse);
        var productsCollection = Umbraco.TypedContent(bannerList).Where(x => x != null && (x.DocumentTypeAlias == "ProductModel" || x.DocumentTypeAlias == "ProductSku"));
    }

    @* Similar products *@
    @if (productsCollection != null && productsCollection.Count() > 0)
    {
        <div class="container" id="product-similar">
            <h2 class="text-center">Related Products</h2>
            <div class="owl-carousel">
                @foreach (var prod in productsCollection)
                {

                    var imageList = prod.GetPropertyValue<string>("productImages");
                    char[] splitChar = { ',' };
                    string[] ids = imageList != null? imageList.Split(splitChar, StringSplitOptions.RemoveEmptyEntries): new []{""};
                    

                    <div class="text-center product-container">

                        <div class="similar-img">
							@if (ids.Any())
							{
                                var image = Umbraco.Media(ids.First());
                            	<a href="@prod.Url"><img src="@image.Url" alt=""></a>
							}
                        </div>
                        <div class="similar-copy">
                            <div class="h5">@prod.Name</div>
                            @Html.Raw(prod.GetPropertyValue<string>("bodyText"))
                            <div class="h6">colours</div>
                            <div class="product-colour">								
                                @{
                                    if (prod.Children.Any())
                                    {
                                        foreach (var sku in prod.Children)
                                        {
                                            if (sku.GetPropertyValue("productColour") != null)
                                            {
                                                var colourNode = Umbraco.TypedContent(sku.GetPropertyValue("productColour"));
                                                var colour = colourNode != null ? colourNode.GetPropertyValue<string>("HexValue"): "#FFFFFF";

                                                <a href="@sku.Url">
                                                    @if (colour.ToUpper() != "#FFFFFF")
                                                    {
                                                        <div class="product-color" style="background: @colour"> </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="product-color white" style="background: @colour"> </div>
                                                    }
                                                </a>
                                            }
                                        }
                                    }
                                    var prodName = prod.Children.Any() ? prod.Children.First() : prod;
                                }
                            </div>
                            <div class="buy-now"><a href="@prod.Url">Buy Now</a></div>
                        </div>
                        <div class="review">
                            <a class="reevoomark" href="http://mark.reevoo.com/partner/@revoo/@prodName.Name.Replace(" ", String.Empty)">Review</a>
                        </div><br>
                        @* <a class="btn btn-default" href="@prod.Url" role="button">View details &raquo;</a> *@
                    </div>
                }
            </div>
        </div>
    }

    <script>
    //image gallery script. onclick change thumbnail to big image
    function changeImage(current) {
        var imagesNumber = @studyImagesCollection.Length ;
        var thumbNum = @studyImagesCollection.Length;
        for (i=1; i<=thumbNum; i++) {
            if (i == current) {
                document.getElementById("normal" + current).style.display = "block";
            } else {
                document.getElementById("normal" + i).style.display = "none";
            }
        }
    }

    // magnifying glass code for big image in gallery. 
    $("#zoom_01").elevateZoom({gallery:'thumbs', cursor: 'crosshair', zoomType:"inner"});

    // //code for onclick modal with iframe embedded
    var frameSrc = 'http://isitetv.com/isitetv_cms/sku_player.php?cid=@vidCid&sku=@vidUrl';

    $(document).on('click', '.list-group-item .textclick', function(e) {
        $('.modal').on('shown.bs.modal',function(){     
            $(this).find('iframe').attr('src',frameSrc);
        });
    });

    $(window).load(function(){
        $("#overview .right-overview .tab-pane").mCustomScrollbar({
            theme:"dark"
        });
    });

   
    
    // set functions for all five svg types. 
  changeColourSvg('svg-1', '@brand');
  changeColourSvg('svg-2', '@brand');
  changeColourSvg('svg-3', '@brand');
  changeColourSvg('svg-4', '@brand');
  changeColourSvg('svg-5', '@brand');

	// remove empty specification headers
	RemoveEmptySpecifications();

	function RemoveEmptySpecifications() {
		$('h5.list-group-item').each(function() {
			if(!$(this).next('p').length) {
				$(this).remove();
			}
		});
	}
  
</script>
