﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "templatePages.cshtml";
}
<div class="container" id="head-panel">
	<div class="row">		
		<div class="col-sm-12 text-center">
			<h1>product title</h1>
			<p>product type 900mm Range cooker</p>
		</div>

		@* mobile only version of the product and image *@
		@* <div class="col-sm-4 col-xs-12 text-center" id="product-image">
			<img src="http://placehold.it/200x240" alt="">
			<p>colour</p>
			<div class="product-colours">
					<span class="product-color">0</span>
					<span class="product-color">0</span>
					<span class="product-color">0</span>
					<span class="product-color">0</span>
					<span class="product-color">0</span>
				</div>
		</div> *@

		<div class="col-sm-4 col-xs-12" id="product-info">
			<div><img src="http://placehold.it/200x40" alt=""></div><br>
			<div><img src="http://placehold.it/200x40" alt=""></div><br>
			<div class="list-group-item"><img src="http://placehold.it/30x30" alt="">Manuals</div>
			<div class="list-group-item"><img src="http://placehold.it/30x30" alt="">Download Factsheet</div>
			<div class="list-group-item"><img src="http://placehold.it/30x30" alt="">Find Your Local Store</div>
			<div class="list-group-item"><img src="http://placehold.it/30x30" alt="">Play Product Video</div>
		</div>

		@* desktop version of product image and info *@
		<div class="col-sm-4 col-xs-12 text-center" id="product-image">
			<img src="http://placehold.it/200x240" alt="">
			<p>colour</p>
			<div class="product-colours">
				<span class="product-color">0</span>
				<span class="product-color">0</span>
				<span class="product-color">0</span>
				<span class="product-color">0</span>
				<span class="product-color">0</span>
			</div>
		</div>
		
		@* Desktop verion of the buy now option *@
		<div class="col-sm-4 col-xs-12 desktop-only" id="product-buy"> 
			<div class="h3">Buy Now</div>
				<div id="product-list">
					<div class="outer-container">
						<div class="inner-container">
							<ul role="menu" class="element scrollable-menu" id="buynow_menu">
								<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
								<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
								<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
								<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
								<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
								<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
								<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
								<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
								<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div id="product-control">
					<div id="up"><i class="fa fa-chevron-up"></i></div>
					<div id="down"><i class="fa fa-chevron-down"></i></div>
				</div>
		</div>
		
		@* mobile version of the buy now feature *@

		<div class="col-xs-12 mobile-only" id="mobile-product-buy">
			<div role="button" data-toggle="collapse" href="#collapseBuy" aria-expanded="false" aria-controls="collapseBuy" class="h3">
				Buy Now 
				<span class="float-right text-right"><i class="fa fa-chevron-down"></i></span>
			</div>
			<div class="collapse" id="collapseBuy">
				<ul role="menu">
					<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
					<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
					<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
					<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
					<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
					<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
					<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
					<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
					<li><img src="http://placehold.it/60x30" alt=""> <span class="float-right">Buy Now</span></li>
				</ul>
			</div>
		</div>

	</div>
</div>
<div class="container-fluid" id="product-gallery">
	
	<div class="row">
		@* desktop gallery *@
		<div class="container desktop-only">
			<div class="row">				
				<img id="big" src="http://placehold.it/300x110">
				<div id="thumbnails" class="text-center">
					<a target="http://placehold.it/300x110"><img src="http://placehold.it/300x230" alt=""></a>
					<a target="http://placehold.it/300x130"><img src="http://placehold.it/300x230" alt=""></a>
					<a target="http://placehold.it/300x230"><img src="http://placehold.it/300x230" alt=""></a>
				</div> 
			</div>
		</div>

		@* mobile gallery *@
			<div class="carousel slide mobile-only" id="product-carousel">				
				<div class="carousel-inner">
					<div class="item active">
						<img alt="Carousel Bootstrap First" src="http://lorempixel.com/output/sports-q-c-1600-500-1.jpg">		
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Second" src="http://lorempixel.com/output/sports-q-c-1600-500-2.jpg">
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg">
					</div>
				</div> 
				<a class="left carousel-control" href="#product-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#product-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			@* end mobile carousel *@
	</div>	
</div>

<div class="container-fluid" id="overview">
	<div class="row desktop-only">
		<div class="left-overview text-center">
			<div class="nav nav-tabs" role="tablist">
				@* <br><br>
		    <div><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></div>
		    <div><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></div>
		    <div><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></div>
		    <div><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></div> 
		    *@

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 841.9 595.3" enable-background="new 0 0 841.9 595.3" xml:space="preserve" id="svg-overview">
<a href="#home" aria-controls="home" role="tab" data-toggle="tab">
	<g id="svg-1">
		<line fill="none" class="svg-1" stroke-width="2.36" x1="294.6" y1="214.5" x2="547.2" y2="214.5"/>
		<line fill="none" class="svg-1" stroke-width="2.36" x1="420.9" y1="282.9" x2="294.6" y2="282.9"/>
		<circle fill="none" class="svg-1" stroke-width="2.36" cx="314.3" cy="196.8" r="5.3"/>
		<circle fill="none" class="svg-1" stroke-width="2.36" cx="470.7" cy="196.8" r="5.3"/>
		<circle fill="none" class="svg-1" stroke-width="2.36" cx="328.5" cy="196.8" r="5.3"/>
		<circle fill="none" class="svg-1" stroke-width="2.36" cx="484.9" cy="196.8" r="5.3"/>
		<circle fill="none" class="svg-1" stroke-width="2.36" cx="342.7" cy="196.8" r="5.3"/>
		<circle fill="none" class="svg-1" stroke-width="2.36" cx="499.1" cy="196.8" r="5.3"/>
		<circle fill="none" class="svg-1" stroke-width="2.36" cx="356.9" cy="196.8" r="5.3"/>
		<circle fill="none" class="svg-1" stroke-width="2.36" cx="513.3" cy="196.8" r="5.3"/>
		<circle fill="none" class="svg-1" stroke-width="2.36" cx="371.1" cy="196.8" r="5.3"/>
		<circle fill="none" class="svg-1" stroke-width="2.36" cx="527.4" cy="196.8" r="5.3"/>
		<rect x="294.9" y="179.7" fill="none" class="svg-1" stroke-width="2.36" width="251.8" height="34.8"/>
		<path class="svg-1-circle" d="M421.2,198.8c9.8,0,17.7-7.9,17.7-17.7c0-9.7-7.9-17.7-17.7-17.7s-17.7,7.9-17.7,17.7
			C403.6,190.9,411.5,198.8,421.2,198.8"/>
		<polygon points="423.3,188.6 423.3,175.9 421,175.9 417,179.9 418.5,181.5 420.6,179.4 420.6,188.6" class="svg-1-text"/>
	</g>
</a>
<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
	<g id="svg-2">
		<rect x="309" y="225.7" fill="none" class="svg-2" stroke-width="2.36" width="95.2" height="5.9"/>
		<rect x="294.9" y="214.5" fill="none" class="svg-2" id="svg-2-control" stroke-width="2.36" width="125.8" height="68.4"/>
		<path class="svg-2-circle" d="M296.7,272.8c9.8,0,17.7-7.9,17.7-17.7c0-9.8-7.9-17.7-17.7-17.7s-17.7,7.9-17.7,17.7
			C279,264.9,286.9,272.8,296.7,272.8"/>
		<path d="M301.5,261.4V259h-5.2c3.3-2.4,5.1-4.3,5.1-6.4c0-2.5-2.1-4-4.8-4c-1.8,0-3.6,0.6-4.9,2.1l1.5,1.8c0.9-0.9,2-1.5,3.4-1.5
			c1,0,2.1,0.6,2.1,1.7c0,1.6-1.5,2.9-6.7,6.7v2.1H301.5z" class="svg-2-text"/>
	</g>
</a>
<a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
	<g id="svg-3">
		<rect x="309" y="294.1" fill="none" class="svg-3" stroke-width="2.36" width="95.2" height="5.9"/>
		<rect x="294.9" y="282.9" fill="none" class="svg-3" id="svg-3-control" stroke-width="2.36" width="125.8" height="148.2"/>
		<path class="svg-3-circle" d="M296.7,385.5c9.8,0,17.7-7.9,17.7-17.7c0-9.8-7.9-17.7-17.7-17.7s-17.7,7.9-17.7,17.7
			C279,377.6,286.9,385.5,296.7,385.5"/>
		<path d="M295.8,375.5c3,0,5-1.5,5-3.7c0-1.9-1.7-2.9-3-3c1.4-0.2,2.8-1.3,2.8-2.9c0-2.1-1.8-3.4-4.8-3.4c-2.2,0-3.8,0.9-4.8,2
			l1.3,1.7c0.9-0.9,2-1.3,3.2-1.3c1.3,0,2.4,0.5,2.4,1.5c0,0.9-0.9,1.3-2.3,1.3c-0.5,0-1.3,0-1.6,0v2.4c0.2,0,1,0,1.6,0
			c1.8,0,2.5,0.5,2.5,1.5c0,0.9-0.9,1.6-2.4,1.6c-1.2,0-2.6-0.5-3.5-1.4l-1.4,1.8C291.8,374.6,293.5,375.5,295.8,375.5" class="svg-3-text"/>
	</g>
</a>
<a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
	<g id="svg-4">
		<g>
			<rect x="435.9" y="225.7" fill="none" class="svg-4" stroke-width="2.36" width="95.2" height="5.9"/>
			<circle fill="none" class="svg-4" stroke-width="2.36" cx="487.2" cy="266.4" r="10"/>
			<path class="svg-4-circle" d="M546.3,308.4c9.8,0,17.7-7.9,17.7-17.7c0-9.8-7.9-17.7-17.7-17.7s-17.7,7.9-17.7,17.7
				C528.6,300.4,536.5,308.4,546.3,308.4"/>
			<rect x="420.9" y="214.5" fill="none" class="svg-4" id="svg-4-control" stroke-width="2.36" width="125.8" height="216.6"/>
			<path d="M546.6,292.2h-3.4l3.4-5.3V292.2z M549.3,297.2v-2.6h1.6v-2.4h-1.6v-7.7h-3.7l-5,7.9v2.1h6.1v2.6H549.3z" class="svg-4-text"/>
		</g>
	</g>
</a>
</svg>


		  </div>				
		</div>
		<div class="right-overview text-center">
			<div class="triangle"></div>
			<div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">
					<div class="circle-num">1</div>
					<h3>Cavity 1</h3>
					<p>Tall Fanned Oven</p>
					<p>Tall Fanned Oven</p>
					<p>Tall Fanned Oven</p>
					<p>Tall Fanned Oven</p>
				</div>
		    <div role="tabpanel" class="tab-pane fade" id="profile">
					<div class="circle-num">2</div>
					<h3>Cavity 2</h3>
					<p>Tall Fanned Oven</p>
					<p>Tall Fanned Oven</p>
					<p>Tall Fanned Oven</p>
					<p>Tall Fanned Oven</p>
			  </div>
		    <div role="tabpanel" class="tab-pane fade" id="messages">
					<div class="circle-num">3</div>
					<h3>Cavity 3</h3>
					<p>Tall Fanned Oven</p>
					<p>Tall Fanned Oven</p>
					<p>Tall Fanned Oven</p>
					<p>Tall Fanned Oven</p>
		    </div>
		    <div role="tabpanel" class="tab-pane fade" id="settings">
					<div class="circle-num">4</div>
					<h3>Cavity 4</h3>
					<p>Tall Fanned Oven</p>
					<p>Tall Fanned Oven</p>
					<p>Tall Fanned Oven</p>
					<p>Tall Fanned Oven</p>
		    </div>
		  </div>
		</div>
	</div>
	<div class="row mobile-only">
		<div class="container">
			<div class="col-xs-12">
				<div class="row">
					<h3>OVERVIEW</h3>
					<h6>Cavity One</h6>
					<p>Lorem</p>
					<h6>Cavity two</h6>
					<p>Lorem</p>
					<h6>Cavity three</h6>
					<p>Lorem</p>
					<h6>Cavity four</h6>
					<p>Lorem</p>
					</div>
			</div>
		</div>
	</div>
</div>



@* Features section *@
<div class="container-fluid" id="product-features">	
	<div class="container">
		<div class="row">	
			<h3>Key Features</h3>
			<p>Click feature for more information</p>

			<div class="col-sm-12" id="feature-collapse" name="features-collapse">
				<span>collapsable content</span>
				<div class="row">
					<div class="col-sm-4">
						<img id="feature-img" src="" alt="">
					</div>
					<div class="col-sm-6">
						<h4 id="feature-name"></h4>
						<p id="feature-text"></p>
					</div>
					<div class="col-sm-2 text-right" id="feature-close"> <i class="fa fa-times"></i></div>
				</div>
			</div>

			<div class="col-sm-4">
				<a class="feature-control" id="feature-1" data-name="Gas Hob" data-img-src="http://placehold.it/60x30" data-text="<p>lorem ipsum</p>">
					Controller one
				</a>
			</div>
			<div class="col-sm-4">
				<a class="feature-control" id="feature-2" data-name="Gas stoves" data-img-src="http://placehold.it/70x30" data-text="<p>lorem ipsum 251</p>">
					controller two
				</a>
			</div>
			<div class="col-sm-4">
				<a class="feature-control" id="feature-3" data-name="level Hob" data-img-src="http://placehold.it/90x30" data-text="<p>lorem ipsum lorel</p>">
					controller three
				</a>
			</div>

			<div class="col-sm-4">
				<a class="feature-control" id="feature-1" data-name="Gas Hob" data-img-src="http://placehold.it/60x30" data-text="<p>lorem ipsum</p>">
					Controller one
				</a>
			</div>
			<div class="col-sm-4">
				<a class="feature-control" id="feature-2" data-name="Gas stoves" data-img-src="http://placehold.it/70x30" data-text="<p>lorem ipsum 251</p>">
					controller two
				</a>
			</div>
			<div class="col-sm-4">
				<a class="feature-control" id="feature-3" data-name="level Hob" data-img-src="http://placehold.it/90x30" data-text="<p>lorem ipsum lorel</p>">
					controller three
				</a>
			</div>

			<div class="col-sm-4">
				<a class="feature-control" id="feature-1" data-name="Gas Hob" data-img-src="http://placehold.it/60x30" data-text="<p>lorem ipsum</p>">
					Controller one
				</a>
			</div>
			<div class="col-sm-4">
				<a class="feature-control" id="feature-2" data-name="Gas stoves" data-img-src="http://placehold.it/70x30" data-text="<p>lorem ipsum 251</p>">
					controller two
				</a>
			</div>
			<div class="col-sm-4">
				<a class="feature-control" id="feature-3" data-name="level Hob" data-img-src="http://placehold.it/90x30" data-text="<p>lorem ipsum lorel</p>">
					controller three
				</a>
			</div>

			<div class="col-sm-4">
				<a class="feature-control" id="feature-1" data-name="Gas Hob" data-img-src="http://placehold.it/60x30" data-text="<p>lorem ipsum</p>">
					Controller one
				</a>
			</div>
			<div class="col-sm-4">
				<a class="feature-control" id="feature-2" data-name="Gas stoves" data-img-src="http://placehold.it/70x30" data-text="<p>lorem ipsum 251</p>">
					controller two
				</a>
			</div>
			<div class="col-sm-4">
				<a class="feature-control" id="feature-3" data-name="level Hob" data-img-src="http://placehold.it/90x30" data-text="<p>lorem ipsum lorel</p>">
					controller three
				</a>
			</div>
		</div>
	</div>
</div>
@* End features section *@

@* Specifications section *@
<div class="container-fluid" id="product-specification">	
	<div class="container">
		<div class="row">	
			<div class="h3 text-center" data-toggle="collapse" href="#collapseSpecification" aria-expanded="false" aria-controls="collapseSpecification">Specification <span class="float-right"><i class="fa fa-chevron-down"></i></span></div>
			<div class="col-sm-12 collapse" id="collapseSpecification">
				<div class="col-sm-6">
					<h6>Hob</h6>
					<p>Number of burners<span class="float-right">5 burners</span></p>
					<p>Fuel<span class="float-right">Duel Fuel</span></p>
					<p>Cavity<span class="float-right">Top-left</span></p>
					<hr>
					<h6>Hob</h6>
					<p>Number of burners<span class="float-right">5 burners</span></p>
					<p>Fuel<span class="float-right">Duel Fuel</span></p>
					<p>Cavity<span class="float-right">Top-left</span></p>
					<hr>
					<h6>Hob</h6>
					<p>Number of burners<span class="float-right">5 burners</span></p>
					<p>Fuel<span class="float-right">Duel Fuel</span></p>
					<p>Cavity<span class="float-right">Top-left</span></p>
					<hr>
				</div>
				<div class="col-sm-6">
					<h6>Hob</h6>
					<p>Number of burners<span class="float-right">5 burners</span></p>
					<p>Fuel<span class="float-right">Duel Fuel</span></p>
					<p>Cavity<span class="float-right">Top-left</span></p>
					<hr>
					<h6>Hob</h6>
					<p>Number of burners<span class="float-right">5 burners</span></p>
					<p>Fuel<span class="float-right">Duel Fuel</span></p>
					<p>Cavity<span class="float-right">Top-left</span></p>
					<hr>
					<h6>Hob</h6>
					<p>Number of burners<span class="float-right">5 burners</span></p>
					<p>Fuel<span class="float-right">Duel Fuel</span></p>
					<p>Cavity<span class="float-right">Top-left</span></p>
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>
@* End specification section *@

@* Similar products *@
<div class="container" id="product-similar">
	<div class="row desktop-only">
		<div id="similar-product-carousel" class="carousel slide">		  

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <div class="col-sm-4 text-center product-container">      
						<img src="http://placehold.it/90x80" alt="">
						<div class="h5">Product Name</div>
						<p>lorem ipsum</p>
						<div class="h6">colours</div>
						<div class="product-colours">
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
						</div>
						<div class="h6">Buy Now</div>
						<a class="btn btn-default" href="#" role="button">Review</a>
						<p>compare</p>
						<a class="btn btn-default" href="#" role="button">View details &raquo;</a>       	
			    </div><!--product-container-->

			    <div class="col-sm-4 text-center product-container">      
						<img src="http://placehold.it/90x80" alt="">
						<div class="h5">Product Name</div>
						<p>lorem ipsum</p>
						<div class="h6">colours</div>
						<div class="product-colours">
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
						</div>
						<div class="h6">Buy Now</div>
						<a class="btn btn-default" href="#" role="button">Review</a>
						<p>compare</p>
						<a class="btn btn-default" href="#" role="button">View details &raquo;</a>       	
			    </div><!--product-container-->

			    <div class="col-sm-4 text-center product-container">      
						<img src="http://placehold.it/90x80" alt="">
						<div class="h5">Product Name</div>
						<p>lorem ipsum</p>
						<div class="h6">colours</div>
						<div class="product-colours">
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
						</div>
						<div class="h6">Buy Now</div>
						<a class="btn btn-default" href="#" role="button">Review</a>
						<p>compare</p>
						<a class="btn btn-default" href="#" role="button">View details &raquo;</a>       	
			    </div><!--product-container-->
				</div>

		    <div class="item">
		      <div class="col-sm-4 text-center product-container">      
						<img src="http://placehold.it/90x80" alt="">
						<div class="h5">Product Name</div>
						<p>lorem ipsum</p>
						<div class="h6">colours</div>
						<div class="product-colours">
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
						</div>
						<div class="h6">Buy Now</div>
						<a class="btn btn-default" href="#" role="button">Review</a>
						<p>compare</p>
						<a class="btn btn-default" href="#" role="button">View details &raquo;</a>       	
			    </div><!--product-container-->

			    <div class="col-sm-4 text-center product-container">      
						<img src="http://placehold.it/90x80" alt="">
						<div class="h5">Product Name</div>
						<p>lorem ipsum</p>
						<div class="h6">colours</div>
						<div class="product-colours">
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
						</div>
						<div class="h6">Buy Now</div>
						<a class="btn btn-default" href="#" role="button">Review</a>
						<p>compare</p>
						<a class="btn btn-default" href="#" role="button">View details &raquo;</a>       	
			    </div><!--product-container-->

			    <div class="col-sm-4 text-center product-container">      
						<img src="http://placehold.it/90x80" alt="">
						<div class="h5">Product Name</div>
						<p>lorem ipsum</p>
						<div class="h6">colours</div>
						<div class="product-colours">
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
						</div>
						<div class="h6">Buy Now</div>
						<a class="btn btn-default" href="#" role="button">Review</a>
						<p>compare</p>
						<a class="btn btn-default" href="#" role="button">View details &raquo;</a>       	
			    </div><!--product-container-->
				</div>
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#similar-product-carousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#similar-product-carousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>


	<div class="row mobile-only">
		<div id="similar-product-mobile-carousel" class="carousel slide">
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <div class="col-xs-12 text-center product-container">      
						<img src="http://placehold.it/90x80" alt="">
						<div class="h5">Product Name</div>
						<p>lorem ipsum</p>
						<div class="h6">colours</div>
						<div class="product-colours">
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
						</div>
						<div class="h6">Buy Now</div>
						<a class="btn btn-default" href="#" role="button">Review</a>
						<p>compare</p>
						<a class="btn btn-default" href="#" role="button">View details &raquo;</a>       	
			    </div><!--product-container-->
		    </div>
		    <div class="item">
		      <div class="col-xs-12 text-center product-container">      
						<img src="http://placehold.it/90x80" alt="">
						<div class="h5">Product Name</div>
						<p>lorem ipsum</p>
						<div class="h6">colours</div>
						<div class="product-colours">
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
							<span class="product-color">0</span>
						</div>
						<div class="h6">Buy Now</div>
						<a class="btn btn-default" href="#" role="button">Review</a>
						<p>compare</p>
						<a class="btn btn-default" href="#" role="button">View details &raquo;</a>       	
			    </div><!--product-container-->
		    </div>
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#similar-product-mobile-carousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#similar-product-mobile-carousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
</div>
@* End similar products *@