﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Brand.cshtml";
  	var products = Model.Content.Children;
    var image = Model.Content.HasValue("Image") ? Umbraco.TypedMedia(Model.Content.GetPropertyValue("image")).Url : "";
    var bodyText = Model.Content.GetPropertyValue("bodyText");
    var pageTitle = Model.Content.GetPropertyValue("pageTitle");
    @* var link = Model.Content.HasValue("link") ? Model.Content.GetPropertyValue<MultiUrls>("link").First() : null; *@
    var linkText = Model.Content.GetPropertyValue("linkText");
    var colour = Model.Content.GetPropertyValue("colour");
}


@* <div class="container-fluid" style="background-color: @colour;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 why-content range-head">
        <div class="mid-content">
          <div class="width-container white-text">
            <h3>@pageTitle</h3>
            <p class="opacity-50">@bodyText</p>
            <a href="/why-buy/why-buy-range/" class="btn btn-default">@linkText</a>
          </div>
        </div>
      </div> 
      <div class="col-sm-6 why-image text-center">
        <div class="mid-content">
          <div class="width-container">                 
            <img src="@image" alt="placehlder">           
          </div>
        </div>
      </div>                     
    </div> 
  </div> 
</div> *@

<div class="container mobile-container">
  <div class="row">
    <div class="col-md-offset-3 col-md-9 col-sm-offset-0 col-sm-12 text-center general-head product-listing">
      <h1>@pageTitle</h1>
    </div>
  </div>
  <div class="row row-offcanvas row-offcanvas-left">
  	
  	<!-- sidebar filter -->
  	 <div class="col-xs-6 col-lg-3 col-md-3 col-sm-6 sidebar-offcanvas text-center" id="sidebar">
  		<div class="close-menu visible-xs" data-toggle="offcanvas">Close</div>	
      @Html.Partial("brand/ProductFilter")
    </div><!--/.sidebar-offcanvas-->

    <div class="col-xs-12 col-sm-6 col-md-9 col-lg-9 close-menu p-l-c">
      <p class="visible-xs">
        <button type="button" class="btn btn-primary btn-xs col-xs-12" data-toggle="offcanvas">Filter</button>
      </p>
      <div class="row">
          @Html.Partial("brand/ProductSearch")
      </div>

    </div><!--/.col-xs-12.col-sm-9-->

  </div><!--/row-->
</div>

@section FooterScripts {
    <script src="/scripts/productFilter.js"></script>
}
