﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "RangeMaster.cshtml";
}
@section Main{
	<div class="add-block content-block">
    <div class="block">
        @Umbraco.Field("content", recursive: true)
    </div>
</div>
}