﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "RangeMaster.cshtml";
}
@section Main{
	<div class="panel-holder">
		<div class="promo-panel">
			@if (Model.Content.HasValue("leftPromo"))
            {
				var imageId = Model.Content.GetPropertyValue("leftPromo");
                var image = Umbraco.TypedMedia(imageId);
                if (image != null)
                {
                    <img src="/imagegen.ashx?image=@image.Url&amp;width=475&amp;constrain=true;&amp;compression=97">
                }
            } else {
				<img src="http://placehold.it/475x301/b9b9b9/ffffff&amp;text=Insert Left Panel Promo">
			}
			@if (CurrentPage.HasValue("leftPromoLink")){
				var picker = Umbraco.Content(CurrentPage.GetPropertyValue("leftPromoLink"));
					<div class="link">
						<a href="@picker.Url">
							<p>View all <b>Belling</b> Range Cookers</p>
							<div class="small-logo">
								@if (Model.Content.AncestorOrSelf().HasValue("logo2")){
									var imageId = Model.Content.AncestorOrSelf().GetPropertyValue("logo2");
                                <img src="/imagegen.ashx?image=@Umbraco.TypedMedia(@imageId).Url&amp;width=475&amp;constrain=true;&amp;compression=97">
								} else {
									<img src="http://placehold.it/100x50/b9b9b9/ffffff&amp;text=Small Left Logo">
								}
							</div>
							<div class="arrow"></div>
						</a>
					</div>
			} else {
				<div class="link">
					<a href="/">Please Choose a link</a>
				</div>
			}
		</div>
		<div class="promo-panel">
			@if (Model.Content.HasValue("rightPromo"))
            {
                var imageId = Model.Content.GetPropertyValue("rightPromo");
            <img src="/imagegen.ashx?image=@Umbraco.TypedMedia(@imageId).Url&amp;width=475&amp;constrain=true;&amp;compression=97">
			} else {
				<img src="http://placehold.it/475x301/b9b9b9/ffffff&amp;text=Insert Right Panel Promo">
			}
			@if (Model.Content.HasValue("rightPromoLink"))
            {
                var picker = Umbraco.Content(Model.Content.GetPropertyValue("rightPromoLink"));
					<div class="link">
						<a href="@picker.Url">
							<p>View all <b>Stoves</b> Range Cookers</p>
							<div class="small-logo">								
								@if (Model.Content.AncestorOrSelf().HasValue("logo3")){
									var imageId = Model.Content.AncestorOrSelf().GetPropertyValue("logo3");
									<img src="/imagegen.ashx?image=@Umbraco.TypedMedia(@imageId).Url&amp;width=475&amp;constrain=true;&amp;compression=97">
								} else {
									<img src="http://placehold.it/100x50/b9b9b9/ffffff&amp;text=Small Left Logo">
								}
							</div>
							<div class="arrow"></div>
						</a>
					</div>
			} else {
				<div class="link">
					<a href="/">Please Choose a link</a>
				</div>
			}
		</div>
	</div>
	<div class="title">
		@if (Model.Content.HasValue("title1"))
        {
            var title = Model.Content.GetPropertyValue("title1");
			<h2 class="center">@title</h2>
		}
	</div>
			
	@Html.Partial("GDHA/RangePromo")
	
	<div class="title">
		@if (Model.Content.HasValue("title2"))
        {
            var title = Model.Content.GetPropertyValue("title2");
			<h2 class="center">@title</h2>
		}	
	</div>
			
	@Html.Partial("GDHA/RangeCTA")
}