﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "RangeMaster.cshtml";
}

@{
	var root = Model.Content.AncestorOrSelf(1);
	var nodes = root.Descendants("RangePromo");
}

@section Main{
	
	<div class="top-banner">
		@if (CurrentPage.HasValue("promoBanner")){
			var imageId = CurrentPage.GetPropertyValue("promoBanner");
			<img src="/imagegen.ashx?image=@Umbraco.TypedMedia(@imageId).Url&amp;width=990&amp;constrain=true;&amp;compression=97">
		} else {
			<img src="http://placehold.it/990x200/b9b9b9/ffffff&amp;text=Insert Promo Banner Image">
		}
	</div>
	
	<div class="rte-panel">
		@Umbraco.Field("content", recursive: true)
	</div>
		
	<div class="right-column">
			
		<div class="panel">
			@foreach(var page in nodes.Where("Visible").Skip(1).Take(2)){
				<div class="slide">
					<div class="promo-holder">
						<a href="@page.NiceUrl()">
							@if (page.HasValue("promoHomepage")){
								var imageId = page.GetPropertyValue("promoHomepage");
							<img src="/imagegen.ashx?image=@Umbraco.TypedMedia(@imageId).Url&amp;width=305&amp;constrain=true;&amp;compression=97">
							} else {
								<img src="http://placehold.it/280x230/b9b9b9/ffffff&amp;text=@page.Name">
							}
						</a>
					</div>
				</div>
			}
		</div>
			
	</div>
}