﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "RangeMaster.cshtml";
}

@section Main{
<ul>
    @foreach(var page in CurrentPage.Children.Where("Visible"))
    {
        <li><a href="@page.NiceUrl()">@page.Name</a></li>
    }
</ul>
}