﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using RJP.MultiUrlPicker.Models
@{
    Layout = "Brand.cshtml";
	var reasonsToBuy = Model.Content.Parent.Children;
	var title = Model.Content.HasValue("Title") ? Model.Content.GetPropertyValue("Title") : Model.Content.Name;
	var image = Model.Content.HasValue("image") ? Umbraco.TypedMedia(Model.Content.GetPropertyValue("image")) : null;
	var body = Model.Content.HasValue("body") ? Model.Content.GetPropertyValue("body") : Model.Content.Name;
	var link = Model.Content.HasValue("link") ? Model.Content.GetPropertyValue<MultiUrls>("link").First() : null;
	var brand = Model.Content.AncestorOrSelf(1);
	var feed = Model.Content.AncestorOrSelf(1).Children.Where(x => x.DocumentTypeAlias == "WhyBuy").First().Children.Take(5);
	var viewAll = Model.Content.HasValue("viewAllLink") ? Model.Content.GetPropertyValue<MultiUrls>("viewAllLink").First().Url : "";
}
   
<div class="container why-buy-general">
    <div class="row half-background">
        <div class="col-md-8 col-sm-6">
            <h1>@title</h1>

            <div class="item-holder">
                @if (image != null)
                {
                    <img src="@image.Url" alt="why buy">
                }
            </div>
            <p>@body</p>
            <br>
            @if (link != null)
            {
                <a class="btn btn-black" href="@link.Url">View @link.Name</a>
            }
            <br>

           @Html.Partial("Brand/Master/share")

        </div>
        <div class="col-md-4 col-sm-6" style="display:block;">
            <ul class="sidenav-list">
				<li><h5>Why Buy</h5></li>
				@foreach(var page in feed)
				{
					<li><a href="@page.Url"><span class="right-text">@page.Name</span><span class="float-right right-icon"><img src="/media/622953/arrow-right.svg" class="svg" alt=""></span></a></li>
				}				
			</ul>
        </div>
    <!--//-->
    </div>
</div>
