﻿@inherits UmbracoTemplatePage
@using RJP.MultiUrlPicker.Models
@using Archetype.Models
@{
    Layout = "Brand.cshtml";
	ArchetypeModel banners = Model.Content.GetPropertyValue<ArchetypeModel>("banners");
	ArchetypeModel banners1 = Model.Content.GetPropertyValue<ArchetypeModel>("banners1");
	ArchetypeModel slideshow1 = Model.Content.GetPropertyValue<ArchetypeModel>("slideshow1");
	ArchetypeModel slideshow2 = Model.Content.GetPropertyValue<ArchetypeModel>("slideshow2");
	ArchetypeModel slideshow3 = Model.Content.GetPropertyValue<ArchetypeModel>("slideshow3"); 	
	var i = 0;
}

<div class="container-fluid">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1>@Model.Content.Name</h1>
				@if(@Model.Content.HasValue("ViewAllLink"))
				{
					var viewLink = Model.Content.GetPropertyValue<MultiUrls>("ViewAllLink");
					<p class="view-all"><a href="@viewLink.First().Url">@viewLink.First().Name</a></p>
				}
            </div>
        </div>
    </div>
</div> 

	@foreach (var fieldset in banners)
	{
		var image = fieldset.HasValue("Image") ? Umbraco.TypedMedia(int.Parse(fieldset.GetValue("Image"))).Url:"http://placehold.it/350x150";                
		var body = fieldset.HasValue("body") ? fieldset.GetValue<string>("body"):"";
		var heading = fieldset.HasValue("heading") ? fieldset.GetValue<string>("heading"):"";
		var link = fieldset.HasValue("link") ? fieldset.GetValue<MultiUrls>("link").First().Url:"";
		var linkText = fieldset.HasValue("linkText") ? fieldset.GetValue<string>("linkText"):"";		
		var sectionHeading = fieldset.HasValue("sectionHeading") ? fieldset.GetValue<string>("sectionHeading"):"";
		var colour = fieldset.HasValue("colour") ? fieldset.GetValue<string>("colour"):"";
		var idName = fieldset.HasValue("idName") ? fieldset.GetValue<string>("idName"):"";
		
		<div class="container-fluid why-buy-range desktop-only">    
	    <div class="row background-image" id="wb-1" style="background-color: @colour;">
	    	@* <h5>@sectionHeading</h5> *@
        <div class="col-xs-12 col-sm-12 col-md-6 text-center why-content">
          <div class="mid-content">
            <div class="width-container">	                                    
              <div class="h4">@heading</div>
              <p>@body</p>
              <a href="@link" class="btn btn-default">@linkText</a>
            </div>
          </div>
        </div> 

        <div class="col-xs-12 col-sm-12 col-md-6 text-center why-content" style="background-color: @colour;">
          <div class="mid-content">
            <div class="width-container s-1-img">	                                    
             <img src="@image" alt="placehlder">	
            </div>
          </div>
        </div> 
	    </div>
	  </div>

	  @* mobile version *@
		<div class="container-fluid mobile-only mob-why-buy" id="banner-wtb-mob1" style="background-color: @colour;">
			<div class="row">
				<div class="col-xs-12">
					<h1>@heading</h1>
		      <div class="hero-text">@body</div>
		      <a href="@link" class="btn btn-default">@linkText</a>
				</div>
			</div>
		</div>
		<div class="container-fluid mobile-only mob-why-buy" id="banner-wtb-mob2" style="background-color: @colour;">
			<img src="@image" alt="Mobile why buy image">
		</div>
	}

	@foreach (var fieldset in banners1)
	{
		var image = fieldset.HasValue("Image") ? Umbraco.TypedMedia(int.Parse(fieldset.GetValue("Image"))).Url:"http://placehold.it/350x150";                
		var body = fieldset.HasValue("body") ? fieldset.GetValue<string>("body"):"";
		var heading = fieldset.HasValue("heading") ? fieldset.GetValue<string>("heading"):"";
		var link = fieldset.HasValue("link") ? fieldset.GetValue<MultiUrls>("link").First().Url:"";
		var linkText = fieldset.HasValue("linkText") ? fieldset.GetValue<string>("linkText"):"";		
		var sectionHeading = fieldset.HasValue("sectionHeading") ? fieldset.GetValue<string>("sectionHeading"):"";
		var colour = fieldset.HasValue("colour") ? fieldset.GetValue<string>("colour"):"";
		var idName = fieldset.HasValue("idName") ? fieldset.GetValue<string>("idName"):"";
		<div class="container-fluid why-buy-range desktop-only">  
	    <div class="row background-image" id="wb-2" style="background-color: @colour;')">
	    	@* <h5>@sectionHeading</h5> *@

	    	<div class="col-xs-12 col-sm-12 col-md-6 text-center why-content" style="background-color: @colour;">
          <div class="mid-content">
            <div class="width-container s-1-img">	                                    
             <img src="@image" alt="placehlder">	
            </div>
          </div>
        </div> 

        <div class="col-xs-12 col-sm-12 col-md-6 text-center why-content" style="background-color: @colour;">
          <div class="mid-content">
            <div class="width-container">	                                    
              <div class="h4">@heading</div>
              <p>@body</p>
              <a href="@link" class="btn btn-default">@linkText</a>
            </div>
          </div>
        </div> 

	    </div> 
	  </div>

	  @* mobile version *@
		<div class="container-fluid mobile-only mob-why-buy" id="banner-wtb-mob3" style="background-color: @colour;">
			<div class="row">
				<div class="col-xs-12">
					<h1>@heading</h1>
		      <div class="hero-text">@body</div>
		      <a href="@link" class="btn btn-default">@linkText</a>
				</div>
			</div>
		</div>
		<div class="container-fluid mobile-only mob-why-buy" id="banner-wtb-mob4" style="background-color: @colour;">
			<img src="@image" alt="Mobile why buy image">
		</div>
	   
	}

@* Slideshow 1 *@	
@* <div class="container-fluid why-buy-range">  
	<div class="row" id="size">	
		<div class="why-fuel-content col-sm-12">
			<div class="mid-h5">
				<div class="h5">Size</div>
			</div>
			<div class="mid-content">
			  <div class="width-content">
			  	<div class="tab-content">
					@foreach (var fieldset in slideshow1)
					{
						var image = fieldset.HasValue("Image") ? Umbraco.TypedMedia(int.Parse(fieldset.GetValue("Image"))).Url:"http://placehold.it/350x150";                
						var body = fieldset.HasValue("body") ? fieldset.GetValue<string>("body"):"";
						var heading = fieldset.HasValue("heading") ? fieldset.GetValue<string>("heading"):"";
						var link = fieldset.HasValue("link") ? fieldset.GetValue<MultiUrls>("link").First().Url:"";
						var linkText = fieldset.HasValue("linkText") ? fieldset.GetValue<string>("linkText"):"";
						var sectionHeading = fieldset.HasValue("sectionHeading") ? fieldset.GetValue<string>("sectionHeading"):"";
						var colour = fieldset.HasValue("colour") ? fieldset.GetValue<string>("colour"):"";
						var idName = fieldset.HasValue("idName") ? fieldset.GetValue<string>("idName"):"";
						var active = "";		
						
						if(fieldset == slideshow1.First()){active = "active";}
						<div role="tabpanel" class="tab-pane @active" id="sl1-@heading"> 
							<div class="col-xs-12 col-sm-6 content-mid">
								<div class="col-sm-offset-2 col-sm-8">
									<h4>@heading</h4>
									<p class="opacity-50">@body</p>
									<a href="@link" class="btn btn-default">@linkText</a>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 text-center s-1-img">								
								<img src="@image" alt="placehlder">	
							</div>
						</div> <!-- close panel heading -->
							
					}
					</div>

			  </div>
			</div>
			<div class="bottom-content">
				<div class="bottom-tab">
					<ul class="nav nav-tabs" role="tablist">
					@foreach (var fieldset in slideshow1)
					{
						var heading = fieldset.HasValue("heading") ? fieldset.GetValue<string>("heading"):"";
						var colour = fieldset.HasValue("colour") ? fieldset.GetValue<string>("colour"):"";
						
					  if(fieldset == slideshow1.First())
					  {
						  <li role="presentation" class="active"><a href="#sl1-@heading" aria-controls="sl1-@heading" role="tab" data-toggle="tab">@heading</a></li>
						}
						else
						{
							<li role="presentation"><a href="#sl1-@heading" aria-controls="sl1-@heading" role="tab" data-toggle="tab">@heading</a></li>
						}				
					}	 
					</ul>
				</div>
			</div>
				
		</div>
	</div>
</div> *@

@* end slideshow1 *@

@* Slideshow 2 *@	
@* <div class="container-fluid why-buy-range desktop-only">  
	<div class="row" id="fuel">
	    <div class="col-xs-12 col-sm-6 why-image" style="background-image: url('/media/623059/belling-for-your-home.png')"></div>
	    <div class="col-xs-12 col-sm-6 text-center why-fuel-content">
	    	 	<div class="mid-h5">
	    	 		<div class="h5">Fuel</div>
	    	 	</div>
	        <div class="mid-content">
	            <div class="width-content">
	                <div class="tab-content col-sm-offset-2 col-sm-8">
									@foreach (var fieldset in slideshow2)
									{
										var image = fieldset.HasValue("Image") ? Umbraco.TypedMedia(int.Parse(fieldset.GetValue("Image"))).Url:"http://placehold.it/350x150";                
										var body = fieldset.HasValue("body") ? fieldset.GetValue<string>("body"):"";
										var heading = fieldset.HasValue("heading") ? fieldset.GetValue<string>("heading"):"";
										var link = fieldset.HasValue("link") ? fieldset.GetValue<MultiUrls>("link").First().Url:"";
										var linkText = fieldset.HasValue("linkText") ? fieldset.GetValue<string>("linkText"):"";
										var sectionHeading = fieldset.HasValue("sectionHeading") ? fieldset.GetValue<string>("sectionHeading"):"";
										var colour = fieldset.HasValue("colour") ? fieldset.GetValue<string>("colour"):"";
										var idName = fieldset.HasValue("idName") ? fieldset.GetValue<string>("idName"):"";
										var active = "";		
										
										if(fieldset == slideshow2.First()){active = "active";}
										<div role="tabpanel" class="tab-pane @active" id="sl2-@idName">
											<h4>@heading</h4>
											<p class="opacity-50">@body</p>
											<a href="@link" class="btn btn-default">@linkText</a>
										</div>												
									}
									</div>
							</div>
					</div>
					<div class="bottom-content">
							<div class="bottom-tab">
									<div id="tabsl2">
								  	<ul class="nav nav-tabs" role="tablist">
										@foreach (var fieldset in slideshow2)
										{
											var heading = fieldset.HasValue("heading") ? fieldset.GetValue<string>("heading"):"";
											var colour = fieldset.HasValue("colour") ? fieldset.GetValue<string>("colour"):"";
											var idName = fieldset.HasValue("idName") ? fieldset.GetValue<string>("idName"):"";
											
										  if(fieldset == slideshow2.First())
										  {
											  <li role="presentation" class="active"><a href="#sl2-@idName" aria-controls="sl2-@idName" role="tab" data-toggle="tab">@heading</a></li>
											}
											else
											{
												<li role="presentation"><a href="#sl2-@idName" aria-controls="sl2-@idName" role="tab" data-toggle="tab">@heading</a></li>
											}				
										}	 
										</ul>
									</div>
	            </div>
	        </div>
	    </div>  
	</div>
</div> *@

	@* end slideshow 2 *@
	
	@* Boutique section *@
@{
	var boutiqueImage = Model.Content.HasValue("boutiqueImage") ? Umbraco.TypedMedia(Model.Content.GetPropertyValue("boutiqueImage")).Url : "";
	var boutiqueBody = Model.Content.GetPropertyValue("boutiqueBody");
	var boutiqueHeader = Model.Content.GetPropertyValue("boutiqueHeading");
	var boutiqueLink = Model.Content.HasValue("boutiqueLink") ? Model.Content.GetPropertyValue<MultiUrls>("boutiqueLink") : null;
	var boutiqueLinkText = Model.Content.HasValue("boutiqueLinkText") ? Model.Content.GetPropertyValue<MultiUrls>("boutiqueLinkText").First() : null;
	var boutiqueMainImage = Model.Content.HasValue("boutiqueMainImage") ? Umbraco.TypedMedia(Model.Content.GetPropertyValue("boutiqueMainImage")).Url : "";
	var boutiqueColour = Model.Content.GetPropertyValue("boutiqueColour");
}
<div class="container-fluid why-buy-range desktop-only">  
	<div class="row" style="background-color: @boutiqueColour" id="boutique">	
		<div class="col-sm-6 text-center white-text why-content">
			<div class="mid-content">
				<div class="width-container">									
					<img src="@boutiqueImage" class="header-image svg" alt="placehlder">
					<h4>@boutiqueHeader</h4>
					<p class="opacity-50">@boutiqueBody</p>
						@if(boutiqueLink != null && boutiqueLink.Any())
						{
							var link = boutiqueLink.First();
							<a href="@link.Url" target="link.Target"class="btn-white btn">View More</a>
						}
				</div>
			</div>
		</div>
		<div class="col-sm-6 why-image" style="background-image: url('@boutiqueMainImage')"></div>
	</div>	
	
	@* end boutique *@

	@* Last slideshow *@	

	<div id="features-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
	  <!-- Indicators -->	  
	  <div class="carousel-inner" role="listbox">
		@foreach (var fieldset in slideshow3)
		{	
			var image = fieldset.HasValue("Image") ? Umbraco.TypedMedia(int.Parse(fieldset.GetValue("Image"))).Url:"http://placehold.it/350x150";                
			var body = fieldset.HasValue("body") ? fieldset.GetValue<string>("body"):"";
			var heading = fieldset.HasValue("heading") ? fieldset.GetValue<string>("heading"):"";
            var link = fieldset.HasValue("link") ? fieldset.GetValue<MultiUrls>("link").First().Url : "";
			var linkText = fieldset.HasValue("linkText") ? fieldset.GetValue<string>("linkText"):"";
			var idName = fieldset.HasValue("idName") ? fieldset.GetValue<string>("idName"):"";			
			var sectionHeading = fieldset.HasValue("sectionHeading") ? fieldset.GetValue<string>("sectionHeading"):"";
			var active = "";	
			 <!-- Wrapper for slides -->			  
			
			if(fieldset == slideshow3.First()){active = "active";}
			<div class="item @active">
			  <div class="col-sm-6 why-image" style="background-image: url('@image')"></div> 
				<div class="col-sm-6 text-center why-content">
					<div class="mid-content">
						@* <h5>features</h5> *@
						<div class="width-container">
							<h4>@heading</h4>
							<p class="opacity-50">@body</p>
							<a href="@link" class="btn btn-default">@linkText</a>
							<div class="controls">
								<a id="left-arrow" href="#features-carousel" role="button" data-slide="prev"><img src="/media/622956/arrow-left.svg" alt=""></a>
				  			<a id="right-arrow" href="#features-carousel" role="button" data-slide="next"><img src="/media/622953/arrow-right.svg" alt=""></a>
							</div>
						</div>
					</div>
					<!-- Controls -->
				  
				</div>
			</div>				  
		}

		</div>
	</div>
</div>
