﻿@inherits UmbracoTemplatePage
@using Uniform.GDHA.BusinessLogic.Razor;
@*@using uComponents.DataTypes.MultiUrlPicker.Dto;
@using uComponents.DataTypes.UrlPicker.Dto;
@using Uniform.GDHA.BusinessLogic.SurfaceControllers;
@using Uniform.GDHA.BusinessLogic.Models;*@
@using RJP.MultiUrlPicker.Models;
@using USN.UrlPicker.Umbraco.Models
@{
    Layout = "CorporateLanding.cshtml";
}
@helper RenderPromo(IPublishedContent content)
{
    if(content.GetPropertyValue("promoImage") != null)
    { 
        var m = @Umbraco.TypedMedia((int)(content.GetPropertyValue("promoImage")));
        <div class="promo popup">
            <img src="@m.GetResponsiveImageUrl(441, 303)" />
            <span class="caption">
                <h2>@content.Name</h2>
                @Html.Raw(content.GetPropertyValue<string>("content"))
                @{
                    var readMoreLink = content.GetPropertyValue<UrlPicker>("readMoreLink");

                    if (readMoreLink != null)
                        {                            
                            var link = USNUrlHelper.GetSingleUrlFromUrlPicker(readMoreLink);
							if(content.Name == "Order Brochures")
							{

								<a href="http://www.britannialiving.co.uk/request-a-brochure" target="_blank" class="more more2"><span class="icon icon-icon-plus-small"></span>Britannia Brochure Order</a>

							}
							
                            <a href="@link.LinkURL" target="@link.LinkTarget" class="more"><span class="icon icon-icon-plus"></span>@(string.IsNullOrEmpty(link.LinkTitle) ? "Read more" : link.LinkTitle)</a>
							
                        }
                }
            </span>
        </div>
    }
}
@section content
{
    @if(Model.Content.GetPropertyValue("heroImage") != null)
    {
        var m = @Umbraco.TypedMedia((int)(Model.Content.GetPropertyValue("heroImage")));
        <img class="banner" src="@m.GetResponsiveImageUrl(900, 156)" />
    }
    <section class="retail-grid">
        <h2>Brand Resources</h2>
        @foreach (var promo in Umbraco.TypedContent(Model.Content.GetPropertyValue<string>("brandResources").Split(',')))
        {
            @RenderPromo(promo)
        }
    </section>
    <section class="retail-grid">
        <h2>Retail and Distribution</h2>
        @foreach (var promo in Umbraco.TypedContent(Model.Content.GetPropertyValue<string>("retailAndDistribution").Split(',')))
        {
            @RenderPromo(promo)
        }
    </section> 

    }
