﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Brand.cshtml";
    var brand = Model.Content.AncestorOrSelf(1).Name.ToLower();
    var retail = Model.Content;

		var home = Model.Content.AncestorOrSelf(1).Name.ToLower();
		var mib = "";

		switch (home)
		{
		    case "stoves":
		        mib = "<img class='mib-img' src='/media/622963/made-in-britain-colour.svg' alt='Made in Britain'>";
		        break;
		    case "belling":
		        mib = "<img class='mib-img' src='/media/622963/made-in-britain-colour.svg' alt='Made in Britain'>";
		        break;
		    case "new world":
		        mib = "<img class='mib-img' src='/media/622963/made-in-britain-colour.svg' alt='Made in Britain'>";
		        break;
		    case "lec":
		        mib = "";
		        break;
		    default:
		        mib = "<img class='mib-img' src='/media/622963/made-in-britain-colour.svg' alt='Made in Britain'>";
		        break;
		}
}
@{

 
<div class="container wtb-landing">
	<div class="row">
		<div class="col-sm-6 general-head">
		  <h1>Where to Buy</h1>
		</div>
		<div class="col-sm-6">
			@Html.Raw(mib)
		</div>
	</div>
</div>


<div class="container-fluid mib">  
	<div class="container"> 
		<div class="row">
			<div class="col-md-4 col-sm-5">
				<div class="h4"><a href="@retail.GetPropertyValue("link")">@retail.Name</a></div>
				<p>@retail.GetPropertyValue("address")</p>
		    <p>@retail.GetPropertyValue("email")</p>
		    <p>@retail.GetPropertyValue("website")</p>

			</div>
			<div class="col-sm-offset-1 col-md-offset-1 col-md-7 col-sm-6">
				<p>@retail.GetPropertyValue("information")</p>
			</div>
		</div>
	</div>
</div>     
@Html.Partial("Brand/Misc/SimilarProducts")
}