﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Brand.cshtml";
}
<!-- CONTENT -->
<section class="content">
<div class="container">		
	<!-- ROW -->
	<div class="row">
		<!-- CONTENT COL -->	
			<h1>@Umbraco.Field("onPageTitle", altFieldAlias: "pageName")</h1>
			@Umbraco.Field("bodyText")
			@Html.Partial("Brand/Misc/SearchResults",@Model.Content)
				
		</div>
		<!--// CONTENT COL -->
	</div>	
</section>	
<!--// CONTENT -->
