﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Uniform.GDHA.BusinessLogic.Razor;
@{
    Layout = "CorporateContent.cshtml";
}
@section Hero
{
    @if(Model.Content.HasValue("heroImage"))
    {
        <img class="hero" src="@ImageHelper.GetImage(Model.Content.GetPropertyValue("heroImage"), "GDHA+Logo", 900, 450)">
    }
}
@section Content
{
<div class="content">
    @Html.Raw(Model.Content.GetPropertyValue<string>("content"))
</div>
}