﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Brand.cshtml";

    var homePage = @Model.Content.AncestorOrSelf(1);    
}


<!-- CONTENT -->
<section class="content">
    <div class="container">
        <!-- ROW -->
        <div class="row">
            <h1>@Umbraco.Field("onPageTitle", altFieldAlias: "pageName")</h1>
            @Umbraco.Field("bodyText")
            <nav class="sitemap">
                <ul class="nav">
                    <li>
                        <a href="@homePage.Url">
                            @if (homePage.HasValue("sitemapLinkText"))
							{
                                @Html.Raw(homePage.GetProperty("sitemapLinkText").Value)
							}
							else
							{
                                @homePage.Name
							}
                        </a>
                        @traverse(homePage)
                    </li>
                </ul>
            </nav>
        </div>
        <!--// CONTENT COL -->
    </div>
    <!--// ROW -->
</section>
<!--// CONTENT -->





@helper traverse(IPublishedContent node)
{
    var items = node.Children.Where(x => x.DocumentTypeAlias != "USNSitemapPage" && x.IsVisible());
    items = items.Where(x => x.DocumentTypeAlias != "AdvancedPageComponents" && x.IsVisible());
    items = items.Where(x => x.DocumentTypeAlias != "StandardPageComponents" && x.IsVisible());
    items = items.Where(x => x.DocumentTypeAlias != "Store" && x.IsVisible());
    items = items.Where(x => x.DocumentTypeAlias != "ProductCategoryFeatures" && x.IsVisible());
    items = items.Where(x => x.DocumentTypeAlias != "ProductCategoryGroupKeyFeatureFolder" && x.IsVisible());
    items = items.Where(x => x.DocumentTypeAlias != "NationalStore" && x.IsVisible());
    items = items.Where(x => x.Name != "404" && x.IsVisible());


    if (items.Any())
    {
        <ul class="nav">
            @foreach (var item in items)
            {
                <li class="level-@item.Level">
                    <a href="@item.Url">
                        @if (item.HasValue("sitemapLinkText"))
                        {
                            @Html.Raw(item.GetProperty("sitemapLinkText").Value)
                        }
                        else
                        {
                            @item.Name
                        }
                    </a>
                    @traverse(item)
                </li>
            }
        </ul>
    }
}