﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Brand.cshtml";
    var name = Model.Content.Name;
    var body = Model.Content.GetPropertyValue("bodyText").ToString();
    string image = "";
    if (Model.Content.HasValue("mainImage"))
    {
        var imgId = Model.Content.GetPropertyValue("mainImage").ToString();
        image = Umbraco.TypedMedia(imgId).Url;
    }
}

<!-- CONTENT -->
<section class="content">
    <div class="container">
        <!-- ROW -->
        <div class="row">
            <h1>@Umbraco.Field("onPageTitle", altFieldAlias: "pageName")</h1>
            <!-- IMAGE -->
			@if(image !="")
			{
				<img src="@image"></img>
			}
			<!--// IMAGE -->
			<!-- BODY -->
            @Html.Raw(body)
			<!--// BODY -->
        </div>
    </div>
    <!--// ROW -->   
</section>
<!--// CONTENT -->

