﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Brand.cshtml";
    @* var reasonsToBuy = Model.Content.Children; *@
}
<div class="container text-center">
    <div class="col-sm-12">
        <h1>Why Buy Belling</h1>
		<p class="view-all"><a href="/products">View All Products</a></p>
    </div>
</div>

@* mobile version *@
<div class="container-fluid mobile-only mob-why-buy" id="header-1-mob">
    <div class="row">
        <div class="col-xs-12">
            <h1>Over 100 Years Dedicated to Quality</h1>
      <div class="hero-text">Belling has been at the heart of British cooking for more than a century and we are proud to say that four generations of cooks have grown up with a Belling appliance in their kitchen. In fact, Her Majesty the Queen and Princess Margaret both learnt to cook on one of our iconic Baby Belling’s. </div>
        </div>
    </div>
</div>
<div class="container-fluid mobile-only mob-why-buy" id="header-2-mob">
    <img src="/media/623062/belling-quality.png" alt="Mobile why buy image">
</div>

@* desktop only *@
<div class="desktop-only container-fluid why-buy text-center">
    <div class="row background-image" style="background-image:url('/media/623062/belling-quality.png'); color: white;">
        <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-6 text-center why-content">
            <div class="mid-content">
                <div class="width-container">
                    <h1 class="big white-text">100+</h1>                   
                    <div class="h4">Over 100 Years Dedicated to Quality</div>
                    <p>Belling has been at the heart of British cooking for more than a century and we are proud to say that four generations of cooks have grown up with a Belling appliance in their kitchen. In fact, Her Majesty the Queen and Princess Margaret both learnt to cook on one of our iconic Baby Belling’s. </p>
                </div>
            </div>
        </div>  
    </div>
</div>

@* mobile version *@
<div class="container-fluid mobile-only mob-why-buy" id="header--mob">
    <div class="row">
        <div class="col-xs-12">
            <h1>British Cookers for British Cookers</h1>
      <div class="hero-text">Belling is proud to be part of Glen Dimplex Home Appliances, the only manufacturer that builds freestanding cookers, built-in ovens &amp; hobs and range cookers right here in the UK.</div>
        </div>
    </div>
</div>
<div class="container-fluid mobile-only mob-why-buy" id="header-3-mob">
    <img src="/media/623061/belling-made-in-britain.png" alt="Mobile why buy image">
</div>

@* desktop only *@
<div class="desktop-only container-fluid why-buy text-center">
    <div class="row background-image" style="background-image:url('/media/623061/belling-made-in-britain.png'); color: #00304A;">
        <div class="col-xs-12 col-sm-12 text-center why-content">
            <div class="mid-content">
                <div class="center-container">                    
                   <img src="/media/622963/made-in-britain-colour.svg" class="header-image mib" alt="placeholder" class="banner-image">
                    <div class="h4">British Cookers for British Cookers</div>
                    <p>Belling is proud to be part of Glen Dimplex Home Appliances, the only manufacturer that builds freestanding cookers, built-in ovens &amp; hobs and range cookers right here in the UK.</p>
                </div>
            </div>
        </div>  
    </div>
</div> 


@* mobile version *@
<div class="container-fluid mobile-only mob-why-buy" id="header-4-mob">
    <div class="row">
        <div class="col-xs-12">
            <h1>Family Favourites</h1>
      <div class="hero-text">We know family life can be hectic, which is why we’ve developed a collection of cooking appliances full of thoughtful features for the busy kitchen and the busy cook.</div>
        </div>
    </div>
</div>
<div class="container-fluid mobile-only mob-why-buy" id="header-5-mob">
    <img src="/media/623087/belling-here-when-you-need-us.png" alt="Mobile why buy image">
</div>

@* desktop only *@
<div class="desktop-only container-fluid why-buy text-center">
    <div class="row background-image" style="background-image:url('/media/623087/belling-here-when-you-need-us.png'); color: white;">
        <div class="col-xs-12 col-sm-6 col-md-6 text-center why-content">
            <div class="mid-content">
                <div class="width-container">                    
                    <div class="h4">Family Favourites</div>
                    <p>We know family life can be hectic, which is why we’ve developed a collection of cooking appliances full of thoughtful features for the busy kitchen and the busy cook.</p>
                </div>
            </div>
        </div>  
    </div>
</div> 

@* mobile version *@
<div class="container-fluid mobile-only mob-why-buy" id="header-6-mob">
    <div class="row">
        <div class="col-xs-12">
            <h1>Belling For Your Home</h1>
      <div class="hero-text">We are proud to partner with other great British instituitions. Belling are the official appliance supplier to the famous BBC Good Food shows and the iconic design-led Ideal Homes show</div>
        </div>
    </div>
</div>
<div class="container-fluid mobile-only mob-why-buy" id="header-7-mob">
    <img src="/media/623059/belling-for-your-home.png" alt="Mobile why buy image">
</div>

@* desktop only *@
<div class="desktop-only container-fluid why-buy text-center">
    <div class="row" style="background-color: #BBE2F4; color:#00304A">
        <div class="col-xs-12 col-sm-6 why-image" style="background-image: url('/media/623059/belling-for-your-home.png')"></div>
        <div class="col-xs-12 col-sm-6 text-center why-content">
            <div class="mid-content">
                <div class="width-container">
                    <div class="h4">Belling For Your Home</div>
                    <p class="opacity-50">We are proud to partner with other great British instituitions. Belling are the official appliance supplier to the famous BBC Good Food shows and the iconic design-led Ideal Homes show</p>
                </div>
            </div>
        </div>  
    </div>
</div>

@* mobile version *@
@* <div class="container-fluid mobile-only mob-why-buy" id="header-8-mob">
    <div class="row">
        <div class="col-xs-12">
            <h1>Great British Experts</h1>
      <div class="hero-text">We are proud to be part of the REPIC Responsible Recylcling Campaign. You can read more about the initiative here.</div>
        </div>
    </div>
</div>
<div class="container-fluid mobile-only mob-why-buy" id="header-9-mob">
    <img src="/media/623063/great-british-experts.png" alt="Mobile why buy image">
</div> *@

@* desktop only *@
@* <div class="desktop-only container-fluid why-buy text-center">
    <div class="row background-image" style="background-image:url('/media/623063/great-british-experts.png'); color: #00304A;">
        <div class="col-xs-12 col-sm-6 col-md-6 text-center why-content">
            <div class="mid-content">
                <div class="width-container">                    
                    <div class="h4">Great British Experts</div>
                    <p>We are proud to be part of the REPIC Responsible Recylcling Campaign. You can read more about the initiative here.</p>
                </div>
            </div>
        </div>  
    </div>
</div>  *@

@* mobile version *@
<div class="container-fluid mobile-only mob-why-buy" id="header-10-mob">
    <div class="row">
        <div class="col-xs-12">
            <h1>Responsible Recylcing</h1>
      <div class="hero-text">We are proud to be part of the REPIC Responsible Recylcling Campaign. You can read more about the initiative here.</div>
        </div>
    </div>
</div>
            
<div class="container-fluid mobile-only mob-why-buy" id="header-11-mob">
    <div class="row">
        <div class="col-xs-12">
            <h1>Winners of the Queens award for Enterprise</h1>
      <div class="hero-text">Glen Dimplex Home Appliances Wins Queen’s Award for Enterprise The UK’s Most Prestigious Business Award Granted to GDHA for Success of its British-Made Products Overseas.</div>
        </div>
    </div>
</div>

@* desktop only *@
<div class="desktop-only container-fluid why-buy text-center">
    <div class="row">
        <div class="col-xs-12 col-sm-6 text-center why-content" style="background-color: #383838; color: white;">
            <div class="mid-content">
                <div class="width-container">
                    <img src="/media/623008/gfs-ihs.svg" class="header-image" alt="placeholder">
                    <div class="h4">Responsible Recylcing</div>
                    <p>We are proud to be part of the REPIC Responsible Recylcling Campaign. You can read more about the initiative here.</p>
                </div>
            </div>
        </div>  
            
        <div class="col-xs-12 col-sm-6 text-center why-content" style="background-color: #383838; color: white;">
            <div class="mid-content">
                <div class="width-container">                                   
                    <img src="/media/623012/qa.svg" class="header-image" alt="placeholder">
                    <div class="h4">Winners of the Queens award for Enterprise</div>
                    <p>Glen Dimplex Home Appliances Wins Queen’s Award for Enterprise The UK’s Most Prestigious Business Award Granted to GDHA for Success of its British-Made Products Overseas.</p>
                </div>
            </div>
        </div>
    </div>
</div>
