﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Brand.cshtml";
    @* var reasonsToBuy = Model.Content.Children; *@
}
<div class="container text-center">
    <div class="col-sm-12">
        <h1>Why Buy Lec?</h1>
        <p class="view-all"><a href="/products">View All Products</a></p>
    </div>
</div>

@* mobile version *@
<div class="container-fluid mobile-only mob-why-buy" id="header-1-mob">
    <div class="row">
        <div class="col-xs-12">
            <h1>Because we’ve officially been cool since 1942.</h1>
      <div class="hero-text">Lec was originally formed by Charles Purley in the early 1940s, a fishmonger based in Bognor Regis who was so fed up with the high cost of ice he wanted to develop a refrigeration system to keep his fish cool.</div>
        </div>
    </div>
</div>
<div class="container-fluid mobile-only mob-why-buy" id="header-2-mob">
    <img src="/media/623158/lec-why-buy-hero.jpg" alt="Mobile why buy image">
</div>

@* desktop only *@
<div class="desktop-only container-fluid why-buy text-center">
    <div class="row background-image" style="background-image:url('/media/623158/lec-why-buy-hero.jpg'); color: #004070;">
        <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-6 text-center why-content">
            <div class="mid-content">
                <div class="width-container">
                @* <img src="/media/623008/gfs-ihs.svg" class="header-image" alt="placeholder">                     *@
                    <div class="h4">Because we’ve officially been cool since 1942.</div>
                    <p>Lec was originally formed by Charles Purley in the early 1940s, a fishmonger based in Bognor Regis who was so fed up with the high cost of ice he wanted to develop a refrigeration system to keep his fish cool.</p>
                </div>
            </div>
        </div>  
    </div>
</div>

@* mobile version *@
<div class="container-fluid mobile-only mob-why-buy" id="header-3-mob">
    <div class="row">
        <div class="col-xs-12">
            <h1>Energy Efficient</h1>
            <div class="hero-text">The first Lec fridge was simply made using a C02 compressor. Things have certainly moved on since then, but one fact remains the same: our products keep your drinks cold, your food chilled and your frozen goods, well, frozen. </div>
        </div>
    </div>
</div>
<div class="container-fluid mobile-only mob-why-buy" id="header-4-mob">
    <img src="/media/623134/energy-efficient.png" alt="Mobile why buy image">
</div>

@* desktop only *@
<div class="desktop-only container-fluid why-buy text-center">
    <div class="row background-image" style="background-image:url('/media/623134/energy-efficient.png'); color: #004070;">
        <div class="col-xs-12 col-sm-6 col-md-6 text-center why-content">
            <div class="mid-content">
                <div class="width-container">                    
                    <div class="h4">Energy Efficient</div>
                    <p>The first Lec fridge was simply made using a C02 compressor. Things have certainly moved on since then, but one fact remains the same: our products keep your drinks cold, your food chilled and your frozen goods, well, frozen.</p>
                </div>
            </div>
        </div>  
    </div>
</div> 

@* mobile version *@
<div class="container-fluid mobile-only mob-why-buy" id="header-5-mob">
    <div class="row">
        <div class="col-xs-12">
            <h1>Products</h1>
      <div class="hero-text">We’ve worked hard to develop an inspiring collection of products, delivering style, functionality and a breadth of choice that is unrivalled. By drawing on more than 70 years of experience, we’ve built our collection around your needs. </div>
        </div>
    </div>
</div>
<div class="container-fluid mobile-only mob-why-buy" id="header-6-mob">
    <img src="/media/623120/lec_roomset_tf5517w-hires.jpg" alt="Mobile why buy image">
</div>

@* desktop only *@
<div class="desktop-only container-fluid why-buy text-center">
    <div class="row" style="background-color: #BBE2F4; color:#004070">
        <div class="col-xs-12 col-sm-6 why-image" style="background-image: url('/media/623120/lec_roomset_tf5517w-hires.jpg')"></div>
        <div class="col-xs-12 col-sm-6 text-center why-content">
            <div class="mid-content">
                <div class="width-container">
                    <div class="h4">Products</div>
                    <p>We’ve worked hard to develop an inspiring collection of products, delivering style, functionality and a breadth of choice that is unrivalled. By drawing on more than 70 years of experience, we’ve built our collection around your needs. </p>
                </div>
            </div>
        </div>  
    </div>
</div>

@* mobile version *@
<div class="container-fluid mobile-only mob-why-buy" id="header-7-mob">
    <div class="row">
        <div class="col-xs-12">
            <h1>Great British Experts</h1>
      <div class="hero-text">Whether you’re looking for capacity and durability for a growing family, compact designs for smaller properties and spaces, or style and elegance for the modern apartment, there’s a Lec product for you.</div>
        </div>
    </div>
</div>
<div class="container-fluid mobile-only mob-why-buy" id="header-8-mob">
    <img src="/media/623135/great-british-experts.png" alt="Mobile why buy image">
</div>

@* desktop only *@
<div class="desktop-only container-fluid why-buy text-center">
    <div class="row background-image" style="background-image:url('/media/623135/great-british-experts.png'); color: #004070;">
        <div class="col-xs-12 col-sm-6 col-md-6 text-center why-content">
            <div class="mid-content">
                <div class="width-container">                    
                    <div class="h4">Great British Experts</div>
                    <p>Whether you’re looking for capacity and durability for a growing family, compact designs for smaller properties and spaces, or style and elegance for the modern apartment, there’s a Lec product for you.</p>
                </div>
            </div>
        </div>  
    </div>
</div> 

@* mobile version *@
<div class="container-fluid mobile-only mob-why-buy" id="header-9-mob">
    <div class="row">
        <div class="col-xs-12">
            <h1>Responsible Recylcing</h1>
      <div class="hero-text">We are proud to be part of the REPIC Responsible Recylcling Campaign. You can read more about the initiative here.</div>
        </div>
    </div>
</div>
            
<div class="container-fluid mobile-only mob-why-buy" id="header-10-mob">
    <div class="row">
        <div class="col-xs-12">
            <h1>Winners of the Queens award for Enterprise</h1>
      <div class="hero-text">Glen Dimplex Home Appliances Wins Queen’s Award for Enterprise The UK’s Most Prestigious Business Award Granted to GDHA for Success of its British-Made Products Overseas.</div>
        </div>
    </div>
</div>

@* desktop only *@
<div class="desktop-only container-fluid why-buy text-center recycling">
    <div class="row">
        <div class="col-xs-12 col-sm-6 text-center why-content" style="background-color: #DDE8EC; color: #004070;">
            <div class="mid-content">
                <div class="width-container">
                    <img src="/media/623008/gfs-ihs.svg" class="header-image svg" alt="placeholder">
                    <div class="h4">Responsible Recylcing</div>
                    <p>We are proud to be part of the REPIC Responsible Recylcling Campaign. You can read more about the initiative here.</p>
                </div>
            </div>
        </div>  
            
        <div class="col-xs-12 col-sm-6 text-center why-content" style="background-color: #DDE8EC; color: #004070;">
            <div class="mid-content">
                <div class="width-container">                                   
                    <img src="/media/623012/qa.svg" class="header-image svg" alt="placeholder">
                    <div class="h4">Winners of the Queens award for Enterprise</div>
                    <p>Glen Dimplex Home Appliances Wins Queen’s Award for Enterprise The UK’s Most Prestigious Business Award Granted to GDHA for Success of its British-Made Products Overseas.</p>
                </div>
            </div>
        </div>
    </div>
</div>
