﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Brand.cshtml";
	var reasonsToBuy = Model.Content.Children;
	string image="";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h1>@Model.Content.Name</h1>

        </div>
    </div>
    <div class="row">
        @foreach(var reason in reasonsToBuy)
		{
		if (reason.IsVisible())
		{
			var heading = reason.HasProperty("heading") && reason.HasValue("heading")? reason.GetPropertyValue("heading"):reason.Name;
			if(reason.HasProperty("thumbImage") && reason.HasValue("thumbImage"))
			{
				try{
					image = !String.IsNullOrEmpty(reason.GetPropertyValue("thumbImage").ToString()) ? Umbraco.TypedMedia((int)(reason.GetPropertyValue("thumbImage"))).Url : "https://placehold.it/350x150";
				}
				catch
				{
					image = reason.GetPropertyValue("thumbImage").ToString();
				}
			}
			string desc= reason.HasProperty("description") && reason.HasValue("description")? reason.GetPropertyValue<string>("description"):"";
			<div class="col-xl-3 col-md-4 col-sm-6">
				<a href="@reason.Url">
					<img class="blog-item-img" src="@image" alt="">
				</a>
				<a href="@reason.Url">
					<h5 class="blog-item-title">@heading</h5>
				</a>
				@*<p class="blog-item-summary">@desc</p>*@
			</div>
		}
	}

    </div>
    <div class="row pagination">

    </div>
</div>