@font-face {
    font-family: "ø";
    src: url("blocheavy.eot"); /* IE9 */
    src: url("blocheavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("blocheavy.woff") format("woff"), /* chrome, firefox */
    url("blocheavy.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("blocheavy.svg#ø") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


