@font-face {
    font-family: "Nobile";
    src: url("nobile_bold.eot"); /* IE9 */
    src: url("nobile_bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("nobile_bold.woff") format("woff"), /* chrome, firefox */
    url("nobile_bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("nobile_bold.svg#Nobile") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


