﻿@using Umbraco.Core.Models
@using Umbraco.Web
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@ListChildNodes(Model.Content.AncestorOrSelf(1))

@helper ListChildNodes(IPublishedContent startNode)
{
    const int maxLevelForSiteMap = 100;
    
    foreach (var node in startNode.Children.Where(x => Umbraco.MemberHasAccess(x.Id, x.Path)).Where(x => !Umbraco.IsProtected(x.Id, x.Path)).Where(x => x.IsVisible() && !x.HasProperty("HideFromSitemap")))
    {
        if (node.TemplateId > 0)
        {
            <url>
                <loc>@node.UrlWithDomain()</loc>
                <lastmod>@(string.Format("{0:s}+00:00", node.UpdateDate))</lastmod>
                @{
                    var freq = node.GetPropertyValue<string>("SearchEngineSitemapChangeFreq");
                    var pri = node.GetPropertyValue<string>("SearchEngineSitemapPriority");
                }

                @if (!string.IsNullOrEmpty(freq))
                {
                    <changefreq>@freq</changefreq>
                }
                @if (!string.IsNullOrEmpty(pri))
                {
                    <priority>@pri</priority>
                }
            </url>
        }

        if (node.Level <= maxLevelForSiteMap && node.Children.Any())
        {
            @ListChildNodes(node)
        }
    }
}