﻿@inherits UmbracoTemplatePage
@using System.Collections.Specialized;
@using Uniform.GDHA.Products;

@{
    var nodes = GetFilteredProducts(Model.Content);
	
	
    <div class="product-filter" id="productFilterResults">
        @foreach (var node in nodes)
        {
            @DisplayProduct(node)
        }
    </div>

}

@*
  DisplayProduct
    Controls what each product looks like on the filter page
*@
@helper DisplayProduct(IPublishedContent product)
{
	var revoo = Model.Content.AncestorOrSelf(1).GetPropertyValue("reevooTrackingReference");
	var homeNode = Model.Content.AncestorOrSelf(1);
	
	/// check to see if there are any children before trying to use them
	if(product.Children.Count() == 0){
		return;
	}
    var imageList = product.Children.First().GetPropertyValue<string>("productImages");
    char[] splitChar = { ',' };
    string[] ids = imageList.Split(splitChar, StringSplitOptions.RemoveEmptyEntries);
	/// check to see if there are any images before trying to use them
	if(ids.Length == 0){
		return;
	}
    var image = Umbraco.Media(ids.First());
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center product-container">
        <a href="@product.Children.First().Url">
            <img src="@image.Url" alt="">
        </a>
        <div class="h5">@product.Name</div>
        @Html.Raw(product.GetProperty("bodyText").Value.ToString())
        <div class="h6">@(Umbraco.Field("#colour"))</div>
        <div class="product-colours">
            @foreach (var sku in product.Children)
            {
                if (sku.GetPropertyValue("productColour") != null)
                {
					var colourNode = Umbraco.TypedContent(sku.GetPropertyValue("productColour"));
                    var colour = colourNode != null ? colourNode.GetPropertyValue<string>("HexValue") : "#FFFFFF";
                    if (colour != null && colour.ToUpper() != "#FFFFFF")
                    {
                        <div class="product-color" style="background: @colour"> </div>
                    }
                    else
                    {
                        <div class="product-color white" style="background: @colour"> </div>
                    }
                }
            }
        </div>
        @* <div class="buy-now"><a href="@product.Children.First().Url">More Info</a></div> *@
        
		@if(homeNode.Name == "Stoves German")
		{
			<a class="btn btn-green" href="/haendler/">@(Umbraco.Field("#USN General Buy Now"))</a>
		}
		else{
			<a class="btn btn-green" href="/where-to-buy/?sku=@product.Children.First().Name.Replace(" ", String.Empty)">@(Umbraco.Field("#USN General Buy Now"))</a>
		}

		<a class="btn btn-black compare-btn" data-id="@product.Id" onclick="">@(Umbraco.Field("#USN General Compare"))</a>
		@if(Model.Content.Ancestors(1).First().Id != 22363){	
        	<div class="review"><a class="reevoomark" href="http://mark.reevoo.com/partner/@revoo/@product.Children.First().Name.Replace(" ", String.Empty)">@(Umbraco.Field("#USN General Review"))</a></div><br>
		}
            
        @* <div class="h6">compare</div> *@
    </div>

}

@functions 
{
    /// <summary>
    ///  GetFilteredProducts
    ///     Takes the paramters from the querystring, and filters down the list of results 
    ///     based on features and avalible colours (colours come from the product skus below)
    ///    
    /// <para>
    ///     The function loops through the feature ids and colours that can be passes and refines
    ///     the nodes each time. all this happens in memeory.
    /// </para>
    /// </summary>
    public IEnumerable<IPublishedContent> GetFilteredProducts(IPublishedContent root)
    {

        var filters = new NameValueCollection(Request.QueryString);
        var nodes = root.Descendants().Where(
                x => x.DocumentTypeAlias == "ProductModel"
            );

        foreach (var filter in filters.AllKeys)
        {
            var values = filters.GetValues(filter)
                .Where(x => !string.IsNullOrWhiteSpace(x)).ToList();

            if (values != null && values.Any())
            {
                switch (filter)
                {
                    case "colour":
                        // multiple colours can be passed as multiple colour = nodeid 
                        nodes = nodes
                            .Where(x => x.Children.Any(y => y.DocumentTypeAlias == "ProductSku"
                            && values.Contains(y.GetPropertyValue<int>("productColour").ToString()))).Distinct();
                        break;
                    default:
                        // for features the query string pair is nodeId = optionId
                        nodes = nodes.Where(x =>
                            ((ProductFeatureList)x.GetPropertyValue("productFeatures2"))
                                .Items.Any(f => f.Id.ToString() == filter && values.Contains(f.Value.ToString()))).Distinct();
                        break;
                }
            }
        }

        return nodes;
    }

}