﻿@inherits UmbracoTemplatePage
@using Newtonsoft.Json.Linq;

@*
    Renders the filter for the product search

    uses productFilters from the current page, 
    and displays all avalible colours as defined in any decendent product SKUs

    This is all quite quick, but you could cache this partial as it doesn't change per query.
*@

<div class="list-group col-sm-12 product-filters">
    @if (Model.Content.HasProperty("productFilters") && Model.Content.HasValue("productFilters"))
    {
        var filterIds = Model.Content.GetPropertyValue<string>("productFilters").Split( new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
        if (filterIds.Any())
        {
            <form method="get" id="productFilterForm">
				<h4>@(Umbraco.Field("#Filter By"))</h4>
                <input type="hidden" id="rootId" value="@Model.Content.Id" />
                <div class="panel-group" id="accordion">
                @{
                    var filterNodes = Umbraco.TypedContent(filterIds);
                    int i = 0;
                    if (filterNodes.Any())
                    {
                        foreach (var node in filterNodes)
                        {
                            var options = node.GetPropertyValue<JArray>("inputOptions2");
                            <div class="list-group-item row">
                                <a data-toggle="collapse" class="collapse-arrow" data-parent="#accordion" href="#filter-accordian-@i">
                                    <div class="h6">                                    
                                        <div class="filter-title">@node.Name</div>
                                        <div class="float-right arr">
                                            <img src="/media/622947/arrow-down.svg" alt="down arrow" class="svg arrow-down">
                                        </div>                                    
                                    </div>
                                </a>
                                <div id="filter-accordian-@i" class="collapse">
                                    @DisplayOptions(options, node.Id)
                                </div>
                            </div>
                            i++;
                        }
                    }

                    <div class="list-group-item row">
                        <a data-toggle="collapse" class="collapse-arrow" data-parent="#accordion" href="#filter-accordian-colour">
                            <div class="h6">                            
                                <div class="filter-title">@(Umbraco.Field("#Colours"))</div>
                                <div class="float-right arr">
                                    <img src="/media/622947/arrow-down.svg" alt="down arrow" class="svg arrow-down">
                                </div>                            
                            </div>
                        </a>
                        <div id="filter-accordian-colour" class="collapse">
                            @DisplayColours(Model.Content)
                        </div>
                    </div>
                }
                </div>
                @* <input type="submit" class="btn btn-primary" value="Refine Results" /> *@
           </form>
        }
    }
</div>

@*
    DisplayOptions    
        Renders the Product Filter Options as defined in the JSON
*@
@helper DisplayOptions(JArray options, int NodeId)
{
    if (options != null)
    {
        foreach (var option in options)
        {
            var name = option.Value<string>("name");
            var optionId = option.Value<string>("_id");
            var img = option.Value<string>("image");

                <div class="checkbox">
                    <label class="">
                        <input type="checkbox" name="@NodeId" value="@optionId" class="product-filter-checkbox">
                        @* @if (!string.IsNullOrWhiteSpace(img))
                        {
                            <img src="@img" class="check" />
                        } *@
                        @name
                    </label>
                </div>
        }
    }
}

@*
    DisplayColours    
        Renders the Colours selection for the filter.
*@
@helper DisplayColours(IPublishedContent category)
{
    var colours = category.Descendants()
                .Where(x => x.DocumentTypeAlias == "ProductSku" && x.HasValue("productColour"))
                .Select(x => x.GetPropertyValue<int>("productColour"))
                .Distinct();

    var colourNodes = Umbraco.TypedContent(colours);
	
	bool isGerman = (category.Ancestors(1).First().Id == 22363);
	
    foreach(var colour in colourNodes)
    {
		if(colour != null)
		{
        <div class="checkbox">
            <label>
                
                <input type="checkbox" name="colour" value="@colour.Id"  class="product-filter-checkbox"/>
                @if (colour.HasValue("image"))
                {
                    var img = Umbraco.TypedMedia(colour.GetPropertyValue("image"));
                    if (img != null)
                    {
                        <img src="@img.GetCropUrl(width: 25, height: 25)" />
                    }
                }
                else 
				{					
					if(colour.GetPropertyValue<string>("hexValue") != "#FFFFFF")
					{
						<div class="product-color" style="background: @colour.GetPropertyValue("hexValue");"> </div>
                        <span> = @(isGerman ? colour.GetPropertyValue<string>("german") : colour.Name)</span>
							
					}
					else
					{
						<div class="product-color white" style="background: @colour.GetPropertyValue("hexValue");"> </div>
                        <span> = @(isGerman ? colour.GetPropertyValue<string>("german") : colour.Name)</span>
					}					
                }
			
                @* @colour.Name *@
            </label>
        </div>
		}
    }
}