﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using Newtonsoft.Json.Linq;
	
@{
    IEnumerable<IPublishedContent> rootNode = Umbraco.TypedContentAtRoot();
    var settingsFolder = Umbraco.TypedContent((int)Model.Content.AncestorOrSelf("USNHomepage").GetPropertyValue("websiteConfigurationNode"));
    var navigation = settingsFolder.Children.Where(x => x.IsDocumentType("USNNavigation")).First();

    var footerQuickLinks = navigation.GetPropertyValue<JArray>("footerQuickLinks");

    if (navigation.HasValue("footerQuickLinksHeading") || (footerQuickLinks != null && navigation.GetPropertyValue<string>("footerQuickLinks", true, "").Length > 2))
    {
        <div class="quick_links">
	    @if (navigation.HasValue("footerQuickLinksHeading"))
        {
	        <p class="heading">@navigation.GetProperty("footerQuickLinksHeading").Value</p>
        }
		@if (footerQuickLinks != null && navigation.GetPropertyValue<string>("footerQuickLinks", true, "").Length > 2)
        {
			<nav class="row">
			    <ul>
				@foreach (JObject link in footerQuickLinks)
                {
                    string linkTitle = String.Empty;
                    string linkURL = String.Empty;
                    string linkTarget = String.Empty;
                    string linkIcon = String.Empty;
                    IPublishedContent node = null;

                    linkURL = USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);

                    if (linkURL!= String.Empty)
                    { 

                    <li class="col-md-4 col-xs-6">
                        <a href="@linkURL" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>
                            <i class="fa fa-angle-right"></i>@(link.Value<string>("caption"))@Html.Raw(linkIcon)
                        </a>
                    </li>
                    }
                }
				</ul>
			</nav> 
        }
		</div>
    }
}