
<div class="nav-holder"><a href="/">
    <div class="logo"></div></a>
  <div class="menu">
    <div class="drop-down">
      <h3><a href="/about.html">About</a></h3>
      <ul>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
      </ul>
    </div>
    <div class="drop-down">
      <h3><a href="/brands.html">Brands</a></h3>
      <ul>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
      </ul>
    </div>
    <div class="drop-down">
      <h3><a href="/retailers.html">Retail</a></h3>
      <ul>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
      </ul>
    </div>
    <div class="drop-down">
      <h3><a href="/press.html">Press</a></h3>
      <ul>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
      </ul>
    </div>
    <div class="drop-down">
      <h3><a href="/contact.html">Contact</a></h3>
      <ul>
        <li><a>link</a></li>
        <li><a>link</a></li>
      </ul>
    </div>
    <div class="drop-down">
      <h3><a href="/careers.html">Careers</a></h3>
      <ul>
        <li><a>link</a></li>
      </ul>
    </div>
    <div class="search">
      <div class="search-results"></div>
    </div>
  </div>
</div>