﻿@using System.Web.Mvc;
@using Uniform.GDHA.BusinessLogic.SurfaceControllers;
@using Uniform.GDHA.BusinessLogic.Models;

@model ContactFormModel

	
	<h4>Ask a Question</h4>
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

	<div class="form-container">	
		@using (Html.BeginUmbracoForm<BrandContactFormSurfaceController>("SendContactForm", null, new { @class = "feedback-form" }))
		{

			<div class="col-sm-3">
				@Html.TextBoxFor(x => Model.Title, new { placeholder = "Title", id = "title", name="title" })
				@Html.ValidationMessageFor(x => Model.Title)
			</div>
			<div class="col-sm-9">
				@Html.TextBoxFor(x => Model.Name, new { placeholder = "Full Name",name="fullname", id="fullname" })
				@Html.ValidationMessageFor(x => Model.Name) 
			</div> 
			<div class="col-sm-12">
				@Html.TextBoxFor(x => Model.Telephone, new { placeholder = "Phone number", name = "telephone", id = "telephone" })
				@Html.ValidationMessageFor(x => Model.Telephone)
			</div>
			<div class="col-sm-12">	
				@Html.TextBoxFor(x => Model.Email, new { name = "email", id = "email", placeholder = "Email" })
				@Html.ValidationMessageFor(x => Model.Email)
			</div> 
			<div class="col-sm-12">
				@Html.TextBoxFor(x => Model.SerialNumber, new { placeholder = "Serial Number", name = "serial", id = "serial" })
				@Html.ValidationMessageFor(x => Model.SerialNumber)
			</div> 
			<div class="col-sm-12">
				@Html.TextBoxFor(x => Model.ModelNumber, new { name="model", id="model", placeholder="Model" })
				@Html.ValidationMessageFor(x => Model.ModelNumber)
			</div>
			<div class="col-sm-12">
				@Html.TextAreaFor(x => Model.Question, new { id = "message", cols = 30, rows = 10, placeholder = "Your Query, If your question relates to a product, please state the product name, model number or serial number if you have it." })
				@Html.ValidationMessageFor(x => Model.Question)							
			</div>
			<div class="col-sm-12">	
				<input type="submit" class="btn btn-default" value="Submit Question" onClick="_gaq.push(['_trackEvent', 'Customer Care', 'ask_question', 'Ask a Question']);" />
			</div>
		}
	</div>
	

