﻿@using System.Web.Mvc;
@using Uniform.Web.Models;
@using Uniform.Web.SurfaceControllers
@model CorpBrochureOrderModel
<style>
    #brochureOrder {
    }

        #brochureOrder ul {
            list-style-type: none;
            padding-left: 0px;
            width: 100%;
        }

        #brochureOrder li {
            margin-top: 10px;
            overflow: hidden;
            display: block;
        }

            #brochureOrder li.alt {
                background-color: lightgray;
            }

            #brochureOrder li > div.section {
                float: left;
                display: block;
                overflow: hidden;
                min-height: 25px;
            }

        #brochureOrder label {
            float: left;
            display: block;
        }

            #brochureOrder label.single {
                width: 100px;
            }

            #brochureOrder label.boxes {
                width: 40px;
            }

        #brochureOrder span, .floatLeft {
            float: left;
            margin: 0 16px;
        }

        #brochureOrder input, select {
            float: left;
        }
            #brochureOrder ul > li > div.section input[type='text'] {
                width: 50px;
                background: white;
                border: 1px solid black;
            }

            #brochureOrder input[type='checkbox'] {
                margin-left: 16px;
            }

        #brochureOrder div.row {
            display: block;
            overflow: hidden;
            margin: 5px 0 5px;
            width: 100%;
        }

        #brochureOrder div.subsection {
            float: left;
            width: 45%;
            min-width: 292px;
            display: block;
            overflow: hidden;
            min-height: 225px;
        }

            #brochureOrder div.subsection input {
                display: block;
                float: left;
                min-width: 100px;
                margin: 0;
            }

            #brochureOrder div.subsection label {
                display: block;
                float: left;
                min-width: 100px;
                width: 35%;
            }

            #brochureOrder div.subsection input[type='checkbox'] {
                display: block;
                float: left;
                margin: 0 16px;
                width: 25px;
                min-width: 25px;
            }

            #brochureOrder div.subsection label.consent {
                width: 60%;
            }

        #brochureOrder .validation-summary-errors {
            color: red;
        }

            #brochureOrder .validation-summary-errors span {
                margin: 0px;
                float: none;
            }

            #brochureOrder .validation-summary-errors ul {
                float: none;
                list-style-type: inherit;
            }

        #brochureOrder .field-validation-error{
            margin: 0px 5px;
            color: red;
            display: block;
        }
</style>
<script> 
    function minmax(value, min, max)
    {
        if(parseInt(value) < min || isNaN(value))
        {
            return min;
        }
        else if(parseInt(value) > max)
        {
            return max;
        }
        else
        {
            return value;
        }
    }
</script>
<h2>Select you order type</h2>
<p>In order for us to send the correct information please tell us who is placing the order.</p>
@using (Html.BeginUmbracoForm<CorpBrochureOrderSurfaceController>("SendBrochureForm", null, new { id = "brochureOrder" }))
{
    @*<div class="row">
        @Html.DropDownListFor(x => x.Department, Model.Departments, "Select...")
        @Html.ValidationMessageFor(model => Model.Department, "*")
    </div>*@
    <p>Please either select a quantity or select the number of boxes that you would like to order (if you choose a box quantity this will override the individual quantity).</p>
    <ul>
        @{
    int count = 0;
    foreach (var brochure in this.Model.Content.Descendants("Brochure"))
    {
        var singleId = string.Format("X_{0}_Singles", brochure.Name.Replace(" ", "").Trim());
        var boxesId = string.Format("X_{0}_boxes", brochure.Name.Replace(" ", "").Trim());
        <li @((count % 2 != 0) ? "class=alt" : "")>
            <div class="section"><label class="single" for="@singleId">@brochure.Name</label><input type="text" name="@singleId" id="@singleId" onkeyup="this.value = minmax(this.value, 0, @brochure.GetPropertyValue("maximumOrderQuantity"))" value="@this.Request.Params[singleId]"></div>
            @if (brochure.GetPropertyValue<bool>("allowOrderOfBoxes"))
            {
                <div class="section"><span class="floatLeft">brochure <strong>or</strong></span></div><div class="section"><label class="boxes" for="@boxesId">Box</label><input type="text" name="@boxesId" id="@boxesId" onkeyup="this.value = minmax(this.value, 0, @brochure.GetPropertyValue("maximumOrderQuantity"))" value="@this.Request.Params[boxesId]"><span class="floatLeft">boxes(1 box contains @brochure.GetPropertyValue("numberOfBrochuresInOneBox") brochures)</span></div>
            }
        </li>

            count++;
    }
        }
    </ul>
    <div class="row">
        @Html.LabelFor(x => Model.DeliverToGDHA)
        @Html.CheckBoxFor(x => Model.DeliverToGDHA)
    </div>
    <div class="subsection">
        <div class="row">
            @Html.LabelFor(x => Model.Title)
            @Html.TextBoxFor(x => Model.Title)
            @Html.ValidationMessageFor(model => Model.Title, "*")
        </div>
        <div class="row">
            @Html.LabelFor(x => Model.FirstName)
            @Html.TextBoxFor(x => Model.FirstName)
            @Html.ValidationMessageFor(model => Model.FirstName, "*")
        </div>
        <div class="row">
            @Html.LabelFor(x => Model.Surname)
            @Html.TextBoxFor(x => Model.Surname)
            @Html.ValidationMessageFor(model => Model.Surname, "*")
        </div>
        <div class="row">
            @Html.LabelFor(x => Model.Email)
            @Html.TextBoxFor(x => Model.Email)
            @Html.ValidationMessageFor(model => Model.Email, "*")
        </div>
        <div class="row">
            @Html.LabelFor(x => Model.Telephone)
            @Html.TextBoxFor(x => Model.Telephone)
            @Html.ValidationMessageFor(model => Model.Telephone, "*")
        </div>
        <div class="row">
            @Html.LabelFor(x => Model.Company)
            @Html.TextBoxFor(x => Model.Company)
            @Html.ValidationMessageFor(model => Model.Company, "*")
        </div>
    </div>
    <div class="subsection">
        <div class="row">
            @Html.LabelFor(x => Model.PropertyNumber)
            @Html.TextBoxFor(x => Model.PropertyNumber)
            @Html.ValidationMessageFor(model => Model.PropertyNumber, "*")
        </div>
        <div class="row">
            @Html.LabelFor(x => Model.Street)
            @Html.TextBoxFor(x => Model.Street)
            @Html.ValidationMessageFor(model => Model.Street, "*")
        </div>
        <div class="row">
            @Html.LabelFor(x => Model.Town)
            @Html.TextBoxFor(x => Model.Town)
            @Html.ValidationMessageFor(model => Model.Town, "*")
        </div>
        <div class="row">
            @Html.LabelFor(x => Model.County)
            @Html.TextBoxFor(x => Model.County)
        </div>
        <div class="row">
            @Html.LabelFor(x => Model.Postcode)
            @Html.TextBoxFor(x => Model.Postcode)
            @Html.ValidationMessageFor(model => Model.Postcode, "*")
        </div>
        @*<div class="row">
            @Html.LabelFor(x => Model.Heardfrom)
            @Html.DropDownListFor(x => x.Heardfrom, Model.Referrers, "Select...")
            @Html.ValidationMessageFor(model => Model.Heardfrom, "*")
            @Html.TextBoxFor(x => Model.HeardFromBox, new { style = "margin-top:5px" })            
        </div>*@
    </div>
    <div class="subsection">
        <div class="row">
            @Html.CheckBoxFor(x => Model.ConsentToContact)
            @Html.LabelFor(x => Model.ConsentToContact, "Do you give your consent for Glen Dimplex Home Appliances to contact you in the future with details of products and services, which we think will be of interest to you?", new { @class = "consent" })
        </div>
    </div>
    <div class="subsection">
        <div class="row"><input type="submit" value="Submit" /></div>
        <div class="row"><p>Any information you submit here will be treated according to the Glen Dimplex Home Appliances data privacy policy.</p></div>
        @*<div class="row">
            @Html.ValidationSummary("Validation errors please resolve the issues below before submitting.")
        </div>*@
    </div>
}
