﻿@model Uniform.Web.Models.SearchModel



<p>You searched for <strong>@Model.Query</strong></p>
<p>Your search returned <strong>@Model.SearchResults.Count()</strong> @(Model.SearchResults.Count() == 1 ? "result" : "results")</p>

@if (Model.SearchResults != null)
{
    <ul class="results">
        @foreach (var result in Model.SearchResults)
        {
            <li><a href="@result.Url">@result.Name</a><br /><i>@result.Url</i><br /></li>
        }
    </ul>
}