﻿@model Uniform.Web.Models.SearchModel
@using Uniform.GDHA.BusinessLogic.Razor;
@*@using uComponents.DataTypes.MultiUrlPicker.Dto;
@using uComponents.DataTypes.UrlPicker.Dto;
@using Uniform.GDHA.BusinessLogic.SurfaceControllers;
@using Uniform.GDHA.BusinessLogic.Models;*@
@using  RJP.MultiUrlPicker.Models;

@if (Model.SearchResults != null)
{
    bool first = true;
    int count = Model.SearchResults.Count();
    foreach (var result in Model.SearchResults.OrderByDescending(o => o.GetPropertyValue<DateTime>("publishedDate")))
    {
        if (result.GetPropertyValue("heroImage") != null)
        {
            var Umbraco = new Umbraco.Web.UmbracoHelper(UmbracoContext.Current);
            var m = @Umbraco.TypedMedia((int)(result.GetPropertyValue("heroImage")));
            <div class="@(first && count >= 3 ? "featured" : "promo") popup" pubdate="@(result.GetPropertyValue<DateTime>("publishedDate").ToShortDateString())" brand="@(result.GetPropertyValue<string>("relatedToBrand"))">
                <img src="@m.GetResponsiveImageUrl(0,0)" alt="" />
                <span class="caption">
                    <h2>@result.Name</h2>
                    @(Html.Raw(result.GetPropertyValue<string>("teaserText")))
                    <p><a href="@result.Url" class="more"><span class="icon icon-icon-plus"></span>Read more</a></p>
                </span>
            </div>
                first = false;
        }
    }
}
