﻿@using Uniform.Web.SurfaceControllers
@model Uniform.Web.Models.CorpContactFormModel
<div class="feedback-form">
    @using (Html.BeginUmbracoForm<CorporateContactFormSurfaceController>("SendContactForm"))
    {
        <fieldset>
            <div class="column">
                @Html.ValidationSummary()
                @Html.LabelFor(x => Model.Title)<br/>
                @Html.TextBoxFor(x => Model.Title)<br />
                @Html.LabelFor(x => Model.Name)<br />
                @Html.TextBoxFor(x => Model.Name)<br />
                @Html.LabelFor(x => Model.Email)<br />
                @Html.TextBoxFor(x => Model.Email)<br />
                @Html.LabelFor(x => Model.Telephone)<br />
                @Html.TextBoxFor(x => Model.Telephone)<br />
            </div>
            <div class="column">
                @Html.LabelFor(x => Model.Question)<br />
                @Html.TextAreaFor(x => Model.Question, new { @class = "question", rows = 10 })<br />
            </div>
            <input type="submit" value="Submit form">
        </fieldset>
    }
</div>

