﻿@inherits UmbracoTemplatePage
@using Uniform.GDHA.BusinessLogic.Razor


@helper Menu(IPublishedContent node, bool showChildren = false)
{
    if (node != null)
    {
        <li>
            <a href="@node.Url">@node.Name</a>
            @if (showChildren && node.Children != null && node.Children.Count() != 0)
            {
                <div class="child">
                    <ul>
                        @foreach (var link in node.Children)
                        {
                            <li><a href="@link.Url">@link.Name</a></li>
                        }
                    </ul>
                </div>
            }
        </li>
    }
}
<div id="nav-main-link" class="closed nav-mobile"><a href="#"><span class="icon icon-icon-nav"></span></a></div>
<nav class="nav-main" role="navigation">
    <ul>
        @Menu(Model.Content.AncestorOrSelf("Home").Children.FirstOrDefault(f => f.DocumentTypeAlias == "About"))
        @Menu(Model.Content.AncestorOrSelf("Home").Children.FirstOrDefault(f => f.DocumentTypeAlias == "Brands"), true)
        @Menu(Model.Content.AncestorOrSelf("Home").Children.FirstOrDefault(f => f.DocumentTypeAlias == "Retail"))
        @Menu(Model.Content.AncestorOrSelf("Home").Children.FirstOrDefault(f => f.DocumentTypeAlias == "Press"))
        @Menu(Model.Content.AncestorOrSelf("Home").Children.FirstOrDefault(f => f.DocumentTypeAlias == "CorporateContactUs"))
		@Menu(Model.Content.AncestorOrSelf("Home").Children.FirstOrDefault(f => f.DocumentTypeAlias == "Careers"))
        <li class="search">
            <a href="#"><span class="icon icon-icon-search"></span></a>
            <div class="child">
                <form name="site-search" id="site-search" action="/Search" role="search" method="post">
                    <input type="text" name="query" id="query" value="@this.Request.Form["query"]" />
                    <input type="submit" value="Submit" />
                </form>
            </div>
        </li>
    </ul>
</nav>