﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
        
@{
    var nodes = Model.Content.AncestorOrSelf().Descendants("Rangepromo");
}

<div class="carousel-holder">
	@foreach(var page in nodes.Where("Visible")){
	    <div class="slide">
		    <div class="promo-holder">
			    <a href="@page.NiceUrl()">
				    @if (page.HasValue("promoHomepage")){
                        var imageId = page.GetPropertyValue("promoHomepage");
						var image = Umbraco.TypedMedia(imageId).Url;
						<img src="@image">
@*				    <img src="/imagegen.ashx?image=@Umbraco.TypedMedia(@imageId).Url&amp;width=305&amp;constrain=true;&amp;compression=97">*@
				    } else {
					    <img src="http://placehold.it/280x230/b9b9b9/ffffff&amp;text=@page.Name">
				    }
			    </a>
		    </div>
	    </div>
	}
</div>