﻿@inherits UmbracoTemplatePage
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/range-centre/js/site.js"></script>