﻿@inherits UmbracoTemplatePage
<footer>
    <div class="block-holder">
        <div class="footer-block">
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-block">
            <ul>
                <li>
                    <a href="/cookies-privacy">
                        Cookies & Privacy
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-block">
            <ul>
                <li>
                    <a href="/contact-us">
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-block">
            <ul>
                <li>
                    <a href="/media/597949/17039-stoves-a4-warranty-range-centres-leaflet.pdf">
                        Stoves Warranty
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-block">
            <ul>
                <li>
                    <a href="https://partners.domgen.com/BellingOLR/indexServlet">
                        Belling Warranty
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-block">
            <ul>
                <li>
                    <a href="http://www.gdhaimagelibrary.co.uk/">
                        Image Library
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-block center">
            <ul>
                <li>
                    &copy; Range Centre @DateTime.Now.ToString("yyyy")
                </li>
            </ul>
        </div>
    </div>
</footer>