﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IEnumerable<RetailerAddress>>
@using ServiceStack.Text
@using uLocate.Core
@using uLocate.Core.Extensions
@{
    var sitebrandNode = uQuery.GetNodesByXPath("$currentPage/ancestor-or-self::Homepage[@isDoc]").FirstOrDefault();
    string siteBrand = "belling";
    if(sitebrandNode != null)
    {
        siteBrand = sitebrandNode.GetProperty("siteBrand").Value.ToString();
    }
}

@if (Model.Any())
{
    if (siteBrand == "belling" && !string.IsNullOrWhiteSpace(Request.QueryString["sku"]))
    {
        <div class="location-block-new">
            <h2 class="blue" id="map">Find the nearest to me</h2>
            <div class="store-block-new">


                <div class="map-key">
                    <img src="/assets/@siteBrand/images/map-key.png">
                </div>
                <div class="map">
                    <div id="map_canvas" style="width:681px; height:742px"></div>
                </div>
                <div class="carousel-5">
                    <a class="btn-prev-5" href="#prev">Previous</a>
                    <div class="mask">
                        <div class="slideset-5">
                            @{ var i = 1; }
                            @foreach (var address in Model)
                            {
                                <div class="slide @(address.IsElite ? "elite-retailer" : "retailer")">
                                    <div class="icons-box">
                                        <span class="number">@i.ToString("00")</span>
                                    </div>
                                    <div class="box">
                                        <span class="distance">@address.ExtendedDataValue("DistanceAway") miles away</span>
                                        <h4>
                                            @if (address.IsElite)
                                            {
                                                <a href="@address.ExtendedDataValue("NiceUrl")">@address.Name</a>
                                            }
                                            else
                                            {
                                                @address.Name
                                            }
                                        </h4>

                                        @if (address.IsElite)
                                        {
                                            <h5>@address.ExtendedDataValue("RetailerCategories")</h5>
                                        }

                                        <dl class="contact">
                                            @if (!string.IsNullOrWhiteSpace(address.Telephone))
                                            {
                                                <dt>Phone number &gt;</dt>
                                                <dd>@address.Telephone</dd>
                                            }
                                            <dt>Address &gt;</dt>
                                            <dd>
                                                <address>@address</address>
                                            </dd>
                                        </dl>

                                        @if (address.IsElite)
                                        {
                                            <a href="@address.ExtendedDataValue("NiceUrl")" class="view-btn" onclick="_gaq.push(['_trackEvent', 'Propensity to Buy', 'view_store', 'View Store Details']);">View Store Details</a>
                                        }
                                    </div>
                                </div>
                                        i++;
                            }
                        </div>
                    </div>
                    <a class="btn-next-5" href="#">Next</a>
                </div>
            </div>
        </div>

        <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script>
            var addresses = @(Html.Raw(JsonSerializer.SerializeToString(Model)));
            google.maps.event.addDomListener(window, 'load', function () {
                var map_canvas = document.getElementById('map_canvas'),
                    options = {
                        center: new google.maps.LatLng(30, 0),
                        zoom: 8,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    },
                    map = new google.maps.Map(map_canvas, options),
                    bounds = new google.maps.LatLngBounds(),
                    infowindow = new google.maps.InfoWindow({
                        content: '<div>Loading...</div>'
                    });

                if (addresses != null && addresses.length > 0) {
                    for (var i = 0; i < addresses.length; i++) {
                        var markerIcon = addresses[i].IsElite != '' ? 'marker-elite-icon' : 'marker-icon',
                            coords = new google.maps.LatLng(addresses[i].Coordinate.latitude, addresses[i].Coordinate.longitude),
                            marker = new google.maps.Marker({
                                map: map,
                                position: coords,
                                html: '<strong>' + addresses[i].Name + '</strong>',
                                icon: '/assets/@siteBrand/images/' + markerIcon + '_' + (i < 9 ? '0' + (i + 1) : i + 1) + '.png'

                            });

                        google.maps.event.addListener(marker, 'click', function () {
                            var div = document.createElement('div');
                            div.innerHTML = this.html;
                            infowindow.setContent(div);
                            infowindow.open(map, this);
                        });

                        bounds.extend(coords);
                        map.fitBounds(bounds);
                    }
                }
            });
        </script>
    }
    else
    {
        <h2 class="blue" id="map">Nearest to me</h2>
        <div class="location-block">
            <div class="map">
                <div id="map_canvas" style="width:474px; height:742px"></div>
            </div>
            <div class="store-block">
                <div class="map-key">
                    <img src="/assets/@siteBrand/images/map-key.png">
                </div>



                <div class="carousel-5">
                    <a class="btn-prev-5" href="#prev">Previous</a>
                    <div class="mask">
                        <div class="slideset-5">
                            @{ var i = 1; }
                            @foreach (var address in Model)
						{
                                <div class="slide @(address.IsElite ? "elite-retailer" : "retailer")">
                                    <div class="icons-box">
                                        <span class="number">@i.ToString("00")</span>
                                    </div>
                                    <div class="box">
                                        <span class="distance">@address.ExtendedDataValue("DistanceAway") miles away</span>
                                        <h4>
                                            @if (address.IsElite)
		  {
                                                <a href="@address.ExtendedDataValue("NiceUrl")">@address.Name</a>
										} else {
                                                @address.Name
										}
                                        </h4>

                                        @if (address.IsElite)
									{
                                            <h5>@address.ExtendedDataValue("RetailerCategories")</h5>
									}

                                        <dl class="contact">
                                            @if (!string.IsNullOrWhiteSpace(address.Telephone))
										{
                                                <dt>Phone number &gt;</dt>
                                                <dd>@address.Telephone</dd>
										}
                                            <dt>Address &gt;</dt>
                                            <dd>
                                                <address>@address</address>
                                            </dd>
                                        </dl>

                                        @if (address.IsElite)
									{
                                            <a href="@address.ExtendedDataValue("NiceUrl")" class="view-btn" onclick="_gaq.push(['_trackEvent', 'Propensity to Buy', 'view_store', 'View Store Details']);">View Store Details</a>
									}
                                    </div>
                                </div>
							i++;
						}
                        </div>
                    </div>
                    <a class="btn-next-5" href="#">Next</a>
                </div>
            </div>
        </div>

        <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script>
            var addresses = @(Html.Raw(JsonSerializer.SerializeToString(Model)));
            google.maps.event.addDomListener(window, 'load', function () {
                var map_canvas = document.getElementById('map_canvas'),
                    options = {
                        center: new google.maps.LatLng(30, 0),
                        zoom: 8,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    },
                    map = new google.maps.Map(map_canvas, options),
                    bounds = new google.maps.LatLngBounds(),
                    infowindow = new google.maps.InfoWindow({
                        content: '<div>Loading...</div>'
                    });

                if (addresses != null && addresses.length > 0) {
                    for (var i = 0; i < addresses.length; i++) {
                        var markerIcon = addresses[i].IsElite != '' ? 'marker-elite-icon' : 'marker-icon',
                            coords = new google.maps.LatLng(addresses[i].Coordinate.latitude, addresses[i].Coordinate.longitude),
                            marker = new google.maps.Marker({
                                map: map,
                                position: coords,
                                html: '<strong>' + addresses[i].Name + '</strong>',
                                icon: '/assets/@siteBrand/images/' + markerIcon + '_' + (i < 9 ? '0' + (i + 1) : i + 1) + '.png',
                                zIndex: -i
                            });

                        google.maps.event.addListener(marker, 'click', function () {
                            var div = document.createElement('div');
                            div.innerHTML = this.html;
                            infowindow.setContent(div);
                            infowindow.open(map, this);
                        });

                        bounds.extend(coords);
                        map.fitBounds(bounds);
                    }
                }
            });
        </script>
}
}
else if (!string.IsNullOrWhiteSpace(Request.QueryString["p"]))
{
<h2 class="blue" id="map">There are no retailers that match your query.</h2>
}
else if (!string.IsNullOrWhiteSpace(Request.QueryString["q"]))
{
<h2 class="blue" id="map">There are no retailers that match your query.</h2>
}
