﻿@inherits UmbracoTemplatePage
@{
    var sitebrandNode = uQuery.GetNodesByXPath("$currentPage/ancestor-or-self::Homepage[@isDoc]").FirstOrDefault();
    string siteBrand = "belling";
    if (sitebrandNode != null)
    {
        siteBrand = sitebrandNode.GetProperty("siteBrand").Value.ToString();
    }
    string productModelSearch = "", productModelTitle = "";
    string skuName = "";
    string skuLink = "*";
    string skuNiceUrl = "";
    // remove dash '-' for searching iSiteTv for product
    // replace dash '-' with space for product model
    var querySku = Request.QueryString["sku"];
    if (!string.IsNullOrWhiteSpace(querySku))
    {
        //productModelSearch = querySku.ToString().Replace("-", "");
        //productModelTitle = querySku.ToString().Replace("-", " ");

        // Fetch the first child to get the Active SKU (@nodeName) and image (Top image from ProductImages)
        // ProductModel
        //      -> ProductSku
        var products = uQuery.GetNodesByName(querySku);
        if (products.Any())
        {
            var product = products.FirstOrDefault();
            productModelTitle = product.Parent.Name;
            skuName = product.Name;
            skuLink = product.NiceUrl;
            // get image (there could be more than one here, just take the first from the csv list)
            string imageList = product.GetProperty<string>("productImages");
            string firstValue = imageList.Split(',')[0];
            skuNiceUrl = uQuery.GetMedia(int.Parse(firstValue)).GetImageUrl();
            //skuName = product.ChildrenAsList[0].Name;
            //skuLink = product.ChildrenAsList[0].NiceUrl;
            //skuNiceUrl = uQuery.GetMedia(int.Parse(product.ChildrenAsList[0].GetProperty<string>("productImages"))).GetImageUrl();
        }
    }

}

@if (siteBrand == "belling" && !String.IsNullOrEmpty(querySku))
{ 
 
	<div class="where-to-buy-product">
		<h3><a href="@skuLink">@productModelTitle</a></h3>
		<h3><a href="@skuLink">@skuName</a></h3>
		<div id="main-wtb-img"><img src="@skuNiceUrl"/></div>
		<article id='wtb'>
			<h4 class="red" style="text-align:center;">Buy Now</h4>
			<ul class="wtb"></ul>
		</article>
	</div>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
<script>
     function callback(d) {
        //alert('done: ' + d);
    }
    function shuffle(array){
        var currentIndex = array.length, temporaryValue, randomIndex ;

        //while there remain elements to shuffle....
        while(0 !== currentIndex){

            //Pick a remaining element...
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;

            //and swap it with the current element.

            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
        }
        return array;
    }

    function get_wtb(prod, label, cid, target) {
        var prodid = "'" + prod + "'";
        var fmt = 'json';
        label = label || 'BUY NOW';
        $.ajax({
            url: "http://services.internetbuyer.co.uk/REST.svc/" + "GetByProductPartNumber?ProductPartNumber=" + prodid + "&CID=" + cid + "&$format=" + fmt + "&$callback=?",
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: "json",
            cache: false,
            error: function (xhr, error, errortext) {
                var message = error + "\r\n" + errortext;
            },
            success: function (data) {
                var res = "";
                var randArr = [];
                $.each(data.d, function (i, item) {
                    var tmpl = "<li><a href='[1]' title='[2]' target='_blank' rel='nofollow'><div class='wtb-side-img'><img src='[3]' /></div><span class='wtb-buy-link'>" + label + "</span></a></li>";
                    tmpl = tmpl.replace('[1]', item.NavigateUrl).replace('[2]', item.MerchantName).replace('[3]', item.MerchantLogoUrl);
                    randArr.push(tmpl);
                });

                shuffle(randArr);
                randArr.forEach(function(entry){
                    res = res + entry;
                });
                $(target).html(res);
                if (callback) callback(data);
            }
        });
    }
    get_wtb("@querySku", "BUY", "32", "#wtb ul.wtb");
</script>
    
}