﻿@inherits UmbracoTemplatePage
@{
    var homeNode = Model.Content.AncestorOrSelf(1);
    IEnumerable<IPublishedContent> rootNode = Umbraco.TypedContentAtRoot();
    IPublishedContent settingsFolder;
    try
    {
        settingsFolder = Umbraco.TypedContent((int)Model.Content.AncestorOrSelf(1).GetPropertyValue("websiteConfigurationNode"));
    }
    catch
    {
        settingsFolder = Umbraco.TypedContent((int)rootNode.FirstOrDefault(x => HttpContext.Current.Request.Url.Host.Contains(x.Name.ToLower().Replace(" ", string.Empty))).GetPropertyValue("websiteConfigurationNode"));
    }
    var globalSettings = settingsFolder.Children.First(x => x.IsDocumentType("USNGlobalSettings"));
}

    @if (globalSettings.HasValue("searchResultsPage") && globalSettings.HasValue("examineSearchProviderName"))
    {
        <div id="nav-affix" class="mobile-only">
            <div class="col-sm-12">
				<form class="navbar-form navbar-left" role="search" action="@library.NiceUrl(Convert.ToInt32(globalSettings.GetProperty("searchResultsPage").Value))">
					<div class="form-group">
						<input class="form-control" type="text" id="search_field" name="search_field" placeholder='@library.GetDictionaryItem("USN Search Form Placeholder")' value="@Request.QueryString["search_field"]">
                        <input id="mobile-search-icon" type="image" name="submit" src="http://cdn.flaticon.com/png/256/49116.png" border="0" alt="Submit" />
					</div>						
				</form>
            </div>
        </div>
    }

