﻿@inherits UmbracoTemplatePage
@using Newtonsoft.Json.Linq;
@{
    IEnumerable<IPublishedContent> rootNode = Umbraco.TypedContentAtRoot();
    IPublishedContent settingsFolder;
    try
    {
        settingsFolder = Umbraco.TypedContent((int)Model.Content.AncestorOrSelf(1).GetPropertyValue("websiteConfigurationNode"));
    }
    catch
    {
        settingsFolder = Umbraco.TypedContent((int)rootNode.FirstOrDefault(x => HttpContext.Current.Request.Url.Host.Contains(x.Name.ToLower().Replace(" ", string.Empty))).GetPropertyValue("websiteConfigurationNode"));
    }
    var navigation = settingsFolder.Children.First(x => x.IsDocumentType("USNNavigation"));
    var customerCareLinks = navigation.GetPropertyValue<string>("CustomerCareLinks");
    var customerCareHeading = navigation.GetPropertyValue<string>("CustomerCareHeading");
    var siteInformationLinks = navigation.GetPropertyValue<JArray>("SiteInformationLinks");
    var siteInformationHeading = navigation.GetPropertyValue<string>("SiteInformationHeading");
    var aboutUsLinks = navigation.GetPropertyValue<JArray>("AboutUsLinks");
    var aboutUsHeading = navigation.GetPropertyValue<string>("AboutUsHeading");
}
<!-- loadin it @customerCareHeading @(customerCareLinks != null)-->
    @if (navigation.HasValue("CustomerCareLinks") && navigation.GetPropertyValue<string>("CustomerCareLinks").Length > 2 && !String.IsNullOrEmpty(customerCareHeading))
    {
		
        <div class="col-sm-3">
            <h4>
                <span class="desktop-only"> @customerCareHeading</span>
                <a class="mobile-only" href="/customer-care"> @customerCareHeading</a>
            </h4>
            <ul class="desktop-only">
                @if(navigation.GetPropertyValue<JArray>("CustomerCareLinks") != null)
				{
					foreach (var jToken in navigation.GetPropertyValue<JArray>("CustomerCareLinks"))
					{
						var link = (JObject) jToken;
						string linkTitle = String.Empty;
						string linkURL = String.Empty;
						string linkTarget = String.Empty;
						string linkIcon = String.Empty;
						IPublishedContent node = null;
						linkURL = USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);

						if (linkURL != String.Empty)
						{
							<li>
								<a href="@linkURL" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>
									@(link.Value<string>("caption"))
								</a>
							</li>
						}
					}
				}
            </ul>
        </div>
    }
    @if (siteInformationLinks != null && !String.IsNullOrEmpty(siteInformationHeading))
    {
        <div class="col-sm-3">
            <h4>
                <span class="desktop-only"> @siteInformationHeading</span>
                <a class="mobile-only" href="/sitemap"> @siteInformationHeading</a>
            </h4>
            <ul class="desktop-only">
                @foreach (var jToken in siteInformationLinks)
                {
                    var link = (JObject) jToken;
                    string linkTitle = String.Empty;
                    string linkURL = String.Empty;
                    string linkTarget = String.Empty;
                    string linkIcon = String.Empty;
                    IPublishedContent node = null;

                    linkURL = USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);

                    if (linkURL != String.Empty)
                    {
                        <li>
                            <a href="@linkURL" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>
                                @(link.Value<string>("caption"))
                            </a>
                        </li>
                    }
                }

            </ul>
        </div>
    }
    @if (aboutUsLinks != null && !String.IsNullOrEmpty(aboutUsHeading))
    {
        <div class="col-sm-3">
            <h4>
                <span class="desktop-only"> @aboutUsHeading</span>
                <a class="mobile-only" href="/our-history"> @aboutUsHeading</a>
            </h4>
            <ul class="desktop-only">
                @foreach (var jToken in aboutUsLinks)
                {
                    var link = (JObject) jToken;
                    string linkTitle = String.Empty;
                    string linkURL = String.Empty;
                    string linkTarget = String.Empty;
                    string linkIcon = String.Empty;
                    IPublishedContent node = null;

                    linkURL = USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);

                    if (linkURL != String.Empty)
                    {
                        <li>
                            <a href="@linkURL" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>
                                @(link.Value<string>("caption"))
                            </a>
                        </li>
                    }
                }

            </ul>
        </div>
    }
