﻿
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using RJP.MultiUrlPicker.Models;
@{
	var image = Model.Content.HasValue("mainImage") ? Umbraco.TypedMedia((Model.Content.GetPropertyValue("mainImage"))) : null;
	var heading = Model.Content.GetPropertyValue("heading");
	var body = Model.Content.GetPropertyValue("body");
	var location = Model.Content.GetPropertyValue("location");
	var date = Model.Content.GetPropertyValue("date");
	var socialFeed = Model.Content.AncestorOrSelf(1).Children.First(x => x.DocumentTypeAlias == "SocialFeed");
    var newsFeed = socialFeed.Children.First(x => x.DocumentTypeAlias == "EventFeed");
    var news = newsFeed.Children.Count() > 5 ? newsFeed.Children.Take(5) : newsFeed.Children;
	//var brand = Model.Content.Ancestor(1);
}


@* if full screen image *@
@* <div class="container-fluid text-center">    
    <div class="item-holder">
        <img src="http://placehold.it/1440x500" alt="">        
    </div>
</div>  *@

<div class="container-fluid why-buy">     
    <div class="row">
        <div class="col-sm-12 text-center white-text hero-holder why-content" style="background-image: url('@image.Url')">
            
        </div>
    </div>
</div> 

<div class="container">
    <div class="row half-background">
        <div class="col-md-8 col-sm-6 left-col-article">
            <div class="h1 article-title blog-header">@heading</div>
            
			<p>@location</p>
			<p>@date</p>
			<p>@body</p>	

            @Html.Partial("Brand/Master/Share")
        </div>
        <div class="col-md-4 col-sm-6 right-col-article">
            <ul class="sidenav-list">
                <li><h5><a href="/conversation/events"><strong>More like this</strong></a></h5></li>
                @foreach(var post in news)
				{
					<li><a href="@post.Url"><span class="right-text">@post.Name</span><span class="float-right right-icon"><img src="/media/622953/arrow-right.svg" alt=""></span></a></li>
				}  
            </ul>
        </div>
    <!--//-->        
    </div>  @* End row *@   
</div>


