﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var socialFeed = Model.Content.AncestorOrSelf(1).Children.First(x => x.DocumentTypeAlias == "SocialFeed").Children;
}

<div class="blog-filters">
    <span class="filter">@Umbraco.Field("#Filter"):</span>
    @foreach (var feed in socialFeed)
    {
        <span class="h5 blog-item-title"><a href="@feed.Url">@feed.Name</a></span>
    }
</div>	