﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using RJP.MultiUrlPicker.Models;
@{
	  var brand = Model.Content.AncestorOrSelf(1);
      var image = Model.Content.HasValue("mainImage") ? Umbraco.TypedMedia((int)(Model.Content.GetPropertyValue("mainImage"))) : null;
      var heading = Model.Content.HasValue("heading") ? Model.Content.GetPropertyValue("heading"): "";
      var body = Model.Content.HasValue("body") ? Model.Content.GetPropertyValue("body"): "";
	  var socialFeed = Model.Content.AncestorOrSelf(1).Children.Where(x => x.DocumentTypeAlias == "SocialFeed").First();
	  var newsFeed = socialFeed.Children.Where(x => x.DocumentTypeAlias == "NewsFeed").First();
      var news = newsFeed.Children.Take(5);
}

@* if full screen image *@

@* <div class="container-fluid text-center">    
    <div class="item-holder">
        <img src="http://placehold.it/1440x500" alt="">       
    </div>
</div>  *@

<div class="container">
    <div class="row half-background">
        <div class="col-md-7 col-sm-6 left-col-article">
          <div class="h1 article-title">@heading</div>

             @* Image or video *@
		    @if (image != null)
        	{
				<div class="item-holder">
				  <img src="@image.GetResponsiveImageUrl(0,0)" />
				</div>
			}
			@if(body != null)
			{
            	<p>@body</p>
			}

        @* share article *@
       		@Html.Partial("Brand/Master/Share")
                
        </div>

        <div class="col-md-4 col-md-offset-1 col-sm-6 right-col-article">
            <ul class="sidenav-list">
				<li><h5><a href="@Model.Content.Parent.Url"><strong>More like this</strong></a></h5></li>
				@foreach(var post in news)
				{					
          			<li><a href="@post.Url"><span class="right-text">@post.Name</span></a></li>
					@*<span class="float-right right-icon"><img src="/media/622953/arrow-right.svg" alt=""></span>*@
				}                
            </ul>
        </div>
    <!--//-->        
    </div>  @* End row *@   
</div>
