@font-face {
    font-family: "FS Lola";
    src: url("fs_lola-regular-webfont.eot"); /* IE9 */
    src: url("fs_lola-regular-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fs_lola-regular-webfont.woff") format("woff"), /* chrome, firefox */
    url("fs_lola-regular-webfont.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("fs_lola-regular-webfont.svg#FS Lola") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


