
.belling {
	width: 356px;
	height: 250px;
	background-position: -0px 0;
}

.gdha-logo {
	width: 260px;
	height: 95px;
	background-position: -356px 0;
}

.gdha-logo-blue {
	width: 200px;
	height: 70px;
	background-position: -616px 0;
}

.gdha-symbol {
	width: 600px;
	height: 600px;
	background-position: -816px 0;
}

.hamburger {
	width: 40px;
	height: 40px;
	background-position: -1416px 0;
}

.icon-large_customer {
	width: 40px;
	height: 40px;
	background-position: -1456px 0;
}

.icon-large_download {
	width: 40px;
	height: 40px;
	background-position: -1496px 0;
}

.icon-large_facebook {
	width: 40px;
	height: 40px;
	background-position: -1536px 0;
}

.icon-large_pinterest {
	width: 40px;
	height: 40px;
	background-position: -1576px 0;
}

.icon-large_plus {
	width: 40px;
	height: 40px;
	background-position: -1616px 0;
}

.icon-large_screen {
	width: 40px;
	height: 40px;
	background-position: -1656px 0;
}

.icon-large_search {
	width: 40px;
	height: 40px;
	background-position: -1696px 0;
}

.icon-large_twitter {
	width: 40px;
	height: 40px;
	background-position: -1736px 0;
}

.icon_customer {
	width: 20px;
	height: 20px;
	background-position: -1776px 0;
}

.icon_download {
	width: 20px;
	height: 20px;
	background-position: -1796px 0;
}

.icon_facebook {
	width: 20px;
	height: 20px;
	background-position: -1816px 0;
}

.icon_pinterest {
	width: 20px;
	height: 20px;
	background-position: -1836px 0;
}

.icon_plus {
	width: 20px;
	height: 20px;
	background-position: -1856px 0;
}

.icon_screen {
	width: 20px;
	height: 20px;
	background-position: -1876px 0;
}

.icon_search {
	width: 20px;
	height: 20px;
	background-position: -1896px 0;
}

.icon_twitter {
	width: 20px;
	height: 20px;
	background-position: -1916px 0;
}

.lec {
	width: 356px;
	height: 250px;
	background-position: -1936px 0;
}

.newworld {
	width: 356px;
	height: 250px;
	background-position: -2292px 0;
}

.stoves {
	width: 356px;
	height: 250px;
	background-position: -2648px 0;
}

.no-svg .belling,
.no-svg .gdha-logo,
.no-svg .gdha-logo-blue,
.no-svg .gdha-symbol,
.no-svg .hamburger,
.no-svg .icon-large_customer,
.no-svg .icon-large_download,
.no-svg .icon-large_facebook,
.no-svg .icon-large_pinterest,
.no-svg .icon-large_plus,
.no-svg .icon-large_screen,
.no-svg .icon-large_search,
.no-svg .icon-large_twitter,
.no-svg .icon_customer,
.no-svg .icon_download,
.no-svg .icon_facebook,
.no-svg .icon_pinterest,
.no-svg .icon_plus,
.no-svg .icon_screen,
.no-svg .icon_search,
.no-svg .icon_twitter,
.no-svg .lec,
.no-svg .newworld,
.no-svg .stoves {
	display: inline-block;
	background-image: url("../sprites/png-sprite.png");
	background-size: 3004px 600px;
}

.belling,
.gdha-logo,
.gdha-logo-blue,
.gdha-symbol,
.hamburger,
.icon-large_customer,
.icon-large_download,
.icon-large_facebook,
.icon-large_pinterest,
.icon-large_plus,
.icon-large_screen,
.icon-large_search,
.icon-large_twitter,
.icon_customer,
.icon_download,
.icon_facebook,
.icon_pinterest,
.icon_plus,
.icon_screen,
.icon_search,
.icon_twitter,
.lec,
.newworld,
.stoves {
	display: inline-block;
	background-image: url("../sprites/svg-sprite.svg");
}
