@inherits UmbracoTemplatePage

@{
    IEnumerable<IPublishedContent> rootNode = Umbraco.TypedContentAtRoot();
    IPublishedContent settingsFolder;
    try
    {
        settingsFolder = Umbraco.TypedContent((int)Model.Content.AncestorOrSelf(1).GetPropertyValue("websiteConfigurationNode"));
    }
    catch
    {
        settingsFolder = Umbraco.TypedContent((int)rootNode.FirstOrDefault(x => HttpContext.Current.Request.Url.Host.Contains(x.Name.ToLower().Replace(" ", string.Empty))).GetPropertyValue("websiteConfigurationNode"));
    }
    var globalSettings = settingsFolder.Children.First(x => x.IsDocumentType("USNGlobalSettings"));

    if (globalSettings.HasValue("footerMobile") || globalSettings.HasValue("footerDesktop") ||
        globalSettings.HasValue("image1") || globalSettings.HasValue("image2"))
    {
        <div class="row copy-text">
            <div class="col-sm-6 col-xs-12 f-img">
                @if (globalSettings.HasValue("image2"))
                {
                    <img id="queen-footer" class="svg" src="@Umbraco.TypedMedia(globalSettings.GetPropertyValue("image2")).Url">
                }
                @if (globalSettings.HasValue("image1"))
                {
                    <img id="made-footer" class="svg" src="@Umbraco.TypedMedia(globalSettings.GetPropertyValue("image1")).Url">
                }                
            </div>
            @if (globalSettings.HasValue("footerMobile") && globalSettings.HasValue("footerDesktop"))
            {
                <div class="col-sm-6 col-xs-12 f-text">
                    <p class="mobile-only">&copy; @DateTime.Now.ToString("yyyy") @globalSettings.GetProperty("footerMobile").Value</p>
                    <p class="desktop-only">&copy; @DateTime.Now.ToString("yyyy") @Html.Raw(globalSettings.GetProperty("footerDesktop").Value)</p>
                </div>
            }            
        </div>
    }
}