﻿@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<noscript>
    <link rel="stylesheet" href="/css/noscript.css" />
</noscript>
<header>
	<!-- NAVIGATION -->
    @Html.Partial("brand/Navigation/Navigation", Model.Content as RenderModel)
	<!--// NAVIGATION -->
    <!-- SITE SEARCH -->
    @Html.Partial("brand/navigation/Searchform", Model.Content as RenderModel)
    <!--// SITE SEARCH -->
</header>