﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var pageUrl = Umbraco.NiceUrlWithDomain(Model.Content.Id);
	var pageName = Model.Content.Name;
    var image = Model.Content.HasValue("image") ? Umbraco.TypedMedia(Model.Content.GetPropertyValue("image")) : null;
    string src="";
	var home = Model.Content.AncestorOrSelf(1);
    if(image != null)
    {
        src = "http://" + HttpContext.Current.Request.Url.Host + image.Url;
    }
}
<div class="share-article">
    <div class="text">Share Article</div>
    <div class="share-icons">
        <a target="popup" href="https://twitter.com/intent/tweet?url=@pageUrl&amp;text=@string.Format("{0}, {1}",home.Name,pageName).">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=@pageUrl" class="symbol" target="popup" title="Link will open in a new window/tab">
            <i class="fa fa-facebook"></i>
        </a>
        <a target="popup"  href="https://pinterest.com/pin/create/button/?url=@pageUrl&media=@Umbraco.If(image!= null,src)&description=@string.Format("{0}, {1}",home.Name,pageName)">
            <i class="fa fa-pinterest"></i>
        </a>
    </div>
</div>