﻿@using USN.Heading.Umbraco.Models

@using USN.UrlPicker.Umbraco.Models

@inherits UmbracoTemplatePage

@{

    <!-- COMPONENT ANCHOR -->

    <a id="pos_@Model.Content.Id"></a>

    <!--// COMPONENT ANCHOR -->


    var image = Model.Content.HasValue("image") ? Umbraco.TypedMedia(int.Parse(Model.Content.GetPropertyValue("image").ToString())) : null;


    var totalCount = Model.Content.Children.Count(x => x.IsDocumentType("USN_AC_Banner"));

    if (totalCount > 0)

    {

        <div class="container-fluid">
            <div class="row">
                <div class="carousel slide" id="hero-carousel">
                    <div class="container">
                        <ol class="carousel-indicators">
                            <li data-slide-to="0" data-target="#hero-carousel" class="active">
                            </li>
                            @for (var i = 1; i < totalCount; i++)
                            {

                                <li data-slide-to="@i" data-target="#hero-carousel"></li>

                            }
                        </ol>
                    </div>
                    <div class="carousel-inner">
                        @foreach (var banner in Model.Content.Children.Where(x => x.IsDocumentType("USN_AC_Banner")))
                        {

                            var first = Model.Content.Children.First(x => x.IsDocumentType("USN_AC_Banner"));
                            string active;
                            if (first == banner)
                            {

                                active = "item active";

                            }
                            else
                            {

                                active = "item";

                            }
                            if (!banner.HasValue("bannerImage") || Umbraco.TypedMedia(banner.GetProperty("bannerImage").Value) == null)
                            {

                                continue;

                            }
                            var bannerLink = USNUrlHelper.GetSingleUrlFromUrlPicker(banner.GetPropertyValue<UrlPicker>("bannerLink"));
                            <div class="@active" style="background-image:url('@Umbraco.TypedMedia(banner.GetProperty("bannerImage").Value).Url')">
                                @if (banner.HasValue("bannerHeading") || banner.HasValue("bannerText") || bannerLink != null)
                                {
									
									string textAlignment = "text-left";

									if (banner.HasValue("bannerTextAlignment"))
									{
										switch (banner.GetProperty("bannerTextAlignment").Value.ToString())
										{
											case "Left":
												textAlignment = "text-left col-md-4 col-sm-5 ";
												break;
											case "Center":
												textAlignment = "text-center col-md-4 col-md-offset-4 col-sm-5 col-sm-offset-3 ";
												break;
											case "Right":
												textAlignment = "text-right col-md-4 col-md-offset-8 col-sm-5 col-sm-offset-7 ";
												break;
											default:
												textAlignment = "text-left col-md-4 col-sm-5";
												break;
										}
									}
									
                                    <div class="container">
                                        <div class="row home-banner-text">
                                            <div class="@textAlignment home-content">
                                                <div class="mid-content">
                                                    <div> 
                                                        @if (banner.HasValue("headerImage"))
                                                        {

                                                            <img class="title-hero-img" src="@Umbraco.TypedMedia(banner.GetProperty("headerImage").Value).Url" alt="" />

                                                        }
                                                        @if (banner.HasValue("bannerHeading"))
                                                        {

                                                            <h1>@(banner.GetPropertyValue<USNHeading>("bannerHeading").Heading)</h1>

                                                        }
                                                        @if (banner.HasValue("bannerText"))
                                                        {

                                                            <p>@Html.Raw(banner.GetProperty("bannerText").Value)</p>

                                                        }

                                                        @if (bannerLink != null)
                                                        {

                                                            <p class="link">
                                                                <a role="button" class="btn btn-default" href="@bannerLink.LinkURL" @Html.Raw(bannerLink.LinkTarget) @Html.Raw(bannerLink.LinkTitle)>@bannerLink.LinkCaption@(Html.Raw(bannerLink.LinkIcon))</a>
                                                            </p>
                                                        }
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    }

}

