﻿@inherits UmbracoTemplatePage
@{
    var socialFeed = Model.Content.AncestorOrSelf(1).Children.First(x => x.DocumentTypeAlias == "SocialFeed");
    var videoFeed = socialFeed.Children.Last(x => x.DocumentTypeAlias == "VideoFeed");
    var newsFeed = socialFeed.Children.Last(x => x.DocumentTypeAlias == "NewsFeed");
    var compFeed = socialFeed.Children.Last(x => x.DocumentTypeAlias == "CompetitionFeed");
    var recipeFeed = socialFeed.Children.Last(x => x.DocumentTypeAlias == "RecipeFeed");
    var video = videoFeed.Children.Any() ? videoFeed.Children.OrderByDescending(p => p.SortOrder).First() : null;
    var news = newsFeed.Children.Any() ? newsFeed.Children.OrderByDescending(p => p.SortOrder).First() : null;
    var comp = compFeed.Children.Any() ? compFeed.Children.OrderByDescending(p => p.SortOrder).First() : null;
    var recipe = recipeFeed.Children.Any() ? recipeFeed.Children.OrderByDescending(p => p.SortOrder).First() : null;
    object head = null;
    object text = null;
    string link = null;
    IPublishedContent image = null;
    var homeNode = Model.Content.AncestorOrSelf(1);
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var globalSettings = settingsFolder.Children.First(x => x.IsDocumentType("USNGlobalSettings"));

    var twitter = globalSettings.GetPropertyValue("twitterLink");
    var facebook = globalSettings.GetPropertyValue("facebookLink");
    var youtube = globalSettings.GetPropertyValue("youTubeLink");
    var pinterest = globalSettings.GetPropertyValue("pinterestLink");
    var home = Model.Content.AncestorOrSelf(1).Name.ToLower();
    var newsHeading = "";
    var allBlogLink = "";

    switch (home)
    {
        case "stoves":
            newsHeading = "Inspire";
            allBlogLink= "/inspire";
            break;
        case "belling":
            newsHeading = "Kitchen Table Conversation";
            allBlogLink = "/conversation";
            break;
        case "new world":
            newsHeading = "A Colourful Life";
            allBlogLink = "/a-colourful-life";
            break;
        case "lec":
            newsHeading = "Cool Wall";
            allBlogLink = "/cool-wall";
            break;
        default:
            newsHeading = "Latest";
            allBlogLink = "/conversation";
            break;
    }





<div class="container-fluid" id="inspire">
    <div class="container" id="inspiration-social-desktop">
        <div class="row desktop-only" >
            <h2>@newsHeading</h2>
            <p class="view-all"><a href="@allBlogLink">View All</a></p>
            @{
                <div class="col-md-3 col-sm-6">
					<a href= "@videoFeed.Url"><h5>Video</h5></a>
                    @if (video != null)
                    {
                        image = video.HasValue("thumbImage") ? Umbraco.TypedMedia((int) video.GetPropertyValue("thumbImage")) : null;
                        if (image != null)
                        {
                            <div class="inspire-img">
                                <img src="@image.GetResponsiveImageUrl(335,220)" alt="inspire image">
                            </div>
                        }
                        <div class="inspire-copy">
                            <a href="@video.Url">
                                <h4>@(video.GetPropertyValue<string>("heading"))</h4>
							@if(video.HasValue("description"))
							{
                                <p>@(video.GetPropertyValue<string>("description"))</p>
							}
                            </a>
                        </div>
                        <a href="@video.Url" class="btn btn-default">View More</a>
                    }
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href= "@newsFeed.Url"><h5>News</h5></a>
                    @if (news != null)
                    {
                        image = news.HasValue("thumbImage") ? Umbraco.TypedMedia((int) news.GetPropertyValue("thumbImage")) : null;
                        if (image != null)
                        {
                            <div class="inspire-img">
                                <img src="@image.GetResponsiveImageUrl(335,220)" alt="inspire image">
                            </div>
                        }
                        <div class="inspire-copy">
                            <a href="@news.Url">
                                <h4>@(news.GetPropertyValue<string>("heading"))</h4>
														@if(news.HasValue("description"))
							{
                                <p>@(news.GetPropertyValue<string>("description"))</p>
							}
                            </a>
                        </div>
                        <a href="@news.Url" class="btn btn-default">View More</a>
                    }
                </div>
                <div class="col-md-3 col-sm-6">                    
					<a href= "@compFeed.Url"><h5>Competitions</h5></a>
                    @if (comp != null)
                    {
                        image = comp.HasValue("thumbImage") ? Umbraco.TypedMedia((int) comp.GetPropertyValue("thumbImage")) : null;
                        if (image != null)
                        {
                            <div class="inspire-img">
                                <img src="@image.GetResponsiveImageUrl(335,220)" alt="inspire image">
                            </div>
                        }
                        <div class="inspire-copy">
                            <a href="@comp.Url">
                                <h4>@(comp.GetPropertyValue<string>("heading"))</h4>
																					@if(comp.HasValue("description"))
							{
                                <p>@(comp.GetPropertyValue<string>("description"))</p>   
							}
                            </a>
                        </div>
                        <a href="@comp.Url" class="btn btn-default">View More</a>
                    }
                </div>
                <div class="col-md-3 col-sm-6">
					<a href= "@recipeFeed.Url"><h5>Recipes</h5></a>
                    @if (recipe != null)
                    {
                        image = recipe.HasValue("thumbImage") ? Umbraco.TypedMedia((int) recipe.GetPropertyValue("thumbImage")) : null;
                        if (image != null)
                        {
                            <div class="inspire-img">
                                <img src="@image.GetResponsiveImageUrl(335,220)" alt="inspire image">
                            </div>
                        }
                        <div class="inspire-copy">
                            <a href="@recipe.Url">
							@if(recipe.HasValue("description"))
							{
                                <h4>@(recipe.GetPropertyValue<string>("heading"))</h4>
                                <p>@(recipe.GetPropertyValue<string>("description"))</p>                           
							}
                            </a>
                        </div>
                        <a href="@recipe.Url" class="btn btn-default">View More</a>
                    }
                </div>
            }
        </div>
        <div class="row desktop-only" >
            <div class="inspire-social">
                <div><h5>Follow Us</h5></div>
                <a title="Link will open in a new window/tab" target="_blank" class="symbol" href="@twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a title="Link will open in a new window/tab" target="_blank" class="symbol" href="@facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a title="Link will open in a new window/tab" target="_blank" class="symbol" href="@pinterest">
                    <i class="fa fa-pinterest"></i>
                </a>
                <a title="Link will open in a new window/tab" target="_blank" class="symbol" href="@youtube/">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>


    <div class="container-fluid mobile-only" id="inspire-mobile">
        <div class="row text-center">  
            <h2>@newsHeading</h2>
            <p class="view-all"><a href="/conversation/">View All</a></p>
            @if (recipe != null)
            {
                image = recipe.HasValue("thumbImage") ? Umbraco.TypedMedia((int) recipe.GetPropertyValue("thumbImage")) : null;

                if (image != null)
                {
                    <div class="inspire-img">
                        <a href="/conversation"><img src="@image.GetResponsiveImageUrl(0, 0)" alt=""></a>
                    </div>
                     
                    <h4><a href="@recipe.Url">@(news.GetPropertyValue<string>("heading"))</a></h4>
                    <p><a href="@recipe.Url">@(news.GetPropertyValue<string>("description"))</a></p>
                    @* <a href="@recipe.Url" class="btn btn-black">Read More</a> *@
                    <br>
                    
                }
            }                   
        </div>
    </div>
}