﻿@using RJP.MultiUrlPicker.Models
@inherits UmbracoTemplatePage
@{
	if(Model.Content.AncestorOrSelf(1).Children(x => x.DocumentTypeAlias == "Store").Count() == 0){
		return;
	}
		var child = Model.Content.AncestorOrSelf(1).Children.First(x => x.DocumentTypeAlias == "Store");
		var image1 = child.HasValue("image1") ? Umbraco.TypedMedia((int) child.GetPropertyValue("image1")).Url : "";
		var image2 = child.HasValue("image2") ? Umbraco.TypedMedia((int) child.GetPropertyValue("image2")).Url : "";
		var text = child.GetPropertyValue("text");
		var heading = child.GetPropertyValue("heading");
		var link1 = child.HasValue("link1") ? child.GetPropertyValue<MultiUrls>("link1").First() : null;
		var link2 = child.HasValue("link2") ? child.GetPropertyValue<MultiUrls>("link2").First() : null;
		var link3 = child.HasValue("link3") ? child.GetPropertyValue<MultiUrls>("link3").First() : null;
		var linktext1 = child.HasValue("linkText1")? child.GetPropertyValue<string>("linkText1") : "Find Spare Parts";
		var linktext2 = child.HasValue("linkText2")? child.GetPropertyValue<string>("linkText2") : "Visit Outlet";
		var linktext3 = child.HasValue("linkText3")? child.GetPropertyValue<string>("linkText3") : "Visit Cookshop";
	
}
    
<div class="container-fluid" id="shop">
    <div class="row shopwith">
    	<div class="images">
    		@if(!string.IsNullOrEmpty(image1)){
        	<img id="s-i-1" src="@image1" alt="" class="svg">
        }
        @if(!string.IsNullOrEmpty(image2)){
        	<img id="s-i-2" src="@image2" alt="" class="svg">
        }
      </div>
      <div class="text">
      	<div class="shop-title">@heading</div>
        <p>@text</p>
				@if(link1 != null){
	        <a href="@link1.Url" class="btn btn-black" target="@link1.Target">@linktext1</a>            
				}
				@if(link2 != null){
	        <a href="@link2.Url" class="btn btn-black" target="@link2.Target">@linktext2</a>           
				}
				@if(link3 != null){
	        <a href="@link3.Url" class="btn btn-black" target="@link3.Target">@linktext3</a>           
				}
			</div>
    </div>
</div>
