/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, ../../scss/_vendor/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 19, ../../scss/_vendor/_normalize.scss */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 32, ../../scss/_vendor/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 52, ../../scss/_vendor/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 65, ../../scss/_vendor/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 75, ../../scss/_vendor/_normalize.scss */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 87, ../../scss/_vendor/_normalize.scss */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, ../../scss/_vendor/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 107, ../../scss/_vendor/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 115, ../../scss/_vendor/_normalize.scss */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 124, ../../scss/_vendor/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 133, ../../scss/_vendor/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 142, ../../scss/_vendor/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 151, ../../scss/_vendor/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 159, ../../scss/_vendor/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 167, ../../scss/_vendor/_normalize.scss */
sup {
  top: -0.5em; }

/* line 171, ../../scss/_vendor/_normalize.scss */
sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 182, ../../scss/_vendor/_normalize.scss */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 190, ../../scss/_vendor/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 201, ../../scss/_vendor/_normalize.scss */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 209, ../../scss/_vendor/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
/* line 219, ../../scss/_vendor/_normalize.scss */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 227, ../../scss/_vendor/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 250, ../../scss/_vendor/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 264, ../../scss/_vendor/_normalize.scss */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 275, ../../scss/_vendor/_normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 288, ../../scss/_vendor/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 300, ../../scss/_vendor/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 309, ../../scss/_vendor/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 320, ../../scss/_vendor/_normalize.scss */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 332, ../../scss/_vendor/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 344, ../../scss/_vendor/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 355, ../../scss/_vendor/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 368, ../../scss/_vendor/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 377, ../../scss/_vendor/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 388, ../../scss/_vendor/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 397, ../../scss/_vendor/_normalize.scss */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 406, ../../scss/_vendor/_normalize.scss */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 417, ../../scss/_vendor/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 422, ../../scss/_vendor/_normalize.scss */
td,
th {
  padding: 0; }

/*
    This grid is based on 4 breakpoints:

    - tablet-mini: 6 column (Roughly 7" Tablet - iPad Mini/Nexus 7),
    - tablet: 9 column (Roughly 10" Tablet - iPad/Nexus 10),
    - desktop: 12 Column (960 Grid - Desktop),
    - desktop-high: 18 Column (Widescreen Monitor/TV),

    The grid will resize columns to make best use of the space ("magic grid")
    ensuring a consistent gutter and an adaptable website to any future
    device size.

    Column & container gutter - 1em = 16px.
    Maximum contaner size - 91em = 1456px.

    Example high desktop grid link: http://gridcalculator.dk/#/1456/18/16/16
*/
/* line 19, ../../scss/_modules/_mixins.scss */
.container, .inner, header#siteHeader, .content-top {
  *zoom: 1;
  max-width: 58.25em;
  _width: 58.25em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  background-origin: content-box;
  background-clip: content-box; }
  /* line 38, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after, .inner:after, header#siteHeader:after, .content-top:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 19em) {
    /* line 19, ../../scss/_modules/_mixins.scss */
    .container, .inner, header#siteHeader, .content-top {
      width: 292px; } }
  @media (min-width: 29em) {
    /* line 19, ../../scss/_modules/_mixins.scss */
    .container, .inner, header#siteHeader, .content-top {
      width: 438px; } }
  @media (min-width: 39em) {
    /* line 19, ../../scss/_modules/_mixins.scss */
    .container, .inner, header#siteHeader, .content-top {
      width: 672.844px; } }
  @media (min-width: 59em) {
    /* line 19, ../../scss/_modules/_mixins.scss */
    .container, .inner, header#siteHeader, .content-top {
      width: 1216px; } }

/* line 1, ../../scss/_modules/_typography.scss */
h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: #ffffff; }
  @media (min-width: 29em) {
    /* line 1, ../../scss/_modules/_typography.scss */
    h1 {
      font-size: 48px;
      font-size: 3rem;
      line-height: 0.9; } }

/* line 14, ../../scss/_modules/_typography.scss */
h2 {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 400; }

/* line 19, ../../scss/_modules/_typography.scss */
h3 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 10px 0; }

/* line 16, ../../scss/_partials/_base.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 22, ../../scss/_partials/_base.scss */
*:focus {
  outline: 0; }

/* line 26, ../../scss/_partials/_base.scss */
html {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  overflow-x: hidden; }

/* line 34, ../../scss/_partials/_base.scss */
body {
  font-size: 16px;
  background-color: #004070;
  overflow-x: hidden;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 400;
  color: #545454; }

/* line 43, ../../scss/_partials/_base.scss */
a {
  color: #004070;
  text-decoration: none; }
  /* line 47, ../../scss/_partials/_base.scss */
  a:hover {
    text-decoration: underline; }

/* line 52, ../../scss/_partials/_base.scss */
embed,
iframe,
object {
  /* Make sure embeds and iframes fit their responsive containers */
  max-width: 100%; }

/* line 58, ../../scss/_partials/_base.scss */
::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }
::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

/* line 64, ../../scss/_partials/_base.scss */
.hide {
  display: none !important;
  visibility: hidden; }

/* line 69, ../../scss/_partials/_base.scss */
.hideScreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 80, ../../scss/_partials/_base.scss */
.hideScreen.focusable:active,
.hideScreen.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* line 94, ../../scss/_partials/_base.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  background: #004070;
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400; }

/* line 107, ../../scss/_partials/_base.scss */
input#query {
  background: #F5F5F5;
  border: none;
  padding: 3px;
  font-weight: 400;
  border: none;
  background-color: #F5F5F5;
  height: 24px;
  padding: 4px 4px 4px 4px;
  width: 75%; }

/* line 119, ../../scss/_partials/_base.scss */
input[type="submit"] {
  border: 0;
  outline: 0;
  color: white;
  padding: 5px 10px;
  background-color: #004070;
  font-weight: 400;
  border-radius: 0; }

/* line 129, ../../scss/_partials/_base.scss */
fieldset {
  border: 0;
  padding: 0; }

/* line 134, ../../scss/_partials/_base.scss */
.column {
  margin: 0 0 0.8em 0; }

/* line 138, ../../scss/_partials/_base.scss */
input#Title {
  width: 50px; }

/* line 142, ../../scss/_partials/_base.scss */
input[type="text"] {
  background: #F5F5F5;
  border: 0;
  margin: 0 0 0.4em 0;
  padding: 0 0 0 0.3em; }

/* line 149, ../../scss/_partials/_base.scss */
textarea {
  border: 0;
  background: #F5F5F5; }

/* line 154, ../../scss/_partials/_base.scss */
td {
  padding: 10px; }

/* line 158, ../../scss/_partials/_base.scss */
td p {
  margin: 0 5px 0 5px; }

/* line 162, ../../scss/_partials/_base.scss */
tr:first-child {
  background-color: #004070;
  color: #fff; }

/* line 167, ../../scss/_partials/_base.scss */
tbody {
  background-color: #F0F0F0; }

/* line 2, ../../scss/_partials/_header.scss */
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

/* line 11, ../../scss/_partials/_header.scss */
.nav-collapse.opened {
  max-height: 9999px; }

/* line 15, ../../scss/_partials/_header.scss */
.disable-pointer-events {
  pointer-events: none !important; }

/* line 19, ../../scss/_partials/_header.scss */
.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@media (min-width: 59em) {
  /* line 26, ../../scss/_partials/_header.scss */
  .js .nav-collapse {
    position: relative;
    overflow: visible; }

  /* line 31, ../../scss/_partials/_header.scss */
  .js .nav-collapse.closed {
    max-height: none; } }
/* line 37, ../../scss/_partials/_header.scss */
header#siteHeader {
  position: relative; }
  /* line 41, ../../scss/_partials/_header.scss */
  header#siteHeader .logo {
    width: 150px;
    height: 55px;
    margin-top: 10px;
    margin-bottom: 20px;
    float: left; }
    @media (min-width: 39em) {
      /* line 41, ../../scss/_partials/_header.scss */
      header#siteHeader .logo {
        width: 260px;
        height: 95px;
        margin-top: 20px; } }
    @media (min-width: 59em) {
      /* line 41, ../../scss/_partials/_header.scss */
      header#siteHeader .logo {
        margin-bottom: 0; } }
  /* line 59, ../../scss/_partials/_header.scss */
  header#siteHeader .nav-mobile {
    height: 30px;
    width: 30px;
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 26px; }
    /* line 67, ../../scss/_partials/_header.scss */
    header#siteHeader .nav-mobile .icon {
      height: 30px;
      width: 30px; }
    @media (min-width: 59em) {
      /* line 59, ../../scss/_partials/_header.scss */
      header#siteHeader .nav-mobile {
        display: none; } }
  /* line 77, ../../scss/_partials/_header.scss */
  header#siteHeader nav.nav-main {
    clear: both; }
    @media (min-width: 59em) {
      /* line 77, ../../scss/_partials/_header.scss */
      header#siteHeader nav.nav-main {
        margin-top: 0;
        float: right;
        clear: none;
        background: #ffffff; } }
    /* line 87, ../../scss/_partials/_header.scss */
    header#siteHeader nav.nav-main ul {
      margin: 0;
      padding: 0;
      width: 100%;
      display: block;
      list-style: none;
      clear: both; }
    @media (min-width: 59em) {
      /* line 96, ../../scss/_partials/_header.scss */
      header#siteHeader nav.nav-main .parent {
        width: 110px;
        text-align: center; } }
    /* line 103, ../../scss/_partials/_header.scss */
    header#siteHeader nav.nav-main li {
      width: 100%;
      display: block; }
      /* line 108, ../../scss/_partials/_header.scss */
      header#siteHeader nav.nav-main li:hover .child {
        display: block; }
        @media (min-width: 59em) {
          /* line 108, ../../scss/_partials/_header.scss */
          header#siteHeader nav.nav-main li:hover .child {
            background: #ffffff; } }
      @media (min-width: 59em) {
        /* line 103, ../../scss/_partials/_header.scss */
        header#siteHeader nav.nav-main li {
          width: auto;
          float: left;
          position: relative; } }
      /* line 123, ../../scss/_partials/_header.scss */
      header#siteHeader nav.nav-main li a {
        color: #ffffff;
        text-decoration: none;
        padding: 10px 0;
        border-top: 1px solid #ffffff;
        width: 100%;
        height: 100%;
        display: block; }
        @media (min-width: 59em) {
          /* line 123, ../../scss/_partials/_header.scss */
          header#siteHeader nav.nav-main li a {
            color: #004070;
            padding: 10px 20px; } }
    /* line 139, ../../scss/_partials/_header.scss */
    header#siteHeader nav.nav-main .child {
      padding: 0 0 10px 10px; }
      @media (min-width: 39em) {
        /* line 139, ../../scss/_partials/_header.scss */
        header#siteHeader nav.nav-main .child {
          padding: 0 0 10px 10px; } }
      @media (min-width: 59em) {
        /* line 139, ../../scss/_partials/_header.scss */
        header#siteHeader nav.nav-main .child {
          display: none;
          position: absolute;
          z-index: 30;
          top: 41px;
          left: 0;
          background: #ffffff;
          padding: 0; } }
      /* line 156, ../../scss/_partials/_header.scss */
      header#siteHeader nav.nav-main .child li a {
        border: 0;
        padding: 0;
        width: 110px;
        height: 100%; }
        @media (min-width: 59em) {
          /* line 156, ../../scss/_partials/_header.scss */
          header#siteHeader nav.nav-main .child li a {
            background: #F5F5F5; } }
        @media (min-width: 59em) {
          /* line 166, ../../scss/_partials/_header.scss */
          header#siteHeader nav.nav-main .child li a:hover {
            color: #004070;
            background: #ffffff; } }
        @media (min-width: 59em) {
          /* line 156, ../../scss/_partials/_header.scss */
          header#siteHeader nav.nav-main .child li a {
            padding: 10px 0;
            text-align: center;
            color: #757575; } }
    /* line 181, ../../scss/_partials/_header.scss */
    header#siteHeader nav.nav-main .search {
      border-bottom: 1px solid #ffffff; }
      /* line 184, ../../scss/_partials/_header.scss */
      header#siteHeader nav.nav-main .search .icon {
        display: none;
        width: 20px;
        height: 20px; }
        @media (min-width: 59em) {
          /* line 184, ../../scss/_partials/_header.scss */
          header#siteHeader nav.nav-main .search .icon {
            display: block; } }
      /* line 194, ../../scss/_partials/_header.scss */
      header#siteHeader nav.nav-main .search .child {
        padding: 0 0 10px 0;
        width: 268px; }
        @media (min-width: 59em) {
          /* line 194, ../../scss/_partials/_header.scss */
          header#siteHeader nav.nav-main .search .child {
            padding: 5px 5px;
            left: auto;
            right: 0; } }

/* line 1, ../../scss/_partials/_footer.scss */
footer#siteFooter {
  background: #F5F5F5;
  padding: 20px 0; }
  /* line 5, ../../scss/_partials/_footer.scss */
  footer#siteFooter .item {
    margin-bottom: 20px;
    min-height: 190px; }
    @media (min-width: 29em) {
      /* line 5, ../../scss/_partials/_footer.scss */
      footer#siteFooter .item {
        width: 48.27586%;
        float: left;
        margin-right: 3.44828%; } }
    @media (min-width: 39em) {
      /* line 5, ../../scss/_partials/_footer.scss */
      footer#siteFooter .item {
        width: 48.71795%;
        float: left;
        margin-right: 2.5641%; } }
    @media (min-width: 59em) {
      /* line 5, ../../scss/_partials/_footer.scss */
      footer#siteFooter .item {
        width: 23.72881%;
        float: left;
        margin-right: 1.69492%; } }
    @media (min-width: 29em) {
      /* line 21, ../../scss/_partials/_footer.scss */
      footer#siteFooter .item.useful {
        float: right;
        margin-right: 0; } }
    @media (min-width: 39em) {
      /* line 21, ../../scss/_partials/_footer.scss */
      footer#siteFooter .item.useful {
        float: right;
        margin-right: 0; } }
    @media (min-width: 59em) {
      /* line 21, ../../scss/_partials/_footer.scss */
      footer#siteFooter .item.useful {
        float: left;
        margin-right: 1.69492%; } }
    /* line 35, ../../scss/_partials/_footer.scss */
    footer#siteFooter .item.newsletter {
      background-color: #ffffff;
      padding: 1px 20px 20px 20px; }
      @media (min-width: 29em) {
        /* line 35, ../../scss/_partials/_footer.scss */
        footer#siteFooter .item.newsletter {
          float: right;
          margin-right: 0; } }
      @media (min-width: 39em) {
        /* line 35, ../../scss/_partials/_footer.scss */
        footer#siteFooter .item.newsletter {
          float: right;
          margin-right: 0; } }
      @media (min-width: 59em) {
        /* line 35, ../../scss/_partials/_footer.scss */
        footer#siteFooter .item.newsletter {
          float: right;
          margin-right: 0; } }
      /* line 51, ../../scss/_partials/_footer.scss */
      footer#siteFooter .item.newsletter p {
        color: #B5B5B5;
        font-size: 14px;
        font-size: 0.875rem; }
  /* line 58, ../../scss/_partials/_footer.scss */
  footer#siteFooter h2 {
    color: #004070; }
  /* line 62, ../../scss/_partials/_footer.scss */
  footer#siteFooter ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  /* line 69, ../../scss/_partials/_footer.scss */
  footer#siteFooter li a {
    text-decoration: none;
    color: #B5B5B5;
    font-size: 14px;
    font-size: 0.875rem; }
  /* line 76, ../../scss/_partials/_footer.scss */
  footer#siteFooter .icon {
    clear: both;
    width: 200px;
    height: 70px;
    margin-top: 20px;
    float: left; }
  /* line 84, ../../scss/_partials/_footer.scss */
  footer#siteFooter form {
    width: 100%; }
    /* line 87, ../../scss/_partials/_footer.scss */
    footer#siteFooter form input[type=text] {
      border: 0;
      outline: 0;
      border-bottom: 1px solid #004070;
      margin-bottom: 10px;
      color: #004070;
      font-size: 14px;
      font-size: 0.875rem;
      padding: 5px 0px 3px 0;
      width: 100%;
      border-radius: 0; }
    /* line 99, ../../scss/_partials/_footer.scss */
    footer#siteFooter form input[type=submit] {
      border: 0;
      outline: 0;
      color: #ffffff;
      font-size: 12px;
      font-size: 0.75rem;
      padding: 5px 10px;
      background-color: #004070;
      font-weight: 400;
      margin-top: 10px;
      border-radius: 0; }

/* line 1, ../../scss/_partials/_page.scss */
#page {
  margin-top: 20px;
  position: relative; }

/* line 7, ../../scss/_partials/_page.scss */
#background-logo {
  height: 500px;
  width: 500px;
  position: absolute;
  top: -15px;
  right: 20px;
  z-index: -1; }
  /* line 15, ../../scss/_partials/_page.scss */
  #background-logo .icon {
    height: 100%;
    width: 100%;
    display: block; }

/* line 22, ../../scss/_partials/_page.scss */
.icon {
  height: 100%;
  width: 100%;
  display: inline-block;
  background-size: 100%; }

/* line 32, ../../scss/_partials/_page.scss */
.content-top h1 {
  margin-top: 60px;
  margin-bottom: 60px; }
/* line 37, ../../scss/_partials/_page.scss */
.content-top .hero {
  height: 100%;
  width: 100%; }

/* line 43, ../../scss/_partials/_page.scss */
.content-container {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 10px; }
  /* line 48, ../../scss/_partials/_page.scss */
  .content-container.content-pull {
    margin-top: -60px;
    padding-top: 80px; }
  @media (min-width: 39em) {
    /* line 53, ../../scss/_partials/_page.scss */
    .content-container .content {
      width: 61.53846%;
      float: left;
      margin-right: 2.5641%; } }
  @media (min-width: 59em) {
    /* line 53, ../../scss/_partials/_page.scss */
    .content-container .content {
      width: 66.10169%;
      float: left;
      margin-right: 1.69492%; } }
  @media (min-width: 39em) {
    /* line 65, ../../scss/_partials/_page.scss */
    .content-container .sidebar {
      width: 35.89744%;
      float: right;
      margin-right: 0; } }
  @media (min-width: 59em) {
    /* line 65, ../../scss/_partials/_page.scss */
    .content-container .sidebar {
      width: 23.72881%;
      float: right;
      margin-right: 0; } }

/* line 79, ../../scss/_partials/_page.scss */
.sidebar .social,
.sidebar .related {
  margin: 0;
  padding: 0;
  list-style-type: none; }
/* line 87, ../../scss/_partials/_page.scss */
.sidebar .social li {
  height: 60px;
  width: 40px;
  display: inline-block;
  margin-right: 5px; }
/* line 95, ../../scss/_partials/_page.scss */
.sidebar h2 {
  color: #004070;
  margin-top: 20px; }
/* line 101, ../../scss/_partials/_page.scss */
.sidebar .related li {
  padding: 4px 0 4px 4px;
  margin: 0 0 10px 0;
  background-color: #F5F5F5; }
/* line 107, ../../scss/_partials/_page.scss */
.sidebar .related a {
  color: #B5B5B5;
  text-decoration: none; }
/* line 112, ../../scss/_partials/_page.scss */
.sidebar .related .icon {
  height: 12px;
  width: 12px;
  margin-right: 10px; }

@media (min-width: 19em) {
  /* line 120, ../../scss/_partials/_page.scss */
  .about {
    height: 580px; } }
@media (min-width: 29em) {
  /* line 120, ../../scss/_partials/_page.scss */
  .about {
    height: 310px; } }
@media (min-width: 39em) {
  /* line 120, ../../scss/_partials/_page.scss */
  .about {
    height: 310px; } }
@media (min-width: 59em) {
  /* line 120, ../../scss/_partials/_page.scss */
  .about {
    height: 310px; } }

/* line 139, ../../scss/_partials/_page.scss */
#promo-container {
  margin: 20px 0; }
  /* line 5, ../../scss/_modules/_mixins.scss */
  #promo-container:before, #promo-container:after {
    content: " ";
    display: table; }
  /* line 11, ../../scss/_modules/_mixins.scss */
  #promo-container:after {
    clear: both; }
  /* line 143, ../../scss/_partials/_page.scss */
  #promo-container .promo {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px; }
    @media (min-width: 19em) {
      /* line 143, ../../scss/_partials/_page.scss */
      #promo-container .promo {
        height: 178.66px; } }
    @media (min-width: 29em) {
      /* line 143, ../../scss/_partials/_page.scss */
      #promo-container .promo {
        height: 278.952380952381px; } }
    @media (min-width: 39em) {
      /* line 143, ../../scss/_partials/_page.scss */
      #promo-container .promo {
        height: 215.656px;
        width: 49%;
        float: left;
        margin-right: 2%;
        margin-bottom: 0; } }
    @media (min-width: 59em) {
      /* line 143, ../../scss/_partials/_page.scss */
      #promo-container .promo {
        height: 303.33px; } }
    /* line 168, ../../scss/_partials/_page.scss */
    #promo-container .promo:last-child {
      margin-right: 0;
      margin-bottom: 0; }
    /* line 174, ../../scss/_partials/_page.scss */
    #promo-container .promo.active .caption {
      top: 0px; }
    /* line 179, ../../scss/_partials/_page.scss */
    #promo-container .promo img {
      height: 100%;
      width: 100%; }

/* line 187, ../../scss/_partials/_page.scss */
.caption {
  left: 0px;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  padding: 10px 20px; }
  @media (min-width: 19em) {
    /* line 187, ../../scss/_partials/_page.scss */
    .caption {
      top: 140px; } }
  @media (min-width: 29em) {
    /* line 187, ../../scss/_partials/_page.scss */
    .caption {
      top: 235px; } }
  @media (min-width: 39em) {
    /* line 187, ../../scss/_partials/_page.scss */
    .caption {
      top: 175px; } }
  @media (min-width: 59em) {
    /* line 187, ../../scss/_partials/_page.scss */
    .caption {
      top: 260px; } }
  /* line 212, ../../scss/_partials/_page.scss */
  .caption h2 {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0;
    color: #004070; }
    @media (min-width: 29em) {
      /* line 212, ../../scss/_partials/_page.scss */
      .caption h2 {
        font-size: 18px;
        font-size: 1.125rem; } }
    @media (min-width: 39em) {
      /* line 212, ../../scss/_partials/_page.scss */
      .caption h2 {
        font-size: 20px;
        font-size: 1.25rem; } }
    @media (min-width: 59em) {
      /* line 212, ../../scss/_partials/_page.scss */
      .caption h2 {
        font-size: 20px;
        font-size: 1.25rem; } }
  /* line 231, ../../scss/_partials/_page.scss */
  .caption p {
    color: #B5B5B5;
    font-size: 14px;
    font-size: 0.875rem; }
  /* line 236, ../../scss/_partials/_page.scss */
  .caption .more {
    font-size: 16px;
    font-size: 1rem;
    position: absolute;
    bottom: 10px;
    left: 20px;
    text-decoration: none;
    color: #004070; }
    /* line 244, ../../scss/_partials/_page.scss */
    .caption .more .icon {
      width: 22px;
      height: 22px;
      margin-right: 10px;
      margin-bottom: -5px; }
  /* line 252, ../../scss/_partials/_page.scss */
  .caption .more2 {
    bottom: 40px; }

/* line 1, ../../scss/_partials/_homepage.scss */
#intro {
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 80px; }
  @media (min-width: 29em) {
    /* line 1, ../../scss/_partials/_homepage.scss */
    #intro {
      width: 82.75862%;
      float: left;
      margin-right: 3.44828%; } }
  @media (min-width: 39em) {
    /* line 1, ../../scss/_partials/_homepage.scss */
    #intro {
      width: 87.17949%;
      float: left;
      margin-right: 2.5641%; } }
  @media (min-width: 59em) {
    /* line 1, ../../scss/_partials/_homepage.scss */
    #intro {
      width: 83.05085%;
      float: left;
      margin-right: 1.69492%; } }
  /* line 18, ../../scss/_partials/_homepage.scss */
  #intro p {
    margin-top: 20px;
    margin-bottom: 0; }
  /* line 23, ../../scss/_partials/_homepage.scss */
  #intro .more {
    color: #ffffff;
    padding: 4px 8px;
    background: #5983A3;
    text-decoration: none; }
    /* line 29, ../../scss/_partials/_homepage.scss */
    #intro .more span {
      width: 14px;
      height: 14px;
      margin-right: 10px; }

/* line 37, ../../scss/_partials/_homepage.scss */
#brand-container {
  clear: both; }
  /* line 5, ../../scss/_modules/_mixins.scss */
  #brand-container:before, #brand-container:after {
    content: " ";
    display: table; }
  /* line 11, ../../scss/_modules/_mixins.scss */
  #brand-container:after {
    clear: both; }
  /* line 41, ../../scss/_partials/_homepage.scss */
  #brand-container .brand {
    position: relative;
    height: 140px;
    margin-bottom: 20px;
    background: #90D7EC;
    overflow: visible; }
    @media (min-width: 29em) {
      /* line 41, ../../scss/_partials/_homepage.scss */
      #brand-container .brand {
        float: left;
        width: 50%; } }
    @media (min-width: 39em) {
      /* line 41, ../../scss/_partials/_homepage.scss */
      #brand-container .brand {
        width: 33%;
        margin-bottom: 0; } }
    @media (min-width: 59em) {
      /* line 41, ../../scss/_partials/_homepage.scss */
      #brand-container .brand {
        height: 160px; } }
    /* line 62, ../../scss/_partials/_homepage.scss */
    #brand-container .brand.active .icon-brand {
      top: -70px; }
    /* line 66, ../../scss/_partials/_homepage.scss */
    #brand-container .brand.newworld .icon-brand {
      background-color: #757575; }
    /* line 70, ../../scss/_partials/_homepage.scss */
    #brand-container .brand.belling .icon-brand {
      background-color: #90D7EC; }
    /* line 74, ../../scss/_partials/_homepage.scss */
    #brand-container .brand.stoves .icon-brand {
      background-color: #000; }
    /* line 78, ../../scss/_partials/_homepage.scss */
    #brand-container .brand.lec .icon-brand {
      background-color: #ffffff; }
    /* line 82, ../../scss/_partials/_homepage.scss */
    #brand-container .brand.britannia .icon-brand {
      background-color: #5A6278; }
    /* line 86, ../../scss/_partials/_homepage.scss */
    #brand-container .brand.valor .icon-brand {
      background-color: #363636; }
  /* line 91, ../../scss/_partials/_homepage.scss */
  #brand-container .icon-brand {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
    background-position: center;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out; }
  /* line 103, ../../scss/_partials/_homepage.scss */
  #brand-container ul {
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center; }
  /* line 114, ../../scss/_partials/_homepage.scss */
  #brand-container li a {
    text-decoration: none;
    font-size: 16px;
    font-size: 1rem;
    padding: 0 2px;
    color: #004070; }
  /* line 121, ../../scss/_partials/_homepage.scss */
  #brand-container li .icon {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    margin-bottom: -5px; }

/* line 1, ../../scss/_partials/_retail.scss */
.banner {
  width: 100%;
  max-height: 156px; }

/* line 5, ../../scss/_modules/_mixins.scss */
.retail-grid:before, .retail-grid:after {
  content: " ";
  display: table; }
/* line 11, ../../scss/_modules/_mixins.scss */
.retail-grid:after {
  clear: both; }
/* line 9, ../../scss/_partials/_retail.scss */
.retail-grid > h2 {
  background: #5983A3;
  color: #ffffff;
  padding: 4px 8px; }
/* line 15, ../../scss/_partials/_retail.scss */
.retail-grid .promo {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px; }
  @media (min-width: 19em) {
    /* line 15, ../../scss/_partials/_retail.scss */
    .retail-grid .promo {
      height: 178.66px; } }
  @media (min-width: 29em) {
    /* line 15, ../../scss/_partials/_retail.scss */
    .retail-grid .promo {
      height: 278.952380952381px;
      width: 100%;
      float: left;
      margin-right: 3.44828%; } }
  @media (min-width: 39em) {
    /* line 15, ../../scss/_partials/_retail.scss */
    .retail-grid .promo {
      height: 215.656px;
      width: 48.71795%;
      float: left;
      margin-right: 2.5641%; }
      /* line 33, ../../scss/_partials/_retail.scss */
      .retail-grid .promo:nth-child(1n+1) {
        float: left;
        margin-right: 2.5641%; }
      /* line 37, ../../scss/_partials/_retail.scss */
      .retail-grid .promo:nth-child(2n+1) {
        float: right;
        margin-right: 0; } }
  @media (min-width: 59em) {
    /* line 15, ../../scss/_partials/_retail.scss */
    .retail-grid .promo {
      height: 200px;
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%; }
      /* line 46, ../../scss/_partials/_retail.scss */
      .retail-grid .promo:nth-child(1n+1) {
        float: left;
        margin-right: 1.69492%; }
      /* line 50, ../../scss/_partials/_retail.scss */
      .retail-grid .promo:nth-child(3n+3) {
        float: right;
        margin-right: 0; } }
  /* line 56, ../../scss/_partials/_retail.scss */
  .retail-grid .promo.active .caption {
    top: 0px; }
  /* line 61, ../../scss/_partials/_retail.scss */
  .retail-grid .promo .caption {
    left: 0px; }
    @media (min-width: 19em) {
      /* line 61, ../../scss/_partials/_retail.scss */
      .retail-grid .promo .caption {
        top: 140px; } }
    @media (min-width: 29em) {
      /* line 61, ../../scss/_partials/_retail.scss */
      .retail-grid .promo .caption {
        top: 235px; } }
    @media (min-width: 39em) {
      /* line 61, ../../scss/_partials/_retail.scss */
      .retail-grid .promo .caption {
        top: 175px; } }
    @media (min-width: 59em) {
      /* line 61, ../../scss/_partials/_retail.scss */
      .retail-grid .promo .caption {
        top: 160px; } }
    @media (min-width: 29em) {
      /* line 79, ../../scss/_partials/_retail.scss */
      .retail-grid .promo .caption h2 {
        font-size: 18px;
        font-size: 1.125rem; } }
    @media (min-width: 39em) {
      /* line 79, ../../scss/_partials/_retail.scss */
      .retail-grid .promo .caption h2 {
        font-size: 18px;
        font-size: 1.125rem; } }
    @media (min-width: 59em) {
      /* line 79, ../../scss/_partials/_retail.scss */
      .retail-grid .promo .caption h2 {
        font-size: 20px;
        font-size: 1.25rem; } }
  /* line 94, ../../scss/_partials/_retail.scss */
  .retail-grid .promo img {
    height: 100%;
    width: 100%; }

/* line 1, ../../scss/_partials/_brands.scss */
.brand {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  height: 220px; }
  /* line 7, ../../scss/_partials/_brands.scss */
  .brand img {
    height: 100%;
    display: block; }
  @media (min-width: 29em) {
    /* line 1, ../../scss/_partials/_brands.scss */
    .brand {
      height: auto; }
      /* line 15, ../../scss/_partials/_brands.scss */
      .brand img {
        width: 100%;
        height: auto;
        display: block; } }
  /* line 23, ../../scss/_partials/_brands.scss */
  .brand.active .caption {
    top: 0px; }
  /* line 28, ../../scss/_partials/_brands.scss */
  .brand .caption {
    height: 100%;
    top: 100%; }
    /* line 32, ../../scss/_partials/_brands.scss */
    .brand .caption .content {
      display: none; }
      @media (min-width: 39em) {
        /* line 32, ../../scss/_partials/_brands.scss */
        .brand .caption .content {
          display: block;
          width: 74.35897%;
          float: left;
          margin-right: 2.5641%; } }
      @media (min-width: 59em) {
        /* line 32, ../../scss/_partials/_brands.scss */
        .brand .caption .content {
          width: 49.15254%;
          float: left;
          margin-right: 1.69492%; } }
      /* line 44, ../../scss/_partials/_brands.scss */
      .brand .caption .content h2 {
        margin-top: 0;
        color: #004070; }
      /* line 49, ../../scss/_partials/_brands.scss */
      .brand .caption .content p {
        color: #B5B5B5; }
    /* line 54, ../../scss/_partials/_brands.scss */
    .brand .caption .links {
      text-align: center; }
      @media (min-width: 39em) {
        /* line 54, ../../scss/_partials/_brands.scss */
        .brand .caption .links {
          width: 23.07692%;
          float: right;
          margin-right: 0; } }
      @media (min-width: 59em) {
        /* line 54, ../../scss/_partials/_brands.scss */
        .brand .caption .links {
          width: 23.72881%;
          float: right;
          margin-right: 0; } }
      /* line 65, ../../scss/_partials/_brands.scss */
      .brand .caption .links ul {
        margin: 0;
        padding: 0;
        list-style-type: none; }
      /* line 71, ../../scss/_partials/_brands.scss */
      .brand .caption .links li {
        float: left;
        width: 50%;
        padding-bottom: 15px; }
        /* line 76, ../../scss/_partials/_brands.scss */
        .brand .caption .links li:first-child {
          padding-top: 0; }
        @media (min-width: 39em) {
          /* line 71, ../../scss/_partials/_brands.scss */
          .brand .caption .links li {
            padding: 5px 0;
            float: none;
            width: auto; } }
        @media (min-width: 59em) {
          /* line 71, ../../scss/_partials/_brands.scss */
          .brand .caption .links li {
            padding: 15px 0; } }
      /* line 91, ../../scss/_partials/_brands.scss */
      .brand .caption .links .icon {
        height: 50px;
        width: 50px;
        display: block;
        margin: 0 auto; }
      /* line 98, ../../scss/_partials/_brands.scss */
      .brand .caption .links a {
        text-decoration: none;
        color: #004070; }

/* line 2, ../../scss/_partials/_press.scss */
.news-grid > h2 {
  background: #5983A3;
  color: #ffffff;
  padding: 4px 8px; }
@media (min-width: 39em) {
  /* line 8, ../../scss/_partials/_press.scss */
  .news-grid .content {
    width: 74.35897%;
    float: left;
    margin-right: 2.5641%; } }
@media (min-width: 59em) {
  /* line 8, ../../scss/_partials/_press.scss */
  .news-grid .content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; } }
/* line 18, ../../scss/_partials/_press.scss */
.news-grid .sidebar {
  margin-bottom: 20px; }
  @media (min-width: 39em) {
    /* line 18, ../../scss/_partials/_press.scss */
    .news-grid .sidebar {
      width: 23.07692%;
      float: right;
      margin-right: 0; } }
  @media (min-width: 59em) {
    /* line 18, ../../scss/_partials/_press.scss */
    .news-grid .sidebar {
      width: 32.20339%;
      float: right;
      margin-right: 0; } }
  /* line 29, ../../scss/_partials/_press.scss */
  .news-grid .sidebar form {
    margin: 0 0 5px 0;
    width: 100%;
    background: #fff;
    padding: 10px; }
    /* line 35, ../../scss/_partials/_press.scss */
    .news-grid .sidebar form input[type=text] {
      border: 0;
      outline: 0;
      border-bottom: 1px solid #004070;
      color: #004070;
      font-size: 14px;
      font-size: 0.875rem;
      padding: 5px 0px 3px 0;
      border-radius: 0;
      background: #fff;
      height: 100%; }
    /* line 47, ../../scss/_partials/_press.scss */
    .news-grid .sidebar form input[type=submit] {
      border: 0;
      outline: 0;
      color: #ffffff;
      font-size: 12px;
      font-size: 0.75rem;
      padding: 5px 10px;
      background-color: #004070;
      font-weight: 400;
      border-radius: 0; }
  /* line 59, ../../scss/_partials/_press.scss */
  .news-grid .sidebar .filter {
    background: #fff;
    padding: 10px;
    overflow: auto; }
    /* line 64, ../../scss/_partials/_press.scss */
    .news-grid .sidebar .filter h2 {
      margin-top: 0; }
    /* line 68, ../../scss/_partials/_press.scss */
    .news-grid .sidebar .filter ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      overflow: auto; }
      /* line 74, ../../scss/_partials/_press.scss */
      .news-grid .sidebar .filter ul.brand-filter {
        margin-bottom: 20px;
        font-color: #ffffff; }
        /* line 78, ../../scss/_partials/_press.scss */
        .news-grid .sidebar .filter ul.brand-filter .clicked {
          background-color: #004070; }
        /* line 83, ../../scss/_partials/_press.scss */
        .news-grid .sidebar .filter ul.brand-filter .closed {
          background-color: #e8e8e8; }
      /* line 89, ../../scss/_partials/_press.scss */
      .news-grid .sidebar .filter ul.year-filter {
        text-align: center; }
        /* line 92, ../../scss/_partials/_press.scss */
        .news-grid .sidebar .filter ul.year-filter .clicked {
          background-color: #004070; }
        /* line 97, ../../scss/_partials/_press.scss */
        .news-grid .sidebar .filter ul.year-filter .closed {
          background-color: #e8e8e8; }
        /* line 102, ../../scss/_partials/_press.scss */
        .news-grid .sidebar .filter ul.year-filter li {
          font-size: 22px;
          font-size: 1.375rem;
          color: #ffffff;
          line-height: 80px; }
    /* line 111, ../../scss/_partials/_press.scss */
    .news-grid .sidebar .filter li {
      background: #e8e8e8;
      height: 80px;
      margin-bottom: 5px;
      width: 49%;
      float: left;
      overflow: hidden; }
      @media (min-width: 39em) {
        /* line 111, ../../scss/_partials/_press.scss */
        .news-grid .sidebar .filter li {
          width: 100%; } }
      @media (min-width: 59em) {
        /* line 111, ../../scss/_partials/_press.scss */
        .news-grid .sidebar .filter li {
          width: 49%; } }
      /* line 127, ../../scss/_partials/_press.scss */
      .news-grid .sidebar .filter li a {
        height: 100%;
        width: 100%;
        display: block;
        color: #fff;
        text-decoration: none; }
      /* line 135, ../../scss/_partials/_press.scss */
      .news-grid .sidebar .filter li .icon {
        background-size: 60%;
        background-position: center; }
        @media (min-width: 29em) {
          /* line 135, ../../scss/_partials/_press.scss */
          .news-grid .sidebar .filter li .icon {
            background-size: 40%; } }
        @media (min-width: 39em) {
          /* line 135, ../../scss/_partials/_press.scss */
          .news-grid .sidebar .filter li .icon {
            background-size: 60%; } }
      /* line 148, ../../scss/_partials/_press.scss */
      .news-grid .sidebar .filter li:nth-child(2n+2) {
        float: right; }
  @media (min-width: 39em) {
    /* line 154, ../../scss/_partials/_press.scss */
    .news-grid .sidebar input#query {
      width: 100%;
      margin-bottom: 10px; } }
  @media (min-width: 59em) {
    /* line 154, ../../scss/_partials/_press.scss */
    .news-grid .sidebar input#query {
      width: 75%;
      margin-bottom: 0px; } }
  @media (min-width: 39em) {
    /* line 166, ../../scss/_partials/_press.scss */
    .news-grid .sidebar input[type="submit"] {
      width: 100%; } }
  @media (min-width: 59em) {
    /* line 166, ../../scss/_partials/_press.scss */
    .news-grid .sidebar input[type="submit"] {
      width: auto; } }
/* line 177, ../../scss/_partials/_press.scss */
.news-grid .featured {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px; }
  @media (min-width: 19em) {
    /* line 177, ../../scss/_partials/_press.scss */
    .news-grid .featured {
      height: 179px; } }
  @media (min-width: 29em) {
    /* line 177, ../../scss/_partials/_press.scss */
    .news-grid .featured {
      height: 278.952380952381px; } }
  @media (min-width: 39em) {
    /* line 177, ../../scss/_partials/_press.scss */
    .news-grid .featured {
      height: 327.734693877551px; } }
  @media (min-width: 59em) {
    /* line 177, ../../scss/_partials/_press.scss */
    .news-grid .featured {
      height: 408.8095238095238px; } }
  /* line 199, ../../scss/_partials/_press.scss */
  .news-grid .featured .caption {
    top: 310px; }
  /* line 204, ../../scss/_partials/_press.scss */
  .news-grid .featured.active .caption {
    top: 0px; }
  /* line 209, ../../scss/_partials/_press.scss */
  .news-grid .featured img {
    height: 100%;
    width: 100%; }
  /* line 214, ../../scss/_partials/_press.scss */
  .news-grid .featured .caption {
    left: 0px; }
    @media (min-width: 19em) {
      /* line 214, ../../scss/_partials/_press.scss */
      .news-grid .featured .caption {
        top: 140px; } }
    @media (min-width: 29em) {
      /* line 214, ../../scss/_partials/_press.scss */
      .news-grid .featured .caption {
        top: 235px; } }
    @media (min-width: 39em) {
      /* line 214, ../../scss/_partials/_press.scss */
      .news-grid .featured .caption {
        top: 285px; } }
    @media (min-width: 59em) {
      /* line 214, ../../scss/_partials/_press.scss */
      .news-grid .featured .caption {
        top: 365px; } }
    @media (min-width: 29em) {
      /* line 232, ../../scss/_partials/_press.scss */
      .news-grid .featured .caption h2 {
        font-size: 18px;
        font-size: 1.125rem; } }
    @media (min-width: 39em) {
      /* line 232, ../../scss/_partials/_press.scss */
      .news-grid .featured .caption h2 {
        font-size: 18px;
        font-size: 1.125rem; } }
    @media (min-width: 59em) {
      /* line 232, ../../scss/_partials/_press.scss */
      .news-grid .featured .caption h2 {
        font-size: 20px;
        font-size: 1.25rem; } }
/* line 248, ../../scss/_partials/_press.scss */
.news-grid .promo {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  height: 250px; }
  @media (min-width: 19em) {
    /* line 248, ../../scss/_partials/_press.scss */
    .news-grid .promo {
      height: 179px; } }
  @media (min-width: 29em) {
    /* line 248, ../../scss/_partials/_press.scss */
    .news-grid .promo {
      width: 100%;
      float: left;
      margin-right: 5.26316%;
      height: 278.952380952381px; } }
  @media (min-width: 39em) {
    /* line 248, ../../scss/_partials/_press.scss */
    .news-grid .promo {
      width: 48.27586%;
      float: left;
      margin-right: 3.44828%;
      height: 158.6666666666667px; } }
  @media (min-width: 59em) {
    /* line 248, ../../scss/_partials/_press.scss */
    .news-grid .promo {
      width: 48.71795%;
      float: left;
      margin-right: 2.5641%;
      height: 199.2517006802721px; } }
  @media (min-width: 29em) {
    /* line 273, ../../scss/_partials/_press.scss */
    .news-grid .promo:nth-child(2n+2) {
      float: right;
      margin-right: 0; } }
  @media (min-width: 39em) {
    /* line 273, ../../scss/_partials/_press.scss */
    .news-grid .promo:nth-child(2n+2) {
      float: right;
      margin-right: 0; } }
  @media (min-width: 39em) {
    /* line 283, ../../scss/_partials/_press.scss */
    .news-grid .promo P {
      overflow: hidden;
      height: 100px;
      word-wrap: break-word; } }
  /* line 292, ../../scss/_partials/_press.scss */
  .news-grid .promo.active .caption {
    top: 0px; }
  /* line 297, ../../scss/_partials/_press.scss */
  .news-grid .promo .caption {
    left: 0px; }
    @media (min-width: 19em) {
      /* line 297, ../../scss/_partials/_press.scss */
      .news-grid .promo .caption {
        top: 140px; } }
    @media (min-width: 29em) {
      /* line 297, ../../scss/_partials/_press.scss */
      .news-grid .promo .caption {
        top: 235px; } }
    @media (min-width: 39em) {
      /* line 297, ../../scss/_partials/_press.scss */
      .news-grid .promo .caption {
        top: 122px; } }
    @media (min-width: 59em) {
      /* line 297, ../../scss/_partials/_press.scss */
      .news-grid .promo .caption {
        top: 152px; } }
    @media (min-width: 29em) {
      /* line 315, ../../scss/_partials/_press.scss */
      .news-grid .promo .caption h2 {
        font-size: 18px;
        font-size: 1.125rem; } }
    @media (min-width: 39em) {
      /* line 315, ../../scss/_partials/_press.scss */
      .news-grid .promo .caption h2 {
        font-size: 16px;
        font-size: 1rem; } }
    @media (min-width: 59em) {
      /* line 315, ../../scss/_partials/_press.scss */
      .news-grid .promo .caption h2 {
        font-size: 20px;
        font-size: 1.25rem; } }
  /* line 330, ../../scss/_partials/_press.scss */
  .news-grid .promo img {
    height: 100%;
    width: 100%; }

/* line 1, ../../scss/_partials/_contact.scss */
.feedback-form {
  margin-bottom: 10px; }
  /* line 4, ../../scss/_partials/_contact.scss */
  .feedback-form .question {
    width: 100%;
    resize: none; }
  /* line 9, ../../scss/_partials/_contact.scss */
  .feedback-form .validation-summary-errors {
    color: red; }
    /* line 11, ../../scss/_partials/_contact.scss */
    .feedback-form .validation-summary-errors ul {
      list-style: none;
      padding: 0; }
  /* line 18, ../../scss/_partials/_contact.scss */
  .feedback-form input[type="submit"] {
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline; }

/* line 4, ../../scss/_partials/_search.scss */
ul.results {
  list-style: none;
  padding: 0; }
  /* line 8, ../../scss/_partials/_search.scss */
  ul.results li {
    margin: 1.2em 0; }

img
{
max-width: 100%;
}
