@font-face {
	font-family: 'blocheavy';
	src: url('../fonts/blocheavy.eot');
	src: url('../fonts/blocheavy.eot?#iefix') format('embedded-opentype'),
	url('../fonts/blocheavy.woff') format('woff'),
	url('../fonts/blocheavy.ttf') format('truetype'),
	url('../fonts/blocheavy.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'nobileregular';
	src: url('../fonts/nobile.eot');
	src: url('../fonts/nobile.eot?#iefix') format('embedded-opentype'),
		url('../fonts/nobile.woff') format('woff'),
		url('../fonts/nobile.ttf') format('truetype'),
		url('../fonts/nobile.svg#nobileregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'nobilebold';
	src: url('../fonts/nobile_bold.eot');
	src: url('../fonts/nobile_bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/nobile_bold.woff') format('woff'),
		url('../fonts/nobile_bold.ttf') format('truetype'),
		url('../fonts/nobile_bold.svg#nobileregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	margin:0;
	background:#fff;
	font:12px/18px 'nobileregular', Arial, Helvetica, sans-serif;
	color:#4c4d4f;
	min-width:1003px;
}
.home{background:#c7e8f0;}
img{border-style:none;} 
a{
	color:#4c4d4f;
	text-decoration:underline;
}
a:hover{text-decoration:none;}
a:active {background-color: transparent;}
input, textarea, select{
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#4c4d4f;
}
header, footer, article, section, hgroup, nav, figure, aside { display: block; }
figure {
	margin:0;
	padding:0;
}
[type=search] {-webkit-appearance: none;}
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
input[type="submit"]::-moz-focus-inner{
	border:0;
	padding:0;
}
form, fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
table{
	width:100%;
	line-height:17px;
}
table, caption, tbody, tfoot, thead, tr, th, td{
	border-collapse: collapse;
	border-spacing: 0;
}
table tr{border-top:3px solid #b5e5f1;}
table tr:first-child{border:none;}
table tr:first-child td{padding-top:0;}
table table tr{border:none;}
td{
	padding:9px 0 13px;
	text-align:left;
	vertical-align:top;
}
table table td{padding:0 7px 0 0;}
th{
	font-family: 'nobilebold';
	text-align:left;
	font-weight:normal;
	padding:0;
}
q{quotes: none;}
q:before,
q:after{content:"";}
.alignleft{float:left;}
.alignright{
	float:right;
	margin:0 0 12px 12px;
}
.aligncenter{
	display:block;
	margin:0 auto;
}
strong{
	font-family: 'nobilebold', Arial, Helvetica, sans-serif;
	font-weight:normal;
}
#wrapper{
	width:960px;
	margin:0 auto;
	padding:0 18px 30px;
	background:#fff;
	position:relative;
	overflow:hidden;
}
#header:after{
	content:'';
	display:block;
	clear:both;
}
#header{
	position:relative;
	z-index:30;
	padding:14px 1px 18px 43px;
}
.home #header{
	position:absolute;
	left:18px;
	top:0;
	width:916px;
	background:#fff;
	background:rgba(255,255,255,0.94);
} 
#header .logo {
	float:left;
	background:url(../images/logo.png) no-repeat;
	width:142px;
	height:70px;
	margin:11px 0 0;
	position:relative;
	z-index:25;
	text-indent:-9999px;
	overflow:hidden;
}
#header .logo a {
	display:block;
	height:100%;
}
#header .block{float:right;}
.search-form{
	float:right;
	margin:0 0 18px;
	background:url(../images/sprite.png) no-repeat;
	width:220px;
	height:24px;
	padding:11px;
}
.search-form .input{
	float:left;
	position:relative;
}
.search-form input[type="text"]{
	float:left;
	background:none;
	border:none;
	margin:0;
	font:12px/24px 'nobilebold', Arial, Helvetica, sans-serif;
	color:#b4b5b5;
	padding: 0 11px 0;
	width: 170px;
	height:24px;
}
.search-form input[type="text"]::-webkit-input-placeholder {color:#b4b5b5;}
.search-form input[type="text"]:-moz-placeholder {color:#b4b5b5;}
.search-form input[type="text"]::-moz-placeholder {
	color:#b4b5b5;
	opacity: 1;
}
.search-form input[type="text"]:-ms-input-placeholder {color:#b4b5b5;}
.search-form .input-placeholder-text{
	position:absolute;
	left:11px;
	top:3px;
	font:12px/18px 'nobilebold', Arial, Helvetica, sans-serif;
}
.search-form input[type="submit"]{
	float:left;
	background:none;
	border:none;
	margin:0;
	padding:0;
	width:28px;
	height:24px;
	cursor:pointer;
	text-indent:-9999px;
	overflow:hidden;
}
.search-form input[type="submit"]:hover{cursor:pointer;}
.navigation:after{
	content:'';
	display:block;
	clear:both;
}
.navigation{
	clear:both;
	padding:0 12px 0 0;
}
.navigation .btn{
	float:right;
	margin:0 0 0 12px;
	color:#fff;
	font:13px/16px 'nobilebold', Arial, Helvetica, sans-serif;
	text-decoration:none;
	padding:0 0 0 3px;
	position:relative;
	z-index:25;
	background:url(../images/bg-btn.png) no-repeat;
}
.navigation .btn span{
	float:left;
	text-align:center;
	text-decoration:none;
	min-width: 93px;
	padding: 3px 5px 5px 2px;
	background:url(../images/bg-btn.png) no-repeat 100% -39px;
}
#nav{
	float:right;
	padding:0;
	margin:0 10px 0 0;
	list-style:none;
	letter-spacing: -0.3px;
	font:14px/22px 'nobilebold', Arial, Helvetica, sans-serif;
}
#nav li{
	float:left;
	margin:0 0 0 18px;
}
#nav > li > a{
	float:left;
	color:#4c4d4f;
	text-decoration:none;
}
#nav > .has-drop > a{
	padding:0 14px 0 0;
	background:url(../images/bullet.png) no-repeat 100% 8px;
}
#nav li:hover .drop{display:block;}
#nav .drop{
	display:none;
	position:absolute;
	top:96px;
	left:0;
	width:960px;
	padding:0;
	letter-spacing:0;
	z-index:20;
	padding:24px 0 0;
}
#nav .drop .holder{
	background:#fff;
	padding:12px 0 20px;
	margin:0 -15px 0 0;
	overflow:hidden;
}
#nav .item{
	float:left;
	width:232px;
	margin:0 11px 0 0;
}
#nav h2 {
	width:232px;
	color:#fff;
	font:14px/18px 'nobilebold', Arial, Helvetica, sans-serif;
	margin:0 0 22px;
	background:url(../images/heading-t.png) no-repeat;
	position:relative;
	z-index:1;
	text-align:center;
	text-transform:none;
	overflow:hidden;
}
#nav h2:after,
#nav h2:before{
	content:'';
	position:absolute;
	height:4px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/heading-b.png) no-repeat;
	z-index:-1;
}
#nav h2:after{
	top:4px;
	height:auto;
	bottom:4px;
	background:url(../images/heading-c.png) repeat-y;
}
#nav h2 a{
	display:block;
	color:#fff;
	padding:6px 5px 7px;
	text-decoration:none;
}
#nav .drop ul{
	padding:0;
	margin:0;
	line-height:17px;
	list-style:none;
}
#nav ul li{
	float:none;
	margin:0 0 12px;
	overflow:hidden;
}
#nav ul .img{
	display:inline-block;
	vertical-align:middle;
	margin:0 8px 0 0;
	height:40px;
}
#nav ul li .text{
	max-width:178px;
	display:inline-block;
	vertical-align:middle;
}
#nav ul li a{
	display:inline-block;
	vertical-align:middle;
	text-decoration:none;
}
#nav ul li a img{vertical-align:middle;}
#nav ul .icon{display:block;}
#nav ul .icon-2{display:none;}
#nav ul li a:hover .icon{display:none;}
#nav ul li a:hover .icon-2{display:block;}
#main:after,
.promo-block:after{
	content:'';
	display:block;
	clear:both;
}
.promo-block{
	position:relative;
	margin:0;
}
.promo-block img{vertical-align:top;}
.promo-block .winner-logo{
	position:absolute;
	right:25px;
	top:24px;
}
.promo-block .box-2{
	position:absolute;
	top:24px;
	left:15px;
	width:410px;
	color:#fff;
	font:14px/18px 'nobilebold', Arial, Helvetica, sans-serif;
}
.promo-block .box-2 .caption{
	font-size:46px;
	line-height:49px;
	margin:0 0 10px;
	padding:10px 0 17px;
	text-transform:uppercase;
	position:relative;
}
#main .promo-block .box-2 p{margin:0 0 0 2px;}
.promo-block .box-2 .caption:before,
.promo-block .box-2 .caption:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	background:url(../images/border-2.png) no-repeat;
	width:385px;
	height:10px;
}
.promo-block .box-2 .caption:after{
	bottom:0;
	background:url(../images/border-2.png) no-repeat;
	top:auto;
}
.promo{
	width:980px;
	margin:-142px -20px 26px 7px;
	overflow:hidden;
}
.promo-2{margin-bottom:15px;}
.promo .item{
	float:left;
	width:249px;
	min-height:136px;
	line-height:16px;
	color:#fff;
	padding:20px 36px 30px 22px;
	margin:0 17px 0 0;
	background:url(../images/box-promo-t.png) no-repeat;
	position:relative;
	z-index:1;
}
.promo .item:after,
.promo .item:before{
	content:'';
	position:absolute;
	height:103px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/box-promo-b.png) no-repeat;
	z-index:-1;
}
.promo .item:after{
	top:79px;
	height:auto;
	bottom:103px;
	background:url(../images/box-promo-c.png) repeat-y;
}
.promo-2 .item{
	width:265px;
	text-align:center;
	padding:0 20px 20px 20px;
	margin: 0 19px 12px 0;
	height:166px;
}
.promo .item-holder{
	width:249px;
	height:145px;
	white-space:nowrap;
	text-align:center;
}
.promo-2 .item-2 img{margin:0 0 27px;}
#main .promo-2 .item-3 img{vertical-align:top;}
.promo .item-holder:after{
	content:'';
	display:inline-block;
	height:100%;
	width:1px;
	overflow:hidden;
	margin:0 0 0 -5px;
	vertical-align:middle;
}
.promo .item-holder img{
	vertical-align:middle;
	display:inline-block;
	white-space:normal;
}
.promo-2 .item span{
	position:absolute;
	bottom:30px;
	left:20px;
	width:249px;
	text-align:center;
}
.promo .box{overflow:hidden;}
.promo .add-box{line-height:17px;}
.promo h2{
	color:#c7e8f0;
	font-size:26px;
	line-height:31px;
	margin:0 -10px 8px 0;
	text-transform:uppercase;
}
.promo h2 a{
	color:#c7e8f0;
	text-decoration:none;
}
#main .promo p{margin:0;}
.promo .alignright{margin:4px 0 0 10px;}
.promo .img-2{margin:-6px 0 0 7px;}
h1{
	color:#8acbb7;
	font:30px/33px 'nobilebold', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	margin:0 0 10px;
}
h1.red{
	color:#e2224b;
	margin:0 0 18px;
}
h1.blue{color:#a3dfed;}
.product-block{
	overflow:hidden;
	margin: 0 0 12px;
}
.product-block .aside{
	float:left;
	width:245px;
	line-height:16px;
	margin:0 20px 0 0;
}
.product-block .aside h1{margin:0 -10px 18px 0;}
.tabset{
	padding:0 0 22px;
	margin:0;
	list-style:none;
	overflow:hidden;
}
.tabset li{margin:0 0 3px;}
.tabset a{
	color:#4c4d4f;
	width:231px;
	display:block;
	overflow:hidden;
	position:relative;
	z-index:20;
	text-decoration:none;
}
.tabset .img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	height: 100%;
}
.tabset .active .img{
	left:-9999px;
	height:100%;
}
.tabset .img-hov {
	position: absolute;
	left: -9999px;
	top: 0;
}
.tabset .active .img-hov{
	height:100%;
	top:0;
	left:0;
}
.tabset h4 {
	padding: 10px 25px 12px 11px;
	position:relative;
	margin:0;
	z-index:20;
}
.product-block .tabset h4{margin:0;}
.tab-content{
	float:right;
	width:648px;
	padding:1px 0 0;
}
.product-block h4{
	line-height:17px;
	margin:0 0 17px;
}
.products-list{
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
}
.products-list li{
	float:left;
	width:150px;
	margin:0 0 12px 12px;
}
.products-list .aligncenter{margin-bottom:14px;}
.products-list .box{
	text-align:center;
	overflow:hidden;
}
.products-list .box img{vertical-align:top;}
.board-block {
	background:url(../images/board-t-2.jpg) no-repeat;
	width:936px;
	position:relative;
	margin:0 0 31px;
	padding:48px 12px 22px;
	z-index:1;
}
.board-block:after,
.board-block:before{
	content:'';
	position:absolute;
	height:552px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/board-b-2.jpg) no-repeat;
	z-index:-1;
}
.board-block:after{
	top:648px;
	height:auto;
	bottom:552px;
	background:url(../images/board-c-2.jpg) repeat-y;
}
.board-block .main-title{
	display:block;
	color:#fff;
	font:77px/77px 'nobilebold', Arial, Helvetica, sans-serif;
	margin:0;
	padding:12px 280px 21px 0;
	position:relative;
	text-transform:uppercase;
}
.board-block .main-title:before,
.board-block .main-title:after{
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	background:url(../images/border.png) no-repeat;
	width:612px;
	height:13px;
}
.board-block .main-title:before{top:0;}
.board-block .heading{margin:0 0 10px;}
.board-block .heading:after{
	content:'';
	display:block;
	clear:both;
}
.board-block .intro{
	display:block;
	margin:0 0 20px;
	line-height:21px;
}
.board-block .img-pot{
	float:right;
	margin:-56px 14px 0 13px;
}
.board-block .nav-bar{
	color:#fff;
	padding:0 28px 35px 0;
	overflow:hidden;
}
.board-block .box{
	float:left;
	width:615px;
	color:#fff;
}
.board-block .method-box{
	padding:17px 0 0;
	overflow:hidden;
}
.board-block .method-box h2{margin:0 0 16px;}
.board-block .caption{
	display:block;
	font:20px/24px 'nobilebold', Arial, Helvetica, sans-serif;
	text-align:center;
	text-transform:uppercase;
	margin:0 0 7px;
}
.board-block .social-box .caption{margin:0 0 25px;}
.board-block .social-box{float:right;}
.social-networks{
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
}
.aside .social-networks{margin:0 0 32px;}
.social-networks li{
	float:left;
	margin:0 11px 0 0;
}
.aside .social-networks li{margin:0 9px 0 0;}
.social-networks a{
	display:block;
	background:url(../images/ico-social.png) no-repeat;
	width: 37px;
	height: 36px;
	text-indent:-9999px;
	overflow:hidden;
}
.aside .social-networks a{
	width: 33px;
	height: 32px;
}
.aside-box .social-networks{
	text-align:center;
	padding: 6px 0 0;
	margin:0 0 30px;
}
.aside-box .social-networks li{
	float:none;
	display:inline-block;
	margin:0 4px;
}
.aside-box .social-networks a{
	width: 41px;
	height: 40px;
}
.social-networks .twitter{background-position:0 0;}
.aside .social-networks .twitter{background-position:0 -88px;}
.aside-box .social-networks .twitter{background-position:0 -166px;}
.social-networks .facebook{background-position:-48px 0;}
.aside .social-networks .facebook{background-position:-42px -88px;}
.aside-box .social-networks .facebook{background-position:-52px -166px;}
.social-networks .pinterest{background-position:-96px 0;}
.aside .social-networks .pinterest{background-position:-85px -88px;}
.aside-box .social-networks .pinterest{background-position:-104px -166px;}
.social-networks .youtube{
	width: 88px;
	background-position:-144px 0;
}
.aside-box .social-networks .youtube{
	background-position:-156px -166px;
	width: 99px;
}
.board-block .tabset-2{
	padding:0 0 22px;
	margin:0;
	list-style:none;
	font:30px/33px 'nobilebold', Arial, Helvetica, sans-serif;
	position:relative;
	text-transform:uppercase;
	overflow:hidden;
}
.board-block .tabset-2:after{
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	background:url(../images/border.png) no-repeat;
	width:612px;
	height:13px;
}
.board-block .tabset-2 li{
	float:left;
	margin:0 0 0 30px;
}
.board-block .tabset-2 li:first-child{margin:0;}
.board-block .tabset-2 a{
	color:#fff;
	text-decoration:none;
}
.board-block .tabset-2 .active{color:#ffed97;}
.board-block .tab-content-2{
	overflow:hidden;
}
.board-block .columns{
	width:975px;
	position:relative;
	z-index:2;
	overflow:hidden;
}
.board-block .col{
	float:left;
	padding:12px;
	background:#fff;
	min-height:216px;
	width:264px;
	margin:0 36px 24px 0;
}
.board-block .col .ico-social{
	display:inline-block;
	margin:0 0 4px;
	overflow:hidden;
}
.board-block .col img{vertical-align:top;}
.board-block .col-facebook{
	background:#3b5998;
	color:#fff;
}
.board-block .col-pinterest{
	background:#c91618;
	color:#fff;
}
.board-block .col-twitter{
	background:#3aaae1;
	color:#fff;
}
.board-block .col blockquote{
	padding:0;
	font-size:14px;
	line-height:18px;
	margin:0;
}
.board-block .col blockquote q{
	position:relative;
	padding:0 0 0 30px;
	display:inline-block;
}
.board-block .col blockquote q:before{
	content:'';
	position:absolute;
	left:0;
	top:4px;
	background:url(../images/quote-l.png) no-repeat;
	width:20px;
	height:17px;
}
.board-block .col blockquote q:after{
	display:inline-block;
	background:url(../images/quote-r.png) no-repeat;
	width:20px;
	height:17px;
	vertical-align:bottom;
	margin:0 0 -5px 12px;
}
.board-block .col h2{
	font:20px/24px 'nobilebold', Arial, Helvetica, sans-serif;
	margin:0;
	text-transform:uppercase;
}
.board-block .col-pinterest h2{margin:0 0 6px;}
.board-block .col .aligncenter{
	margin-bottom:5px;
	overflow:hidden;
}
.board-block .col-pinterest .aligncenter{margin:0 auto;}
.board-block .paging{
	float:right;
	padding:0 0 12px;
	margin:0;
	list-style:none;
	font:14px/18px 'nobilebold', Arial, Helvetica, sans-serif;
	overflow:hidden;
}
.board-block .paging li{
	float:left;
	background:url(../images/ico-paging.png) no-repeat;
	width: 25px;
	height: 25px;
	line-height:20px;
	text-align:center;
	margin:0 0 0 6px;
}
.board-block .paging .active:hover,
.board-block .paging .active,
.board-block .paging li:hover{background:url(../images/ico-paging.png) no-repeat 0 -76px;}
.board-block .paging a{
	display:block;
	height:100%;
}
.board-block .paging .next,
.board-block .paging .prev{
	background:url(../images/bg-btn.png) no-repeat 100% -1048px;
	position:relative;
	padding:1px 5px 1px 1px;
	margin:0 0 0 10px;
	width:auto;
}
.board-block .paging .prev:hover,
.board-block .paging .next:hover{background:url(../images/bg-btn.png) no-repeat 100% -1156px;}
.board-block .paging .next:before,
.board-block .paging .prev:before{
	content:'';
	position:absolute;
	left:-4px;
	top:0;
	background:url(../images/bg-btn.png) no-repeat 0 -997px;
	width: 4px;
	height: 23px;
}
.board-block .paging .prev:hover:before,
.board-block .paging .next:hover:before{background:url(../images/bg-btn.png) no-repeat 0 -1105px;}
.board-block .paging li a {text-decoration:none;}
.tab-content-2 .content{
	background:#fff;
	padding: 48px 57px 34px;
	width: 798px;
	margin:0 auto 27px;
	overflow:hidden;
}
.tab-content-2 .image{
	display:inline-block;
	margin-bottom:32px;
	position:relative;
	z-index:2;
}
.tab-content-2 .image img{vertical-align:top;}
.content .twocolumns{overflow:hidden;}
.content .aside{
	float:right;
	margin: 2px 0 0 80px;
	padding: 20px 21px 16px 25px;
	width: 210px;
	background:#e8f7fa;
}
.content .aside .list{
	padding:0;
	margin:0 0 29px;
	list-style:none;
}
.content .aside .list li{
	padding:0 0 3px 19px;
	background:url(../images/bullet-4.png) no-repeat 0 7px;
}
.content .aside .add-info{
	padding: 5px 0 0;
	margin:0 0 17px;
	list-style:none;
	font:14px/18px 'nobilebold', Arial, Helvetica, sans-serif;
}
.content .aside .add-info li{
	vertical-align:middle;
	display:inline-block;
	margin:0 0 12px;
}
.content .aside .add-info img{
	vertical-align:middle;
	display:inline-block;
	margin:0 7px 0 0;
}
.content .link-list{
	padding:0;
	margin:0;
	list-style:none;
	line-height:16px;
}
.content .link-list li{margin:0 0 5px;}
.content .link-list a:hover{text-decoration:underline;}
.content .text-holder{
	line-height:17px;
	padding:0 0 10px;
	overflow:hidden;
}
.inform-block{
	overflow:hidden;
	margin:0 -20px 25px 0;
}
.inform-block .item {
	float:left;
	width:275px;
	margin:0 25px 0 0;
	padding:9px 12px 12px;
	background:url(../images/item2-t.png) no-repeat;
	position:relative;
	z-index:1;
}
.inform-block .item .contact-list{margin:0 0 10px;}
.inform-block .item:after,
.inform-block .item:before{
	content:'';
	position:absolute;
	height:6px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/item2-b.png) no-repeat;
	z-index:-1;
}
.inform-block .item:after{
	top:6px;
	height:auto;
	bottom:6px;
	background:#e8f7fa;
}
.inform-block .holder{
	background:#fff;
	padding:8px 12px 6px;
	overflow:hidden;
}
.inform-block .holder .text-box{
	padding:0 21px 11px 30px;
	overflow:hidden;
}
.inform-block .schedule-list dt{margin: 0 13px 0 0;}
.inform-block .link{
	display:block;
	color:#fff;
	font:14px/18px 'nobilebold', Arial, Helvetica, sans-serif;
	background:url(../images/bg-btn.png) no-repeat 0 -851px;
	width: 243px;
	text-align:center;
	margin:0 0 12px;
	padding:5px 4px 7px;
	text-decoration:none;
	position:relative;
}
.preview-block{
	padding:8px 0 0;
	margin:0 0 15px;
	overflow:hidden;
}
.preview-block .block{float:left;}
.dimensions-block .tabset-4{
	padding:0;
	margin:0 0 20px;
	list-style:none;
	text-align:center;
	font:14px/18px 'nobilebold', Arial, Helvetica, sans-serif;
	overflow:hidden;
}
.dimensions-block .tabset-4 li{
	float:left;
	margin:0 0 0 34px;
}
.dimensions-block .tabset-4 li:first-child{margin:0;}
.dimensions-block .tabset-4 a{
	display:block;
	text-decoration:none;
	background:url(../images/bg-btn.png) no-repeat 0 -1222px;
	width: 285px;
	padding:3px 2px 4px;
}
.dimensions-block .tabset-4 .active{
	color:#fff;
	background:url(../images/bg-btn.png) no-repeat 0 -1307px;
}
.dimensions-block .tab-content-4:after{
	content:'';
	display:block;
	clear:both;
}
.dimensions-block .tab-content-4{
	position:relative;
	z-index:4;
}
.dimensions-block .table-area {
	width:589px;
	margin:0;
	padding:20px 12px;
	background:url(../images/bg-white2-t.png) no-repeat;
	position:relative;
	z-index:1;
}
.dimensions-block .table-area:after,
.dimensions-block .table-area:before{
	content:'';
	position:absolute;
	height:6px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/bg-white2-b.png) no-repeat;
	z-index:-1;
}
.dimensions-block .table-area:after{
	top:6px;
	height:auto;
	bottom:6px;
	background:#fff;
}
.dimensions-block .sub-nav{
	float:left;
	width:230px;
}
.dimensions-block .sub-nav ul{
	padding:0;
	margin:0 0 0 -12px;
	list-style:none;
	font:14px/18px 'nobilebold', Arial, Helvetica, sans-serif;
}
.dimensions-block .sub-nav ul li{margin:0 0 2px;}
.dimensions-block .sub-nav ul li:after{
	content:'';
	display:block;
	clear:both;
}
.dimensions-block .sub-nav a {
	display:block;
	width:225px;
	position:relative;
	z-index:1;
	padding:5px 5px 5px 12px;
	text-decoration:none;
}
.dimensions-block .sub-nav .active,
.dimensions-block .sub-nav a:hover{background:url(../images/sub-nav-t.png) no-repeat;}
.dimensions-block .sub-nav .active:after,
.dimensions-block .sub-nav .active:before,
.dimensions-block .sub-nav a:hover:after,
.dimensions-block .sub-nav a:hover:before{
	content:'';
	position:absolute;
	height:5px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/sub-nav-b.png) no-repeat;
	z-index:-1;
}
.dimensions-block .sub-nav a:hover .text,
.dimensions-block .sub-nav .active .text{color:#e43157;}
.dimensions-block .sub-nav .active:after,
.dimensions-block .sub-nav a:hover:after,
.dimensions-block .sub-nav a:after{
	top:5px;
	height:auto;
	bottom:5px;
	background:#fff;
}
.dimensions-block .sub-nav .img{
	display:inline-block;
	vertical-align:middle;
	margin:0 8px 0 0;
	height:40px;
}
.dimensions-block .sub-nav .text{
	width:172px;
	display:inline-block;
	vertical-align:middle;
}
.dimensions-block .sub-nav a img{vertical-align:middle;}
.dimensions-block .sub-nav .icon{display:block;}
.dimensions-block .sub-nav .icon-2{display:none;}
.dimensions-block .sub-nav .active .icon,
.dimensions-block .sub-nav a:hover .icon{display:none;}
.dimensions-block .sub-nav .active .icon-2,
.dimensions-block .sub-nav a:hover .icon-2{display:block;}
.dimensions-block .content-holder {
	float:right;
	width:357px;
	padding:14px 12px 10px 13px;
	background:url(../images/bg-content-t.png) no-repeat;
	position:relative;
	min-height:537px;
	z-index:1;
}
.dimensions-block .content-holder:after,
.dimensions-block .content-holder:before{
	content:'';
	position:absolute;
	height:7px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/bg-content-b.png) no-repeat;
	z-index:-1;
}
.dimensions-block .content-holder:after{
	top:6px;
	height:auto;
	bottom:7px;
	background:#fff;
}
.dimensions-block .content-holder .video{
	padding:23px 0 0;
	margin:0 0 23px;
	overflow:hidden;
}
.dimensions-block .content-holder h4.red {margin:0 0 13px;}
.dimensions-block .content-holder .text{
	padding:0 60px 0 0;
	overflow:hidden;
}
.preview-block .title{
	text-align:center;
	margin:0 0 18px;
	background:url(../images/bg-btn.png) no-repeat 0 -1222px;
	width: 289px;
	padding:1px 0 3px;
}
.preview-block .description{margin:0 0 15px;}
.preview-block .description .alignleft {margin: 7px 12px 0 0;}
.preview-block .description h4{margin:0 0 6px;}
.preview-block .product-image{float:left;}
.preview-block .block-gallery{
	overflow:hidden;
	text-align:center;
	background:url(../images/gallery.png) no-repeat;
	width:474px;
	height:577px;
	margin:0 0 11px;
}
#main .preview-block .block-gallery p{margin:0 0 17px;}
.preview-block .block-gallery .add-block-info{
	position:absolute;
	bottom:30px;
	left:0;
	width:330px;
	z-index:100;
}
div.slideshow-2 {
	width:330px;
	height:573px;
	position: relative;
	margin:0 auto;
}
div.slideset-4{
	height: 452px;
	overflow:hidden;
}
div.slideshow-2 div.slide-2 {
	position: absolute;
	z-index: 1;
	height: 573px;
	width:330px;
	margin:0 auto;
	text-align:center;
}
div.slideshow-2 div.slide-2.active {z-index: 2;}
div.slideshow-2 div.slide-2 .image{
	height:451px;
	overflow:hidden;
}
div.slideshow-2 div.slide-2 img{
	display:block;
	margin:0 auto 10px;
}
div.slideshow-2 div.slide-2 .add{
	overflow:hidden;
	min-height:120px;
	margin:0 0 12px;
}
div.slideshow-2 div.slide-2 .model{
	position:absolute;
	bottom:12px;
	left:0;
	width:100%;
}
.preview-block .content-product{margin:0 0 12px;}
.preview-block .content-product:after{
	content:'';
	display:block;
	clear:both;
}
.gallery-paging{
	width:320px;
	margin:0 0 8px 10px;
	position:relative;
}
.gallery-paging .mask{
	width:264px;
	margin:0 auto;
	overflow:hidden;
}
.pagination-3{
	padding:0;
	margin:0;
	width:99999px;
	list-style:none;
	overflow:hidden;
}
.pagination-3 li{
	float:left;
	width:37px;
	margin:0 7px 0 0;
	padding:0 0 7px;
	position:relative;
}
.pagination-3 a{display:block;}
.pagination-3 img{vertical-align:top;}
.pagination-3 .active:after{
	position:absolute;
	content:'';
	bottom:0;
	left:50%;
	margin:0 0 0 -18px;
	background:url(../images/border-3.png) no-repeat;
	width:38px;
	height:5px;
}
.gallery-paging .btn-prev,
.gallery-paging .btn-next{
	position:absolute;
	left:0;
	top:11px;
	background:url(../images/arrows.png) no-repeat 0 -319px;
	width: 15px;
	height: 23px;
	text-indent:-9999px;
	overflow:hidden;
}
.gallery-paging .btn-next{
	left:auto;
	right:7px;
	background-position: 0 -392px;
}
.gallery-paging .zoom{
	position:absolute;
	right:-60px;
	top:0;
	background:url(../images/ico-zoom.png) no-repeat;
	width:40px;
	height:40px;
	text-indent:-9999px;
	overflow:hidden;
}
.preview-block .btn-2{
	display:block;
	color:#fff;
	font:30px/31px 'nobilebold', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	position:relative;
	padding:0 40px 0 11px;
	text-decoration:none;
}
.preview-block .btn-2:after{
	content:'';
	position:absolute;
	right: 1px;
	top: 3px;
	background:url(../images/ico-33.png) no-repeat;
	width:30px;
	height:23px;
}
.preview-block .btn-location{
	display:block;
	color:#fff;
	font:30px/35px 'nobilebold', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:4px 33px 6px 23px;
	width:418px;
	background:url(../images/bg-btn.png) no-repeat 0 -1608px;
	text-decoration:none;
	position:relative;
}
.preview-block .btn-location:after{
	content:'';
	position:absolute;
	right:12px;
	top:50%;
	margin:-12px 0 0;
	background:url(../images/arrows.png) no-repeat 0 -629px;
	width: 15px;
	height: 23px;
}
.area{
	position:relative;
	min-height:45px;
	margin:0 0 12px;
	z-index:5;
}
.preview-block .popup-holder-2 {
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	width:474px;
	padding:7px 0 0;
	background:url(../images/box-red-t.png) no-repeat;
}
.preview-block .popup-active-2{
	padding:22px 0 0;
	width:491px;
	background:url(../images/box-red-t-2.png) no-repeat;
}
.preview-block .popup-holder-2 .popup-frame-2{
	padding:0 0 8px;
	background:url(../images/box-red-b.png) no-repeat 0 100%;
}
.preview-block .popup-active-2 .popup-frame-2{
	padding:0 0 32px;
	background:url(../images/box-red-b-2.png) no-repeat 0 100%;
}
.preview-block .popup-holder-2 .popup-content-2{
	background:url(../images/box-red-c.png) repeat-y;
	padding:0 11px 0 12px;
}
.preview-block .popup-holder-2 .popup-content-2:after{
	content:'';
	display:block;
	clear:both;
}
.preview-block .popup-active-2 .popup-content-2{
	background:url(../images/box-red-c-2.png) repeat-y;
	padding:0 28px 0 12px;
}
.preview-block .popup-active-2 .content-3{
	float:left;
	position:relative;
	width:451px;
	margin:-15px 0 0;
}
.preview-block .popup-2{
	display:none;
	padding:18px 0 0;
}
.preview-block .popup-2 .holder{
	background:#fff;
	padding:19px 11px 25px;
	overflow:hidden;
	position:relative;
}
.preview-block .popup-2 .close-2{
	position:absolute;
	right:12px;
	top:12px;
	background:url(../images/btn-close.png) no-repeat;
	width:21px;
	height:22px;
	text-indent:-9999px;
	overflow:hidden;
}
.preview-block .popup-2 table{
	font-size:14px;
	line-height:18px;
}
.preview-block .popup-2 table th{padding:0 0 20px;}
.preview-block .popup-2 table td{
	padding: 9px 0 12px;
	border-bottom:4px solid #e1e1e1;
}
.preview-block .popup-2 table tr{border:none;}
.preview-block .popup-2 table .link{
	text-decoration:none;
	padding: 0 13px 0 0;
	background:url(../images/arrow-4.png) no-repeat 100% 7px;
}
.preview-block .popup-2 table .link:hover{text-decoration:underline;}
.preview-block .popup-2 table .add{width:152px;}
.preview-block .popup-2 table .add-2{width:162px;}
.preview-block .aside{
	float:right;
	width:312px;
}
.preview-block .overview {
	width:294px;
	margin:0 0 12px;
	padding:11px 12px;
	background:url(../images/box8-t.png) no-repeat;
	position:relative;
	z-index:1;
	overflow:hidden;
}
.preview-block .overview:after,
.preview-block .overview:before{
	content:'';
	position:absolute;
	height:6px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/box8-b.png) no-repeat;
	z-index:-1;
}
.preview-block .overview:after{
	top:6px;
	height:auto;
	bottom:6px;
	background:#e8f7fa;
}
.preview-block .overview h4.red{
	text-align:center;
	line-height: 20px;
	margin: 0 0 21px;
}
.preview-block .aside .reviews{
	text-align:center;
	padding:23px 12px 35px;
}
.preview-block .choice-block{overflow:hidden;}
.preview-block .aside-2{float:right;}
.preview-block .aside-2 .box {
	width:125px;
	margin:0 0 23px;
	padding:13px 13px 10px 11px;
	background:url(../images/box9-t.png) no-repeat;
	position:relative;
	z-index:1;
}
.preview-block .aside-2 .box-2{
	padding-bottom:28px;
	margin:0;
}
.preview-block .aside-2 .box:after,
.preview-block .aside-2 .box:before{
	content:'';
	position:absolute;
	height:6px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/box9-b.png) no-repeat;
	z-index:-1;
}
.preview-block .aside-2 .box:after{
	top:6px;
	height:auto;
	bottom:6px;
	background:#f5f5f5;
}
.preview-block .aside-2 .aligncenter{margin-bottom:19px;}
#main .preview-block .aside-2 .box p{margin:0;}
.preview-block .aside-2 .link{
	text-decoration:none;
	font-family: 'nobilebold', Arial, Helvetica, sans-serif;
}
.preview-block .aside-2 .link:hover{text-decoration:underline;}
div.carousel-6 {
	position: relative;
}
div.carousel-6 div.mask {
	position: relative;
	overflow: hidden;
	width: 126px;
	height: 336px;
}
div.carousel-6 div.mask div.slide {
	height: 100px;
	margin:0 0 12px;
	position:relative;
}
div.carousel-6 div.mask img{vertical-align:top;}
div.carousel-6 div.mask div.slide a{
	display:block;
}
div.carousel-6 div.mask div.slide .btn-play{
	position:absolute;
	left:50%;
	top:50%;
	background:url(../images/btn-play.png) no-repeat;
	width:51px;
	height:51px;
	text-decoration:none;
	margin:-25px 0 0 -25px;
	text-indent:-9999px;
	overflow:hidden;
}
.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;
}
.lightbox-2 {
	padding:12px;
	width: 517px;
}
.lightbox-2 img{vertical-align:top;}
.lightbox-2 .video-block{overflow:hidden;}
.manual{
	padding:7px 0 0;
	margin:0;
	list-style:none;
	text-align:left;
	font:14px/18px 'nobilebold', Arial, Helvetica, sans-serif;
	overflow:hidden;
}
.manual li{margin:0 0 12px;}
.manual li a{text-decoration:none;}
.manual li img{
	display:inline-block;
	vertical-align:middle;
	margin:0 11px 0 0;
}
.feedback-block{
	margin:0 0 22px;
	overflow:hidden;
}
.feedback-block .block {
	float:left;
	width:600px;
	margin:0 0 20px;
	padding:6px 12px 12px;
	background:url(../images/box6-t.png) no-repeat;
	position:relative;
	z-index:1;
}
.feedback-block .block:after,
.feedback-block .block:before{
	content:'';
	position:absolute;
	height:5px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/box6-b.png) no-repeat;
	z-index:-1;
}
.feedback-block .block:after{
	top:5px;
	height:auto;
	bottom:5px;
	background:#f5f5f5;
}
.feedback-form{
	margin:0;
	padding:7px 0 0;
}
.feedback-form:after,
.feedback-form .row-area:after{
	content:'';
	display:block;
	clear:both;
}
.feedback-form .row-area{margin:0 -30px 0 0;}
.feedback-form .row{
	float:left;
	width:288px;
	margin:0 24px 0 0;
}
.feedback-form .input{
	display:block;
	position:relative;
	padding:0 0 14px;
}
.feedback-form .input:after,
.feedback-form .holder:after{
	content:'';
	display:block;
	clear:both;
}
.feedback-form input[type="text"]{
	float:left;
	background:#fff;
	border:none;
	margin:0;
	font:14px/24px 'nobilebold', Arial, Helvetica, sans-serif;
	color:#4c4d4f;
	padding: 0 11px 0;
	width: 265px;
	height:24px;
}
.feedback-form input[type="text"]::-webkit-input-placeholder {color:#4c4d4f;}
.feedback-form input[type="text"]:-moz-placeholder {color:#4c4d4f;}
.feedback-form input[type="text"]::-moz-placeholder {
	color:#4c4d4f;
	opacity: 1;
}
.feedback-form input[type="text"]:-ms-input-placeholder {color:#b4b5b5;}
.feedback-form .input-placeholder-text{
	position:absolute;
	left:11px;
	top:3px;
	font:14px/18px 'nobilebold', Arial, Helvetica, sans-serif;
}
.feedback-form .input-textarea .input-placeholder-text{
	width:268px;
	font:12px/18px 'nobileregular', Arial, Helvetica, sans-serif;
	left: 13px;
	top: 7px;
}
.feedback-form .input-textarea .input-placeholder-text strong{
	font:14px/21px 'nobilebold', Arial, Helvetica, sans-serif;
	display:block;
}
.feedback-form .holder{padding:0 0 6px;}
.feedback-form textarea{
	float:left;
	width:268px;
	max-width:268px;
	height:202px;
	padding:10px;
	background:#fff;
	border:none;
	margin:0;
	overflow:auto;
	font:12px/18px 'nobileregular', Arial, Helvetica, sans-serif;
	color:#4c4d4f;
}
.feedback-form input[type="submit"]{
	float:right;
	background:url(../images/bg-btn.png) no-repeat 0 -923px;
	border:none;
	margin:-2px 1px 0 0;
	padding:0;
	color:#fff;
	width: 206px;
	height: 30px;
	font:14px/30px 'nobilebold', Arial, Helvetica, sans-serif;
	cursor:pointer;
}
.feedback-form input[type="submit"]:hover{cursor:pointer;}
.feedback-block h4 {margin:0 0 18px;}
.feedback-block h4 img{
	vertical-align:top;
	margin:4px 7px 0 0;
}
.feedback-block .block-2 {
	float:right;
	width:291px;
	margin:0 0 20px;
	padding:6px 10px 12px;
	background:url(../images/box7-t.png) no-repeat;
	position:relative;
	z-index:1;
}
.feedback-block .block-2:after,
.feedback-block .block-2:before{
	content:'';
	position:absolute;
	height:6px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/box7-b.png) no-repeat;
	z-index:-1;
}
.feedback-block .block-2:after{
	top:6px;
	height:auto;
	bottom:6px;
	background:#f5f5f5;
}
.feedback-block address{
	font-style:normal;
	margin:0 0 24px;
	font-size:14px;
	line-height:21px;
}
.ad-block:after{
	content:'';
	display:block;
	clear:both;
}
.ad-block{
	z-index:2;
	margin:0 0 41px;
	position:relative;
}
.ad-block img{vertical-align:top;}
.ad-block .ad{
	float:left;
	width:474px;
	position:relative;
	color:#4c4d4f;
}
.ad-block .ad-2{float:right;}
.effect,
.effect-2{position:relative;}
.effect:before,
.effect:after {
	content:"";
	position:absolute;
	z-index:-2;
	bottom:15px;
	left:10px;
	width:50%;
	height:20%;
	max-width:300px;
	-webkit-box-shadow:0 15px 7px #7f7f7f;
	-moz-box-shadow:0 15px 7px #7f7f7f;
	box-shadow:0 15px 7px #7f7f7f;
	-webkit-transform:rotate(-3deg);
	-moz-transform:rotate(-3deg);
	-ms-transform:rotate(-3deg);
	-o-transform:rotate(-3deg);
	transform:rotate(-3deg);
}
.content .image.effect:before,
.content .image.effect:after{
	bottom:10px;
}
.newsletter-block .image.effect:before,
.newsletter-block .image.effect:after{
	bottom:13px;
	-webkit-box-shadow:0 15px 5px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:0 15px 5px rgba(0, 0, 0, 0.6);
	box-shadow:0 15px 5px rgba(0, 0, 0, 0.6);
}
.item .alignleft.effect:before,
.item .alignleft.effect:after{
	bottom:16px;
	-webkit-box-shadow:0 15px 5px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:0 15px 5px rgba(0, 0, 0, 0.6);
	box-shadow:0 15px 5px rgba(0, 0, 0, 0.6);
	-webkit-transform:rotate(-5deg);
	-moz-transform:rotate(-5deg);
	-ms-transform:rotate(-5deg);
	-o-transform:rotate(-5deg);
	transform:rotate(-5deg);
}
.item .alignleft.effect:after {
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-ms-transform:rotate(5deg);
	-o-transform:rotate(5deg);
	transform:rotate(5deg);
}
.ad-block.effect:before,
.ad-block.effect:after{
	bottom:12px;
	-webkit-box-shadow:0 15px 6px #7f7f7f;
	-moz-box-shadow:0 15px 6px #7f7f7f;
	box-shadow:0 15px 6px #7f7f7f;
}
.effect:after {
	right:10px;
	left:auto;
	-webkit-transform:rotate(3deg);
	-moz-transform:rotate(3deg);
	-ms-transform:rotate(3deg);
	-o-transform:rotate(3deg);
	transform:rotate(3deg);
}
.effect-2:before,
.effect-2:after {
	content:"";
	position:absolute;
	z-index:-2;
	bottom:16px;
	left:4px;
	width:50%;
	height:20%;
	max-width:300px;
	-webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform:rotate(-8deg);
	-moz-transform:rotate(-8deg);
	-ms-transform:rotate(-8deg);
	-o-transform:rotate(-8deg);
	transform:rotate(-8deg);
}
.effect-2:after {
	right:4px;
	left:auto;
	-webkit-transform:rotate(8deg);
	-moz-transform:rotate(8deg);
	-ms-transform:rotate(8deg);
	-o-transform:rotate(8deg);
	transform:rotate(8deg);
}
.ad-block .title{
	position:absolute;
	top:18px;
	right:26px;
	width:350px;
	height:87px;
	font-size:24px;
	line-height:32px;
	text-decoration:none;
	text-align:right;
}
.ad-3 .title,
.ad-block .ad-2 .title-2{color:#fff;}
.ad-block .title strong{display:block;}
.ad-block .title .mark{
	font-size:28px;
	line-height:32px;
}
h4{
	font:14px/21px 'nobilebold', Arial, Helvetica, sans-serif;
	margin:0 0 8px;
}
h4.red{
	color:#e43157;
	margin: 0 0 10px;
}
h4 a{text-decoration:none;}
h4 a:hover{text-decoration:underline;}
#main .retailers{
	padding:9px 6px 12px;
	margin:0 -60px -12px 0;
	list-style:none;
	overflow:hidden;
}
#main .retailers li{
	display:inline-block;
	vertical-align:middle;
	margin:0 42px 12px 0;
}
#main .retailers img{
	display:inline-block;
	vertical-align:middle;
}
#main .retailers .add img{margin-top:-15px; }
#main .awards{padding:29px 12px 15px 38px;}
#main .block-area .block{
	float:left;
	width:490px;
	margin:0 38px 0 0;
	line-height:17px;
}
#main .block-area .block .alignleft{
	float:left;
	margin:21px 42px 0 0;
}
.block-area .box h4{margin:0 0 6px;}
.block-area .box{overflow:hidden;}
#main .block-area .block h3{
	margin:0 0 5px;
}
#main .block-area p{margin:0 0 26px;}
.block-area .more-box:after{
	content:'';
	display:block;
	clear:both;
}
.block-area .more-box{
	position:relative;
	padding:0 0 27px 11px;
}
.block-area .more-box img{
	vertical-align:top;
	border:2px solid #fff;
	border-radius: 2px;
	box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.4);
}
.block-area .more{
	position:absolute;
	left:0;
	bottom:0;
	color:#fff;
	font:14px/21px 'nobilebold',Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	background:url(../images/bg-btn.png) no-repeat 0 -98px;
	width: 170px;
	padding:10px 30px 10px 6px;
	height: 19px;
}
#main .info-list h3{margin:0 0 4px;}
.info-list{
	width:354px;
	float:left;
	padding:0;
	margin:-1px 0 -25px;
	list-style:none;
}
.info-list li{margin:0 0 30px;}
.info-list .alignleft{
	float:none;
	display:inline-block;
	vertical-align:middle;
	margin:0 25px 0 0;
}
.info-list .box{
	width:260px;
	display:inline-block;
	vertical-align:middle;
}
#main .info-list p{margin:0;}
.breadcrumbs{overflow:hidden;}
.breadcrumbs ul{
	margin:0;
	list-style:none;
	font-family: 'nobilebold';
	padding: 0;
	overflow:hidden;
}
.breadcrumbs ul li{
	float:left;
	padding:0 5px 0 10px;
	background:url(../images/separator.png) no-repeat 0 50%;
}
.breadcrumbs ul li:first-child{
	background:none;
	padding-left:0;
}
.breadcrumbs ul a{
	text-decoration:none;
	font-family: 'nobileregular';
}
.breadcrumbs ul a:hover{text-decoration:underline;}
.grey-block{
	z-index:1;
	position:relative;
	padding: 13px 13px 10px;
	background:url(../images/box2-t.png) no-repeat;
	margin:0 0 32px;
}
.grey-block:after,
.grey-block:before{
	content:'';
	position:absolute;
	height:7px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/box2-b.png) no-repeat;
	z-index:-1;
}
.grey-block:after{
	top:7px;
	height:auto;
	bottom:7px;
	background:url(../images/box2-c.png) repeat-y;
}
.section{
	margin:0 0 30px;
	position:relative;
	z-index:2;
}
.section:after{
	content:'';
	display:block;
	clear:both;
}
.section .block{
	float:left;
	width:474px;
	position:relative;
}
.section .img-box{
	margin:0 12px 0 0;
	overflow:hidden;
}
.section .img-box img{vertical-align:top;}
.section .img-box .box{
	position:absolute;
	left:12px;
	bottom:12px;
	background:#fff;
	background:rgba(255,255,255,0.8);
	line-height:18px;
	padding:9px 12px 15px;
	width:276px;
}
.section .filter-box {
	width:450px;
	padding:9px 12px 11px;
	background:url(../images/box3-t.png) no-repeat;
	position:relative;
	z-index:1;
}
.filter-box:after,
.filter-box:before{
	content:'';
	position:absolute;
	height:4px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/box3-b.png) no-repeat;
	z-index:-1;
}
.filter-box:after{
	top:2px;
	height:auto;
	bottom:4px;
	background:url(../images/box3-c.png) repeat-y;
}
.filter-form{
	margin:0;
	line-height:16px;
}
.filter-form:after,
.filter-form .row:after{
	content:'';
	display:block;
	clear:both;
}
.filter-form .title{
	color:#4c4d4f;
	font:14px/19px 'nobilebold', Arial, Helvetica, sans-serif;
	background:url(../images/sprite.png) no-repeat 0 -107px;
	padding:1px 5px;
	margin:0 0 12px;
	width: 440px;
	height:23px;
	text-align:center;
}
.filter-form .row-area{
	margin:0 -90px 7px 0;
	overflow:hidden;
}
.filter-form .row-check{
	float:left;
	width:175px;
	margin:0 56px 12px 0;
}
.filter-form .row-check-2{
	width:219px;
	margin:0 0 12px 0;
}
.filter-form label{
	float:left;
	color:#4c4d4f;
	font:12px 'nobilebold', Arial, Helvetica, sans-serif;
}
.filter-form label img{
	display:inline-block;
	vertical-align:middle;
	margin:0 5px 0 0;
}
.filter-form label span{
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
}
#main .filter-form p{margin:0 0 10px;}
.open-close:after{
	content:'';
	display:block;
	clear:both;
}
.open-close{
	position:relative;
	margin:0 0 15px;
}
.open-close .opener{
	display:block;
	color:#fff;
	font:14px/18px 'nobilebold', Arial, Helvetica, sans-serif;
	background:url(../images/bg-btn.png) no-repeat 0 -178px;
	width: 208px;
	padding:4px 0 3px;
	text-align:center;
	text-decoration:none;
	position:relative;
}
.open-close .opener:after{
	content:'';
	position:absolute;
	right: 11px;
	top: 8px;
	background:url(../images/arrows.png) no-repeat;
	width: 16px;
	height: 10px;
}
.open-close.active .opener:after{background-position:0 -41px;}
.open-close .slide-open{
	position:absolute;
	left:0;
	top:53px;
	display: none;
}
.filter-form .slide-open .holder{
	padding:12px;
	width:426px;
	background:#fff;
	position:relative;
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
.filter-form .slide-open .holder:after,
.filter-form .slide-open .holder:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.filter-form .slide-open .holder:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 19px;
	left: 28px;
}
.filter-form .slide-open .holder:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 19px;
	left: 28px;
}
.filter-form input[type="submit"]{
	display:block;
	border:none;
	background:url(../images/bg-btn.png) no-repeat 0 -310px;
	width: 139px;
	height: 24px;
	padding:0;
	margin:0 -1px 0 auto;
	color:#fff;
	font:14px/24px 'nobilebold', Arial, Helvetica, sans-serif;
	cursor:pointer;
}
.filter-form input[type="submit"]:hover{cursor:pointer;}
.blue-block {
	margin:0 0 21px;
	padding:19px 11px 1px 12px;
	background:url(../images/bg-blue-t.png) no-repeat;
	position:relative;
	z-index:1;
}
.products-block{
	margin:0 0 17px;
	padding:23px 11px 15px 12px;
}
.products-block-3{padding:17px 11px 1px 12px;}
.products-block .items-area{
	margin:0 0 -30px;
	overflow:hidden;
}
.products-block-2{
	padding:19px 11px 15px 12px;
	margin:0 0 47px;
}
.blue-block:after,
.blue-block:before{
	content:'';
	position:absolute;
	height:10px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/bg-blue-b.png) no-repeat;
	z-index:-1;
}
.blue-block:after{
	top:6px;
	height:auto;
	bottom:10px;
	background:url(../images/bg-blue-c.png) repeat-y;
}
h2{
	font:24px/27px 'nobilebold', Arial, Helvetica, sans-serif;
	margin:0 0 20px;
	text-transform:uppercase;
}
h2.red{color:#a3deed;}
h2.blue{color:#a3deed;}
.bases-block .block{
	margin: 0 0 30px;
}
.bases-block .block:after{
	height: 0;
	clear: both;
	content:'';
	display: block;
}
.bases-block .image{
	float:left;
	width:208px;
	margin:0 23px 0 0;
}
.bases-block .aligncenter{margin-bottom:9px;}
.bases-block .image p{margin:0;}
.collection{
	float:left;
	max-width:682px;
	padding:9px 12px;
}
.collection-2{width:438px;}
.collection .holder-2{position:relative;}
.collection .holder-2:after,
.collection .holder-2:before,
.collection .frame:after,
.collection .frame:before{
	content:'';
	position:absolute;
	left:-12px;
	padding:0 0 0 12px;
	top:-9px;
	height:12px;
	width:100%;
	background:url(../images/bg-box.png) no-repeat;
}
.collection .holder-2:after{
	left:auto;
	top:auto;
	background-position:100% 100%;
	bottom:-9px;
	right:-12px;
}
.collection .frame{
	padding:1px 0 0;
	background:url(../images/bg-box.png) no-repeat -12px -12px;
}
.collection .frame:before,
.collection .frame:after{
	top:0;
	width:12px;
	padding:0 0 9px;
	height:100%;
	background-position:0 100%;
}
.collection .frame:after{
	left:auto;
	right:-12px;
	top:-8px;
	background-position:100% 0;
}
div.carousel {
	text-align:center;
	position: relative;
}
div.carousel:after {
	height: 0;
	clear: both;
	content:'';
	display: block;
}
div.carousel div.carousel-mask {
	width:682px;
	float:left;
	position:relative;
	overflow:hidden;
	padding:0 5px 200px;
	margin:0 -5px -200px;
}
div.carousel div.mask {
	position: relative;
	overflow: hidden;
	width: 729px;
	margin:0 -5px -200px;
	padding:0 5px 200px;
}
div.carousel div.mask div.slideset {
	width: 99999px;
	float: left;
}
div.carousel div.mask div.slide {
	width: 196px;
	float: left;
	margin:0 47px 0 0;
	padding:0 0 12px;
}
div.carousel .title{
	display:inline-block;
	text-decoration:none;
	font-family: 'nobilebold';
	line-height:16px;
	margin:0 0 12px;
}
div.carousel .pagination-box{
	clear:both;
	padding:0;
	width:680px;
	position:relative;
	overflow:hidden;
}
div.carousel-4 {
	position: relative;
}
div.carousel-4 div.mask {
	position: relative;
	overflow: hidden;
	width: 926px;
}
div.carousel-4 div.mask div.slideset-4 {
	width: 99999px;
	float: left;
	height:auto;
}
div.carousel-4 div.mask div.slide {
	width: 926px;
	float: left;
}
div.carousel-4 .pagination-box{
	overflow:hidden;
	text-align:center;
}
div.carousel-4 .btn-prev,
div.carousel-4 .btn-next{
	float:left;
	background:url(../images/arrows.png) no-repeat 0 -319px;
	width: 15px;
	height: 23px;
	margin:9px 0 0;
	text-indent:-9999px;
	overflow:hidden;
}
div.carousel-4 .btn-next{
	float:right;
	background-position: 0 -392px;
}
div.carousel-4 .pagination-box .see-more{margin:10px 0 0;}
.btn-prev,
.btn-next{
	float:left;
	background:url(../images/arrows.png) no-repeat 0 -64px;
	width: 24px;
	height: 40px;
	text-indent:-9999px;
	overflow:hidden;
}
.btn-next{
	float:right;
	background:url(../images/arrows.png) no-repeat 0 -136px;
}
.pagination-box .see-more{
	display:inline-block;
	color:#e43157;
	text-decoration:none;
	margin:8px 0 0;
	font:14px 'nobilebold', Arial, Helvetica, sans-serif;
}
div.carousel .open-close-2{margin:0 0 25px;}
div.carousel .open-close-2 .opener{
	font:12px/17px 'nobilebold', Arial, Helvetica, sans-serif;
	background:url(../images/bg-btn.png) no-repeat 0 -251px;
	width: 196px;
	margin:0;
}
.open-close .slide-open-2{
	top:41px;
	text-align:left;
	z-index:999;
}
.slide-open-2 .holder{
	padding:10px 13px;
	width:170px;
	background:#c8ebf4;
	-webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}
.slide-open-2 .holder:after,
.slide-open-2 .holder:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.slide-open-2 .holder:after {
	border-color: rgba(200, 235, 2544, 0);
	border-bottom-color: #c8ebf4;
	border-width: 10px;
	left: 11px;
}
.slide-open-2 .holder:before {
	border-color: rgba(200, 235, 2544, 0);
	border-bottom-color: #c8ebf4;
	border-width: 10px;
	left: 11px;
}
.description{
	margin:0 0 19px;
	overflow:hidden;
}
.description .alignleft{margin:3px 11px 0 0;}
.description .box{overflow:hidden;}
h5{
	font:12px/17px 'nobilebold', Arial, Helvetica, sans-serif;
	margin:0 0 7px;
}
.description ul{
	padding:0;
	margin:0;
	list-style:none;
}
div.slideshow {
	position: relative;
	line-height:16px;
}
div.slideshow .slideset{
	height:195px;
	margin:0 0 21px;
}
div.slideshow div.slide-2 {
	position: absolute;
	z-index: 1;
	height: 195px;
}
div.slideshow div.slide-2 img{vertical-align:top;}
div.slideshow div.slide-2.active {z-index: 2;}
div.carousel .slideshow .pagination-box{
	margin:0 0 24px;
	padding:0 26px;
	width:auto;
}
div.slideshow .btn-prev-2,
div.slideshow .btn-next-2{
	position:absolute;
	left:0;
	top:4px;
	background:url(../images/arrows.png) no-repeat 0 -212px;
	width: 10px;
	height: 16px;
	text-indent:-9999px;
	overflow:hidden;
}
div.slideshow .btn-next-2{
	left:auto;
	right:0;
	background:url(../images/arrows.png) no-repeat 0 -254px;
	margin-right:0;
}
div.slideshow .pagination-mask{
	width:150px;
	position:relative;
	overflow:hidden;
}
div.slideshow .pagination-2{
	padding:0;
	margin:0;
	list-style:none;
	height:24px;
	width:9999px;
	overflow:hidden;
}
div.slideshow .pagination-2 li{
	float:left;
	margin:0 6px 0 0;
}
div.slideshow .pagination-2 li img{vertical-align:top;}
#main div.carousel p{margin:0 0 9px;}
.plugin{
	overflow:hidden;
	margin:0 0 8px;
}
.plugin img{vertical-align:top;}
.btn-details{
	display:block;
	color:#fff;
	text-decoration:none;
	text-align:center;
	font-family: 'nobilebold';
	background:url(../images/bg-btn.png) no-repeat 0 -359px;
	width: 196px;
	padding: 2px 0 4px;
	height:18px;
}
.complete-block{
	overflow:hidden;
	padding:20px 12px;
	margin:0 0 15px;
}
.complete-block h4{
	line-height:18px;
	margin:0 0 18px;
}
div.carousel-3 {
	padding:0 14px;
	text-align:center;
	position: relative;
}
div.carousel-3 div.mask {
	position: relative;
	overflow: hidden;
	width: 912px;
	margin:0 auto;
}
div.carousel-3 div.mask div.slideset-3 {
	width: 99999px;
	float: left;
}
div.carousel-3 div.mask div.slide {
	width: 130px;
	float: left;
	margin:0 49px;
}
div.carousel-3 .aligncenter{margin-bottom:17px;}
div.carousel-3 .aligncenter img{vertical-align:top;}
.view{
	display:inline-block;
	font-family: 'nobilebold';
	position:relative;
	padding:0 13px 0 0;
	text-decoration:none;
}
.view:hover{text-decoration:underline;}
.view:after{
	content:'';
	position:absolute;
	top:50%;
	right:0;
	background:url(../images/bullet-2.png) no-repeat;
	width:9px;
	height:11px;
	margin:-5px 0 0;
}
div.carousel-3 .btn-prev-3,
div.carousel-3 .btn-next-3{
	position:absolute;
	left:0;
	top:50%;
	background:url(../images/arrows.png) no-repeat 0 -319px;
	width: 15px;
	height: 23px;
	margin: -11px 0 0;
	text-indent:-9999px;
	overflow:hidden;
}
div.carousel-3 .btn-next-3{
	left:auto;
	right:0;
	background-position: 0 -392px;
}
.tabset-3{
	padding:0;
	margin:0 -50px 22px 0;
	list-style:none;
	overflow:hidden;
	text-align:center;
	font:14px/18px 'nobilebold', Arial, Helvetica, sans-serif;
}
.tabset-3 li{
	float:left;
	margin:0 34px 0 0;
}
.tabset-3 li a{
	display:block;
	background:url(../images/bg-btn.png) no-repeat 0 -606px;
	width: 199px;
	padding:2px 5px 6px;
	text-decoration:none;
}
.tabset-3 li .active{
	color:#fff;
	background-position:0 -698px;
}
.tab-content-3{overflow:hidden;}
.store-details{
	margin:0 0 48px;
	overflow:hidden;
}
.store-details .alignleft{margin:0 12px 0 0;}
.store-details .block{
	overflow:hidden;
}
.icon{
	display:block;
	margin:0 0 21px;
}
.contact{
	font-size:14px;
	line-height:18px; 
	margin: 0 0 8px;
	overflow: hidden;
}
.contact dt{
	margin:0 0 3px;
	font-family:'nobilebold', Arial, Helvetica, sans-serif;
}
.contact dd{
	margin:0 0 18px;
	font-size:24px;
	line-height:30px;
}
.contact address{font-style:normal;}
.store-details .box{
	width:231px;
	margin:0;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
}
.store-details .box-2{
	padding:0 0 34px;
	margin:0 0 0 9px;
	vertical-align:bottom;
}
#main .store-details p{margin:0;}
.store-details .view-web{
	display:block;
	color:#fff;
	text-align:center;
	font:14px/18px'nobilebold', Arial, Helvetica, sans-serif;
	text-decoration:none;
	background:url(../images/bg-btn.png) no-repeat 0 -749px;
	width: 139px;
	padding:3px 0 4px;
	margin:4px 0 0;
}
.results-box{
	margin: -3px 0 21px;
	font-size:14px;
	line-height:21px;
	overflow:hidden;
}
.results-box .keywords{display:block;}
.add-products {
	margin:0 0 30px;
	padding: 17px 12px;
	background:url(../images/bg-grey2-t.png) no-repeat;
	position:relative;
	z-index:1;
	overflow:hidden;
}
.add-products:after,
.add-products:before{
	content:'';
	position:absolute;
	height:8px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/bg-grey2-b.png) no-repeat;
	z-index:-1;
}
.add-products:after{
	top:8px;
	height:auto;
	bottom:8px;
	background:#f5f5f5;
}
.add-products .columns-2{
	margin:0 -40px -29px 0;
	overflow:hidden;
}
.add-products .col-2{
	float:left;
	width:288px;
	margin:0 36px 0 0;
}
.add-products .article .holder{
	padding:0 12px;
	overflow:hidden;
}
.add-products .article{
	padding:33px 0 32px;
	line-height:21px;
	border-top:4px solid #a3deed;
}
.add-products .article h4{margin:0 0 6px;}
.add-products .article:first-child{
	border:none;
	padding-top:0;
}
#main .add-products .article p{margin:0;}
.retailer-block{
	margin:0 0 41px;
	overflow:hidden;
}
#main .dimensions-block{padding:22px 12px 12px;}
.block-blue2 {
	float:left;
	width:612px;
	margin:0;
	padding:8px 12px;
	background:url(../images/bg-blue4-t.png) no-repeat;
	position:relative;
	z-index:1;
}
.retailer-block .block-blue2{padding:7px 12px 15px;}
.block-blue2:after,
.block-blue2:before{
	content:'';
	position:absolute;
	height:9px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/bg-blue4-b.png) no-repeat;
	z-index:-1;
}
.block-blue2:after{
	top:8px;
	height:auto;
	bottom:9px;
	background:#e8f7fa;
}
#main .retailer-block .block p{margin:0 0 23px;}
.retailer-block h4{margin:0 0 4px;}
.retailer-block .aligncenter{margin-bottom:27px;}
.retailer-block .list-2{
	padding:0;
	margin:0;
	list-style:none;
}
.retailer-block .list-2 li{
	position:relative;
	padding:0 0 18px 39px;
}
.retailer-block .list-2 li:after{
	content:'';
	position:absolute;
	left:2px;
	top:-3px;
	background:url(../images/ico-checkbox.png) no-repeat 0 -161px;
	width: 25px;
	height: 25px
}
.details-form{margin:0;}
.details-form:after{
	content:'';
	display:block;
	clear:both;
}
.details-form .input{
	float:left;
	position:relative;
	margin:0 10px 0 0;
}
.details-form input[type="text"]{
	float:left;
	background:url(../images/sprite.png) no-repeat 0 -180px;
	border:none;
	margin:0;
	font:14px/26px 'nobilebold', Arial, Helvetica, sans-serif;
	color:#4c4d4f;
	padding: 0 11px 0;
	width: 199px;
	height: 26px;
}
.details-form input[type="text"]::-webkit-input-placeholder {color:#4c4d4f;}
.details-form input[type="text"]:-moz-placeholder {color:#4c4d4f;}
.details-form input[type="text"]::-moz-placeholder {
	color:#4c4d4f;
	opacity: 1;
}
.details-form input[type="text"]:-ms-input-placeholder {color:#b4b5b5;}
.details-form .input-placeholder-text{
	position:absolute;
	font: 14px/18px 'nobilebold',Arial,Helvetica,sans-serif;
	left: 13px;
	top: 4px;
}
.details-form input[type="submit"]{
	float:left;
	background:url(../images/bg-btn.png) no-repeat 0 -809px;
	width: 69px;
	height: 25px;
	border:none;
	margin:0;
	padding:0;
	color:#fff;
	font:14px/25px 'nobilebold', Arial, Helvetica, sans-serif;
	cursor:pointer;
}
.details-form input[type="submit"]:hover{cursor:pointer;}
.retailer-block .aside{
	float:right;
	width:312px;
}
.aside-box {
	width:288px;
	margin:0 0 12px;
	padding:22px 12px;
	background:url(../images/box4-t.png) no-repeat;
	position:relative;
	z-index:1;
}
.aside .aside-box {padding:7px 13px 7px 11px;}
.aside .aside-box-2{
	margin:0;
	padding:7px 13px 12px 11px;
}
#main .aside .aside-box-2 p{margin:0;}
.retailer-block .aside .aside-box-2 h4{margin:0 0 6px;}
.aside-box:after,
.aside-box:before{
	content:'';
	position:absolute;
	height:5px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/box4-b.png) no-repeat;
	z-index:-1;
}
.aside-box:after{
	top:5px;
	height:auto;
	bottom:5px;
	background:#f5f5f5;
}
.retailer-block .brands{
	padding:5px 0 0;
	margin:0 -40px -19px 0;
	list-style:none;
	overflow:hidden;
}
.retailer-block .brands li{
	display:inline-block;
	vertical-align:middle;
	width:133px;
	margin:0 21px 24px 0;
}
.retailer-block .brands img{
	vertical-align:middle;
	display:inline-block;
}
.location-block{
	overflow:hidden;
	margin:0 0 41px;
}
.location-block .map{float:left;}
.location-block .map img{vertical-align:top;}
.store-block {
	width:450px;
	float:right;
	padding:12px 12px 11px;
	background:url(../images/box5-t.png) no-repeat;
	position:relative;
	z-index:1;
}
.store-block:after,
.store-block:before{
	content:'';
	position:absolute;
	height:8px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/box5-b.png) no-repeat;
	z-index:-1;
}
.store-block:after{
	top:9px;
	height:auto;
	bottom:8px;
	background:#f5f5f5;
}
div.carousel-5 {position: relative;}
div.carousel-5 div.mask {
	position: relative;
	width: 451px;
	height: 558px;
	overflow:hidden;
}
div.carousel-5 div.mask div.slide {
/*	height: 165px;
*/	padding: 7px 0;
	border-top:7px solid #fff;
}
div.carousel-5 .number{
	display:block;
	background:#e43157;
	width:49px;
	height:34px;
	padding:10px 2px;
	color:#fff;
	text-align:center;
	font-size:24px;
	line-height:28px;
	font-weight:bold;
	margin:0 0 11px;
}
.btn-prev-5, .btn-next-5{
	display:block;
	margin:0 auto 35px;
	background:url(../images/arrows.png) no-repeat 0 -528px;
	width: 23px;
	height: 15px;
	top:0;
	text-indent:-9999px;
	overflow:hidden;
}
.aside-2 .btn-prev-5{margin:0 auto 53px;}
.aside-2 .btn-next-5{margin:37px auto 0;}
.btn-next-5{
	background-position:0 -579px;
	margin:14px auto 0;
}
.store-block .icons-box{
	width:53px;
	float:left;
	margin:0 16px 0 0;
	padding:5px 0 0;
}
.store-block .box{
	position:relative;
	overflow:hidden;
}
.store-block .icon{margin:0 0 6px;}
.store-block h4 a{text-decoration:none;}
.store-block .contact{max-width:195px;}
.store-block .contact dt{
	margin:0 0 4px;
	line-height:16px;
}
.store-block .contact dd {margin: 0 0 10px;}
.store-block address{
	font-size:14px;
	line-height:20px;
}
.store-block .view-btn{
	position:absolute;
	bottom:19px;
	right:0;
	color:#fff;
	font-family: 'nobilebold', Arial, Helvetica, sans-serif;
	background:url(../images/bg-btn.png) no-repeat 0 -749px;
	width: 139px;
	padding:3px 0 4px;
	text-align:center;
	text-decoration:none;
}
.store-block .distance{
	float:right;
	font-size: 14px;
	line-height: 21px;
}
.popup-question{
	display:inline-block;
	position:relative;
}
.popup-question .open{
	display:inline-block;
	background:url(../images/ico-24.png) no-repeat;
	width:14px;
	height:14px;
	text-indent:-9999px;
	overflow:hidden;
}
.popup-question:hover .popup{display:block;}
.question{
	position:absolute;
	margin:25px 0 0 -16px;
	left:-15px;
	top:26px;
	z-index:999;
	display:none;
	color:#fff;
	width:134px;
	padding:13px 6px 19px 10px;
	line-height:17px;
	background:#e2224b;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.3); 
}
.question p{margin:0;}
.question:after{
	content:'';
	position:absolute;
	top:-12px;
	left:-1px;
	background:url(../images/arrow-3.png) no-repeat;
	width:158px;
	height:12px;
}
.category-block{
	padding:18px 0 0;
	margin:0 -6px 29px 0;
	overflow:hidden;
}
.category-block .tabset{float:left;}
.category-block .tabset h4{
	position:relative;
	z-index:10;
	padding:8px 26px 10px 12px;
}
.category-block .tabset h4 span{font-family: 'nobileregular';}
.category-block .tabset li{margin:0 0 3px;}
.category-block .tab-content{
	float:right;
	width:699px;
	padding:12px 12px 6px;
	background:url(../images/bg-blue2-t.png) no-repeat;
	position:relative;
	z-index:1;
}
.category-block .tab-content:after,
.category-block .tab-content:before{
	content:'';
	position:absolute;
	height:4px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/bg-blue2-b.png) no-repeat;
	z-index:-1;
}
.category-block .tab-content:after{
	top:4px;
	height:auto;
	bottom:4px;
	background:#daf2f8;
}
.accordion{
	padding:0;
	margin:0;
	list-style:none;
	font:14px/21px 'nobilebold';
	overflow:hidden;
}
.accordion > li{
	padding:8px 12px 0;
	margin:0 0 11px;
	position:relative;
}
.accordion > li > a{
	text-decoration:none;
	position:relative;
	padding:0 0 0 21px;
}
.accordion > li > a:before{
	content:'';
	position:absolute;
	left:0;
	top:3px;
	background:url(../images/arrows.png) no-repeat 0 -439px;
	width: 10px;
	height: 16px;
}
.accordion > .active{background:#fff;}
.accordion > .active > a:before{
	background-position:0 -484px;
	width: 16px;
	height: 10px;
	top: 7px;
}
.accordion .slide .holder{
	background:#fff;
	padding:6px 95px 11px 22px;
	font:12px/21px 'nobileregular', Arial, Helvetica, sans-serif;
	overflow:hidden;
}
#main .accordion .slide p{margin:0;}
.newsletter-block{
	padding:19px 10px 26px 25px;
	margin: 0 0 28px;
	overflow:hidden;
}
.newsletter-block .image{
	float:left;
	margin:2px 36px 0 0;
}
.newsletter-block .image img{float:left;}
.newsletter-form{
	margin:0;
	font-size:12px;
	line-height:18px;
} 
.newsletter-form:after,
.newsletter-form .row:after,
.newsletter-form .row-area:after{
	content:'';
	display:block;
	clear:both;
}
.newsletter-form h4{margin:0 0 18px;}
.newsletter-form p{margin:0 0 18px;}
.newsletter-form .row{padding:4px 0 7px;}
.newsletter-form .row-area{padding:18px 0 0;}
.newsletter-form label{
	float:left;
	margin:2px 0 0;
}
.newsletter-form .input{
	float:left;
	position:relative;
	margin:0 12px 0 0;
}
.newsletter-form input[type="text"]{
	float:left;
	background:#fff;
	border:none;
	color:#4c4d4f;
	font:12px/16px 'nobileregular', Arial, Helvetica, sans-serif;
	margin:0;
	padding:4px 12px;
	width:288px;
	height:18px;
}
.newsletter-form .input-placeholder-text{
	position:absolute;
	left:12px;
	top:4px;
	font:12px/18px 'nobileregular', Arial, Helvetica, sans-serif;
}
.newsletter-form input[type="submit"]{
	float:left;
	border:none;
	background:url(../images/bg-btn.png) no-repeat 0 -409px;
	width: 150px;
	height: 26px;
	color:#fff;
	font:12px/26px 'nobilebold', Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	cursor:pointer;
}
.newsletter-form input[type="submit"]:hover{cursor:pointer;}
.add-block{
	margin:0 0 29px;
	overflow:hidden;
}
.add-block .block {
	float:left;
	width:588px;
	padding:18px 24px;
	background:url(../images/bg-blue3-t.png) no-repeat;
	position:relative;
	z-index:1;
}
.content-block{margin:0 0 34px;}
.content-block .block{
	padding:19px 12px 7px;
	width:612px;
}
.content-block .block h4{margin:0 0 18px;}
.content-block .block .sub-heading{
	margin:0;
	line-height:18px;
}
.add-block .block:after,
.add-block .block:before{
	content:'';
	position:absolute;
	height:5px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/bg-blue3-b.png) no-repeat;
	z-index:-1;
}
.add-block .block:after{
	top:5px;
	height:auto;
	bottom:5px;
	background:#e8f7fa;
}
.add-block .items{
	margin:0 0 -24px;
	overflow:hidden;
}
.add-block .item{
	padding:0 0 42px;
	position:relative;
	z-index:1;
	overflow:hidden;
}
.add-block .aside h4{margin:0 0 18px;}
.add-block .item h4{margin:0 0 16px;}
.add-block .alignleft{margin:6px 12px 0 0;}
.add-block .alignleft img{float:left;}
.add-block .item .text-box{
	padding:0 0 50px;
	min-height:131px;
	position:relative;
	overflow:hidden;
}
.add-block .item p{margin:0 0 20px;}
.add-block .item .download{
	position:absolute;
	bottom:0;
	left:0;
	font:14px/18px 'nobilebold', Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.add-block .item .download img{
	display:inline-block;
	vertical-align:middle;
	margin:0 11px 0 0;
}
.add-block .aside {
	float:right;
	width:288px;
	padding:15px 12px;
	background:url(../images/bg-grey-t.png) no-repeat;
	position:relative;
	z-index:1;
}
.add-block .aside .contact-list{padding:11px 0 0;}
.add-block .aside:after,
.add-block .aside:before{
	content:'';
	position:absolute;
	height:4px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/bg-grey-b.png) no-repeat;
	z-index:-1;
}
.add-block .aside:after{
	top:4px;
	height:auto;
	bottom:4px;
	background:#f5f5f5;
}
.add-block .schedule{
	padding:0 0 0 42px;
	overflow:hidden;
}
.add-block .aside .schedule h4{margin:0 0 8px;}
.schedule-list{
	margin:0 0 12px;
	font-size:14px;
	line-height:21px;
	overflow:hidden;
}
.schedule-list dt{
	float:left;
	margin:0 13px 0 0;
	min-width:40px;
}
.schedule-list dd{
	display:block;
	margin:0;
}
.add-block .img-block{
	float:right;
	width:312px;
	margin:0 0 -12px;
}
.add-block .img-block img{
	display:block;
	margin:0 auto 12px;
}
#main p{margin:0 0 18px;}
.table table td:first-child{width:374px;}
#content{
	margin:0 0 8px;
	overflow:hidden;
}
.text-content{
	overflow:hidden;
	margin:0 0 67px;
}
.text-content-2{margin:0 0 36px;}
.text-content h4{margin:0 0 18px;}
.text-content .alignright {margin: 5px 0 12px 12px;}
.table-box{
	float:left;
	width:585px;
	padding:0 0 0 8px;
}
.text-content .aside-3{
	float:right;
	width:312px;
}
.bulleted-lists{
	padding:0;
	margin:0;
	list-style:none;
}
.bulleted-lists li{
	background:url(../images/bullet-3.png) no-repeat 0 5px;
	padding:0 0 16px 20px;
}
.intro-box{
	width:808px;
	margin:0 0 23px;
}
.intro-box:after{
	content:'';
	display:block;
	clear:both;
}
.intro-box .search-form{
	background:url(../images/sprite.png) no-repeat 0 -243px;
	width: 231px;
	height: 24px;
	margin:-7px 0 0 40px;
}
.intro-box .search-form input[type="text"]{width:181px;}
#main .intro-box p{margin:0;}
.download-list{
	padding:0;
	margin:0 -40px 0 0;
	list-style:none;
	font:14px/17px 'nobilebold', Arial, Helvetica, sans-serif;
	overflow:hidden;
}
.download-list li{
	float:left;
	background:#fff;
	padding:12px;
	margin:0 36px 24px 0;
	width:264px;
}
.download-list a{
	float:left;
	max-width:229px;
	margin:6px 0 0;
}
.download-list img{
	float:right;
	margin:0 0 0 5px;
}
.see-older{
	float:right;
	color:#fff;
	text-align:center;
	font:14px/18px 'nobilebold', Arial, Helvetica, sans-serif;
	text-decoration:none;
	background:url(../images/bg-btn.png) no-repeat 0 -460px;
	padding:0 0 0 3px;
}
.see-older span{
	display:block;
	min-width: 214px;
	padding: 5px 3px 5px 0;
	background:url(../images/bg-btn.png) no-repeat 100% -531px;
}
.download-block{
	margin:0 0 23px;
	padding: 9px 11px 1px 12px;
	overflow:hidden;
}
.download-block .btn-box{
	overflow:hidden;
}
.download-block .block{
	border-top:3px solid #a3deed;
	padding:19px 0 25px;
	overflow:hidden;
}
.download-block .block:first-child{
	border:none;
	padding:10px 0 25px;
}
.products-block .items-holder {
	width:926px;
	padding:9px 6px 21px;
	background:url(../images/bg-white-t.png) no-repeat;
	position:relative;
	z-index:1;
	margin:0 0 30px;
	font-family: 'nobilebold';
	overflow:hidden;
}
.products-block-3 h2{margin:0 0 9px;}
.products-block-3 .items-holder{padding:19px 6px 9px;}
.products-block .items-holder:after,
.products-block .items-holder:before{
	content:'';
	position:absolute;
	height:9px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/bg-white-b.png) no-repeat;
	z-index:-1;
}
.products-block .items-holder:after{
	top:8px;
	height:auto;
	bottom:9px;
	background:#fff;
}
.products-block .items-frame{
	margin:0 -100px -18px 0;
	overflow:hidden;
}
.products-block .box{
	float:left;
	width:196px;
	text-align:center;
	margin:0 47px 33px 0;
}
.products-block .title{
	display:block;
	margin:0 0 8px;
}
.products-block .aligncenter{margin-bottom:24px;}
.products-block .box img{vertical-align:top;}
#footer{overflow:hidden;}
.block-area {
	margin:0 0 15px;
	padding:21px 12px 12px;
	background:url(../images/box-t.png) no-repeat;
	position:relative;
	z-index:1;
	overflow:hidden;
}
.block-area:after,
.block-area:before{
	content:'';
	position:absolute;
	height:7px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/box-b.png) no-repeat;
	z-index:-1;
}
.block-area:after{
	top:7px;
	height:auto;
	bottom:7px;
	background:#f1f8e8;
}
#footer .block-area{text-align:center;}
.contact-list{
	padding:0;
	margin:0 0 18px;
	font-size:14px;
	line-height:18px;
	list-style:none;
	overflow:hidden;
}
#footer .contact-list{
	margin:0 -60px 0 0;
	text-align:left;
}
#footer .contact-list li{
	float:left;
	width:300px;
	margin:0 13px 17px 0;
}
#footer .contact-list .add{margin:0 36px 17px 0;}
.contact-list .img{
	float:left;
	margin:4px 17px 0 0;
}
.contact-list .box{overflow:hidden;}
.contact-list .mobile{
	display:block;
	font-size:26px;
	line-height:35px;
}
.contact-list a,
#footer .contact-block a{
	color:#4c4d4f;
	text-decoration:none;
	font-family: 'nobilebold';
}
#footer .contact-block a:hover{text-decoration:underline;}
#footer p{margin:0;}
#footer .item-blocks{
	margin:0 -30px 0 0;
	overflow:hidden;
}
#footer .item {
	float:left;
	width:205px;
	margin:0 12px 0 0;
	padding:8px 13px;
	min-height:191px;
	background:url(../images/item-t.png) no-repeat;
	position:relative;
	z-index:1;
}
#footer .item:after,
#footer .item:before{
	content:'';
	position:absolute;
	height:5px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/item-b.png) no-repeat;
	z-index:-1;
}
#footer .item:after{
	top:5px;
	height:auto;
	bottom:5px;
	background:#f1f8e8;
}
#footer .list ul{
	padding:0;
	margin:0;
	line-height:21px;
	list-style:none;
}
#footer .list ul a{text-decoration:none;}
#footer .list ul a:hover{text-decoration:underline;}
#footer .link img{
	display:block;
	margin:0 auto;
}
.jcf-hidden {
	display: block !important;
	position: absolute !important;
	left: -9999px !important;
}
.chk-area {
	margin: 5px 0 0 5px;
	float:right;
	width: 13px;
	height: 13px;
	background:url(../images/ico-checkbox.png) no-repeat 0 -37px;
}
.slide-open .chk-area {background:url(../images/ico-checkbox.png) no-repeat 0 -72px;}
.slide-open .chk-checked,
.chk-checked {background:url(../images/ico-checkbox.png) no-repeat;}
.newsletter-form .chk-area{
	float:left;
	margin:0 12px 0 0;
	background:url(../images/ico-checkbox.png) no-repeat 0 -110px;
	width: 25px;
	height: 25px;
}
.newsletter-form .chk-checked{background:url(../images/ico-checkbox.png) no-repeat 0 -161px;}
#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}
#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
}
#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}
#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}
#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}
#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}
#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0 solid #fff;
}
#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}
#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}
#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}
#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}
#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	z-index: 1102;
	display: none;
}
#fancybox-left {left: 0;}
#fancybox-right {right: 0;}
#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}
#fancybox-left:hover span {left: 20px;}
#fancybox-right:hover span {
	left: auto;
	right: 20px;
}
.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}
#fancybox-close {
	position: absolute;
	top: 12px;
	right: 12px;
	background: transparent url(../images/close.png) no-repeat;
	width:22px;
	height:22px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}
#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}
.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}
.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}
.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	text-align: left;
}
#fancybox-title-over {
	padding: 10px;
	display: block;
}
.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}
#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}
#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}
.fancybox-ie .fancybox-bg { background: transparent !important; }
.numbered-list {
	margin:0 0 36px;
	padding:0;
	width:100%;
	overflow:hidden;
	counter-reset:item;
}
.numbered-list ol{margin:0;}
.numbered-list li {
	list-style:none outside;
	padding:0 0 16px 20px;
}
.numbered-list li:before,
.numbered-list .num {
	float:left;
	width:20px;
	margin:0 0 0 -20px;
	color:#4c4d4f;
	font:12px/18px 'nobilebold', Arial, Helvetica, sans-serif;
	content:counters(item, ".") ". ";
	counter-increment:item;
}