﻿@inherits UmbracoTemplatePage
@using Archetype.Models
@using USN.UrlPicker.Umbraco.Models
@{
    var homeNode = Model.Content.AncestorOrSelf(1);
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var globalSettings = settingsFolder.Children.First(x => x.IsDocumentType("USNGlobalSettings"));
    var item = globalSettings.GetPropertyValue<ArchetypeModel>("engage").First();

    var heading = item.HasValue("heading") ? item.GetValue("heading") : "";
    var image = item.HasValue("image") ? Umbraco.TypedMedia(int.Parse(item.GetValue("image"))).Url : "";
    var link = item.HasValue("link") ? USNUrlHelper.GetSingleUrlFromUrlPicker(item.GetValue<UrlPicker>("link")) : null;
	var bodyImage = item.HasValue("bodyImage") ? Umbraco.TypedMedia(int.Parse(item.GetValue("bodyImage"))) : null;
	var description = item.HasValue("description") ? item.GetValue("description") : "";
	var sectionHeading = item.HasValue("sectionHeading") ? item.GetValue("sectionHeading") : "";
	var test = item.GetValue("image");
	
}

<div class="social-background" style="background-image: url('@image');">
    <figcaption class="overlay">
        <div class="info-icon desktop-only"><img src="/media/622966/more-info.svg" class="svg" alt="more-info"></div>
        <h5>@sectionHeading</h5>
        <div class="overlay-center">
            <h2>@heading</h2>
        </div>
    </figcaption>
    <figcaption class="slideIn">
        <h2>@heading</h2>
        <p>@description</p>
        @if (link != null)
        {
            <a href="@link.LinkURL" class="btn btn-default">@link.LinkCaption</a>
        }
    </figcaption>
</div>