﻿@using Uniform.GDHA.Products
@inherits UmbracoTemplatePage
@{
    var brand = Model.Content.AncestorOrSelf(1);
    var prodsec = brand.Children.First(x => x.DocumentTypeAlias == "ProductLanding").Children;
    var baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/";
    var date = DateTime.Now;
}
<products xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" language="gb-en" xsi:noNamespaceSchemaLocation="flixmedia_brand_syndication.xsd">

@foreach (var prodcat in prodsec.Where(x => x.DocumentTypeAlias != "FlixMedia"))
{
    foreach (var product in prodcat.Children.Where(x => x.DocumentTypeAlias != "ProductCategoryGroupKeyFeatureFolder"))
    {
        foreach (var prodmodel in product.Children.Where(x => x.DocumentTypeAlias != "ProductCategoryFeatures"))
        {
            var featureList = prodmodel.GetPropertyValue<ProductFeatureList>("productFeatures2");
            var features1 = prodmodel.Parent.Children.FirstOrDefault(x => x.DocumentTypeAlias == "ProductCategoryFeatures");
            <product last_update_date="@date.ToString()" base_url="@baseUrl">
            <product_life_cycle/>
            <product_category_hierarchy>
                <parent_category category_id="@product.Id">@product.Name</parent_category>
            </product_category_hierarchy>
            <product_content>
                <basic_information>
                    <product_mpns label="Product MPNs">
                        @foreach (var sku in prodmodel.Children)
                        {
                            <mpn>@sku.Name</mpn>
                        }
                    </product_mpns>
                    <product_titles label="Product Name">
                        <short_title label="@(prodmodel.Name)">@prodmodel.Name</short_title>
                        <long_title label="@(prodmodel.Name)">@prodmodel.Name</long_title>
                    </product_titles>
                    <product_descriptions label="Product descriptions">
                        <short_description label="Product description">
                            @Umbraco.StripHtml(prodmodel.GetProperty("bodyText").Value.ToString())
                        </short_description>
                        <long_description label="Product long description">
                            @Umbraco.StripHtml(prodmodel.GetProperty("bodyText").Value.ToString())
                        </long_description>
                    </product_descriptions>
                    <product_eans label="Product EANS">
                        @foreach (var sku in prodmodel.Children)
                        {
                            <ean>@sku.GetPropertyValue("productEAN")</ean>
                        }
                    </product_eans>
                </basic_information>
                <product_overview>
                    <description>
                        @Umbraco.StripHtml(prodmodel.GetProperty("bodyText").Value.ToString())
                    </description>
                    @if (prodmodel.GetPropertyValue<string>("productOverview") != null)
                    {
                        IEnumerable<IPublishedContent> prodOverListCollection;
                        var prodOverList = prodmodel.GetPropertyValue<string>("productOverview").Split(new[] {","}, StringSplitOptions.RemoveEmptyEntries);

                        foreach (var overview in prodOverList)
                        {
                            var section1 = Umbraco.TypedContent(overview);
                            if (section1 != null)
                            {
                                <section>
                                    <title>
                                        @section1.Name
                                    </title>
                                    @if (section1.HasValue("icon"))
                                    {
                                        <icon>
                                            @try
                                            {
                                                var mediaItem = !string.IsNullOrEmpty(section1.GetProperty("icon").Value.ToString()) ? Umbraco.TypedMedia(section1.GetProperty("icon").Value.ToString()) : null;
                                                if (mediaItem != null)
                                                {
                                                    var height = mediaItem.HasValue("umbracoHeight") ? mediaItem.GetPropertyValue("umbracoHeight") : "";
                                                    var width = mediaItem.GetPropertyValue("umbracoWidth");
                                                    var file = mediaItem.Url; //mediaItem.GetPropertyValue("");
                                                    var ex = mediaItem.GetPropertyValue("umbracoExtension");
                                                    var name = "";
                                                    if (!string.IsNullOrEmpty(mediaItem.Url))
                                                    {
                                                        string[] filename = mediaItem.Url.Split(new[] {'/'});
                                                        name = filename[3];
                                                    }


                                                    <content_type>@ex</content_type>
                                                    <pixel_height>@height</pixel_height>
                                                    <file_name>@name</file_name>
                                                    <pixel_width>@width</pixel_width>
                                                    <url>@file</url>
                                                    <title>@mediaItem.Name</title>
                                                }
                                            }
                                            catch (Exception e)
                                            {
                                                <!--@e.ToString()-->
                                            }
                                        </icon>
                                    }

                                    <items>
                                        @foreach (var featureItem in features1.Children().Where(x => x.IsVisible() && x.Name == section1.Name))
                                        {
                                            <h6>@featureItem.Name</h6>
                                            foreach (var item in featureItem.Children().Where(x => x.IsVisible()))
                                            {
												if(featureList != null) {
													var itemDescription = featureList.Items
														.Where(x => x.Id == item.Id)
														.Select(x => x.Description)
														.FirstOrDefault();
													if (!string.IsNullOrEmpty(itemDescription))
													{												
														if(item.GetPropertyValue("InputType") != null)
														{
															var caseSwitch = item.GetPropertyValue("InputType").ToString();
															
															switch (caseSwitch)
															{
																case "CheckBox":
																	<item>@item.Name</item>
																	break;
																case "DropDownList":
																	<item>@itemDescription</item>
																	break;
																case "TextBox":
																	<item>@item.Name</item>
																	break;
																default:
																	<item>@itemDescription</item>
																	break;
															}
														}
													}
												}
                                            }
                                        }
                                    </items>
                                </section>
                            }
                        }
                    }
                    }
                </product_overview>
                <tech_specs>
                    @if (features1 != null && features1.Children != null && features1.Children.Any())
                    {
                        foreach (var featureItem in features1.Children().Where(x => x.IsVisible()))
                        {
                            <specgroup label="@featureItem.Name">
                                @foreach (var item in featureItem.Children().Where(x => x.IsVisible()))
                                {
									if(featureList != null) {
										var itemDescription = featureList.Items
											.Where(x => x.Id == item.Id)
											.Select(x => x.Description)
											.FirstOrDefault();
										if (!string.IsNullOrEmpty(itemDescription))
										{
											<spec_item title="@item.Name" code="" unit="">@itemDescription</spec_item>
										}
									}
                                }
                            </specgroup>
                        }
                    }
                </tech_specs>
                <features>
                    @{
                        var keyListValue = prodmodel.GetPropertyValue<string>("ProductKeyFeatures");
                        var keyList = keyListValue.Split(new[] {","}, StringSplitOptions.RemoveEmptyEntries);
                        foreach (var col in keyList)
                        {
                            var url = "";
                            try
                            {
                                var key = Umbraco.TypedContent(col);
                                if (key != null)
                                {
                                    var value = key.HasValue("flixmediaVideoUrl") ? Umbraco.TypedMedia(key.GetPropertyValue("flixmediaVideoUrl")) : null;
                                    var title = key.Name;
                                    var html = key.HasValue("bodyText") ? Umbraco.StripHtml(key.GetPropertyValue<string>("bodyText").Replace("\"", "'")) : Html.Raw("");
                                    var media = key.HasValue("media") ? Umbraco.TypedMedia(key.GetPropertyValue("media")).Url : "";

                                    if (value != null)
                                    {
                                        url = value.HasProperty("umbracoFile") ? value.Url : "";
                                    }
                                    <feature_item>
                                        <title>@title</title>
                                        <shortdesc>@title</shortdesc>
                                        <longdesc>@title</longdesc>
                                        <url>
                                            @media
                                        </url>
                                        <videourl>
                                            @url
                                        </videourl>
                                        <html>
                                        @html
                                        </html>
                                    </feature_item>
                                }
                            }
                            catch (Exception e)
                            {
                                <!--@e.ToString()-->
                            }
                        }
                    }
                </features>
            </product_content>
            <product_assets>
                <images>

                    @{
                        var caseStudyImagesList = prodmodel.GetPropertyValue<string>("ProductImages").Split(new[] {","}, StringSplitOptions.RemoveEmptyEntries);
                    }
                    @if (caseStudyImagesList != null)
                    {
                        foreach (var caseStudyImage in caseStudyImagesList)
                        {
                            try
                            {
                                var mediaItem = Umbraco.TypedMedia(caseStudyImage);
                                if (mediaItem != null && mediaItem.DocumentTypeAlias == "Image")
                                {
                                    var height = mediaItem.HasValue("umbracoHeight") ? mediaItem.GetPropertyValue("umbracoHeight") : "";
                                    var width = mediaItem.HasValue("umbracoWidth") ? mediaItem.GetPropertyValue("umbracoWidth") : "";
                                    var file = mediaItem.Url; //mediaItem.GetPropertyValue("");
                                    var ex = mediaItem.GetPropertyValue("umbracoExtension");
                                    string[] filename = mediaItem.Url.Split(new[] {'/'});
                                    var name = filename.Last();
                                    <image>
                                        <content_type>@ex</content_type>
                                        <pixel_height>@height</pixel_height>
                                        <file_name>@name</file_name>
                                        <orientation>Center facing</orientation>
                                        <pixel_width>@width</pixel_width>
                                        <url>@file</url>
                                        <color>White</color>
                                        <title>@mediaItem.Name</title>
                                        <description/>
                                        <type_detail/>
                                        <type>product_image</type>
                                        <type_code/>
                                        <dpi_resolution>300</dpi_resolution>
                                    </image>
                                }
                            }
                            catch (Exception e)
                            {
                                <!--@e.ToString()-->
                            }
                        }
                    }
                </images>
                <documents>
                    @if (prodmodel.HasValue("productManual"))
                    {
                        try
                        {
                            var doc = Umbraco.TypedMedia(prodmodel.GetPropertyValue("productManual"));
                            var mediaItem1 = doc;
                            if (doc != null)
                            {
                                var file = mediaItem1.Url != null ? mediaItem1.Url : ""; //mediaItem.GetPropertyValue("");
                                var ex = mediaItem1.GetPropertyValue("umbracoExtension");
                                var filename = mediaItem1.Url.Split(new[] {'/'});
                                var name = filename.Last();

                                <document>
                                    <content_type>@ex</content_type>
                                    <file_name>@name</file_name>
                                    <url>@file</url>
                                    <title>Product Manual</title>
                                    <description></description>
                                    <type_detail></type_detail>
                                    <type>user_manual</type>
                                    <type_code></type_code>
                                </document>
                            }
                        }
                        catch (Exception e)
                        {
                            <!--@e.ToString()-->
                        }
                    }
                </documents>

                <videos/>
                <threed_views/>
                <product_3d_tours/>
            </product_assets>
            <related_products>
                @{
                    var products = prodmodel.GetPropertyValue<string>("associatedProducts");
                    var prodList = products.Split(new[] {","}, StringSplitOptions.RemoveEmptyEntries);
                    var o = 0;
                }
                @foreach (var prod in prodList)
                {
                    try
                    {
                        var item = Umbraco.TypedContent(prod);
                        o++;
                        if (item != null)
                        {
                            var mpn = item.Children.Count() > 0 ? item.Children.FirstOrDefault().Name : "";
                            var name = item.Name;
                            var order = o;

                            <related_product type="child">
                                <mpn>@mpn</mpn>
                                <name>@name</name>
                                <type/>
                                <order>@order</order>
                            </related_product>
                        }
                    }
                    catch (Exception e)
                    {
                        <!--@e.ToString()-->
                    }
                }
            </related_products>
            </product>
        }
    }
}
</products>