﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Uniform.GDHA.Products
@{
    IPublishedContent product = CurrentPage.DocumentTypeAlias == "ProductSku" ? Model.Content : Model.Content.Children.First();
    IPublishedContent productModel = CurrentPage.DocumentTypeAlias == "ProductSku" ? Model.Content.Parent : Model.Content;
    var features1 = productModel.Parent.Children.Where(x => x.DocumentTypeAlias == "ProductCategoryFeatures").FirstOrDefault();
    var productfeatureList = productModel.GetPropertyValue<ProductFeatureList>("productFeatures2");
    var feature = productModel.GetPropertyValue<string>("productOverview");
    var featureList = feature.Split(new string[] {","}, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
    var featureCollection = Umbraco.TypedContent(featureList).Where(x => x != null);

    if (featureCollection.Any(x => x.Name == string.Format("{0} 4 {1}", Umbraco.Field("#Cavity"), Umbraco.Field("#features"))))
    {
	
        var hob = features1.Children.First(x => x.Name == Umbraco.Field("#hob").ToString());
        var cavity1 = features1.Children.First(x => x.Name.ToLower() == string.Format("{0} 1 {1}", Umbraco.Field("#Cavity"), Umbraco.Field("#features")).ToLower());
        var cavity2 = features1.Children.First(x => x.Name.ToLower() == string.Format("{0} 2 {1}", Umbraco.Field("#Cavity"), Umbraco.Field("#features")).ToLower());
        var cavity3 = features1.Children.First(x => x.Name.ToLower() == string.Format("{0} 3 {1}", Umbraco.Field("#Cavity"), Umbraco.Field("#features")).ToLower());
        var cavity4 = features1.Children.First(x => x.Name.ToLower() == string.Format("{0} 4 {1}", Umbraco.Field("#Cavity"), Umbraco.Field("#features")).ToLower());

        <div class="container-fluid" id="overview">
            <div class="row desktop-only">
                <div class="left-overview text-center">
                    <div class="nav nav-tabs" role="tablist">
                        <p>@Umbraco.Field("#Look through the key features")</p>
                        <br><br>

                        <svg version="1.1" class="svg-overview" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 199.1 173" enable-background="new 0 0 199.1 173" xml:space="preserve">
                            <polyline class="svg-outline" fill="none" stroke="rgb(198, 198, 198)" stroke-width="1.1687" stroke-miterlimit="10" points="190.9,33.5 190.9,170.5 8.3,170.5 8.3,33.5 "/>
                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                                <g id="svg-1">
                                    <rect x="8.3" y="10.5" fill="none" class="svg-1 default-stroke" stroke-width="1.2307" stroke-miterlimit="10" width="182.6" height="22.4"/>
                                    <circle fill="none" class="svg-1 default-stroke" stroke-width="1.1934" stroke-miterlimit="10" cx="19.8" cy="21.5" r="2.9"/>
                                    <circle fill="none" class="svg-1 default-stroke" stroke-width="1.1934" stroke-miterlimit="10" cx="29.6" cy="21.5" r="2.9"/>
                                    <circle fill="none" class="svg-1 default-stroke" stroke-width="1.1934" stroke-miterlimit="10" cx="39.3" cy="21.5" r="2.9"/>
                                    <circle fill="none" class="svg-1 default-stroke" stroke-width="1.1934" stroke-miterlimit="10" cx="49" cy="21.5" r="2.9"/>
                                    <circle fill="none" class="svg-1 default-stroke" stroke-width="1.1934" stroke-miterlimit="10" cx="150.1" cy="21.5" r="2.9"/>
                                    <circle fill="none" class="svg-1 default-stroke" stroke-width="1.1934" stroke-miterlimit="10" cx="159.9" cy="21.5" r="2.9"/>
                                    <circle fill="none" class="svg-1 default-stroke" stroke-width="1.1934" stroke-miterlimit="10" cx="169.6" cy="21.5" r="2.9"/>
                                    <circle fill="none" class="svg-1 default-stroke" stroke-width="1.1934" stroke-miterlimit="10" cx="179.3" cy="21.5" r="2.9"/>
                                    <circle fill="#FFFFFF" class="svg-1-circle default-circle" cx="99.6" cy="10.5" r="10.5"/>
                                    <text transform="matrix(1 0 0 1 96.5822 14.0332)" class="svg-1-text default-text" font-size="10">1</text>
                                </g>
                            </a>
                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                                <g id="svg-2">
                                    <rect x="12.3" y="36.8" fill="none" class="svg-2 default-stroke" stroke-width="1.1752" stroke-miterlimit="10" width="84.3" height="39.8"/>
                                    <rect x="20.9" y="43.7" fill="none" class="svg-2 default-stroke" stroke-width="1.1814" stroke-miterlimit="10" width="67.8" height="4.1"/>
                                    <circle fill="#FFFFFF" class="svg-2-circle default-circle" cx="10.5" cy="58.3" r="10.5"/>
                                    <g>
                                        <text transform="matrix(1 0 0 1 7.3118 61.768)" class="svg-2-text default-text" font-size="10">2</text>
                                    </g>
                                </g>
                            </a>
                            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                                <g id="svg-3">
                                    <rect x="12.3" y="80.6" fill="none" class="svg-3 default-stroke" stroke-width="1.1687" stroke-miterlimit="10" width="84.3" height="86"/>
                                    <rect x="20.9" y="88.6" fill="none" class="svg-3 default-stroke" stroke-width="1.1814" stroke-miterlimit="10" width="67.8" height="4.1"/>
                                    <rect x="20.5" y="101.7" fill="none" class="svg-3 default-stroke" stroke-width="1.1814" stroke-miterlimit="10" width="67.8" height="48.6"/>
                                    <circle fill="#FFFFFF" cx="10.5" cy="125.2" r="10.5" class="svg-3-circle default-circle"/>
                                    <g>
                                        <text transform="matrix(1 0 0 1 7.3118 129.3173)" font-size="10" class="svg-3-text default-text">3</text>
                                    </g>
                                </g>
                            </a>
                            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                                <g id="svg-4">
                                    <rect x="100.5" y="36.8" fill="none" class="svg-4 default-stroke" stroke-width="1.1687" stroke-miterlimit="10" width="86.5" height="79.5"/>
                                    <rect x="109.5" y="43.7" fill="none" class="svg-4 default-stroke" stroke-width="1.1909" stroke-miterlimit="10" width="68.7" height="4.1"/>
                                    <rect x="109.9" y="56.3" fill="none" class="svg-4 default-stroke" stroke-width="1.1814" stroke-miterlimit="10" width="67.8" height="48.6"/>
                                    <circle fill="#FFFFFF" cx="188.6" cy="79.2" r="10.5" class="svg-4-circle default-circle"/>
                                    <g>
                                        <text transform="matrix(1 0 0 1 185.8739 83.3838)" font-size="10" class="svg-4-text default-text">4</text>
                                    </g>
                                </g>
                            </a>
                            <a href="#storage" aria-controls="storage" role="tab" data-toggle="tab">
                                <g id="svg-5">
                                    <rect x="100.5" y="120.3" fill="none" class="svg-5 default-stroke" stroke-width="1.1687" stroke-miterlimit="10" width="86.5" height="46.3"/>
                                    <rect x="111.3" y="131.5" fill="none" class="svg-5 default-stroke" stroke-width="1.1687" stroke-miterlimit="10" width="67.8" height="4.1"/>
                                    <circle fill="#FFFFFF" cx="188.6" cy="143.4" r="10.5" class="svg-5-circle default-circle"/>
                                    <g>
                                        <text transform="matrix(1 0 0 1 185.8739 147.6224)" font-size="10" class="svg-5-text default-text">5</text>
                                    </g>
                                </g>
                            </a>
                        </svg>
                    </div>
                </div>
                <div class="right-overview text-center">
                    <div class="triangle"></div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="circle-num">1</div>
                            <h3>@Umbraco.Field("#Hob")</h3>
                            @foreach (var item in hob.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
                                
								if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
								
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile">
                            <div class="circle-num">2</div>
                            <h3>@Umbraco.Field("#Cavity") 1</h3>
                            @foreach (var item in cavity1.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
                                
								if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
								
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="messages">
                            <div class="circle-num">3</div>
                            <h3>@Umbraco.Field("#Cavity") 2</h3>
                            @foreach (var item in cavity2.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
                                
								if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
								
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="settings">
                            <div class="circle-num">4</div>
                            <h3>@Umbraco.Field("#Cavity") 3</h3>
                            @foreach (var item in cavity3.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
                                
																
								if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
								
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="storage">
                            <div class="circle-num">5</div>
                            <h3>@Umbraco.Field("#Cavity") 4</h3>
                            @foreach (var item in cavity4.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
                                
								if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
								
								
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mobile-only">
                <div class="container">
                    <div class="col-xs-12">
                        <div class="row">
                            <h3>@Umbraco.Field("#Overview")</h3>
                            <h6>@Umbraco.Field("#Hob")</h6>
                            @foreach (var item in hob.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
									
                                if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
                            }
                            <h6>@Umbraco.Field("#Cavity") 1</h6>
                            @foreach (var item in cavity1.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
                                
								if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
                            }
                            <h6>@Umbraco.Field("#Cavity") 2</h6>
                            @foreach (var item in cavity2.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
                                
								if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
                            }
                            <h6>@Umbraco.Field("#Cavity") 3</h6>
                            @foreach (var item in cavity3.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
									
                                if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
                            }
                            <h6>@Umbraco.Field("#Cavity") 4</h6>
                            @foreach (var item in cavity4.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
									
                                if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        var hob = features1.Children.First(x => x.Name == Umbraco.Field("#hob").ToString());
	    var cavity1 = features1.Children.First(x => x.Name.ToLower() == string.Format("{0} 1 {1}", Umbraco.Field("#Cavity"), Umbraco.Field("#features")).ToLower());
        var cavity2 = features1.Children.First(x => x.Name.ToLower() == string.Format("{0} 2 {1}", Umbraco.Field("#Cavity"), Umbraco.Field("#features")).ToLower());
        var cavity3 = features1.Children.First(x => x.Name.ToLower() == string.Format("{0} 3 {1}", Umbraco.Field("#Cavity"), Umbraco.Field("#features")).ToLower());
        
        <div class="container-fluid" id="overview">
            <div class="row desktop-only">
                <div class="left-overview text-center">
                    <div class="nav nav-tabs" role="tablist">
                        <p class="overview-info">@Umbraco.Field("#Look through the key features")</p>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 175.1 171.4" enable-background="new 0 0 175.1 171.4" xml:space="preserve" class="svg-overview">
                            <polyline fill="none" stroke="rgb(198, 198, 198)" stroke-width="1.2146" stroke-miterlimit="10" class="svg-outline" points="166.9,33.5 166.9,170.5 8.3,170.5 8.3,33.5 "/>
                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                                <g id="svg-1">
                                    <g>
                                        <circle fill="none" class="svg-1 default-stroke" stroke-width="1.1934" stroke-miterlimit="10" cx="19.8" cy="21.5" r="2.9"/>
                                        <circle fill="none" class="svg-1 default-stroke" stroke-width="1.1934" stroke-miterlimit="10" cx="29.6" cy="21.5" r="2.9"/>
                                        <circle fill="none" class="svg-1 default-stroke" stroke-width="1.1934" stroke-miterlimit="10" cx="39.3" cy="21.5" r="2.9"/>
                                        <circle fill="none" class="svg-1 default-stroke" stroke-width="1.1934" stroke-miterlimit="10" cx="49" cy="21.5" r="2.9"/>
                                        <circle fill="none" class="svg-1 default-stroke" stroke-width="1.1934" stroke-miterlimit="10" cx="126.1" cy="21.5" r="2.9"/>
                                        <circle fill="none" class="svg-1 default-stroke" stroke-width="1.1934" stroke-miterlimit="10" cx="135.9" cy="21.5" r="2.9"/>
                                        <circle fill="none" class="svg-1 default-stroke" stroke-width="1.1934" stroke-miterlimit="10" cx="145.6" cy="21.5" r="2.9"/>
                                        <circle fill="none" class="svg-1 default-stroke" stroke-width="1.1934" stroke-miterlimit="10" cx="155.3" cy="21.5" r="2.9"/>
                                    </g>
                                    <rect x="8.3" y="10.5" fill="none" class="svg-1 default-stroke" stroke-width="1.2307" stroke-miterlimit="10" width="158.6" height="22.4"/>
                                    <circle fill="#FFFFFF" cx="87.6" cy="10.5" r="10.5" class="svg-1-circle default-circle"/>
                                    <text transform="matrix(1 0 0 1 84.5822 14.0332)" fill="#0D3049" font-size="10" class="svg-1-text default-text">1</text>
                                </g>
                            </a>
                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                                <g id="svg-2">
                                    <rect x="12.3" y="36.8" fill="none" class="svg-2 default-stroke" stroke-width="1.1752" stroke-miterlimit="10" width="72.3" height="39.8"/>
                                    <rect x="20.9" y="43.7" fill="none" class="svg-2 default-stroke" stroke-width="1.1814" stroke-miterlimit="10" width="55.8" height="4.1"/>
                                    <circle fill="#FFFFFF" cx="10.5" cy="58.3" r="10.5" class="svg-2-circle default-circle"/>
                                    <g>
                                        <text transform="matrix(1 0 0 1 7.3118 61.768)" fill="#0D3049" font-size="10" class="svg-2-text default-text">2</text>
                                    </g>
                                </g>
                            </a>
                            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                                <g id="svg-3">
                                    <rect x="12.3" y="80.6" fill="none" class="svg-3 default-stroke" stroke-width="1.1687" stroke-miterlimit="10" width="72.3" height="86"/>
                                    <rect x="20.9" y="88.6" fill="none" class="svg-3 default-stroke" stroke-width="1.1814" stroke-miterlimit="10" width="55.8" height="4.1"/>
                                    <rect x="20.9" y="101.7" fill="none" class="svg-3 default-stroke" stroke-width="1.1814" stroke-miterlimit="10" width="55.8" height="48.6"/>
                                    <circle fill="#FFFFFF" cx="10.5" cy="125.2" r="10.5" class="svg-3-circle default-circle"/>
                                    <g>
                                        <text transform="matrix(1 0 0 1 7.3118 129.3173)" fill="#0D3049" font-size="10" class="svg-3-text default-text">3</text>
                                    </g>
                                </g>
                            </a>
                            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                                <g id="svg-4">
                                    <rect x="88.5" y="36.8" fill="none" class="svg-4 default-stroke" stroke-width="1.2064" stroke-miterlimit="10" width="74.5" height="129.8"/>
                                    <rect x="97.5" y="43.7" fill="none" class="svg-4 default-stroke" stroke-width="1.1909" stroke-miterlimit="10" width="56.7" height="4.1"/>
                                    <circle fill="#FFFFFF" cx="164.6" cy="79.2" r="10.5" class="svg-4-circle default-circle"/>
                                    <g>
                                        <text transform="matrix(1 0 0 1 161.8739 83.3838)" fill="#0D3049" font-size="10" class="svg-4-text default-text">4</text>
                                    </g>
                                </g>
                            </a>
                        </svg>
                    </div>
                </div>
                <div class="right-overview text-center">
                    <div class="triangle"></div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="circle-num">1</div>
                            <h3>@Umbraco.Field("#Hob")</h3>
                            @foreach (var item in hob.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
                                
								if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile">
                            <div class="circle-num">2</div>
                            <h3>@Umbraco.Field("#Cavity") 1</h3>
                            @foreach (var item in cavity1.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
                                
								if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="messages">
                            <div class="circle-num">3</div>
                            <h3>@Umbraco.Field("#Cavity") 2</h3>
                            @foreach (var item in cavity2.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
                                
								if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="settings">
                            <div class="circle-num">4</div>
                            <h3>@Umbraco.Field("#Cavity") 3</h3>
                            @foreach (var item in cavity3.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
                                
								if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mobile-only">
                <div class="container">
                    <div class="col-xs-12">
                        <div class="row">
                            <h3>@Umbraco.Field("#Overview")</h3>
                            <h6>@Umbraco.Field("#Hob")</h6>
                            @foreach (var item in hob.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
									
                                if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
                            }
                            <h6>@Umbraco.Field("#Cavity") 1</h6>
                            @foreach (var item in cavity1.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
                                
								if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
                            }
                            <h6>@Umbraco.Field("#Cavity") 2</h6>
                            @foreach (var item in cavity2.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
                                
								if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
                            }
                            <h6>@Umbraco.Field("#Cavity") 3</h6>
                            @foreach (var item in cavity3.Children)
                            {
                                var itemDescription = productfeatureList.Items
                                    .Where(x => x.Id == item.Id)
                                    .Select(x => x.Description)
                                    .FirstOrDefault();
                                
								if(!string.IsNullOrEmpty(itemDescription)){
									<p>@item.Name - @itemDescription</p>
								}
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}