﻿@inherits UmbracoTemplatePage
@{

    var homeNode = Model.Content.AncestorOrSelf(1);
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var globalSettings = settingsFolder.Children.First(x => x.IsDocumentType("USNGlobalSettings"));
    var imageFolder = globalSettings.HasValue("manualFolderPicker") ? Umbraco.TypedMedia(globalSettings.GetPropertyValue("manualFolderPicker")) : null;
    var allMedia = imageFolder.Children;
	var products = homeNode.Children.First(x => x.DocumentTypeAlias == "ProductLanding");
    int id = 0;   
}
  <div class="manuals" id="Manuals">
      <h3>Manuals</h3>
      <div id="accordion" role="tablist" aria-multiselectable="true">	
				<ul class="sidenav-list">
          @foreach (var media in products.Descendants().Where(x => x.DocumentTypeAlias == "ProductCategory"))
          {		if(media.Descendants().Where(x => x.DocumentTypeAlias == "ProductModel").Any(x => x.HasValue("productManual")))
		  {
						@* <div class="" role="tab" id="heading @id"> *@
						<li role="button" data-toggle="collapse" data-parent="#accordion" href="#@id" aria-expanded="false" aria-controls="@id">
							<span class="right-text"><a>@media.Name</a></span>
							<span class="float-right right-icon"><img src="/media/622947/arrow-down.svg" class="svg" alt="icon"></span>
						</li>							
						@* </div>		 *@
            <div id="@id" class=" collapse" role="tabpanel" aria-labelledby="heading @id">
              <ul>  
								@foreach(var item in media.Descendants().Where(x => x.DocumentTypeAlias == "ProductModel"))
								{	try
									{
										@* Used try/catch to catch broken stored values in prod manuals i.e guids instead of ids*@
										var manual = item.HasValue("productManual")? Umbraco.TypedMedia(item.GetPropertyValue("productManual")).Url : "";
										if(manual != "")
										{
											<li>
												<span class="float-left right-icon"><img src="/media/622951/download-small.svg" class="svg" alt="icon"></span>
												<span class="right-text"><a href="@manual" target="_blank">@item.Name</a></span>												
											</li>
										}
									}
								 	catch{}
								}
            	</ul>
            </div>
					id++;
		  }
          } 
				</ul> 
      </div>
  </div>
