﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var revoo = Model.Content.AncestorOrSelf(1).GetPropertyValue("reevooTrackingReference");
    var products = Umbraco.Field("associatedProducts","products").ToString();
    var bannerList = products.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
    var nodeIds = new int[200];
    for(var runs = 0; runs < bannerList.Count(); runs++)
    {
        int number;
        bool result = Int32.TryParse(bannerList[runs], out number);
        if(result)
        {
            nodeIds[runs] = number;
        }
    }    
    var list = bannerList.Select(int.Parse);
    var productsCollection = Umbraco.TypedContent(bannerList).Where(x => x != null);
	var count = productsCollection.Count() * 0.5;
	
}

<link rel="stylesheet" href="~/assets/owl.carousel.css">
<link rel="stylesheet" href="~/assets/owl.theme.css">
<script src="~/assets/js/owl.carousel.js"></script>
<script>
	$(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            center: true,
            items: 5,
            // itemsDesktop : [1250,6],
            // itemsDesktopSmall : [980,5],
            // itemsTablet: [768,4],
            // itemsTabletSmall: false,
            // itemsMobile : [479,4],
            // singleItem : false,
            loop:true,
            nav:true,
            startPosition:1,
            margin:10
     //        responsive:{
     //            600:{
					// items:@count
     //            }
     //        }
        });
    });
</script>
	
@* Similar products *@
@if(productsCollection != null && productsCollection.Count() > 0)
{
<div class="container" id="product-similar">
    <h2 class="text-center">Available Products</h2>
    <div class="owl-carousel">
        @foreach (var prod in productsCollection.Where(x => x.DocumentTypeAlias == "ProductModel" || x.DocumentTypeAlias == "ProductSku"))
        {
            string image = "";
            var imageList = prod.Children.First().GetPropertyValue<string>("productImages");
            char[] splitChar = { ',' };
            if (!string.IsNullOrEmpty(imageList))
            {
                string[] ids = imageList.Split(splitChar, StringSplitOptions.RemoveEmptyEntries);
                image = Umbraco.Media(ids.First()).Url;
            }
	
            <div class="text-center product-container">

                <div class="similar-img">
                    <a href="@prod.Url"><img src="@image" alt=""></a>
                </div>
                <div class="similar-copy">
                    <div class="h5">@prod.Name</div>
                    @Html.Raw(prod.GetProperty("bodyText").Value.ToString())
                    <div class="h6">colours</div>
                    <div class="product-colour">
                        @foreach (var sku in prod.Children)
                        {
                            if (sku.GetPropertyValue("productColour") != null)
                            {
                                var colour = Umbraco.TypedContent(sku.GetPropertyValue("productColour")).GetPropertyValue("HexValue");

                                <a href="@sku.Url">
                                    @if (@colour.ToString().ToUpper() != "#FFFFFF")
                                    {
                                        <div class="product-color" style="background: @colour.ToString()"> </div>
                                    }
                                    else
                                    {
                                        <div class="product-color white" style="background: @colour.ToString()"> </div>
                                    }
                                </a>
                            }
                        }
                    </div>
                    <div class="buy-now"><a href="@prod.Url">Buy Now</a></div>
                </div>
                <div class="review">
                    <a class="reevoomark" href="http://mark.reevoo.com/partner/@revoo/@prod.Children.First().Name.Replace(" ", String.Empty)">Review</a>
                </div><br>
                @* <a class="btn btn-default" href="@prod.Url" role="button">View details &raquo;</a> *@
            </div>
        }
    </div>
</div>
}

