﻿@inherits UmbracoTemplatePage
@{
    var accordionCount = 1;
	var pCom = Model.Content.Children.Any()? Model.Content.Children.First(x => x.IsDocumentType("AdvancedPageComponents")) : null;
	var ccA = pCom!=null && pCom.Children.Any() ? pCom.Children.Where(x => x.IsDocumentType("CustomerCareAccordian")): null;
	var postBreakCount = 5;
}

<div class="page_component accordion" id="FAQ">
    <h3>FAQ</h3>
    @if (ccA != null && ccA.Any())
    {
        foreach (var c in ccA)
        {
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default ">
                    <div class="panel-heading" role="tab" id="heading-@accordionCount">
                        <p class="heading panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@c.Id-@accordionCount" aria-expanded="true" aria-controls="collapse-@Model.Content.Id-@accordionCount">                                
                                @c.Name
                            </a>
                        </p>
                    </div>
                    <div id="collapse-@c.Id-@accordionCount" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-@Model.Content.Id-@accordionCount">
                        <div class="panel-body">
                            @foreach (var item in c.Children.Take(postBreakCount))
                            {
                                <div class="panel panel-default ">
                                    <div class="panel-heading" role="tab" id="heading-@accordionCount">
                                        <p class="heading panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@item.Id-@accordionCount" aria-expanded="true" aria-controls="collapse-@Model.Content.Id-@accordionCount">
                                                Q.
                                                @Html.Raw(item.GetProperty("heading").Value.ToString().Trim())
                                            </a>
                                        </p>
                                    </div>
                                    <div id="collapse-@item.Id-@accordionCount" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-@Model.Content.Id-@accordionCount">
                                        <div class="panel-body">
                                            @Html.Raw(item.GetProperty("subText").Value.ToString().Trim())
                                        </div>
                                    </div>
                                </div>
                                accordionCount++;
                            }
                            @if (c.Children.Count() > postBreakCount)
                            {
                                <div class="other-posts" style="display: none;">
                                    @foreach (var item in c.Children.Skip(postBreakCount))
                                    {
                                        <div class="panel panel-default ">
                                            <div class="panel-heading" role="tab" id="heading-@accordionCount">
                                                <p class="heading panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@Model.Content.Id-@accordionCount" aria-expanded="true" aria-controls="collapse-@Model.Content.Id-@accordionCount">
                                                        Q.
                                                        @Html.Raw(item.GetProperty("heading").Value.ToString().Trim())
                                                    </a>
                                                </p>
                                            </div>
                                            <div id="collapse-@Model.Content.Id-@accordionCount" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-@Model.Content.Id-@accordionCount">
                                                <div class="panel-body">
                                                    @Html.Raw(item.GetProperty("subText").Value.ToString().Trim())
                                                </div>
                                            </div>
                                        </div>
                                        accordionCount++;
                                    }
                                </div>
                            }
                            @if (c.Children.Count() > postBreakCount)
                            {
                                <div class="load-more-footer" id="more">
                                    <a id="showAllPosts" class="load-more" href="#">Show More</a>
                                    <a id="showLessPosts" class="load-more" href="#">Show Less</a>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
			accordionCount++;
        }
    }
    </div>
