﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using RJP.MultiUrlPicker.Models;
@{  

<div class="page_component textblock" id="Warranty">
    <h3 data-toggle="collapse" href="#collapseWarranty" aria-expanded="false" aria-controls="collapseWarranty">Warranty
        <span class="float-right"><img src="/media/622947/arrow-down.svg" alt="" class="arrow-down"></span></h3>
    <div class="collapse" id="collapseWarranty">
        <strong>REGISTER YOUR PRODUCT</strong>
        <p>Please register your appliance to receive your free 1 year parts and labour warranty*.</p>
        <p>It is important that you register your new or older appliances, as this also allows Belling to contact you in the event of an important product update regarding the appliance you purchased.</p>
        <p>To register your appliance you can either click on the link below, complete the registration card included in your appliance or call <strong>FREE 0800 952 1068</strong>.
        </p>
        <p><strong><a href="https://partners.domgen.com/BellingOLR/indexServlet" target="_blank" title="Warranty Registration"><span>Register Product Online</span><span><br></span></a></strong>
        </p>
        <strong>EXTENDED WARRANTY</strong>
        <p>Extended warranties to increase your cover up to 3 or 5 years are also available for extra peace of mind. Once you have registered your appliance, you will be given the opportunity to purchase an extended warranty. For more information about extending your manufacturers warranty please contact our Belling Service team on <strong>0844 815 3746</strong>.
        </p>
        <strong>What&acute;s included if you take out an extended warranty while your product is still within the manufacturer warranty period?</strong>
        <ul>
            <li>Protection against breakdowns, including parts, labour and call out charges</li>
            <li>Repairs by Belling approved engineers</li>
            <li>A UK customer care team available 363 days a year</li>
            <li>No product age limit on renewals</li>
            <li>Protection against damage caused by accident</li>
            <li>If we decide your product is beyond economical repair or cannot be repaired and needs to be replaced, subject to terms and conditions, we&acute;ll simply give you a brand new one!</li>
        </ul>
        <strong>What&acute;s included if you take out an extended warranty after the manufacturer warranty period has expired?</strong>
        <ul>
            <li>Protection against breakdowns, including parts, labour and call out charges</li>
            <li>Repairs by Belling approved engineers</li>
            <li>A UK customer care team available 363 days a year</li>
            <li>No product age limit on renewals</li>
            <li>If we decide your product is beyond economical repair or cannot be repaired and needs to be replaced, subject to terms and conditions, we&acute;ll simply give you a brand new one!</li>
        </ul>
        <strong><br>* 1 YEAR PARTS AND LABOUR WARRANTY CONDITIONS
        </strong>
        <p>These conditions do not affect your statutory rights.</p>
        <p>All appliances manufactured by Belling carry a free guarantee which protects you against the cost of repairs in the first 12-months from data of purchase provided;</p>
        <ul>
            <li>The guarantee registration card is completed and posted within 30 days of purchase, or the online registration form is completed &amp; sent within 30 days of purchase.</li>
            <li>Claims are accompanied by evidence of the date of purchase, such as a sales receipt, showing that the appliance was bought within 12-months prior to the date of claim.</li>
            <li>The appliance was correctly installed and operated in accordance with the manufacturer’s instructions and used solely for domestic purposes.</li>
            <li>The defect was not due to accident, misuse, unauthorised modification or inexpert repair.</li>
        </ul>
        <p>Consumable parts, such as fuses in plugs and bulbs, which require routine replacement are excluded from the guarantee.</p>
        <p>Your guarantee is valid only in the UK.</p>
    </div>
</div>
<!--// PAGE COMPONENT TEXT -->
            
}

