*{
	max-height:10000px; /* Android 4.2+ */
}
@font-face {
	font-family: 'nobilebold';
	src: url('../fonts/nobile_bold.eot');
	src: url('../fonts/nobile_bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/nobile_bold.woff') format('woff'),
	url('../fonts/nobile_bold.ttf') format('truetype'),
	url('../fonts/nobile_bold.svg#nobilebold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'nobileregular';
	src: url('../fonts/nobile.eot');
	src: url('../fonts/nobile.eot?#iefix') format('embedded-opentype'),
		url('../fonts/nobile.woff') format('woff'),
		url('../fonts/nobile.ttf') format('truetype'),
		url('../fonts/nobile.svg#nobileregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
header, footer, article, section, nav, figure, aside { display: block; }
figure { margin:0; padding:0; }
body{
	margin:0;
	color:#4c4d4f;
	font:12px/15px 'nobileregular', Arial, Helvetica, sans-serif;
	background:#fff;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: none;
}
input[type="image"]{padding:0;border:none;}
input[type=text], input[type=password], input[type=file], input[type=submit], textarea{-webkit-appearance:none;}
img{border-style:none;}
a{
	text-decoration:underline;
	color:#4c4d4f;
}
a:hover{text-decoration:none;}
a:active{background-color:transparent;}
input,
textarea,
select{
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
q{quotes:none;}
q:before{content:''}
q:after{content:''}
#wrapper{
	width:100%;
	position:relative;
	overflow:hidden;
}
#header{
	width:100%;
	position:relative;
	padding:10px 7px;
	-moz-box-sizing:border-box;	-webkit-box-sizing:border-box;	box-sizing:border-box;
	z-index:3;
	background:rgba(255,255,255,0.94);
}
.home #header{
	position:absolute;
	top:0;
	left:0;
}
.logo{
	text-indent:-9999px;	overflow:hidden;	display:block;	background:url(../images/logo.png) no-repeat;
	width:100px;
	height:49px;	margin:0 auto;
}
.logo a{
	display:block;
	height:100%;
}
.nav-box{
	position:absolute;
	top:18px;
	left:7px;
}
.nav-box .nav-btn{
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/nav-ico.png) no-repeat;
	width:41px;
	height:42px;
	display:inline-block;
	vertical-align:top;
}
.nav-box .top-nav{
	position:absolute;
	top:100%;
	left:0;
	width:200px;
	background:#d7d7d7;
	border:2px solid #fff;
	border-radius:4px;
	overflow:hidden;
}
.nav-box .top-nav ul{
	padding:5px 0;	margin:0;	list-style:none;
	font-size:16px;
	line-height:20px;
}
.nav-box .top-nav a{
	text-decoration:none;
	padding:3px 10px;
	display:block;
}
.nav-box .top-nav li.hover a{background:#fff;}
#main{
	width:100%;
	position:relative;
	padding:0 0 10px;
}
.visual{
	position:relative;
	width:100%;
}
.visual img{
	margin:0 auto;
	display:block;
	vertical-align:top;
	max-width:100%;
}
.accordion{
	padding:0 0 5px;	margin:0;	list-style:none;
	width:100%;
	font: 15px/20px 'nobilebold', Arial, Helvetica, sans-serif;
}
.accordion > li{
	position:relative;
	width:100%;
	border-bottom:1px solid #e6f6fa;
}
.accordion .opener{
	display:block;
	color:#fff;
	position:relative;
	text-decoration:none;
	background:#a3deed;
	padding:9px 37px 10px 53px;
}
.accordion > li > .opener:before{
	position:absolute;
	content:'';
	top:50%;
	left:12px;
	margin:-12px 0 0;
	width:25px;
	height:25px;
	background:url(../images/accordion-icos.png) no-repeat;
}
.accordion > li.active > .opener:after{
	background:none;
	height:0;
	width:0;
	top:50%;
	margin:-9px 0 0;
	right:16px;
	border: solid transparent;
	content: " ";
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 7px;
}
.accordion .slide{background:#e8f7fa;}
.accordion ul{
	padding:0;	margin:0;	list-style:none;
}
.accordion ul .opener{
	background:#e8f7fa;
	color:#4c4d4f;
	border-bottom:1px solid #fcfcfc;
}
.accordion ul > li.active .opener:after{
	background:none;
	height:0;
	width:0;
	top:50%;
	margin:-9px 0 0;
	right:16px;
	border: solid transparent;
	pointer-events: none;
	border-color: rgba(76, 77, 79, 0);
	border-bottom-color: #4c4d4f;
	border-width: 7px;
}
.accordion ul > li > a{
	padding:9px 37px 10px 53px;
	color:#4c4d4f;
	text-decoration:none;
	display:block;
	position:relative;
	background:#e8f7fa;
	border-bottom:1px solid #fcfcfc;
}
.accordion ul ul a{background:#f5f5f5;}
.accordion ul > li > a:after{
	height:0;
	width:0;
	position:absolute;
	top:50%;
	margin:-9px 0 0;
	right:13px;
	content:'';
	border: solid transparent;
	pointer-events: none;
	border-width: 7px;
	border-color: rgba(76, 77, 79, 0);
	border-left-color: #4c4d4f;
}
.accordion li .opener:after{
	position:absolute;
	border:none;
	content:'';
	top:50%;
	right:17px;
	margin:-6px 0 0;
	width:13px;
	height:13px;
	background:url(../images/accordion-icos.png) -37px 0 no-repeat;
}
.accordion ul .opener:after{background-position:-65px 0;}
.accordion .slide table{
	border-collapse:collapse;
	width:auto;
}
.accordion .slide .box{
	margin:0 10px 0 12px;
	border-top:1px solid #b1e3f0;
	padding:1px 0 4px;
	font:15px/18px 'nobileregular', Arial, Helvetica, sans-serif;
}
.accordion .slide .box:first-child{
	border:none;
	padding:12px 0 4px;
}
.accordion .slide .title{
	display:block;
	font-family:'nobilebold', Arial, Helvetica, sans-serif;
	font-weight:normal;
}
.accordion .slide td{
	padding:0 15px 0 0;
	vertical-align:top;
}
.accordion .slide .note{width:194px;}
.accordion .slide .value{width:118px;}
.accordion .slide .box2 .note{width:267px;}
.accordion .slide .box2 .value{width:60px;}
.accordion .pdf-list{
	padding:9px 11px 4px;	margin:0 0 7px;	list-style:none;
	font-size:15px;
	line-height:18px;
}
.accordion .pdf-list li{padding:15px 0 0;}
.accordion .pdf-list li:first-child{padding:0;}
.accordion .pdf-list a{
	display:block;
	height:41px;
	width:100%;
	-moz-box-sizing:border-box;	-webkit-box-sizing:border-box;	box-sizing:border-box;
	padding:0 0 0 49px;
	white-space:nowrap;
	border:none;
	text-decoration:none;
}
.accordion .pdf-list a:hover span{text-decoration:underline;}
.accordion .pdf-list a:before{
	position:absolute;
	top:0;
	left:0;
	content:' ';
	background:url(../images/pdf-ico.png) no-repeat;
	width:40px;
	height:41px;
}
.accordion .pdf-list a:after{
	content:'';
	display:inline-block;
	height:100%;
	width:1px;
	border:none;
	position:static;
	top:0;
	overflow:hidden;
	margin:0 0 0 -5px;
	vertical-align:middle;
}
.accordion .pdf-list a span{
	vertical-align:middle;
	display:inline-block;
	white-space:normal;
}
.btns{
	position:relative;
	text-align:center;
	padding:0 0 6px;
	font-size:0;
	letter-spacing:-4px;
	overflow:hidden;
}
.btns a{
	display:inline-block;
	vertical-align:top;
	letter-spacing:0;
	color:#fff;
	width:152px;
	font: 15px/20px 'nobilebold', Arial, Helvetica, sans-serif;
	-moz-box-sizing:border-box;	-webkit-box-sizing:border-box;	box-sizing:border-box;
	position:relative;
	padding:10px 2px 11px;
	text-decoration:none;
	text-transform:uppercase;
	margin:0 4px;
	background:url(../images/btn.png) no-repeat;
	background-size: 756px 87px;
}
#nav{
	text-align:center;
	position:relative;
	font: 13px/14px 'nobilebold', Arial, Helvetica, sans-serif;
}
#nav ul{
	padding:0;	margin:0;	list-style:none;
	font-size:0;
	letter-spacing:-4px;
}
#nav li{
	display:inline-block;
	vertical-align:top;
	width:72px;
	letter-spacing:0;
	font-size:13px;
	margin:0 4px;
}
#nav a{
	display:block;
	text-decoration:none;
	text-align:center;
	padding:8px 7px 4px;
	height:73px;
	color:#8acbb7;
	background:#f1f8e8;
	-moz-box-sizing:border-box;	-webkit-box-sizing:border-box;	box-sizing:border-box;
}
#nav img{
	display:block;
	margin:0 auto 4px;
}
.main-heading{
	background:#e2224b;
	color:#fff;
	text-align:center;
	padding:10px 10px 7px;
}
.main-heading.alt{padding:10px 10px 7px;}
#main .main-heading h1{
	font:20px/24px 'nobilebold', Arial, Helvetica, sans-serif;
	margin:0;
	text-transform:uppercase;
}
#main .main-heading.alt h1{
	text-transform:none;
	font-size:15px;
	line-height:17px;
}
.range-block{
	background:#e8f7fa;
	position:relative;
	padding:7px 0 4px;
	margin:0 0 15px;
}
.range-block .box{
	background:#fff;
	padding:11px 8px 7px;
	margin:0 auto 9px;
	width:297px;
	overflow:hidden;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
}
.range-block .title{
	display:block;
	text-align:center;
	background:#f5f5f5;
	color:#e2224b;
	padding:5px 10px 6px;
	font: 15px/20px 'nobilebold', Arial, Helvetica, sans-serif;
}
.range-block .box img{
	display:block;
	position:relative;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
}
.range-block .img-box{
	position:relative;
	width:100%;
}
.range-block .btn{
	position:absolute;
	bottom:-2px;
	left:0;
	-moz-box-sizing:border-box;	-webkit-box-sizing:border-box;	box-sizing:border-box;
	width:100%;
	padding:5px 25px 5px 28px;
	background:url(../images/range-btn.png) no-repeat;
	background-size:297px 30px;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	font: 16px/20px 'nobilebold', Arial, Helvetica, sans-serif;
}
.range-block .btn:after{
	position:absolute;
	height:0;
	width:0;
	position:absolute;
	top:50%;
	margin:-6px 0 0;
	right:9px;
	content:'';
	border: solid transparent;
	pointer-events: none;
	border-width: 7px;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
}
.sort-form{
	background:#a3deed;
	overflow:hidden;
}
.sort-form select{width:100%;}
.product-holder{
	width:100%;
	position:relative;
	background:#e8f7fa;
	text-align:center;
	font-size:13px;
	line-height:18px;
	color:#4c4d4f;
	margin:0 0 11px;
	padding:0 0 1px;
}
.product-holder .box{
	margin:0 0 10px;
	padding:28px 0 2px;
	background:#fff;
}
.product-holder .box:first-child{padding-top:24px;}
#main .product-holder h1{
	font: 15px/20px 'nobilebold', Arial, Helvetica, sans-serif;
	color:#e2224b;
	margin:0 0 11px;
}
.product-gallery{
	width:100%;
	position:relative;
	overflow:hidden;
	padding:0 0 3px;
}
.product-gallery .frame{
	position:relative;
	overflow:hidden;
	width:100%;
}
.product-gallery .slideset{
	width:99999px;
	overflow:hidden;
	position:relative;
	margin:0 0 0 -126px;
}
.product-gallery .slide{
	float:left;
	width:191px;
	text-align:center;
}
.product-gallery .slide img{vertical-align:top;}
.product-holder p{margin:0 0 10px;}
.gallery-wrap{
	position:relative;
	font-size:13px;
	line-height:18px;
	color:#4c4d4f;
	text-align:center;
	margin:7px 0;
	padding:0 0 7px;
	background:#f3f3f3 url(../images/bg-gallery.png) 50% 0 no-repeat;
}
.gallery-wrap .heading-box{
	padding:48px 0 20px;
	background:url(../images/ico05.png) 50% 0 no-repeat;
}
.gallery-wrap .title{
	display:block;
	font-weight:normal;
	margin:0 0 -2px;
	font-size:13px;
	line-height:15px;
}
.gallery-wrap .more{
	font:13px/15px 'nobilebold', Arial, Helvetica, sans-serif;
	color:#4c4d4f;
	text-decoration:none;
}
.gallery-wrap .more:hover{text-decoration:underline;}
.gallery-wrap .gallery{
	width:100%;
	overflow:hidden;
	position:relative;
	margin:0 0 11px;
}
.gallery-wrap .gallery-frame{
	position:relative;
}
.gallery-wrap .slideset{
	width:99999px;
	position:relative;
	overflow:hidden;
}
.gallery-wrap .slide{
	float:left;
	width:240px;
}
.gallery-wrap .slide img{vertical-align:top;}
#main .gallery-wrap p{margin:0 0 7px;}
.switcher{
	width:100%;
	overflow:hidden;
	position:relative;
	padding:0 0 10px;
}
.switcher ul{
	padding:0;	margin:0;	list-style:none;
	width:99999px;
	overflow:hidden;
	position:relative;
	font-size:0;
	letter-spacing:-4px;
}
.switcher li{
	float:left;
	position:relative;
	padding:0 4px 8px;
}
.switcher li:after{
	position:absolute;
	top:43px;
	left:3px;
	display:none;
	content:'';
	background:url(../images/sep01.png) no-repeat;
	background-size:42px 4px;
	width:42px;
	height:4px;
}
.switcher li.active:after{display:block;}
.switcher img{vertical-align:top;}
.overview-box{
	position:relative;
	background:#e8f7fa;
	padding:9px 12px 11px;
}
#main .overview-box h1{
	color:#4c4d4f;
	margin:0 0 16px 46px;
	font: 15px/20px 'nobilebold', Arial, Helvetica, sans-serif;
}
.overview-box .box{
	position:relative;
	font-size:15px;
	line-height:18px;
	padding:0 0 28px 45px;
}
.overview-box .box:before{
	position:absolute;
	top:3px;
	left:1px;
	content:'';
	width:32px;
	height:32px;
	background:url(../images/accordion-icos.png) -88px 0 no-repeat;
}
.overview-box .title{
	display:block;
	margin:0 0 2px;
	font-family:'nobilebold', Arial, Helvetica, sans-serif;
	font-weight:normal;
}
.overview-box .list{
	padding:0;	margin:0;	list-style:none;
}
.btns-holder{
	position:relative;
	padding:8px 10px 7px;
	text-align:center;
	color:#4c4d4f;
	font-size:12px;
	line-height:13px;
}
.btns-holder .btn{
	display:block;
	width:228px;
	margin:0 auto 4px;
}
.btns-holder .btn img{vertical-align:top;}
.btns-holder p{margin:0 0 2px;}
.price-block{
	padding:12px 8px 4px;
	position:relative;
	background:#e43157;
	width:296px;
	margin:0 auto 10px;
	font-size:12px;
	line-height:16px;
	color:#4c4d4f;
}
.price-block .opener{
	display:block;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	position:relative;
	font:16px/20px 'nobilebold', Arial, Helvetica, sans-serif;
	padding:0 20px 0 36px;
	margin:0 0 7px;
}
.price-block .opener:after{
	background:none;
	height:0;
	width:0;
	top:3px;
	right:-2px;
	position:absolute;
	border: solid transparent;
	content: " ";
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 8px;
}
.price-block .opener:before{
	background:none;
	height:0;
	width:0;
	display:none;
	top:0;
	right:-1px;
	position:absolute;
	border: solid transparent;
	content: " ";
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 7px;
}
.price-block.selected .opener:after{display:none;}
.price-block.selected .opener:before{display:block;}
.price-block:before,
.price-block:after{
	position:absolute;
	top:0;
	left:0;
	content:'';
	width:100%;
	background:url(../images/bg-price-block.png) no-repeat;
	background-size:312px 14px;
	height:8px;
}
.price-block:after{
	background-position:0 -12px;
	height:2px;
	top:auto;
	bottom:0;
}
.price-block .slide{
	background:#fff;
	display:none;
	position:relative;
	padding:12px 8px 4px;
	margin:0 0 3px;
}
.price-block table{
	border-collapse:collapse;
	width:auto;
	margin:0 0 6px;
}
.price-block th{
	text-align:left;
	font-weight:normal;
	padding:0 0 9px;
	font-family:'nobilebold', Arial, Helvetica, sans-serif;
}
.price-block .retailer{width:104px;}
.price-block .price{width:102px;}
.price-block .link-2{width:75px;}
.price-block td{
	border-bottom:1px solid #e1e1e1;
	padding:6px 0;
}
.price-block tr.last td{border:none;}
.price-block td .link-2{
	text-decoration:none;
	padding:0 9px 0 0;
	background:url(../images/arrow01.png) 100% 6px no-repeat;
	background-size:6px 8px;
}
.btn-find{
	display:block;
	margin:0 auto 9px;
	background:url(../images/btn.png) -364px 0 no-repeat;
	background-size: 756px 87px;
	width:242px;
	padding:11px 26px 11px 44px;
	text-transform:uppercase;
	position:relative;
	text-decoration:none;
	color:#fff;
	font:16px/20px 'nobilebold', Arial, Helvetica, sans-serif;
}
.btn-find:after{
	background:none;
	height:0;
	width:0;
	top:50%;
	margin:-9px 0 0;
	right:4px;
	position:absolute;
	border: solid transparent;
	content: " ";
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 8px;
}
.download-block{
	background:#e8f7fa;
	margin:4px 0 5px;
	padding:9px 4px 1px;
}
.download-block .box{
	background:#fff;
	padding:5px 15px 8px 8px;
	position:relative;
	z-index:2;
	font-size:15px;
	line-height:18px;
	color:#4c4d4f;
	margin:0 0 8px;
}
.download-block .box:after{
	content:'';	display:block;	clear:both;
}
.download-block .txt-box{overflow:hidden;}
.download-block .img-box{
	float:left;
	position:relative;
	margin:1px 23px 0 0;
}
.download-block .img-box:before,
.download-block .img-box:after{
	content:"";
	position:absolute;
	z-index:-2;
	bottom:8px;
	left:3px;
	width:46%;
	height:20%;
	max-width:300px;
	-webkit-box-shadow:0 4px 7px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 4px 7px rgba(0, 0, 0, 0.5);
	box-shadow:0 4px 7px rgba(0, 0, 0, 0.5);
	-webkit-transform:rotate(-3deg);
	-moz-transform:rotate(-3deg);
	-ms-transform:rotate(-3deg);
	-o-transform:rotate(-3deg);
	transform:rotate(-3deg);
}
.download-block .img-box:after{
	right:3px;
	left:auto;
	-webkit-transform:rotate(3deg);
	-moz-transform:rotate(3deg);
	-ms-transform:rotate(3deg);
	-o-transform:rotate(3deg);
	transform:rotate(3deg);
}
#main .download-block p{margin:0 0 7px;}
.download-block .btn-download{
	display:block;
	width:164px;
	padding:10px;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
	background:url(../images/btn.png) -166px 0 no-repeat;
	background-size: 756px 87px;
	font:15px/20px 'nobilebold', Arial, Helvetica, sans-serif;
}
.download-block .title{
	display:block;
	font-weight:normal;
	margin:0 0 3px;
	font-family: 'nobilebold', Arial, Helvetica, sans-serif;
}
.brochure-box{
	background:#a3deed;
	overflow:hidden;
	padding:9px 13px 10px 56px;
}
.brochure-box .btn{
	color:#fff;
	float:left;
	text-decoration:none;
	font:15px/20px 'nobilebold', Arial, Helvetica, sans-serif;
}
.brochure-box .btn-top{
	float:right;
	text-indent:-9999px;
	overflow:hidden;
	width:14px;
	height:20px;
	position:relative;
}
.brochure-box .btn-top:after{
	background:none;
	height:0;
	width:0;
	top:1px;
	left:0;
	position:absolute;
	border: solid transparent;
	content: " ";
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 7px;
}
.contact-box{
	background:#e8f7fa;
	margin:0 0 8px;
	padding:2px 20px 10px 32px;
	font:12px/15px 'nobileregular', Arial, Helvetica, sans-serif;
}
.contact-box .phone{
	display:block;
	font:28px/32px 'nobilebold', Arial, Helvetica, sans-serif;
	padding:2px 0 3px 24px;
	margin:0 0 10px;
	position:relative;
}
.contact-box .phone:before{
	position:absolute;
	content:'';
	left:1px;
	top:50%;
	background:url(../images/phone-ico.png) no-repeat;
	width:16px;
	height:26px;
	margin:-11px 0 0;
}
.contact-box .title{
	display:block;
	padding:0 0 4px 24px;
	font-weight:normal;
	font-family:'nobilebold', Arial, Helvetica, sans-serif;
}
.contact-box .schedule{
	margin:0;
	overflow:hidden;
	padding:0 0 0 24px;
}
.contact-box .schedule dt{
	float:left;
	width:44px;
	padding:0 10px 0 0;
}
.contact-box .schedule dd{
	margin:0 0 3px;
	overflow:hidden;
}
.info-block{
	margin:0 4px 8px;
	overflow:hidden;
	position:relative;
	background:#f5f5f5;
	font-size:15px;
	line-height:18px;
	padding:14px 10px 14px 26px;
}
.info-block .alignleft{
	float:left;
	margin:2px 26px 0 0;
}
.info-block .alignleft img{vertical-align:top;}
.info-block .txt-holder{
	overflow:hidden;
	position:relative;
}
#main .info-block .txt-holder p{margin:0 0 19px;}
.info-block a{
	font-family:'nobilebold', Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.info-block a:hover{text-decoration:underline;}
.article{
	padding:14px 4px 10px;
	font-size:12px;
	line-height:15px;
}
#main .article p{margin:0 0 12px;}
.article .video-box{
	margin:0 auto 8px;
	width:312px;
}
.article .video-box img{vertical-align:top;}
.article .btn-back{
	display:block;
	width:100%;
	-moz-box-sizing:border-box;	-webkit-box-sizing:border-box;	box-sizing:border-box;
	color:#4c4d4f;
	text-decoration:none;
	background:#e8f7fa;
	margin:0 0 5px;
	position:relative;
	padding:10px 20px 11px 49px;
	font: 15px/20px 'nobilebold', Arial, Helvetica, sans-serif;
}
.article .btn-back:before{
	background:none;
	height:0;
	width:0;
	top:50%;
	margin:-8px 0 0;
	left:3px;
	position:absolute;
	border: solid transparent;
	content: " ";
	pointer-events: none;
	border-color: rgba(77, 76, 79, 0);
	border-right-color: #4c4d4f;
	border-width: 7px;
}
.step-box{
	position:relative;
	overflow:hidden;
	padding:10px 0 2px;
}
.step-box .title{
	display:block;
	text-transform:uppercase;
	font: 15px/20px 'nobilebold', Arial, Helvetica, sans-serif;
	color:#a3deed;
	margin:0 0 10px;
	padding:0 20px 6px 8px;
}
.accordion.alter .opener:before{display:none;}
.accordion.alter .opener:after{
	background:url(../images/arrow02.png) no-repeat;
	background-size:10px 15px;
	width:10px;
	height:15px;
}
.accordion.alter .slide{
	padding:14px 8px 0;
	font: 12px/15px 'nobileregular', Arial, Helvetica, sans-serif;
}
#main .accordion.alter .slide p{margin:0 0 14px;}
.accordion .item-list,
.item-list{
	padding:0 0 28px 27px;	list-style:none;
	margin:0;
}
.accordion .item-list li,
.item-list li{
	padding:0 0 0 43px;
	margin:0 0 8px;
	position:relative;
	height:32px;
	width:100%;
	-moz-box-sizing:border-box;	-webkit-box-sizing:border-box;	box-sizing:border-box;
	white-space:nowrap;
}
.accordion .item-list li:after,
.item-list li:after{
	content:'';
	display:inline-block;
	height:100%;
	width:1px;
	overflow:hidden;
	margin:0 0 0 -5px;
	vertical-align:middle;
}
.accordion .item-list li span,
.item-list li span{
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
}
.accordion .item-list li:before,
.item-list li:before{
	position:absolute;
	content:'';
	left:0;
	top:0;
	width:32px;
	height:32px;
	background:url(../images/bullet01.png) no-repeat;
	background-size:32px 32px;
}
.location-form{
	overflow:hidden;
	padding:17px 0 38px;
	position:relative;
	margin:0 -1px;
}
.search-form input[type="submit"],
.location-form input[type="submit"]{
	float:right;
	background:url(../images/btn.png) -684px 0 no-repeat;
	background-size: 756px 87px;
	color:#fff;
	width:72px;
	height:37px;
	padding:0 0 2px;
	margin:0 0 0 6px;
	border:none;
	font:bold 15px/36px Arial, Helvetica, sans-serif;
}
input[type="submit"]:hover{cursor:pointer;}
.search-form input[type="text"],
.location-form input[type="text"]{
	float:left;
	border-radius:3px;
	border:2px solid #a3deed;
	background:#fff;
	padding:7px 11px 8px;
	color:#a5a6a7;
	height:20px;
	width:201px;
	font:bold italic 15px/20px Arial, Helvetica, sans-serif;
}
.location-form text{overflow:hidden;}
.results-box{
	background:#f5f5f5;
	border-top:8px solid #fff;
	margin:0;
	padding:12px 4px 2px 3px;
}
.results-box .title{
	display:block;
	font: 15px/20px 'nobilebold', Arial, Helvetica, sans-serif;
	color:#e43157;
	margin:0 0 42px;
	padding:0 0 4px;
}
.results-box .results-list{
	padding:0;	margin:0;	list-style:none;
	font-size:12px;
	line-height:15px;
	position:relative;
}
.results-box .results-list li{
	border-bottom:4px solid #fff;
	padding:0 0 8px;
	margin:0 0 7px;
	overflow:hidden;
}
.results-box .results-list .info{
	float:left;
	margin:2px 0 0;
	padding:0 20px 0 9px;
	width:27px;
}
.results-box .results-list .number{
	width:17px;
	padding:5px 5px 6px;
	font:12px/16px 'nobilebold', Arial, Helvetica, sans-serif;
	text-align:center;
	color:#fff;
	background:#e43157;
	display:block;
	margin:0 0 6px;
}
.results-box .results-list .btn-question{
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/question-ico.png) no-repeat;
	background-size:27px 37px;
	width:27px;
	height:37px;
}
.results-box .results-list .txt-box{
	overflow:hidden;
	position:relative;
}
.results-box .results-list .caption{
	display:block;
	margin:0 0 1px;
	font: 12px/16px 'nobilebold', Arial, Helvetica, sans-serif;
}
.results-box .results-list .distance{
	display:block;
	margin:0 0 3px;
}
.results-box .results-list .contacts{
	margin:0;
	padding:0 0 2px;
}
.results-box .results-list .contacts dt{
	display:block;
	padding:0 0 3px;
	font: 9px/12px 'nobilebold', Arial, Helvetica, sans-serif;
}
.results-box .results-list .contacts dd{
	display:block;
	margin:0 0 4px;
	font-size:15px;
	line-height:18px;
}
.results-box .results-list .btn-details{
	color:#fff;
	display:block;
	text-transform:uppercase;
	position:relative;
	background:url(../images/btn.png) 0 -47px no-repeat;
	background-size: 756px 87px;
	width:270px;
	padding:10px 26px 10px 16px;
	font: 15px/20px 'nobilebold', Arial, Helvetica, sans-serif;
}
.results-box .results-list .btn-details:after{
	border-left-color:#fff;
	right:8px;
}
.results-box .results-list .holder{
	overflow:hidden;
	position:relative;
}
.accordion .partners{
	text-align:center;
	position:relative;
	font-size:0;
	margin:-3px 0 0;
	letter-spacing:-4px;
}
.accordion .partners li{
	display:inline-block;
	vertical-align:middle;
	width:116px;
	margin:0 10px 21px;
}
.accordion .partners a{
	display:inline;
	border:none;
	padding:0;
}
.accordion .partners a:after{display:none;}
.accordion .partners img{vertical-align:middle;}
.accordion.alternative .opener:before{display:none;}
.accordion.alternative .opener{padding-left:20px;}
.accordion.alternative .slide{
	padding:9px 4px 1px;
	position:relative;
	font-family: 'nobileregular', Arial, Helvetica, sans-serif;
}
.accordion.alternative .btn-list{
	position:relative;
	margin:0 0 -1px;
	font:15px/20px 'nobilebold', Arial, Helvetica, sans-serif;
}
.accordion.alternative .btn-list li{
	padding:0 0 8px;
}
.accordion.alternative .btn-list a{
	display:block;
	position:static;
	color:#fff;
	border:none;
	background:url(../images/btn.png) 0 -47px no-repeat;
	background-size: 756px 87px;
	width:270px;
	padding:10px 26px 10px 16px;
	text-transform:uppercase;
}
.accordion.alternative .btn-list a:after{display:none;}
.accordion.alternative{margin:4px 0 0;}
.accordion.alternative .contact-box{padding:0 20px 0 26px;}
.search-form{
	background:#e8f7fa;
	overflow:hidden;
	padding:7px 8px 6px 6px;
}
.results-block{
	overflow:hidden;
	position:relative;
	padding:14px 0 0;
}
.results-block .title{
	text-transform:uppercase;
	display:block;
	color:#e43157;
	padding:0 0 37px 8px;
	font:15px/20px 'nobilebold', Arial, Helvetica, sans-serif;
}
#main .results-block h1{
	text-align:center;
	color:#e43157;
	margin:0 0 12px;
	font:15px/20px 'nobilebold', Arial, Helvetica, sans-serif;
}
.results-block .carousel{
	width:100%;
	overflow:hidden;
	padding:0 0 27px;
}
.results-block .holder{
	position:relative;
	width:100%;
	padding:0 0 17px;
}
.results-block .holder .btn-next{
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	top:14px;
	right:23px;
	background:url(../images/arrow03.png) no-repeat;
	width:29px;
	height:57px;
	background-size:29px 57px;
}
.results-block .frame{
	margin:0 auto;
	overflow:hidden;
	position:relative;
	width:94px;
}
.results-block .slideset{
	width:999999px;
	overflow:hidden;
	position:relative;
}
.results-block .slide{float:left;}
.faq-list{
	padding:0;	margin:0 0 9px;	list-style:none;
	font:15px/20px 'nobilebold', Arial, Helvetica, sans-serif;
}
.faq-list li{
	border-top:1px solid #fff;
	position:relative;
}
.faq-list a{
	display:block;
	color:#fff;
	position:relative;
	background:#a3deed;
	text-decoration:none;
	padding:10px 30px 9px 53px;
}
.faq-list a:after{
	height:0;
	width:0;
	position:absolute;
	top:50%;
	margin:-8px 0 0;
	right:13px;
	content:'';
	border: solid transparent;
	pointer-events: none;
	border-width: 7px;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
}
.accordion.faq .opener:before{display:none;}
.accordion.faq .opener{
	font-size:15px;
	padding:10px 37px 12px 53px;
	line-height:18px;
}
.accordion.faq .slide{
	font:13px/15px 'nobileregular', Arial, Helvetica, sans-serif;
	padding:9px 20px 1px 53px;
}
#main .accordion.faq p{margin:0 0 10px;}
.social-block{
	margin:4px 0 14px;
	background:#e8f7fa;
	padding:13px 9px 4px;
	font-size:12px;
	line-height:15px;
}
#main .social-block p{margin:0 0 27px;}
.social{
	padding:0 0 7px;	margin:0;	list-style:none;
}
.social li{
	position:relative;
	padding:0 0 15px;
}
.social a{
	display:block;
	margin:0 auto;
	text-indent:-9999px;
	overflow:hidden;
}
.social .facebook{
	width:53px;
	height:52px;
	background:url(../images/bg-social.png) -38px 0 no-repeat;
}
.social .twitter{
	width:52px;
	height:53px;
	background:url(../images/bg-social.png) -39px -66px no-repeat;
}
.social .pinterest{
	width:53px;
	height:53px;
	background:url(../images/bg-social.png) -38px -134px no-repeat;
}
.social .youtube{
	width:126px;
	height:52px;
	background:url(../images/bg-social.png) 0 -202px no-repeat;
}
/* hide original element */
.jcf-hidden {
	display: block !important;
	position: absolute !important;
	left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom select styles */
.select-area {
	position: relative;
	overflow: hidden;
	cursor: default;
	height: 40px;
	float: left;
	width:100% !important;
	background:#a3deed;
}
.select-focus {
	border-color: #f00;
}
.select-area .left{
	float:left;
	width:37px;
	height:40px;
	position:relative;
}
.select-area .left:before{
	position:absolute;
	content:'';
	top:50%;
	right:0;
	margin:-12px 0 0;
	width:25px;
	height:25px;
	background:url(../images/accordion-icos.png) no-repeat;
}
.select-area .center {
	white-space: nowrap;
	padding:9px 16px 11px;
	float:left;
	color:#fff;
	font: 15px/20px 'nobilebold', Arial, Helvetica, sans-serif;
}
.select-disabled {
	background: #eee;
}
.select-area .select-opener {
	position: absolute;
	height: 40px;
	width: 30px;
	right: 0;
	top: 0;
}
.select-area .select-opener:before{
	position:absolute;
	content:'';
	top:50%;
	left:0;
	margin:-6px 0 0;
	width:13px;
	height:13px;
	background:url(../images/accordion-icos.png) -37px 0 no-repeat;
}
.select-options {
	position: absolute;
	overflow: hidden;
	z-index: 2000;
}
.select-options .drop-holder {
	border: 2px solid #fff;
	overflow: hidden;
	height: 1%;
	background:#a3deed;
}
.select-options ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font: 15px/20px 'nobilebold', Arial, Helvetica, sans-serif;
}
.select-options ul li {
	width: 100%;
	float: left;
}
.select-options ul a {
	text-decoration: none;
	padding: 10px 42px;
	display: block;
	cursor: default;
	color: #fff;
	height: 1%;
}
.select-options .item-selected a {
	text-decoration: none;
	background: #fff;
	color: #a3deed;
}
@media
( -webkit-min-device-pixel-ratio : 1.5 ),
( min-resolution : 144dpi ){
	.logo{
		background:url(../images/logo2x.png) no-repeat;
		background-size:100px 49px;
	}
	.select-area .left:before,
	.accordion > li > .opener:before{
		background:url(../images/accordion-icos2x.png) no-repeat;
		background-size:120px 32px;
	}
	.select-area .select-opener:before,
	.accordion .opener:after{
		background:url(../images/accordion-icos2x.png) -36px 0 no-repeat;
		background-size:120px 32px;
	}
	.accordion ul .opener:after{background-position:-64px 0;}
	.overview-box .box:before{
		background:url(../images/accordion-icos2x.png) -89px 0 no-repeat;
		background-size:120px 32px;
	}
	.accordion .pdf-list a:before{
		background:url(../images/pdf-ico2x.png) no-repeat;
		background-size:40px 41px;
	}
	.contact-box .phone:before{
		background:url(../images/phone-ico2x.png) no-repeat;
		background-size:16px 26px;
	}
	.social .facebook{
		background:url(../images/bg-social.png) -38px 0 no-repeat;
		background-size:125px 254px;
	}
	.social .twitter{
		background:url(../images/bg-social.png) -39px -67px no-repeat;
		background-size:125px 254px;
	}
	.social .pinterest{
		background:url(../images/bg-social.png) -37px -135px no-repeat;
		background-size:125px 254px;
	}
	.social .youtube{
		background:url(../images/bg-social.png) 0 -203px no-repeat;
		background-size:125px 254px;
	}
}