#main>div.section>form>div.block.filter-box.filter-box-fourth{width:950px}#main>div.section>form>div.block.filter-box.filter-box-fourth .row-area{float:left}#main>div.section>form>div.block.filter-box.filter-box-fourth .row-check,#main>div.section>form>div.block.filter-box.filter-box-fourth .row-check-2{width:200px;border:none}#main>div.section>form>div.block.filter-box.filter-box-fourth .chk-area{margin:5px 20px 0px 5px}#nav{float:left;list-style:none}#nav li{float:left;margin:0px 43px 0px 0px}.description{position:relative}.description .box{position:relative}.request-brochure h4{display:block;width:200px;color:#000;text-decoration:none;text-transform:uppercase;text-align:center;margin:0px auto 0px auto;padding:0px 0px 7px 0px;border-bottom-color:#000 \0/!important;border-bottom-style:solid\0/ !important;border-bottom-width:1px\0/ !important}
/*# sourceMappingURL=ie.css.map */
