/*********************
CLEARFIX - http://nicolasgallagher.com/micro-clearfix-hack/
*********************/
@import url(//fonts.googleapis.com/css?family=Open+Sans);
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

/*********************
IMAGES
*********************/
.img-border {
  border: 1px solid #CCC;
  padding: 5px; }

.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px; }

/*********************
TYPOGRAPHY
*********************/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Arial, serif !important;
  font-style: italic; }

.mobile-only,
tr.mobile-only,
th.mobile-only,
td.mobile-only {
  display: none !important; }

@media only screen and (max-width: 767px) {
  .mobile-only {
    display: block !important; }
  tr.mobile-only {
    display: table-row !important; }
  th.mobile-only,
  td.mobile-only {
    display: table-cell !important; } }

.mobile-hide {
  display: block !important; }

tr.mobile-hide {
  display: table-row !important; }

th.mobile-hide,
td.mobile-hide {
  display: table-cell !important; }

@media only screen and (max-width: 767px) {
  .mobile-hide,
  tr.mobile-hide,
  th.mobile-hide,
  td.mobile-hide {
    display: none !important; } }

.tablet-only,
tr.tablet-only,
th.tablet-only,
td.tablet-only {
  display: none !important; }

@media only screen and (min-width: 767px) and (max-width: 767px) {
  .tablet-only {
    display: block !important; }
  tr.tablet-only {
    display: table-row !important; }
  th.tablet-only,
  td.tablet-only {
    display: table-cell !important; } }

.tablet-hide {
  display: block !important; }

tr.tablet-hide {
  display: table-row !important; }

th.tablet-hide,
td.tablet-hide {
  display: table-cell !important; }

@media only screen and (min-width: 767px) and (max-width: 767px) {
  .tablet-hide,
  tr.tablet-hide,
  th.tablet-hide,
  td.tablet-hide {
    display: none !important; } }

.desktop-only,
tr.desktop-only,
th.desktop-only,
td.desktop-only {
  display: none !important; }

@media only screen and (min-width: 767px) {
  .desktop-only {
    display: block !important; }
  tr.desktop-only {
    display: table-row !important; }
  th.desktop-only,
  td.desktop-only {
    display: table-cell !important; } }

.desktop-hide {
  display: block !important; }

tr.desktop-hide {
  display: table-row !important; }

th.desktop-hide,
td.desktop-hide {
  display: table-cell !important; }

@media only screen and (min-width: 767px) {
  .desktop-hide,
  tr.desktop-hide,
  th.desktop-hide,
  td.desktop-hide {
    display: none !important; } }

/******************************************************************
 UTILITY STYLES
******************************************************************/
.float-left {
  float: left; }

.float-none {
  float: none; }

.float-right {
  float: right; }

.clear-left {
  clear: left; }

.clear-both {
  clear: both; }

.clear-right {
  clear: right; }

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/*********************
TRANSITION
*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*********************/
/*********************
ANIMATION
*
Compass CSS3 mixins don't yet handle vendor prefixes for CSS animations, so this is a very simple mixin to simulate that functionality.
*********************/
/*********************
VERTICAL ALIGN DYNAMIC HEIGHT - http://css-tricks.com/centering-in-the-unknown/
*********************/
/*********************
TEXT TRUNCATION
*********************/
/*********************
GRAYSCALE
*********************/
/*********************
TRANSPARENT BG-COLOR
*********************/
/*********************
CSS3 GRADIENTS
*
Be careful with these since they can
really slow down your CSS. Don't overdue it.
USAGE: @include css-gradient(#dfdfdf,#f8f8f8);
*********************/
@font-face {
  font-family: 'lola';
  src: url("/assets/new world/fonts/fs_lola-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/assets/new world/fonts/fs_lola-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/new world/fonts/fs_lola-regular-webfont.woff") format("woff"), url("/assets/new world/fonts/fs_lola-regular-webfont.ttf") format("truetype"), url("/assets/new world/fonts/fs_lola-regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

h1, h2, h3, .h1, .h2, .h3 {
  font-family: 'lola', sans-serif; }

h4, .h4, h5, .h5, h6, .h6, body {
  font-family: 'Open Sans', sans-serif; }

@media only screen and (max-width: 767px) {
  h1, .h1 {
    font-size: 32px;
    font-size: 2rem; } }

@media only screen and (min-width: 767px) {
  h1, .h1 {
    font-size: 43px;
    font-size: 2.6875rem; } }

@media only screen and (max-width: 767px) {
  h2, .h2 {
    font-size: 28px;
    font-size: 1.75rem; } }

@media only screen and (min-width: 767px) {
  h2, .h2 {
    font-size: 33px;
    font-size: 2.0625rem; } }

h3, .h3 {
  font-size: 24px;
  font-size: 1.5rem; }

h4, .h4 {
  font-size: 19px;
  font-size: 1.1875rem; }

h5, .h5 {
  font-size: 19px;
  font-size: 1.1875rem; }

h6, .h6 {
  font-size: 18px;
  font-size: 1.125rem; }

p {
  font-size: 18px;
  font-size: 1.125rem; }

h1, .h1, h2, .h2, h4, .h4, h6, .h6 {
  font-weight: bold; }

h3, .h3, h5, .h5 {
  font-weight: normal; }

body {
  font-weight: 200;
  color: #949599; }

p {
  opacity: .75; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  letter-spacing: 0px;
  font-weight: bold;
  color: #FAB205; }

.header-copy {
  padding-bottom: 50px;
  opacity: 0.5; }

h1, .h1 {
  line-height: 40px; }

h2, .h2 {
  line-height: 32px; }

@media only screen and (max-width: 767px) {
  html {
    font-size: 14px; } }

@media only screen and (min-width: 767px) {
  html {
    font-size: 14px; } }

@media only screen and (min-width: 990px) {
  html {
    font-size: 16px; } }

a:link, a:visited {
  text-decoration: none;
  opacity: 1;
  color: #949599;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

a:hover, a:active {
  text-decoration: underline; }

#logo a:hover, #logo a:active {
  opacity: 1; }

.btn-default {
  border: 2px solid rgba(146, 150, 151, 0.5);
  background-color: transparent; }
  .btn-default:hover, .btn-default:focus, .btn-default.active {
    color: #949599;
    background-color: transparent;
    border: 2px solid #929697; }

.btn-black {
  border: 2px solid rgba(146, 150, 151, 0.5);
  background-color: transparent; }
  .btn-black:hover, .btn-black:focus, .btn-black.active {
    color: #949599;
    background-color: transparent;
    border: 2px solid #929697; }

a.btn-black {
  opacity: 1; }
  a.btn-black:hover, a.btn-black:focus, a.btn-black.active {
    color: #949599;
    background-color: transparent;
    border: 2px solid #929697; }

a.btn-default {
  opacity: 1; }
  a.btn-default:hover, a.btn-default:focus, a.btn-default.active {
    color: #949599;
    background-color: transparent;
    border: 2px solid #929697; }

.btn-green {
  border: 2px solid #8bc75a;
  background-color: #8bc75a;
  color: white; }
  .btn-green:hover, .btn-green:focus, .btn-green.active {
    background-color: transparent;
    border: 2px solid #8bc75a;
    color: #8bc75a; }

a.btn-green {
  opacity: 1;
  color: white; }
  a.btn-green:hover, a.btn-green:focus, a.btn-green.active {
    background-color: transparent;
    border: 2px solid #8bc75a;
    color: #8bc75a; }

.btn {
  font-weight: bold;
  padding: 9px 15px; }

.hero-text {
  padding-bottom: 30px; }

.arrow-down {
  width: 22px; }

.contact .icon {
  cursor: pointer;
  padding-left: 10px; }
  .contact .icon img {
    width: 20px; }

.contact h4 {
  font-weight: bold; }

.icon {
  cursor: pointer; }
  .icon img {
    width: 20px; }

.panel-title {
  width: 100%;
  display: inline-block; }

.panel, .panel-default {
  border-bottom: thin solid #929697; }

.grey-background {
  background-color: #EEF3F7; }

.pagination > li > a,
.pagination > li > span {
  color: #FAB205;
  background-color: #ffffff;
  border: 1px solid #949599;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  opacity: .5;
  color: #FAB205;
  background-color: white;
  border-color: #FAB205; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #ffffff;
  background-color: #FAB205;
  border-color: #FAB205; }

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd; }

.blog-topback {
  background-image: url(/media/623288/blog-background.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .blog-topback .blog-filters .filter {
    color: #fff; }
  .blog-topback .blog-header h1 {
    padding-top: 30px; }
  .blog-topback .filter {
    color: #fff; }
  .blog-topback a {
    color: #fff; }
  .blog-topback .blog-row-filter {
    border-color: #fff; }

.general-head {
  margin-bottom: 20px; }
  .general-head h1 {
    margin-bottom: 0; }
  .general-head p {
    opacity: 0.5; }

#back-news {
  float: right;
  font-family: "Open Sans", sans-serif;
  margin-top: 23px;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 14px;
  font-size: 0.875rem;
  color: #949599;
  text-align: right; }
  #back-news a:link, #back-news a:visited {
    text-decoration: underline;
    color: #949599;
    opacity: .5; }
  #back-news a:hover, #back-news a:active {
    text-decoration: none;
    color: #949599; }

.article-title {
  float: left;
  margin: 30px 0;
  width: 100%; }

.blog-header {
  color: #FAB205; }
  .blog-header h1, .blog-header h5 {
    color: #FAB205; }
  .blog-header h1 {
    padding-top: 30px; }

.blog-row {
  border-bottom: thin #949599 solid;
  margin-bottom: 40px; }

.blog-row-filter {
  border-bottom: thin #949599 solid;
  margin-bottom: 30px;
  padding-bottom: 30px; }
  .blog-row-filter .filter {
    color: #949599;
    margin-bottom: 50px;
    margin-right: 15px;
    font-family: "Open Sans", sans-serif; }
  .blog-row-filter .blog-item-title {
    font-weight: bold;
    margin-right: 15px; }

.recipe-list {
  list-style: none;
  margin-left: 0; }
  .recipe-list li p {
    margin: 8px 0; }

.blog-item .blog-item-title {
  font-weight: normal; }

#national-retailers h3 {
  text-transform: uppercase; }

#events h4, #events .h4 {
  font-size: 24px;
  font-size: 1.5rem; }

#events h6, #events .h6 {
  margin: 0;
  font-size: 14px;
  font-size: 0.875rem; }

#events .event-title {
  margin: 0 0 25px; }

#events .event-show-info {
  border-bottom: 1px solid #929697;
  padding: 10px 0 10px; }
  #events .event-show-info h6 {
    opacity: 0.5; }

#events .right-icon img, #events .right-icon svg {
  min-width: 14px;
  max-width: 14px;
  width: 100%; }

#events .right-icon svg path, #events .right-icon svg polygon {
  fill: #FAB205; }

#events .share-article {
  padding-top: 0px; }
  #events .share-article .fa {
    margin-right: 5px;
    margin-left: 0px; }

#events .calandar-row {
  border-bottom: thin solid #929697; }

.calendar {
  background-color: #7cbae3; }

.navbar {
  margin: 40px auto 45px; }

.navbar-default {
  background-color: white;
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: #949599;
  text-decoration: none;
  opacity: 1; }

.navbar-default .navbar-nav > li > a:hover {
  opacity: 0.5;
  background-color: transparent;
  color: #FAB205;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  color: #949599;
  background-color: #F9F9F9; }

#search-nav {
  background-color: #F9F9F9;
  color: #949599; }
  #search-nav .form-control {
    border-left: thin solid #949599; }

#categories, #whybuy {
  background-color: #F9F9F9;
  color: #949599; }

@media only screen and (min-width: 767px) {
  .top-navbar li:nth-child(2) a {
    padding-right: 37px; } }

.topnav-drop h4 {
  font-weight: 700;
  color: #FAB205;
  font-size: 16px;
  font-size: 1rem; }

.topnav-drop ul {
  color: #949599; }
  .topnav-drop ul li > a {
    color: #949599; }

.search-icon {
  fill: #FAB205; }

.top-navbar li:nth-child(4), .top-navbar li:nth-child(5) {
  transition: all 0.3s ease-in-out;
  margin-top: 4px; }
  .top-navbar li:nth-child(4) a, .top-navbar li:nth-child(5) a {
    color: #fff !important;
    background: #FAB205 !important; }
    @media only screen and (max-width: 767px) {
      .top-navbar li:nth-child(4) a, .top-navbar li:nth-child(5) a {
        background: none !important;
        color: #949599 !important; } }
    @media only screen and (min-width: 767px) {
      .top-navbar li:nth-child(4) a, .top-navbar li:nth-child(5) a {
        padding: 6px 10px; } }
    .top-navbar li:nth-child(4) a:hover, .top-navbar li:nth-child(5) a:hover {
      background: #7cbae3 !important;
      color: black !important; }
      @media only screen and (max-width: 767px) {
        .top-navbar li:nth-child(4) a:hover, .top-navbar li:nth-child(5) a:hover {
          background: none !important;
          color: #FAB205 !important; } }

header .navbar-default .navbar-nav > li:nth-child(4) {
  margin-right: 11px;
  margin-left: 22px; }
  @media only screen and (max-width: 767px) {
    header .navbar-default .navbar-nav > li:nth-child(4) {
      margin-right: 0;
      margin-left: 0; } }

.arrowDrop {
  width: 12px;
  max-width: 12px;
  position: absolute;
  left: 73%;
  top: 46%; }
  .arrowDropimg {
    width: 12px;
    max-width: 12px; }
  .arrowDrop path, .arrowDrop polygon {
    fill: #949599; }

footer a:link, footer a:visited {
  text-decoration: none;
  color: #949599;
  opacity: 0.5; }

footer a:hover, footer a:active {
  text-decoration: underline;
  opacity: 1; }

footer #home-social a:link, footer #home-social a:visited {
  text-decoration: none;
  color: #949599;
  opacity: 1;
  text-decoration: none; }

footer #home-social a:hover, footer #home-social a:active {
  text-decoration: none;
  opacity: .5;
  color: #7cbae3; }

footer h4, footer .h4 {
  margin: 0;
  font-weight: 700;
  color: #FAB205;
  text-transform: none;
  font-size: 16px;
  font-size: 1rem; }
  footer h4 a:link, footer h4 a:visited, footer .h4 a:link, footer .h4 a:visited {
    color: #FAB205;
    opacity: 1;
    text-decoration: none; }

footer ul {
  margin-top: 10px; }
  footer ul li {
    padding: 2px 0; }

footer #customer-care h4 a {
  color: #FAB205;
  opacity: 0.8; }

#newsletter-desktop .news-icon .svg path {
  fill: #F9F9F9; }

#newsletter-desktop .news-copy h4 {
  font-weight: 700;
  color: white; }

#newsletter-desktop .news-copy p {
  opacity: 1;
  color: white; }

#newsletter-desktop .btn-default {
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-left: none; }
  #newsletter-desktop .btn-default:hover, #newsletter-desktop .btn-default:focus, #newsletter-desktop .btn-default.active {
    border: 2px solid white;
    border-left: none; }

#newsletter-desktop .navbar-form .form-control {
  margin-right: -5px;
  min-height: 41px; }

#newsletter-mobile h4, #newsletter-mobile .h4 {
  color: #F9F9F9; }

#newsletter-mobile svg path, #newsletter-mobile svg polygon {
  fill: #F9F9F9; }

#newsletter-mobile .btn-default {
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.5); }
  #newsletter-mobile .btn-default:hover, #newsletter-mobile .btn-default:focus, #newsletter-mobile .btn-default.active {
    border: 2px solid white; }

.newsletter-background {
  background-color: #FAB205; }

.footer-background {
  background-color: #F9F9F9; }

.copy-text svg path, .copy-text svg polygon, .copy-text svg rect {
  fill: #949599; }

.full-divide {
  border-top: 2px solid #929697; }

footer ul li {
  background: none !important; }

/*.title > h1 {
    text-align: center;
}*/
#home-parallax {
  background-image: url(images/bg.jpg); }

@media only screen and (max-width: 767px) {
  #hero-carousel, .home-banner-text, #hero-carousel .item {
    height: 620px; } }

#hero-carousel .home-banner-text {
  margin-left: 10px; }
  #hero-carousel .home-banner-text h1, #hero-carousel .home-banner-text h2 {
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: bold;
    color: #FAB205; }
  #hero-carousel .home-banner-text .home-content {
    padding-left: 0px; }

#hero-carousel .carousel-indicators {
  display: none;
  margin-left: 5px; }
  @media only screen and (max-width: 767px) {
    #hero-carousel .carousel-indicators {
      bottom: 15px; } }
  @media only screen and (min-width: 767px) {
    #hero-carousel .carousel-indicators {
      bottom: 20px; } }
  @media only screen and (min-width: 990px) {
    #hero-carousel .carousel-indicators {
      bottom: 20px; } }
  #hero-carousel .carousel-indicators li {
    background-color: #D4D4D6;
    border: medium none;
    height: 10px;
    width: 10px; }
  #hero-carousel .carousel-indicators .active {
    background-color: #FAB205; }

@media only screen and (max-width: 767px) {
  #hero-carousel .item {
    background-image: none !important; } }

#social {
  background-color: #F9F9F9; }
  @media only screen and (max-width: 767px) {
    #social {
      padding: 0; } }
  @media only screen and (min-width: 767px) {
    #social {
      padding: 10px 0; } }
  @media only screen and (min-width: 990px) {
    #social {
      padding: 20px 0; } }
  #social .home-social {
    overflow: hidden;
    height: auto;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    color: white;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #social .home-social .social-background {
      background-repeat: no-repeat;
      background-size: 100% auto;
      z-index: 100;
      min-width: 100%;
      width: 100%;
      position: relative;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      @media only screen and (min-width: 767px) {
        #social .home-social .social-background {
          height: 365px;
          bottom: 0; } }
      @media only screen and (min-width: 990px) {
        #social .home-social .social-background {
          height: 420px;
          bottom: 13px; } }
      @media only screen and (min-width: 1250px) {
        #social .home-social .social-background {
          height: 480px;
          bottom: 30px; } }
    #social .home-social img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%; }
    #social .home-social h5 {
      letter-spacing: 1px;
      margin: 0 0 100px;
      font-family: 'Core Sans'; }
    #social .home-social .overlay {
      color: white;
      position: absolute;
      bottom: 0px;
      float: left;
      width: inherit;
      bottom: 110px;
      padding: 0 15px;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      -transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out; }
      @media only screen and (max-width: 767px) {
        #social .home-social .overlay {
          bottom: 105px; } }
      @media only screen and (min-width: 767px) {
        #social .home-social .overlay {
          bottom: 90px; } }
      @media only screen and (min-width: 990px) {
        #social .home-social .overlay {
          bottom: 60px; } }
      @media only screen and (min-width: 1250px) {
        #social .home-social .overlay {
          bottom: 40px; } }
      #social .home-social .overlay h5 {
        display: none; }
      #social .home-social .overlay h2 {
        color: white; }
        @media only screen and (min-width: 767px) {
          #social .home-social .overlay h2 {
            font-size: 20px;
            font-size: 1.25rem; } }
        @media only screen and (min-width: 990px) {
          #social .home-social .overlay h2 {
            font-size: 25px;
            font-size: 1.5625rem; } }
      #social .home-social .overlay .info-icon {
        position: relative; }
        #social .home-social .overlay .info-icon .svg {
          position: absolute;
          top: -130px;
          left: -10px;
          margin-left: 50%;
          width: 20px;
          height: 20px; }
          #social .home-social .overlay .info-icon .svg path {
            fill: #fff; }
          @media only screen and (max-width: 767px) {
            #social .home-social .overlay .info-icon .svg {
              top: -100px; } }
          @media only screen and (min-width: 767px) {
            #social .home-social .overlay .info-icon .svg {
              top: -95px; } }
          @media only screen and (min-width: 990px) {
            #social .home-social .overlay .info-icon .svg {
              top: -120px; } }
          @media only screen and (min-width: 1250px) {
            #social .home-social .overlay .info-icon .svg {
              top: -155px; } }
    #social .home-social .slideIn {
      padding: 20px;
      color: white;
      opacity: 0;
      display: inline-block;
      position: relative;
      float: left;
      width: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      #social .home-social .slideIn a.btn-black, #social .home-social .slideIn a.btn-default {
        opacity: 1;
        color: white;
        border: 2px solid rgba(255, 255, 255, 0.5); }
        #social .home-social .slideIn a.btn-black:hover, #social .home-social .slideIn a.btn-black:focus, #social .home-social .slideIn a.btn-black.active, #social .home-social .slideIn a.btn-default:hover, #social .home-social .slideIn a.btn-default:focus, #social .home-social .slideIn a.btn-default.active {
          background-color: transparent;
          border: 2px solid rgba(255, 255, 255, 0.99);
          color: white; }
      @media only screen and (min-width: 767px) {
        #social .home-social .slideIn {
          bottom: -210px;
          -webkit-transform: translateY(-80px);
          /* Safari */
          transform: translateY(-80px);
          /* Standard syntax */ } }
      @media only screen and (min-width: 990px) {
        #social .home-social .slideIn {
          bottom: -275px;
          -webkit-transform: translateY(-100px);
          /* Safari */
          transform: translateY(-100px);
          /* Standard syntax */ } }
      @media only screen and (min-width: 1250px) {
        #social .home-social .slideIn {
          bottom: -330px; } }
    #social .home-social:hover .social-background {
      opacity: 1; }
      @media only screen and (min-width: 767px) {
        #social .home-social:hover .social-background {
          -webkit-transform: translateY(-105px);
          /* Safari */
          transform: translateY(-105px);
          /* Standard syntax */ } }
      @media only screen and (min-width: 990px) {
        #social .home-social:hover .social-background {
          -webkit-transform: translateY(-100px);
          /* Safari */
          transform: translateY(-100px);
          /* Standard syntax */ } }
    #social .home-social:hover .slideIn {
      opacity: 1; }
  @media only screen and (max-width: 767px) {
    #social .home-social, #social .overlay, #social .slideIn {
      height: 270px; } }
  @media only screen and (min-width: 767px) {
    #social .home-social, #social .overlay, #social .slideIn {
      height: 165px; } }
  @media only screen and (min-width: 990px) {
    #social .home-social, #social .overlay, #social .slideIn {
      height: 210px; } }
  @media only screen and (min-width: 1250px) {
    #social .home-social, #social .overlay, #social .slideIn {
      height: 243.33px; } }

.social-mobile .item {
  background-image: none !important; }
  .social-mobile .item:nth-of-type(1) {
    background-color: #C5A5DF; }
  .social-mobile .item:nth-of-type(2) {
    background-color: #DF4F5C; }
  .social-mobile .item:nth-of-type(3) {
    background-color: #B0CC70; }
  .social-mobile .item a:link, .social-mobile .item a:visited, .social-mobile .item a:focus {
    color: white; }
  .social-mobile .item p {
    opacity: 1; }
  .social-mobile .item h5 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    display: none; }
  .social-mobile .item .btn-default {
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    font-weight: 500; }
    .social-mobile .item .btn-default:hover {
      border-color: white; }

.social-mobile .overlay {
  width: 100% !important; }

.mobile-only .carousel-control svg path, .mobile-only .carousel-control svg polygon {
  fill: white; }

.mobile-only .carousel-caption {
  bottom: unset; }

#product-categories h2 {
  color: #FAB205;
  letter-spacing: 1px; }

#product-categories .product-box {
  position: relative; }
  @media only screen and (max-width: 767px) {
    #product-categories .product-box:nth-child(2), #product-categories .product-box:nth-child(5) {
      background: #f8f8f8; }
      #product-categories .product-box:nth-child(2):hover, #product-categories .product-box:nth-child(5):hover {
        background: #D3DFE9; }
    #product-categories .product-box:nth-child(3), #product-categories .product-box:nth-child(4) {
      background: #f9f9f9; }
      #product-categories .product-box:nth-child(3):hover, #product-categories .product-box:nth-child(4):hover {
        background: #D3DFE9; }
    #product-categories .product-box:nth-child(1) {
      background: #f8f8f8; }
      #product-categories .product-box:nth-child(1):hover {
        background: #D3DFE9; } }
  @media only screen and (min-width: 767px) {
    #product-categories .product-box:nth-child(2), #product-categories .product-box:nth-child(5) {
      background: #f8f8f8; }
      #product-categories .product-box:nth-child(2):hover, #product-categories .product-box:nth-child(5):hover {
        background: #D3DFE9; }
    #product-categories .product-box:nth-child(3), #product-categories .product-box:nth-child(4) {
      background: #f9f9f9; }
      #product-categories .product-box:nth-child(3):hover, #product-categories .product-box:nth-child(4):hover {
        background: #D3DFE9; }
    #product-categories .product-box:nth-child(1) {
      background: #f8f8f8; }
      #product-categories .product-box:nth-child(1):hover {
        background: #D3DFE9; } }
  @media only screen and (max-width: 767px) {
    #product-categories .product-box:nth-child(1) .info-icon img,
    #product-categories .product-box:nth-child(1) .info-icon .svg {
      top: 14px; } }
  @media only screen and (min-width: 767px) {
    #product-categories .product-box:nth-child(1) .info-icon img,
    #product-categories .product-box:nth-child(1) .info-icon .svg {
      top: 14px; } }
  @media only screen and (min-width: 990px) {
    #product-categories .product-box:nth-child(1) .info-icon img,
    #product-categories .product-box:nth-child(1) .info-icon .svg {
      top: 20px; } }

#product-categories .info-icon img,
#product-categories .info-icon .svg {
  padding: 0;
  position: absolute;
  bottom: 26px;
  width: 20px;
  height: 20px; }
  @media only screen and (max-width: 767px) {
    #product-categories .info-icon img,
    #product-categories .info-icon .svg {
      right: 14px; } }
  @media only screen and (min-width: 767px) {
    #product-categories .info-icon img,
    #product-categories .info-icon .svg {
      right: 14px; } }
  @media only screen and (min-width: 990px) {
    #product-categories .info-icon img,
    #product-categories .info-icon .svg {
      right: 20px; } }

.product-box {
  border: thin solid white;
  text-align: center;
  background: #f5f7fa; }
  .product-box:hover {
    background: #D3DFE9; }
  .product-box a:hover, .product-box a:active {
    opacity: 1; }

.p-c-s h5 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem; }

.p-c-l {
  background: #F5F5F5; }
  .p-c-l h5 {
    font-weight: 700; }

#home-wtb .where, #home-wtb .download {
  font-weight: 700;
  color: white; }
  #home-wtb .where svg path, #home-wtb .where svg polygon, #home-wtb .download svg path, #home-wtb .download svg polygon {
    fill: white; }
  #home-wtb .where:hover, #home-wtb .download:hover {
    background: #FAB205;
    opacity: 1; }

#home-wtb .where {
  background-color: #FFCF51; }

#home-wtb .download {
  background-color: #FFCF51; }

#shop {
  background-color: #FAB205;
  text-align: center;
  color: white; }
  @media only screen and (max-width: 767px) {
    #shop {
      padding: 60px 0 0; } }
  @media only screen and (min-width: 767px) {
    #shop {
      padding: 60px 0; } }
  #shop .shopwith {
    width: 80%;
    max-width: 1120px;
    margin: 0 auto;
    background-color: #FAB205; }
    #shop .shopwith .images, #shop .shopwith .text {
      float: left; }
      @media only screen and (max-width: 767px) {
        #shop .shopwith .images, #shop .shopwith .text {
          width: 100%;
          padding: 35px; } }
      @media only screen and (min-width: 767px) {
        #shop .shopwith .images, #shop .shopwith .text {
          width: 50%;
          padding: 55px; } }
      #shop .shopwith .images p, #shop .shopwith .images .svg, #shop .shopwith .text p, #shop .shopwith .text .svg {
        max-width: 260px;
        height: auto;
        margin: 0 auto; }
    @media only screen and (max-width: 767px) {
      #shop .shopwith .text {
        padding: 35px; } }
    @media only screen and (min-width: 767px) {
      #shop .shopwith .text {
        padding-right: 0px;
        padding-top: 35px; } }
    #shop .shopwith #s-i-1, #shop .shopwith #s-i-2 {
      display: block;
      margin: 0 auto; }
      #shop .shopwith #s-i-1 path, #shop .shopwith #s-i-1 polygon, #shop .shopwith #s-i-2 path, #shop .shopwith #s-i-2 polygon {
        fill: white; }
      @media only screen and (max-width: 767px) {
        #shop .shopwith #s-i-1, #shop .shopwith #s-i-2 {
          width: 100%; } }
      @media only screen and (min-width: 767px) {
        #shop .shopwith #s-i-1, #shop .shopwith #s-i-2 {
          width: 100%;
          margin-top: 50px; } }
      @media only screen and (min-width: 990px) {
        #shop .shopwith #s-i-1, #shop .shopwith #s-i-2 {
          width: 300px; } }
    #shop .shopwith .shop-title {
      font-weight: bold;
      line-height: 2rem; }
      @media only screen and (max-width: 767px) {
        #shop .shopwith .shop-title {
          margin-top: 0;
          font-size: 28px;
          font-size: 1.75rem; } }
      @media only screen and (min-width: 767px) {
        #shop .shopwith .shop-title {
          margin-top: 0;
          font-size: 33px;
          font-size: 2.0625rem; } }
      @media only screen and (min-width: 990px) {
        #shop .shopwith .shop-title {
          margin-top: 45px; } }
    #shop .shopwith .text p {
      margin: 20px auto 0px; }
      @media only screen and (max-width: 767px) {
        #shop .shopwith .text p {
          width: 100%; } }
      @media only screen and (min-width: 767px) {
        #shop .shopwith .text p {
          width: 100%; } }
      @media only screen and (min-width: 990px) {
        #shop .shopwith .text p {
          max-width: 300px; } }
    #shop .shopwith .btn {
      width: 100%;
      margin-top: 15px; }
    #shop .shopwith .btn-black {
      color: white;
      border-radius: 5px; }
      @media only screen and (max-width: 767px) {
        #shop .shopwith .btn-black {
          width: 100%; } }
      @media only screen and (min-width: 767px) {
        #shop .shopwith .btn-black {
          width: 100%; } }
      @media only screen and (min-width: 990px) {
        #shop .shopwith .btn-black {
          width: 280px; } }
      #shop .shopwith .btn-black:hover {
        color: white;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.5); }
    #shop .shopwith .btn-black:nth-of-type(1) {
      background-color: #E44D56;
      border: #E44D56; }
      #shop .shopwith .btn-black:nth-of-type(1):hover {
        color: white;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.5); }
    #shop .shopwith .btn-black:nth-of-type(2) {
      background-color: #BF64B4;
      border: #BF64B4; }
      #shop .shopwith .btn-black:nth-of-type(2):hover {
        color: white;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.5); }

#inspire {
  background-image: url("/media/623038/chalkboard.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }
  @media only screen and (max-width: 767px) {
    #inspire {
      padding: 0px; } }
  @media only screen and (min-width: 767px) {
    #inspire {
      padding: 20px 0 50px; } }
  #inspire .btn-default {
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    font-weight: 500; }
    #inspire .btn-default:hover {
      border-color: white; }
  #inspire p.view-all {
    opacity: 1; }
    #inspire p.view-all a:link, #inspire p.view-all a:visited {
      color: #fff;
      opacity: 1;
      text-decoration: underline; }
    #inspire p.view-all a:hover {
      text-decoration: none; }
  #inspire h2, #inspire h5 {
    text-align: center;
    letter-spacing: 1px;
    color: #fff; }
  #inspire h5 {
    margin: 10px 0;
    font-size: 15px;
    font-size: 0.9375rem;
    text-transform: capitalize;
    font-weight: bold; }
  #inspire a {
    text-decoration: none; }
    #inspire a :hover {
      text-decoration: underline; }
  #inspire .inspire-copy {
    min-height: 200px;
    background-color: white; }
    #inspire .inspire-copy h4 {
      color: #C6A1E6;
      margin: 0;
      margin: 0px 0px 10px;
      font-size: 18px;
      font-size: 1.125rem; }
      @media only screen and (min-width: 767px) {
        #inspire .inspire-copy h4 {
          font-size: 20px;
          font-size: 1.25rem; } }
      @media only screen and (min-width: 990px) {
        #inspire .inspire-copy h4 {
          font-size: 18px;
          font-size: 1.125rem; } }
    #inspire .inspire-copy p {
      color: #949599;
      font-size: 14px;
      font-size: 0.875rem; }
      @media only screen and (min-width: 767px) {
        #inspire .inspire-copy p {
          font-size: 16px;
          font-size: 1rem; } }
      @media only screen and (min-width: 990px) {
        #inspire .inspire-copy p {
          font-size: 14px;
          font-size: 0.875rem; } }
  #inspire .inspire-social .fa {
    color: #fff;
    transition: all 0.4s ease-in-out 0s; }
    #inspire .inspire-social .fa:hover {
      opacity: 0.5;
      text-decoration: none; }

.product-info h1 {
  font-size: 32px;
  font-size: 2rem;
  letter-spacing: 3px;
  margin-bottom: 0; }

.product-info svg path, .product-info svg polygon, .product-info svg circle, .product-info .svg path, .product-info .svg polygon, .product-info .svg circle {
  fill: #FAB205; }

#product-buy .scrollable-menu li {
  border-bottom: thin solid #ddd;
  float: left;
  width: 100%; }
  #product-buy .scrollable-menu li a:hover {
    opacity: 1; }
  #product-buy .scrollable-menu li span {
    color: #8BC75A;
    cursor: pointer;
    text-transform: capitalize; }
    #product-buy .scrollable-menu li span:hover {
      color: #8BC75A; }

#product-features .h4, #product-features h4, #product-gallery .h4, #product-gallery h4, #product-specification .h4, #product-specification h4 {
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 767px) {
    #product-features .h4, #product-features h4, #product-gallery .h4, #product-gallery h4, #product-specification .h4, #product-specification h4 {
      font-size: 18px;
      font-size: 1.125rem; } }
  @media only screen and (min-width: 767px) {
    #product-features .h4, #product-features h4, #product-gallery .h4, #product-gallery h4, #product-specification .h4, #product-specification h4 {
      font-size: 30px;
      font-size: 1.875rem; } }

#product-features a:link, #product-features a:visited, #product-features a:hover, #product-gallery a:link, #product-gallery a:visited, #product-gallery a:hover, #product-specification a:link, #product-specification a:visited, #product-specification a:hover {
  color: white; }

#product-gallery .container {
  border-top: 3px solid #929697; }

#product-gallery .h4, #product-gallery h4 {
  margin-bottom: 20px;
  margin-top: 30px; }

#product-gallery .product-image {
  float: left;
  width: 100%; }
  #product-gallery .product-image #gallery {
    width: 100%; }
    #product-gallery .product-image #gallery #bigimages {
      width: 100%;
      float: left;
      padding-bottom: 15px; }
      #product-gallery .product-image #gallery #bigimages img {
        margin-bottom: 0px;
        max-width: 100%;
        max-height: 400px; }
      #product-gallery .product-image #gallery #bigimages .normal {
        display: none;
        text-align: center; }
      #product-gallery .product-image #gallery #bigimages #normal1 {
        display: block;
        text-align: center; }
      @media only screen and (max-width: 767px) {
        #product-gallery .product-image #gallery #bigimages {
          display: none; } }
  #product-gallery .product-image .thumbs-container {
    display: table;
    width: 100%;
    max-width: 900px;
    margin: 0 auto; }
    #product-gallery .product-image .thumbs-container #thumbs {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      #product-gallery .product-image .thumbs-container #thumbs .imgcontainer {
        overflow: hidden;
        padding-bottom: 15px;
        display: inline-block;
        margin: 10px 5px 0px; }
        @media only screen and (max-width: 767px) {
          #product-gallery .product-image .thumbs-container #thumbs .imgcontainer {
            width: auto;
            max-height: 100px; } }
        @media only screen and (min-width: 767px) {
          #product-gallery .product-image .thumbs-container #thumbs .imgcontainer {
            width: 55px;
            height: auto; } }
        #product-gallery .product-image .thumbs-container #thumbs .imgcontainer img {
          width: 100%;
          max-width: 100%;
          margin-bottom: 0rem;
          max-height: 220px; }
          @media only screen and (max-width: 767px) {
            #product-gallery .product-image .thumbs-container #thumbs .imgcontainer img {
              max-width: none;
              max-height: 45px; } }
      #product-gallery .product-image .thumbs-container #thumbs a:link, #product-gallery .product-image .thumbs-container #thumbs a:visited {
        float: left;
        margin-right: 15px; }
        #product-gallery .product-image .thumbs-container #thumbs a:link:last-of-type, #product-gallery .product-image .thumbs-container #thumbs a:visited:last-of-type {
          margin-right: 0; }

#product-features a {
  color: #949599; }

#product-features .full-divide {
  border-top: 1px solid #949599; }

#product-features #feature-collapse {
  border-top: 1px solid #949599; }

#product-specification {
  background-color: #949599;
  color: white; }
  #product-specification .h4 {
    margin: 20px 0;
    cursor: pointer;
    color: white; }
  #product-specification h5, #product-specification .h5 {
    font-weight: bold; }
  #product-specification .arrow-down {
    width: 26px; }
    #product-specification .arrow-down.svg path, #product-specification .arrow-down polygon, #product-specification .arrow-down circle {
      fill: white; }
  #product-specification .list-group-item {
    padding: 10px 0;
    border-left: medium none #949599;
    border-right: medium none #949599;
    border-bottom: medium none #949599;
    border-color: white;
    background-color: unset;
    border-radius: unset; }

.range-head h1 {
  color: white;
  margin-top: 0;
  font-size: 35px;
  font-size: 2.1875rem; }

.range-head p {
  font-weight: 500;
  line-height: 1.4rem; }

.range-head a.btn-default {
  color: #949599;
  border: 2px solid rgba(255, 255, 255, 0.5); }
  .range-head a.btn-default:hover {
    border: 2px solid white; }

.range-head.why-content .mid-content {
  text-align: left;
  padding-top: 0; }
  @media only screen and (max-width: 767px) {
    .range-head.why-content .mid-content {
      text-align: center; } }

.sidebar-offcanvas {
  height: 100vh; }

.product-filters .list-group-item {
  border-bottom: 1px solid #929697; }

.product-filters h6, .product-filters .h6 {
  text-transform: none; }

.product-container {
  border-bottom: thin solid #929697; }
  @media only screen and (min-width: 990px) {
    .product-container:nth-child(odd) {
      border-right: thin solid #929697; } }

.why-buy .why-content .header-image, .why-buy-range .why-content .header-image {
  margin-bottom: 50px; }

.why-buy .background-image, .why-buy-range .background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.why-buy .mib, .why-buy-range .mib {
  background-color: unset;
  padding: 0;
  width: 60%; }

.why-buy .mid-content .h4, .why-buy .mid-content h4, .why-buy-range .mid-content .h4, .why-buy-range .mid-content h4 {
  text-transform: uppercase;
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 0;
  font-family: 'blocheavy';
  letter-spacing: 1px; }

.why-buy h5, .why-buy-range h5 {
  text-align: center;
  margin: 30px 0px;
  font-size: 14px;
  font-size: 0.875rem; }

.why-buy h3, .why-buy-range h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 24px;
  font-size: 1.5rem; }

.why-buy #richmond, .why-buy-range #richmond {
  color: white; }
  .why-buy #richmond a:link, .why-buy #richmond a:visited, .why-buy-range #richmond a:link, .why-buy-range #richmond a:visited {
    color: white; }
  .why-buy #richmond h3, .why-buy-range #richmond h3 {
    color: white; }

.why-buy #boutique, .why-buy-range #boutique {
  color: white; }
  .why-buy #boutique img, .why-buy-range #boutique img {
    margin-top: 50px; }
  .why-buy #boutique svg, .why-buy-range #boutique svg {
    width: 60%; }
    .why-buy #boutique svg path, .why-buy #boutique svg polygon, .why-buy-range #boutique svg path, .why-buy-range #boutique svg polygon {
      fill: white; }

.why-buy #size, .why-buy #fuel, .why-buy #features-carousel, .why-buy-range #size, .why-buy-range #fuel, .why-buy-range #features-carousel {
  color: white; }
  .why-buy #size .btn, .why-buy #fuel .btn, .why-buy #features-carousel .btn, .why-buy-range #size .btn, .why-buy-range #fuel .btn, .why-buy-range #features-carousel .btn {
    color: white; }

.why-buy #features-carousel, .why-buy-range #features-carousel {
  color: white;
  background-color: #525252; }
  .why-buy #features-carousel .controls, .why-buy-range #features-carousel .controls {
    margin-top: 20px; }
    .why-buy #features-carousel .controls img, .why-buy-range #features-carousel .controls img {
      width: 15px;
      margin-right: 10px; }

.why-buy ul.nav-tabs, .why-buy-range ul.nav-tabs {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  border: none; }
  .why-buy ul.nav-tabs li, .why-buy-range ul.nav-tabs li {
    float: unset;
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    background: none; }
    .why-buy ul.nav-tabs li a, .why-buy-range ul.nav-tabs li a {
      color: white;
      border: none;
      cursor: pointer;
      opacity: 0.5;
      background: none; }
    .why-buy ul.nav-tabs li.active a, .why-buy ul.nav-tabs li:hover a, .why-buy-range ul.nav-tabs li.active a, .why-buy-range ul.nav-tabs li:hover a {
      color: white;
      border: none;
      cursor: pointer;
      opacity: 1;
      background: none; }
    .why-buy ul.nav-tabs li.active :after, .why-buy ul.nav-tabs li:hover :after, .why-buy-range ul.nav-tabs li.active :after, .why-buy-range ul.nav-tabs li:hover :after {
      display: block;
      content: "";
      width: 100%;
      height: 17px;
      background-image: url("/media/622948/arrow-up.svg");
      background-size: 25px auto;
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 6px; }

.tab2-container {
  float: right; }
  .tab2-container #tabsl2 {
    margin: 0 auto; }

img.header-image {
  max-height: 105px;
  width: 100%; }

#wb-1 {
  color: white; }
  #wb-1 .btn-default {
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5); }
    #wb-1 .btn-default:hover, #wb-1 .btn-default:focus, #wb-1 .btn-default.active {
      border: 2px solid white; }

#wb-2 .btn-default {
  border: 2px solid rgba(146, 150, 151, 0.5); }
  #wb-2 .btn-default:hover, #wb-2 .btn-default:focus, #wb-2 .btn-default.active {
    border: 2px solid #929697; }

#size {
  background-color: #54606C; }
  #size .btn-default {
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5); }
    #size .btn-default:hover, #size .btn-default:focus, #size .btn-default.active {
      border: 2px solid white; }
  #size .size-row {
    height: 100px; }

#fuel {
  background-color: #3F4650;
  color: white; }
  #fuel .btn-default {
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5); }
    #fuel .btn-default:hover, #fuel .btn-default:focus, #fuel .btn-default.active {
      border: 2px solid white; }

.s-1-img img {
  max-height: 340px; }

.recycling svg path, .recycling svg polygon {
  fill: white; }

.mib {
  background-color: #F9F9F9;
  padding: 40px 0; }
  .mib .h4 {
    font-weight: bold; }
  .mib p {
    opacity: 0.5; }

.wtb-form {
  background-color: #F9F9F9;
  padding: 20px 0px; }

.wtb-landing {
  margin-bottom: 20px; }

.mib-img {
  width: 120px;
  margin-top: 37px; }
  @media only screen and (max-width: 767px) {
    .mib-img {
      float: left; } }
  @media only screen and (min-width: 767px) {
    .mib-img {
      float: right; } }

.map-address {
  margin-bottom: 25px;
  margin-top: 45px; }
  .map-address .h2 {
    text-transform: uppercase;
    padding-right: 20px;
    margin-top: -5px; }
  .map-address .search-wtb .btn-default {
    opacity: 1;
    border-radius: unset;
    border: 2px solid rgba(0, 48, 74, 0.5); }
    .map-address .search-wtb .btn-default:hover, .map-address .search-wtb .btn-default:focus, .map-address .search-wtb .btn-default.active {
      background-color: transparent;
      border: 2px solid rgba(0, 48, 74, 0.99); }
  .map-address .search-wtb .navbar-form {
    margin-top: -4px; }
    .map-address .search-wtb .navbar-form .form-control {
      margin-right: -5px;
      min-height: 41px; }

@media only screen and (min-width: 767px) {
  .left-wtb-content {
    padding-bottom: 20px; } }

.bh-sl-form-container .nav-form {
  padding-left: 0; }

#national-retailers {
  margin-top: 30px; }

.retailer {
  font-size: 13px;
  padding-left: 20px;
  text-transform: none;
  float: left;
  position: relative;
  top: 4px;
  font-family: 'Open Sans', sans-serif; }
  .retailer img, .retailer svg {
    height: 30px; }
  .retailer .r-t {
    top: 6px;
    float: right;
    position: relative;
    right: -5px; }

.elite-retailer {
  color: #949599;
  opacity: .5; }
  .elite-retailer svg path, .elite-retailer svg polygon {
    fill: #7cbae3; }

.customer-care .h2 {
  color: white; }

.customer-care .panel-body {
  padding-left: 32px; }

.customer-care .col-sm-12 {
  padding: 0; }

.customer-care .mid-content.shade-back {
  padding: 0; }

.customer-care a.btn-default {
  color: white;
  border-color: rgba(255, 255, 255, 0.5); }
  .customer-care a.btn-default:hover {
    border-color: white; }

.customer-care .hero-text {
  font-size: 24px;
  font-size: 1.5rem; }

@media only screen and (max-width: 767px) {
  .customer-care .hero-holder {
    min-height: unset; } }

@media only screen and (min-width: 767px) {
  .customer-care .hero-holder {
    min-height: 400px; } }

.customer-care.half-background {
  padding: 80px 0 0; }

.customer-care h3, .customer-care .h3 {
  font-weight: bold; }

.customer-care .half-background {
  padding-top: 30px; }

.customer-care .sidenav-list a {
  color: #949599; }

.customer-care .sidenav-list .right-icon img, .customer-care .sidenav-list .right-icon svg {
  width: 14px;
  height: 14px;
  width: 100%;
  margin-top: 10px; }

.customer-care .sidenav-list .right-icon svg path, .customer-care .sidenav-list .right-icon svg polygon {
  fill: #FAB205; }

.contact .hero-row .h1 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 38px;
  text-transform: none; }

.contact .hero-row p {
  color: #fff;
  opacity: 0.75; }

.contact .h2 {
  color: white; }

.contact .icon .svg path, .contact .icon .svg polygon, .contact .icon .svg circle {
  fill: #628BA7; }

.contact .hero-holder .mid-content p, .contact .hero-holder .mid-content .h1 {
  color: white; }

.contact .sidenav-list li {
  color: #949599;
  border-color: #ddd; }

.contact .btn-default {
  border: 2px solid rgba(146, 150, 151, 0.5); }
  .contact .btn-default:hover {
    border: 2px solid #929697; }

#customer-care-section {
  background-color: #F2FAFD; }

.banner-bottom .h2 {
  color: white; }

.banner-bottom p {
  color: #949599; }

.big {
  font-size: 80px;
  font-size: 5rem; }

.view-all {
  font-size: 13px;
  letter-spacing: 0px;
  opacity: 0.75;
  position: relative;
  text-align: center;
  top: -20px;
  text-transform: capitalize; }
  .view-all a:link, .view-all a:visited {
    opacity: 0.5;
    text-decoration: underline; }
  .view-all a:hover, .view-all a:active, .view-all a:focus {
    text-decoration: none; }

.big {
  font-size: 80px;
  font-size: 5rem;
  margin-bottom: 15px;
  padding-bottom: 0;
  color: white; }

.item-holder {
  padding: 20px 0 35px; }

.sidenav-list li {
  border-bottom: thin solid #929697;
  color: #949599; }
  .sidenav-list li h5 {
    font-weight: bold;
    color: #949599; }
  .sidenav-list li a {
    opacity: .75; }
    .sidenav-list li a:hover {
      opacity: 1;
      text-decoration: none; }

.sidenav-list ul {
  list-style: none;
  padding: 0;
  margin-left: 0px; }
  .sidenav-list ul li .right-icon {
    float: left; }
  .sidenav-list ul li .right-text {
    float: right;
    width: 84%; }

.share-article {
  font-weight: bold;
  padding: 45px 0px 0px; }
  .share-article .text {
    float: left;
    padding-top: 3px;
    padding-right: 5px; }
  .share-article .fa {
    font-size: 30px;
    margin-left: 15px;
    margin-right: 0; }
  .share-article a:hover {
    opacity: 0.5;
    text-decoration: none;
    color: #7cbae3; }

.back-news {
  font-family: "Open Sans", sans-serif; }

.features .h1.article-title {
  margin-top: 0; }

.features .half-background {
  padding-top: 50px; }

.about-us h1 {
  color: #FAB205;
  font-size: 34px;
  font-size: 2.125rem; }
  @media only screen and (max-width: 767px) {
    .about-us h1 {
      padding-bottom: 0; } }
  @media only screen and (min-width: 767px) {
    .about-us h1 {
      padding-bottom: 30px; } }

.about-heritage .why-content h5, .about-products .why-content h5, .about-service .why-content h5, .about-future .why-content h5 {
  letter-spacing: 3px;
  text-transform: none;
  position: absolute;
  left: 0;
  right: 0; }

.about-heritage .why-content p, .about-products .why-content p, .about-service .why-content p, .about-future .why-content p {
  font-size: 16px;
  font-size: 1rem; }

@media only screen and (max-width: 767px) {
  .about-heritage .why-content .mid-content .width-container, .about-products .why-content .mid-content .width-container, .about-service .why-content .mid-content .width-container, .about-future .why-content .mid-content .width-container {
    width: 70%; } }

@media only screen and (min-width: 767px) {
  .about-heritage .why-content .mid-content .width-container, .about-products .why-content .mid-content .width-container, .about-service .why-content .mid-content .width-container, .about-future .why-content .mid-content .width-container {
    width: 60%; } }

.about-heritage .why-content .mid-content .width-container .h4, .about-products .why-content .mid-content .width-container .h4, .about-service .why-content .mid-content .width-container .h4, .about-future .why-content .mid-content .width-container .h4 {
  text-transform: none;
  font-family: "lola",sans-serif; }
  @media only screen and (max-width: 767px) {
    .about-heritage .why-content .mid-content .width-container .h4, .about-products .why-content .mid-content .width-container .h4, .about-service .why-content .mid-content .width-container .h4, .about-future .why-content .mid-content .width-container .h4 {
      color: #FAB205;
      font-size: 24px;
      font-size: 1.5rem; } }
  @media only screen and (min-width: 767px) {
    .about-heritage .why-content .mid-content .width-container .h4, .about-products .why-content .mid-content .width-container .h4, .about-service .why-content .mid-content .width-container .h4, .about-future .why-content .mid-content .width-container .h4 {
      color: #fff;
      font-size: 36px;
      font-size: 2.25rem; } }

@media only screen and (max-width: 767px) {
  .about-heritage .why-content .mid-content .center-container, .about-products .why-content .mid-content .center-container, .about-service .why-content .mid-content .center-container, .about-future .why-content .mid-content .center-container {
    width: 70%; } }

@media only screen and (min-width: 767px) {
  .about-heritage .why-content .mid-content .center-container, .about-products .why-content .mid-content .center-container, .about-service .why-content .mid-content .center-container, .about-future .why-content .mid-content .center-container {
    width: 60%; } }

.about-heritage .why-content .mid-content .center-container .h4, .about-products .why-content .mid-content .center-container .h4, .about-service .why-content .mid-content .center-container .h4, .about-future .why-content .mid-content .center-container .h4 {
  text-transform: none;
  font-family: "lola",sans-serif;
  color: #FAB205; }
  @media only screen and (max-width: 767px) {
    .about-heritage .why-content .mid-content .center-container .h4, .about-products .why-content .mid-content .center-container .h4, .about-service .why-content .mid-content .center-container .h4, .about-future .why-content .mid-content .center-container .h4 {
      font-size: 24px;
      font-size: 1.5rem; } }
  @media only screen and (min-width: 767px) {
    .about-heritage .why-content .mid-content .center-container .h4, .about-products .why-content .mid-content .center-container .h4, .about-service .why-content .mid-content .center-container .h4, .about-future .why-content .mid-content .center-container .h4 {
      font-size: 36px;
      font-size: 2.25rem; } }

.about-heritage .why-content .mid-content .center-container p, .about-products .why-content .mid-content .center-container p, .about-service .why-content .mid-content .center-container p, .about-future .why-content .mid-content .center-container p {
  color: black; }

@media only screen and (max-width: 767px) {
  .about-heritage .background-image, .about-products .background-image, .about-service .background-image, .about-future .background-image {
    background-image: none !important; } }

.about-heritage .why-content p {
  color: black; }

@media only screen and (max-width: 767px) {
  .about-service .why-content p {
    color: black; } }

@media only screen and (min-width: 767px) {
  .about-service .why-content p {
    color: #fff; } }

@media only screen and (max-width: 767px) {
  .about-products .why-content .mid-content .center-container {
    width: 70%; } }

@media only screen and (min-width: 767px) {
  .about-products .why-content .mid-content .center-container {
    width: 40%; } }

.label-primary {
  background-color: #949599;
  color: #fff; }

.search-row {
  border-top: #949599 thin solid;
  padding: 20px 0; }

.blog-item .blog-item-img {
  height: auto; }

.blog-item .blog-item-title {
  line-height: 1.3rem; }

.blog-item .blog-item-summary {
  background: #fff;
  margin-top: 0;
  padding: 20px;
  height: auto; }
  .blog-item .blog-item-summary h5 {
    margin: 10px 0 0; }
  .blog-item .blog-item-summary p {
    color: #949599; }

/*# sourceMappingURL=custom.css.map */
