.logo{
	background:url(../images/logo2x.png) no-repeat;
	background-size:100px 49px;
}
.select-area .left:before,
.accordion > li > .opener:before{
	background:url(../images/accordion-icos2x.png) no-repeat;
	background-size:120px 32px;
}
.select-area .select-opener:before,
.accordion .opener:after{
	background:url(../images/accordion-icos2x.png) -36px 0 no-repeat;
	background-size:120px 32px;
}
.accordion ul .opener:after{background-position:-64px 0;}
.overview-box .box:before{
	background:url(../images/accordion-icos2x.png) -89px 0 no-repeat;
	background-size:120px 32px;
}
.accordion .pdf-list a:before{
	background:url(../images/pdf-ico2x.png) no-repeat;
	background-size:40px 41px;
}
.contact-box .phone:before{
	background:url(../images/phone-ico2x.png) no-repeat;
	background-size:16px 26px;
}
.social .facebook{
	background:url(../images/bg-social.png) -38px 0 no-repeat;
	background-size:125px 254px;
}
.social .twitter{
	background:url(../images/bg-social.png) -39px -67px no-repeat;
	background-size:125px 254px;
}
.social .pinterest{
	background:url(../images/bg-social.png) -37px -135px no-repeat;
	background-size:125px 254px;
}
.social .youtube{
	background:url(../images/bg-social.png) 0 -203px no-repeat;
	background-size:125px 254px;
}