html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote :before,
q :before,
blockquote :after,
q :after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
}
body *zoom:1:before,
body *zoom:1:after {
  content: "";
  display: table;
}
body *zoom:1:after {
  clear: both;
}
body {
  width: 100%;
  background-color: #004070;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 400;
}
body *zoom:1:before,
body *zoom:1:after {
  content: "";
  display: table;
}
body *zoom:1:after {
  clear: both;
}
a,
a:link {
  color: #004070;
  text-decoration: none;
}
a:hover,
a:link:hover {
  color: #b5b5b5;
}
h1,
h2,
h3 {
  color: #004070;
  font-weight: 400;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  width: auto 9;
/* ie8 */
}
header {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  background-color: #fff;
}
.container {
  width: 980px;
  margin: 0 auto;
  overflow: auto;
}
@media (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 320px;
  }
}
.container *zoom:1:before,
.container *zoom:1:after {
  content: "";
  display: table;
}
.container *zoom:1:after {
  clear: both;
}
.symbol {
  position: absolute;
  top: 6%;
  right: 15%;
  width: 600px;
  height: 600px;
  background-image: url("../assets/sprites/png-sprite.png");
  background-image: none, url("../assets/sprites/svg-sprite.svg"), url("../assets/sprites/png-sprite.png") no-repeat;
  background-position: -816px 0;
  background-size: 3004px 600px;
  z-index: -100;
}
.page-title {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
}
.page-title h1 {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 42px;
}
.breadcrumbs {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  height: 40px;
  margin-bottom: 20px;
  background-color: #5983a3;
}
.breadcrumbs .link-holder {
  display: block;
  width: 101.0416666666667%;
  margin: 0 -0.5208333333333%;
  *width: 101.0416666666667% -correction;
  *margin: 0 -0.5208333333333% -correction;
  padding: 10px 0px 0px 10px;
}
.breadcrumbs .link-holder a {
  color: #fff;
  font-size: 18px;
}
.hero {
  display: inline;
  float: left;
  overflow: hidden;
  width: 65.625%;
  margin: 0 0.5208333333333%;
  *width: 65.625% -correction;
  *margin: 0 0.5208333333333% -correction;
  height: 300px;
}
@media (min-width: 768px) and (max-width: 959px) {
  .hero {
    height: 350px;
  }
}
@media (max-width: 767px) {
  .hero {
    display: inline;
    float: left;
    overflow: hidden;
    width: 98.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 98.9583333333333% -correction;
    *margin: 0 0.5208333333333% -correction;
    height: 200px;
  }
}
.hero h2 {
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 767px) {
  .hero h2 {
    font-size: 22px;
  }
}
.read-more {
  display: table;
  padding: 5px 10px 5px 10px;
  background-color: #5983a3;
}
.read-more:hover {
  background-color: #90d7ec;
}
.read-more:hover a {
  color: #004070;
}
.read-more a {
  color: #fff;
}
.brands {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  height: 170px;
  margin-bottom: 30px;
  overflow: visible;
}
@media (min-width: 768px) and (max-width: 959px) {
  .brands {
    height: 130px;
  }
}
@media (max-width: 767px) {
  .brands {
    height: 1050px;
    margin-bottom: 10px;
  }
}
.brands .brand-holder {
  display: block;
  width: 101.0416666666667%;
  margin: 0 -0.5208333333333%;
  *width: 101.0416666666667% -correction;
  *margin: 0 -0.5208333333333% -correction;
  padding: 0;
  overflow: visible;
}
.brands .brand-holder .brand {
  display: inline;
  float: left;
  overflow: hidden;
  width: 23.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 23.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  height: 190px;
  overflow: visible;
  position: relative;
}
@media (max-width: 767px) {
  .brands .brand-holder .brand {
    display: inline;
    float: left;
    overflow: hidden;
    width: 98.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 98.9583333333333% -correction;
    *margin: 0 0.5208333333333% -correction;
    height: 290px;
  }
}
@media (max-width: 767px) {
  .brands .brand-holder .brand img {
    width: 320px;
  }
}
.brands .brand-holder .view-more {
  height: 0px;
  width: 100%;
  margin: -4px 0px 0px 0px;
  overflow: hidden;
  background-color: #fff;
  font-size: 18px;
}
.brands .brand-holder .view-more a {
  display: block;
  background-color: #90d7ec;
  text-align: center;
  color: #fff;
  padding: 10px 0px 10px 0px;
}
.brands .brand-holder .view-more a:hover {
  background-color: #5983a3;
  color: #b5b5b5;
}
.icon {
  display: table;
  height: 20px;
  margin: 0px auto 0px auto;
}
.icon:hover p {
  color: #fff;
}
.icon img {
  float: left;
  margin: 0px 10px 0px 0px;
}
.icon p {
  float: left;
  color: #004070;
}
.icon-screen,
.icon-plus,
.icon-download,
.icon-care {
  width: 20px;
  height: 20px;
  margin: 0px 10px 0px 0px;
  float: left;
  background-size: 3004px 600px;
}
.icon-large-screen,
.icon-large-plus,
.icon-large-download,
.icon-large-customer {
  width: 40px;
  height: 40px;
  margin: 0px 10px 0px 0px;
  float: left;
  background-size: 3004px 600px;
}
.icon-screen {
  background-image: url("../assets/sprites/png-sprite.png");
  background-image: none, url("../assets/sprites/svg-sprite.svg"), url("../assets/sprites/png-sprite.png") no-repeat;
  background-position: -1876px 0;
}
.icon-plus {
  background-image: url("../assets/sprites/png-sprite.png");
  background-image: none, url("../assets/sprites/svg-sprite.svg"), url("../assets/sprites/png-sprite.png") no-repeat;
  background-position: -1856px 0;
}
.icon-large-screen {
  background-image: url("../assets/sprites/png-sprite.png");
  background-image: none, url("../assets/sprites/svg-sprite.svg"), url("../assets/sprites/png-sprite.png") no-repeat;
  background-position: -1616px 0;
}
.icon-large-plus {
  background-image: url("../assets/sprites/png-sprite.png");
  background-image: none, url("../assets/sprites/svg-sprite.svg"), url("../assets/sprites/png-sprite.png") no-repeat;
  background-position: -1656px 0;
}
.icon-large-download {
  background-image: url("../assets/sprites/png-sprite.png");
  background-image: none, url("../assets/sprites/svg-sprite.svg"), url("../assets/sprites/png-sprite.png") no-repeat;
  background-position: -1496px 0;
}
.icon-large-customer {
  background-image: url("../assets/sprites/png-sprite.png");
  background-image: none, url("../assets/sprites/svg-sprite.svg"), url("../assets/sprites/png-sprite.png") no-repeat;
  background-position: -1456px 0;
}
.promo {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .promo {
    margin-top: 50px;
  }
}
.promo .promo-holder {
  display: block;
  width: 101.0416666666667%;
  margin: 0 -0.5208333333333%;
  *width: 101.0416666666667% -correction;
  *margin: 0 -0.5208333333333% -correction;
  padding: 0;
}
.promo .promo-holder .promo-container {
  display: inline;
  float: left;
  overflow: hidden;
  width: 48.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 48.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  height: 263px;
}
@media (min-width: 768px) and (max-width: 959px) {
  .promo .promo-holder .promo-container {
    height: 200px;
  }
}
@media (max-width: 767px) {
  .promo .promo-holder .promo-container {
    display: inline;
    float: left;
    overflow: hidden;
    width: 98.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 98.9583333333333% -correction;
    *margin: 0 0.5208333333333% -correction;
    height: 170px;
    margin-bottom: 20px;
  }
}
.promo .promo-holder .promo-link {
  height: 30px;
  position: relative;
  top: -58px;
  padding: 15px 10px 10px 15px;
  font-size: 22px;
  font-weight: 700;
  background-color: #b5b5b5;
  background-color: rgba(255,255,255,0.8);
}
@media (max-width: 767px) {
  .promo .promo-holder .promo-link {
    font-size: 18px;
  }
}
.promo .promo-holder .promo-link p {
  height: 165px;
  margin: 45px 10px 10px 0px;
  color: #808080;
  font-size: 20px;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
}
@media (min-width: 768px) and (max-width: 959px) {
  .promo .promo-holder .promo-link p {
    font-size: 16px;
    height: 85px;
  }
}
@media (max-width: 767px) {
  .promo .promo-holder .promo-link p {
    font-size: 12px;
    height: 75px;
  }
}
.navigation {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  margin: 0 0 40px 0;
  overflow: visible;
}
.nav-holder {
  display: block;
  width: 101.0416666666667%;
  margin: 0 -0.5208333333333%;
  *width: 101.0416666666667% -correction;
  *margin: 0 -0.5208333333333% -correction;
  background-color: #fff;
}
.nav-holder .logo {
  display: inline;
  float: left;
  overflow: hidden;
  width: 23.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 23.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  width: 260px;
  height: 95px;
  margin-top: 20px;
  background-image: url("../assets/sprites/png-sprite.png");
  background-image: none, url("../assets/sprites/svg-sprite.svg"), url("../assets/sprites/png-sprite.png") no-repeat;
  background-position: -356px 0;
  background-size: 3004px 600px;
}
@media (max-width: 767px) {
  .nav-holder .logo {
    display: inline;
    float: left;
    overflow: hidden;
    width: 23.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 23.9583333333333% -correction;
    *margin: 0 0.5208333333333% -correction;
    width: 200px;
    height: 55px;
  }
}
.nav-holder .menu {
  display: inline;
  float: left;
  overflow: hidden;
  width: 48.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 48.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  float: right;
  height: 30px;
  padding: 15px 0px 0px 0px;
  background-color: #fff;
  overflow: visible;
}
@media (max-width: 767px) {
  .nav-holder .menu {
    display: inherit;
  }
@media (max-width: 767px) {
    .nav-holder .menu {
      display: none !important;
    }
}
}
.nav-holder .drop-down {
  display: inline;
  float: left;
  overflow: hidden;
  width: 14.7916666666667%;
  margin: 0 0.5208333333333%;
  *width: 14.7916666666667% -correction;
  *margin: 0 0.5208333333333% -correction;
  margin-left: 0px !important;
}
.nav-holder .drop-down h3 {
  font-size: 90%;
  text-align: center;
}
.nav-holder .drop-down h3:hover {
  color: #b5b5b5;
}
@media (min-width: 768px) and (max-width: 959px) {
  .nav-holder .drop-down h3 {
    font-size: 78%;
  }
}
.nav-holder .drop-down ul {
  display: none;
  position: relative;
  margin: 15px 0px 0px 0px;
  background-color: #fff;
}
.nav-holder .drop-down li {
  padding: 0px 5px 5px 20px;
  list-style: none;
}
@media (min-width: 768px) and (max-width: 959px) {
  .nav-holder .drop-down {
    display: inline;
    float: left;
    overflow: hidden;
    width: 13.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 13.9583333333333% -correction;
    *margin: 0 0.5208333333333% -correction;
  }
}
.nav-holder .search {
  display: inline;
  float: left;
  overflow: hidden;
  width: 7.291666666666701%;
  margin: 0 0.5208333333333%;
  *width: 7.291666666666701% -correction;
  *margin: 0 0.5208333333333% -correction;
  float: right;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: -5px 15px 10px 0px;
  background-image: url("../assets/sprites/png-sprite.png");
  background-image: none, url("../assets/sprites/svg-sprite.svg"), url("../assets/sprites/png-sprite.png") no-repeat;
  background-color: #fff;
  background-position: -1896px 0;
  background-size: 3004px 600px;
}
.nav-holder .search h3 {
  font-size: 90%;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 959px) {
  .top-nav {
    display: inherit;
  }
@media (min-width: 768px) and (max-width: 959px) {
    .top-nav {
      display: none !important;
    }
}
}
@media (min-width: 960px) {
  .top-nav {
    display: inherit;
  }
@media (min-width: 960px) {
    .top-nav {
      display: none !important;
    }
}
}
.burger {
  display: inline;
  float: left;
  overflow: hidden;
  width: 15.625%;
  margin: 0 0.5208333333333%;
  *width: 15.625% -correction;
  *margin: 0 0.5208333333333% -correction;
  float: right;
  height: 40px;
  width: 40px;
  margin: 10px 0px 0px 0px;
  background-image: url("../assets/sprites/png-sprite.png");
  background-image: none, url("../assets/sprites/svg-sprite.svg"), url("../assets/sprites/png-sprite.png") no-repeat;
  background-position: -1416px 0;
}
.mobile-menu {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  float: left;
  background-color: #fff;
  display: none;
}
.mobile-menu ul {
  display: block;
  width: 101.0416666666667%;
  margin: 0 -0.5208333333333%;
  *width: 101.0416666666667% -correction;
  *margin: 0 -0.5208333333333% -correction;
}
.mobile-menu ul li {
  display: inline;
  float: left;
  overflow: hidden;
  width: 12.2916666666667%;
  margin: 0 0.5208333333333%;
  *width: 12.2916666666667% -correction;
  *margin: 0 0.5208333333333% -correction;
  padding: 15px;
  text-align: center;
}
@media (max-width: 767px) {
  .mobile-menu ul li {
    display: inline;
    float: left;
    overflow: hidden;
    width: 23.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 23.9583333333333% -correction;
    *margin: 0 0.5208333333333% -correction;
  }
}
.mobile-menu ul li a {
  color: #004070;
}
@media (min-width: 768px) and (max-width: 959px) {
  .mobile-menu {
    display: inherit;
  }
@media (min-width: 768px) and (max-width: 959px) {
    .mobile-menu {
      display: none !important;
    }
}
}
footer {
  background-color: #f5f5f5;
  clear: both;
  overflow: auto;
  padding-top: 20px;
}
.footer-holder {
  padding-top: 20px;
  display: block;
  width: 101.0416666666667%;
  margin: 0 -0.5208333333333%;
  *width: 101.0416666666667% -correction;
  *margin: 0 -0.5208333333333% -correction;
}
.footer-holder .footer-panel {
  display: inline;
  float: left;
  overflow: hidden;
  width: 21.4583333333333%;
  margin: 0 0.5208333333333%;
  *width: 21.4583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  height: 160px;
}
.footer-holder .footer-panel h3 {
  font-weight: 700;
  padding: 0px 10px 0px 20px;
}
.footer-holder .footer-panel ul {
  padding: 0px 10px 0px 20px;
}
.footer-holder .footer-panel ul li {
  padding: 5px 0px 0px 0px;
}
.footer-holder .footer-panel ul li a {
  color: #808080;
}
.footer-holder .footer-panel ul li a:hover {
  color: #004070;
}
@media (max-width: 767px) {
  .footer-holder .footer-panel {
    display: inline;
    float: left;
    overflow: hidden;
    width: 32.2916666666667%;
    margin: 0 0.5208333333333%;
    *width: 32.2916666666667% -correction;
    *margin: 0 0.5208333333333% -correction;
  }
}
.footer-holder .newsletter-panel {
  display: inline;
  float: left;
  overflow: hidden;
  width: 23.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 23.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  float: right;
  height: 200px;
  background-color: #fff;
  margin: 0px 25px 20px 25px;
  padding: 10px;
  color: #004070;
  font-family: 400;
}
.footer-holder .newsletter-panel h3 {
  font-weight: 700;
}
.footer-holder .newsletter-panel p {
  padding: 10px 0px 10px 0px;
  color: #808080;
}
.footer-holder .newsletter-panel input {
  height: 30px;
  width: 100%;
  border: none;
}
.footer-holder .newsletter-panel input[type=text] {
  color: #004070;
  border-bottom: #004070 1px solid;
  outline: none;
}
.footer-holder .newsletter-panel input[type=submit] {
  width: 30%;
  color: #fff;
  background-color: #004070;
  font-family: 700;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .footer-holder .newsletter-panel {
    display: inline;
    float: left;
    overflow: hidden;
    width: 57.2916666666667%;
    margin: 0 0.5208333333333%;
    *width: 57.2916666666667% -correction;
    *margin: 0 0.5208333333333% -correction;
  }
}
.logo-footer {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  width: 200px;
  height: 70px;
  margin: 0px 0px 20px 20px;
  background-image: url("../assets/sprites/png-sprite.png");
  background-image: none, url("../assets/sprites/svg-sprite.svg"), url("../assets/sprites/png-sprite.png") no-repeat;
  background-position: -616px 0;
  background-size: 3004px 600px;
}
@media (max-width: 767px) {
  .logo-footer {
    width: 70px;
  }
}
.brand-content {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  margin-bottom: 30px;
}
.brand-content .brand-feature-holder {
  display: block;
  width: 101.0416666666667%;
  margin: 0 -0.5208333333333%;
  *width: 101.0416666666667% -correction;
  *margin: 0 -0.5208333333333% -correction;
  margin-bottom: 30px;
}
.brand-content .brand-feature-holder .brand-feature {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  height: 450px;
  margin: 0px 0px 40px 0px;
}
.brand-content .brand-feature-holder .brand-feature .brand-link {
  height: 30px;
  width: 100%;
  position: relative;
  top: -50px;
  padding: 15px 10px 10px 15px;
  font-size: 22px;
  font-weight: 700;
  background-color: #b5b5b5;
  background-color: rgba(255,255,255,0.8);
}
@media (max-width: 767px) {
  .brand-content .brand-feature-holder .brand-feature .brand-link {
    font-size: 18px;
  }
}
.brand-content .brand-feature-holder .brand-feature .brand-link .link-content {
  opacity: 0;
}
.brand-content .brand-feature-holder .brand-feature .brand-link .link-content p {
  height: 165px;
  width: 60%;
  float: left;
  margin: 45px 10px 10px 0px;
  color: #808080;
  font-size: 20px;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
}
@media (min-width: 768px) and (max-width: 959px) {
  .brand-content .brand-feature-holder .brand-feature .brand-link .link-content p {
    font-size: 16px;
    height: 85px;
  }
}
@media (max-width: 767px) {
  .brand-content .brand-feature-holder .brand-feature .brand-link .link-content p {
    font-size: 12px;
    height: 75px;
  }
}
.brand-content .brand-feature-holder .brand-feature .brand-link .link-content .link-symbols {
  float: right;
  width: 30%;
  height: 300px;
}
.brand-content .brand-feature-holder .brand-feature .brand-link .link-content .link-symbols ul li {
  width: 40%;
  margin: 0px auto 20px auto;
  text-align: center;
}
.brand-content .brand-feature-holder .brand-feature .brand-link .link-content .link-symbols ul li a {
  font-weight: 400;
  font-size: 18px;
}
.brand-content .brand-feature-holder .brand-feature .brand-link .link-content .link-symbols .brand-icon {
  display: table;
  margin: 0px auto 10px auto;
}
.press-promo {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
}
.press-promo .press-promo-holder {
  display: block;
  width: 101.0416666666667%;
  margin: 0 -0.5208333333333%;
  *width: 101.0416666666667% -correction;
  *margin: 0 -0.5208333333333% -correction;
}
.press-promo .press-promo-holder .press-promo-container {
  display: inline;
  float: left;
  overflow: hidden;
  width: 32.2916666666667%;
  margin: 0 0.5208333333333%;
  *width: 32.2916666666667% -correction;
  *margin: 0 0.5208333333333% -correction;
}
.press-promo .press-promo-holder .press-promo-container .press-promo-link {
  width: 100%;
  height: 25px;
  position: relative;
  top: -53px;
  padding: 15px 0px 10px 15px;
  font-size: 16px;
  font-weight: 400;
  background-color: #b5b5b5;
  background-color: rgba(255,255,255,0.8);
}
.press-content .content-holder {
  display: block;
  width: 101.0416666666667%;
  margin: 0 -0.5208333333333%;
  *width: 101.0416666666667% -correction;
  *margin: 0 -0.5208333333333% -correction;
}
.press-content .content-holder .press-releases {
  display: inline;
  float: left;
  overflow: hidden;
  width: 79.7916666666667%;
  margin: 0 0.5208333333333%;
  *width: 79.7916666666667% -correction;
  *margin: 0 0.5208333333333% -correction;
  margin-bottom: 60px;
}
.press-content .content-holder .top-release {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  height: 550px;
  margin-bottom: 10px;
}
.press-content .content-holder .release-link {
  height: 35px;
  position: relative;
  top: -59px;
  padding: 15px 0px 10px 15px;
  font-size: 22px;
  font-weight: 700;
  background-color: #b5b5b5;
  background-color: rgba(255,255,255,0.8);
}
.press-content .content-holder .sub-release {
  display: inline;
  float: left;
  overflow: hidden;
  width: 48.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 48.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  height: 300px;
  margin-bottom: 10px;
}
.press-content .content-holder .filter-panel {
  display: inline;
  float: left;
  overflow: hidden;
  width: 15.625%;
  margin: 0 0.5208333333333%;
  *width: 15.625% -correction;
  *margin: 0 0.5208333333333% -correction;
  height: 660px;
  margin-bottom: 60px;
  padding: 10px;
  background-color: #fff;
}
.press-content .content-holder .year {
  float: left;
  margin-right: 5px;
}
.retail-promo {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  margin-bottom: 20px;
}
.retail-content {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  margin-bottom: 60px;
}
.retail-content .retail-content-holder {
  display: block;
  width: 101.0416666666667%;
  margin: 0 -0.5208333333333%;
  *width: 101.0416666666667% -correction;
  *margin: 0 -0.5208333333333% -correction;
}
.retail-content .retail-content-holder .retail-panel {
  display: inline;
  float: left;
  overflow: hidden;
  width: 48.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 48.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.retail-content .retail-content-holder .retail-link {
  height: 35px;
  position: relative;
  top: -59px;
  padding: 15px 0px 10px 15px;
  font-size: 22px;
  font-weight: 700;
  background-color: #b5b5b5;
  background-color: rgba(255,255,255,0.8);
}
@media (max-width: 767px) {
  .retail-content .retail-content-holder .retail-link {
    font-size: 18px;
  }
}
.retail-content .retail-content-holder .retail-link p {
  height: 165px;
  margin: 45px 10px 10px 0px;
  color: #808080;
  font-size: 20px;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
}
@media (min-width: 768px) and (max-width: 959px) {
  .retail-content .retail-content-holder .retail-link p {
    font-size: 16px;
    height: 85px;
  }
}
@media (max-width: 767px) {
  .retail-content .retail-content-holder .retail-link p {
    font-size: 12px;
    height: 75px;
  }
}
.about-hero {
  display: inline;
  float: left;
  overflow: hidden;
  width: 65.625%;
  margin: 0 0.5208333333333%;
  *width: 65.625% -correction;
  *margin: 0 0.5208333333333% -correction;
  height: 200px;
}
@media (max-width: 767px) {
  .about-hero {
    display: inline;
    float: left;
    overflow: hidden;
    width: 98.9583333333333%;
    margin: 0 0.5208333333333%;
    *width: 98.9583333333333% -correction;
    *margin: 0 0.5208333333333% -correction;
  }
}
.about-hero h2 {
  font-size: 38px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 767px) {
  .about-hero h2 {
    font-size: 12px;
  }
}
.about-info {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
}
.about-info .about-links-container {
  display: block;
  width: 101.0416666666667%;
  margin: 0 -0.5208333333333%;
  *width: 101.0416666666667% -correction;
  *margin: 0 -0.5208333333333% -correction;
  height: 300px;
  margin-bottom: 60px;
}
.about-info .about-links-container .about-panel {
  display: inline;
  float: left;
  overflow: hidden;
  width: 48.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 48.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
  height: 300px;
}
.about-info .about-links-container .about-link {
  height: 35px;
  position: relative;
  top: -59px;
  padding: 15px 0px 10px 15px;
  font-size: 22px;
  font-weight: 700;
  background-color: #b5b5b5;
  background-color: rgba(255,255,255,0.8);
}
.content-page .content-hero {
  display: inline;
  float: left;
  overflow: hidden;
  width: 98.9583333333333%;
  margin: 0 0.5208333333333%;
  *width: 98.9583333333333% -correction;
  *margin: 0 0.5208333333333% -correction;
}
.content-page .content-hero height: 500px img {
  position: relative;
  z-index: 10;
}
.content-page .content-full {
  background-color: #fff;
  margin-top: -60px;
  padding-top: 80px;
}
.content-page .content-copy {
  display: inline;
  float: left;
  overflow: hidden;
  width: 65.625%;
  margin: 0 0.5208333333333%;
  *width: 65.625% -correction;
  *margin: 0 0.5208333333333% -correction;
  background-color: #fff;
}
.content-page .content-copy p {
  padding: 30px 20px 30px 20px;
}
.content-page .content-links {
  display: inline;
  float: left;
  overflow: hidden;
  width: 32.2916666666667%;
  margin: 0 0.5208333333333%;
  *width: 32.2916666666667% -correction;
  *margin: 0 0.5208333333333% -correction;
  background-color: #fff;
}
.social-links {
  margin: 20px;
}
.social-links a.social-icon {
  margin-right: 10px;
}
.social-links ul li {
  margin-bottom: 10px;
  padding: 5px 0px 5px 5px;
  background-color: #f5f5f5;
}
