.icon-icon-customer { background-image: url('png/icon-customer.png'); background-repeat: no-repeat; }

.icon-icon-download { background-image: url('png/icon-download.png'); background-repeat: no-repeat; }

.icon-icon-facebook { background-image: url('png/icon-facebook.png'); background-repeat: no-repeat; }

.icon-icon-nav { background-image: url('png/icon-nav.png'); background-repeat: no-repeat; }

.icon-icon-pinterest { background-image: url('png/icon-pinterest.png'); background-repeat: no-repeat; }

.icon-icon-plus-small { background-image: url('png/icon-plus-small.png'); background-repeat: no-repeat; }

.icon-icon-plus { background-image: url('png/icon-plus.png'); background-repeat: no-repeat; }

.icon-icon-screen-small { background-image: url('png/icon-screen-small.png'); background-repeat: no-repeat; }

.icon-icon-screen { background-image: url('png/icon-screen.png'); background-repeat: no-repeat; }

.icon-icon-search { background-image: url('png/icon-search.png'); background-repeat: no-repeat; }

.icon-icon-twitter { background-image: url('png/icon-twitter.png'); background-repeat: no-repeat; }

.icon-logo-background { background-image: url('png/logo-background.png'); background-repeat: no-repeat; }

.icon-logo-belling-white { background-image: url('png/logo-belling-white.png'); background-repeat: no-repeat; }

.icon-logo-belling { background-image: url('png/logo-belling.png'); background-repeat: no-repeat; }

.icon-logo-britannia-white { background-image: url('png/logo-britannia-white.png'); background-repeat: no-repeat; }

.icon-logo-britannia { background-image: url('png/logo-britannia.png'); background-repeat: no-repeat; }

.icon-logo-lec-white { background-image: url('png/logo-lec-white.png'); background-repeat: no-repeat; }

.icon-logo-lec { background-image: url('png/logo-lec.png'); background-repeat: no-repeat; }

.icon-logo-main-blue { background-image: url('png/logo-main-blue.png'); background-repeat: no-repeat; }

.icon-logo-main { background-image: url('png/logo-main.png'); background-repeat: no-repeat; }

.icon-logo-newworld-white { background-image: url('png/logo-newworld-white.png'); background-repeat: no-repeat; }

.icon-logo-newworld { background-image: url('png/logo-newworld.png'); background-repeat: no-repeat; }

.icon-logo-stoves-white { background-image: url('png/logo-stoves-white.png'); background-repeat: no-repeat; }

.icon-logo-stoves { background-image: url('png/logo-stoves.png'); background-repeat: no-repeat; }

.icon-logo-valor-white { background-image: url('png/logo-valor-white.png'); background-repeat: no-repeat; }

.icon-logo-valor { background-image: url('png/logo-valor.png'); background-repeat: no-repeat; }

