﻿<div class="row" id="customer-care">
			<div class="col-sm-3">
				<h5><a href="#">Customer Care</a></h5>
				<ul class="desktop-only">
					<li><a href="#">Spares Store</a></li>
						<li><a href="#">Outlet Store</a></li>
						<li><a href="#">Warranty</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Manuals</a></li>
						<li><a href="#">Repairs</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5><a href="#">Site Information</a></h5>
				<ul class="desktop-only">
					<li><a href="#">Spares Store</a></li>
						<li><a href="#">Outlet Store</a></li>
						<li><a href="#">Warranty</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Manuals</a></li>
						<li><a href="#">Repairs</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5><a href="#">About Us</a></h5>
				<ul class="desktop-only">
					<li><a href="#">Spares Store</a></li>
						<li><a href="#">Outlet Store</a></li>
						<li><a href="#">Warranty</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Manuals</a></li>
						<li><a href="#">Repairs</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5 class="desktop-only">Social</h5>
				<i class="fa fa-twitter"></i>
				<i class="fa fa-facebook"></i>
				<i class="fa fa-pinterest-p"></i>
				<i class="fa fa-youtube"></i>			
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-xs-12 float-right">
				<p class="mobile-only">&copy; 2015 GDHA</p>
				<p class="desktop-only">&copy; 2015 Stoves a Glen Dimplex Home Appliances Company</p>
			</div>
			<div class="col-sm-6 col-xs-12">
				<img src="http://placehold.it/60x80" alt="">
				<img src="http://placehold.it/60x80" alt="">
			</div>
		</div>
	</div>