﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json.Linq;
@{
    IEnumerable<IPublishedContent>rootNode = Umbraco.TypedContentAtRoot();
	IPublishedContent home;
	
	// Barry Bell 11/11/2016
	// this has been put in to allow the german site to be active and take settings from itself but also allow retailers to function as normal
	if(Model.Content.AncestorOrSelf(1).DocumentTypeAlias == "USNHomepage"){
		home = Model.Content.AncestorOrSelf(1);
	} else {
		home = rootNode.FirstOrDefault(x => HttpContext.Current.Request.Url.Host.Contains(x.Name.ToLower().Replace(" ", string.Empty)));
	}
	
    //IPublishedContent home = rootNode.FirstOrDefault(x => HttpContext.Current.Request.Url.Host.Contains(x.Name.ToLower().Replace(" ", string.Empty)));
	//IPublishedContent home = Model.Content.AncestorOrSelf(1);
    IPublishedContent settingsFolder;
    IPublishedContent products;
	IPublishedContent features;
	var image = "";
    try
    {
    settingsFolder = Umbraco.TypedContent((int)Model.Content.AncestorOrSelf(1).GetPropertyValue("websiteConfigurationNode"));
    }
    catch
    {
		settingsFolder = Umbraco.TypedContent((int)rootNode.FirstOrDefault(x => HttpContext.Current.Request.Url.Host.Contains(x.Name.ToLower().Replace(" ", string.Empty))).GetPropertyValue("websiteConfigurationNode"));
		//settingsFolder = Umbraco.TypedContent(home.GetPropertyValue("websiteConfigurationNode"));
    }
	var settings  = settingsFolder.Children.First(x => x.DocumentTypeAlias == "USNGlobalSettings");
	try
	{
		image = Umbraco.TypedMedia(settings.GetPropertyValue("productDropdownImage")).Url;
	}
	catch
	{
		image = "";
	}
    var navigation = settingsFolder.Children.First(x => x.IsDocumentType("USNNavigation"));
    var mainNavigation = navigation.GetPropertyValue<JArray>("mainNavigation");
    if (home.Children.Any(x => x.DocumentTypeAlias == "ProductLanding"))
    {
        products = home.Children.First(x => x.DocumentTypeAlias == "ProductLanding");
    }
    else
    {
        products = home.Children.First(x => x.DocumentTypeAlias == "ProductLanding");
    }
	var whyBuy = home.Children.First(x => x.DocumentTypeAlias == "WhyBuy");
 }

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-default top-navbar" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    @Html.Partial("Brand/Master/WebsiteLogo")
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="mobile-only">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@products.Name</a>
                            @foreach (var prodCat in products.Children.Where(x => x.DocumentTypeAlias != "Flixmedia"))
                            {
                            <ul class="dropdown-menu">
                                <h5>@prodCat.Name</h5>
                                @foreach (var prod in prodCat.Children)
                                {
                                    if (prod.DocumentTypeAlias != "ProductCategoryGroupKeyFeatureFolder" && prod.DocumentTypeAlias != "Flixmedia")
                                    {
                                        <li>
                                            <a href="@prod.Url">@prod.Name</a>
                                        </li>
                                    }
                                }
                            </ul>
                            }
                        </li>
                        <li class="desktop-only">
                            <a data-toggle="collapse" id="pr-click" href="#categories" aria-expanded="false" aria-controls="categories">
                                @products.Name <img src="/media/622947/arrow-down.svg" alt="Dropdown arrow" class="svg arrowDrop"></a>
                        </li>
						@if(home.Name != "New World")
						{
                        <li class="mobile-only">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@whyBuy.Name</a>                                
							<ul class="dropdown-menu">  										
								
								@{
									foreach(var article in whyBuy.Children){                                    
                                		<li><a href="@article.Url">@article.Name</a></li>
									}
									features = home.Children.First(x => x.DocumentTypeAlias == "Features");
                                	<li><a href="@features.Url">@features.Name</a></li>
								 }
								
                            </ul>
                        </li>
						
                        <li class="desktop-only">
                            <a data-toggle="collapse" id="wb-click" href="#whybuy" aria-expanded="false" aria-controls="whybuy">
                                @whyBuy.Name <img src="/media/622947/arrow-down.svg" alt="Dropdown arrow" class="svg arrowDrop"></a>
                        </li>
						}

                        @if (mainNavigation != null && navigation.GetPropertyValue("mainNavigation", true, "").Length > 2)
                        {
                        foreach (JObject link in mainNavigation)
                        {
                        string linkTitle;
                        string linkTarget;
                        string linkIcon;
                        IPublishedContent node;

                        var linkUrl = USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);

                        //Display nav link for Umbraco Content Page
                        if (node != null && node.IsVisible())
                        {
                        var selected = Array.IndexOf(Model.Content.Path.Split(','), node.Id.ToString()) >= 0 ? " class=\"active\"" : "";

                        if (node.IsDocumentType("USNHomepage") && !Model.Content.IsDocumentType("USNHomepage"))
                        {
                        selected = "";
                        }

                        
                        }
                        @* //Display nav link for external link
                        else if (node == null && linkUrl != string.Empty) *@
                        {
                        <li>
                            <a href="@linkUrl" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>@(link.Value<string>("caption"))@Html.Raw(linkIcon)</a>
                        </li>
                        }
                        }
                        }
                        <li class="desktop-only">
                            <a id="se-click" data-toggle="collapse" href="#search-nav" aria-expanded="false" aria-controls="search-nav">
                                <label for="search_field">
                                    <svg class="svg replaced-svg" xml:space="preserve" enable-background="new 0 0 33.1 33.1" viewBox="0 0 33.1 33.1" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="nav-search" version="1.1">
                                    <path class="search-icon" d="M15.7,10.5c-2,0-3.6,1.6-3.6,3.6c0,2,1.6,3.6,3.6,3.6c2,0,3.6-1.6,3.6-3.6C19.4,12.1,17.7,10.5,15.7,10.5   M15.7,20.2c-3.4,0-6.1-2.7-6.1-6.1c0-3.4,2.7-6.1,6.1-6.1s6.1,2.7,6.1,6.1C21.8,17.4,19.1,20.2,15.7,20.2" fill="#1D1D1B"></path>
                                    <rect  class="search-icon" height="2.5" width="7.6" fill="#1D1D1B" transform="matrix(0.5608 0.828 -0.828 0.5608 26.6255 -7.506)" y="20.1" x="16.6"></rect>
                                    <path d="M6.6,0.6c0,0-6,0-6,6v20c0,0,0,6,6,6h20c0,0,6,0,6-6v-20c0,0,0-6-6-6H6.6z" stroke="#E3E3E2" fill="none"></path>
                                    </svg>
                                </label>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
@Html.Partial("brand/Navigation/MobileSearchForm")
<div class="container-fluid collapse topnav-drop" id="categories">
    <div class="container">
        <div class="row">
            @if (home.Name != "Belling")
            {
                <div class="col-lg-3 col-sm-3 product-image">
                    <h4 id="v-p-n"><a href="@products.Url">@(Umbraco.Field("#View All Products"))</a></h4>
                    <img id="rollOver" src="@image" alt=""> @*/media/622980/gas-range-so-2.png*@
                </div>
            }

            @foreach(var prodCat in products.Children.Where(x => x.DocumentTypeAlias != "Flixmedia"))
            {
            <div class="col-lg-3 col-sm-3">
                <ul class="cooking">
                    <h4><a href="@prodCat.Url">@prodCat.Name</a></h4>
                    @foreach(var prod in prodCat.Children)
                    {
						var im = prod.HasValue("productCategoryImage")? Umbraco.Media(prod.GetPropertyValue("productCategoryImage")).Url: "";
						if (prod.DocumentTypeAlias != "ProductCategoryGroupKeyFeatureFolder" && prod.DocumentTypeAlias != "Flixmedia")
						{
						<li>
							<a class="navLink" href="@prod.Url" src="@im">@prod.Name</a>
						</li>
						}
                    }
                </ul>
                @if (prodCat.Name == "Refrigeration")
                {
                    <h4 id="v-p-n"><a href="@products.Url">@(Umbraco.Field("#View All Products"))</a></h4>
                }
            </div>
            }
        </div>
    </div>
</div>
@if(home.Name != "New World")
{
	<div class="container-fluid collapse topnav-drop" id="whybuy">
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-3 col-sm-3">
					<h4>@whyBuy.Name</h4>
					<ul>

						@foreach(var article in whyBuy.Children){                                    
							<li><a href="@article.Url">@article.Name</a></li>
						}

					</ul>        
				</div>

				<div class="col-sm-4">
					<h4>@Umbraco.Field("#Features")</h4>
					<ul>
						@{

							features = home.Children.First(x => x.DocumentTypeAlias == "Features");                             	
							foreach(var article in features.Children.Take(5)){                                    
								<li><a href="@article.Url">@article.Name</a></li>
							}
                            <li><h4><a href="@products.Url">@(Umbraco.Field("#View All Products"))</a></h4></li>
						}
                        
					</ul>         
				</div>

			</div>
		</div>
	</div>
}
@Html.Partial("brand/Navigation/SearchForm")
