﻿@inherits UmbracoTemplatePage
@{
    var text = Model.Content.HasValue("text") ? Model.Content.GetProperty("text").Value : "";
    var head = Model.Content.HasValue("head") ? Model.Content.GetProperty("head").Value : "";
    var image = Model.Content.HasValue("image") ? Umbraco.TypedMedia(Model.Content.GetProperty("image").Value) : Umbraco.TypedMedia(1001);

    <section class="content advanced-component cta-strip" style="background-color:#CCCCCC;">
        <div class="item standard">
            <div class="info">
                <div class="container valign">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <h3>@head</h3>
                            <p>@text</p>
                            @if (Model.Content.IsDocumentType("CustomerCare"))
                            {
                                var btn = "";
                                try
                                {
                                    btn = Model.Content.AncestorOrSelf(1).Children.First(x => x.IsDocumentType("ContactUs")).Url;
                                }
                                catch
                                {
                                    btn = "";
                                }
                                <a class="btn" href="@btn">Contact</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>        
}
