﻿@inherits UmbracoTemplatePage

@{
    IEnumerable<IPublishedContent> rootNode = Umbraco.TypedContentAtRoot();
    IPublishedContent settingsFolder;
    try
    {
        settingsFolder = Umbraco.TypedContent((int)Model.Content.AncestorOrSelf(1).GetPropertyValue("websiteConfigurationNode"));
    }
    catch
    {
        settingsFolder = Umbraco.TypedContent((int)rootNode.FirstOrDefault(x => HttpContext.Current.Request.Url.Host.Contains(x.Name.ToLower().Replace(" ", string.Empty))).GetPropertyValue("websiteConfigurationNode"));
    }
    var globalSettings = settingsFolder.Children.First(x => x.IsDocumentType("USNGlobalSettings"));

    if (globalSettings.HasValue("socialHeading") || globalSettings.HasValue("facebookLink") ||
        globalSettings.HasValue("twitterLink") || globalSettings.HasValue("linkedInLink") ||
        globalSettings.HasValue("googleLink") || globalSettings.HasValue("pinterestLink") ||
        globalSettings.HasValue("flickrLink") || globalSettings.HasValue("tumblrLink") ||
        globalSettings.HasValue("vimeoLink") || globalSettings.HasValue("youTubeLink") ||
        globalSettings.HasValue("rssFeedLink"))
    {
        <div class="col-sm-3" id="home-social">


            @if (globalSettings.HasValue("socialHeading"))
            {
                <h4 class="desktop-only">Social</h4>
            }
            
            @if (globalSettings.HasValue("twitterLink"))
            {
                <a href="@globalSettings.GetProperty("twitterLink").Value" class="symbol" target="_blank" title="Link will open in a new window/tab">
                    <i class="fa fa-twitter"></i>
                </a>
            }
            @if (globalSettings.HasValue("facebookLink"))
            {
                <a href="@globalSettings.GetProperty("facebookLink").Value" class="symbol" target="_blank" title="Link will open in a new window/tab">
                    <i class="fa fa-facebook"></i>
                </a>
            }
            @if (globalSettings.HasValue("linkedInLink"))
            {
                <a href="@globalSettings.GetProperty("linkedInLink").Value" class="symbol" target="_blank" title="Link will open in a new window/tab">
                    <i class="fa fa-linkedin"></i>
                </a>
            }
            @if (globalSettings.HasValue("googleLink"))
            {
                <a href="@globalSettings.GetProperty("googleLink").Value" class="symbol" target="_blank" title="Link will open in a new window/tab">
                    <i class="fa fa-googleplus"></i>
                </a>
            }
            @if (globalSettings.HasValue("pinterestLink"))
            {
                <a href="@globalSettings.GetProperty("pinterestLink").Value" class="symbol" target="_blank" title="Link will open in a new window/tab">
                    <i class="fa fa-pinterest"></i>
                </a>
            }
            @if (globalSettings.HasValue("instagramLink"))
            {
                <a href="@globalSettings.GetProperty("instagramLink").Value" class="symbol" target="_blank" title="Link will open in a new window/tab">
                    <i class="fa fa-instagram"></i>
                </a>
            }
            @if (globalSettings.HasValue("flickrLink"))
            {
                <a href="@globalSettings.GetProperty("flickrLink").Value" class="symbol" target="_blank" title="Link will open in a new window/tab">
                    <i class="fa fa-flickr"></i>
                </a>
            }
            @if (globalSettings.HasValue("tumblrLink"))
            {
                <a href="@globalSettings.GetProperty("tumblrLink").Value" class="symbol" target="_blank" title="Link will open in a new window/tab">
                    <i class="fa fa-tumblr"></i>
                </a>
            }
            @if (globalSettings.HasValue("vimeoLink"))
            {
                <a href="@globalSettings.GetProperty("vimeoLink").Value" class="symbol" target="_blank" title="Link will open in a new window/tab">
                    <i class="fa fa-vimeo"></i>
                </a>
            }
            @if (globalSettings.HasValue("youTubeLink"))
            {
                <a href="@globalSettings.GetProperty("youTubeLink").Value" class="symbol" target="_blank" title="Link will open in a new window/tab">
                    <i class="fa fa-youtube"></i>
                </a>
            }
            @if (globalSettings.HasValue("rssFeedLink") && library.NiceUrl(Convert.ToInt32(globalSettings.GetProperty("rssFeedLink").Value)) != "#")
            {
                <a href="@library.NiceUrl(Convert.ToInt32(globalSettings.GetProperty("rssFeedLink").Value))" class="symbol" target="_blank" title="Link will open in a new window/tab">
                    <i class="fa fa-rss"></i>
                </a>
            }
        </div>
    }
}