﻿@using RJP.MultiUrlPicker.Models
@inherits UmbracoTemplatePage

@{

	var homeNode = Model.Content.AncestorOrSelf(1);

    if (homeNode.Name != "Stoves German")
    {

		IEnumerable<IPublishedContent> rootNode = Umbraco.TypedContentAtRoot();
		IPublishedContent settingsFolder;
		try
		{
			settingsFolder = Umbraco.TypedContent((int)Model.Content.AncestorOrSelf(1).GetPropertyValue("websiteConfigurationNode"));
		}
		catch
		{
			settingsFolder = Umbraco.TypedContent((int)rootNode.FirstOrDefault(x => HttpContext.Current.Request.Url.Host.Contains(x.Name.ToLower().Replace(" ", string.Empty))).GetPropertyValue("websiteConfigurationNode"));
		}
		var globalSettings = settingsFolder.Children.First(x => x.IsDocumentType("USNGlobalSettings"));
		var id = globalSettings.GetProperty("dotMailerAddressBookID").Value;
		var url = "http://" + HttpContext.Current.Request.Url.Host + globalSettings.GetPropertyValue<MultiUrls>("dotMailerReturnUrl").First().Url;
		

		<script type="text/javascript">
			function validate_signup(frm) {
				var emailAddress = frm.Email.value;
				var errorString = '';
				if (emailAddress === '' || emailAddress.indexOf('@@') === -1) {
					errorString = 'Please enter your email address';
				}

				var isError = false;
				if (errorString.length > 0)
					isError = true;

				if (isError)
					alert(errorString);
				return !isError;
			}
		</script>

		@* Close container div so full screen container can be used. *@
		<div class="container-fluid newsletter-background">
			<div class="container">
				<div class="row desktop-only" id="newsletter-desktop">
					<div class="col-sm-3 news-icon"><img src="/media/622967/newsletter.svg" class="svg" alt=""></div>
					<div class="col-sm-3 news-copy">
						<h4>Newsletter</h4>
						<p>Sign up for our newsletter to get the latest news</p>
					</div>
					<div class="col-sm-6 news-form">
						<form action="http://dmtrk.com/signup.ashx" class="navbar-form navbar-right" enctype="multipart/form-data" method="post" onsubmit="return validate_signup(this)">
							<input type="hidden" name="addressbookid" value="@id">
							<input type="hidden" name="userid" value="16000">
							<input type="hidden" name="ReturnURL" value="@url">
							<fieldset>
								<span class="input">
									<input id="Email" class="form-control" name="Email" placeholder="Your email address" type="text" value="" />
								</span>
								<button type="submit" class="btn btn-default" onclick="_gaq.push(['_trackEvent', 'Information', 'newsletter_signup', 'Newsletter Signup']);">
								Register</button>
							</fieldset>
						</form>
					</div>
				</div>
				<div class="row mobile-only" id="newsletter-mobile">
					<div class="col-sm-12 collapse-arrow" data-toggle="collapse" data-target="#news-collapse" aria-expanded="false" aria-controls="news-collapse">
						<div class="h4">Newsletter <span class="icon arr"><img src="/media/622947/arrow-down.svg" class="svg" alt=""></span></div>
					</div>
					<div class="col-sm-12 collapse" id="news-collapse">
						<form action="http://dmtrk.com/signup.ashx" class="navbar-form navbar-right" enctype="multipart/form-data" method="post" onsubmit="return validate_signup(this)">
							<input type="hidden" name="addressbookid" value="@id">
							<input type="hidden" name="userid" value="16000">
							<input type="hidden" name="ReturnURL" value="@url">
							<fieldset>
								<span class="input">
									<input id="Email" class="form-control" name="Email" placeholder="Email Address" type="text" value="" />
								</span>
								<button type="submit" class="btn btn-default" onclick="_gaq.push(['_trackEvent', 'Information', 'newsletter_signup', 'Newsletter Signup']);" value="Sign up">
								Submit</button>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	}
}
