﻿@inherits UmbracoTemplatePage

@using Umbraco.Web.Models
@using USN.UrlPicker.Umbraco.Models;

@{
   
    var homeNode = Model.Content.AncestorOrSelf(1);
    IEnumerable<IPublishedContent> rootNode = Umbraco.TypedContentAtRoot();
    IPublishedContent settingsFolder;
    try
    {
        settingsFolder = Umbraco.TypedContent((int)Model.Content.AncestorOrSelf(1).GetPropertyValue("websiteConfigurationNode"));
    }
    catch
    {
        settingsFolder = Umbraco.TypedContent((int)rootNode.FirstOrDefault(x => HttpContext.Current.Request.Url.Host.Contains(x.Name.ToLower().Replace(" ", string.Empty))).GetPropertyValue("websiteConfigurationNode"));
    }
    var globalSettings = settingsFolder.Children.First(x => x.IsDocumentType("USNGlobalSettings"));
    var text = "";
    var heading1 = "";
    var value1 = "";
    var heading2 = "";
    var value2 = "";
    var heading3 = "";
    var value3 = "";

    if (!Model.Content.GetPropertyValue<bool>("hideOutroStripSection"))
    {
        if (Model.Content.GetPropertyValue<bool>("overrideDefaultOutroStripSection"))
        {
            USNUrlHelper.GetSingleUrlFromUrlPicker(Model.Content.GetPropertyValue<UrlPicker>("outroLink"));

            if (Model.Content.HasValue("outroText"))
            {
                text = Model.Content.GetProperty("outroText").Value.ToString();
            }
        }
        else
        {
            heading1 = globalSettings.HasValue("heading1") ? globalSettings.GetPropertyValue("heading1").ToString() : null;
            value1 = globalSettings.HasValue("value1") ? globalSettings.GetPropertyValue("value1").ToString() : null;
            heading2 = globalSettings.HasValue("heading2") ? globalSettings.GetPropertyValue("heading2").ToString() : null;
            value2 = globalSettings.HasValue("value2") ? globalSettings.GetPropertyValue("value2").ToString() : null;
            heading3 = globalSettings.HasValue("heading3") ? globalSettings.GetPropertyValue("heading3").ToString() : null;
            value3 = globalSettings.HasValue("value3") ? globalSettings.GetPropertyValue("value3").ToString() : null;
        }
        if (string.IsNullOrWhiteSpace(text) && (!string.IsNullOrWhiteSpace(heading1) && !string.IsNullOrWhiteSpace(value1)))
        {
		<div class="row" id="contact">
      @* <div class="col-sm-12 col-xs-12">
				<h4><a href="/contact">Contact</a></h4>
			</div> *@
			@if (!string.IsNullOrWhiteSpace(heading1) || !string.IsNullOrWhiteSpace(value1))
			{
				<!-- column -->						
				<div class="col-sm-4">
					<div class="mobile-only row">
						<i class="tel-icon fa fa-mobile"></i><span class="h4 tel-title"><a href=@("tel:" + value1.Replace(" ",String.Empty))>@heading1</a></span>
					</div>
					<div class="footer-icon desktop-only">
						<i class="tel-icon fa fa-mobile"></i>
					</div>
					<div class="footer-details">
						<div class="desktop-only">
							<span class="h4">@heading1</span>
						</div>
						<ul class="desktop-only">
							<li><a class="mob-num-foot" href="/contact">@value1</a></li>
						</ul>
					</div>
				</div>		
				<!--// column -->
			}
			@if (!string.IsNullOrWhiteSpace(heading2) || !string.IsNullOrWhiteSpace(value2))
			{
				<!-- column -->						
				<div class="col-sm-4">
					<div class="mobile-only row">
						<i class="tel-icon fa fa-mobile"></i><span class="h4 tel-title"><a href=@("tel:" + value2.Replace(" ",String.Empty))>@heading2</a></span>
					</div>
					<div class="footer-icon desktop-only">
						<i class="tel-icon fa fa-mobile"></i>
					</div>
					<div class="footer-details">
						<div class="desktop-only">
							<span class="h4">@heading2</span>
						</div>
						<ul class="desktop-only">
							<li><a class="mob-num-foot" href="/contact">@value2</a></li>
						</ul>
					</div>
				</div>		
				<!--// column -->
			}
			@if (!string.IsNullOrWhiteSpace(heading3) || !string.IsNullOrWhiteSpace(value3))
			{
				<!-- column -->						
				<div class="col-sm-4">
					<div class="mobile-only row">
						<i class="tel-icon fa fa-mobile"></i><span class="h4 tel-title"><a href=@("tel:" + value3.Replace(" ",String.Empty))>@heading3</a></span>
					</div>
					<div class="footer-icon desktop-only">
						<i class="tel-icon fa fa-mobile"></i>
					</div>
					<div class="footer-details">
						<div class="desktop-only">
							<span class="h4">@heading3</span>
						</div>
						<ul class="desktop-only">
							<li><a class="mob-num-foot" href="/contact">@value3</a></li>
						</ul>
					</div>
				</div>		
				<!--// column -->
			}
			<div class="col-sm-12 col-xs-12">				
				<ul class="desktop-only text-center">
					@if(homeNode.Name != "Stoves German") {
						<li><a href="/contact">For opening hours or to contact us please <strong>click here</strong></a></li>
					} 
					else {
						<li><a href="/contact">@Umbraco.Field("#For opening hours or to contact us please")</a></li>
					}
				</ul>
			</div>
		</div>			
        }
 
    }
}
