﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.BusinessLogic;

@{
    @*Change for Mutli Site functions*@
    IEnumerable<IPublishedContent> rootNode = Umbraco.TypedContentAtRoot();
    IPublishedContent settingsFolder;
    try
    {
        settingsFolder = Umbraco.TypedContent((int) Model.Content.AncestorOrSelf(1).GetPropertyValue("websiteConfigurationNode"));
    }
    catch
    {
        settingsFolder = Umbraco.TypedContent((int)rootNode.FirstOrDefault(x => HttpContext.Current.Request.Url.Host.Contains(x.Name.ToLower().Replace(" ", string.Empty))).GetPropertyValue("websiteConfigurationNode"));
    }
    var globalSettings = settingsFolder.Children.First(x => x.IsDocumentType("USNGlobalSettings"));

	string canonical = "";
    string title = "";
    string image = "";
    string siteName = "";
    string description = "";
	//metaKeywords
   
	if (Request.Url != null)
	{
		var host = Request.Url.Scheme + "://" + Request.Url.Host;
		var url = Model.Content.Url;

		if(CurrentPage.DocumentTypeAlias == "ProductSku")
		{
			string parentUrl = CurrentPage.Parent().Url;
			url = parentUrl;
			
			if(Request.RawUrl.ToLower().Contains("factsheet"))
			{
				url = parentUrl + "factsheet";
			}	
		}
		
		canonical = host + url;
		<link rel="canonical" href="@canonical"/>
	}
   
    
    
	if(Model.Content.HasValue("metaTitle")) {
		@Html.Raw("<title>" + Model.Content.GetProperty("metaTitle").Value + "</title>")
	}
    else if (Model.Content.HasValue("pageTitle"))
    {
		@Html.Raw("<title>" + Model.Content.GetProperty("pageTitle").Value + "</title>")
    }
    else
    {
		@Html.Raw("<title>" + Model.Content.Name + " - " + globalSettings.GetProperty("websiteName").Value + "</title>")
    }

    if (Model.Content.HasValue("openGraphTitle"))
    {
        title = Model.Content.GetProperty("openGraphTitle").Value.ToString();
    }
    else
    {
        title = Model.Content.Name + " - " + globalSettings.GetProperty("websiteName").Value;
    }

    if (Model.Content.HasValue("openGraphImage") && Umbraco.TypedMedia(Model.Content.GetProperty("openGraphImage").Value) != null)
    {
        image = Request.Url.Scheme + "://" + Request.Url.Host + Umbraco.TypedMedia(Model.Content.GetProperty("openGraphImage").Value).Url;
    }
    else if (globalSettings.HasValue("openGraphDefaultImage") && Umbraco.TypedMedia(globalSettings.GetProperty("openGraphDefaultImage").Value) != null)
    {
        image = Request.Url.Scheme + "://" + Request.Url.Host + Umbraco.TypedMedia(globalSettings.GetProperty("openGraphDefaultImage").Value).Url;
    }

    if (Model.Content.HasValue("openGraphDescription"))
    {
        description = Model.Content.GetProperty("openGraphDescription").Value.ToString();
    }

    if (globalSettings.HasValue("websiteName"))
    {
        siteName = globalSettings.GetProperty("websiteName").Value.ToString();
    }
    <meta name="keywords" content="@Umbraco.Field("metaKeywords",recursive: true)" />
	<meta name="description" content="@Umbraco.Field("metaDescription",recursive: true)" />

	<meta property="og:type" content="website">
    <meta property="og:title" content="@title" />
    <meta property="og:image" content="@image" />
    <meta property="og:url" content="@canonical" />
    <meta property="og:description" content="@description" />
    <meta property="og:site_name" content="@siteName" />	
		
    if (Model.Content.IsDocumentType("USNHomepage") && globalSettings.HasValue("googleBusinessLink"))
	{
	<link href="@globalSettings.GetProperty("googleBusinessLink").Value" rel="publisher" />
	}
}