﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    IEnumerable<IPublishedContent> rootNode = Umbraco.TypedContentAtRoot();
    IPublishedContent settingsFolder;
    try
    {
        settingsFolder = Umbraco.TypedContent((int)Model.Content.AncestorOrSelf(1).GetPropertyValue("websiteConfigurationNode"));
    }
    catch
    {
        settingsFolder = Umbraco.TypedContent((int)rootNode.FirstOrDefault(x => HttpContext.Current.Request.Url.Host.Contains(x.Name.ToLower().Replace(" ", string.Empty))).GetPropertyValue("websiteConfigurationNode"));
    }
    var globalSettings = settingsFolder.Children.First(x => x.IsDocumentType("USNGlobalSettings"));
	var logo = Umbraco.Media(globalSettings.GetPropertyValue("websiteLogo")).Url;

    <div id="logo">
        <a href="/">@* @globalSettings.GetProperty("websiteName").Value *@
            <img src="@logo" alt="@Model.Content.AncestorOrSelf(1).Name">
        </a>
    </div>
}
