
<div class="container">
  <div class="footer-holder">
    <div class="footer-panel">
      <h3>Brands & Support</h3>
      <ul>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
      </ul>
    </div>
    <div class="footer-panel">
      <h3>Useful Information</h3>
      <ul>
        <li><a>link</a></li>
        <li><a>link</a></li>
      </ul>
    </div>
    <div class="footer-panel">
      <h3>Site Information</h3>
      <ul>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
      </ul>
    </div>
    <div class="newsletter-panel">
      <h3>Newsletter</h3>
      <p>Sign up to our Newsletter for all the latest news</p>
      <form action="http://gdha.windev.uniform.local/" enctype="multipart/form-data" method="post" class="newsletter-form">
        <fieldset><span class="input">
            <input id="Name" name="Name" placeholder="Your name" type="text"/>
            <input id="Email" name="Email" placeholder="Your email address" type="text"/></span>
          <input type="submit" value="+ Sign up"/>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="logo-footer"></div>
</div>