﻿<div ng-controller="Uniform.TextboxWithCharacterCount" id="Uniform_TextboxWithCharacterCount">
    <input ng-model="model.value"
           ng-change="update()"
           class="umb-editor umb-Textbox Textbox"
           type="text" /><br />
    <small ng-class="model.className">{{model.remainingCount}} chars remaining</small>
</div>

<style>
    #Uniform_TextboxWithCharacterCount .red {
        color: red;
    }

    #Uniform_TextboxWithCharacterCount .yellow {
        color: yellow;
    }

    #Uniform_TextboxWithCharacterCount .orange {
        color: orange;
    }

    #Uniform_TextboxWithCharacterCount .green {
        color: green;
    }
</style>