﻿<div id="ghda-fp-{{model.id}}" class="gdha-fp" ng-controller="Uniform.ProductFeaturePicker">


    <table class="table uniform-prodfeature-table">

        <tbody ng-repeat="set in status">
            <tr>
                <th colspan="2" class="uniform-prodfeature-heading">{{set.name}}</th>
            </tr>

            <tr ng-repeat="feature in set.features track by feature.Id">
                <td class="uniform-feature-name">{{feature.Name}}</td>


                <td class="uniform-feature-box" ng-if="feature.FeatureType == 'CheckBox'">
                    <input type="checkbox" id="{{feature.Id}}" ng-model="feature.Value" />
                </td>
                <td class="uniform-feature-box" ng-if="feature.FeatureType == 'DropDownList'">
                    <select ng-model="feature.Value">
                        <option ng-repeat="option in feature.items"
                                value="{{option.Id}}"
                                ng-selected="option.Id == feature.Value"
                                >{{option.Description}}
                        </option>
                    </select>

                    
                </td>
                <td class="uniform-feature-box" ng-if="feature.FeatureType == 'TextBox'">
                    <input type="text" id="{{feautre.Id}}" ng-model="feature.Value" />
                </td>
            </tr>
        </tbody>
    </table>

    <!--
    <div class="text-muted">
        <h3>Status</h3>
        {{status}}
    </div>

    <div class="text-muted">
        <h3>Model</h3>
        {{model.value}}
    </div>
    -->
    

</div>