﻿ .uniform-prodfeature-table
 {
     
 }

 .uniform-prodfeature-table tbody {
     border-top: 1px solid transparent;
 }
 
 .uniform-prodfeature-table tbody+tbody {
    border-top: 1em solid transparent;
    /* padding-top: 1em; */
}
 
  .uniform-prodfeature-table .uniform-prodfeature-heading
  {
      font-size: 1.3em;
  }

  .uniform-feature {

  }

  .uniform-feature-box {


  }