﻿
@inherits UmbracoTemplatePage


<div class="container-fluid mobile-only" id="social-mobile">
    <div class="row" id="inspiration-social-desktop">
        <div>
            <div class="carousel slide" id="blog-carousel">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#blog-carousel" class="active">
                    </li>
                    <li data-slide-to="1" data-target="#blog-carousel">
                    </li>
                    <li data-slide-to="2" data-target="#blog-carousel">
                    </li>
                    <li data-slide-to="3" data-target="#blog-carousel">
                    </li>
                </ol>

                <div class="carousel-inner">
                    @{
                        //Video
                        var socialFeed = Model.Content.AncestorOrSelf(1).Children.First(x => x.DocumentTypeAlias == "SocialFeed");
                        var videoFeed = socialFeed.Children.First(x => x.DocumentTypeAlias == "VideoFeed");
                        IPublishedContent image = null;
                        object head = null;
                        object text = null;
                        var link = "";

                        if (videoFeed.Children.Any())
                        {
                            var video = videoFeed.Children.First();
                            image = video.HasValue("thumbImage") ? Umbraco.TypedMedia((int) video.GetPropertyValue("thumbImage")) : null;
                            head = video.GetPropertyValue("heading");
                            text = video.GetPropertyValue("description");
                            link = video.Url;
                        }
                        <div class="item active">
                            <img alt="" src="@image.GetCropUrl(1500, 550)">
                            <div class="carousel-caption">
                                <h4>@head</h4>
                                <p>@text</p>
                                <a href = "@link"> @head</a>
                            </div>
                        </div>

                        //News
                        var newsFeed = socialFeed.Children.First(x => x.DocumentTypeAlias == "NewsFeed");

                        if (newsFeed.Children.Any())
                        {
                            var news = newsFeed.Children.First();
                            image = news.HasValue("thumbImage") ? Umbraco.TypedMedia((int) news.GetPropertyValue("thumbImage")) : null;
                            head = news.GetPropertyValue("heading");
                            text = news.GetPropertyValue("description");
                            link = news.Url;
                        }

                        <div class="item">
                            <img alt="" src="@image.GetCropUrl(1500, 550)">
                            <div class="carousel-caption">
                                <h4>@head</h4>
                                <p>@text</p>
                                <a href = "@link"> @head</a>
                            </div>
                        </div>
                        //Competitions
                        var compFeed = socialFeed.Children.First(x => x.DocumentTypeAlias == "CompetitionFeed");
                        if (compFeed.Children.Any())
                        {
                            var comp = compFeed.Children.First();
                            image = comp.HasValue("thumbImage") ? Umbraco.TypedMedia((int) comp.GetPropertyValue("thumbImage")) : null;
                            head = comp.GetPropertyValue("heading");
                            text = comp.GetPropertyValue("description");
                            link = comp.Url;
                        }

                        <div class="item">
                            <img alt="" src="@image.GetCropUrl(1500, 550)">
                            <div class="carousel-caption">
                                <h4>@head</h4>
                                <p>@text</p>
                                <a href = "@link"> @head</a>
                            </div>
                        </div>
                        //Recipes
                        var recipeFeed = socialFeed.Children.First(x => x.DocumentTypeAlias == "RecipeFeed");
                        if (recipeFeed.Children.Any())
                        {
                            var recipe = recipeFeed.Children.First();
                            image = recipe.HasValue("thumbImage") ? Umbraco.TypedMedia((int) recipe.GetPropertyValue("thumbImage")) : null;
                            head = recipe.GetPropertyValue("heading");
                            text = recipe.GetPropertyValue("description");
                            link = recipe.Url;
                        }

                        <div class="item">
                             <img alt="" src="@image.GetCropUrl(1500, 550)">
                            <div class="carousel-caption">
                                <h4>@head</h4>
                                <p>@text</p>
                                <a href = "@link"> @head</a>
                            </div>
                        </div>
                    }
                </div>
                <a class="left carousel-control" href="#blog-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#blog-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
</div>