﻿@using Archetype.Models
@using RJP.MultiUrlPicker.Models
@using USN.UrlPicker.Umbraco.Models
@inherits UmbracoTemplatePage
@{

    var homeNode = Model.Content.AncestorOrSelf(1);
	var brand = Model.Content.AncestorOrSelf(1).Name.ToLower();
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var globalSettings = settingsFolder.Children.First(x => x.IsDocumentType("USNGlobalSettings"));
    var brochure = globalSettings.HasValue("brochure") ? USNUrlHelper.GetSingleUrlFromUrlPicker(globalSettings.GetPropertyValue<UrlPicker>("brochure")) : null;
    var item = globalSettings.GetPropertyValue<ArchetypeModel>("productsFeature");
    var whereToBuy = homeNode.Children.First(x => x.DocumentTypeAlias == "WhereToBuy").Url;
	var productsNode = homeNode.Children.First(x => x.DocumentTypeAlias == "ProductLanding");
}

<div class="container" id="product-categories">
<h2>@(productsNode.Name)</h2>
<p class="view-all"><a href="@productsNode.Url">@(Umbraco.Field("#USN View All"))</a></p>
<div class="row"> 
    @if (item.Any())
    {
        var heading = item.First().HasValue("heading") ? item.First().GetValue("heading") : "";
        var body = item.First().HasValue("body") ? item.First().GetValue("body") : "";
        var link = item.First().HasValue("link") ? item.First().GetValue<MultiUrls>("link").First().Url : null;
        var infoLink = item.First().HasValue("informationLink") ? item.First().GetValue<MultiUrls>("informationLink").First().Url : null;
        var image = item.First().HasValue("image") ? Umbraco.TypedMedia(int.Parse(item.First().GetValue("image"))) : null;
		<div class="p-c-l product-box float-left">
			@if (infoLink != null)
			{
				<div class="info-icon desktop-only"><a href="@infoLink"><img src="/media/622966/more-info.svg" class="svg" alt="more-info"></a></div>
			}
			@if (!string.IsNullOrWhiteSpace(heading))
			{
				<h5>@heading</h5>
			}
			@if (image != null)
			{
				<div class="p-c-i">
					<a href="@link"><img src="@image.Url" alt="Products"></a>
				</div>
			}
			@if (!string.IsNullOrWhiteSpace(body))
			{
				<p class="opacity-50">@body</p>
			}
			@if (link != null)
			{
				<a class="btn btn-black" href="@link">@(Umbraco.Field("#USN General View more"))</a>
			}
        </div>	
    }
		
       @foreach (var fieldset in item)
        {
            var heading = fieldset.HasValue("heading") ? fieldset.GetValue("heading") : "";
            var body = fieldset.HasValue("body") ? fieldset.GetValue("body") : "";
            var link = fieldset.HasValue("link") ? fieldset.GetValue<MultiUrls>("link").First().Url : null;
            var infoLink = fieldset.HasValue("informationLink") ? fieldset.GetValue<MultiUrls>("informationLink").First().Url : null;
            var image = fieldset.HasValue("image") ? Umbraco.TypedMedia(int.Parse(fieldset.GetValue("image"))) : null;

            if (item.First() == fieldset)
            {
			}else if (homeNode.Name == "Stoves German"){
				@*should just be able to delete the items from the global settings, but as no roll back fudge*@
				if (item.Skip(1).First() == fieldset){
					<div class="p-c-l product-box float-left">
						@if (infoLink != null)
						{
							<div class="info-icon desktop-only"><a href="@infoLink"><img src="/media/622966/more-info.svg" class="svg product-right" alt="more-info"></a></div>
						}
						@if (!string.IsNullOrWhiteSpace(heading))
						{
							<h5>@heading</h5>
						}
						@if (image != null)
						{
							<div class="p-c-i">
								<a href="@link"><img src="@image.Url" alt="Products"></a>
							</div>
						}
						@if (!string.IsNullOrWhiteSpace(body))
						{
							<p class="opacity-50">@body</p>
						}
						@if (link != null)
						{
							<a class="btn btn-black" href="@link">@(Umbraco.Field("#USN General View more"))</a>
						}
					</div>
				}
			}
            else
            {
				<div class="p-c-s product-box desktop-only">
					@if (infoLink != null)
					{
						<div class="info-icon desktop-only"><a href="@infoLink"><img src="/media/622966/more-info.svg" class="svg" alt="more-info"></a></div>
					}
					@if (!string.IsNullOrWhiteSpace(heading))
					{
						<h5>@heading</h5>
					}
					@if (image != null)
					{
						<div class="p-c-i">
							<a href="@link"><img src="@image.Url" alt="Products"></a>
						</div>
					}
					@if (link != null)
					{
						<a class="btn btn-black" href="@link">@(Umbraco.Field("#USN General More"))</a>
					}
				</div>
            }
        }
	</div>
		
	@if(homeNode.Name != "Stoves German")
	{
		<div class="row" id="home-wtb">
			<a href="@whereToBuy">
				<div class="where">
					<img src="/media/622962/independant-retailer.svg" class="svg" alt="Find your store">@(Umbraco.Field("#Find Your Local Store"))
				</div>
			</a>
			@if(brochure != null)
			{
				<a href="@brochure.LinkURL" @Html.Raw(brochure.LinkTarget) @Html.Raw(brochure.LinkTitle)>@(Html.Raw(brochure.LinkIcon))
					<div class="download">
						<img src="/media/622968/pdf.svg" class="svg" alt="view brochure">@brochure.LinkCaption
					</div>
				</a>
			}
		</div>
	}
		
</div>

