﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{

    //var register = Umbraco.TypedMedia(7586).Url;
    //var recycle = Umbraco.TypedMedia(1939).GetResponsiveImageUrl(300,0);
    var registerLink = "http://www.registermyappliance.org.uk/";
    var repicLink = "http://www.responsible-recycling.co.uk/";
 }
<div class ="container">
    <div class="row" id="register">
        <div class="col-sm-3">
            <img src="/media/622995/register-my-appliance-rgb.svg" alt="Register my appliance" id="reg-img">
        </div>
        <div class="col-sm-6">
            <p>Please register your new or old appliances here.<br class="desktop-only">This will allow us to help you faster if you ever need us.</p>
        </div>
        <div class="col-sm-3">
            <a href="@registerLink" onclick="_gaq.push(['_trackEvent', 'RMA', 'Clicked', 'RMA register']);" class="btn btn-black" target="_blank">Register</a>
        </div>        
    </div>
</div>


