﻿@using Umbraco.Web.Models
@inherits UmbracoTemplatePage
@{

    <div class="container-fluid" id="social">
        <div class="container">
            <div class="row desktop-only">
                <div class=" col-sm-4">
                    <div class="home-social">
                        @Html.Partial("Brand/Social/Convince", @Model.Content as RenderModel)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="home-social">
                        @Html.Partial("Brand/Social/Educate", @Model.Content as RenderModel)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="home-social">
                        @Html.Partial("Brand/Social/Engage", @Model.Content as RenderModel)
                    </div>
                </div>
            </div>                
        </div>
        @Html.Partial("Brand/Social/MobileSocialLanding", @Model.Content as RenderModel)
    </div>
}