﻿@using Uniform.Web.SurfaceControllers
@model Uniform.Web.Models.BrandBrochureOrderModel

<div class="col-sm-12"><h4>Request a brochure</h4><br></div>

<div class="form-container">    
    @using (Html.BeginUmbracoForm<BrandBrochureOrderSurfaceController>("SendBrochureForm", null, new {@class = "feedback-form"}))
    {
        <div class="col-sm-3">
            @Html.TextBoxFor(x => x.Title, new {placeholder = "Title"})
            @Html.ValidationMessageFor(x => x.Title)
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.FirstName, new {placeholder = "First Name"})
            @Html.ValidationMessageFor(x => x.FirstName)
        </div>
        <div class="col-sm-12">
            @Html.TextBoxFor(x => x.LastName, new {placeholder = "Last Name"})
            @Html.ValidationMessageFor(x => x.LastName)
        </div>
        <div class="col-sm-12">
            @Html.TextBoxFor(x => x.Email, new {placeholder = "Email"})
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div class="col-sm-12">
            @Html.TextBoxFor(x => x.Telephone, new {placeholder = "Phone number"})
            @Html.ValidationMessageFor(x => x.Telephone)
        </div>
        <div class="col-sm-12">
            @Html.TextBoxFor(x => x.PropertyNumber, new {placeholder = "Property Number"})
            @Html.ValidationMessageFor(x => x.PropertyNumber)
        </div>
        <div class="col-sm-12">
            @Html.TextBoxFor(x => x.Street, new {placeholder = "Street"})
            @Html.ValidationMessageFor(x => x.Street)
        </div>
        <div class="col-sm-12">
            @Html.TextBoxFor(x => x.Town, new {placeholder = "Town"})
            @Html.ValidationMessageFor(x => x.Town)
        </div>
        <div class="col-sm-12">
            @Html.TextBoxFor(x => x.County, new {placeholder = "County"})
            @Html.ValidationMessageFor(x => x.County)
        </div>
        <div class="col-sm-12">
            @Html.TextBoxFor(x => x.Postcode, new {placeholder = "Postcode"})
            @Html.ValidationMessageFor(x => x.Postcode)
        </div>
        <div class="col-sm-12">*All fields are mandatory.</div><br/><br/>

        <div class="col-sm-12">
            <strong>
                @Html.CheckBoxListFor(x => x.PostedBrochurers.BrochureIDs,
                    x => x.AvailableBrochurers,
                    x => x.Text,
                    x => x.Text,
                    x => x.Selected)
                @Html.ValidationMessageFor(x => x.AvailableBrochurers)
            </strong>
        </div>
        @* <div class="col-sm-9">
            @Html.LabelFor(x => x.GivenConsentToBeContacted)
            @Html.CheckBox("GivenConsentToBeContacted", Model.GivenConsentToBeContacted)
            @Html.ValidationMessageFor(x => x.GivenConsentToBeContacted)
        </span> *@

        <div class="col-sm-12">
            <br>
            <input class="btn btn-default" type="submit" value="Submit"/>
        </div>
        <div class="col-sm-12">
            <br>
            <p>Any information you submit here will be treated according to the Glen Dimplex Home Appliances data privacy policy.</p>
            <br><br>
        </div>
    }
</div>