﻿@using System.Web.Mvc;
@using Uniform.GDHA.BusinessLogic.SurfaceControllers;
@using Uniform.GDHA.BusinessLogic.Models;

@model CommunityKitchenFormModel

<div class="divider">
	<div class="left-copy">
		@using (Html.BeginUmbracoForm<BrandContactFormSurfaceController>("SendContactForm", null, new { @class = "feedback-form" }))
		{
			<label for="name">Full Name</label>
			@Html.TextBoxFor(x => Model.Name, new { placeholder = "Name", @Name = "name" })
			@Html.ValidationMessageFor(x => Model.Name)
			<label for="number">Contact Telephone Number</label>
			@Html.TextBoxFor(x => Model.Telephone, new { placeholder = "Phone number", @Name = "number" })
			@Html.ValidationMessageFor(x => Model.Telephone)
			<label for="email">Contact Email</label>
			@Html.TextBoxFor(x => Model.Email, new { placeholder = "Email", @Name = "email" })
			@Html.ValidationMessageFor(x => Model.Email)
			<label for="why">Why does your project deserve to win?</label>
			<p>In no more then 300 words please tell us why you think your project deserves to win. Your answer should include an overview of the project, where it is located, how it benefits the community and what you would use the applicances for.</p>
			@Html.TextAreaFor(x => Model.Answer, new { rows = 10, @Name = "why" })
			@Html.ValidationMessageFor(x => Model.Answer)
	
			<input type="submit" value="Submit" onclick="_gaq.push(['_trackEvent', 'Community Kitchen', 'submission', 'Enter Campaign']);" />
	
		}
	</div>
	<div class="right-copy"><img src="/media/554711/Stoves_Comm_Kitchen_Site_form.jpg" style="width: auto; height: auto;"></div>
</div>