﻿@inherits UmbracoTemplatePage
@using Uniform.GDHA.BusinessLogic.Razor;
@using RJP.MultiUrlPicker.Models;
@*using Uniform.GDHA.BusinessLogic.SurfaceControllers;*@

    @helper LinksHelper(string header, string css, MultiUrls urls)
    {
        if (urls == null || !urls.Any())
        {
            return;
        }
        <div class="item @css">
            <h2>@header</h2>
            <ul>
                @foreach (Link state in urls)
                {
                    if (state != null)
                    {
                        <li><a href="@state.Url" target="@state.Target">@state.Name</a></li>
                    }
                }
            </ul>
        </div>
    }
<footer id="siteFooter" role="contentinfo">
    <div class="inner">
        @LinksHelper("Brands & Support", "", Model.Content.AncestorOrSelf("Home").GetPropertyValue<MultiUrls>("brandSupport"))
        @LinksHelper("Useful Information", "useful", Model.Content.AncestorOrSelf("Home").GetPropertyValue<MultiUrls>("usefulInformation"))
        @LinksHelper("Site Information", "site", Model.Content.AncestorOrSelf("Home").GetPropertyValue<MultiUrls>("siteInformation"))
        <div class="logo">
            <a href="/"><span class="icon icon-logo-main-blue"></span></a>
        </div>
    </div>
</footer>