﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@inherits UmbracoTemplatePage
@{
    bool IsPostcodeValid = !string.IsNullOrEmpty(this.Request.Params["postcode"]) && System.Text.RegularExpressions.Regex.IsMatch(this.Request.Params["postcode"].ToUpper(), "(GIR 0AA)|((([A-Z-[QVX]][0-9][0-9]?)|(([A-Z-[QVX]][A-Z-[IJZ]][0-9][0-9]?)|(([A-Z-[QVX]][0-9][A-HJKSTUW])|([A-Z-[QVX]][A-Z-[IJZ]][0-9][ABEHMNPRVWXY])))) ?[0-9][A-Z-[CIKMOV]]{2})");

    if (this.IsPost)
    {
        if (!string.IsNullOrEmpty(this.Request.Params["centre"]))
        {
            if (IsPostcodeValid)
            {
                this.Response.Redirect(string.Format("{0}://www.{1}.co.uk/where-to-buy/?q={2}&r={3}#map", this.Request.Url.Scheme, this.Request.Params["centre"], Url.Encode(this.Request.Params["postcode"].ToUpper()), 4142), true);
            }
        }
    }
}
<header>
    <a href="/" title="Home">
        <div class="brand">
            @*<a href="/">
                  <div class="logos">
                    <div class="logo">
                        @if (Model.Content.AncestorOrSelf().HasValue("logo1")){
                            var imageId = Model.Content.AncestorOrSelf().GetPropertyValue("logo1");
                            <img src="/imagegen.ashx?image=@Umbraco.TypedMedia(@imageId).Url&amp;width=475&amp;constrain=true;&amp;compression=97">
                        } else {
                            <img src="http://placehold.it/150x80/ABABAB/ffffff&amp;text=Add Range Logo">
                        }
                    </div>
                    <div class="logo">
                        @if (Model.Content.AncestorOrSelf().HasValue("logo2")){
                            var imageId = CurrentPage.AncestorOrSelf().GetPropertyValue("logo2");
                            <img src="/imagegen.ashx?image=@Umbraco.TypedMedia(@imageId).Url&amp;width=475&amp;constrain=true;&amp;compression=97">
                        } else {
                            <img src="http://placehold.it/150x80/ABABAB/ffffff&amp;text=Add Range Logo">
                        }
                    </div>
                    <div class="logo">
                        @if (Model.Content.AncestorOrSelf().HasValue("logo3")){
                            var imageId = CurrentPage.AncestorOrSelf().GetPropertyValue("logo3");
                            <img src="/imagegen.ashx?image=@Umbraco.TypedMedia(@imageId).Url&amp;width=475&amp;constrain=true;&amp;compression=97">
                        } else {
                            <img src="http://placehold.it/150x80/ABABAB/ffffff&amp;text=Add Range Logo">
                        }
                    </div>
                  </div></a>
                <div class="search">
                  <form action="/search/" method="get" class="search-form">
                    <fieldset><span class="input">
                        <input type="text" name="q" value="" placeholder="Search" class="search-input">
                        <input type="submit" value="Search" class="search-button"></span></fieldset>
                  </form>
                </div>*@
        </div>
    </a>
    <div class="find">
        <form id="form" action="/" method="post">
            <fieldset>
                <p class="title">To find your nearest Belling or Stoves Range Centre:</p>
                <div id="left">
                    <p><img src="~/assets/range-centre/assets/images/circle-1-60px.png" width="30" height="30" /><span class="action">Choose a brand</span></p>
                    <div class="wrapper">
                        <label for="centreBelling" class="radio">
                            <input type="radio" id="centreBelling" name="centre" value="belling" @(string.Compare(this.Request.Params["centre"], "belling", true) == 0 ? "checked=checked" : "") />
                            <img src="~/assets/range-centre/assets/images/belling-logo-80px.png" width="105" height="40" />
                        </label>
                        <label for="centreStoves" class="radio">
                            <input type="radio" id="centreStoves" name="centre" value="stoves" @(string.Compare(this.Request.Params["centre"], "stoves", true) == 0 ? "checked=checked" : "") />
                            <img src="~/assets/range-centre/assets/images/stoves-logo-80px.png" width="105" height="40" />
                        </label>

                    </div>
                </div>
                <div id="divider"></div>
                <div id="right">
                    <p><img src="~/assets/range-centre/assets/images/circle-2-60px.png" width="30" height="30" /><span class="action">Enter your postcode</span></p>
                    <div class="wrapper">
                        <label for="postcode" class="postcode">
                            <input type="text" id="postcode" name="postcode" placeholder="Postcode" value="@this.Request.Params["postcode"]" class="postcode-input" />
                            <input type="submit" value="submit" class="postcode-button" />
                        </label>
                    </div>
                </div>
                @{
                    if (this.IsPost)
                    {
                        if (string.IsNullOrEmpty(this.Request.Params["centre"]))
                        {
                            <div class="error-message">
                                <strong>Please select a brand</strong>
                            </div>
                        }
                        if (string.IsNullOrEmpty(this.Request.Params["postcode"]) || (!string.IsNullOrEmpty(this.Request.Params["postcode"]) && !IsPostcodeValid))
                        {
                            <div class="error-message">
                                <strong>Please enter a valid postcode</strong>
                            </div>
                        }
                    }
                }
            </fieldset>
        </form>
    </div>
</header>
