﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	
@{
	var root = Model.Content.AncestorOrSelf(1);
}

<div class="cta-holder">
	<div class="cta">
		<div class="promo-number-1"></div>
		@if (root.HasValue("leftCta")){
			var picker = Umbraco.Content(root.GetPropertyValue("leftCta"));
				<a href="@picker.Url">
					@if (root.HasValue("leftCta")){
						var imageId = root.GetPropertyValue("leftCta");
						<img src="/imagegen.ashx?image=@Umbraco.TypedMedia(@imageId).Url&amp;width=475&amp;constrain=true;&amp;compression=97">
					}
				</a>
		} else {
		<div class="link">
			<a href="/"><img src="http://placehold.it/313x310/b9b9b9/ffffff&amp;text=Insert Left CTA"></a>
		</div>
		}
	</div>
	<div class="cta">
		<div class="promo-number-2"></div>
		@if (root.HasValue("centreCta")){
			var picker = Umbraco.Content(root.GetPropertyValue("centreCta"));
				<a href="@picker.Url">
					@if (root.HasValue("centreCta")){
						var imageId = root.GetPropertyValue("centreCta");
						<img src="/imagegen.ashx?image=@Umbraco.TypedMedia(@imageId).Url&amp;width=475&amp;constrain=true;&amp;compression=97">
					}
				</a> 
		} else {
		<div class="link">
			<a href="/"><img src="http://placehold.it/313x310/b9b9b9/ffffff&amp;text=Insert Centre CTA"></a>
		</div>
		}
	</div>
	<div class="cta">
		<div class="promo-number-3"></div>
		@if (root.HasValue("rightCta")){
			var picker = Umbraco.Content(root.GetPropertyValue("rightCta"));
				<a href="@picker.Url">
					@if (root.HasValue("rightCta")){
						var imageId = root.GetPropertyValue("rightCta");
						<img src="/imagegen.ashx?image=@Umbraco.TypedMedia(@imageId).Url&amp;width=475&amp;constrain=true;&amp;compression=97">
					}
				</a>
		} else {
		<div class="link">
			<a href="/"><img src="http://placehold.it/313x310/b9b9b9/ffffff&amp;text=Insert Right CTA"></a>
		</div>
		}
	</div>
</div>