.range-landing .container {
  text-align: center; }
  .range-landing .container h2 {
    font-size: 48px;
    display: inline-block;
    line-height: 1;
    border-top: solid 9px #012A48;
    border-bottom: solid 9px #012A48;
    margin: 40px 0; }
  .range-landing .container h3 {
    font-size: 24px;
    font-family: 'blocheavy';
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 500;
    margin: 5px 0; }
  .range-landing .container h4 {
    margin: 0; }
  .range-landing .container .btn {
    margin-bottom: 15px;
    min-width: 185px; }
  .range-landing .container .btn-video {
    background-image: url("../../assets/belling/images/range-landing/play-icon.png");
    background-repeat: no-repeat;
    background-position: left 20px center;
    padding-left: 50px; }

.range-landing .item {
  height: auto; }

.range-landing .intro-section {
  padding-bottom: 40px; }

.range-landing .sub-title-section {
  padding: 15px 0; }

.range-landing .fill {
  background-color: #FFFFD8; }

.range-landing .alternate-fill {
  background-color: #DBF7F8; }

.range-landing .range-block {
  text-align: left;
  padding: 35px 0 33px;
  display: table; }
  .range-landing .range-block > div {
    display: table-cell;
    vertical-align: middle;
    float: none; }
  .range-landing .range-block h4 {
    font-family: 'blocheavy';
    letter-spacing: 0px;
    font-weight: 500; }
  .range-landing .range-block .range-mobile-img {
    display: none; }
  .range-landing .range-block .range-headings {
    float: left; }
  .range-landing .range-block .range-detail {
    margin-top: 32px;
    float: left; }
  .range-landing .range-block .range-img {
    text-align: center; }
  .range-landing .range-block .btn {
    width: 100%;
    display: block; }

.range-landing .splash-of-colour {
  background-color: #B297A8;
  color: #FFFFFF;
  text-align: center;
  padding: 40px 0 110px; }
  .range-landing .splash-of-colour h2 {
    color: #FFFFFF;
    border-color: #FFFFFF; }
  .range-landing .splash-of-colour .style-picker {
    border: solid 1px #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    box-sizing: border-box; }
    .range-landing .splash-of-colour .style-picker li {
      font-weight: bold;
      list-style: none;
      float: left;
      padding: 14px 20px;
      border-right: solid 1px #FFFFFF;
      cursor: pointer; }
      .range-landing .splash-of-colour .style-picker li.active {
        background-color: #FFFFFF;
        color: #B297A8; }
      .range-landing .splash-of-colour .style-picker li:last-child {
        border: none; }
  .range-landing .splash-of-colour select {
    display: none; }
  .range-landing .splash-of-colour .style-block {
    display: none;
    margin-top: 25px; }
    .range-landing .splash-of-colour .style-block.active {
      display: block; }
    .range-landing .splash-of-colour .style-block .colour-block {
      padding: 24px 15px 7px;
      height: 294px; }
      .range-landing .splash-of-colour .style-block .colour-block p {
        text-transform: uppercase;
        font-weight: bold;
        color: #FFFFFF;
        margin: 20px 0 10px;
        min-height: 44px; }
      .range-landing .splash-of-colour .style-block .colour-block .dark-text {
        color: #672855; }
      .range-landing .splash-of-colour .style-block .colour-block img {
        height: 189px; }

.range-landing .fuelled-up {
  background-color: #90D7ED;
  color: #032A4B;
  text-align: center;
  padding: 40px 0 45px; }
  .range-landing .fuelled-up .fuelled-up-detail {
    margin-bottom: 50px; }
  .range-landing .fuelled-up .fuelled-up-items > div {
    margin-bottom: 45px; }
  .range-landing .fuelled-up .fuel-icon {
    margin-bottom: 18px; }

.range-landing .features {
  background: #dbf7f8;
  /* Old browsers */
  background: -moz-linear-gradient(left, #dbf7f8 50%, #ffffff 50%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #dbf7f8 50%, #ffffff 50%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #dbf7f8 50%, #ffffff 50%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbf7f8', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
  text-align: center;
  padding: 40px 0 30px; }
  .range-landing .features .col-md-6 {
    padding: 0;
    margin-bottom: 60px; }
  .range-landing .features .feature-details {
    margin-bottom: 45px; }
  .range-landing .features .feature-buttons {
    margin-top: 50px; }
  .range-landing .features .add-padding {
    padding: 0 25px; }

@media (max-width: 989px) {
  .range-landing .style-picker span {
    display: none; }
  .range-landing .range-block {
    display: block; }
    .range-landing .range-block > div {
      display: block;
      float: left; }
    .range-landing .range-block .range-detail {
      margin-bottom: 25px; }
    .range-landing .range-block .range-img img {
      margin-top: 30px;
      width: 90%; }
    .range-landing .range-block .btn {
      width: 185px;
      margin-right: 15px;
      float: left; } }

@media (max-width: 766px) {
  .range-landing .container h2 {
    font-size: 27px;
    margin: 20px 0; }
  .range-landing .container p {
    text-align: left; }
  .range-landing .intro-section {
    padding-bottom: 10px; }
  .range-landing .sub-title-section {
    padding: 5px 0; }
  .range-landing .splash-of-colour {
    padding: 30px 0 0; }
    .range-landing .splash-of-colour .container {
      padding: 0; }
    .range-landing .splash-of-colour .padded {
      padding-left: 30px;
      padding-right: 30px; }
    .range-landing .splash-of-colour .style-picker {
      display: none; }
    .range-landing .splash-of-colour select {
      display: block;
      width: 100%;
      border: solid 2px #FFFFFF;
      background-color: #B297A8;
      padding: 13px 30px;
      font-weight: bold;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-image: url("../../assets/belling/images/range-landing/drop-arrow.png");
      background-repeat: no-repeat;
      background-position: right 20px center;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none; }
    .range-landing .splash-of-colour .style-block .colour-block p {
      text-align: center; }
  .range-landing .fuelled-up .fuelled-up-items p {
    padding-left: 30px;
    padding-right: 30px; }
  .range-landing .range-block {
    display: block;
    padding: 25px 0 63px; }
    .range-landing .range-block h3, .range-landing .range-block h4 {
      text-align: center; }
    .range-landing .range-block > div {
      display: block;
      float: left; }
    .range-landing .range-block .range-mobile-img {
      display: block;
      text-align: center;
      margin-top: 20px;
      height: 220px; }
      .range-landing .range-block .range-mobile-img img {
        max-width: 210px; }
    .range-landing .range-block .range-img {
      display: none; }
    .range-landing .range-block .btn {
      float: none;
      margin: 0 auto 10px; }
  .carousel-indicators {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    margin-top: -63px;
    width: 100%; }
    .carousel-indicators li {
      background-color: #FFFFFF;
      border: solid 1px #00304A;
      width: 18px;
      height: 18px;
      margin: 0 6px; }
    .carousel-indicators .active {
      background-color: #00304A;
      width: 18px;
      height: 18px;
      margin: 0 6px; }
  .carousel-control span {
    background-image: url("../../assets/belling/images/range-landing/carousel-controls.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 27px;
    display: block;
    margin: 30px;
    position: relative;
    top: 180px; }
  .carousel-control.right span {
    background-position: -15px 0; } }

@media (max-width: 480px) {
  .range-landing .splash-of-colour .style-block .colour-block {
    height: auto; }
    .range-landing .splash-of-colour .style-block .colour-block img {
      height: auto; } }

/*# sourceMappingURL=style.css.map */
