﻿@inherits UmbracoTemplatePage
@using Archetype.Models
@using USN.UrlPicker.Umbraco.Models
@{
	 
    var homeNode = Model.Content.AncestorOrSelf(1);
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var globalSettings = settingsFolder.Children.First(x => x.IsDocumentType("USNGlobalSettings"));
    var convince = globalSettings.GetPropertyValue<ArchetypeModel>("convince").First();
    var engage = globalSettings.GetPropertyValue<ArchetypeModel>("engage").First();
    var educate = globalSettings.GetPropertyValue<ArchetypeModel>("educate").First();
	
	var image = convince.HasValue("image") ? Umbraco.TypedMedia(convince.GetValue<int>("image")) : null;
	var description = convince.HasValue("description") ? convince.GetValue("description") : "";
	var sectionHeading = convince.HasValue("sectionHeading") ? convince.GetValue<string>("sectionHeading") : "";
    var heading = convince.HasValue("heading") ? convince.GetValue("heading") : "";
    var linkPicked = convince.GetValue<UrlPicker>("link");
    LinkInfo link;
    if (linkPicked == null)
    {
        link = new LinkInfo {LinkURL = ""};
    }
    else
    {
        link = USNUrlHelper.GetSingleUrlFromUrlPicker(linkPicked);
    }    
}

<div class="container-fluid mobile-only">
    <div class="row">
        <div>
            <div class="carousel slide" id="feature-carousel">
                @* <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#feature-carousel" class="active"></li>
                    <li data-slide-to="1" data-target="#feature-carousel"></li>
                    <li data-slide-to="2" data-target="#feature-carousel"></li>
                </ol> *@
                <div class="carousel-inner social-mobile">
                    @if (link != null)
                    {
                        <div class="item active" style="background-image: url('@Umbraco.If(image != null, image.Url)');">
                            <div class="carousel-caption">
                                <h5>@sectionHeading</h5>
                                <h2><a href="@link.LinkURL">@heading</a>
                                </h2>
                                <p>@description</p>
                                <a class="btn btn-default" href="@link.LinkURL">Read More</a>
                            </div>
                            <div class="overlay">
                                &nbsp;
                            </div>
                        </div>
                    }
                    @{
                        heading = engage.HasValue("heading") ? engage.GetValue("heading") : "";
                        link = engage.HasValue("link") ? USNUrlHelper.GetSingleUrlFromUrlPicker(engage.GetValue<UrlPicker>("link")) : null;
                        image = engage.HasValue("image") ? Umbraco.TypedMedia(int.Parse(engage.GetValue("image"))) : null;
                        description = engage.HasValue("description") ? engage.GetValue("description") : "";
                        sectionHeading = engage.HasValue("sectionHeading") ? engage.GetValue("sectionHeading") : "";
                    }
                    @if (link != null)
                    {
                        <div class="item" style="background-image: url('@Umbraco.If(image != null, image.Url)');">
                            <div class="carousel-caption">
                                <h5>@sectionHeading</h5>
                                <h2>
                                    <a href="@link.LinkURL">@heading</a>
                                </h2>
                                <p>@description</p>
                                <a class="btn btn-default" href="@link.LinkURL">Read More</a>
                            </div>
                            <div class="overlay">
                                &nbsp;
                            </div>
                        </div>
                    }
                    @{
                        heading = educate.HasValue("heading") ? educate.GetValue("heading") : "";
                        link = educate.HasValue("link") ? USNUrlHelper.GetSingleUrlFromUrlPicker(educate.GetValue<UrlPicker>("link")) : null;
                        image = educate.HasValue("image") ? Umbraco.TypedMedia(int.Parse(educate.GetValue("image"))) : null;
                        description = educate.HasValue("description") ? educate.GetValue("description") : "";
                        sectionHeading = educate.HasValue("sectionHeading") ? educate.GetValue("sectionHeading") : "";
                    }
                    @if (link != null)
                    {
                        <div class="item" style="background-image: url('@Umbraco.If(image != null, image.Url)');">
                            <div class="carousel-caption">
                                <h5>@sectionHeading</h5>
                                <h2>
                                    <a href="@link.LinkURL">@heading</a>
                                </h2>
                                <p>@description</p>
                                <a class="btn btn-default" href="@link.LinkURL">Read More</a>
                            </div>
                            <div class="overlay">
                                &nbsp;
                            </div>
                        </div>
                    }
                </div>
                <a class="left carousel-control" href="#feature-carousel" data-slide="prev">
                    <img src="/media/622956/arrow-left.svg" class="svg" alt="arrow left">
                </a>
                <a class="right carousel-control" href="#feature-carousel" data-slide="next">
                    <img src="/media/622953/arrow-right.svg" class="svg" alt="arrow right">
                </a>
            </div>
        </div>
    </div>
</div>
