/*  --------------------------------------------------
    5.0 NAVIGATION             
    -------------------------------------------------- */
/* line 5, ../../scss/belling/_navigation.scss */
.navigation {
  position: relative;
  z-index: 5; }
  /* line 8, ../../scss/belling/_navigation.scss */
  .navigation .reveal {
    display: none; }
  /* line 11, ../../scss/belling/_navigation.scss */
  .navigation a.expand {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 300;
    width: 80px;
    height: 80px;
    display: block;
    text-indent: -9999px; }
    /* line 20, ../../scss/belling/_navigation.scss */
    .navigation a.expand span {
      display: block;
      width: 40px;
      height: 3px;
      position: absolute;
      left: 20px;
      opacity: 1;
      transition: -webkit-transform 0.2s ease-in-out 0s, opacity 0.1s ease-in-out 0s;
      transition: transform 0.2s ease-in-out 0s, opacity 0.1s ease-in-out 0s; }
      /* line 29, ../../scss/belling/_navigation.scss */
      .navigation a.expand span.top {
        top: 26px; }
      /* line 32, ../../scss/belling/_navigation.scss */
      .navigation a.expand span.mid {
        top: 38px; }
      /* line 35, ../../scss/belling/_navigation.scss */
      .navigation a.expand span.bottom {
        top: 50px; }
    /* line 40, ../../scss/belling/_navigation.scss */
    .navigation a.expand.active span.mid {
      opacity: 0; }
    /* line 43, ../../scss/belling/_navigation.scss */
    .navigation a.expand.active span.top {
      top: 38px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    /* line 48, ../../scss/belling/_navigation.scss */
    .navigation a.expand.active span.bottom {
      top: 38px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }

@media (max-width: 768px) {
  /* line 59, ../../scss/belling/_navigation.scss */
  .navigation {
    margin-right: -15px;
    margin-left: -15px; }

  /* line 64, ../../scss/belling/_navigation.scss */
  html.reveal_out header {
    z-index: 301;
    width: 100%;
    height: 100%; }
  /* line 69, ../../scss/belling/_navigation.scss */
  html.reveal_out .navigation .reveal {
    display: block; } }
@media (min-width: 768px) {
  /* line 78, ../../scss/belling/_navigation.scss */
  .navigation a.expand {
    display: none; }

  /* line 81, ../../scss/belling/_navigation.scss */
  .navigation .reveal {
    display: block; } }
/*  --------------------------------------------------
    5.1 MAIN NAV             
    -------------------------------------------------- */
/* line 96, ../../scss/belling/_navigation.scss */
.navigation nav.main ul li {
  position: relative; }
  /* line 98, ../../scss/belling/_navigation.scss */
  .navigation nav.main ul li a {
    min-height: 60px;
    padding: 22px 15px;
    position: relative; }
    /* line 102, ../../scss/belling/_navigation.scss */
    .navigation nav.main ul li a span {
      display: block; }
  /* line 106, ../../scss/belling/_navigation.scss */
  .navigation nav.main ul li i {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    padding-top: 22px;
    text-align: center; }
    /* line 115, ../../scss/belling/_navigation.scss */
    .navigation nav.main ul li i.fa-external-link {
      position: relative;
      padding: 0;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      width: auto;
      height: auto;
      background: transparent !important; }
  /* line 127, ../../scss/belling/_navigation.scss */
  .navigation nav.main ul li.has_child a span {
    padding-right: 40px; }

@media (max-width: 768px) {
  /* line 133, ../../scss/belling/_navigation.scss */
  .navigation nav.main {
    position: relative;
    clear: both; }
    /* line 136, ../../scss/belling/_navigation.scss */
    .navigation nav.main ul {
      position: relative;
      clear: both; }
      /* line 139, ../../scss/belling/_navigation.scss */
      .navigation nav.main ul li {
        display: block;
        border-width: 0 0 1px;
        border-style: solid; }
        /* line 143, ../../scss/belling/_navigation.scss */
        .navigation nav.main ul li a {
          display: block; }
        /* line 146, ../../scss/belling/_navigation.scss */
        .navigation nav.main ul li.has_child a span {
          background-image: none; }
        /* line 149, ../../scss/belling/_navigation.scss */
        .navigation nav.main ul li.open > ul {
          display: block;
          position: relative;
          top: auto;
          left: auto; }
      /* line 156, ../../scss/belling/_navigation.scss */
      .navigation nav.main ul ul {
        display: none;
        padding-right: 60px;
        border-width: 1px 0 0 0;
        border-style: solid; }
        /* line 161, ../../scss/belling/_navigation.scss */
        .navigation nav.main ul ul li {
          border-width: 0 1px 1px 0;
          border-style: solid; }
          /* line 164, ../../scss/belling/_navigation.scss */
          .navigation nav.main ul ul li:last-child {
            border-bottom: 0 none; } }
@media (min-width: 768px) {
  /* line 175, ../../scss/belling/_navigation.scss */
  header {
    z-index: 500; }

  /* line 178, ../../scss/belling/_navigation.scss */
  .navigation {
    z-index: 500; }
    /* line 180, ../../scss/belling/_navigation.scss */
    .navigation nav.main {
      z-index: 500;
      height: 60px;
      position: relative;
      top: 100px;
      right: 0;
      left: 0;
      z-index: 300; }
      /* line 188, ../../scss/belling/_navigation.scss */
      .navigation nav.main ul {
        z-index: 500;
        overflow: visible;
        line-height: 1; }
        /* line 192, ../../scss/belling/_navigation.scss */
        .navigation nav.main ul li {
          z-index: 500;
          float: left;
          display: inline;
          position: relative; }
          /* line 197, ../../scss/belling/_navigation.scss */
          .navigation nav.main ul li a {
            display: block;
            float: left;
            height: 60px;
            padding: 22px 10px; }
          /* line 203, ../../scss/belling/_navigation.scss */
          .navigation nav.main ul li i {
            top: 20px;
            right: 10px;
            width: 20px;
            height: 20px;
            padding-top: 2px; }
          /* line 212, ../../scss/belling/_navigation.scss */
          .navigation nav.main ul li ul {
            position: absolute;
            left: -999em;
            top: 60px;
            z-index: 2000;
            width: 200px;
            height: auto;
            padding: 0;
            display: block;
            border-top: 0; }
            /* line 222, ../../scss/belling/_navigation.scss */
            .navigation nav.main ul li ul li {
              float: none;
              width: auto;
              display: block;
              border: 0 none !important; }
              /* line 227, ../../scss/belling/_navigation.scss */
              .navigation nav.main ul li ul li a {
                float: none;
                display: block;
                height: auto;
                line-height: 1.3; }
                /* line 232, ../../scss/belling/_navigation.scss */
                .navigation nav.main ul li ul li a span {
                  display: block;
                  background: none !important; }
          /* line 239, ../../scss/belling/_navigation.scss */
          .navigation nav.main ul li.has_child a span {
            padding-right: 20px; } }
@media (min-width: 768px) and (max-width: 1200px) {
  /* line 251, ../../scss/belling/_navigation.scss */
  .navigation nav.main ul li li.open > ul {
    top: 0;
    left: 200px; }

  /* line 254, ../../scss/belling/_navigation.scss */
  .navigation nav.main ul li.open > ul {
    left: 0; } }
@media (min-width: 992px) {
  /* line 262, ../../scss/belling/_navigation.scss */
  .navigation nav.main ul li a {
    padding: 22px 15px; } }
@media (min-width: 1200px) {
  /* line 270, ../../scss/belling/_navigation.scss */
  .navigation nav.main ul li li:hover > ul {
    top: 0;
    left: 200px; }

  /* line 273, ../../scss/belling/_navigation.scss */
  .navigation nav.main ul li:hover > ul {
    left: 0; } }
/*  --------------------------------------------------
    5.2 TOP NAVIGATION             
    -------------------------------------------------- */
/* line 285, ../../scss/belling/_navigation.scss */
.navigation nav.top {
  height: auto; }
  /* line 287, ../../scss/belling/_navigation.scss */
  .navigation nav.top ul {
    color: #999;
    font-size: 12px;
    font-size: 1.2rem; }

@media (max-width: 768px) {
  /* line 295, ../../scss/belling/_navigation.scss */
  .navigation nav.top .dropdown-menu {
    position: relative;
    float: none;
    width: 100%;
    box-shadow: none;
    margin: 0 0 15px;
    padding: 0; }
    /* line 303, ../../scss/belling/_navigation.scss */
    .navigation nav.top .dropdown-menu a {
      padding: 10px 15px; }
  /* line 307, ../../scss/belling/_navigation.scss */
  .navigation nav.top > ul {
    position: relative;
    clear: both; }
    /* line 310, ../../scss/belling/_navigation.scss */
    .navigation nav.top > ul li {
      display: block; }
      /* line 312, ../../scss/belling/_navigation.scss */
      .navigation nav.top > ul li a {
        display: block;
        padding: 15px; }
  /* line 318, ../../scss/belling/_navigation.scss */
  .navigation nav.top li:last-child .dropdown-menu {
    margin-bottom: 0; } }
@media (min-width: 768px) {
  /* line 328, ../../scss/belling/_navigation.scss */
  .navigation nav.top {
    position: absolute;
    top: 15px;
    right: 0; }
    /* line 332, ../../scss/belling/_navigation.scss */
    .navigation nav.top > ul {
      color: #999;
      font-size: 1.2rem; }
      /* line 335, ../../scss/belling/_navigation.scss */
      .navigation nav.top > ul li {
        display: inline;
        float: left;
        margin-left: 10px; }
        /* line 339, ../../scss/belling/_navigation.scss */
        .navigation nav.top > ul li a {
          display: block;
          float: left; }
        /* line 345, ../../scss/belling/_navigation.scss */
        .navigation nav.top > ul li div {
          display: block;
          float: left; }
    /* line 351, ../../scss/belling/_navigation.scss */
    .navigation nav.top .dropdown-menu a {
      padding: 5px 10px; } }
/* line 358, ../../scss/belling/_navigation.scss */
.navigation nav.top .dropdown-menu li {
  display: block;
  clear: both;
  float: none;
  margin: 0; }

/* line 361, ../../scss/belling/_navigation.scss */
.navigation nav.top .dropdown-menu a {
  display: block;
  float: none; }

/*  --------------------------------------------------
    5.3 SUB NAVIGATION             
    -------------------------------------------------- */
/* line 371, ../../scss/belling/_navigation.scss */
nav.sub {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin-bottom: 24px; }

/* line 377, ../../scss/belling/_navigation.scss */
nav.sub p.heading {
  font-size: 16px; }

/* line 380, ../../scss/belling/_navigation.scss */
nav.sub p.heading a {
  display: block; }

/*  --------------------------------------------------
    5.4 BREADCRUMB NAVIGATION             
    -------------------------------------------------- */
/* line 390, ../../scss/belling/_navigation.scss */
nav#breadcrumb {
  margin: 8px 0 16px; }

/* line 393, ../../scss/belling/_navigation.scss */
.content.short nav#breadcrumb {
  margin: 12px 0; }

/* line 396, ../../scss/belling/_navigation.scss */
nav#breadcrumb ol.breadcrumb {
  padding: 0;
  margin: 0;
  background: transparent; }

/* line 400, ../../scss/belling/_navigation.scss */
nav#breadcrumb ol.breadcrumb {
  font-size: 12px; }

/* line 403, ../../scss/belling/_navigation.scss */
.breadcrumb > li + li::before {
  font-family: 'FontAwesome';
  content: "\f105"; }

/*  --------------------------------------------------
    5.5 PAGINATION NAVIGATION             
    -------------------------------------------------- */
/* line 416, ../../scss/belling/_navigation.scss */
nav#pager {
  margin: 32px 0 32px; }

/*  --------------------------------------------------
    5.6 SITEMAP NAVIGATION             
    -------------------------------------------------- */
/* line 426, ../../scss/belling/_navigation.scss */
nav.sitemap {
  overflow: hidden;
  height: 100%;
  position: relative; }

/* line 431, ../../scss/belling/_navigation.scss */
nav.sitemap ul {
  margin: 0 0 8px; }

/* line 434, ../../scss/belling/_navigation.scss */
nav.sitemap ul li {
  display: block;
  padding: 0;
  margin: 0;
  background: url("/images/bg/sitemap_line.png") no-repeat left -31px; }

/* line 439, ../../scss/belling/_navigation.scss */
nav.sitemap ul ul {
  margin-left: 16px; }

/*  --------------------------------------------------
    5.7 SOCIAL NAVIGATION        
    -------------------------------------------------- */
/* line 452, ../../scss/belling/_navigation.scss */
.social nav ul {
  line-height: 0; }
  /* line 454, ../../scss/belling/_navigation.scss */
  .social nav ul li {
    display: inline-block;
    position: relative;
    margin: 0 2px 5px 0; }
    /* line 458, ../../scss/belling/_navigation.scss */
    .social nav ul li a {
      display: block;
      float: left;
      text-indent: -9999px;
      width: 32px;
      height: 32px;
      background-image: url(/images/icons/social.png);
      background-repeat: no-repeat; }
    /* line 467, ../../scss/belling/_navigation.scss */
    .social nav ul li a::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      width: 32px;
      height: 32px;
      transition: background-color 0.2s ease-in-out 0s; }
    /* line 483, ../../scss/belling/_navigation.scss */
    .social nav ul li.facebook a {
      background-position: left top; }
    /* line 486, ../../scss/belling/_navigation.scss */
    .social nav ul li.twitter a {
      background-position: left -32px; }
    /* line 489, ../../scss/belling/_navigation.scss */
    .social nav ul li.linkedin a {
      background-position: left -64px; }
    /* line 492, ../../scss/belling/_navigation.scss */
    .social nav ul li.google_plus a {
      background-position: left -96px; }
    /* line 495, ../../scss/belling/_navigation.scss */
    .social nav ul li.pinterest a {
      background-position: left -128px; }
    /* line 498, ../../scss/belling/_navigation.scss */
    .social nav ul li.instagram a {
      background-position: left -160px; }
    /* line 501, ../../scss/belling/_navigation.scss */
    .social nav ul li.flickr a {
      background-position: left -192px; }
    /* line 504, ../../scss/belling/_navigation.scss */
    .social nav ul li.tumblr a {
      background-position: left -224px; }
    /* line 507, ../../scss/belling/_navigation.scss */
    .social nav ul li.vimeo a {
      background-position: left -256px; }
    /* line 510, ../../scss/belling/_navigation.scss */
    .social nav ul li.youtube a {
      background-position: left -288px; }
    /* line 513, ../../scss/belling/_navigation.scss */
    .social nav ul li.dribble a {
      background-position: left -320px; }
    /* line 516, ../../scss/belling/_navigation.scss */
    .social nav ul li.skype a {
      background-position: left -352px; }
    /* line 519, ../../scss/belling/_navigation.scss */
    .social nav ul li.rss a {
      background-position: left -384px; }

/*  --------------------------------------------------
    5.8 QUICK LINKS           
    -------------------------------------------------- */
/* line 535, ../../scss/belling/_navigation.scss */
.quick_links ul li {
  margin-bottom: 10px; }

/*  --------------------------------------------------
    5.9 FOOTER NAVIGATION             
    -------------------------------------------------- */
/* line 544, ../../scss/belling/_navigation.scss */
nav.footer {
  padding: 16px 0 0;
  margin-top: 16px;
  border-top-width: 1px;
  border-top-style: solid; }
  /* line 549, ../../scss/belling/_navigation.scss */
  nav.footer ul {
    font-size: 11px; }
    /* line 551, ../../scss/belling/_navigation.scss */
    nav.footer ul li {
      margin-right: 8px;
      display: inline-block; }
      /* line 554, ../../scss/belling/_navigation.scss */
      nav.footer ul li.site_credit {
        margin: 0; }
      /* line 557, ../../scss/belling/_navigation.scss */
      nav.footer ul li a {
        display: inline;
        padding: 0; }
      /* line 561, ../../scss/belling/_navigation.scss */
      nav.footer ul li div {
        display: inline;
        padding: 0; }

@media (max-width: 768px) {
  /* line 572, ../../scss/belling/_navigation.scss */
  nav.footer ul li.copyright {
    display: block;
    clear: both;
    margin-bottom: 16px; }
  /* line 577, ../../scss/belling/_navigation.scss */
  nav.footer ul li.site_credit {
    display: block;
    clear: both;
    float: none !important;
    margin-top: 16px; } }
/*  --------------------------------------------------
    5.10 SLICK CAROUSEL NAVIGATION            
    -------------------------------------------------- */
/* line 593, ../../scss/belling/_navigation.scss */
.slick-prev, .slick-next {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 200;
  top: 45%;
  background: none;
  border: 0 none;
  cursor: pointer; }

/* line 602, ../../scss/belling/_navigation.scss */
.slick-prev {
  left: 0; }

/* line 605, ../../scss/belling/_navigation.scss */
.slick-next {
  right: 0; }

/* line 609, ../../scss/belling/_navigation.scss */
.slick-prev, .slick-next {
  display: table; }

/* line 612, ../../scss/belling/_navigation.scss */
.slick-prev i.fa, .slick-next i.fa {
  position: relative;
  margin: 0 !important;
  display: block;
  text-align: center;
  display: table-cell;
  vertical-align: middle; }

@media (max-width: 768px) {
  /* line 624, ../../scss/belling/_navigation.scss */
  .banner .slick-prev, .banner .slick-next {
    display: none !important; } }
/* 	--------------------------------------------------
    uSkinned.net

	PALETTE
    -------------------------------------------------- */
/* 	--------------------------------------------------
	TABLE OF CONTENTS
    -------------------------------------------------- 

	1.0 BACKGROUNDS
	2.0 TEXT
	3.0 BORDERS
	
	
	PRIMARY COLOUR
	HEX		#ed6d19
	RGBA	rgba(237,109,25,1)
	
*/
/*	--------------------------------------------------
	1.0 BACKGROUNDS
	-------------------------------------------------- */
/* line 30, ../../scss/belling/_palette.scss */
body,
nav.sub ul,
table {
  background-color: #f6f6f6;
  background-color: #f6f6f6; }

/* line 35, ../../scss/belling/_palette.scss */
footer,
blockquote::before, blockquote::after,
nav.main ul li:hover > a, nav.main ul ul,
table tr.even td {
  background-color: #eeeeee;
  background-color: #eeeeee; }

/* line 41, ../../scss/belling/_palette.scss */
.pricing_tables ul li.price,
table tr th {
  background-color: #dddddd;
  background-color: #dddddd; }

/* line 45, ../../scss/belling/_palette.scss */
.navigation a.expand span {
  background-color: #ed6d19;
  background-color: #ed6d19; }

/* line 49, ../../scss/belling/_palette.scss */
#site,
nav.sub ul ul {
  background-color: #ffffff;
  background-color: white; }

/* line 54, ../../scss/belling/_palette.scss */
.ajax_wrap .ajax_loading {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.8); }

/* line 57, ../../scss/belling/_palette.scss */
.ajax_wrap .ajax_loading .loading span.message {
  background-image: url("/images/icons/loading_on_white.gif"); }

/* line 61, ../../scss/belling/_palette.scss */
.slideshow .text,
.image .text {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.6); }

/* line 66, ../../scss/belling/_palette.scss */
.social nav ul li a::after {
  background-color: rgba(255, 255, 255, 0); }

/* line 69, ../../scss/belling/_palette.scss */
.social nav ul li a:hover::after {
  background-color: rgba(255, 255, 255, 0.2); }

/* line 72, ../../scss/belling/_palette.scss */
a .overlayicon {
  background-color: transparent; }

/* line 75, ../../scss/belling/_palette.scss */
.videopod a .overlayicon,
.video a .overlayicon {
  background-color: rgba(0, 0, 0, 0.25); }

/* line 79, ../../scss/belling/_palette.scss */
a:hover .overlayicon {
  background-color: rgba(0, 0, 0, 0.75); }

/* line 83, ../../scss/belling/_palette.scss */
.field-validation-error {
  background-color: #a94442; }

/* line 88, ../../scss/belling/_palette.scss */
.slick-prev, .slick-next {
  background-color: #eeeeee; }

/* line 91, ../../scss/belling/_palette.scss */
.slick-prev:hover, .slick-next:hover {
  background-color: white; }

/* line 95, ../../scss/belling/_palette.scss */
nav.main {
  background-color: #f6f6f6;
  background-color: #f6f6f6; }

@media (max-width: 768px) {
  /* line 101, ../../scss/belling/_palette.scss */
  .navigation a.expand {
    background-color: #f6f6f6;
    background-color: #f6f6f6; }

  /* line 104, ../../scss/belling/_palette.scss */
  .navigation nav.main ul li i {
    background-color: #ed6d19;
    background-color: #ed6d19; } }
@media (min-width: 768px) and (max-width: 1200px) {
  /* line 112, ../../scss/belling/_palette.scss */
  nav.main ul li.open > a {
    background-color: #eeeeee;
    background-color: #eeeeee; } }
/*	--------------------------------------------------
	2.0 TEXT
	-------------------------------------------------- */
/* line 124, ../../scss/belling/_palette.scss */
body {
  color: #5e5e5e; }

/* line 127, ../../scss/belling/_palette.scss */
a,
.highlight,
a h1, a h2, a h3, a h4, a h5, a h6, a .heading,
.slick-prev, .slick-next,
.listing .item a,
.navigation nav.main ul li i.fa-external-link {
  color: #ed6d19;
  color: #ed6d19; }

/* line 135, ../../scss/belling/_palette.scss */
a:link {
  -webkit-tap-highlight-color: #ed6d19;
  -webkit-tap-highlight-color: #ed6d19; }

/* line 138, ../../scss/belling/_palette.scss */
h1, h2, h3, h4, h5, h6, .heading,
thead,
.heading, .heading a,
nav.main li > a.active,
nav.sub li.active > a {
  color: #181818;
  color: #181818; }

/* line 145, ../../scss/belling/_palette.scss */
fieldset label em.req {
  color: #a94442;
  color: #a94444; }

/* line 148, ../../scss/belling/_palette.scss */
a .overlayicon i,
.field-validation-error {
  color: #ffffff;
  color: white; }

@media (max-width: 768px) {
  /* line 155, ../../scss/belling/_palette.scss */
  .navigation nav.main ul li i {
    color: #ffffff;
    color: white; } }
/*	--------------------------------------------------
	3.0 BORDERS
	-------------------------------------------------- */
/* line 167, ../../scss/belling/_palette.scss */
.tabbed .tab-content,
hr,
blockquote,
abbr, acronym,
nav.footer,
div.meta,
.promo_pods .item .listing,
.promo_pods .item .listing .item,
.navigation nav.main ul li, .navigation nav.main ul ul {
  border-color: #dddddd; }

/* line 178, ../../scss/belling/_palette.scss */
.tabbed .nav-tabs li.active a {
  border-bottom-color: #ffffff; }

/* line 182, ../../scss/belling/_palette.scss */
.input-validation-error,
.input-validation-error:focus {
  border-color: #a94442; }

/* line 186, ../../scss/belling/_palette.scss */
.input-validation-error:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(169, 68, 68, 0.5); }




/*	--------------------------------------------------
	END
	-------------------------------------------------- */
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */