﻿
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

--------------------------------------------*/
/*  PRODUCT COMPARISON
--------------------------------------------*/
.no-touch .products.comparison .text-right-1 {
  margin-left: 0.3em; }
.no-touch .products.comparison .text-right-2 {
  margin-left: 1em; }
.no-touch .products.comparison p {
  margin-left: 3em; }
.no-touch .products.comparison h1, .no-touch .products.comparison p {
  color: #4c4c4c; }
  @media (min-width: 768px) {
    .no-touch .products.comparison h1, .no-touch .products.comparison p {
      color: #fff; } }
.no-touch .product-compare .compare-items, .no-touch .related-products .compare-items {
  text-align: center;
  border-bottom: 1px solid #f4f4f5; }
  .no-touch .product-compare .compare-items > h3, .no-touch .related-products .compare-items > h3 {
    color: #4c4c4c;
    font-weight: bolder;
    font-size: 24px;
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5em 0; }
  .no-touch .product-compare .compare-items .compare-product, .no-touch .related-products .compare-items .compare-product {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 42%;
    margin: 0 2% 2em 0;
    vertical-align: top;
    text-align: left; }
    @media (min-width: 768px) {
      .no-touch .product-compare .compare-items .compare-product, .no-touch .related-products .compare-items .compare-product {
        width: 16%;
        margin: 0 4%; } }
    @media (min-width: 992px) {
      .no-touch .product-compare .compare-items .compare-product, .no-touch .related-products .compare-items .compare-product {
        width: 12%;
        margin: 0 6%; } }
    .no-touch .product-compare .compare-items .compare-product .product-title, .no-touch .related-products .compare-items .compare-product .product-title {
      font-weight: bolder;
      margin: 0.5em 0 0.2em 0;
      display: block;
      color: #4c4c4c;
      }
    .no-touch .product-compare .compare-items .compare-product .basket-link, .no-touch .related-products .compare-items .compare-product .basket-link {
      -webkit-appearance: none;
      background: url(/images/icon-basket-purple.svg) 7% 45% no-repeat;
      background-size: 23px 21px;
      padding: 1.1em 0 1.1em 3em;
      text-transform: uppercase;
      border: 1px solid #4c4c4c;
      color: #4c4c4c;
      border-radius: 3px;
      clear: both;
      display: block;
      text-align: center;
      width: 100%;
      margin: 0 0 10px 0%;
      cursor: pointer;
      font-size: 13px;
      font-size: 0.8125rem;
      -webkit-transition: background-color 0.5s ease, color 0.5s ease;
      transition: background-color 0.5s ease, color 0.5s ease; }
      @media (min-width: 768px) {
        .no-touch .product-compare .compare-items .compare-product .basket-link, .no-touch .related-products .compare-items .compare-product .basket-link {
          width: 130%;
          margin: 0 0 10px -15%; } }
    .no-touch .product-compare .compare-items .compare-product .basket-link:hover, .no-touch .product-compare .compare-items .compare-product .basket-link.added, .no-touch .related-products .compare-items .compare-product .basket-link:hover, .no-touch .related-products .compare-items .compare-product .basket-link.added {
      background: #4c4c4c url(/images/icon-basket.svg) 7% 45% no-repeat;
      background-size: 23px 21px;
      color: #fff; }
    .no-touch .product-compare .compare-items .compare-product .add-icon, .no-touch .related-products .compare-items .compare-product .add-icon {
      width: 32px;
      height: 32px;
      opacity: 0.7; }
    .no-touch .product-compare .compare-items .compare-product .add-icon:hover, .no-touch .related-products .compare-items .compare-product .add-icon:hover {
      opacity: 1; }
    .no-touch .product-compare .compare-items .compare-product.empty, .no-touch .related-products .compare-items .compare-product.empty {
      border: 2px dashed #BFC0BF;
      padding: 1.4em 2em 1em 2em;
      text-align: center; }
      .no-touch .product-compare .compare-items .compare-product.empty .add-icon, .no-touch .product-compare .compare-items .compare-product.empty .add-text, .no-touch .related-products .compare-items .compare-product.empty .add-icon, .no-touch .related-products .compare-items .compare-product.empty .add-text {
        display: block; }
      .no-touch .product-compare .compare-items .compare-product.empty .add-icon, .no-touch .related-products .compare-items .compare-product.empty .add-icon {
        margin: 0 auto; }
      .no-touch .product-compare .compare-items .compare-product.empty .add-text, .no-touch .related-products .compare-items .compare-product.empty .add-text {
        text-transform: uppercase;
        font-size: 13px;
        font-size: 0.8125rem;
        line-height: 18px;
        line-height: 1.125rem;
        color: #777776;
        font-weight: bolder;
        margin-top: 1.3em; }
.no-touch .product-compare .comparison-table-section .top-links, .no-touch .related-products .comparison-table-section .top-links {
  padding: 2.5em 0;
  text-align: center; }
  .no-touch .product-compare .comparison-table-section .top-links a, .no-touch .related-products .comparison-table-section .top-links a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 1em 0;
    width: 100%;
    margin-bottom: 1em;
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid #4c4c4c;
    -webkit-transition: background-color 0.5s ease, color 0.5s ease;
    transition: background-color 0.5s ease, color 0.5s ease; }
    @media (min-width: 768px) {
      .no-touch .product-compare .comparison-table-section .top-links a, .no-touch .related-products .comparison-table-section .top-links a {
        width: 44%;
        margin-bottom: 0;
        padding: 1.3em 0; } }
    @media (min-width: 992px) {
      .no-touch .product-compare .comparison-table-section .top-links a, .no-touch .related-products .comparison-table-section .top-links a {
        width: 35%; } }
  .no-touch .product-compare .comparison-table-section .top-links a:first-child, .no-touch .related-products .comparison-table-section .top-links a:first-child {
    margin-right: 2em; }
  .no-touch .product-compare .comparison-table-section .top-links a:hover, .no-touch .related-products .comparison-table-section .top-links a:hover {
    background: #4c4c4c;
    color: #fff; }
.no-touch .product-compare .comparison-table-section .table-wrapper, .no-touch .related-products .comparison-table-section .table-wrapper {
  width: 100%;
  overflow-x: scroll; }
.no-touch .product-compare .comparison-table-section table, .no-touch .related-products .comparison-table-section table {
  text-align: left;
  border-top: 4px solid #4c4c4c;
  border-bottom: 4px solid #4c4c4c;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0; }
  .no-touch .product-compare .comparison-table-section table th, .no-touch .product-compare .comparison-table-section table td, .no-touch .related-products .comparison-table-section table th, .no-touch .related-products .comparison-table-section table td {
    font-size: 12px;
    font-size: 0.75rem;
    color: #67676A;
    border: 1px solid #A9AAA9; }
    @media (min-width: 768px) {
      .no-touch .product-compare .comparison-table-section table th, .no-touch .product-compare .comparison-table-section table td, .no-touch .related-products .comparison-table-section table th, .no-touch .related-products .comparison-table-section table td {
        font-size: 16px;
        font-size: 1rem; } }
    .no-touch .product-compare .comparison-table-section table th:first-child, .no-touch .product-compare .comparison-table-section table td:first-child, .no-touch .related-products .comparison-table-section table th:first-child, .no-touch .related-products .comparison-table-section table td:first-child {
      border-left: none; }
    .no-touch .product-compare .comparison-table-section table th:last-child, .no-touch .product-compare .comparison-table-section table td:last-child, .no-touch .related-products .comparison-table-section table th:last-child, .no-touch .related-products .comparison-table-section table td:last-child {
      border-right: none; }
  .no-touch .product-compare .comparison-table-section table th, .no-touch .related-products .comparison-table-section table th {
    font-weight: bolder;
    background: #E9E9E8;
    padding: 0.6em 1em;
    line-height: 20px;
    line-height: 1.25rem; }
    @media (min-width: 768px) {
      .no-touch .product-compare .comparison-table-section table th, .no-touch .related-products .comparison-table-section table th {
        padding: 0.8em 1.6em;
        line-height: 24px;
        line-height: 1.5rem; } }
  .no-touch .product-compare .comparison-table-section table td, .no-touch .related-products .comparison-table-section table td {
    background: #FFFFFE;
    line-height: 20px;
    line-height: 1.25rem;
    padding: 0.4em 1.1em; }
    @media (min-width: 768px) {
      .no-touch .product-compare .comparison-table-section table td, .no-touch .related-products .comparison-table-section table td {
        width: 175px;
        line-height: 30px;
        line-height: 1.875rem;
        padding: 0.8em 1.6em; } }
    @media (min-width: 992px) {
      .no-touch .product-compare .comparison-table-section table td, .no-touch .related-products .comparison-table-section table td {
        width: 184px; } }
    @media (min-width: 1200px) {
      .no-touch .product-compare .comparison-table-section table td, .no-touch .related-products .comparison-table-section table td {
        width: 225px; } }
    .no-touch .product-compare .comparison-table-section table td .product-image-wrapper, .no-touch .related-products .comparison-table-section table td .product-image-wrapper {
      position: relative;
      margin-top: 1em; }
      .product-image-wrapper img{
        max-width: 110px;
      }
    .no-touch .product-compare .comparison-table-section table td .product-title, .no-touch .related-products .comparison-table-section table td .product-title {

      color: #4c4c4c; }
    .no-touch .product-compare .comparison-table-section table td .compare-product.empty, .no-touch .related-products .comparison-table-section table td .compare-product.empty {
      border: 2px dashed #BFC0BF;
      padding: 1.4em 2em 1em 2em;
      text-align: center; }
      .no-touch .product-compare .comparison-table-section table td .compare-product.empty .add-icon, .no-touch .product-compare .comparison-table-section table td .compare-product.empty .add-text, .no-touch .related-products .comparison-table-section table td .compare-product.empty .add-icon, .no-touch .related-products .comparison-table-section table td .compare-product.empty .add-text {
        display: block; }
      .no-touch .product-compare .comparison-table-section table td .compare-product.empty .add-icon, .no-touch .related-products .comparison-table-section table td .compare-product.empty .add-icon {
        margin: 0 auto;
        width: auto; }
      .no-touch .product-compare .comparison-table-section table td .compare-product.empty .add-text, .no-touch .related-products .comparison-table-section table td .compare-product.empty .add-text {
        text-transform: uppercase;
        font-size: 13px;
        font-size: 0.8125rem;
        line-height: 18px;
        line-height: 1.125rem;
        color: #777776;
        font-weight: bolder;
        margin-top: 1.3em; }
    .no-touch .product-compare .comparison-table-section table td .basket-link, .no-touch .related-products .comparison-table-section table td .basket-link {
      -webkit-appearance: none;
      padding: 0.9em 0;
      text-transform: uppercase;
      border: 1px solid #4c4c4c;
      color: #4c4c4c;
      border-radius: 3px;
      clear: both;
      display: block;
      text-align: center;
      width: 100%;
      margin: 0 0 10px 0;
      cursor: pointer;
      background: white;
      font-size: 13px;
      font-size: 0.8125rem;
      margin-top: 0.7em;
      -webkit-transition: background-color 0.5s ease, color 0.5s ease;
      transition: background-color 0.5s ease, color 0.5s ease; }
      @media (min-width: 768px) {
        .no-touch .product-compare .comparison-table-section table td .basket-link, .no-touch .related-products .comparison-table-section table td .basket-link {
          padding-right: 2.2em;
          background: url(/images/icon-basket-purple.svg) 95% 45% no-repeat;
          background-position: 95% 45%;
          background-size: 13px 13px; } }
      @media (min-width: 992px) {
        .no-touch .product-compare .comparison-table-section table td .basket-link, .no-touch .related-products .comparison-table-section table td .basket-link {
          background-position: 95% 45%;
          background-size: 19px 17px; } }
    .no-touch .product-compare .comparison-table-section table td .basket-link:hover, .no-touch .product-compare .comparison-table-section table td .basket-link.added, .no-touch .related-products .comparison-table-section table td .basket-link:hover, .no-touch .related-products .comparison-table-section table td .basket-link.added {
      background-color: #4c4c4c;
      color: #fff; }
      @media (min-width: 768px) {
        .no-touch .product-compare .comparison-table-section table td .basket-link:hover, .no-touch .product-compare .comparison-table-section table td .basket-link.added, .no-touch .related-products .comparison-table-section table td .basket-link:hover, .no-touch .related-products .comparison-table-section table td .basket-link.added {
          background-position: 95% 45%;
          background: #4c4c4c url(/images/icon-basket.svg) 95% 45% no-repeat;
          background-size: 13px 13px; } }
      @media (min-width: 992px) {
        .no-touch .product-compare .comparison-table-section table td .basket-link:hover, .no-touch .product-compare .comparison-table-section table td .basket-link.added, .no-touch .related-products .comparison-table-section table td .basket-link:hover, .no-touch .related-products .comparison-table-section table td .basket-link.added {
          background-position: 95% 45%;
          background-size: 19px 17px; } }
  .no-touch .product-compare .comparison-table-section table .checkbox, .no-touch .related-products .comparison-table-section table .checkbox {
    display: table-cell;
    text-align: center; }
  .no-touch .product-compare .comparison-table-section table .purple-text, .no-touch .related-products .comparison-table-section table .purple-text {
    color: #4c4c4c; }
.no-touch .close-icon {
  width: 30px;
  height: 30px;
  margin-bottom: -30px;
  position: absolute;
  opacity: 0.76;
  top: 0;
  left: 0;
  display: inline-block; }
.no-touch .close-icon:hover {
  opacity: 1; }
.no-touch .residential .product-compare .compare-items > h3, .no-touch .residential .related-products .compare-items > h3 {
  color: #f56076; }
.no-touch .residential .product-compare .compare-items .compare-product .product-title, .no-touch .residential .related-products .compare-items .compare-product .product-title {
  color: #f56076;
}

/*  PRODUCT COMPARISON END
--------------------------------------------*/
/*  PRODUCT COMPARISON POPUP MODULE
--------------------------------------------*/
.no-touch .product-comparison-popup {
  position: fixed;
  top: 100%;
  width: 100%;
  z-index: 10000;
  background: white;
  -webkit-transition: top 0.5s ease, margin 0.5s ease;
  transition: top 0.5s ease, margin 0.5s ease;
  height: 100%; }
  @media (min-width: 768px) {
    .no-touch .product-comparison-popup {
      height: 80%; } }
  .no-touch .product-comparison-popup .comparison-module-header {
    position: relative;
    background-color: #4c4c4c;
    height: auto;
    margin-top: -47px; }
    @media (min-width: 768px) {
      .no-touch .product-comparison-popup .comparison-module-header {
        margin-top: -42px; } }
    @media (min-width: 1200px) {
      .no-touch .product-comparison-popup .comparison-module-header {
        margin-top: -48px; } }
    .no-touch .product-comparison-popup .comparison-module-header .comparison-module-header-inner {
      z-index: 100;
      padding: 0;
      width: 100%;
      margin: 0 auto;
      clear: both; }
      @media (min-width: 640px) {
        .no-touch .product-comparison-popup .comparison-module-header .comparison-module-header-inner {
          overflow: visible;
          position: relative;
          padding: 0; } }
      @media (min-width: 768px) {
        .no-touch .product-comparison-popup .comparison-module-header .comparison-module-header-inner {
          width: 728px;
          padding-left: 20px;
          padding-right: 20px;
          top: auto; } }
      @media (min-width: 992px) {
        .no-touch .product-comparison-popup .comparison-module-header .comparison-module-header-inner {
          width: 952px;
          padding-left: 20px;
          padding-right: 20px; } }
      @media (min-width: 1200px) {
        .no-touch .product-comparison-popup .comparison-module-header .comparison-module-header-inner {
          width: 1160px;
          padding-left: 20px;
          padding-right: 20px; } }
      .no-touch .product-comparison-popup .comparison-module-header .comparison-module-header-inner > span {
        font-size: 14px;
        font-size: 0.875rem;
        -webkit-transition: .5s;
        transition: .5s;
        color: #fff;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: auto;
        text-align: center;
        padding: 0.5em;
        line-height: 1.4em;
        padding: 12px;
        }
        @media (min-width: 768px) {
          .no-touch .product-comparison-popup .comparison-module-header .comparison-module-header-inner > span {
            background-color: #4c4c4c;
            font-size: 11px;
            font-size: 0.6875rem; } }
        @media (min-width: 992px) {
          .no-touch .product-comparison-popup .comparison-module-header .comparison-module-header-inner > span {
            font-size: 12px;
            font-size: 0.75rem; } }
        @media (min-width: 1200px) {
          .no-touch .product-comparison-popup .comparison-module-header .comparison-module-header-inner > span {
            font-size: 13px;
            font-size: 0.8125rem; } }
      .no-touch .product-comparison-popup .comparison-module-header .comparison-module-header-inner span.module-compare {
        background: url(/images/icon-compare-white.svg) 90% 45% no-repeat;
        background-size: 15px 15px;
        padding: 15px 50px 15px 15px;
        cursor: pointer; }
      .no-touch .product-comparison-popup .comparison-module-header .comparison-module-header-inner span.expander {
        background-image: url(/images/white-arrow-up.svg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: inline-block;
        float: right;
        height: 49px;
        width: 49px;
        cursor: pointer; }
        @media (min-width: 768px) {
          .no-touch .product-comparison-popup .comparison-module-header .comparison-module-header-inner span.expander {
            height: 42px;
            width: 42px; } }
        @media (min-width: 1200px) {
          .no-touch .product-comparison-popup .comparison-module-header .comparison-module-header-inner span.expander {
            height: 48px;
            width: 48px; } }
      .no-touch .product-comparison-popup .comparison-module-header .comparison-module-header-inner span.module-compare:hover, .no-touch .product-comparison-popup .comparison-module-header .comparison-module-header-inner span.expander:hover {
        background-color: #64636a; }
  .no-touch .product-comparison-popup .product-compare {
    overflow-y: scroll;
    height: 100%; }
.no-touch .product-comparison-popup.popup-active {
  top: 20%; }
  .no-touch .product-comparison-popup.popup-active .comparison-module-header .comparison-module-header-inner span.expander {
    background-image: url(/images/white-arrow-down.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat; }
  .no-touch .product-comparison-popup.popup-active .comparison-module-header .comparison-module-header-inner span.module-compare {
    background-color: #64636a; }

.touch .product-comparison-popup {
  display: none; }

/*  PRODUCT COMPARISON POPUP MODULE END