.bordered-heading {
    border-top: 4px solid #4d5766;
    border-bottom: 4px solid #4d5766;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto
}

#owl-carousel-sensicare {
    list-style-type: none;
    padding: 0;
    margin: 0
}

#owl-carousel-sensicare .slide {
    height: 100%
}

.product-benefit-icon {
    display: inline-block !important;
    vertical-align: top;
    margin: 0 20px !important;
    max-width: 100%;
    width: 80px !important;
    font-size: 8px;
    overflow: hidden
}

.product-benefits-list {
    list-style-type: none;
    margin: 40px 0;
    font-size: 0;
    text-align: left;
    padding: 0
}

.product-benefits-list li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 10px
}

.product-benefits-list img {
    max-width: 100% !important;
    width: auto !important;
    float: left
}

.product-benefits-list p {
    display: block !important;
    padding-left: 50px !important;
    text-align: left !important;
    clear: both;
    font-size: 12px;
    line-height: 1.33
}

.tdn {
    text-decoration: none
}

.table {
    display: table;
    width: 100%;
    background: none !important
}

.outer-table {
    height: 380px;
    margin-bottom: 0
}

.inner-table {
    height: 100%;
    margin-bottom: 0
}

.table-row {
    display: table-row
}

.secondary-heading h2 {
    font-family: blocheavy, sans-serif;
    font-size: 35px !important;
    margin: 34px 0 !important;
    text-transform: uppercase;
    font-weight: 900
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: blocheavy, sans-serif;
    font-size: 15px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: center;
    color: #4d5766;
    text-transform: uppercase
}

.table-cell img {
    display: block;
    margin: 20px auto !important
}

.owl-dot {
    display: inline-block;
    float: left;
    position: relative;
    margin: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: 95% auto;
    border: 5px solid transparent
}

.owl-dot.active:before {
    opacity: 1
}

.owl-dot:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 45px 0 45px;
    position: absolute;
    top: -55px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0
}

@media screen and (max-width: 600px) {
    .owl-dot {
        display: none
    }
}

@media screen and (min-width: 601px) and (max-width: 767px) {
    .owl-dot {
        width: 95px;
        height: 140px
    }
}

@media screen and (min-width: 768px) and (max-width: 989px) {
    .owl-dot {
        width: 120px;
        height: 180px
    }
}

@media screen and (min-width: 990px) and (max-width: 1249px) {
    .owl-dot {
        width: 165px;
        height: 250px
    }
}

@media screen and (min-width: 1250px) {
    .owl-dot {
        width: 195px;
        height: 290px
    }
}

.carousel-washing-machines .owl-dot.active {
    border: 5px solid #b3d8ee
}

.carousel-washing-machines .owl-dot.active:before {
    border-color: #b3d8ee transparent transparent transparent
}

.carousel-washer-dryers .owl-dot.active {
    border: 5px solid #00b4d5
}

.carousel-washer-dryers .owl-dot.active:before {
    border-color: #00b4d5 transparent transparent transparent
}

.carousel-tumble-dryers .owl-dot.active {
    border: 5px solid #94c75a
}

.carousel-tumble-dryers .owl-dot.active:before {
    border-color: #94c75a transparent transparent transparent
}

.carousel-dishwashers .owl-dot.active {
    border: 5px solid #fdca33
}

.carousel-dishwashers .owl-dot.active:before {
    border-color: #fdca33 transparent transparent transparent
}

#sensicare-dots {
    display: inline-block;
    float: left;
    height: 300px
}

.quote_wrapper {
    display: inline-block;
    float: left
}

.quote_wrapper img {
    display: block;
    margin: 1rem 0 2rem !important
}

.quote_wrapper blockquote {
    text-align: left;
        padding-left: 0;
}

.quote_wrapper cite {
    display: block;
    font-style: normal;
    margin-top: 14px;
    font-size: 12px
}

#sensicare-advertblock {
    display: inline-block;
    vertical-align: top;
    float: right
}

[class*="sensicare-link-"] {
    display: block;
    width: 100%;
    height: calc(100% - 32px);
    text-align: center;
    font-size: 22px;
    font-weight: normal !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff !important;
    text-decoration: none;
    padding: 0 8px 32px;
    margin: 80px 0 32px;
    line-height: 2
}

[class*="sensicare-link-"] img {
    display: inline-block;
    width: 100%;
    object-fit: cover;
    margin: -64px auto 0 !important
}

.sensicare-link-washing-machines {
    background-color: #b3d8ee
}

.sensicare-link-washer-dryers {
    background-color: #00b4d5
}

.sensicare-link-tumble-dryers {
    background-color: #94c75a
}

.sensicare-link-dishwashers {
    background-color: #fdca33
}

.hdr {
    display: none;
    font-family: blocheavy, sans-serif !important;
    font-size: 25px;
    font-weight: normal !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00304a !important;
    text-decoration: none;
    margin-bottom: 35px
}

.mobile-1-column [class*="col-xs-"] {
    padding: 1rem
}

.mobile-1-column [class*="col-xs-"] img {
    margin: 0 auto
}

@media screen and (max-width: 600px) {
    .product-benefits-list li,
    .slide .col-xs-6 {
        width: 100%
    }
    .slide .btn a {
        padding: 11px 34px
    }
    #sensicare-advertblock,
    .quote_wrapper {
        width: 100% !important
    }
    .hdr {
        display: block
    }
    #sensicare-dots {
        display: none
    }
    .onward-journeys [class*="onward-link-"] {
        width: 100%
    }
    .onward-journeys [class*="onward-link-"] img {
        height: auto !important
    }
    .onward-journeys [class*="onward-link-"] a {
        margin-left: 0;
        margin-right: 0
    }
    .mobile-1-column [class*="col-xs-"] {
        width: 100% !important
    }
}

@media screen and (min-width: 601px) and (max-width: 989px) {
    .mobile-1-column [class*="col-xs-"] {
        width: 50% !important
    }
    .onward-journeys [class*="onward-link-"] {
        width: 50%
    }
    .onward-journeys [class*="onward-link-"] a {
        margin-left: 0;
        margin-right: 0
    }
}

.sensicare-landing .slick-next,
.sensicare-landing .slick-prev {
    height: 100%;
    top: 0;
    left: -15px;
    background-image: url("/landing_pages/belling/range-cookers/assets/img/carousel-controls.png");
    background-position: left 30%;
    background-repeat: no-repeat;
    width: 15px;
    display: block;
    text-indent: -9999em;
    outline: 0
}

.sensicare-landing .slick-next {
    background-position: right 30%;
    left: 100%
}

.sensicare-landing .slick-container img {
    padding: 0 16px;
    display: block;
    width: 100%;
    margin: 0 auto
}

.sensicare-landing .slick-container .slide p {
    color: #00304a;
    font-size: 12px;
    font-weight: normal
}

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.owl-carousel .animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    animation-name: fadeOut
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.owl-height {
    transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-nav {
    margin-top: 10px
}

.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #869791;
    color: #FFF;
    text-decoration: none
}

.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #869791
}