@font-face {
	font-family: 'blocheavy';
	src: url('../fonts/blocheavy.eot');
	src: url('../fonts/blocheavy.eot?#iefix') format('embedded-opentype'),
	url('../fonts/blocheavy.woff') format('woff'),
	url('../fonts/blocheavy.ttf') format('truetype'),
	url('../fonts/blocheavy.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'nobileregular';
	src: url('../fonts/nobile.eot');
	src: url('../fonts/nobile.eot?#iefix') format('embedded-opentype'),
		url('../fonts/nobile.woff') format('woff'),
		url('../fonts/nobile.ttf') format('truetype'),
		url('../fonts/nobile.svg#nobileregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1{
	font:24px/27px 'blocheavy', Arial, Helvetica, sans-serif;
	margin:0 0 20px;
	text-transform:uppercase;
	letter-spacing: 1px;
}

h2{
	font:24px/27px 'blocheavy', Arial, Helvetica, sans-serif;
	margin:0 0 20px;
	text-transform:uppercase;
	letter-spacing: 1px;
}

h1.red{
	color:#a3deed;
	margin:0 0 18px;
}
h1.blue{color:#a3dfed;}
.product-block{
	overflow:hidden;
	margin: 0 0 12px;
}

h2.red{color:#4c4d4f;}
h2.blue{color:#a3deed;}

h4.red{
	color:#4c4d4f;
	margin: 0 0 10px;
}

a:link {text-decoration: none;}      /* unvisited link */
a:visited {text-decoration: none;}  /* visited link */
a:hover {text-decoration: none;}  /* mouse over link */
a:active {text-decoration: none;}  /* selected link */

.home{background:#fff;}

/* 
#header .logo {
	float:left;
	background: url(../images/logo.png) no-repeat 100%;
	width:142px;
	height:70px;
	margin:11px 0 0;
	position:relative;
	z-index:25;
	text-indent:-9999px;
	overflow:hidden;
}
 */

#nav > .has-drop > a{
	padding:0 14px 0 0;
	background: url(../images/bullet.png) no-repeat 100%;
	background-position: right 7px;
}

#nav .drop .holder{
	background:rgba(255,255,255,0.94);
	padding:12px 0 20px;
	margin:0 -15px 0 0;
	overflow:hidden;
}

/*.preview-block .block-gallery,
.preview-block .aside-2 .box,
.preview-block .aside-2 .box:after,
.preview-block .aside-2 .box:before
{
	background: none;
}*/

#main .retailers{
	padding:9px 6px 12px;
	margin:0 -60px -12px 0;
	list-style:none;
	overflow:hidden;
}
#main .retailers li{
	display:inline-block;
	vertical-align:middle;
	margin:0 42px 12px 0;
}
#main .retailers img{
	display:inline-block;
	vertical-align:middle;
	max-width: 300px;
	}

.newsletter-block ul,
.retailer-block .block ul
{
	padding: 0;
	margin: 0;
	list-style: none;
}

.newsletter-block ul li,
.retailer-block .block ul li
{
position: relative;
padding: 0 0 18px 39px;
}

.newsletter-block ul li:after,
.retailer-block .block ul li:after
{
	content: '';
	position: absolute;
	left: 2px;
	top: -3px;
	background: url(../images/ico-checkbox.png) no-repeat 0 -161px;
	width: 25px;
	height: 25px;
}

/*.retailer-block .block ul li:after
{
	content: '';
	position: absolute;
	left: 2px;
	top: -3px;
	background: url(../images/ico-checkbox.png) no-repeat 0 -161px;
	width: 25px;
	height: 25px;
}*/

.promo {
	width: 980px;
	margin: -52px -20px 26px 7px;
	overflow: hidden;
}

.board-block .main-title{
	display:block;
	color:#fff;
	font:77px/77px 'blocheavy', Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	margin:0;
	padding:12px 280px 21px 0;
	position:relative;
	text-transform:uppercase;
}

.board-block .tabset-2{
	padding:0 0 22px;
	margin:0;
	list-style:none;
	font:30px/33px 'blocheavy', Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	position:relative;
	text-transform:uppercase;
	overflow:hidden;
}

.board-block .tabset-2 li{
	float:left;
	margin:0 0 0 22px;
}

.board-block .method-box h2{margin:0 0 16px;}
.board-block .caption{
	display:block;
	font:20px/24px 'blocheavy', Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	text-align:center;
	text-transform:uppercase;
	margin:0 0 7px;
}

.board-block .nav-bar{
	color:#fff;
	padding:0 15px 35px 0;
	overflow:hidden;
}

.board-block .col h2{
	font:20px/24px 'blocheavy', Arial, Helvetica, sans-serif;
	margin:0;
	text-align: center;
	text-transform:uppercase;
	letter-spacing: 1px;
}

.board-block .col h2 a{
	color: #a3dfed;
}

.board-block .col blockquote{
	padding:0;
	font-size:14px;
	line-height:18px;
	margin:0;
}

.board-block .col .ico-social {
	display: inline-block;
	margin: 0 0 4px;
	overflow: hidden;
	opacity: 0.4;
}

.board-block .col blockquote q a{
	font:15px/18px 'nobileregular', Arial, Helvetica, sans-serif;
	color: #fff;
}

.board-block .col blockquote {
	margin: 20px 0 0 0;
}

.navigation .btn{
	float:right;
	margin:0 0 0 12px;
	color:#fff;
	font:13px/16px 'nobilebold', Arial, Helvetica, sans-serif;
	text-decoration:none;
	padding:0 0 0 0;
	position:relative;
	z-index:25;
	background:url('') no-repeat;
}

.navigation .btn span{
	float:left;
	text-align:center;
	text-decoration:none;
	height: 20px;
	min-width: 93px;
	margin-top: -1px;
	padding: 4px 4px 4px 4px;
	background:url(../images/bg-btn.png) no-repeat 1px -39px;
}

<!-- Product Page -->

.preview-block .btn-2 {
	display: block;
	color: #fff;
	font: 30px/31px 'blocheavy', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	padding: 0 40px 0 11px;
	text-decoration: none;
}

.preview-block .btn-2{
	display:block;
	color:#fff;
	font:30px/31px 'blocheavy', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	letter-spacing: 2px;
	position:relative;
	padding:0 40px 0 11px;
	text-decoration:none;
}
.preview-block .btn-2:after{
	content:'';
	position:absolute;
	right: -10px;
	top: 3px;
	background: url(../images/arrows.png) no-repeat 0 -629px;
	width:30px;
	height:23px;
}
.preview-block .btn-location{
	display:block;
	color:#fff;
	font:30px/35px 'blocheavy', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	letter-spacing: 2px;
	padding:4px 33px 6px 23px;
	width:418px;
	background:url(../images/bg-btn.png) no-repeat 0 -1608px;
	text-decoration:none;
	position:relative;
}

/*.grey-block{
	z-index:1;
	position:relative;
	padding: 13px 13px 10px;
	background: none;
	margin:0 0 32px;
}

.grey-block:after,
.grey-block:before{
	content:'';
	position:absolute;
	height:7px;
	left:0;
	bottom:0;
	width:100%;
	background: none;
	z-index:-1;
}
.grey-block:after{
	top:7px;
	height:auto;
	bottom:7px;
	background: none;
}*/

.bases-block .aligncenter{margin-bottom:9px;}
.bases-block .image p{margin:0;}
.collection{
	float:left;
/*	max-width: 910px;
*/	padding:9px 12px;
}

div.carousel div.carousel-mask {
/*	width: 910px;
*/	float:left;
	position:relative;
	overflow:hidden;
	padding:0 5px 200px;
	margin:0 -5px -200px;
}
div.carousel div.mask {
	position: relative;
	overflow: hidden;
/*	width: 910px;
*/	margin:0 -5px -200px;
	padding:0 5px 200px;
}

.plugin{
	overflow:hidden;
	/*margin: 8px auto 8px auto;*/
	width: 180px;
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
}

.open-close{
	position:relative;
	margin:0 0 15px;
	color: #4c4d4f;
}

.open-close .opener{
	display:block;
	color:#fff;
	font:14px/18px 'nobilebold', Arial, Helvetica, sans-serif;
	background:url(../images/bg-btn.png) no-repeat 0 -251px;
	width: 200px;
	padding:4px 0 3px;
	text-align:center;
	text-decoration:none;
	position:relative;
}

.open-close .opener-link{
	display:block;
	color:#fff;
	font:14px/18px 'nobilebold', Arial, Helvetica, sans-serif;
	background:url(../images/bg-btn.png) no-repeat 0 -251px;
	width: 200px;
	padding:4px 0 3px;
	text-align:center;
	text-decoration:none;
	position:relative;
}


.filter-form .slide-open .holder{
	padding:12px;
	width:180px;
	background:#fff;
	position:relative;
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.filter-form input[type="submit"]{
	display:block;
	border:none;
	background:url(../images/refine_results.png) repeat-x 0 0;
	width: 950px;
	height: 35px;
	padding:0;
	margin:0 -10px 0 0px;
	color:#fff;
	font:14px/24px 'nobilebold', Arial, Helvetica, sans-serif;
	cursor:pointer;
}

.filter-form input[type="submit"]:hover{
	display:block;
	border:none;
	background:url(../images/refine_results.png) no-repeat 0 -45px;
	width: 950px;
	height: 35px;
	padding:0;
	margin:0 0px 0 0px;
	color:#fff;
	font:14px/24px 'nobilebold', Arial, Helvetica, sans-serif;
	cursor:pointer;
}

.section .filter-box {
	width:205px;
	height: 260px;
	padding:9px 12px 11px;
	margin: 0px 10px 10px 0px;
	background: url(../images/box2-t.png) no-repeat;
	position:relative;
	z-index:1;
}

.filter-box:after,
.filter-box:before{
	content:'';
	position:absolute;
	height:4px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/box2-b.png) no-repeat;
	z-index:-1;
}
.filter-box:after{
	top:2px;
	height:auto;
	bottom:4px;
	background:url(../images/box2-c.png) repeat-y;
}

.filter-form .row-check{
	float:left;
	width:175px;
	margin:0 56px 12px 0;
}
.filter-form .row-check-2{
	width:175px;
	margin:0 0 12px 0;
}

.submit-button submit {
	width: 600px;
}


.sumit-button {
	width: 100%;
/* 
	background-color: #e43157;
	padding-left: 33%;
 */
}

input[type=submit] {
	display: block;
	border: none;
	background: url(../images/bg-btn.png) repeat 0 -310px;
	background-size: 100%;
 	background-color: #e43157;
	height: 34px;
	padding: 0;
	margin: 0 auto 0 0;
	color: #fff;
	font: 14px/24px 'nobilebold', Arial, Helvetica, sans-serif;
	cursor: pointer;
}

/* 
.section .filter-box-left {
	width:200px;
	padding:9px 12px 11px;
	margin: 0px 5px 0px 0px;
	background:url(../images/box3-t.png) no-repeat;
	position:relative;
	z-index:1;
}
 */

.filter-form .title{
	color:#4c4d4f;
	font:14px/19px 'nobilebold', Arial, Helvetica, sans-serif;
	background:url(../images/sprite.png) no-repeat 0 -107px;
	padding:1px 5px;
	margin:0 0 12px;
	width: 190px;
	height:23px;
	text-align:center;
}

.open-close2{
	position:relative;
	margin:0 0 15px;
	color: #4c4d4f;
}
.open-close2 .opener2{
	display:block;
	color:#4c4d4f;
	font:14px/18px 'nobileregular', Arial, Helvetica, sans-serif;
	background:url(../images/bg-btn.png) no-repeat 0 -178px;
	width: 308px;
	padding:4px 0 3px;
	text-align:center;
	text-decoration:none;
	position:relative;
}

/* 
 .slide-open-3 .holder:after,
 .slide-open-3 .holder:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.slide-open-3 .holder:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 19px;
	top: 10px;
	left: -38px;
}
.slide-open-3 .holder:before {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 19px;
	top: 10px;
	left: -38px;
	-webkit-filter: drop-shadow(0 4px 0px rgba(0, 0, 0, 0.3));
}
 */
 
/* 
  .slide-open-3 .holder:after,
 .slide-open-3 .holder:before {
	content: " ";
	height: 20px;
	width: 208px;
	position: absolute;
	pointer-events: none;
}
.slide-open-3 .holder:after {
 	background:url(../images/Hood_Arrow_02_02.png) no-repeat;
	top: 10px;
	left: -28px;
}
.slide-open-3 .holder:before {
 	background:url(../images/Hood_Arrow_02_02.png) no-repeat;
	top: 10px;
	left: -28px;
}
 */

.slide-open-2 .holder{
	padding:10px 13px;
	width:170px;
	background:#fff;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	z-index: 10;
}

.slide-open-3 .holder{
	position:absolute;
	top: 240px;
	left: 420px;
	padding:30px 50px 30px 50px;
	height: 540px;
	width: 440px;
	background:url(../images/Hoods_all_bg.png) no-repeat;
	background-size: 500px 600px;
/* 
	background: #fff;
	-moz-box-shadow:0px 0px 25px 16px #d2d2d2;
	-webkit-box-shadow:0px 0px 25px 16px #d2d2d2;
	box-shadow:0px 0px 25px 16px #d2d2d2;
 */
	z-index: 999;
}

.slidingDiv {
	margin: 10px 0px 10px 0px;
}

.title-float {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 20px;
}

.btn-float {
	display: block;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-align: center;
	font-family: nobilebold;
	background: url(../images/bg-btn.png) 0px -359px no-repeat;
	width: 160px;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2px;
	padding: 2px 0px 4px;
	height: 18px;
}

.float-close {
	position: absolute;
	top: 34px;
	right: 70px;
	background: transparent url(../images/close.png) no-repeat;
	width:22px;
	height:22px;
	cursor: pointer;
	z-index: 1103;
/* 
	display: none;
 */
}

.description-float{
	margin:0 auto 19px auto;
	overflow:hidden;
	width: 210px;
	height: 250px;
	float: left;
	text-align: center;
}
.description-float .alignleft{margin:3px 11px 0 0;}
.description-float .box{overflow:hidden;}
h5{
	font:12px/17px 'nobilebold', Arial, Helvetica, sans-serif;
	margin:0 0 7px;
}
.description-float ul{
	padding:0;
	margin:0;
	list-style:none;
}

#main .preview-block .block-gallery p{margin:0 0 17px;}
.preview-block .block-gallery .add-block-info{
	position:absolute;
	bottom:30px;
	left:0;
	width:330px;
	z-index: 100;
}

.btn-details{
	display:block;
	color:#fff;
	text-decoration:none;
	text-align:center;
	font-family: 'nobilebold';
	background:url(../images/bg-btn.png) no-repeat 0 -359px;
	width: 196px;
	padding: 2px 0 4px;
	height:18px;
}

.btn-details:hover {
	background:url(../images/bg-btn.png) no-repeat -208px -359px;
}

<!-- Customer Care -->

.promo-block .box-2{
	position:absolute;
	top:24px;
	left:15px;
	width:410px;
	color:#fff;
	font:14px/18px 'blocheavy', Arial, Helvetica, sans-serif;
}
.promo-block .box-2 .caption{
	line-height:49px;
	margin:0 0 10px;
	padding:10px 0 17px;
	font:46px 'blocheavy', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	position:relative;
}

.alt-openclose{
	position:relative;
	float: left;
	width: 180px;
	margin:0 0 15px;
}

.preview-block .description{margin:0 0 15px;}
.preview-block .description .alignleft {margin: 0px 12px 0 0;}
.preview-block .description h4{margin:0 0 6px;}
.preview-block .product-image{float:left;}
.preview-block .block-gallery{
	overflow:hidden;
	text-align:center;
	background:url(../images/gallery___NEW-frame.png) no-repeat;
	width:474px;
	height:577px;
	margin:0 0 11px;
}

.preview-block .overview {
	width:294px;
	margin:0 0 12px;
	padding:11px 12px;
	background:url(../images/box8-t.png) no-repeat;
	position:relative;
	z-index:1;
	overflow:hidden;
}
.preview-block .overview:after,
.preview-block .overview:before{
	content:'';
	position:absolute;
	height:6px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/box8-b.png) no-repeat;
	z-index:-1;
}
.preview-block .overview:after{
	top:6px;
	height:auto;
	bottom:6px;
	background:#e8f7fa;
}
.preview-block .overview h4.red{
	text-align:center;
	line-height: 20px;
	margin: 0 0 21px;
}
.preview-block .aside .reviews{
	text-align:center;
	padding:23px 12px 35px;
}
.preview-block .choice-block{overflow:hidden;}
.preview-block .aside-2{float:right;}
.preview-block .aside-2 .box {
	width:125px;
	margin:0 0 13px;
	padding:13px 13px 10px 11px;
	background:url(../images/box9-t.png) no-repeat;
	position:relative;
	z-index:1;
}
.preview-block .aside-2 .box-2{
	padding-bottom: 12px;
	margin:0;
}
.preview-block .aside-2 .box:after,
.preview-block .aside-2 .box:before{
	content:'';
	position:absolute;
	height:6px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/box9-b.png) no-repeat;
	z-index:-1;
}
.preview-block .aside-2 .box:after{
	top:6px;
	height:auto;
	bottom:6px;
	background:url(../images/box9-m.png) repeat-y;
}

div.slideshow-2 div.slide-2 .add{
	overflow:hidden;
	height: 20px;
	min-height: 70px;
	margin: 6px 0 0 12px;
}

div.retailer span.number{
	background-color: #9b9b9b;
}

.product-block .front-page-link {
	float: right;
	display:block;
	border:none;
	background:url(../images/refine_results.png) repeat-x 0 0;
	width: 650px;
	height: 35px;
	padding:5px 0 0 0;
	margin:0 -10px 0 0px;
	color:#fff;
	font:14px/24px 'nobilebold', Arial, Helvetica, sans-serif;
	cursor:pointer;
	text-align: center;
}

.product-block .front-page-link:hover {
	float: right;
	display:block;
	border:none;
	background:url(../images/refine_results.png) no-repeat 0 -45px;
	width: 650px;
	height: 35px;
	padding:5px 0 0 0;
	margin:0 0px 0 0px;
	color:#fff;
	font:14px/24px 'nobilebold', Arial, Helvetica, sans-serif;
	cursor:pointer;
}

.open-close .opener-link:before {
	content:'';
	position:absolute;
	right: 11px;
	top: 8px;
	background:url(../images/arrows.png) no-repeat;
	width: 16px;
	height: 10px;
}

.visual {
	position: relative;
	width: 100%;
	margin-top: 50px;
	margin-bottom: -10px;
}

.feedback-block address {
font-style: normal;
margin: 0 0 24px;
font-size: 14px;
line-height: 21px;
}

.slide address {
font-style: normal;
margin: 0 0 24px;
font-size: 14px;
line-height: 21px;
}

.aligncenter {
 max-width: 99%;
 height: 90%;
/*  margin-right: 10px; */
}

.intro {
	margin-left: 10px;
	font:12px 'nobilebold', Arial, Helvetica, sans-serif;
}

.main-heading {
	background: #989898;
	color: #fff;
	text-align: center;
	padding: 10px 10px 7px;
}

.gallery-wrap {
	position: relative;
	font-size: 13px;
	line-height: 18px;
	color: #4c4d4f;
	text-align: center;
	margin: 7px 0;
	padding: 0 0 7px;
	background: #fff url() 50% 0 no-repeat;
}

.accordion-holder {
	margin-top: 90px;
	margin-bottom: 10px;
}

/* 
.frame {
	min-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
 */

.gallery-wrap .slide {
	float: left;
	width: 240px;
	margin-left:43px !important;
	margin-right:43px !important;
}

.gallery-wrap .slide img{
	width: 90%;
	height: auto;
}

.switcher ul {
	margin-left:auto !important;
	margin-right:auto !important;
}


.ad-block img {
	max-width: 100%;
	height: auto;
}

.range-block .img-box {
	height: 164px;
}

.range-block .btn {
	text-align: center;
}

.accordion.alternative .btn-list {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.accordion .slide .box {
	margin: 0 10px 0 0px;
	border-top: 2px solid #b1e3f0;
	padding: 10px 0px 0px 0px;
	font: 15px/18px 'nobileregular', Arial, Helvetica, sans-serif;
}

.accordion .slide .box:first-child {
	padding: 10px 0px 0px 0px;
}

tr {
	border-bottom: 2px solid #fff;
	margin: 5px 0px 5px 0px;
}

.accordion .slide .note {
	padding: 5px;
}

.accordion .slide .value {
	padding: 5px;
}

.range-block .btn {
	background: url(../images/range-btn-grey.png) no-repeat;
}

.overview-box .list {
	line-height: 24px;
}

#main .dimensions-block{padding:22px 12px 12px;}
.block-blue1 {
	float:left;
	width:287px;
	min-height: 382px;
	margin:0;
	padding:8px 12px;
	background:url(../images/bg-blue4-t.png) no-repeat;
	position:relative;
	z-index:1;
}
.retailer-block .block-blue1{padding:7px 12px 15px;}
.block-blue1:after,
.block-blue1:before{
	content:'';
	position:absolute;
	height:9px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/bg-blue4-b.png) no-repeat;
	z-index:-1;
}
.block-blue1:after{
	top:8px;
	height:auto;
	bottom:9px;
	background:#e8f7fa;
}

#main .dimensions-block{padding:22px 12px 12px 12px;}
.block-blue3 {
	float:left;
	width:287px;
	min-height: 382px;
	margin: 0px 0px 0px 12px;
	padding:8px 12px;
	background:url(../images/bg-blue4-t.png) no-repeat;
	position:relative;
	z-index:1;
}
.retailer-block .block-blue3{padding:7px 12px 15px;}
.block-blue3:after,
.block-blue3:before{
	content:'';
	position:absolute;
	height:9px;
	left:0;
	bottom:0;
	width:100%;
	background:url(../images/bg-blue4-b.png) no-repeat;
	z-index:-1;
}
.block-blue3:after{
	top:8px;
	height:auto;
	bottom:9px;
	background:#e8f7fa;
}

.details-form input[type="text"]{
	float:left;
	background:url(../images/sprite.png) no-repeat 0 -180px;
	border:none;
	margin:0;
	font:14px/26px 'nobilebold', Arial, Helvetica, sans-serif;
	color:#4c4d4f;
	padding: 0 11px 0;
	width: 169px;
	height: 26px;
}

.preview-block .popup-holder-2 {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 474px;
	padding: 7px 0 0;
	background: url() no-repeat;
}

.preview-block .popup-holder-2 .popup-frame-2 {
	padding: 0 0 8px;
	background: url() no-repeat 0 100%;
}

.area {
	position: relative;
	min-height: 45px;
	margin: 0 0 12px;
	z-index: 5;
}

.preview-block .aside-2 .aligncenter {
	margin-bottom: 9px;
}