body {
	zoom: 77%;
	-moz-transform: scale(0.77);
	-moz-transform-origin: 0% 0%;
}

.bg-blue, .bg-yellow, .bg-green, .bg-red, .purple {
	background-color: #ffffff;
}

#main {
	margin-top: 0px;
}

.promo-2 {
	margin: 30px 0px 20px 0px;
}

.promo-2 .customer-box {
	padding: 0;
	margin: 0px 10px 20px 15px;
	-moz-box-sizing: border-box;
	width: 290px;
	float: left;
}

textarea#Question {
	max-width: 560px;
}

.promo .item-holder {
	margin-left: 20px;
}