﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Brand.cshtml";
    @* var reasonsToBuy = Model.Content.Children; *@
    var ourHeritageTitle = Model.Content.GetPropertyValue("ourHeritageTitle");
    var ourHeritageContent = Model.Content.GetPropertyValue("ourHeritageContent");

    var ourProductsTitle = Model.Content.GetPropertyValue("ourProductsTitle");
    var ourProductsContent = Model.Content.GetPropertyValue("ourProductsContent");

    var ourServiceTitle = Model.Content.GetPropertyValue("ourServiceTitle");
    var ourServiceContent = Model.Content.GetPropertyValue("ourServiceContent");

    var ourFutureTitle = Model.Content.GetPropertyValue("ourFutureTitle");
    var ourFutureContent = Model.Content.GetPropertyValue("ourFutureContent");


}

<div class="container text-center about-us">
    <div class="col-sm-12">
      <h1>About Us</h1>
    </div>
</div>

<div class="container-fluid why-buy text-center about-heritage">
    <div class="row background-image" style="background-image:url('/media/623275/new-world_about-us-1.jpg');">
        <div class="col-xs-12 col-sm-6 col-md-6 text-center why-content">
            <div class="mid-content">
                <div class="width-container white-text">
                    <div class="h4">@ourServiceTitle</div>
                    <p>@ourServiceContent</p>
                </div>
            </div>
        </div>  
    </div>
</div> 


<div class="container-fluid why-buy text-center about-products">
    <div class="row background-image" style="background-image:url('/media/623276/new-world_about-us-2.jpg');">
        <div class="col-xs-12 col-sm-12 text-center why-content">
            <div class="mid-content">
                <div class="center-container white-text"> 
                    <div class="h4">@ourHeritageTitle</div>
                    <p>@ourHeritageContent</p>
                </div>
            </div>
        </div>  
    </div>
</div>

<div class="container-fluid why-buy text-center about-service">
    <div class="row background-image" style="background-image:url('/media/623277/new-world_about-us-3.jpg');">
        <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-6 text-center why-content">
            <div class="mid-content">
                <div class="width-container">                                    
                    <div class="h4">@ourProductsTitle</div>
                    <p>@ourProductsContent</p>
                </div>
            </div>
        </div>  
    </div>
</div>


<div class="container-fluid why-buy text-center about-future">
    <div class="row background-image" style="background-color: white;">
        <div class="col-xs-12 col-sm-12 text-center why-content">
            <div class="mid-content">
                <div class="center-container"> 
                    <div class="h4">@ourFutureTitle</div>
                    <p style="color:black;">@ourFutureContent</p>
                </div>
            </div>
        </div>  
    </div>
</div>