﻿@using Archetype.Models
@using Uniform.Web.Models
@inherits UmbracoTemplatePage
@{
    Layout = "Brand.cshtml";
    var home = Model.Content.AncestorOrSelf(1);
    var brochures = CurrentPage.GetPropertyValue<ArchetypeModel>("brochureListing");
}

<div class="container-fluid contact grey-background">
    <div class="container">
        <div class="col-md-8 col-sm-6">		
			@if(CurrentPage.ShowRequestForm == true)
			{
				@Html.Partial("GDHA/BrochureOrder", BrandBrochureOrderModel.Create(Model.Content))
			}
			else
			{
				<h1>@(CurrentPage.HasValue("onPageTitle") ? CurrentPage.onPageTitle : @Umbraco.Field("#Download Brochure"))</h1>
				
				if(CurrentPage.HasValue("BodyText"))
				{
					<p>@CurrentPage.BodyText</p>
				}	
			}
        </div>
        <div class="col-md-4 col-sm-6">             
            <ul class="sidenav-list">                
                @foreach (var brochure in brochures)
                {
                    var heading = brochure.HasValue("title") ? brochure.GetValue("title") : "";
                    var body = brochure.HasValue("description") ? brochure.GetValue("description") : "";
                    var link = brochure.HasValue("pdf") ? Umbraco.TypedMedia(int.Parse(brochure.GetValue("pdf"))).Url : null;
                    IPublishedContent image = null;
                    if (brochure.HasProperty("image") && brochure.HasValue("image"))
                    {
                        image = Umbraco.TypedMedia(int.Parse(brochure.GetValue("image")));
                    }

                    <div class="row">

                        @if(heading != "" && link != "")
                        {
                            <div class="text-box">
                                <h4>@heading</h4>
								
								@if(image.Url != ""){
									<a href="@link" class="download" onclick="_gaq.push(['_trackEvent', 'Customer Care', 'download_brochure', 'Download Brochure']);">
										<img src="@image.Url" alt="@heading"/>
									</a>
								}
								
								@if(body != ""){
									<p>@body</p>
								}
								
                                <a href="@link" class="download" onclick="_gaq.push(['_trackEvent', 'Customer Care', 'download_brochure', 'Download Brochure']);">
                                    <p>@Umbraco.Field("#Download Brochure")</p>
                                </a>
                            </div>
                        }
                    </div>
                }
            </ul>
        </div>
    </div>
</div>