﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Brand.cshtml";
    var catagories = Model.Content.Parent.Children.Where(catagory => catagory.DocumentTypeAlias != "Flixmedia");
}

<div class="container" id="p-c-h">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            @{ 
                string pageTitle = CurrentPage.pageTitle;

                if(string.IsNullOrEmpty(pageTitle))
                {
                    pageTitle = CurrentPage.Name;
                }
            }

            <h1>@pageTitle</h1>

            @CurrentPage.bodyText
        </div>
    </div>

    @foreach (var catagory in catagories)
    {
        if (catagory.Url == CurrentPage.Url)
        {
            <div class="row narrow-container product-row">
                @foreach (var collection in catagory.Children.Where(collection => collection.DocumentTypeAlias != "ProductCategoryGroupKeyFeatureFolder"))
                {
                    var image = collection.HasValue("productCategoryImage") ? Umbraco.TypedMedia(collection.GetPropertyValue("productCategoryImage")).Url : "http://placehold.it/1200x400";

                    <div class="p-c-s product-box">
                        <h5>@collection.Name</h5>
                        <div class="p-c-i">
                            <a href="@collection.Url"><img src="@image" alt="Products Category"></a>
                        </div>
                        <a class="btn btn-black" href="@collection.Url">More</a>
                    </div>
                }
            </div>
        }
    }
</div>
