﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Brand.cshtml";
	var title = Model.Content.GetPropertyValue("title").ToString();
    var body = Model.Content.GetPropertyValue("body").ToString();
	var terms = Model.Content.GetPropertyValue("termsConditions").ToString();
}
	@Html.Raw(title)
	<div id="content">
		<div class="container">
        <!-- ROW -->
        	<div class="row">
				@Html.Raw(body)
			</div>
		</div>

		<div class="container-fluid contact grey-background">
			<div class="container">
				<div class="row">
					<div class="form-container">
						@Html.Partial("Brand/Misc/CommunityKitchenForm", new Uniform.Web.Models.CommunityKitchenFormModel())
						@Html.Raw(terms)
					</div>
				</div>
			</div>
		</div>	
					
	</div>
						
						
<style type="text/css">
p {
margin: 10px 0px;
line-height: 20px;
}

.left-copy {
float: left;
width: 600px;
}

.left-copy-stm {
margin-bottom: 20px;
}

.right-copy {
float: right;
width: 320px;
line-height: 24px;
}

.link-image {
margin: 20px 0px 20px 0px;
}

.link-white {
position: relative;
top: -40px;
left: -10px;
margin: 0px auto 0px auto;
display: table;
font-size: 16px;
color: white;
letter-spacing: 0.8px;
text-decoration: none;
text-transform: uppercase;
padding: 5px 20px 5px 20px;
border-color: white;
border-style: solid;
border-width: 1px;
}

.link-black {
margin: 0px auto 0px auto;
display: table;
font-size: 16px;
color: black;
letter-spacing: 0.8px;
text-decoration: none;
text-transform: uppercase;
padding: 5px 20px 5px 20px;
border-color: black;
border-style: solid;
border-width: 1px;
}

.link-grey {
display: table;
font-size: 12px;
color: #5d5d5d;
letter-spacing: 0.8px;
text-decoration: none;
text-transform: uppercase;
padding: 0px 20px 0px 20px;
border-color: #5d5d5d;
border-style: solid;
border-width: 1px;
}
.silo-header{
	font-weight: bold;
	padding-bottom: 10px;
}

.body-links{
	list-style: disc outside none;
}
.divider{
	width: 100%;
	float: left;
	padding: 30px 0;
	border-bottom: thin solid #333;
}
.divider2{
	width: 100%;
	float: left;
	padding: 30px 0;
}
.orange{
	color: #EC6608;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 35px;
	line-height: 2.5rem;
}
.blue{
	color: #60B8E8;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 1rem;
	float: left;
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	margin-top: 60px;
	margin-bottom: 10px;
}
.blue-btn{
	color: #60B8E8;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1rem;
	padding: 17px;
	border: thin solid #60B8E8;
	width: 151px;
	font-weight: bold;
	margin-left: auto;
	font-size: 22px;
	margin-right: auto;
	margin-top: 10px;
}
.lead-text{
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 10px;
	font-size: 23px;
	line-height: 26px;
}
#button a:link, #button a:visited{
	text-decoration: none;
}
.com{
	font-size: 12px;
}
.com label{
	float: left;
	padding: 25px 0px 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 100%;
	display: block;
}
.com input[type='text']{
	width: 300px;
	display: block;
	float: left;
}
.com input[type='submit']{
	width: 180px;
	background-color: #E5E5E5;
	color: #333;
	float: left;
	margin-top: 30px;
	font-size: 14px;
	text-transform: uppercase;
	padding: 10px;
	border: none;
	box-shadow: none !important;
}

.terms{
	font-size: 12px;
	font-size: 12px;
	list-style: outside decimal !important;
}
.inner-terms{
	list-style: outside lower-roman !important;
	padding-left: 15px;
}
.com textarea{
	width: 450px;
}
.com p{
	float: left;
	width: 100%;
}
ul{

}
ol{
	
}
li{

}
.social{
	padding-right: 10px;
	float: left;
	display: inline;
	width: 30px;
}
.social img{
	max-width: 100%;
}
</style>