﻿@inherits UmbracoTemplatePage
@using Newtonsoft.Json.Linq

@{
    Layout = "Brand.cshtml";

    var homeNode = Model.Content.AncestorOrSelf(1);
    var node = homeNode.Children.First(x => x.DocumentTypeAlias == "CustomerCare");
    var image = Model.Content.HasValue("image") ? Umbraco.TypedMedia(Model.Content.GetPropertyValue("image")).Url : "";
    var name = homeNode.Name.Replace(" ", String.Empty);
}

@helper ContactBlock(string title, string phoneNumber, string description, string time)
{
    if (Model.Content.HasValue(title))
    {
        <h4>@Model.Content.GetPropertyValue(title)</h4>
    }

    if (Model.Content.HasValue(phoneNumber))
    {
        var phone = Model.Content.GetPropertyValue(phoneNumber);
        <a href="tel:@phone"><h3 class="mobile">@phone</h3></a>
    }

    if (Model.Content.HasValue(description))
    {
        <p>@Model.Content.GetPropertyValue(description)</p>
    }

    if (Model.Content.HasValue(time))
    {
        JArray openingTimes = (JArray)Model.Content.GetProperty(time).Value;

        <div class="opening-times">
            <div class="opening-hours">Opening Hours<br></div><br>
            @foreach (var date in openingTimes)
            {
                string day = date["day"].ToString();

                if (!string.IsNullOrEmpty(day))
                {
                    string open = date["open"].ToString();
                    string close = date["close"].ToString();

                    string openingTime = string.Empty;

                    if (!string.IsNullOrEmpty(open) && !string.IsNullOrEmpty(close))
                    {
                        openingTime = string.Format("{0} - {1}", open, close);
                    }
                    else
                    {
                        openingTime = Umbraco.Field("#Closed").ToString();
                    }

                    <div><span class="day">@day</span><span class="time">@openingTime</span></div>
                }
            }
        </div>
    }
}

<div class="container-fluid  contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 class="text-center">@(Model.Content.HasValue("heading") ? Model.Content.GetPropertyValue("heading") : Model.Content.Name)</h1>
                <br class="desktop-only"><br class="desktop-only">
            </div>
        </div>
    </div>
</div>

@if(@Model.Content.HasValue("head"))
{
	<div class="container-fluid text-center contact desktop-only">
		<div class="row hero-row">
			<div class="col-sm-12 text-center white-text hero-holder why-content" style="background-image: url('@image')">
				<div class="mid-content">
					<div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-2">
						<div class="h1">@Model.Content.GetPropertyValue("head")</div>
						<p>@Model.Content.GetPropertyValue("text")</p>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<div class="container">
    <div class="row contact">
        <div class="col-md-4 col-sm-12">
            @ContactBlock("title", "phoneNumber", "description", "time")
        </div>
        <div class="col-md-4 col-sm-12">
            @ContactBlock("title1", "phoneNumber1", "description1", "time1")
        </div>
        <div class="col-md-4 col-sm-12">
            @ContactBlock("title2", "phoneNumber2", "description2", "time2")
        </div>
    </div>
</div>


@if(homeNode.Name != "Stoves German")
{
	<div class="container-fluid" id="customer-care-section">
		<div class="container">
			<div class="row contact">
				<div class="col-md-4 col-sm-4">
					<h4>Customer Care</h4>
					<p>Want to find answers online? Visit the Customer Care section</p>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="sidenav-list">
						<li><a href="@node.Url#FAQ"><span class="icon"><img src="/media/622957/faq.svg" class="svg" alt=""></span> FAQ</a></li>
						<li><a href="@node.Url#Manuals"><span class="icon"><img src="/media/622965/manual.svg" class="svg" alt=""></span> Manuals</a></li>
						@if (name != "Lec")
						{
							<li><a href="http://www.gdhaonline.co.uk/@name/spare-parts.aspx" target="_blank"><span class="icon"><img src="/media/623267/spares-store.svg" class="svg" alt=""></span> Spares Store</a></li>
						}
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="sidenav-list">
						<li><a href="/Warranty"><span class="icon"><img src="/media/622976/warranty.svg" class="svg" alt=""></span> Warranty</a></li>
						<li><a href="/brochure"><span class="icon"><img src="/media/622954/download.svg" class="svg" alt=""></span> Download Brochure</a></li>
						<li><a href="http://www.gdhaonline.co.uk/@name/products.aspx" target="_blank"><span class="icon"><img src="/media/622977/where-to-buy.svg" class="svg" alt=""></span> Outlet</a></li>
					</div>
				</div>
			</div>
		</div>
	</div>

	@* if footer image *@
	<div class="container-fluid contact grey-background">
		<div class="container">
			<div class="col-md-8 col-sm-6">
				@Html.Partial("Brand/misc/ContactForm", new Uniform.Web.Models.ContactFormModel())
			</div>
			<div class="col-md-4 col-sm-6">
				<ul class="sidenav-list">
					<h4>Write to us</h4>
					<address>Glen Dimplex Home Appliances Ltd <br>Stoney Lane, Prescot <br>Merseyside L35 2XW</address>
					<h4>Leave a Review</h4>
					@{var cat = homeNode.Name == "Lec" ? "fridge-freezers" : "cookers"; }
					<address><a href="https://www.reevoo.com/browse/product_type/@cat/product_brand/@homeNode.Name" target="_blank">Click here to tell us your thoughts on our products.</a></address>
					<h4>Delivery</h4>
					<p>We are delighted to be able to offer Go Deliver.</p>
				</ul>
				<div class="sidenav-list">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h5 class="panel-title collapse-arrow" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
									Go Deliver Express
									<span class="float-right arr">
										<img src="/media/622947/arrow-down.svg" alt="down arrow" class="svg arrow-down">
									</span>
								</h5>
							</div>
							<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									Order day 1 for delivery day 3. Delivery available UK only to most postcodes, 6 days a week.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h5 class="panel-title collapsed collapse-arrow" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Go Deliver &amp; Install
									<span class="float-right arr">
										<img src="/media/622947/arrow-down.svg" alt="down arrow" class="svg arrow-down">
									</span>
								</h5>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">
									Delivery and installation is available Monday to Friday. Delivery is available to the whole of the UK, followed up with installation by our fleet of national engineers.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree">
								<h5 class="panel-title collapsed collapse-arrow" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Go Deliver Premier
									<span class="float-right arr">
										<img src="/media/622947/arrow-down.svg" alt="down arrow" class="svg arrow-down">
									</span>
								</h5>
							</div>
							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body">
									Our all-in-one service that includes it all. Delivery, disconnection, installation and removal all in one convenient visit on a choice of days. UK mainland only.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@* end footer image *@
	@Html.Partial("Brand/Home/RegisterAppliance")
}
