﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "CorporateMaster.cshtml";
}
@section Main
{
    @RenderSection("Heading", required: false)
    <div id="background-logo">
        <div class="icon icon-logo-background"></div>
    </div>
    <div class="inner">
        @RenderSection("content", required: false)
    </div>
}