﻿@inherits UmbracoTemplatePage
@using RJP.MultiUrlPicker.Models
@using Newtonsoft.Json.Linq
@{
    Layout = "Brand.cshtml";
    var features = Model.Content.HasValue("features")?Model.Content.GetPropertyValue<JArray>("features"): null;
    var random = new Random();

    @* banner variables *@    
    var topBannerImage = Model.Content.HasValue("topBannerImage") ? Umbraco.TypedMedia(Model.Content.GetPropertyValue("topBannerImage")).Url : "";
    var topBannerTitle =  Model.Content.HasValue("topBannerTitle") ?Model.Content.GetPropertyValue("topBannerTitle") : null;
    var topBannerBody =  Model.Content.HasValue("topBannerBody") ?Model.Content.GetPropertyValue("topBannerBody") : null;
    var topBannerLinkText =  Model.Content.HasValue("topBannerLinkText") ?Model.Content.GetPropertyValue("topBannerLinkText") : null;
    var topBannerLink = Model.Content.HasValue("topBannerLink") ?Model.Content.GetPropertyValue<MultiUrls>("topBannerLink").First().Url : null;

    var mobileBottomBanner = Model.Content.HasValue("mobileBottomBanner") ?Umbraco.TypedMedia(Model.Content.GetPropertyValue("mobileBottomBanner")).Url : "";
    var bottomBannerImage = Model.Content.HasValue("bottomBannerImage") ?Umbraco.TypedMedia(Model.Content.GetPropertyValue("bottomBannerImage")).Url : "";
    var bottomBannerTitle = Model.Content.HasValue("bottomBannerTitle") ?Model.Content.GetPropertyValue("bottomBannerTitle") : null;
    var bottomBannerBody = Model.Content.HasValue("bottomBannerBody") ?Model.Content.GetPropertyValue("bottomBannerBody") : null;
    var bottomBannerLinkText = Model.Content.HasValue("bottomBannerLinkText") ?Model.Content.GetPropertyValue("bottomBannerLinkText") : null;
    var bottomBannerLink = Model.Content.HasValue("bottomBannerLink") ?Model.Content.GetPropertyValue<MultiUrls>("bottomBannerLink").First().Url : null;
	var heading = Model.Content.HasValue("heading") ? Model.Content.GetProperty("heading").Value:"";
	var body = Model.Content.HasValue("body") ? Model.Content.GetProperty("body").Value: "";
    IPublishedContent image = null;
    string title = "";
    
    if (features != null && features.HasValues)
    {
        var rnd = random.Next(0, features.Count);
        var rand = features[rnd]; 
		try
		{
        image = Umbraco.TypedMedia(rand["image"].ToString());
		}
		catch
		{
		}
        title = rand["title"].ToString();
    }        
}
    
<div class="container-fluid customer-care">
    <div class="container">
        <div class="row general-head">
            <div class="col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0 text-center">
                <h1>@heading</h1>
                <p>@body</p> 
            </div>
        </div>
    </div>
    @* <div class="row hero-row top-banner">
        <div class="col-sm-12 col-xs-12 text-center white-text hero-holder why-content" style="background-image: url('@topBannerImage')">
            <div class="mid-content">
                <div class="width-container">
                    <h1 class="big">@topBannerTitle</h1>
                    <div class="hero-text">@topBannerBody</div>
                    <a href="@topBannerLink" class="btn btn-default white-text">@topBannerLinkText</a>
                </div>
            </div>
        </div>
    </div>    *@ 
</div> 

   
    <!--Wrap this with anything you as this pulls in the FAQ (accordin etc.) -->
<div class="container customer-care">
    <div class="row half-background">
        <div class="col-md-8 col-sm-6" id="faq-accordian">
            @Html.Partial("Brand/Misc/CustomerCareAccordian", @Model.Content)  
			@* <br class="desktop-only"><br class="desktop-only">
			@Html.Partial("Brand/Misc/Warranty") *@
        </div>
        <div class="col-md-4 col-sm-6" id="manual-accordian" style="display:block;">
            @Html.Partial("Brand/Misc/Manuals")
        </div>
    <!--//-->
    </div>
</div>

@* if footer image  *@
@* desktop version *@
<div class="container-fluid desktop-only text-center banner-bottom customer-care">
    <div class="row hero-row">
        <div class="col-sm-12 text-center white-text hero-holder why-content" style="background-image: url('@bottomBannerImage')">
            <div class="mid-content">
                <div class="col-md-4 col-md-offset-2 col-sm-6 col-sm-offset-3">
                    <div class="h2">@bottomBannerTitle</div>
                    <p>@bottomBannerBody</p>
                    <a href="@bottomBannerLink" class="btn btn-default">@bottomBannerLinkText</a>
                </div>
            </div>
        </div>
    </div> 
</div> 

@* mobile version *@
<div class="container-fluid mobile-only text-center banner-bottom customer-care">
    <div class="row hero-row">
        <div class="col-sm-12 col-xs-12 text-center white-text hero-holder why-content" style="background-image: url('@mobileBottomBanner')">
            <div class="mid-content">
                <div class="col-md-4 col-md-offset-2 col-sm-6 col-sm-offset-3">
                    <div class="h2">@bottomBannerTitle</div>
                    <p>@bottomBannerBody</p>
                    <a href="@bottomBannerLink" class="btn btn-default">@bottomBannerLinkText</a>
                </div>
            </div>
        </div>
    </div> 
</div> 

@* end footer image *@
@Html.Partial("Brand/Home/RegisterAppliance")
	<script>
		$( document ).ready(function() {
    		$('#showLessPosts').hide();
		})
        $(function() {
            $("#showAllPosts").click(function(e) {
                e.preventDefault();
                $('#showAllPosts').hide();
				$('#showLessPosts').show();
                $('.other-posts').show();
            });
        });
		$(function() {
            $("#showLessPosts").click(function(e) {
                e.preventDefault();
                $('#showAllPosts').show();
				$('#showLessPosts').hide();
                $('.other-posts').hide();
            });
        });
	</script>
