﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using RJP.MultiUrlPicker.Models
@{
    Layout = "Brand.cshtml";

    var heading = Model.Content.HasValue("title") ? Model.Content.GetPropertyValue("title") : Model.Content.Name;
    var body = Model.Content.HasValue("body") ? Model.Content.GetPropertyValue("body") : Model.Content.Name;
    var summary = Model.Content.HasValue("summary") ? Model.Content.GetPropertyValue("summary") : Model.Content.Name;
    var topBannerTitle = Model.Content.HasValue("topBannerTitle") ? Model.Content.GetPropertyValue("topBannerTitle") : "";
    var topBannerBody = Model.Content.HasValue("topBannerBody") ? Model.Content.GetPropertyValue("topBannerBody") : "";
    var topBannerImage = Model.Content.HasValue("topBannerImage") ? Umbraco.TypedMedia(Model.Content.GetPropertyValue("topBannerImage")).Url : "";
    var topBannerLink = Model.Content.HasValue("topBannerLink") ? Model.Content.GetPropertyValue<MultiUrls>("topBannerLink").First().Url : "";
    var topBannerLinkText = Model.Content.HasValue("topBannerLinkText") ? Model.Content.GetPropertyValue("topBannerLinkText") : "";
    var bottomBannerTitle = Model.Content.HasValue("bottomBannerTitle") ? Model.Content.GetPropertyValue("bottomBannerTitle") : "";
    var bottomBannerBody = Model.Content.HasValue("bottomBannerBody") ? Model.Content.GetPropertyValue("bottomBannerBody") : "";
    var bottomBannerImage = Model.Content.HasValue("bottomBannerImage") ? Umbraco.TypedMedia(Model.Content.GetPropertyValue("bottomBannerImage")).Url : "";
    var bottomBannerLink = Model.Content.HasValue("bottomBannerLink") ? Model.Content.GetPropertyValue<MultiUrls>("bottomBannerLink").First().Url : "";
    var bottomBannerLinkText = Model.Content.HasValue("bottomBannerLinkText") ? Model.Content.GetPropertyValue("bottomBannerLinkText") : "";
}

<div class="container-fluid customer-care">
    <div class="container">
        <div class="row general-head">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h1>@heading</h1>
                <p>@summary</p>
            </div>
        </div>
    </div>
    <div class="row hero-row">
        <div class="col-sm-12 text-center white-text hero-holder why-content" style="background-image: url('@topBannerImage')">
            <div class="mid-content">
                <div class="width-container">
                    <h1 class="big">@topBannerTitle</h1>
                    <div class="hero-text">@topBannerBody</div>
                    <a href="@topBannerLink" class="btn btn-default white-text">@topBannerLinkText</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>@body</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="/media/663436/godeliver_logos_express.png" alt="Go Deliver Express">
            <br>
            <h5>Go Deliver Express</h5>
            <p>Order Day 1 for Delivery Day 3. Delivery available UK only to most postcodes, 6 days a week.</p>
        </div>
        <div class="col-sm-4">
            <img src="/media/663437/godeliver_logos_deliverinstall.png" alt="Go Deliver Deliver & Install">
            <br>
            <h5>Go Deliver Deliver & Install</h5>
            <p>Delivery and installation is available Monday to Friday. Delivery is available to the whole of the UK follow up with installation by our fleet of national engineers.</p>
        </div>
        <div class="col-sm-4">
            <img src="/media/663435/godeliver_logos_premier.png" alt="Go Deliver Premier">
            <br>
            <h5>Go Deliver Premier</h5>
            <p>Our all-in-one service that includes it all. Delivery, disconnection, installation and removal all in one convenient visit on a choice of days. UK mainland only.</p>
        </div>
    </div>
</div>

<div class="container-fluid text-center banner-bottom customer-care">
    <div class="row hero-row">
        <div class="col-sm-12 text-center white-text hero-holder why-content" style="background-image: url('@bottomBannerImage')">
            <div class="mid-content">
                <div class="col-md-4 col-md-offset-2 col-sm-6 col-sm-offset-3">
                    <div class="h2">@bottomBannerTitle</div>
                    <p>@bottomBannerBody</p>
                    <a href="@bottomBannerLink" class="btn btn-default white-text">@bottomBannerLinkText</a>
                </div>
            </div>
        </div>
    </div>
</div>

