﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Uniform.GDHA.Products
@{
    Layout = null;   
    IPublishedContent productModel;
    IPublishedContent product;   
    if (CurrentPage.DocumentTypeAlias == "ProductSku")
    {
        productModel = Model.Content;
        product = Model.Content.Parent;
    }
    else
    {
        productModel = Model.Content.Children.FirstOrDefault();
        product = Model.Content;
    }
	var featureList = product.GetPropertyValue<ProductFeatureList>("productFeatures2");
    var features1 = product.Parent.Children.Where(x => x.DocumentTypeAlias == "ProductCategoryFeatures").FirstOrDefault();
	var factsheet = productModel.Url + "Factsheet";
	var products = product.GetPropertyValue<string>("associatedProducts");
    var bannerList = products.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
    var nodeIds = new int[200];
    for(var runs = 0; runs < bannerList.Count(); runs++)
    {
        int number;
        bool result = Int32.TryParse(bannerList[runs], out number);
        if(result)
        {
            nodeIds[runs] = number;
        }
    } 
    var list = bannerList.Select(int.Parse);
    var productsCollection = Umbraco.TypedContent(bannerList).Where(x => x != null);
	var title = product.Name;
    var desc = product.GetPropertyValue<string>("bodyText");
	var caseStudyImagesList = product.GetPropertyValue<string>("ProductImages").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
    var caseStudyImagesCollection = Umbraco.TypedMedia(caseStudyImagesList).Where(x => x != null && x.DocumentTypeAlias == "Image");
    var studyImagesCollection = caseStudyImagesCollection as IPublishedContent[] ?? caseStudyImagesCollection.ToArray();


}
<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]> <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content='@Umbraco.Field("metaDescription")'>
    @Html.Partial("brand/master/SEOPageHead", @Model.Content)
    @Html.Partial("GDHA/ReevooScript")

    <!-- WEB FONT -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- STYLESHEETS -->
    @if(Model.Content.DocumentTypeAlias == "Retailer")
	{
		@*Done this way so it also works in dev*@
		var siteName = HttpContext.Current.Request.Url.Host.Split('.').First();
		    <link rel="stylesheet" href="~/assets/@siteName/css/all.css" />
    		<link rel="stylesheet" href="~/assets/@siteName/css/custom.css" />
	}
	else
	{
		    <link rel="stylesheet" href="~/assets/@Model.Content.AncestorOrSelf(1).Name/css/all.css" />
    		<link rel="stylesheet" href="~/assets/@Model.Content.AncestorOrSelf(1).Name/css/custom.css" />
	}

    @Html.Partial("brand/master/icons", @Model.Content)

</head>
<body>
<!-- SITE -->
<div id="site" class="factsheet">
	<div class="container" id="head-panel">
        <div class="row">
            <div class="col-sm-12 text-center">
                <br>
                <br>
                <br>
                @Html.Partial("Brand/Master/WebsiteLogo")
                <br>
                <h1>@title</h1>
                <p>@Html.Raw(desc)</p>
            </div>
            
            <div class="col-sm-4 col-xs-12" id="product-info">
                @*<div><img src="http://placehold.it/200x40" alt=""></div><br>
                <div><a class="reevoomark" href="http://mark.reevoo.com/partner/gdh/@productModel">Read reviews</a></div><br>*@
    		</div>

            @* desktop version of product image and info *@
            <div class="col-sm-4 col-xs-12 text-center" id="product-image">
                @if (studyImagesCollection.Any())
                {
                    var proImage = studyImagesCollection.First();
                    <div><img src="@proImage.Url" alt=""></div><br>
                }
            </div>
        </div>
    </div>

    @* Features section *@
    <div class="container-fluid" id="product-features">
        <div class="container">
            <div class="row">
                <div class="h3 text-center">Key Features</div>
                @{				
					var keyListValue = productModel.GetPropertyValue<string>("ProductKeyFeatures");
					var keyList = keyListValue.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
					nodeIds = new int[200];
					for (var runs = 0; runs < keyList.Count(); runs++)
					{
						int number;
						bool result = Int32.TryParse(keyList[runs], out number);
						if (result)
						{
							nodeIds[runs] = number;
						}
					}
					
					var keyCollection = Umbraco.TypedContent(nodeIds).Where(x => x != null);

                    if(keyCollection!= null && keyCollection.Any())
					{
						foreach (var key in keyCollection)
						{
							if(key != null)
							{
								var textItem = key.GetPropertyValue<string>("bodyText");
								var text = !string.IsNullOrWhiteSpace(textItem)? textItem.Replace("\"", "") : ""; 
								<div class="col-sm-4">
									<h3>@key.Name</h3>
									<p>@(Html.Raw(text))</p>
								</div>
							}
						}
					}
                }

            </div>
        </div>
    </div>

    @* Specifications section *@
    <div class="container-fluid" id="product-specification">
        <div class="container">
            <div class="row">
                <div class="h3 text-center">Specification</span></div>
                <div class="col-sm-12>
                    @if (features1 != null)
                    {
                        var length = features1.Children().Where(x => x.IsVisible()).Count();
                        var half = length / 2;

                        <div class="col-sm-6">
                            @foreach (var featureItem in features1.Children().Where(x => x.IsVisible()).Take(half))
                            {
                                <h6>@featureItem.Name</h6>
                                foreach (var item in featureItem.Children().Where(x => x.IsVisible()))
                                {
                                    var itemDescription = featureList.Items
                                        .Where(x => x.Id == item.Id)
                                        .Select(x => x.Description)
                                        .FirstOrDefault();
                                    if (!String.IsNullOrEmpty(itemDescription))
                                    {
                                        <p>@item.Name<span class="float-right">@itemDescription</span></p>
                                    }
                                }
                            }
                        </div>
                        <div class="col-sm-6">
                            @foreach (var featureItem in features1.Children().Where(x => x.IsVisible()).Skip(half).Take(half))
                            {
                                <h6>@featureItem.Name</h6>
                                foreach (var item in featureItem.Children().Where(x => x.IsVisible()))
                                {
                                    var itemDescription = featureList.Items
                                        .Where(x => x.Id == item.Id)
                                        .Select(x => x.Description)
                                        .FirstOrDefault();
                                    <p>@item.Name<span class="float-right">@itemDescription</span></p>
                                }
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>
	