﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using RJP.MultiUrlPicker.Models
@{
    Layout = "Brand.cshtml";
    @* var reasonsToBuy = Model.Content.Parent.Children; *@
	var homeNode = Model.Content.AncestorOrSelf(1);
    var title = Model.Content.HasValue("title") ? Model.Content.GetPropertyValue("title") : Model.Content.Name;
    var image = Model.Content.HasValue("image") ? Umbraco.TypedMedia(Model.Content.GetPropertyValue("image")).Url : "";    
    var banner = Model.Content.HasValue("banner") ? Umbraco.TypedMedia(Model.Content.GetPropertyValue("banner")) : null;
    var body = Model.Content.HasValue("body") ? Model.Content.GetPropertyValue("body") : "";
    var link = Model.Content.HasValue("link") && Model.Content.GetPropertyValue<MultiUrls>("link").Any() ? Model.Content.GetPropertyValue<MultiUrls>("link").First().Url : "";
	var linkName = Model.Content.HasValue("link") && Model.Content.GetPropertyValue<MultiUrls>("link").Any() ? Model.Content.GetPropertyValue<MultiUrls>("link").First().Name : "";
	var feature = Model.Content.HasValue("featurePicker")? Umbraco.TypedContent(Model.Content.GetPropertyValue("featurePicker")): null;
    var feed = Model.Content.Parent.Children.Where(x => !x.Name.Equals(Model.Content.Name)).Take(5);
}
@* if full screen image *@
@* <div class="container-fluid text-center">    
    <div class="item-holder">
        <img src="http://placehold.it/1440x500" alt="">        
    </div>
</div> *@

<div class="container-fluid why-buy desktop-only">     
    <div class="row">
        <div class="col-sm-12 text-center white-text hero-holder why-content" style="background-image: url('@banner.Url')">
            
        </div>
    </div>
</div> 

<div class="container features">
    <div class="row half-background">
        <div class="col-md-7 col-sm-6">
            <div class="h1 article-title">@title</div>
				@if(image != "")
				{
					<div class="item-holder">
						<img src="@image" alt="why buy">
					</div>
				}
            <p>@body</p>
			@if(feature != null)
			{
				var imageFeature = feature.HasValue("media") ? Umbraco.TypedMedia(feature.GetPropertyValue("media")):null;
				if(imageFeature != null)
				{
					<div class="item-holder">
						<img src="@imageFeature.Url" alt="why buy">
					</div>
				}
				<p>@feature.GetPropertyValue("bodyText")</p>
			}
            <br>
				@if(link != null && !string.IsNullOrEmpty(linkName))
				{
            		<a class="btn btn-black" href="@link">@Umbraco.Field("#View Products")</a>
				}
            <br>

			@if(homeNode.Name != "Stoves German")
			{
				@Html.Partial("Brand/Master/share")
            }
            
        </div>
        <div class="col-md-offset-1 col-md-4 col-sm-6" style="display:block;">
            <ul class="sidenav-list">
                <li><h5><a href="/features">@Umbraco.Field("#More")</a></h5></li>
                @foreach(var page in feed)
                {
                    <li><a href="@page.Url"><span class="right-text">@page.Name</span><span class="float-right right-icon"><img src="/media/622953/arrow-right.svg" alt=""></span></a></li>
                }               
            </ul>
        </div>
    <!--//-->
    </div>
</div>

@* This is wherethe similar product code needs to go *@

@Html.Partial("Brand/Misc/SimilarProducts")
