﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using RJP.MultiUrlPicker.Models
@{
    Layout = "Brand.cshtml";
  	var products = Model.Content.Children;
	var homeNode = Model.Content.AncestorOrSelf(1);
    var image = Model.Content.HasValue("Image") ? Umbraco.TypedMedia(Model.Content.GetPropertyValue("image")).Url : "";
    var bodyText = Model.Content.GetPropertyValue("bodyText");
    var pageTitle = Model.Content.GetPropertyValue("pageTitle");
    var link = Model.Content.HasValue("link") &&  Model.Content.GetPropertyValue<MultiUrls>("link").Any() ? Model.Content.GetPropertyValue<MultiUrls>("link").First() : null;
    var linkText = Model.Content.GetPropertyValue("linkText");
    var colour = Model.Content.GetPropertyValue("colour");
    if (Request.Cookies["comparison"] != null)
    {
        HttpCookie myCookie = new HttpCookie("comparison");
        myCookie.Expires = DateTime.MinValue;
        Response.Cookies.Add(myCookie);
    }
}

@if(homeNode.Name != "Stoves German")
{
	@Html.Partial("GDHA/ReevooTracking")
}

<div class="container-fluid" style="background-color: @colour;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 why-content range-head">
        <div class="mid-content">
          <div class="width-container">
            <h1>@pageTitle</h1>
            <p class="opacity-50">@bodyText</p>
            @if(linkText != "" && link != null){
              <a href="@link.Url" class="btn btn-default">@linkText</a>
            }            
          </div>
        </div>
      </div> 
      <div class="col-sm-6 why-content range-head range-head-image">
        <div class="mid-content">
          <div class="width-container">                 
            <img class="range-img" src="@image" alt="placeholder">           
          </div>
        </div>
      </div>                     
    </div> 
  </div> 
</div>

<div class="container mobile-container">

<div class="row row-offcanvas row-offcanvas-left">
	
  @* <div class="col-xs-6 col-lg-3 col-md-3 col-sm-6 sidebar-offcanvas affix-top" data-spy="affix" data-offset-top="197" id="sidebar"> *@
  
	<!-- sidebar filter -->
	 <div class="col-xs-6 col-lg-3 col-md-3 col-sm-6 sidebar-offcanvas" id="sidebar">
		<button type="button" class="btn btn-primary btn-xs col-xs-12 close-menu visible-xs" data-toggle="offcanvas">Close  <span class="icon"><img src="/media/622949/close.svg" alt="close"></span></button>	
    @Html.Partial("brand/ProductFilter")
  </div><!--/.sidebar-offcanvas-->

  <div class="col-xs-12 col-sm-6 col-md-9 col-lg-9 close-menu p-l-c">
    <p class="visible-xs">
      <button type="button" class="btn btn-primary btn-xs col-xs-12" data-toggle="offcanvas">Filter <span class="icon"><img src="/media/622953/arrow-right.svg" alt="right arrow"></span></button>
    </p>
    <div class="row">
        @Html.Partial("brand/ProductSearch")
    </div>

  </div><!--/.col-xs-12.col-sm-9-->

</div><!--/row-->
</div>

@section FooterScripts {
    <script src="/scripts/productFilter.js"></script>
}
