﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
     Layout = "Brand.cshtml";
	var catagories = Model.Content.Children.Where(catagory => catagory.DocumentTypeAlias != "Flixmedia");
	var homeNode = Model.Content.AncestorOrSelf(1);
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var globalSettings = settingsFolder.Children.First(x => x.IsDocumentType("USNGlobalSettings"));
    @* var brochure = globalSettings.HasValue("brochure") ? Umbraco.TypedMedia(int.Parse(globalSettings.GetProperty("brochure").Value.ToString())).Url : ""; *@
    var whereToBuy = homeNode.Children.First(x => x.DocumentTypeAlias == "WhereToBuy").Url;
	List<IPublishedContent> productsList = new List<IPublishedContent>();
}

<div class="container" id="p-c-h">
	<div class="row text-center">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>@Umbraco.Field("pageTitle")</h1>			
				@Umbraco.Field("bodyText")				
		</div>
	</div> 
	
		@*@title*@
	@foreach(var catagory in catagories)
	{
		<div class="row narrow-container product-row">
		<h3>@catagory.Name</h3>
			@foreach(var collection in catagory.Children.Where(collection => collection.DocumentTypeAlias != "ProductCategoryGroupKeyFeatureFolder"))
			{
				var image = collection.HasValue("productCategoryImage")?Umbraco.TypedMedia(collection.GetPropertyValue("productCategoryImage")).Url:"http://placehold.it/1200x400";
		
				<div class="p-c-s product-box">
					@* <div class="info-icon desktop-only"><a href="@collection.Url"><img src="/media/622966/more-info.svg" alt="more-info"></a></div> *@
					<h5>@collection.Name</h5>
					<div class="p-c-i">
						<a href="@collection.Url"><img src="@image" alt="Products Category"></a>
					</div>
					<a class="btn btn-black" href="@collection.Url">More</a>
				</div>	
			}
		</div>
	}	

		@*
	<div class="row narrow-container">	
	@foreach(var collection in productsList.Skip(5).Take(5))
	{
		var image = collection.HasValue("productCategoryImage")?Umbraco.TypedMedia(collection.GetPropertyValue("productCategoryImage")).Url:"http://placehold.it/1200x400";
		if(collection.Name != productsList.Skip(5).Take(5).First().Name)
		{				
			<div class="p-c-s product-box">
				<div class="info-icon desktop-only"><a href="@collection.Url"><img src="/media/622966/more-info.svg" alt="more-info"></a></div>
				<h5>@collection.Name</h5>
				<div class="p-c-i">
					<a href="@collection.Url"><img src="@image" alt="Products Category"></a>
				</div>
				<a class="btn btn-black" href="@collection.Url">More</a>
			</div>
		}
		else
		{
			<div class="p-c-l product-box float-right">
				<div class="info-icon desktop-only"><a href="@collection.Url"><img src="/media/622966/more-info.svg" alt="more-info"></a></div>
				<h5>@collection.Name</h5>
				<div class="p-c-i">
					<a href="@collection.Url"><img src="@image" alt="Products Category"></a>
				</div>
				<p class="opacity-50">Availiable across a range of sizes, including he largest capacity tall oven available.</p>
				<a class="btn btn-black" href="@collection.Url">View @collection.Name</a>	
			</div>	

		}			
	}	
	</div>
	<div class="row narrow-container">	
	@foreach(var collection in productsList.Skip(10))
	{		
		var image = collection.HasValue("productCategoryImage")?Umbraco.TypedMedia(collection.GetPropertyValue("productCategoryImage")).Url:"http://placehold.it/1200x400";
		<div class="p-c-s product-box">
			<div class="info-icon desktop-only"><a href="@collection.Url"><img src="/media/622966/more-info.svg" alt="more-info"></a></div>
			<h5>@collection.Name</h5>
			<div class="p-c-i">
				<a href="@collection.Url"><img src="@image" alt="Products Category"></a>
			</div>
			<a class="btn btn-black" href="@collection.Url">More</a>
		</div>		
	}	
	</div>
	<div class="row narrow-container" id="home-wtb">
		<a href="@whereToBuy">
			<div class="where">
        		<img src="/media/622962/independant-retailer.svg" class="svg" alt="Find your store">Find Your Local Store
    		</div>
    	</a>
		<a href="@brochure">
			<div class="download">
				<img src="/media/622968/pdf.svg" class="svg" alt="view brochure">View Brochure
			</div>
		</a>
	</div>*@
</div>
