﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-GB" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>@Model.Content.AncestorOrSelf(1).Name</title>
    @Html.Partial("GDHA/RangeMeta")
    @Html.Partial("GDHA/RangeStyles")
    @RenderSection("HeadStyles", false)
    @Html.Partial("GDHA/RangeJSHeader")
</head>
<body>
	
	@Umbraco.Field("tagManagerScript", recursive: true)
	
	<div class="container">
		<header>
			@Html.Partial("GDHA/RangeHeader")
			@Html.Partial("GDHA/RangeNavigation")
		</header>
		<main id="page" role="main">
			@RenderSection("Main", required: true)
		</main>
		@Html.Partial("GDHA/RangeFooter")
		@Html.Partial("GDHA/RangeJSFooter")
		@RenderSection("FooterJS", false)
	</div>
</body>
</html>