﻿@inherits UmbracoTemplatePage
@using RJP.MultiUrlPicker.Models
@using Archetype.Models
@{
    Layout = "Brand.cshtml";
	ArchetypeModel item = Model.Content.GetPropertyValue<ArchetypeModel>("features");
    var i = 0;  
	var banner = Model.Content.HasValue("banner") ?Umbraco.TypedMedia(Model.Content.GetPropertyValue("banner")) : null;
	var bannerImage = Model.Content.HasValue("bannerImage") ?Umbraco.TypedMedia(Model.Content.GetPropertyValue("bannerImage")) : null;
	var bannerText = Model.Content.GetPropertyValue("bannerText");
	var bannerHeader = Model.Content.GetPropertyValue("bannerHeading");
	var bannerLink = Model.Content.HasValue("bannerLink") ? Model.Content.GetPropertyValue<MultiUrls>("bannerLink").First() : null;

	@* get recycling content *@
	var recyclingImage = Model.Content.HasValue("recyclingImage") ?Umbraco.TypedMedia(Model.Content.GetPropertyValue("recyclingImage")) : null;
	var recyclingHeader = Model.Content.GetPropertyValue("recyclingHeader");
	var recyclingBody = Model.Content.GetPropertyValue("recyclingBody");

	@* get awards content *@
	var awardsImage = Model.Content.HasValue("awardsImage") ?Umbraco.TypedMedia(Model.Content.GetPropertyValue("awardsImage")) : null;
	var awardsHeader = Model.Content.GetPropertyValue("awardsHeader");
	var awardsBody = Model.Content.GetPropertyValue("awardsBody");
	var viewAll = Model.Content.HasValue("viewAllLink") ? Model.Content.GetPropertyValue<MultiUrls>("viewAllLink").First().Url : "";

}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h1>@Model.Content.Name</h1>					
            </div>
        </div>
    </div>
</div>

@* desktop version *@
<div class="container-fluid why-buy desktop-only" id="header-1">     
    <div class="row">
        <div class="col-sm-12 text-center white-text hero-holder why-content" style="background-image: url('@banner.Url')">
            <div class="mid-content">
                <div class="width-container">
                		<img src="@bannerImage.Url" class="header-image" alt="" class="banner-image">
                    <h1>@bannerHeader</h1>
                    <div class="hero-text">@bannerText</div>
                </div>
            </div>
        </div>
    </div>
</div>

@* mobile version *@
<div class="container-fluid mobile-only mob-why-buy" id="header-top-mob">
	<div class="row">
		<div class="col-xs-12">
			<h1>@bannerHeader</h1>
      <div class="hero-text">@bannerText</div>
		</div>
	</div>
</div>
<div class="container-fluid mobile-only mob-why-buy" id="header-top-mob2">
	<img src="@banner.Url" alt="Mobile why buy image">
</div>



		
@foreach (var fieldset in item)
{
  i++;
  var smallImage = fieldset.HasValue("smallImage") ? Umbraco.TypedMedia(int.Parse(fieldset.GetValue("smallImage"))).Url:"http://placehold.it/350x150";
  var mainImage = fieldset.HasValue("featureImage") ? Umbraco.TypedMedia(int.Parse(fieldset.GetValue("featureImage"))).Url:"http://placehold.it/350x150";
	var body = fieldset.HasValue("body") ? fieldset.GetValue<string>("body"):"";
	var heading = fieldset.HasValue("heading") ? fieldset.GetValue<string>("heading"):"";
	var colour = fieldset.HasValue("colour") ? fieldset.GetValue<string>("colour"):"";
          var zig = i % 2 != 0 ? true : false;
	string classTxt = "";
	switch (i)
	{
		case 1:
			classTxt = "gold-background";
			break;
		case 2:
			classTxt = "grey2-background";
			break;
		case 3:
			classTxt = "grey3-background";
			break;
		default:
			classTxt = "gold-background";
			break;
	}
	if(i == 4){ i = 0; }
	
		if(zig)
		{		
			@* desktop-only *@		
			<div class="desktop-only container-fluid why-buy" id="headers-2">	
				<div class="row header-2" style="background-color: @colour">	
					<div class="col-sm-6 why-image" style="background-image: url('@mainImage')"></div>
					<div class="col-sm-6 text-center white-text why-content">
						<div class="mid-content">
							<div class="width-container">
								<img src="@smallImage" class="header-image" alt="placehlder">
								<h4>@heading</h4>
								<p>@body</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			@* mobile version *@
			<div class="container-fluid mobile-only mob-why-buy" id="header-1-mob">
	    	<div class="row" style="background-color: @colour">
	    		<div class="col-xs-12">
	    			<h1>@heading</h1>
	          <div class="hero-text">@body</div>
	    		</div>
	    	</div>
	    </div>
	    <div class="container-fluid mobile-only mob-why-buy" style="background-color: @colour" id="header-2-mob">
		    <div class="mobile-only mob-why-buy">
		    	<img src="@mainImage" alt="Mobile why buy image">
		    </div>
		  </div>

		}
		else
		{
			@* desktop-only *@
			<div class="desktop-only container-fluid why-buy" id="headers-2">	
				<div class="row header-2" style="background-color: @colour">	
					<div class="col-sm-6 text-center white-text why-content">
						<div class="mid-content">
							<div class="width-container">									
								<img src="@smallImage" class="header-image" alt="placehlder">
								<h4>@heading</h4>
								<p>@body</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 why-image" style="background-image: url('@mainImage')"></div>	
				</div>
			</div>

			@* mobile version *@
			<div class="container-fluid mobile-only mob-why-buy" id="header-1-mob">
	    	<div class="row" style="background-color: @colour">
	    		<div class="col-xs-12">
	    			<h1>@heading</h1>
	          <div class="hero-text">@body</div>
	    		</div>
	    	</div>
	    </div>
	    <div class="container-fluid mobile-only mob-why-buy" style="background-color: @colour" id="header-2-mob">
		    <div class="mobile-only mob-why-buy">
		    	<img src="@mainImage" alt="Mobile why buy image">
		    </div>
		  </div>										
		}
}

@* desktop verion *@
<div class="container-fluid desktop-only why-buy" id="header-4">
  <div class="row" style="background-color: #383838" id="header-3">
		<div class="col-sm-6 text-center white-text why-content">
			<div class="mid-content">
				<div class="width-container">
					<img src="@recyclingImage.Url" class="header-image" alt="placehlder">
					<h4>@recyclingHeader</h4>
					<p>@recyclingBody</p>
				</div>
			</div>
		</div>	
			
		<div class="col-sm-6 text-center white-text why-content">
			<div class="mid-content">
				<div class="width-container">									
					<img src="@awardsImage.Url" class="header-image" alt="placehlder">
					<h4>@awardsHeader</h4>
					<p>@awardsBody</p>
				</div>
			</div>
		</div>
	</div>
</div>

@* mobile version *@
<div class="container-fluid mobile-only mob-why-buy" id="header-5-mob">
	<div class="row" style="background-color: #383838">
		<div class="col-xs-12">
			<h1>@recyclingHeader</h1>
      <div class="hero-text">@recyclingBody</div>
		</div>
	</div>
</div>
			
<div class="container-fluid mobile-only mob-why-buy" id="header-6-mob">
	<div class="row" style="background-color: #383838">
		<div class="col-xs-12">
			<h1>@awardsHeader</h1>
      <div class="hero-text">@awardsBody</div>
		</div>
	</div>
</div>


