﻿@inherits UmbracoTemplatePage
@using RJP.MultiUrlPicker.Models
@using Archetype.Models
@{
    Layout = "Brand.cshtml";
	ArchetypeModel item = Model.Content.GetPropertyValue<ArchetypeModel>("features");
    var i = 0;  
	var banner = Model.Content.HasValue("banner") ?Umbraco.TypedMedia(Model.Content.GetPropertyValue("banner")) : null;
	var bannerText = Model.Content.GetPropertyValue("bannerText");
	var bannerHeader = Model.Content.GetPropertyValue("bannerHeading");
	var bannerLink = Model.Content.HasValue("bannerLink") ? Model.Content.GetPropertyValue<MultiUrls>("bannerLink").First() : null;
}

    <div class="container-fluid">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1>@Model.Content.Name</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid why-buy">     
        <div class="row">
            <div class="col-sm-12 text-center white-text hero-holder why-content" style="background-image: url('@banner.Url')">
                <div class="mid-content">
                    <div class="width-container">
                        <h1>@bannerHeader</h1>
                        <div class="hero-text">@bannerText</div>
                        <a class="btn btn-default" href="@bannerLink.Url">Visit @bannerLink.Name</a>
                        </div>
                </div>
            </div>
        </div>

			@foreach (var fieldset in item)
            {
                i++;
                var smallImage = fieldset.HasValue("smallImage") ? Umbraco.TypedMedia(int.Parse(fieldset.GetValue("smallImage"))).Url:"http://placehold.it/350x150";
                var mainImage = fieldset.HasValue("featureImage") ? Umbraco.TypedMedia(int.Parse(fieldset.GetValue("featureImage"))).Url:"http://placehold.it/350x150";
				var body = fieldset.HasValue("body") ? fieldset.GetValue<string>("body"):"";
				var heading = fieldset.HasValue("heading") ? fieldset.GetValue<string>("heading"):"";
				var colour = fieldset.HasValue("colour") ? fieldset.GetValue<string>("colour"):"";
                var zig = i % 2 != 0 ? true : false;
				string classTxt = "";
				switch (i)
				{
					case 1:
						classTxt = "gold-background";
						break;
					case 2:
						classTxt = "grey2-background";
						break;
					case 3:
						classTxt = "grey3-background";
						break;
					default:
						classTxt = "gold-background";
						break;
				}
				if(i ==3){ i = 0; }
				<div class="row @classTxt">
					@if(zig)
					{						
						<div class="col-sm-6 text-center white-text why-content">
							<div class="mid-content">
								<div class="width-container">									
									<img src="@smallImage" class="header-image" alt="placehlder">
									<h4>@heading</h4>
									<p class="opacity-50">@body</p>
								</div>
							</div>
						</div>
						<div>@colour</div>
						<div class="col-sm-6 why-image" style="background-image: url('@mainImage')"></div>
					}
					else
					{
						<div class="col-sm-6 why-image" style="background-image: url('@mainImage')"></div>
						<div class="col-sm-6 text-center white-text why-content">
							<div class="mid-content">
								<div class="width-container">
									<img src="@smallImage" class="header-image" alt="placehlder">
									<h4>@heading</h4>
									<p class="opacity-50">@body</p>
								</div>
							</div>
						</div>						
					}
				</div>
            }
    </div>
@section BodyTag
{
    <body class="advanced-page">
}


