﻿@inherits UmbracoTemplatePage
@using Uniform.GDHA.BusinessLogic.Razor;
@*@using uComponents.DataTypes.MultiUrlPicker.Dto;
@using uComponents.DataTypes.UrlPicker.Dto;
@using Uniform.GDHA.BusinessLogic.SurfaceControllers;
@using Uniform.GDHA.BusinessLogic.Models;*@
@using RJP.MultiUrlPicker.Models;
@using Uniform.Web.Models
@{
    Layout = "CorporateContent.cshtml";
}
@helper LinksHelper(string header, MultiUrls urls)
{
    if (urls == null || urls.Count() == 0)
    {
        return;
    }
    <h2>@header</h2>
    <ul class="related">
    @foreach (Link state in urls)
    {
        <li><a href="@state.Url" target="@state.Target"><span class="icon icon-icon-plus"></span>@state.Name</a></li>
    }
    </ul>
}
@helper PromoRenderer(IPublishedContent promo)
{
    if (promo != null)
    {
        <div class="promo popup" style="background: url(@ImageHelper.GetCropImage(promo.GetPropertyValue("promoImage"), "Resource", 457, 250, "corp_small_promo")) no-repeat center;">
            <span class="caption">
                <h2>@promo.Name</h2>
                @Html.Raw(promo.GetPropertyValue<string>("teaserText"))
                <p><a href="@promo.Url" class="more"><span class="icon icon-icon-plus"></span>Read More</a></p>
            </span>
        </div>
    
    }
}
@helper SocialLink(string url, string css)
{
    if (!string.IsNullOrEmpty(url))
    {
        <li><a href="@url" target="_blank"><span class="icon icon-icon-@css"></span></a></li>
    }
}
@section Hero
{
    @if (Model.Content.HasValue("heroImage"))
    {
        if (Model.Content.GetPropertyValue("heroImage") != null)
        {
            var m = Umbraco.TypedMedia(Model.Content.GetPropertyValue("heroImage"));
            if (m != null)
            {
                <img class="hero" src="@m.GetResponsiveImageUrl(900, 450)">
            }
        }
    }
    else if(Model.Content.HasValue("promos"))
    {
        <div id="promo-container" class="about">
            @foreach (var promo in Umbraco.TypedContent(Model.Content.GetPropertyValue<string>("promos").Split(',')))
            {
                @PromoRenderer(promo)
            }
        </div>
    }
}

@section Content
{
    <div class="content">
        @Html.Raw(Model.Content.GetPropertyValue<string>("content"))
        @if(string.Compare(Model.Content.DocumentTypeAlias, "CorporateContactUs", true) == 0)
        {
            @Html.Partial("../Partials/GDHA/CorpContactForm", new CorpContactFormModel())
        }
    </div>

    <aside class="sidebar" role="complementary">
        <ul class="social">
            @SocialLink(Model.Content.GetPropertyValue<string>("facebook", true, ""), "facebook")
            @SocialLink(Model.Content.GetPropertyValue<string>("twitter", true, ""), "twitter")
            @SocialLink(Model.Content.GetPropertyValue<string>("pinterest", true, ""), "pinterest")
        </ul>
        @LinksHelper("More like this", Model.Content.GetPropertyValue<MultiUrls>("sidebarLinks") ?? Model.Content.GetPropertyValue<MultiUrls>("links"))
    </aside>
}
