﻿@using uLocate.Core;
@using uLocate.Core.Models;
@using uLocate.Core.Extensions;
@inherits UmbracoTemplatePage
@{
    Layout = "MasterTemplate.cshtml";
    var sitebrandNode = uQuery.GetNodesByXPath("$currentPage/ancestor-or-self::Homepage[@isDoc]").FirstOrDefault();
	var queryString = Request.ServerVariables["QUERY_STRING"];
	var querySku = Request.QueryString["sku"];
	var queryI = Request.QueryString["i"];
	string show = "";
	if(queryString == String.Empty || querySku == String.Empty) 
	{
		show = "style=border:0px";
	}
    string siteBrand = "belling";
    if (sitebrandNode != null)
    {
        siteBrand = sitebrandNode.GetProperty("siteBrand").Value.ToString();
    }
}

@section HtmlBodyContent
{
    @Umbraco.RenderMacroScript("xslt", "xslt/NavigationBreadcrumb.xslt")
    
    @* Add Where To Buy changes to the belling brand.  Can remove if when rolling out across all brands. *@
    @if(siteBrand == "belling" && queryString != String.Empty && !String.IsNullOrEmpty(querySku)){
        <div class="where-to-buy-left" @show>
            @Html.Partial("WhereToBuy", Model.Content)
        </div>
        <div class="where-to-buy-right">
            @Umbraco.RenderMacroScript("xslt", "xslt/StoreLandingContentNoNational.xslt")
        </div>
    }
	else if(siteBrand == "belling" && !String.IsNullOrEmpty(queryI)){
		@Umbraco.RenderMacroScript("xslt", "xslt/StoreLandingContentIndependent.xslt")
	}
    else
    {
      @Umbraco.RenderMacroScript("xslt", "xslt/StoreLandingContent.xslt")
    }
    @Html.Action("StoreResults", "StoreResults", new { homepage = Model.Content.AncestorOrSelf(1), query = Request.QueryString["q"], productId = Request.QueryString["p"], retailerTypes = Request.QueryString["r"] })
}