﻿@inherits UmbracoTemplatePage
@using Uniform.Web.Models
@using Uniform.Web.App_Code
@using System.Web.Script.Serialization
@{
    @*[Route("/umbraco/api/retailers/GetAllRetailers?id={RetailerFolderID}&brand={BrandName}&sku={querySku}&range={range}")]*@
Layout = "Brand.cshtml";
var data = Umbraco.ContentAtXPath("//ConfigFolder").First();
var brand = Model.Content.AncestorOrSelf(1).Name;
var querySku = Request.QueryString["sku"];
var queryRange = Request.QueryString["r"];
var queryAddress = Request.QueryString["q"];
var queryI = Request.QueryString["i"];
var homeNode = Model.Content.AncestorOrSelf(1);
var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
var globalSettings = settingsFolder.Children.First(x => x.IsDocumentType("USNGlobalSettings"));
var markers = globalSettings.GetPropertyValue<string>("mapMarkers");
var independent = Umbraco.TypedMedia(markers.Split(',')[0]);
var elite = Umbraco.TypedMedia(markers.Split(',')[1]);
var cid = brand.ToLower() == "stoves" ? 30 : 32;
var title = Model.Content.HasValue("pageTitle") ? Model.Content.GetPropertyValue<string>("pageTitle") : Model.Content.Name;
    <script>
        function callback(d) {
        }

        function shuffle(array) {
            var currentIndex = array.length, temporaryValue, randomIndex;

            //while there remain elements to shuffle....
            while (0 !== currentIndex) {

                //Pick a remaining element...
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;

                //and swap it with the current element.

                temporaryValue = array[currentIndex];
                array[currentIndex] = array[randomIndex];
                array[randomIndex] = temporaryValue;
            }
            return array;
        }

        function get_wtb(prod, label, cid, target) {
            var prodid = "'" + prod + "'";
            var fmt = 'json';
            label = label || 'Buy Now';
            $.ajax({
                url: "http://services.internetbuyer.co.uk/REST.svc/" + "GetByProductPartNumber?ProductPartNumber=" + prodid + "&CID=" + cid + "&$format=" + fmt + "&$callback=?",
                contentType: 'application/json; charset=utf-8',
                type: 'GET',
                dataType: "json",
                cache: false,
                error: function (xhr, error, errortext) {
                    var message = error + "\r\n" + errortext;
                },
                success: function (data) {
                    var res = "";
                    var randArr = [];
                    var count = data.d.length;
                    $.each(data.d, function (i, item) {
                        var tmpl = " <div class='col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 retailers-img'><a href='[1]' title='[2]' rel='nofollow'><img src='[3]' alt='[4]'></a></div>";
                        tmpl = tmpl.replace('[1]', item.NavigateUrl).replace('[2]', item.MerchantName).replace('[3]', item.MerchantLogoUrl.replace('[4]', item.MerchantName));
                        randArr.push(tmpl);

                    });

                    //console.log(randArr);
                    shuffle(randArr);
                    randArr.forEach(function (entry) {
                        res = res + entry;
                    });
                    // hide box if count is 0;
                    if (count == 0) {
                        $('#buy-now').hide();
                        $('#national-retailers').hide();

                    }
                    $(target).html(res);
                    if (callback) callback(data);
                }
            });
        }
    </script>
    if (!string.IsNullOrWhiteSpace(querySku))
    {
        <script>
            get_wtb("@querySku", "Buy Now", "@cid", "#wtb #buynow_menu");
        </script>   }


    <div class="container-fluid">
        <div class="container">
            <div class="row general-head">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <h1>@title</h1>
                    <p>Enter your postcode to find your local independent @brand retailer.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid wtb-form">
        <div class="map-address container">
            <div class="search-wtb row">
                <div class="col-sm-12 col-md-7 left-wtb-content" id="after-submit">
                    <div class="h2">
                        <span style="float: left; padding-right: 30px;">Results</span>
                        <span class="retailer elite-retailer">
                            <img src="/media/622962/independant-retailer.svg" class="svg" alt="retailers">
                            <span class="r-t">Elite Retailer</span>
                        </span>
                        <span id="indi-retailer" class="retailer">
                            <img src="/media/622962/independant-retailer.svg" class="svg" alt="retailers">
                            <span class="r-t">Independent Retailer</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 text-center" id="before-submit">
                    <div class="h3">Find your local independent retailers</div>
                </div>
                <div class="bh-sl-form-container col-md-12 col-sm-12">
                    <form id="bh-sl-user-location" method="post" onsubmit="showResults();" action="#">
                        <span class="input">
                            <input type="text" id="bh-sl-address" name="bh-sl-address" class="form-control" @Umbraco.If(!string.IsNullOrEmpty(queryAddress), string.Format("value='{0}'", queryAddress)) placeholder="Enter Postcode" />
                            @* <select id="bh-sl-maxdistance" name="bh-sl-maxdistance">
                                    <option value="10">10 Miles</option>
                                    <option value="20">20 Miles</option>
                                    <option value="30">30 Miles</option>
                                    <option value="40">40 Miles</option>
                                </select> *@
                            <input type="hidden" id="bh-sl-maxdistance" name="bh-sl-maxdistance" value="30">
                            <select id="bh-sl-product" name="bh-sl-product">
                                <option value="">Product</option>
                                <option value="1">Cooking appliances</option>
                                <option value="2">Laundry appliances</option>
                                <option value="3">Both</option>
                            </select>
                            <select id="bh-sl-type" name="bh-sl-type">
                                <option value="">Type</option>
                                <option value="1">Range Cookers</option>
                                <option value="2">Freestanding</option>
                                <option value="3">Built-in Ovens</option>
                                <option value="4">Hobs</option>
                            </select>
                        </span>
                        <button class="btn btn-default" id="bh-sl-submit" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="text-center">
                <div id="map-container" class="bh-sl-map-container" style="display: inline;">
                    <div id="map-results-container">
                        @* /media/623035/screen-shot-2016-01-21-at-182646.png   *@
                        <div id="bh-sl-map" class="bh-sl-map col-md-9" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grey-background">
            <div id="map-results-container" class="container">
                <div class="bh-sl-loc-list container">
                    @* <div class="results">
                            <span class="h4">results</span>
                            <span class="elite">Elite Retailer</span>
                            <span class="independant">Independant Retailer</span>
                        </div> *@
                    <ul class="list list-unstyled"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @if (queryI != "i" && string.IsNullOrEmpty(querySku) && string.IsNullOrEmpty(queryRange))
            {
                @* national retailers will always be present *@
                <div class="container" id="national-retailers">
                    <div class="row">
                        <div class="text-center title-text">
                            <h3>National Retailers</h3>
                            <p class="opacity-50">
                                Some of the biggest high street online names stock @brand. <br>Click on the logo&acute;s below to see the full range of products on offer.
                            </p>
                        </div>
                        @foreach (var store in Model.Content.Children)
                        {
                            var url = store.GetPropertyValue("storeUrl");
                            var storeTitle = store.GetPropertyValue("storeTitle");
                            var image = Umbraco.Media(store.GetPropertyValue("storeLogo"));
                            var imageUrl = image != null ? image.Url : "";
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 retailers-img">
                                <a href="@url" title="@title"><img src="@imageUrl" alt="@storeTitle"></a>
                            </div>
                        }
                    </div>
                </div>
            }
            @if (brand != "New World" && brand != "Lec" && !string.IsNullOrEmpty(querySku))
            {
                <div class="container" id="national-retailers">
                    <div class="row">
                        <div class="text-center title-text">
                            <h3>Buy Now</h3>
                            <p class="opacity-50">
                                Click one of the links below to buy your selected product now.
                            </p>
                        </div>
                        <div id="product-list">
                            <div class="outer-container">
                                <div class="inner-container">
                                    <article id="wtb">
                                        <div class="" id="buynow_menu"></div>
                                        @*element scrollable-menu wtb*@
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script>

        var includeElite = showElite();

        $(document).ready(function () {
            initialiseMap();
            prepareMapContent();

            var urlHasPostcode = urlHasPostCode();

            if (!includeElite || urlHasPostcode) {

                if (urlHasPostcode && includeElite) {
                    var postcode = getParameterByName('postcode');

                    $('#bh-sl-address').val(postcode);
                }

                $(window).load(function () {
                    submitMap();
                });
            }

            if (!includeElite) {
                $('#bh-sl-submit').on('click', function () {
                    var postcode = $('#bh-sl-address').val();

                    window.location.href = window.location.pathname + '?postcode=' + postcode;
                });
            }
        });

        function showElite() {
            /* rangecenter query url check */
            var q = location.search.indexOf('q=');
            var r = location.search.indexOf('r=');

            if (q >= 0 && r >= 0) {
                return false;
            }

            return true;
        }

        function urlHasPostCode() {
            var postcode = location.search.indexOf('postcode=');

            if(postcode >= 0) {
                return true;
            }

            return false;
        }

        function submitMap() {
            $('#bh-sl-user-location').submit();
        }

        function initialiseMap() {
            $('#map-container').storeLocator({
                'dataType': 'json',
                'dataLocation': '/umbraco/api/retailers/GetAllRetailers?id=@data.Id&brand=@brand.ToLower()&sku=@querySku@Umbraco.If(!string.IsNullOrEmpty(queryRange), "&range=1")&includeElite=' + includeElite,
                'mapSettings': {
                    zoom: 9,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    draggable: true,
                    scrollwheel: false,
                    scaleControl: false,
                },
                'brand': '@brand',
                'storeLimit': 21,
                'fullMapStartBlank': 5,
                'slideMap': false,
                'defaultLoc': true,
                'defaultLat': 54.093409,
                'defaultLng': -2.89479,
                'catMarkers': {
                    'EliteRetailer': ['@elite.Url', 21, 27],
                    'IndependentRetailer': ['@independent.Url', 21, 27]
                },
				'maxDistance': true
            });
        }

        function prepareMapContent() {
            $(".results").hide();
            $("#after-submit").hide();
        }

        function showResults() {
            $(".results").show();
            $("#after-submit").show();
            $("#before-submit").hide();
        }

        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

    </script>
}
